.Header {
    &-branding {
        text-align: center;

        &-image {
            display: block;
            margin: 0 auto;
        }
    }
    &-title {
        text-align: center;
        background: $primary;

        h1 {
            color: $white;
            padding: $spacer;
        }
    }
    &-links {
        margin: $spacer 0;
    }
}

.Footer {
    padding: $spacer-half 0;
    background: $white;
    font-size: 0.7em;
    border-top: 1px solid $border;
}