{% extends "base.html" %}
{% load staticfiles core_tags %}
{% block content %}
<div class="polls polls--call-to-action">
  <div class="polls__bubble-icon"></div>
  <div class="polls__container">
    {% trans "Take a vote!" as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="micro" htmltag="p" title=headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="article" htmltag="h1" title=question.title %}
  	{% if form.answer.errors %}
      <p class="errors">{{form.answer.errors|join:", " }}</p>
    {% endif %}
  	<form action="{% url 'molo.polls:free_text_vote' question.id %}" method="post" class="polls__form" novalidate>
  	{% csrf_token %}
  		{{form.answer}}
      <input type="submit" value="{% trans "Vote" %}" class="call-to-action__button call-to-action__button--primary">
  	</form>
  </div>
</div>
{% trans "Back home" as back %}
{% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=request.site.root_page.url page_name=back direction="left" %}
{% endblock %}
