{% load i18n static poll_votings %}
{% block content %}
{% if questions %}
{% for question in questions %}
<div class="polls polls--call-to-action">
  {% if forloop.first%}
    {% trans "Take a vote!" as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="micro" htmltag="p" title=headingtext %}
  {% endif %}

  {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=question.title %}
  {% if question.freetextquestion %}
    {% include 'polls/includes/poll_free_text_form.html'%}
    {% else %}
    {% include 'polls/includes/poll_question_form.html'%}
  {% endif %}
</div>
{% endfor %}
{% endif %}
{% endblock %}
