{% block content %}
{% if questions %}
{% for question in questions %}
<div class="polls polls--call-to-action">
  <div class="polls__bubble-icon"></div>
  <div class="polls__container">
    <div class="heading heading__micro">
      <p>{% trans "Take a vote!" %}</p>
    </div>
    <div class="heading heading__subheading">
      <h3>{{question.title}}</h3>
    </div>
    {% if question.freetextquestion %}
      {% include 'polls/includes/poll_free_text_form.html'%}
    {% else %}
      {% include 'polls/includes/poll_question_form.html'%}
    {% endif %}
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
