.sd-heading.find-a-service {
    font-family: 'AvenirNextCondensed-DemiBold';
    font-size: 18px;
}

.sd-container {
    h1.sd-heading.svc-org-name {
        font-size: 26px;
        line-height: 32px;
        font-family: 'TwCenMT';
    }

    a.sd-change-area, .sd-org-contact, a.sd-report-link {
        text-decoration: underline;
    }

    h1.sd-heading.org-services, h1.sd-heading.service-keywords, h1.sd-heading.org-contact, h1.sd-heading.org-address, h1.sd-heading.service-rating,
    h1.sd-heading.report-info, .category-grouping, h6.sd-heading.choose-location, h1.sd-heading.send-sms
    {
        font-size: 20px;
    }

    .sd-search-form {
        input[type='submit']{
            color: transparent;
            background-image: url("/static/img/icons/search/search_white.png");
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 17px;
        }
    }

    .sd-back, a.sd-change-area, label.other_detail {
        font-size: 18px;
    }

    .sd-sms-button {
        font-family: 'TwCenMT';
        font-size: 16px;
    }

    .org-rate-container {
        .org-rate-faces {
            padding: 0 6px;
            float: left;
        }
    }

    .sd-option {
        input {
            height: 14px;
        }
        label {
            font-size: 18px;
        }
    }


    .sd-input {
        label {
            font-size: 18px;
        }
        .sd-input-sub {
            font-size: 16px;
        }
    }

}
