.base-teaser__title-link {
  font-weight: normal;
}
@media only screen and (min-width: 240px) {
  .base-teaser {
    &__title {
      font-size: $font-small;
    }
    &__subtitle {
      font-size: $font-xx-small;
      height: $font-xx-small*$elip-line-height*$elip-lines-to-show; /* Fallback for non-webkit */
      line-height: $elip-line-height;
      -webkit-line-clamp: $elip-lines-to-show;
    }
  }
  .teaser-stacklist-tags {
    &__anchor {
      font-size: $font-xx-small;
    }
  }
}

@media only screen and (min-width: 360px) {
  .base-teaser {
    &__title {
      font-size: $font-x-large;
    }
    &__subtitle {
      font-size: $font-x-small;
      height: $font-x-small*$elip-line-height*$elip-lines-to-show; /* Fallback for non-webkit */
      line-height: $elip-line-height;
      -webkit-line-clamp: $elip-lines-to-show;
    }
    &__thumbnail-link {
      width: inherit;
    }
  }
  .teaser-stacklist-tags {
    &__anchor {
      font-size: $font-x-small;
    }
  }
}
