.comments__alias {
  font-weight: normal;
}
.teaser-stacklist__item--content {
  .comment-counter-container {
    height: 20px;
  }
  .comment-counter {
    position: absolute;
    margin: 0;
    right: 10px;
    bottom: 2px;
  }
}
