
.header {
  background-color: $springster-purple;
  position: relative;
  
  .menu-list--center {
    @media screen and (min-width: 240px) {
      margin-left: 20%;
    }
  }
  
  &__menu {
    line-height: 25px;
    height: 30px;
    text-align: right;
    background: $springster-purple;
  }
  
  &__search {
    .header__search-input, .header__search-input + * {
      display: none;
    }
  
    .header__search-input:checked + * {
      display: block;
     }
     
    .header__search-bar {
       position: relative;
       
      //  Needs rework
       &:after {
         content: "";
         background: $springster-purple url("/static/img/icons/dismiss.svg") 50%/70% no-repeat;;
         height: 24px;
         width: 24px;
         position: absolute;
         margin-top: -88px;
         right: 0;
         pointer-events: none;
       }
     }
     
     
  }
}
