.tags {
  padding: 10px 15px;
}
.tags-list {
  margin: 0;
  padding: 0;
}
.tag-list__item {
  display: inline-block;
  padding: 5px;
  margin: 5px 0;
  font-size: 16px;
}
.tag__item-anchor {
  text-decoration: underline;
  word-break: break-word;
}

.heading--tags {
  padding: 10px 15px 15px;
  font-size: 20px;
}
.heading--related-tag {
  text-transform: uppercase;
  display: block;
}
.article-except {
  padding: 0 15px;
  p {
    color: #5c5c5c;
  }
}
.call-to-action-nav-back {
  padding: 15px 15px 5px;
  display: block;
  color: #5c5c5c;
}
