{% load personalise_extras wagtailimages_tags wagtailcore_tags wagtailsettings_tags static gem_tags %}
{% get_settings %}

{% block content %}
{% filter_surveys_by_segments surveys request as filtered_surveys %}
{% if filtered_surveys %}
  {% for survey in filtered_surveys %}
    {% with survey=survey.molo_survey_page form=survey.form %}
      {% if survey.display_survey_directly %}
        <div class="polls polls--homepage">
          <div class="polls__wrapper">
            <div class="polls__inner">
              <section>
                <div class="heading heading--secondary">
                  <h1 class="heading__macro">
                    {% if survey.title %}{{survey.title}}{% else %}{% trans 'Poll' %}{% endif %}</h1>
                </div>
                {% if survey.homepage_introduction %}
                  <h4 class="heading__subtitle">
                    {{survey.homepage_introduction|smarttruncatechars:215|safe}}
                  </h4>
                {% endif %}
                {% if form %}
                  {% include "surveys/form.html" with surveytype="poll" surveytypeClass="polls" %}
                {% endif %}
              </section>
              {% if survey.image %}
                <aside>
                  {% image survey.image width-480 as tmp_photo %}
                  <img src="{{ tmp_photo.url }}" alt="{{ survey.image.title }}" class="surveys__image" />
                </aside>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}
  {% endfor %}
{% endif %}
{% endblock %}
