{% block content %}
{% if questions %}
<div class="polls polls--call-to-action">
  <div class="polls__bubble-icon"></div>
  <div class="polls__container">
    <div class="heading heading__micro">
      <p>{% trans "Take a vote" %}</p>
    </div>
    {% for question in questions %}
      <div class="heading heading__article">
        <h1>{{question.title}}</h1>
      </div>
    	{% if question.freetextquestion %}
    		{% include 'polls/includes/poll_free_text_form.html'%}
    	{% else %}
    		{% include 'polls/includes/poll_question_form.html'%}
    	{% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
