.footer {
    color: #5a5d5e;
}
.copyright {
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
  color: $cool-grey;
  &__footer-copy {
    color: $cool-grey;
    font-size: 12px;
    padding: 15px 15px 10px;
    margin: 0;
    text-align: center;
  }
  a, span {
    text-decoration: underline;
    color: $gunmetal;
    font-size: 12px;
  }
}
