.polls {
  @include divider-combo-1;
}
.polls--call-to-action {
  background-color: $mint-green-light;
  padding: 55px 8px 8px;
  margin-top: 50px;
  position: relative;
  display: inline-block;
  // Heading mixin to be added
  .heading__micro {
    margin: 0px 0 8px 0;
  }

}
.polls__bubble-icon {
  background: url('/static/img/icons/poll@2x.png') no-repeat 0 0;
  background-size: contain;
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  margin: 0 auto;
  right: 0;
  width: 75px;
  height: 75px;
  top: -30px;
}


.choice-group { 
  padding: 0 0 8px 0;
  margin: 0;
  &:last-of-type {
    padding-bottom: 0;
  }
}
.choice {
  background: #fff;
  display: block;
  position: relative;
  cursor: pointer;
  text-align: left;
  padding: 8px;
  input[type="radio"]  {
    margin: 0 15px 0 5px;
    opacity: 0;
    z-index: -1;
  }
}
//Struggling with Label hover when child input[type="radio"] is checked
.choice__indicator {
  background: #fff url('/static/img/icons/up@2x.png') 0 0 no-repeat;
  background-size: 100%;
  position: absolute;
  top: 10px;
  left: 7px;
  width: 20px;
  height: 20px;
  .choice--radio & {
    border-radius: 50%;
  }
  .choice:hover input[type="radio"] ~ &,
  .choice input[type="radio"]:focus ~ & {
    opacity: 1;
  }
  .choice input[type="radio"]:checked ~ & {
    background: #7300FF;
  }
}

.choice__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.choice input:checked ~ .choice__indicator:after {
  display: block;
}
.choice--radio .choice__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #FFFC80;
}
