.polls {}
.polls--call-to-action {
  background-color: $mint-green-light;
  padding: 0 15px;
  //Find a better way for extre modiffier classes
  .heading__micro {
    margin: 0;
    text-align: center;
  }
  .heading__subheading {
    color: $charcoal-grey;
    padding: 0 15px;
    text-align: center;
    h3 {
      color: $charcoal-grey;
    }
  }
}

.polls__form,
.results-list {
  label {
    text-align: left;
  }
}
