.adv_wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    align-items: center;
    section {
      grid-column: 1 / span 2;
      grid-row: 1;
      .heading,
      .heading__component
      .heading__subheading {
        text-align: left;
        margin: 0;
      }
      .heading__component {
        background-position-x: 25%;
        background-position-y: 90%;
        padding: 30px 0 20px 10px;
      }
    }
    aside {
      grid-column: 3 / 5;
      grid-row: 1;
      .adv_wrapper__item-icon {
        max-width: 100%;
        margin-right: 10px;
      }
      .adv_wrapper__item-thumb {
        width: auto;
        max-width: 165px;
      }
    }
    nav {
      grid-column: 1 / 5;
      grid-row: 2;
    }
}
