@import "../util/_variables";
@import "../util/colors";
@import "_normalize";

.Login {

}
.Container {
  background: #fff;
  padding: 0;

  .Intro {
    color: #000;
    padding: 0 $spacer-mid;
    text-align: center;
  }
}

.Header {
  text-align: center;
  overflow: auto;
  width: 100%;
  text-align: center;
}
.Header-branding {
  background: url('/static/authentication_service/rwanda/images/logo.png') no-repeat  center 0/100%;
  width: 330px;
  padding: 0 10%;
  text-align: center;
  margin: 0 auto 0;
  position: relative;
  overflow: auto;
  height: 90px;
}
.Header-branding-image {
  display: none;
  visibility: hidden;
}
.Header-title {
  background: #fff;
  margin: 1em 5% 0;
  text-align: left;
  padding: 1em 5%;
}
.Header-title h1 {
  font-size: $font-x-large;
}
.Header-links {
  background: #fff;
  margin: 0 15% 0 15%;
  text-align: left;
  padding: 1em 5%;
}

//CONTENT BODY
.Content {
  padding: 0 15%;
  overflow: auto;
  p, .center {
    padding: 0 $spacer-mid;
  }
}
.Form {
  background: #fff;
  margin: 0;
  padding: 1em 10%;
  .Field {
    margin-top: $spacer-small;
    text-align: left;
    &-item {
      display: contents;
      margin-top: $spacer-half;
    }
    &-label {
      display: inline-block;
      font-weight: bold;
      margin-bottom: $spacer-small;
    }
    &-message {
      color: #000;
      font-size: $font-small;
      margin-top: $spacer-half;
      text-align: center;
    }
    .DateInput,
    .EmailInput,
    .NumberInput,
    .PasswordInput,
    .TextInput,
    .Textarea,
    .vDateField {
      border: 1px #d6d6d6 solid;
      font-size: 1em;
      height: 40px;
      outline: none;
      padding: $spacer-small;
      width: 100%;
      border-width: 1px;
      &:focus {
        border: 1px #000 solid;
      }
    }

    .Textarea {
      height: 60px;
    }
    .ClearableFileInput {
      display: block;
    }
    &--required {
      input {
        border-color: #000;
      }
    }
  }
  .ModelChoiceField,
  .TypedChoiceField {
    .Select {
      border: 1px solid #000;
      &:focus {
        border-color: #000;
      }
    }
  }
  .Field-message--error {
    &.Field--required {
      .Field-item {
        input {
          border-color: #000;
        }
      }
    }
  }
  &-buttons {
    margin-top: $spacer-small;
  }
}
.Messages {
  margin: $spacer-small 0;

  .Message {
    color: #fff;
    padding: $spacer-small;

    &--success {
      background: #000;
    }
    &--error,
    &--warning {
      background: #000;
    }
  }
}

.errorlist {
  color: #000;
  list-style: none;
  margin: $spacer-half 0;
  padding: 0;
  li {
    margin: $spacer-half 0;
  }
}

.Additional-text {
  text-align: center;
  padding: $spacer-multiple 0 0;
}

.Button {
  background: pink;
  color: #fff;
  display: block;
  font-size: 1em;
  margin-bottom: $spacer-small;
  max-width: 100%;
  padding: $spacer-small $spacer-half;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
    opacity: .8;
  }

  &--warning {
    background: orange;
    &:hover {
      background: orange;
    }
  }
}

.Back-to-top {
  padding: $spacer-small 0 $spacer-multiple;
  &--link {
    font-weight: normal;
  }
}

.Menu {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  &-title {
    display: none;
  }

  &-item {
    a {
      font-weight: normal;
      font-size: $font-medium;
    }
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

.Footer {
  background: #ececec;
  border: 0;
  color: #5c5c5c;
  font-size: $font-x-small;
  padding: $spacer-small 0;
  text-align: left;
  margin: 0 11%;

  a {
    font-size: 22px;
    color: #5c5c5c;
  }
  p {
    color: #a3a3a3;
  }
}
