@import "../util/_variables";
@import "../util/colors";
@import "_normalize";

body, html {
  @include for-size(tablet-portrait-up) {
    background: #fff;
    color: #000;
  }
}

//PAGE WRAPPER
.Login {}
.Container {
  background: #fff;
  padding: 0;

  .Intro {
    background: #fff;
    color: #000;
    padding: 0 0 2em;
    text-align: left;
    margin: 0;
  }
}

//HEADER
.Header {
  text-align: center;
  overflow: auto;
  width: 100%;
  text-align: center;
  margin: 0;
}
.Header-branding {
  background: url('/static/authentication_service/rwanda/images/logo.png') no-repeat  center 0/100%;
  width: 330px;
  padding: 0 10%;
  text-align: center;
  margin: 0 auto 0;
  position: relative;
  overflow: auto;
  height: 90px;
}
.Header-branding-image {
  display: none;
  visibility: hidden;
}
.Header-title {
  background: #fff;
  margin: 1em 5% 0 5% !important;
  padding: 1em 5%;
  text-align: left;
}
.Header-title h1 {
  font-size: $font-x-large;
}
.Header-links {
  background: #fff;
  color: #000;
  margin: 0 5%;
  text-align: left;
  padding: 1em 5%;
  a {
    color: #03b8ad;
    border-bottom: 1px solid #03b8ad;
    &:active, &:hover, &:focus {
      color: #02938A;
    }
  }
}

//BODY
.Content {
  background: #fff;
  color: #000;
  overflow: auto;
  padding: 0 5%;
  margin: 0 5%;
  p {
    text-align: left;
  }
}

//FORM
.Form {
  background: #fff;
  margin: 0;
  position: relative;
}
.Form .Field {
  margin: 0;
  padding: 0;
  text-align: left;
}
.Form .Field-label {
  color: #000;
  display: block;
  font-weight: bold;
  margin-bottom: $spacer-small;
  vertical-align: middle;
}
.Form .Field-item {
  color: #000;
  display: inline-block;
  margin: $spacer-half 0;
  font-size: $font-x-small;
}
.Form .Field-message {
  color: #9b9fa2;
  font-size: $font-small;
  margin-top: $spacer-half;
  text-align: left;
}
.Form .Field .TextInput,
.Form .Field .PasswordInput,
.Form .Field .EmailInput,
.Form .Field .DateInput,
.Form .Field .vDateField,
.Form .Field .NumberInput,
.Form .Field .Textarea {
  border: 2px #03b8ad solid;
  font-size: 1em;
  height: 40px;
  outline: none;
  padding: $spacer-small;
  width: 100%;
  border-width: 2px;
  &:focus {
    border: 2px #02938A solid;
  }
}
.Form .Textarea {
  height: 60px;
}
.Form .ClearableFileInput {
  display: block;
}
.Form .Form--required {}
.Form .Form--required input {
  border-color: red;
}
.Form .ModelChoiceField,
.Form .TypedChoiceField {
  .Select {
    border: 2px solid #03b8ad;
    &:focus {
      border-color: #02938A;
    }
  }
}
.Form .Field-message--error,
.Form .Field-message--error .Field--required {
  .Field-item input {
    border-color: #02938A;
  }
}
.Form .Form-buttons {
    margin-top: $spacer-small;
}
.Button {
  color: #fff;
  background-color: #03b8ad;
  display: block;
  font-weight: bold;
  font-size: $font-small;
  padding: 15px 10px;
  text-transform: uppercase;
  margin: 1em 0;
  -webkit-box-shadow: 12px 12px 0 0 #f9e435;
  box-shadow: 12px 12px 0 0 #f9e435;
  width: auto;
  &:active, &:hover, &:focus {
    color: #f9e435;
  }
}
.Button--warning {
  background: #03b8ad !important;
  margin: 1em !important;
  color: #fff;
  -webkit-box-shadow: 12px 12px 0 0 #ed018c;
  box-shadow: 12px 12px 0 0 #ed018c;
  &:hover {
    color: #ed018c;
  }
}

.Messages {
  margin: $spacer-small 0;
}
.Message {
  color: #fff;
  padding: $spacer-small;
}
.Message--success {
  background: #000;
}
.Message--error,
.Message--warning {
  background: #000;
}

.errorlist {
  color: #000;
  list-style: none;
  margin: $spacer-half 0;
  padding: 0;
  li {
    margin: $spacer-half 0;
  }
}

.Additional-text {
  background: #fff;
  color: #000;
  text-align: left;
  padding: 0 10% 1em;
  margin: 0;
  a {
    color: #03b8ad;
    border-bottom: 1px solid #03b8ad;
      &:active, &:hover, &:focus {
        color: #f9e435;
      }
  }
}

//MENU
.Menu {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.Menu-title {
  display: none;
}
.Menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}
.Menu-item {
  margin: 10px 0;
  a {
    color: #03b8ad;
    text-decoration: underline;
    font-weight: normal;
    text-transform: uppercase;
    font-size: $font-xx-small;
    border-bottom: 1px solid #fff;
    &:active, &:hover, &:focus {
      color: #f9e435;
    }
  }
}

//FOOTER
.Back-to-top {}
.Back-to-top--link {
  text-transform: uppercase;
  font-size: $font-xx-small;
  border-bottom: 1px solid #fff;
}
.Footer {
  background: #000;
  border: 0;
  color: #fff;
  font-size: $font-xx-small;
  padding: 1em 15%;
  text-align: left;
  a {
    font-size: $font-xx-small;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  p {
    color: #fff;
    padding: 1em 0 0;
    text-align: right;
  }
}
