/*
RESET AUTH CORE STYLES
STYLE RWANDA (NINYAMPINGA)
*/
@import "../util/_variables";
@import "../util/colors";


body, html {
  background: #03b8ad;
  color: #000;
  @include for-size(tablet-landscape-up) {
    background: #03b8ad url("/static/authentication_service/rwanda/images/pattern-cyan.png") repeat center center/ 100%;
  }
}

//PAGE WRAPPER
body {
  margin: 0;
}
.Container {
  background: transparent;
  margin: 0 auto;
  width: 100%;
  max-width:100%;
  padding: 0;
}

//HEADER

.Header {
  width: auto;
  margin: 0;
  @include for-size(tablet-landscape-up) {
    margin: 0 15%;
  }
}
.Header-branding {
  width: 210px;
  height: 60px;
  margin: 0 auto 0;
}
.Header-branding-image {
  width: 27%;
}
.Header-title {
  background: #fff;
  text-align: left;
  @include for-size(tablet-landscape-up) {
    margin: 1em 0 0 0 !important;
  }
}
.Header-title h1 {
  //Need an extra DIV
  /*background-image: url('/static/authentication_service/rwanda/images/shape1-cyan.png') ;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;*/
  font-size: $font-x-large;
  color: #fff;
  background-color: #000;
  display: inline-block;
  margin: 0;
  font-size: 30px;
  padding: 0 0.313em;
}
.Header-links {
  @include for-size(tablet-landscape-up) {
    margin: 0 15% 0 15%;
    position: absolute;
    right: 0;
    top: 6em;
  }
}

//BODY
.Content {
  @include for-size(tablet-landscape-up) {
    padding: 3em 10% 5%;
    margin: 0 15%;
  }
}

.List {
  list-style: none;
  padding: 0;
}
.List li {
  margin: $spacer-mid 0 0;
}
.QR {
  text-align: center;
}
.QR-image {
  border: 3px solid  #000;
}
.Tokens {
  border: 1px solid #000;
  margin: $spacer-small $spacer-mid;
  padding: 0 $spacer-mid $spacer-mid;
}
.Tokens li {
  float: left;
  width: 50%;
}
.Tokens::after {
  clear: both;
  content: '';
  display: block;
}


//FORM
.Form .Field {
  padding: 0;
  margin: 0;
}
.Form .Field-label {
  font-size: $font-x-small;
  margin: 0 1em 0 0;
  @include for-size(tablet-landscape-up) {
    font-size: $font-x-medium;
    width: 20%;
    display: inline-block;
  }
}
.Form .Field-item {
  width: 100%;
  text-align: left;
  vertical-align: middle;
  @include for-size(tablet-landscape-up) {
    width: 75%;
  }
}
.Form .Field-message {
  margin: 5px 0;
  @include for-size(tablet-landscape-up) {
    margin: 5px 23%;
  }
}
.Form .Field .TextInput,
.Form .Field .PasswordInput,
.Form .Field .EmailInput,
.Form .Field .DateInput,
.Form .Field .vDateField,
.Form .Field .NumberInput,
.Form .Field .Textarea {
  color: #000;
  font-weight: normal;
  padding: $spacer-small;
  border-width: 2px;
  &:focus {
    border: 2px #02938A solid;
  }
}
.Form .Field .Textarea {
  height: 100px;
}
.Form .ModelChoiceField,
.Form .TypedChoiceField {
  display: block;
  position: relative;
  width: 100%;
}

.Form .TypedChoiceField .Select,
.Form .ModelChoiceField .Select {
  appearance: none;
  background-color: #fff;
  border-radius: 0;
  color: #000;
  min-height: 41px;
  outline: none;
  padding: $spacer-small;
  width: 100%;
  border: 2px solid #03b8ad;
  &:focus {
    border-color:  #03b8ad;
  }
}
.Form .ModelChoiceField::after,
.Form .TypedChoiceField::after {
  color:  #03b8ad;
  content: '';
  display: inline-block;
  height: .65em;
  pointer-events: none;
  position: absolute;
  right: 5%;
  top: 55%;
  transform: rotate(135deg);
  width: .65em;
  @include for-size(tablet-landscape-up) {
    top: 35%;
  }
}
.Form .BooleanField {
  display: table;
  margin: 0;
  position: relative;
  width: 100%;
}
.Form .BooleanField .Field-label {
  display: table-cell;
  padding-right: $spacer-small;
  text-align: right;
  vertical-align: middle;
  width: 60%;
}

.Form .Field-item .CheckboxInput {
  appearance: none;
  border: 2px solid #03b8ad;
  display: block;
  height: $spacer-multiple;
  outline: none;
  padding: $spacer-mid;
  width: $spacer-multiple;
}
.Form .Field-item .CheckboxInput:checked {
  background-color:  #000;
  border-color:  #000;
}
.Form .Field-item .CheckboxInput:checked::after {
  color: #fff;
  content: '\2714';
  font-size: $spacer-multiple;
  left: -($spacer-small);
  line-height: $spacer-multiple;
  position: relative;
  top: -($spacer-small);
}

.Form .Form .Field-message--error,
.Form .Field-message--error .Field--required {
  .Field-item input {
    border-color: red;
  }
}

.Form .Form-buttons {
  margin-bottom: $spacer-multiple;
}
.Button {
  display: inline-block;
  padding: 15px 30px;
  margin: 1em 0;
  @include for-size(tablet-landscape-up) {
    margin: 1em 5% 0 24%;
  }
}

.Messages {}
.Messages .Message {}

.errorlist {
  margin-top: $spacer-multiple;
}

.Additional-text {
  text-align: left;
  padding: 0 10% 1em;
  margin: 0;
  @include for-size(tablet-landscape-up) {
    padding: 0 24% 1em;
  }
}

//MENU
.Menu {
  margin: 0;
}
//Where is this?
.Menu-title {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.Menu-title h1 {
  color: #fff;
  font-size: 1.2em;
}
.Menu-list {
  padding: 0;
}
.Menu-item {
  margin: 10px 0;
}

@media (min-width: 40em) {
  .Menu {
    margin-top: 0;
    padding-bottom: 0;
  }
}


//FOOTER
.Footer {
  padding: 1em 5% 2em;
  text-align: left;
  margin: 0 15%;
  @include for-size(tablet-landscape-up) {
    margin: 0 15%;
  }
}
