.call-to-action__nav-item--replies-counter,
.call-to-action__item--secondary,
.call-to-action__nav-item-text--backToTop  {
  font-weight: normal;
}



//SEARCH BUTTONS - SPRINGSTER VARIATION
.call-to-action__nav-item--search-icon,
.call-to-action__item--search-icon,
.call-to-action__nav-item--search-icon-bg,
.call-to-action__item--search-icon-bg  {
  background-color: transparent;
  background-image: url(/static/img/icons/search.svg), url(/static/img/icons/search@2x.png);
}

.call-to-action__nav-item-text--backToTop {
  font-family: $baton-medium;
  font-weight: normal;
}
