.call-to-action__nav-item--replies-counter,
.call-to-action__item--secondary {
  font-weight: normal;
}
.call-to-action__button--primary  {
  font-weight: normal;
  @media only screen and (min-width: 280px) {
    max-width: 263px;
    max-height: 42px;
    background-position: -344px -40px;
  }
  @media only screen and (min-width: 360px) {
    max-width: 344px;
  	max-height: 40px;
  	background-position: 0 0;
  }
}
.call-to-action__button--secondary {
  font-weight: normal;
  @media only screen and (min-width: 280px) {
    max-width: 264px;
    max-height: 44px;
    background-position: -1278px -205px;
  }
  @media only screen and (min-width: 360px) {
    max-width: 346px;
    max-height: 42px;
    background-position: -932px -163px;
  }
}
