
@media only screen and (min-width: 600px) {
  html {
    background:#333;
    -webkit-overflow-scrolling : touch;
    -webkit-tap-highlight-color : lighten(#333, 75%);
  }
  html,body {
    max-width: 320px;
    font-family: 'AvenirNextCondensed', Arial, sans-serif;
  }

  body,
  input,
  textarea,
  select {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-family: Arial, sans-serif;
    color: #141414;
  }


  a, a:hover {
    color: #00b8ae;
    text-decoration: none;
  }


  @-webkit-viewport {
    width : device-width;
  }

  @-moz-viewport {
    width : device-width;
  }

  @-ms-viewport {
    width : device-width;
  }

  @-o-viewport {
    width : device-width;
  }

  @viewport {
    width : device-width;
  }

  ::-moz-selection {
    background-color: lighten($colorFirst, 65%);
    color: $colorFirst;
    text-shadow: none;
  }

  ::selection {
    background-color: lighten($colorFirst, 65%);
    color: $colorFirst;
    text-shadow: none;
  }

  .overflow-container { overflow-y: scroll; }

  :not(a):focus {
    outline: none;
  }


  #gem-footer {
    padding: 24px 8px;
    display: flex;
    flex-direction: column;

    #search-form {
      order: 1;
      -webkit-order: 1;

      margin: 0 8px 24px 8px;

      form {
        display: flex;
        flex-direction: row;

        label, div {
          display: none;
        }

        input, button {
          margin: 0;
          border: 0;
          height: 48px;
        }
        input {
          flex: 1;
        }
        button {
          width: 48px;
          color: transparent;
          background-image: url('/static/img/search_white.png');
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: 17px;
        }
      }
    }

    ul.sections {
      order: 2;
      -webkit-order: 2;
      margin: 0 8px;

      font-size: 20px;
      line-height: 40px;
    }

    #footer-bar {
      order: 3;
      -webkit-order: 3;
      font-size: 12px;
      margin: 0 8px;
    }
  }
}

@import "_s-article-preview";
@import "_s-article";
@import "_s-button";
@import "_s-comments";
@import "_s-language";
@import "_s-polls";
@import "_s-profiles";
@import "_s-search";
@import "_s-section";
@import "_s-service-directory";
@import "_s-your-words";
