html, body {
  background-color: #fbfbfb;
  height: auto;
}
body {
  color: $colorGrey;
  line-height: 1.3;
  font-size: 16px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "FedraSansDevanagariB-Light";
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: $colorPurple;
  font-family: "FedraSansDevanagariB-Demi";
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: #ff4289;
  }
}
*:focus {
  @media screen and (min-width: 20.000em) {
    outline: none;
  }
}

//YT OVERRIDE
.ytp-cued-thumbnail-overlay-image {
  background-size: contain !important;
  -moz-background-size: contain !important;
  -webkit-background-size: contain !important;
}
