html, body {
  background-color: #fff;
  height: auto;
}
body {
  color: $colorGrey;
  line-height: 1.1;
  font-size: 16px;
  font-family: $FedraSansStdLight;
}
body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $colorGrey;
  text-decoration: none;
}
