{% load wagtailcore_tags compress static wagtailuserbar core_tags static i18n %}
{% load wagtailsettings_tags wagtailimages_tags molo_survey_tags competition_tag molo_commenting_tags poll_votings %}
{% load google_analytics_tags %}
{% get_settings %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}"/>
    <meta name="twitter:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
    {% image self.social_media_image width-300 as tmp_photo %}
    {% if self.image %}
      {% image self.image width-300 as article_photo %}
    {% endif %}
    <meta name="twitter:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% else %}{{request.site.root_url}}{{ article_photo.url }}
    {% endif %}"/>
    <meta property="og:title" content= "{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
    <meta property="og:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>

    <meta property="og:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% else %}{{request.site.root_url}}{{ article_photo.url }}{% endif %}"/>
    <meta property="og:image:url" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% else %}{{request.site.root_url}}{{ article_photo.url }}{% endif %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% compress css %}
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/springster.css">
    {% endcompress %}
    {% if LANGUAGE_CODE|language_bidi == True %}
      {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/springster-rtl.css">
      {% endcompress %}
    {% endif %}
  <script src="{% static 'modernizr-custom.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
  var cutsTheMustard = 'querySelector' in document && 'localStorage' in window && 'addEventListener' in window;
  var largeScreen = ((window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth) >= 240);
  var smartStyles = '{% spaceless %}{% compress css %}
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/state.css">
      {% endcompress %}{% endspaceless %}';
    if(cutsTheMustard === true) {
      if(largeScreen) {document.write(smartStyles);}
    }
  </script>
  </head>
  <body class="{% block body_class %}{% endblock %}" {% if LANGUAGE_CODE|language_bidi == True %}dir="rtl"{% endif %}>
    {% block google_analytics %}
      {% include "patterns/components/ga_tag_manager.html" %}
    {% endblock %}
    {% wagtailuserbar %}

    <div class="header-wrapper">
      {% block navigation %}
        {% include "patterns/basics/languages/sp_variations/language-list-center_fixed.html" %}
      {% endblock %}

      {% block header %}
        {% include "patterns/components/header/sp_variations/header-center.html" %}
      {% endblock %}
    </div>

    <div class="content-wrapper">
      <div id="top" class="content">
        {% display_unread_notifications %}
        {% block content %}
        {% endblock %}

        {% block breadcrumbs %}
          {% breadcrumbs %}
        {% endblock %}
        {% tag_menu_homepage %}

        {% block footer_menu %}
          {% include "patterns/components/footer/sp_variations/footer-menu.html" %}
        {% endblock %}

        {% block footer %}
          {% include "patterns/components/footer/sp_variations/footer.html" %}
        {% endblock %}

        {% block copyright %}
          {% include "patterns/basics/copyright/copyright-terms.html" %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
