{% load wagtailcore_tags wagtailsettings_tags wagtailimages_tags wagtailuserbar %}
{% load compress static core_tags i18n %}
{% load google_analytics_tags %}
{% get_settings %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}"/>
    <meta name="twitter:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
    {% image self.social_media_image width-300 as tmp_photo %}
    <meta name="twitter:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
    <meta property="og:title" content= "{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
    <meta property="og:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
    {% image self.social_media_image width-300 as tmp_photo %}
    <meta property="og:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
    <meta property="og:image:url" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/springster.css">
    {% endcompress %}
    <script type="text/javascript">
      // cut the mustard
      if('querySelector' in document && 'localStorage' in window && 'addEventListener' in window) {
        loadJS( "{% static 'js/main.js' %}" );
      }
    </script>
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% block google_analytics %}
      {% include "patterns/components/ga_tag_manager.html" %}
    {% endblock %}

    {% wagtailuserbar %}

    <!-- {% get_current_language as LANGUAGE_CODE %} -->
    {% block header %}
      
      <div class="language-header">
        {% if languages|length > 1 %}
          {% include "patterns/basics/languages/language-list-center.html" %}
        {% endif %}
      </div>
        <div class="header">
          <div class="header__menu">
            <a href="/" class="logo logo--center">
              <img src="{% static '' %}img/springster-logo.svg" width="97" height="24" alt="Springster" />
            </a>
            <ul class="menu-list menu-list--section-nav">
              <li id="profile" class="menu-list__item menu-list__item--section-nav">
                {% if not user.is_authenticated %}
                  <a  href="{% url 'molo.profiles:user_register' %}" class="menu-list__anchor menu-list__anchor--section-nav">{% trans "Sign up" %}</a>
                {% else %}
                  <a  href="{% url 'molo.profiles:view_my_profile' %}" class="menu-list__anchor menu-list__anchor--section-nav">{% trans "Profile" %}</a>
                {% endif %}
              </li>
              <li id="search" class="menu-list__item menu-list__item--section-nav">
                <a class="menu-list__anchor menu-list__anchor--section-nav"><label type="button" for="search-toggle" >{% trans "Search" %}</label></a>
              </li>
            </ul>
          </div>
          <div class="header__search">
            <input class="header__search-input"type="checkbox" id="search-toggle">
            <div class="header__search-bar">
              {% block search_button %}
                {% include "patterns/basics/search/search-button-icon.html" with radius="none" %}
              {% endblock %}
            </div>
            
          </div>
          <div class="section-nav">
            <ul class="section-nav-list">
              <li class="section-nav-list__item">
                <a href="/" class="section-nav-list__anchor{% if request.path == '/' %} selected{% endif %}">Home</a>
              </li>
              {% load_sections as sections %}
                {% for section in sections %}
                {% pageurl section as section_path %}
                  <li class="section-nav-list__item section-nav-list__item{{section.get_effective_extra_style_hints}}">
                    <a href="{% pageurl section %}" class="section-nav-list__anchor{% if request.path == section_path %} selected{% endif %}">
                        {{section.title}}
                    </a>
                  </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      
    {% endblock %}

    {% block breadcrumbs %}
      {% breadcrumbs %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

        
        <div id="gem-footer">
        {% block footer %}
        <div class="footer-search-bar">
          {% block search %}
            {% include "patterns/basics/search/search-button-icon.html" with radius="none" %}
          {% endblock %}
        </div>
          <div class="group">
              <ul class="sections footer-menu-list left">
                <li class="footer-menu-list__item">
                  <a href="/" class="footer-menu-list__anchor">{% trans "Home" %}</a></li>
                {% load_sections as sections %}
                  {% for section in sections %}
                    <li class="{{section.get_effective_extra_style_hints}} footer-menu-list__item">
                      <a href="{% pageurl section %}" class="footer-menu-list__anchor">
                          {{section.title}}
                      </a>
                    </li>
                  {% endfor %}
              </ul>

              <ul class="sections footer-menu-list right">
                <li class="footer-menu-list__item">
                  <a href="/" class="footer-menu-list__anchor">{% trans "About Springster" %}</a></li>
                  <li class="footer-menu-list__item">
                    <a href="#" class="footer-menu-list__anchor">{% trans "FAQs" %}</a></li>
                  <li class="footer-menu-list__item">
                    <a href="#" class="footer-menu-list__anchor">{% trans "Tips for use" %}</a></li>
                {% if not user.is_authenticated %}
                  <li class="footer-menu-list__item">
                    <a href="{% url 'molo.profiles:user_register' %}" class="footer-menu-list__anchor">
                      {% trans "Join us" %}
                    </a>
                  </li>

                  <li class="footer-menu-list__item">
                    <a href="{% url 'molo.profiles:auth_login' %}" class="footer-menu-list__anchor">
                      {% trans "Log in" %}
                    </a>
                  </li>

                {% else %}
                <li class="footer-menu-list__item">
                  <a href="{% url 'molo.profiles:view_my_profile' %}" class="footer-menu-list__anchor">
                    {% trans "Profile" %}
                  </a>
                </li>

                <li class="footer-menu-list__item">
                  <a href="{% url 'molo.profiles:auth_logout' %}" class="footer-menu-list__anchor">
                    {% trans "Log out" %}
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          {% endblock %}
        </div>
        
        <div id="footer-bar">
          {% if languages|length > 1 %}
            {% include "patterns/basics/languages/language-list-label.html" %}
          {% endif %}
            <a id="logo" class="footer-logo" href="/">
              <img src="{% static '' %}img/springster-logo-purple.svg" width="200" height="59" alt="Springster" />
            </a>
            {% include "patterns/basics/buttons/back-to-top.html" %}
            <div class="copyright">
              <p class="copyright__footer-copy" >&copy; {% now "Y" %} Springster. {% trans "All Rights Reserved." %} <a href="#">{% trans "Terms &amp; Conditions" %}</a></p>
              {% if settings.gem.GemSettings.show_partner_credit %}
                <a href="{{settings.gem.GemSettings.partner_credit_link}}">{{settings.gem.GemSettings.partner_credit_description}}</a>
              {% endif %}
            </div>
            
        </div>

  </body>
</html>
