{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="profiles">
  <h1 class="heading heading--title">{% trans "Forgot PIN" %}</h1>
  <form method="post" class="profiles__form">
  {% csrf_token %}
  {% if form.errors %}
    <ul class="error-list">
    {% for key, errors in form.errors.iteritems %}
      {% for error in errors %}
      <li class="error-list__item">
        {% trans error %}
      </li>
      {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
  <fieldset>
    <label>{% trans "Username" %}</label>
    {{ form.username }}
  </fieldset>
  <fieldset>
    <legend>{% trans "Security question" %}</legend>
    <p class="helptext">{% trans "Please answer the following security question." %}</p>
    <label>{% trans random_security_question %}</label>
      {{ form.random_security_question_answer }}
  </fieldset>
  <input type="submit" value='{% trans "Forgot PIN" %}' />
  </form>
</div>
{% endblock %}
