{% extends "base.html" %}
{% block content %}
<div class="profiles">
  {% trans "Forgot PIN" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=headingtext %}
  <form method="post" class="profiles__form" novalidate>
  {% csrf_token %}
  {% if form.errors %}
    <p class="errors">
      {% trans "Please correct the indicated errors." %}
    </p>
  {% endif %}
  <fieldset>
    <div class="input-group{% if form.username.errors %} input-error{% endif %}">
      <label>{% trans "Username" %}</label>
      {{ form.username }}
      {{ form.username.errors }}
    </div>
  </fieldset>
  <fieldset>
    {% trans "Security questions" as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="micro" htmltag="h3" title=headingtext %}
    <p class="helptext">{% trans "Please answer the following security question." %}</p>
    <div class="input-group{% if form.random_security_question_answer.errors %} input-error{% endif %}">
      <label>{% trans random_security_question %}</label>
        {{ form.random_security_question_answer }}
        {{ form.random_security_question_answer.errors }}
    </div>
  </fieldset>
  <input type="submit" value='{% trans "Forgot PIN" %}' class="call-to-action__button call-to-action__button--primary"/>
  </form>
</div>
{% endblock %}
