{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags staticfiles core_tags gem_tags i18n %}

{% block content %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=self.title %}
    {% if self.subtitle %}
        {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h6" title=self.subtitle %}
    {% endif %}

    {% include "patterns/components/banners/main-banner.html" with pageTag=self %}
{% endblock %}
