<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/springster.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/versions.css">

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="/static/mote/js/api.js"></script>
        <script type="text/javascript">
            // Here's our search widget
            var data4 = {
            };

            var mote_api = new MoteAPI('/mote/api/');
            mote_api.push(
                'springster.browser.atoms.search',
                data4,
                '#four',
                function(result) {
                }
            );
            mote_api.run();
        </script>
    </head>
    <body>
        <h1>Here's our search widget</h1>
        <div id="four"></div>
    </body>
</html>
