{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="profiles">
  <h1 class="heading heading--title">{% trans "Reset PIN" %}</h3>
  <form method="post" class="profiles__form">
  {% csrf_token %}
  {% if form.errors %}
    <ul class="error-list">
    {% for key, errors in form.errors.iteritems %}
      {% for error in errors %}
      <li class="error-list__item">
        {% trans error %}
      </li>
      {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
  <fieldset>
    <label>{{ form.username }}</label>
      {{ form.token }}
  <fieldset>
    <label>{% trans "PIN" %}</label>
      {{ form.password }}
  <fieldset>
    <label>{% trans "Confirm PIN" %}</label>
      {{ form.confirm_password }}
  <fieldset>
  <input type="submit" value='{% trans "Reset PIN" %}' />
  </form>
</div>
{% endblock %}
