.yourwords {
  &__container {
    @include divider-combo-1;
    background-color: $mint-green-light;
    padding: 10px 0 8px;
    margin-top: 20px;
    &-form {
      background-color: $mint-green-light;
    }
  }

  article,
  .heading {text-align: center;}
  .heading {
      &__component {padding-top: 10px;}
      &__subheading h2 {color: $charcoal-grey;}
      &__macro {
        margin-bottom: 0;
        padding: 0 15px;
      }
  }
}
