.yourwords {
  &__container {
    @include divider-combo-1;
    background-color: $mint-green-light;
    padding: 10px 0 8px;
    margin-top: 20px;
  }
  article, .heading {
    text-align: center;
  }

  /*These headings need general padding set*/
  .heading__component {
    padding-top: 10px;
  }
  .heading__subheading h2 {
     color: $charcoal-grey;
  }
  .heading__macro {
    margin-bottom: 0;
    padding: 0 15px;
  }
}

.yourwords--call-to-action {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.yourwords__container-form {
  background-color: $mint-green-light;
}
