.profiles {
  padding: 0.5em 0;
  //background: $colorYellow;
  @media screen and (min-width: 45.000em) {
    padding: 1.5em 5% 2em;
  }
  &__wrapper {
    background: #fff;
    padding: 2em 1em;
    text-align: center;
    @media screen and (min-width: 45.000em) {
      padding: 2em 30%;
    }
  }
  &__caption {
    font-size: 27px;
    padding: 15px 0 0;
    .heading__subtitle {
      display: inline-block;
      font-size: 27px;
    }
  }
  &__inner {
    @media screen and (min-width: 45.000em) {
      padding: 15px 0 1em;
    }
  }

  &__form {
    overflow: inherit;
    text-align: left;
    input {
      width: 90%;
      @media screen and (min-width: 45.000em) {
        width: 100%;
      }
    }
  }
  &__description {
    padding: 0 .5em 0 5px;
  }

  .heading {
    font-family: "FedraSansDevanagariB-Demi";
    &__component {
      background: transparent;
      color: $colorPink;
      font-family: "FedraSansDevanagariB-Demi";
      font-size: 55px;
      text-transform: uppercase;
      &:before {
        display: none;
      }
    }
    &--hero {
      background: transparent;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }
}
