.template-main {
  #article-hero {
    .text {
      margin: 0 16px;
      position: relative;

      .section-title {
        background-color: transparent;
        position: relative;
        top: 0;
        left: 0;
        height: 20px;
        line-height: 20px;
        font-weight: normal;
        padding: 0;

        a {
          font-family: $font-family-default;
          font-weight: bold;
          color: $colorOrange;
          font-size: $font-large;
        }
      }
    }
  }
}

.article-preview {
  .text {
    .section-title {
      font-family: $font-family-zathu;
      font-size: 12px;
      font-weight: normal;
      text-transform: capitalize;

      a {
        font-family: $font-family-default;
        font-weight: bold;
        color: $colorOrange;
        font-size: $font-small;
      }
    }

    h3 {
      font-family: $font-family-zathu;
      font-weight: normal;

      a {
        color: $colorPurple;
      }
    }
    p {
      color: $colorPurple;
    }
  }
}

.article-list  {
  .article-preview {
    .text {
      .section-title {
        font-family: $font-family-zathu;
        font-weight: normal;
      }
    }
  }
}
