.comment__form,
.comment__body {
  padding: 0 15px;
  border-bottom: 1px solid #ececec;
}
.comment-preview {
  margin: 0 16px;
}

.pagination {
  text-align: center;
  padding: 10px 0;
  a {
    color: #00b8ae;
  }
}



ul#id_report_reason{
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    text-align: left;
    label {
      float: left;
      clear: both;
    }
  }
}


.report.block {
   form {
     margin-bottom: 15px;
   }
}
button.report-btn {
  margin-bottom: 0;
}
#comments-list {
  padding: 0;
}

// where do you belong lad?
.title {
  h6 {
    font-size: 20px;
    font-family: $font-family-avenirBold;
    color: #000;
    margin: 0;
  }
}
hr {
  border-top-color: #ECECEC;
}
h3.comment-header {
  font-family: $font-family-avenirBold;
  font-size: 18px;
  color: #141414;
  margin: 0;
}

.comment-form {
  text-align: center;
  padding-bottom: 0.6em;
  margin-bottom: 1em;
  h1 {
    font-family: $font-family-avenir-ot;
    font-size: 16px;
    color: #141414;
    padding: 1em 0 0 0;
  }
  ul.errorlist {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      text-align: center;
      padding: 0 0 1em 0;
    }
  }
  .comment-submit {
    background: #ed008c;
    text-align: center;
    border: 0;
    font-family: $font-family-avenir-ot;
    font-size: 18px;
    display: block;
    color: #fff;
  }
  .submit-anonymous {
    text-align: center;
    font-family: $font-family-avenir-ot;
    font-size: 18px;
    border: 0;
    margin-top: 0.5em;
    display: block;
    padding: 10px 15px;
  }
}
.post-comment {
  padding: 0 15px;
  a {
    color: #FFF;
    text-decoration: none;
  }
}
ul.errorlist ~ p {
    width: 88%;
    display: block;
    margin: 0 auto;
}
.view-more-comments {
  a {
    background: #ed008c;
    padding: 0.5em;
    display: table;
    margin: 15px auto;
    color: #fff;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    &:visited {
      color: #fff;
    }
  }
}

.comments-count {
  font-family: $font-family-TwCentBold;
  font-size: 18px;
  color: #141414;
}
.comment.staff {
  .by {
    color: #00b8ae;
  }
}
.comment__alias {
  font-family: $font-family-TwCentBold;
  color: #141414;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
  padding: 20px 0 0;
}

p.comment-body {
  font-family: $font-family-sans-serif;
  font-size: 17px;
  color: #141414;
}
.date {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  color: #A3A3A3;
  display: inline-block;
  padding: 0 0 15px;
}
a.report {
  color: #A3A3A3;
  font-family: $font-family-avenir-ot;
  font-size: 16px;
  padding: 0 10px 10px 0;
  display: inline-block;
  text-decoration: underline;
}
.comment__reply-meta {
  padding: 10px 0;
  border-top: 1px solid #ececec;
}
.comment__reply-meta-link {
  font-family: $font-family-avenir-ot;
  color: #ed008c;
  display: inline-block;
  text-decoration: underline;
  padding-right: 5px;
}
.comment__reply-meta-replies-list {
  text-align: right;
  color: #A3A3A3;
}
.comment__reply-meta-replies-list-disabled {
  margin: 0;
  color: #A3A3A3;
  text-decoration: none;
}
.comment-login {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  color: #A3A3A3;
  padding: 0;
}
a.comment-login-button {
  button {
    background: #141414;
    text-align: center;
    border: 0;
    font-family: $font-family-TwCentBold;
    font-size: 16px;
    color: #fff;
    width: 88%;
    padding: 0.5em;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
}

a.comment-login-button:hover {
  text-decoration: none;
}

.comment-sign-up {
  text-align: center;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  color: #141414;
  a {
    color: #ed008c;
  }
}
