
.comment-form {
  h1 {
    font-family: $font-family-default;
    color: $colorPurple;
  }

  textarea {
    border: 1px solid $colorGrey;
  }

  .comment-submit {
    background-color: $colorPurple;
    color: $colorYellow;
    font-family: $font-family-zathu;
    font-weight: normal;
    margin-top: 15px;
  }
  .submit-anonymous {
    font-family: $font-family-zathu;
    font-weight: normal;
  }
}

.title {
  h6 {
    font-family: $font-family-default;
  }
}

h3.comment-header {
  font-family: $font-family-default;
  color: #141414;
}

.view-more-comments {
  a {
    background: $colorGrey;
    font-family: $font-family-default;
  }
}

.comments-count {
  font-family: $font-family-default;
}
.comment.staff {
  .by {
    color: $colorPurple;
  }
}
.comment__alias, a.report, p.comment-body, .date,.comment-login, .comments__reply-title {
  font-family: $font-family-default;
}

.comment__reply-meta-link {
  font-family: $font-family-default;
  color: $colorPurple;
}

.comment__admin-reply {
  background: #ececec;
}

a.comment-login-button {
  button {
    font-family: $font-family-default;
  }
}

.comment-sign-up {
  font-family: $font-family-default;
  a {
    color: $colorPurple;
  }
}

.comments__reply-title--unread {
  color: $colorPurple;
  font-weight: normal;
}

.comments__reply-heading {
  font-family: $font-family-zathu;
  padding: 15px 15px 0;
}

.comment__reply-thread-content {
  padding: 0 15px 10px;
}
