fieldset {
  border: none;
  margin: 10px 0;
  padding: 0;
  text-align: left;
  label {
    line-height: 1.3;
  }
}
.button,
.gem-polls a,
.search__submit,
button,
input[type=submit] {
  background: #412a83;
  color: #ffed00;
  font-family: $font-family-TwCentBold;
  &:hover, &:active {
    color: #fff;
  }
}
