
.footer-languages {
  color: darken($colorGrey,40%);
  font-size: $font-x-medium;
  padding: 10px 0 0 9px;
}

.languages__item--active {
  color: $colorPurple;
}

.language-container {
  text-align: center;
  background-color: $colorGrey;

  a.active {
    color: $colorPurple;
  }
}
