.surveys {
  &__title {
      font-family: $font-family-zathu;
      font-weight: normal;
  }

  &__intro {
      font-family: $font-family-default;
  }

  &__form {
      padding: 24px 16px;
      background-color: $colorWhiteSmoke;

      label {
        color: $colorPurple;
      }

      fieldset {
        ul {
          margin: 15px 0;
        }
      }
  }

  &__tout {
    background-color: $colorYellow;
    color: $colorPurple;
    margin: 0 0 24px 0;
    padding: 0 16px;

    .section-title {
      h2 {
        font-family: $font-family-default;
        background-color: $colorPurple;
        color: $colorYellow;
        font-size: $font-small;
        font-weight: bold;
      }
    }

    h3 {
      font-family: $font-family-zathu;
      text-transform: uppercase;
      font-size: $font-x-large;
      font-weight: normal;
    }

    input[type=submit], .button {
      background: $colorPurple;
      color: $colorYellow;
      font-size: $font-large;
    }
  }

  &__thank-you {
      font-family: $font-family-zathu;
  }
}
