.call-to-action__item-share {
  display: block;
  margin: 5px 0;
  padding: 0 10px 0 0;
  text-align: center;
}
.call-to-action__item-share-with-image {
  text-align: left;
  text-decoration: underline;
}
.call-to-action__item-share-img {
  width: auto !important; //Incorrect use of styling tags requires Reactive force
}

.call-to-action__item-share-title {
  font-size: 13px;
  display: inline-block;
  color: #000;
  padding: 6px 5px;
  text-decoration: underline;
}

.call-to-action__item-share--footer {
  margin: 10px 0;
  padding: 0;
  .call-to-action__item-share-title {
    color: #a3a3a3;
  }
}
