.no-search-results {
  color: #a9a9a9;
}
.search {
  label {
    display: none;
  }
}

.search-results {
  display: block;
  margin: 18px 0;
  padding: 18px 0;
  overflow: auto;
  label {
      display: none;
  }
  &.article-list  {
    .search-result .text {
      .section-title {
          font-family: Arial,sans-serif;
          color: #f8af04;
          font-size: 14px;
      }
      .search--results__title {
          font-family: $font-family-zathu;
          color: #412a83;
          font-size: 20px;
          text-transform: uppercase;
      }
      }
    }
}

#search-form form {
    padding: 24px 5px;
}

#gem-footer #search-form {
  margin: 18px 0;
  label {
    display: block;
  }
  .search__submit {
    display: inline-block;
  }
  input[type="text"] {
    display: inline-block;
    width: 75%;
  }
}
