.standalone-page.your-words .section-title h2 {
  background: #B2C121;
}
.your-words {
  margin: 0 0 24px 0;
  .section-title {
    h2 {
      height: 30px;
      line-height: 30px;
      margin: 0 0 24px 0;
      text-align: center;
      background: #00b8ae;
      font-size: 12px;
      font-weight: normal;
    }
  }
  h3 {
    padding: 0 8px;
    font-size: 14px;
    margin: 0 0 24px 0;
  }
  p {
    padding: 0 8px;
    font-size: 14px;
    margin:0 0 24px 0;
  }
  img {
    width: 116px;
    margin: 0 auto 24px auto;
    display: block;
  }
  input[type=submit], .button {
    background: #fff;
    color: #ed008c;
    margin: 0 0 32px 0;
  }
}

// Check other forms, we may be able to share styles.
.your-words {
  background: #ae016d;
  color: #fff;
  text-align: center;

  form {
    margin: 0 8px;
    text-align: left;
    input[type=text] {
      width: 100%;
    }
    .options {
      text-align: left;
      margin: 0 0 24px 0;
    }
  }
}
