
@import "_m-article-preview";
@import "_m-article";
@import "_m-articles-related";
@import "_m-article-tags";
@import "_m-button";
@import "_m-comments";
@import "_m-comment-notification";
@import "_m-comment-replies";
@import "_m-form";
@import "_m-images";
@import "_m-language";
@import "_m-polls";
@import "_m-profile";
@import "_m-search";
@import "_m-section";
@import "_m-service-directory";
@import "_m-surveys";
@import "_m-your-words";
@import "_m-footer-language";
@import "_m-social-media-buttons";
@import "_m-media";

.list-inline {
	list-style: none;
  	margin: 0;
	padding: 0.5em 1em;
	> li {
		display: inline;
		border-top: none;
		border-right: none;
		border-bottom: none;
		border-left: solid 2px #ddd;
		&:first-child {
			border-left: none;
		}
	}
}

.list-plain {
	display: block;
	* {
		display: block;
	}
}

.list-block {
	> li {
		display: block;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid #ddd;
		border-left: none;
		clear: both;
	}
	a {
		padding: 0.5em 1em;
	  display: block;
	}
	h2, h3 {
		font-size: 1em;
	}
}

.list-header {
	 margin: 0;
	padding: 0.5em;
	font-size: 1em;
	line-height: 1;
	a {
		text-decoration: none;
	}
}

.header-centered {
	text-align: center;
}

// text over img

.over {
	position: relative;
	img {
		width: 100%;
	}
}

.over-text {
	position: absolute;
	right: 1em;
	bottom: 4em;
	left: 1em;
	z-index: 1;
	p:last-child {
		margin-bottom: 0;
	}
}

a.over-text {
	text-decoration: none;
}

.over {
	.link-comments {
		position: absolute;
		right: 1em;
		bottom: 1em;
		z-index: 1;
	}
}

// comments
.link-comments {
	line-height: 3;
}
