
//SECTION NAVIGATION
.section-nav-list {
  &__item {
    padding: 5px 15px 2px 0;
    &:last-child {
      padding-right: 0;
    }
  }
  &__anchor {
    border-bottom: 2px solid $springster-purple;
    text-decoration: none;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    &:hover {
      text-decoration: none;
    }
  }
}
