.yourwords {
  .identity-image--yourwords {
    //Yourwords Icon
    background: url('/static/img/icons/header-icons.png') no-repeat 0 0/contain;
    padding: 2px 5px;
    height: 88px;
    width: 100px;
    position: absolute;
    left: 53%;
    margin-left: -50px
  }
}

.yourwords--call-to-action {
  .identity-image--yourwords {
    left: 57%;
    margin-left: -50px
  }
  .yourwords__container {
    padding: 45px 0 8px;
    margin-top: 40px;
  }
}
