{% load wagtailcore_tags wagtailimages_tags %}
<div class="banner">
{% if bannerpages %}
  {% if bannerpages.banner %}
  {% image bannerpages.banner width-360 as tmp_photo %}
    {% if bannerpages.banner_link_page %}
      <a href="{% pageurl bannerpages.banner_link_page %}" target="_top" class="banner__item-link">
      <img src="{{ tmp_photo.url }}" alt="{{ bannerpage.title }}" class="banner__image"/>
      </a>
    {% elif bannerpages.external_link %}
      <a href="{{ bannerpages.external_link }}" target="_blank" class="banner__item-link">
      <img src="{{ tmp_photo.url }}" alt="{{ bannerpages.title }}" class="banner__image"/>
      </a>
    {% else %}
      <img src="{{ tmp_photo.url }}" alt="{{ bannerpages.title }}" class="banner__image"/>
    {% endif %}
	{% endif %}
{% endif %}
</div>
