{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags %}

{% block content %}

<div class="title {{self.get_parent_page.get_effective_extra_style_hints}}">
  <div class="icon">
    {% if self.get_parent_page.get_effective_image %}
      {% image self.get_parent_page.get_effective_image width-98 as tmp_photo %}
      <img src="{{ tmp_photo.url }}" alt="{{ self.get_parent_page.get_effective_image.title }}"/>
    {% endif %}
  </div>
  </div>

<div class="block {{self.get_parent_page.get_effective_extra_style_hints}}">
  <h3>{{self.title}}</h3>
  <p>{{self.subtitle}}</p>
  <br>
  <div class="yourwords centent">
    {% for block in self.body %}
        {% if block.block_type == 'heading' %}
            <h5>{{ block.value }}</h5>
        {% else %}
        {% if block.block_type == 'image' %}
          {% image block.value width-320 %}
        {% else %}
        {% if block.block_type == 'numbered_list' %}
          <ol>
          {% for item in block.value %}
            <li>{{item}}</li>
          {% endfor %}
          </ol>
        {% else %}
        {% if block.block_type == 'list' %}
          <ul>
          {% for item in block.value %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
        {% else %}
            {{ block }}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
    {% endfor %}
</div>
  <a href="{% url 'molo.yourwords:competition_entry' self.get_parent_page.slug %}" class="button inverted">{% trans "BACK" %}</a>
</div>
{% endblock %}
