{% extends "base.html" %}
{% load wagtailimages_tags static %}

{% block content %}
<div class="standalone-page your-words {{ competition.get_effective_extra_style_hints }}">
    <div class="section-title">
      <h2>{% trans "Share your story" %}</h2>
    </div>

    <h3>{{ competition.title }}</h3>
    <p>{{ competition.description }}</p>

    <img src="{% static 'img/Pencil.png' %}" />

    <div class="content">
      {% for block in competition.content %}
          {% if block.block_type == 'heading' %}
              <h5>{{ block.value }}</h5>
          {% else %}
          {% if block.block_type == 'image' %}
            {% image block.value width-320 %}
          {% else %}
          {% if block.block_type == 'numbered_list' %}
            <ol>
            {% for item in block.value %}
              <li>{{item}}</li>
            {% endfor %}
            </ol>
          {% else %}
          {% if block.block_type == 'list' %}
            <ul>
            {% for item in block.value %}
              <li>{{item}}</li>
            {% endfor %}
          </ul>
          {% else %}
              {{ block }}
          {% endif %}
          {% endif %}
          {% endif %}
          {% endif %}
      {% endfor %}
    </div>

    <form method="post">
      {% csrf_token %}

      {% if form.story_name.errors %}
      <p class="alert-error">* {{form.story_name.errors|join:' '}}</p>
      {% endif %}

      <label>{% trans "Title of your story" %}</label><br/>
      <p>{{ form.story_name }}</p>

      {% if form.story_text.errors %}
        <p class="alert-error" >* {{form.story_text.errors|join:' '}}</p>
      {% endif %}
      <label>{% trans "Tell us your story here" %}</label>
      <p>{{ form.story_text }}</p>

      <div class="options">
        <div>
          {% if form.terms_or_conditions_approved.errors %}
          <p class="alert-error">* {{form.terms_or_conditions_approved.errors|join:' '}}</p>
          {% endif %}
          {{ form.terms_or_conditions_approved }}
          <label>{% trans "I accept the terms and conditions" %}</label>
        </div>

        <div >
          {{ form.hide_real_name }}
          <label>{% trans "Share my story anonymously" %}</label>
        </div>
      </div>

      <input type="submit" value="{% trans "Submit Your Story" %}"/>

    </form>
    
  </div>
</div>
{% endblock %}
