
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if articles %}
<div class="articles latest-articles nav">
  {% for page in articles %}
  <ul class="list-block">
    <li>
      {% if page.image %}
      <a href="{% pageurl page %}" class="home-article-img">{% image page.image width-320 %}</a>
      {% endif %}
      <p class="home-section-url"><a href="{% pageurl page.get_parent_section %}">{{ page.get_parent_section }}</a></p>
      <h3 class="featured-title"><a href="{% pageurl page %}">{{page.title}}</a></h3>
      <p class="sub-title">{{page.subtitle}}</p>
      <div class="see-more-container featured-only">
        <a href="{% pageurl page %}" class="see-more">Read More</a>
      </div>
    </li>
  </ul>
  <div class="featured-article-ribbon"></div>
  {% endfor %}
</div>
{% endif %}