{% load wagtailcore_tags wagtailcore_tags wagtailimages_tags compress static wagtailuserbar core_tags i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% compress css %}
          <link rel="stylesheet" type="text/x-scss" href="{% static 'css/style.scss' %}">
          <link rel="stylesheet" type="text/x-scss" media="screen and (min-width: 320px)" href="{% static 'css/enhanced.scss' %}">
        {% endcompress %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <div id="gem-header">
            <a id="logo" href="/">
              <img src="{% static 'img/logo.png' %}" width="120" height="27" alt="Girl Effect" />
            </a>
            <a href="#feature-menu">{% trans "Menu" %}</a>
            {% if not user.is_authenticated %}
            <a href="{% url 'molo.profiles:user_register' %}">{% trans "Log in" %}</a>
            {% else %}
            <a href="{% url 'molo.profiles:view_my_profile' %}">{% trans "Profile" %}</a>
            {% endif %}
            <a href="{% url 'search' %}">
              <img src="{% static 'img/search_white.png' %}" width="16" height="16" alt="Search" />
            </a>
        </div>

        {% if languages|length > 1 %}
        <div class="language-container">
          {% for language in languages %}
          <a href="{% url 'locale_set' language.code %}">{{language.title}}</a>
          {% endfor %}
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <div class="back-to-top">
          <a href="#gem-header">{% trans "Back to Top" %}</a>
        </div>

        {% block footer %}
          <div class="teal-ribbon"></div>
          <div id="gem-footer">
            <ul class="sections">
              <li><a href="/">{% trans "Home" %}</a></li>
              {% for section in language_page.sections %}
                <li class="{{section.get_effective_extra_style_hints}}">
                  <a href="{% pageurl section %}">
                      {{section.title}}
                  </a>
                </li>
              {% endfor %}
              {% if language_page.footers %}
                {% for page in language_page.footers %}
                  <li><a href="{% pageurl page %}">{{page.title}}</a></li>
                {% endfor %}
              {% endif %}
              {% if not user.is_authenticated %}
                <li><a href="{% url 'molo.profiles:user_register' %}"><span >{% trans "Log in" %}</span ></a></li>
              {% else %}
                <li><a href="{% url 'molo.profiles:view_my_profile' %}"><span >{% trans "Profile" %}</span ></a></li>
              {% endif %}
            </ul>
            {% block search %}
              {% include "search/search_block.html" %}
            {% endblock %}
            <a name="feature-menu"></a>

            <div id="footer-bar">
                <p>@{% now "Y" %}  Girl Effect. {% trans "All Rights Reserved." %}</p>
            </div>
          </div>
        {% endblock %}
        {% wagtailuserbar %}
    </body>
</html>
