
{% load wagtailcore_tags wagtailcore_tags wagtailimages_tags compress static wagtailuserbar core_tags i18n %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        {% compress css %}

            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/style.scss' %}">
            <link rel="stylesheet" type="text/x-scss" media="screen and (min-width: 20em)" href="{% static 'css/enhanced.scss' %}">
        {% endcompress %}

        {% block extra_css %}

        {% endblock %}

        <script type="text/javascript">
          WebFontConfig = {
            google: { families: [ 'Exo+2:400,700:latin' ] }
          };
          (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })();

          /*! loadJS: load a JS file asynchronously. [c]2014 @scottjehl, Filament Group, Inc. (Based on http://goo.gl/REQGQ by Paul Irish). Licensed MIT */
        function loadJS( src, cb ){
          "use strict";
          var ref = window.document.getElementsByTagName( "script" )[ 0 ];
          var script = window.document.createElement( "script" );
          script.src = src;
          script.async = true;
          ref.parentNode.insertBefore( script, ref );
          if (cb && typeof(cb) === "function") {
            script.onload = cb;
          }
          return script;
        }

        // cut the mustard
        if('querySelector' in document && 'localStorage' in window && 'addEventListener' in window) {
          loadJS( "{% static 'js/main.js' %}" );
        }
        </script>
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar %}

        {% if languages %}
        <ul class="language-container">
            {% for language in languages %}
            <li><a href="{% url 'locale_set' language.code %}">{{language.title}}</a></li>
            {% endfor %}
            <div class="clear-fix"></div>
        </ul>
        {% endif %}


        <div id="gem-header">
            <div id="logo"></div>
            <div id="menu">
                <ul>
                  <li><a href="#feature-menu">{% trans "Menu" %}</a></li>
                  {% if not user.is_authenticated %}
                    <li class="enhanced"><a href="{% url 'molo.profiles:user_register' %}"><span >{% trans "Log in" %}</span ></a></li>
                  {% else %}
                    <li class="enhanced"><a href="{% url 'molo.profiles:view_my_profile' %}"><span >{% trans "Profile" %}</span ></a></li>
                  {% endif %}
                </ul>
            </div>
            <div class="clear-fix"></div>
        </div>
        <!-- /feature-menu -->

        {% block content %}{% endblock %}
        <a class="back-to-top featured" href="#gem-header">back to top</a>

        {% block extra_js %}
        {% endblock %}

        {% block footer %}
          {% load wagtailcore_tags wagtailimages_tags %}
          <div id="gem-footer">
            <span class="title">{% trans "MENU" %}</span>
            <ul class="sections">
              {% for section in language_page.sections %}
                <li class="{{section.get_effective_extra_style_hints}}">
                  {%image section.banner %}
                  <a href="{% pageurl section %}">
                      {% if section.image %}
                      {% image section.image width-60 as tmp_photo %}
                        <img src="{{ tmp_photo.url }}" alt="{{ section.image.title }}"/>
                      {% endif %}
                      {{section.title}}
                  </a>
                </li>
              {% endfor %}
            </ul>
            {% if language_page.footers %}
              <ul class="menu">
                <li><a href="/">{% trans "Home" %}</a></li>
                {% for page in language_page.footers %}
                  <li><a href="{% pageurl page %}">{{page.title}}</a></li>
                {% endfor %}
                {% if not user.is_authenticated %}
                  <li><a href="{% url 'molo.profiles:user_register' %}"><span >{% trans "Log in" %}</span ></a></li>
                {% else %}
                  <li><a href="{% url 'molo.profiles:view_my_profile' %}"><span >{% trans "Profile" %}</span ></a></li>
                {% endif %}
              </ul>
            {% endif %}
            {% block search %}
              {% include "search/search_block.html" %}
            {% endblock %}
            <a name="feature-menu"></a>
            <div id="footer-bar">
                <p>@{% now "Y" %}  Girl Effect. {% trans "All Rights Reserved." %}</p>
            </div>

          </div>

        {% endblock %}
    </body>
</html>

