<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Site Under Maintenance</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/maintenance.css">
  </head>
  {% if SITE_LAYOUT_BASE == "springster" %}
      <body class="springster">
        <div class="text-container">
          <div class="branding">
            <img class="brand-logo"src="{{ STATIC_URL }}img/logos/springster.svg">
          </div>
          <div class="text-body">
            <img class="brand-icon"src="{{ STATIC_URL }}img/icons/springster-maintenance.svg">
            <div class="text-copy">
              <p>Hey Springsters!</p>
              <p>Sorry you can't access the site right now - we're busy making it even more awesome for you! Please come back later for more stories and inspiration by girls for girls just like you.</p>
              <p>Look forward to seeing you soon!</p>
            </div>
            <hr>
            <div class="text-copy">
              <p>Hei Springsters!</p>
              <p>Untuk saat ini website kami tidak bisa diakses - kami sedang mengembangkannya untuk jadi lebih baik lagi! Harap kembali lain kali untuk lebih banyak cerita dan inspirasi buat cewek-cewek seperti kalian.</p>
              <p>Sampai nanti, ya!</p>
            </div>
            <hr>
            <div class="text-copy">
              <p>Hello mga Springster!</p>
              <p>Pasensiya na at hindi niyo muna ma-aacess ang website. Pinapaganda pa namin to para sa inyo! Balik na lang uli kayo next time para sa mas maraming kwento at inspirasyon.</p>
              <p>Kitakits</p>
            </div>
            <hr>
            <div class="text-copy">
              <p>Hello mga Springster!</p>
              <p>Pasensiya na at hindi niyo muna ma-aacess ang website. Pinapaganda pa namin to para sa inyo! Balik na lang uli kayo next time para sa mas maraming kwento at inspirasyon.</p>
              <p>Kitakits</p>
            </div>
            <hr>
            <div class="text-copy font-fallback">
              <p>ហេ Springsters!</p>
              <p>សូមអភ័យទោស ឥឡូវនេះអ្នកមិនអាចចូលដំណើរការគេហទំព័រនេះបានទេ យើងខ្ញុំកំពុងជាប់រវល់រៀបចំវាឱ្យកាន់តែមានដំណើរការល្អថែមទៀតសម្រាប់អ្នក!</p>
              <p>សូមត្រវិលឡប់មកវិញនៅពេលក្រោយដើម្បីទទួលបានរឿងរ៉ាវជាច្រើន និងការបំផុសគំនិតពីក្មេងស្រីៗដូចអ្នកផងដែរ។</p>
              <p>រង់ចាំជួបអ្នកក្នុងពេលឆាប់ៗនេះ!</p>
            </div>
            <hr>
            <div class="text-copy" dir="rtl">
            <p>مرحبًا فتيات مجتمع Springsters! معذرةً، لا يمكنكن الدخول إلى الموقع الآن - فنحن نعمل على جعله أكثر روعة من أجلكن! يُرجى العودة لاحقًا لمزيد من القصص والإلهام من فتيات لفتيات مثلكن تمامًا. نتطلع إلى رؤيتكن قريبًا!</p>
            </div>
            <hr>
            <div class="text-copy">
              <p>Olá Springsters!</p>
              <p>Pedimos desculpas por vocês não conseguirem acessar nosso site agora. Estamos ocupados para que ele fique ainda mais incrível para vocês! Voltem mais tarde para ler mais histórias e inspirações de meninas para meninas como vocês.</p>
              <p>Esperamos vocês em breve!</p>
            </div>
            <hr>
            <div class="text-copy">
              <p>¡Hola Springsters!</p>
              <p>Lamentamos que no puedan acceder al sitio en este momento. Estamos trabajando para que sea aún más deslumbrante! Regresen más tarde para ver más historias e inspiración de niñas para niñas como ustedes.</p>
              <p>¡Esperamos verlas pronto!</p>
            </div>
            <hr>
            <div class="text-copy">
              <p>Salut les Springsters !</p>
              <p>Nous sommes désolés que vous ne puissiez pas accéder au site maintenant : nous sommes en train de le rendre encore plus génial pour vous ! Veuillez revenir plus tard pour plus d’histoires et d’inspiration par et pour les filles comme vous.</p>
              <p>Nous avons hâte de vous revoir bientôt !</p>
            </div>
            <hr>
            <div class="text-copy font-fallback">
              <p>হে Springsters!</p>
              <p>দুঃখিত তোমরা এই মুহূর্তে সাইট অ্যাকসেস করতে পারো না – আমরা এটা তোমাদের জন্য আরো আকর্ষণীয় করার জন্য ব্যস্ত! অনুগ্রহ করে পরে ফিরে এসো ঠিক তোমাদের মতো মেয়েদের দ্বারা আরো কাহিনি এবং অনুপ্রেরণার জন্য।</p>
              <p>শীঘ্রই তোমাদের সঙ্গে দেখা হওয়ার দিকে তাকিয়ে আছি!</p>
            </div>
            <hr>
            <div class="text-copy font-fallback">
              <p>Привет, Springsters!</p>
              <p>Очень жаль, что ты сейчас не можешь зайти на сайт – мы работаем над тем, чтобы сделать его еще лучше для тебя! Пожалуйста, возвращайся немного позже, и ты найдешь здесь еще больше историй и вдохновения от девушек и для девушек, таких же, как ты.</p>
              <p>С нетерпением ждем тебя снова на наших страницах!</p>
            </div>
            <hr>
            <div class="text-copy">
              <p>Enyi Springsters!</p>
              <p>Tunaomba radhi kuwa huwezi kutembelea tovuti kwa sasa – tumebanwa na kazi ya kuifanya iwe ya kuvutia zaidi kwa ajili yako! Tafadhali rejea badaye kwa ajili ya simulizi zaidi na vitu vya kusisimua vya wasichana kwa ajili ya wasichana kama wewe.</p>
              <p>Tunatumai tutakuona hivi karibuni!</p>
            </div>
            <hr>
            <div class="text-copy font-fallback">
              <p>สวัสดี ชาว Springsters!</p>
              <p>ขอโทษด้วยที่คุณไม่สามารถเข้าเว็บไซต์ได้ในตอนนี้ – เรากำลังยุ่งอยู่กับการปรับปรุงให้เว็บไซต์ดีขึ้นไปอีก! โปรดกลับมาในภายหลังเพื่ออ่านเรื่องราวเพิ่มเติมและรับแรงบันดาลใจจากสาว ๆ เพื่อสาว ๆ เช่นคุณ</p>
              <p>เรารอคอยที่จะพบคุณอีกครั้งในเร็ว ๆ นี้!</p>
            </div>
            <hr>
            <div class="text-copy font-fallback" dir="rtl">
              <p>ہائی Springsters!</p>
              <p>معذرت خواہ ہیں، آپ فی الوقت اس سائٹ تک رسائی حاصل نہیں کر سکتے - ہم اسے آپ کے لیے مزید دلکش بنانے میں مصروف ہیں! براہ کرم آپ کی جیسی دوشیزاؤں کے لیے دوشیزاؤں کی طرف سے مزید سٹوریز اور تحریک پانے کے لیے بعد میں دوبارہ تشریف
              لائیں۔</p>
              <p>آپ کو بہت جلد دوبارہ دیکھنے کے منتظر ہیں!</p>
            </div>
            <hr>
            <div class="text-copy font-fallback">
              <p>Springster တို႔ေရ!</p>
              <p>ဒီဆိုဒ္ကို ဝင္လို႔မရႏိုင္ေသးတာစိတ္မေကာင္းပါဘူး- သင့္အတြက္ ပိုၿပီးမိုက္ေအာင္လုပ္ေနလို႔ မအားဘူးျဖစ္ေနတာပါ! မိန္းကေလးေတြမွ သင့္လိုမိန္ကေလးေတြဖို႔ ပံုျပင္အသစ္ေတြနဲ႔ စိတ္ဝင္စားဖို႔ေကာင္းတာေတြအတြက္ ေက်းဇူးျပဳၿပီး ခဏေနမွျပန္လာေပးပါ။</p>
              <p>မၾကာခင္ သင္နဲ႔ေတြ႕ဖို႔ ေမွ်ာ္ေနမယ္ေနာ္!</p>
            </div>
            <hr>
            <div class="text-copy font-fallback">
              <p>Chào Springsters!</p>
              <p>Xin lỗi vì bạn không thể truy cập vào trang lúc này – chúng tôi đang cố gắng để giúp trang này thậm chí còn tuyệt vời hơn cho bạn! Xin hãy quay trở lại sau để đọc thêm nhiều câu truyện và lấy cảm hứng bởi các bạn gái cho bạn gái như chính các bạn.</p>
              <p>Mong sớm được thấy các bạn!</p>
            </div>
            <hr>
          </div>
        </div>
        <div class="footer">
          <p class="copyright">&copy; Springster. All Rights Reserved.</p>
        </div>
      </body>
  {% elif SITE_LAYOUT_BASE == "base" and SITE_LAYOUT_2 == "malawi" %}
    <body class="malawi">
      <div class="text-container">
        <div class="branding">
          <img class="brand-logo"src="{{ STATIC_URL }}img/logos/zathu.png">
        </div>
        <div class="text-body">
          <img class="brand-icon"src="{{ STATIC_URL }}img/icons/zathu-maintenance.png">
          <div class="text-copy">
            <p>Dear Zathu Fans,</p>
            <p>Sorry you cannot access this site at the moment, because we want to make it more and more exciting for you. Please come back again and you will find more music and exciting stories.</p>
            <p>Looking forward to seeing you again.</p>
          </div>
          <hr>
          <div class="text-copy">
            <p>Okondedwa Anzake a Zathu,</p>
            <p>Pepani simungathe kugwilitsa ntchito tsambali pakanali pano, chifukwa tikupitiliza kulikonza kuti likhale losangalatsa kwambili. Chonde iyeseninso nthawi ina kuti mupeze nyimbo komanso nkhani zosangalatsa pa tsambali.</p>
            <p>Zikomo kwambili.</p>
          </div>
          <hr>
        </div>
      </div>
      <div class="footer">
        <p class="copyright">&copy; Zathu. All Rights Reserved.</p>
      </div>
    </body>
  {% else %}
    <body>
      <div class="text-container">
        <div class="branding">
          <img class="brand-logo"src="{{ STATIC_URL }}img/logos/logo_rwanda.png">
        </div>
        <div class="text-body">
          <img class="brand-icon"src="{{ STATIC_URL }}img/icons/gem-maintenance.png">
          <div class="text-copy">
            <p>Hello Ni Nyampinga!</p>
            <p>Sorry you can't access the site right now - we're busy making it even more awesome for you! Please come back later for more inspiring stories.</p>
            <p>Look forward to seeing you soon!</p>
          </div>
          <hr>
          <div class="text-copy">
            <p>Muraho Ni Nyampinga!</p>
            <p>Uru rubuga ntirushoboye kuboneka- Turimo turarukora neza, tunongeramo ibintu bishya! Mwongere mugaruke nyuma, murasangaho inkuru nyinshi nziza.</p>
          </div>
          <hr>
        </div>
      </div>
      <div class="footer">
        <p class="copyright">&copy; Girl Effect. All Rights Reserved.</p>
      </div>
    </body>
  {% endif %}
</html>