{% load wagtailcore_tags gem_tags personalise_extras i18n %}

{% if user.is_authenticated and user.is_active or request.is_preview or survey.allow_anonymous_submissions %}
    <div class="surveys surveys--call-to-action">
        <div class="identity-image identity-image--survey"></div>
        {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=survey.title %}
        {% trans "Take Survey" as buttontext %}
        {% with trans_buttontext=survey.homepage_button_text|default:buttontext %}
            {% pageurl survey as the_url %}
            {% include "patterns/basics/buttons/sp_variations/button.html" with type="primary" hyperlink=the_url text=trans_buttontext %}
        {% endwith %}
    </div>
{% else %}
    {% include "patterns/components/banners/join-banner.html" %}
{% endif %}
