.yourwords--call-to-action {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.polls--call-to-action {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.surveys--call-to-action {
  padding: 10px 8px 8px;
}

.reaction-questions-success__block {
    .call-to-action {
      display: inline-block;
      background: transparent;
      .call-to-action__nav-item-text {
        padding: 0 35px;
      }
    }
}

.media-player__content {
    .call-to-action__button--yellow {
      margin: 18px 0 0;
      max-width: inherit;
    }
}


//Comments buttons
//Why should this be here?
.call-to-action__nav-item {
    &-text {
        &--report {
          @include font($baton-regular);
          text-align: left;
          display: inline-block;
          text-decoration: underline;
          text-transform: capitalize;
          font-size: $font-xxx-small;
          color: $cool-grey;
        }
        &--response,
        &--replies {
            display: inline-block;
        }
        &--readmore {
          text-align: left;
          color: $cool-grey;
          padding: 5px 10px;
        }
    }
    &--replies-counter {
      @include font($baton-regular);
      font-size: $font-x-small;
      color: $cool-grey;
      text-decoration: none;
      float: right;
      font-weight: bold;
      display: inline-block;
      cursor: unset !important;
    }
}
