.call-to-action {
  position: relative;
  padding: 20px 0 18px 0;
}

.call-to-action__nav-item,
.call-to-action__item {
  cursor: pointer;
  font-size: 14px;
  padding: 10px 5px 0 0;
  margin: 10px 0;
  background: none;
  border: none;
  color: $springster-purple;
  display: block;
  font-weight: 700;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
  @media screen and (min-width: 320px) {
    background: #000;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
  }
  [data-direction~="right"]:before,
  [data-direction~="left"]:after {
    color: #fff;
  }
}

.call-to-action__hyperlink {
  font-family: $baton-medium;
  font-size: $font-x-small;
  text-transform: uppercase;
  text-decoration: underline;
}

/*
  Back/ Forward directional
  Home
*/
.call-to-action__item--text {
  font-family: $baton-medium;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  color: $springster-purple;
  position: relative;
  &:hover {
    color: $black;
  }
}
.call-to-action__item-text-upper {
  background: none;
  text-transform: uppercase;
  color: #000;
  @media screen and (min-width: 320px) {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
    color: #686A6B;
  }
}

/*
  Login
  Submit
  Reset
*/
.call-to-action__item-primary {
  display: block;
  margin: 5px 10px;
}

.call-to-action__item--secondary {
  font-weight: bold;
  @media screen and (min-width: 320px) {
    background: #fff;
    border: 1px solid #017AF5;
    color: blue;
    text-align: center;
    text-decoration: none;
    color: #017AF5;
  }
  &:hover {
    border-color: #686A6B;
  }
}

.call-to-action__item-primary {
  display: block;
  margin: 5px 10px;
}


[data-direction~="right"]  {
  &:after {
    display: inline-block;
    padding-left: 10px;
    text-decoration: none !important;
    @media only screen and (min-width: 320px) {
      content: ">";
    }
    @media only screen and (min-width: 490px) {
      content: "❯";
    }
  }
}
[data-direction~="left"]  {
  &:before {
    display: inline-block;
    padding-right: 10px;
    text-decoration: none !important;
    @media only screen and (min-width: 320px) {
      content: "<";
    }
    @media only screen and (min-width: 490px) {
       content: "❮";
    }
  }
}

[data-state~="disabled"] {
  font-weight: bold;
  background-color: #D7DBDD;
}

// TODO: create mixin for buttons
.call-to-action__button {
  text-align: center;
  display: block;
}

.call-to-action__button--primary, .call-to-action__button--secondary  {
  background-image: url('/static/img/buttons/button-sprite.png');
  background-size: 1870px 334px;
}

.call-to-action__button--primary {
  border: none;
  color: $white;
  font-family: $baton-medium;
  font-size: $font-small;
  
  margin: 16px auto;
  width: 140px;
  height: 40px;
  background-position: -792px -123px;

  @media only screen and (min-width: 240px) {
    width: 185px;
    height: 41px;
    background-position: -607px -82px;
  }
  @media only screen and (min-width: 280px) {
    width: 263px;
    height: 42px;
    background-position: -344px -40px;
  }
  @media only screen and (min-width: 360px) {
    width: 344px;
  	height: 40px;
  	background-position: 0 0;
  }
}

.call-to-action__button--secondary {
  margin: 16px auto;
  width: 142px;
  height: 42px;
  background-position: -1728px -292px;
  @media only screen and (min-width: 240px) {
    width: 186px;
    height: 43px;
    background-position: -1542px -249px;
  }
  @media only screen and (min-width: 280px) {
    width: 264px;
    height: 44px;
    background-position: -1278px -205px;
  }
  @media only screen and (min-width: 360px) {
    width: 346px;
    height: 42px;
    background-position: -932px -163px;
  }
}

.call-to-action__button--yellow {
  background: url('/static/img/buttons/button-yellow.png') no-repeat 50%/contain;
  margin: 8px;
  max-width: 119px
}

.call-to-action__button-text {
  font-family: $baton-medium;
  font-size: $font-small;
  color: $white;
  padding: 10px;
  display: inline-block;
}
// default user agent style overides for input
input.call-to-action__button-text{
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  display: block;
}

.call-to-action__button-text--primary {
  color: $white;
}

.call-to-action__button-text--secondary {
  color: $springster-purple;
}

.call-to-action__button-text--disabled {
  color: $cool-grey;
}

.call-to-action__button-text--hyperlink {
  font-size: $font-x-small;
  color: $springster-purple;
  text-transform: uppercase;
  text-decoration: underline;
}

.call-to-action__button-text--yellow {
  color: $springster-purple;
}
