
.call-to-action--wide-back {
  padding: 0;
  background-color: $springster-purple-light;
}

.call-to-action__nav-item-text {
  font-family: $baton-medium;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  color: $springster-purple;
  position: relative;
  display: block;
  text-align: center;
}

//For text and non text [call-to-action__nav-item]
.call-to-action__nav-item-text--right,
.call-to-action__nav-item-text--left {
  &:after {
    background-size:auto;
    position: absolute;
  }
}
.call-to-action__nav-item-text--right {
  &:after {
    content: url("/static/img/icons/next.svg");
    height: 14px;
    width: 16px;
    position: absolute;
    top: 0;
    margin-left: 10px;
  }
}
.call-to-action__nav-item-text--left {
  text-align: left;
  &:after {
    content: url("/static/img/icons/back.svg");
    height: 14px;
    width: 16px;
    position: absolute;
    top: 0;
    margin-left: 10px;
  }
}

