.call-to-action__nav-item-share {
    &--twitter {
      background-image: url("/static/img/icons/twitter.png");
      background-image: url("/static/img/icons/twitter.svg"),
        linear-gradient(transparent, transparent);
      background-repeat: no-repeat;
      height: 24px;
      width: 24px;
      display: inline-block;
      vertical-align: middle;
    }

    &--facebook {
      background-image: url("/static/img/icons/facebook.png");
      background-image: url("/static/img/icons/facebook.svg"),
          linear-gradient(transparent, transparent);
      background-repeat: no-repeat;
      height: 24px;
      width: 24px;
      display: inline-block;
      vertical-align: middle;
    }

    &--bbm {
      background-image: url("/static/img/icons/bbm-share.png");
      background-image: url("/static/img/icons/bbm-share.svg"),
          linear-gradient(transparent, transparent);
      background-repeat: no-repeat;
      height: 21px;
      width: 70px;
      display: inline-block;
      vertical-align: middle;
       margin: 20px 30px 0 0; //This was added on footer?
      .social-media-footer__label {
        margin-left: 30px;
      }
    }
}
