.call-to-action__button-text {
    cursor: pointer;
    font-size: $font-small;
    color: #fff;
    padding: 8px 0 0;
    display: block;
    border-radius: 5px;
    &--primary,
    &--secondary,
    &--hyperlink {
        color: #fff;
        background-color: $springster-purple;
    }
    &--disabled {
        color: $cool-grey;
    }
    &--hyperlink {
      background: transparent;
      font-size: $font-x-small;
      color: $springster-purple;
      text-transform: uppercase;
      text-decoration: underline;
    }
}
