.call-to-action__nav-item-share {
    &--twitter {
      background: url("/static/img/social_icons.png") -138px -10px no-repeat;
      background: url("/static/img/icons/twitter.svg") center no-repeat,
        linear-gradient(transparent, transparent);
      height: 24px;
      width: 24px;
      display: inline-block;
      vertical-align: middle;
    }
    &--facebook {
      background: url("/static/img/social_icons.png")  -138px -54px no-repeat;
      background: url("/static/img/icons/facebook.svg") center no-repeat,
          linear-gradient(transparent, transparent);
      height: 24px;
      width: 24px;
      display: inline-block;
      vertical-align: middle;
    }
    &--bbm {
      background: url("/static/img/social_icons.png") -10px -76px no-repeat;
      background: url("/static/img/icons/bbm-share.svg") no-repeat,
          linear-gradient(transparent, transparent);
      height: 21px;
      width: 70px;
      display: inline-block;
      vertical-align: middle;
       margin: 5px auto 0;
      .social-media-footer__label {
        margin-left: 30px;
      }
    }
}
