//Form input could not be overridden by class - hence the id
#search__input-standard {
  border-radius: 0;
  border: 1px solid #000;
}
#input__semi-round {
  border-radius: 5px;
}
#input__round {
  border-radius: 20px;
}
#input__none {
  border-radius: 0;
}
//Search submit icon
.call-to-action__nav-item--with-icon,
.call-to-action__item--with-icon {
  color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 14px;
  padding: 5px  ;
  text-decoration: underline;
  text-transform: uppercase;
  @media screen and (min-width: 240px) {
    text-indent: -99em;
    height: 21px;
    width: 21px;
    position: absolute;
    right: 10%;
    top: 0;
  }
}
.call-to-action__nav-item--search-icon,
.call-to-action__item--search-icon {
  display: block;
  @media screen and (min-width: 240px) {
    background: url('../../img/search.svg') no-repeat 100% 0 / auto 98%;
    right: 0;
    margin-right: 8px;
  }
}
.call-to-action__nav-item--search-icon-bg,
.call-to-action__item--search-icon-bg {
  border-radius: 0;
  @media screen and (min-width: 240px) {
    background: #000 url('/static/img/icons/search_white.svg') no-repeat 12px 10px / auto 60%;
    right: 10%;
    top: 10px;
    height: 39px;
    width: 45px;
  }
}


.call-to-action__item--search {
  background: #fff;
  color: #666666;
  border: 1px solid #D0D0D0;
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
  padding: 5px;
}
