.call-to-action--wide-back {
  padding: 0;
  background: #F1E5FF;
}

.call-to-action__nav-item-text {
  padding: 10px 60px;
  font-family: $baton-medium;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  color: $springster-purple;
  display: block;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

//For text and non text [call-to-action__nav-item]
.call-to-action__nav-item-text--right,
.call-to-action__nav-item-text--left {
  &:after {
    display: block;
    background-size:auto;
    position: absolute;
  }
}
.call-to-action__nav-item-text--right {
  &:after {
    content: url("/static/img/icons/next.svg");
    top: 40%;
    right: 25%;
  }
}
.call-to-action__nav-item-text--left {
  text-align: left;
  &:after {
    content: url("/static/img/icons/back.svg");
    top: 30%;
    left: 10%;
  }
}
