/*Where is this used?*/
.call-to-action-text {
  cursor: pointer;
  font-size: $font-small;
  color: #fff;
  padding: 8px 0 0;
  display: block;
  border-radius: 5px;
  &--primary,
  &--secondary {
      background-color: $springster-purple;
      color: $white;
  }
  &--hyperlink {
    background: transparent;
    color: $springster-purple;

    font-size: $font-x-small;
    text-transform: uppercase;
    text-decoration: underline;
  }
  &--yellow {
    color: $springster-purple;
    background-color: $sunny-yellow;
    padding: 8px 0;
  }
}
