.gcn-competition {
    padding: 0 0 10px;
    border-top: 4px solid #edf0f2;
    border-bottom: 4px solid #edf0f2;
    .heading__component {
        padding-top: 0;
    }
    &__image {}
    &__dynamic {
        width: 100%;
        height: auto;
    }
    &__default {}
    &--inner-content {

    }
}
