{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="default-container">
        <div class="title">
            <h3>{% trans "Forgot PIN" %}</h3>
        </div>
        <div class="block">
            <form method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <p class="error errorlist">
                    {% for key, errors in form.errors.items %}
                        {% for error in errors %}
                            {% trans error %}<br/>
                        {% endfor %}
                    {% endfor %}
                    </p>
                {% endif %}

                <p><strong>{% trans "Username" %}</strong></p>
                {{ form.username }}

                <p><strong>{% trans "Security question" %}</strong></p>
                <p>{% trans "Please answer the following security question." %}</p>

                <p><strong>{% trans random_security_question %}</strong></p>
                {{ form.random_security_question_answer }}

                <br>
                <input type="submit" value='{% trans "Forgot PIN" %}' />
            </form>
        </div>
    </div>
{% endblock %}
