molo.core==3.1.6
molo.profiles==1.0.0
django-contrib-comments
molo.commenting==0.4.0
molo.yourwords==1.0.1
molo.servicedirectory==2.1.0
molo.polls==2.0.2
gunicorn
psycopg2
django-modelcluster>=2.0,<3.0
