molo.forms==10.0.0
molo.core==10.0.0
molo.commenting==10.0.1
molo.pwa==10.0.0
molo.servicedirectory==10.0.0
mote-praekelt==0.1.6
mozilla-django-oidc~=1.2.2
elasticsearch>=2.0.0,<3.0.0
django-debug-toolbar
