molo.core==3.2.5
molo.profiles==1.0.1
django-contrib-comments
molo.commenting==0.4.1
molo.yourwords==1.0.2
molo.servicedirectory==2.1.0
molo.polls==2.0.3
molo.surveys==1.0.0
gunicorn
psycopg2
django-modelcluster>=2.0,<3.0
django_compressor==2.0
