@mixin pages {
  padding: 1.5em 1em 1.5em 2em;
  @include for-size(tablet-portrait-up) {
    padding: 1.5em 1em 1.5em 4em;
  }
  @include for-size(tablet-landscape-up) {
    padding: 2.5em 15% 1em;
  }
}
