//COLORS
//#76f013
$color_group: (
    greyscale: (
      main-gray         :     #7d7d7d,
      main-light-gray   :     #F2F2F2,

    ),
    brand: (
        main-green      :     #00FF00,
        main-lawn-green :     #72e912,
        main-dark-green :     #007800,
        main-pink       :     #FF00FF,
        main-purple     :     #8208FF,
        main-violet     :     #8208FF,
        main-aqua       :     #00FFFF,
        main-red-rose   :     #FF0061,
        main-red        :     #EC2308,
        //main-red        :     #ED462F,
        main-blue       :     #000FF1,
    )
);

$color-gray             :     color(greyscale, main-gray);
$color-light-gray       :     color(greyscale, main-light-gray);
$color-aqua             :     color(brand, main-aqua);
$color-green            :     color(brand, main-green);
$color-lawn-green       :     color(brand, main-lawn-green);
$color-dark-green       :     color(brand, main-dark-green);
$color-purple           :     color(brand, main-purple);
$color-violet           :     color(brand, main-violet);
$color-light-red        :     color(brand, main-red-rose);
$color-red              :     color(brand, main-red);
$color-blue             :     color(brand, main-blue);
$color-pink             :     color(brand, main-pink);
$color_loop: (
    yegna-aqua          :     $color-aqua,
    yegna-green         :     $color-green,
    yegna-purple        :     $color-purple,
    yegna-violet        :     $color-violet,
    yegna-pink          :     $color-pink,
    yegna-red-light     :     $color-light-red
);
