//COLORS
//#76f013
$color_group: (
    greyscale: (
      main-gray         :     #7d7d7d,
      main-gray-light   :     #F2F2F2,

    ),
    brand: (
        main-green      :     #72e912,
        main-lawn-green :     #76F013,
        main-dark-green :     #007800,
        main-purple     :     #ff00ff,
        main-violet     :     #8208FF,
        main-aqua       :     #00FFFF,
        main-red-rose   :     #FF0060
    )
);

$color-gray             :     color(greyscale, main-gray);
$color-gray-light       :     color(greyscale, main-gray-light);
$color-aqua             :     color(brand, main-aqua);
$color-green            :     color(brand, main-green);
$color-dark-green       :     color(brand, main-dark-green);
$color-lawn-green       :     color(brand, main-lawn-green);
$color-purple           :     color(brand, main-purple);
$color-violet           :     color(brand, main-violet);
$color-red-light        :     color(brand, main-red-rose);
