.section-page {
  &__first-column--watch {
    .article-teaser--related {
      margin: 2em 0 1em;
      .teaser-stacklist {
        &__item {
          @include for-size(tablet-landscape-up) {
            display: flex;
            align-items: center;
            margin: 0 0 2em;
          }
        }
        &__container {
          margin: 1em 0;
        }
        &__images {
          display: block;
          @media screen and (min-width: 40.000em) {
            max-height: 260px;
            max-width: 460px;
          }
          @media screen and (min-width: 45.000em) {
            display: inline-block;
            margin: 0 2em 0 0;
            width: 70%;
          }
        }
        &__anchor {
          display: block;
          @media screen and (min-width: 45.000em) {
            display: inline-block;
          }
        }
      }
    }
  }
}
