.teaser-tags {
  margin: 0;
  padding: 0;
  &__item {
    display: inline-block;
  }
  &__anchor {
    color: #000;
    font-size: $font-xx-small;
  }
  &__title {
    color: #000;
    font-size: $font-xx-small;
    margin: 0 $spacer-small 0 0;
    &:before {
      content: "#";
      display: inline-block;
    }
  }
}
