.banner {
    margin: 5px 0 0;
    &:first-child {
      margin: 0;
    }
    &__item {display: block;}
    &__image {
        display: block;
        width: 100%;
    }
    &__block {
        @include divider-combo-1;
        background-color: $springster-purple-light;
        padding: 15px 0;
        .heading {
          margin-bottom: 5px;
        }
    }
    &__subtitle {
        text-align: center;
        padding-bottom: 5px;
        color: $gunmetal;
        font-size: $font-x-small;
    }
}
