
.component-heading {
  @include zig-zag-underline;
  text-align: center;
  margin: 0 8px 28px;
  padding-top: 30px;

  h4 {
    font-family: $baton-medium;
    font-size: $font-x-large;
    text-transform: uppercase;
    color: $gunmetal;
  }
}