.softkey {
  text-align: center;
  padding: $spacer 0;
  div {
    cursor: pointer;
    color: $slate-grey;
    display: inline-block;
    font-family: $baton-medium;
    font-size: $font-x-small;
    font-weight: bold;
    padding: 0 $spacer-half;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: below;
    &:hover {
      color: $springster-purple;
    }
  }
}
