.pagination {
  background: #fff;
  text-align: center;
  padding: 35px 10px;
}
.pagination__current-page {
  font-weight: bold;
  vertical-align: middle;
}
.pagination__nav-anchor-next {
  background-image: url("/static/img/icons/next.png");
  background-image: url("/static/img/icons/next.svg"),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: 50%;
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}
.pagination__nav-anchor-previous {
  background-image: url("/static/img/icons/back.png");
  background-image: url("/static/img/icons/back.svg"),
      linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: 50%;
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

.toggle-hide {
  .pagination {
    display: none;
  }
}

.endless_page_link {
  display: block;
  text-indent: 999px;
  overflow: hidden;
}
