.reaction-questions {
  &__block {
    @include divider-combo-1;
    background-color: $springster-purple-light;
    padding: 20px 0;
  }

  &__list {
    text-align: center;
  }

  &__item {
    display: inline-block;
    margin: 0 20px;

    input {
      display: none;
    }
  }

  &__image {
    cursor: pointer;
    line-height: 80px;

    img {
      vertical-align: middle;
    }
  }

  &__label {
    @include font($baton-regular);
    font-size: $font-x-large;
    display: block;
    cursor: pointer;
  }

  &__message {
    text-align: center;
    padding: 0 10px 10px;
  }
}

.reaction-questions-success {
  &__block {
    background-color: $mint-green;
    padding-top: 20px;
    text-align: center;
    .heading__micro-alt {
      padding: 10px;
      margin: 0;
    }
  }

  &__image {
    margin: 10px;
    display: inline-block;
    img {
      vertical-align: middle;
      width: 100%;
      height: auto;
      max-width: 344px;
    }
  }
}
