body{
  font-size: $font-small;
  font-family: $baton-turbo;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $baton-medium;
  font-weight: normal;
}
.errors, .error-list__item {
  color: $red;
  font-family: $baton-medium;
  padding: 10px 15px 0;
}
.heading--xx-large {
  @include heading-fontsize-scale($heading-xx-large);
}
.heading--x-large {
  @include heading-fontsize-scale($heading-x-large);
}
.heading--large {
  @include heading-fontsize-scale($heading-large);
}
.heading--small {
  font-size: $font-small;
}
.heading--x-small {
  font-size: $font-x-small;
}
.heading--xx-small {
  font-size: $font-xx-small;
}
