{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="surveys surveys--call-to-action">
  <div class="identity-image identity-image--survey"></div>
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=self.title %} <!--self.title -->
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h4" title=self.intro %}

  {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=self.thank_you_text %}
</div>
	{% if self.show_results and results %}
  <div class="surveys--results">
    {% trans "Survey Results" as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=headingtext %}

    {% trans "Your survey has been completed successfully. Please see your submission results below." as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="macro" htmltag="h4" title=headingtext %}
    <!-- This uses the same styles as - Polls Results -->

  	{% for question, answers in results.items %}
  		<h3 class="surveys__question">{{ question }}</h3>
  		{% for answer, count in answers.items %}
  		  <div class="surveys__answer">
  			<span>{{ answer }}</span> {{ count }}
  		  </div>
  		{% endfor %}
  	{% endfor %}
  	</div>
	{% endif %}
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=request.site.root_page.url page_name="Back Home" direction="left" %}
{% endblock %}
