{% load wagtailcore_tags gem_tags wagtailimages_tags i18n personalise_extras %}

{% block content %}
<!--
    1. Differentiate Personlaised Survey by Segments vs Standard Surveys
-->
{% filter_surveys_by_segments surveys request as filtered_surveys %}
    {% for survey in filtered_surveys %}
      {% with survey=survey.molo_survey_page form=survey.form %}
        {% if survey.your_words_competition %}
            {% include "patterns/basics/surveys/surveys-list_gcn.html" %}
        {% else %}
            {% include "patterns/basics/surveys/surveys-list_generic.html" %}
        {% endif %}
      {% endwith %}
    {% endfor %}
{% endblock %}
