{% load wagtailcore_tags gem_tags i18n personalise_extras %}
{% block content %}
{% filter_surveys_by_segments surveys request as filtered_surveys %}
    {% for survey in filtered_surveys %}
        {% with survey=survey.molo_survey_page form=survey.form %}
            {% if user.is_authenticated and user.is_active or request.is_preview or survey.allow_anonymous_submission %}
            <div class="surveys surveys--call-to-action">
                <div class="identity-image identity-image--survey"></div>
                {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=survey.title %}
                <div class="heading heading__subheading">
                    <h4>{{survey.intro|smarttruncatechars:90|safe}}</h4>
                </div>
                {% trans "Take Survey" as buttontext %}
                {% with trans_buttontext=survey.homepage_button_text|default:buttontext %}
                {% pageurl survey as the_url %}
                {% include "patterns/basics/buttons/sp_variations/button.html" with type="primary" hyperlink=the_url text=trans_buttontext %}
            {% endwith %}
            </div>
            {% else %}
                {% include "patterns/components/banners/join-banner.html" %}
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endblock %}
