{% load wagtailcore_tags gem_tags i18n personalise_extras %}
{% block content %}

<!--
    1. Differentiate Personlaised Survey by Segments vs Standard Surveys
-->
{% filter_surveys_by_segments surveys request as filtered_surveys %}
    {% for survey in filtered_surveys %}
      {% with survey=survey.molo_survey_page form=survey.form %}

        {% if survey.your_words_competition %}
          <!--
              1. Display default or custom image
              2. Display color theme
              3. On Main.html - Display on separate position
              4. If User is authenticated show GCN Competition
          -->
          <div class="surveys surveys--call-to-action">
              <div class="identity-image identity-image--survey"></div>
              {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=survey.title %}
              {% trans "Take Survey" as buttontext %}
              {% with trans_buttontext=survey.homepage_button_text|default:buttontext %}
                  {% pageurl survey as the_url %}
                  {% include "patterns/basics/buttons/sp_variations/button.html" with type="primary" hyperlink=the_url text=trans_buttontext %}
              {% endwith %}
          </div>
        {% else %}
            {% if user.is_authenticated and user.is_active or request.is_preview or survey.allow_anonymous_submissions %}
                <div class="surveys surveys--call-to-action">
                    <div class="identity-image identity-image--survey"></div>
                    {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=survey.title %}
                    {% trans "Take Survey" as buttontext %}
                    {% with trans_buttontext=survey.homepage_button_text|default:buttontext %}
                        {% pageurl survey as the_url %}
                        {% include "patterns/basics/buttons/sp_variations/button.html" with type="primary" hyperlink=the_url text=trans_buttontext %}
                    {% endwith %}
                </div>
            {% else %}
                {% include "patterns/components/banners/join-banner.html" %}
            {% endif %}
        {% endif %}



      {% endwith %}
    {% endfor %}
{% endblock %}
