#footer-bar {
  .languages {
    font-size: 16px;
    color: $color-light-gray;
    text-transform: uppercase;
    background-color: #fff;
    padding: 12px 0;
    a {
      color: $color-dark-gray;
      text-decoration: underline;
      &:hover, &:visited, &:active {
        color: $color-light-gray;
      }
    }
  }
  .language-list {
    padding: 0 15px;
  }
}
