#footer-bar {
  .languages {
    font-size: 17px;
    color: $color-grayish-blue;
    text-transform: uppercase;
    background-color: #fff;
    padding: 12px 0;
    a {
      color: $color-grayish-blue;
      text-decoration: underline;
      &:hover, &:visited, &:active {
        color: $color-grayish-blue;
      }
    }
  }
  .language-list {
    padding: 0 15px;
    &--with-label__title {
      font-size: 17px;
    }
  }
}
