.heading__square {
border: 1px solid yellow;
  @include divider-bottom-1;
  background-color: $springster-purple;
  *:first-child {
    @include underline(skewed, 10px);
  }
}
.heading__component {
  @include underline(zig-zag, 10px);
  margin: 0 8px 20px;
  padding-top: 30px;
}
