@media screen and (min-width: 320px) {
    .profiles-join-banner {
      @include divider-combo-2;
      background-color: $springster-purple;
      @include grid(100%);
      flex-direction: row-reverse !important;
      &__content {
        float: none !important;
        @include column($grid-seven);
      }
      &__icon  {
        float: none !important;
        margin: 0 !important;
        @include column($grid-five);
      }
    }
}
