.tag-cloud__container {
  background-color: $sunny-yellow;
  &:after,
  &:before {
    @include divider-combo-1;
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    margin: -4px 0;
  }
  &:before {
    top: 0;
  }
}

.article-page-tag-cloud {
  @include divider-line(4px, $pale-grey-three);
}
@media only screen and (min-width: 320px){
  .tag-cloud {
    margin-top: 60px;
    &__container {
      padding-top: 60px;
    }
    &__heading {
      &:after {
        content: "";
        display: block;
        @include underline(zig-zag, 10px);
      }
    }
    &__icon {
      margin-top: -35px;
      background-image: url("/static/img/icons/header-icons.svg"),
        linear-gradient(transparent, transparent);
      background-repeat: no-repeat;
      background-position: center -18.5em;
      background-size: 265px;
      padding: 2px 5px;
      height: 88px;
      width: 100px;
      position: absolute;
      left: 50%;
      margin-left: -55px;
      text-align: center;
      display: block;
      z-index: 999;
    }

  }
}
