{% extends 'base.html' %}

{% block content %}
<div class="surveys">
	<h4 class="surveys__thank-you">{{ self.thank_you_text }}</h4>
	<div class="call-to-action call-to-action--surveys">
		<a href="{{request.site.root_page.specific.url}}" class="call-to-action__nav-item call-to-action__nav-item--back-home">
		{% trans "Back to Home page" %}</a>
	</div>
	{% if self.show_results and results %}
	<h1 class="surveys__title">{% trans "Survey Results" %}</h1>
	<h4 class="surveys__intro">
		{% trans "Your survey has been completed successfully. Please see your submission results below." %}
	</h4>
	<div class="surveys__results">
	{% for question, answers in results.items %}
		<h3 class="surveys__question">{{ question }}</h3>
		{% for answer, count in answers.items %}
		  <div class="surveys__answer">
			<span>{{ answer }}</span> {{ count }}
		  </div>
		{% endfor %}
	{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}
