{% load wagtailcore_tags core_tags gem_tags wagtailimages_tags static personalise_extras %}

{% block content %}
{% filter_surveys_by_segments surveys request as filtered_surveys %}
{% for survey in filtered_surveys %}
  {% with survey=survey.molo_survey_page form=survey.form %}

    {% if survey.your_words_competition %}
        <div class="your-words your-words{{ self.get_effective_extra_style_hints }}">
            <div class="section-title">
              <h2>{% trans "Share your story" %}</h2>
            </div>

            <h3>{{ survey.title }}</h3>
            <p>{{ survey.homepage_introduction }}</p>
            <img src="{% static 'img/Pencil.png' %}" />

            {% if user.is_authenticated and user.is_active or request.is_preview or survey.allow_anonymous_submissions %}
              <a href="{% pageurl survey.specific %}" class="button call-to-action__button call-to-action__button--primary">
                {% if survey.homepage_button_text %}
                  {{survey.homepage_button_text}}
                {% else %}
                  {% trans "Write your story" %}
                {% endif %}
              </a>
            {% else %}
              <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}" class="button call-to-action__button call-to-action__button--primary">
                {% trans "Log in to Enter" %}
              </a>
            {% endif %}
        </div>
    {% elif survey.display_survey_directly %}
      <div class="polls gem-polls">
          <div class="section-title">
            <h4 class="poll__title list-header">{% trans "What's your opinion?" %}</h4>
          </div>
          <div class="list-inline">
            <h2 class="poll__question-title">{{ survey.title }}</h2>
            {% if user.is_authenticated and user.is_active or request.is_preview or self.allow_anonymous_submissions %}
              {% if form %}
                {% include "surveys/form.html" with surveytype="poll" surveytypeClass="polls"  %}
              {% else %}
              <p class="error error--poll">{% trans 'You have already completed this poll.' %}</p>
                {% if request.path == "/" %}
                  <a href="{% pageurl survey %}success/" class="button call-to-action__button call-to-action__button--primary">
                    {% trans "Show Results" %}
                  </a>
                {% else %}
                  <a href="{{request.site.root_page.specific.url}}" class="button call-to-action__nav-item call-to-action__nav-item--back-home">
                  {% trans "Back home" %}</a>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
      </div>
    {% else %}
        <div class="surveys surveys__tout surveys{{self.get_effective_extra_style_hints}}">
          <div class="section-title">
            <h2>Take the Survey</h2>
          </div>

          <div class="surveys__item">
            <h3>{{ survey.title }}</h3>
            <p>{{ survey.introduction }}</p>
            {% if user.is_authenticated and user.is_active or request.is_preview or survey.allow_anonymous_submissions %}
              <a href="{% pageurl survey.specific %}" class="button call-to-action__button call-to-action__button--primary">
                {% if survey.homepage_button_text %}
                  {{survey.homepage_button_text}}
                {% else %}
                  {% trans "Start" %}
                {% endif %}
              </a>
            {% else %}
              <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}" class="button call-to-action__button call-to-action__button--primary">
                {% trans "Log in to Enter" %}
              </a>
            {% endif %}
          </div>
        </div>
    {% endif %}
  {% endwith %}
{% endfor %}
{% endblock %}
