{% load wagtailcore_tags core_tags gem_tags wagtailimages_tags static personalise_extras %}

{% block content %}
{% filter_surveys_by_segments surveys request as filtered_surveys %}
{% for survey in filtered_surveys %}
  {% with survey=survey.molo_survey_page form=survey.form %}

    {% if survey.your_words_competition %}
        <div class="your-words your-words{{ competition.get_effective_extra_style_hints }}">
            <div class="section-title">
              <h2>{% trans "Share your story" %}</h2>
            </div>
            <h3>{{ survey.title }}</h3>
            <p>{{ survey.homepage_introduction }}</p>
            <img src="{% static 'img/Pencil.png' %}" />
            <!--THIS NEEDS TO BE ON SURVEY PAGE -->
            <div class="content">
            {% for block in survey.description %}
              {% if block.block_type == 'heading' %}
                  <h5>{{ block.value }}</h5>
              {% elif block.block_type == 'paragraph' %}
                  <p>{{ block.value }}</p>
              {% endif %}
            {% endfor %}
            </div>
            {% if user.is_authenticated and user.is_active or request.is_preview or survey.allow_anonymous_submissions %}
              <a href="{% pageurl survey.specific %}" class="button">
                {% if survey.homepage_button_text %}
                  {{survey.homepage_button_text}}
                {% else %}
                  {% trans "Write your story" %}
                {% endif %}
              </a>
            {% else %}
              <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}" class="button">
                {% trans "Log in to Enter" %}
              </a>
            {% endif %}
        </div>
    {% elif survey.display_survey_directly %}
      <div class="gem-polls">
        <div class="polls">
          <h4 class="poll__title">{% trans "What's your opinion?" %}</h4>
          <div class="poll__form-block">
            <h2 class="poll__question-title">{{ survey.title }}</h2>
          </div>
          {% if user.is_authenticated and user.is_active or request.is_preview or self.allow_anonymous_submissions %}
            {% include "surveys/form.html" with surveytypeClass="polls"  %}
          {% endif %}
        </div>
      </div>

    {% else %}
        <div class="surveys surveys__tout surveys{{self.get_effective_extra_style_hints}}">
          <div class="section-title">
            <h2>Take the Survey</h2>
          </div>
          <div class="surveys__item">
            <h3>{{ survey.title }}</h3>
            <p>{{ survey.introduction }}</p>
            {% if user.is_authenticated and user.is_active or request.is_preview or survey.allow_anonymous_submissions %}
              <a href="{% pageurl survey.specific %}" class="button">
                {% if survey.homepage_button_text %}
                  {{survey.homepage_button_text}}
                {% else %}
                  {% trans "Start" %}
                {% endif %}
              </a>
            {% else %}
              <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}" class="button">
                {% trans "Log in to Enter" %}
              </a>
            {% endif %}
          </div>
        </div>
    {% endif %}

  {% endwith %}
{% endfor %}
{% endblock %}
