{% load wagtailcore_tags personalise_extras %}

{% block content %}

{% if surveys %}
	<div class="surveys surveys__tout surveys{{self.get_effective_extra_style_hints}}">
		<div class="section-title">
			<h2>Take the Survey</h2>
		</div>
    {% filter_surveys_by_segments surveys request as filtered_surveys %}
		{% for survey in filtered_surveys %}
		{% with survey=survey.molo_survey_page form=survey.form %}
			<div class="surveys__item">
				<h3>{{ survey.title }}</h3>
				<p>{{ survey.introduction }}</p>
				<a href="{% pageurl survey.specific %}" class="button">{% trans 'Start' %}</a>
			</div>
		{% endwith %}
		{% endfor %}
	</div>
{% endif %}
{% endblock %}
