@font-face {
  font-family: 'TwCenMT-Bold';
  src: url('/static/fonts/TwCenMT-Bold.woff2') format('woff2'),
       url('/static/fonts/TwCenMT-Bold.woff') format('woff'),
       url('/static/fonts/TwCenMT-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
    font-family: 'Tw Cen MT';
    src: url('/static/fonts/TwCenMT-Regular.woff2') format('woff2'),
        url('/static/fonts/TwCenMT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
