//COLORS
$color_group: (
  greyscale: (
    gray-very-dark          :     #333,
    gray-super-light        :     #f5f5f5,
    gray-dark-blue          :     #9b9fa2,
    gray-light-blue         :     #ecedef,
  ),
  brand: (
    cyan_1-strong           :     #03b8ad,
    cyan_2-strong           :     #00A8B7,
    cyan-dark               :     #02938A,
    cyan-very-dark          :     #006D62,
    cyan-moderate           :     #5bc5bb,
    pink-very-dark          :     #711343,
    pink-bright             :     #E7357C,
    pink-vivid              :     #ed018c,
    yellow-pure             :     #FDD400,
    yellow-soft             :     #FDF6B4,
    yellow-bright           :     #f9e435,
    yellow-gorse            :     #ffe82c,
    orange-bright           :     #EC6E26,
    orange-dark-moderate    :     #965A46,
    orange-gray             :     #E8DACD,
    orange-pure             :     #f59c00,
    red-very-soft           :     #F4A3B0,
    red-strong              :     #D32027,
    red-very-dark           :     #66202B,
    red-vivid               :     #dc0d15,
    red-dark-moderate       :     #AA4751,
    red-gray                :     #D4B5AF,
    blue-very-dark          :     #292663,
    green-lime              :     #2CB359,
    magenta-black           :     #1F1A20
  )
);

$color-gray                 :     color(greyscale, gray-very-dark);
$color-gray-dark            :     color(greyscale, gray-dark-blue);
$color-gray-light           :     color(greyscale, gray-light-blue);
$color-gray-super-light     :     color(greyscale, gray-super-light);

$color-cyan_shade1          :     color(brand, cyan_1-strong);
$color-cyan_shade1          :     color(brand, cyan_2-strong);
$color-cyan_dark            :     color(brand, cyan-dark);
$color-cyan_very_dark       :     color(brand, cyan-very-dark);
$color-cyan_moderate        :     color(brand, cyan-moderate);

$color-pink                 :     color(brand, pink-vivid);
$color-pink-very-dark       :     color(brand, pink-very-dark);
$color-pink-bright          :     color(brand, pink-bright);

$color-yellow               :     color(brand, yellow-pure);
$color-yellow-soft          :     color(brand, yellow-soft);
$color-yellow-bright        :     color(brand, yellow-bright);
$color-yellow-gorse         :     color(brand, yellow-gorse);

$color-orange               :     color(brand, orange-pure);
$color-orange-bright        :     color(brand, orange-bright);
$color-orange-moderate      :     color(brand, orange-dark-moderate);
$color-orange-gray          :     color(brand, orange-gray);

$color-red                  :     color(brand, red-vivid );
$color-red-soft             :     color(brand, red-very-soft);
$color-red-gray             :     color(brand, red-gray);
$color-red-strong           :     color(brand, red-strong);
$color-red-very-dark        :     color(brand, red-very-dark);
$color-red-dark-moderate    :     color(brand, red-dark-moderate);


$color-blue-very-dark       :     color(brand, blue-very-dark);
$color-green-lime           :     color(brand, green-lime);
$color-magenta-black        :     color(brand, magenta-black);
