$sectionThemes: (
  section-aqua-fields: (
    bgPosition: center center,
    bgColor: $color-cyan_shade1,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: 0px 0px
  ),
  section-aqua-grass: (
    bgPosition: center center,
    bgColor: $color-cyan_shade1,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: 0px 0px
  ),
  section-aqua-hills: (
    bgPosition: center center,
    bgColor: $color-cyan_shade1,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: 0px 0px
  ),
  section-aqua-lake: (
    bgPosition: center center,
    bgColor: $color-cyan_shade1,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: 0px 0px
  ),
  section-aqua-mountains: (
    bgPosition: center center,
    bgColor: $color-cyan_shade1,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: 0px 0px
  ),
  section-aqua-plant: (
    bgPosition: center center,
    bgColor: $color-cyan_shade1,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: 0px 0px
  ),
  section-aqua-trees: (
    bgPosition: center center,
    bgColor: $color-cyan_shade1,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: 0px 0px
  ),

  section-black-fields: (
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -10px 53.4%
  ),
  section-black-grass: (
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -10px 53.4%
  ),
  section-black-hills: (
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -10px 53.4%
  ),
  section-black-lake: (
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -10px 53.4%
  ),
  section-black-mountains: (
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -10px 53.4%
  ),
  section-black-plant: (
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -10px 53.4%
  ),
  section-black-trees: (
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -10px 53.4%
  ),

  section-pink-fields: (
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 93.4%
  ),
  section-pink-grass: (
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 93.4%
  ),
  section-pink-hills: (
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 93.4%
  ),
  section-pink-lake: (
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 93.4%
  ),
  section-pink-mountains: (
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 93.4%
  ),
  section-pink-plant: (
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 93.4%
  ),
  section-pink-trees: (
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 93.4%
  ),

  section-orange-fields: (
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -8px 13.5%
  ),
  section-orange-grass: (
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -8px 13.5%
  ),
  section-orange-hills: (
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -8px 13.5%
  ),
  section-orange-lake: (
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -8px 13.5%
  ),
  section-orange-mountains: (
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -8px 13.5%
  ),
  section-orange-plant: (
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -8px 13.5%
  ),
  section-orange-trees: (
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: -8px 13.2%
  ),


  section-red-fields: (
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 70%
  ),
  section-red-grass: (
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 70%
  ),
  section-red-hills: (
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 70%
  ),
  section-red-lake: (
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 70%
  ),
  section-red-mountains: (
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 70%
  ),
  section-red-plant: (
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 70%
  ),
  section-red-trees: (
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff,
    textBoxShadow: $color-yellow,
    sectionTitleImagePosition: -25px 70%
  ),


  section-yellow-fields: (
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: 0px 0px
  ),
  section-yellow-grass: (
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: 0px 0px
  ),
  section-yellow-hills: (
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: 0px 0px
  ),
  section-yellow-lake: (
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: 0px 0px
  ),
  section-yellow-mountains: (
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: 0px 0px
  ),
  section-yellow-plant: (
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: 0px 0px
  ),
  section-yellow-trees: (
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff,
    textBoxShadow: $color-pink,
    sectionTitleImagePosition: 0px 0px
  )
);
