
@font-face {
  font-family: 'AvenirNextCondensed-Regular';
  src: url('/static/fonts/base/AvenirNextCondensed-Regular.woff2') format('woff2'),
       url('/static/fonts/base/AvenirNextCondensed-Regular.woff') format('woff'),
       url('/static/fonts/base/AvenirNextCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'AvenirNextCondensed-Bold';
  src: url('/static/fonts/base/AvenirNextCondensed-Bold.woff2') format('woff2'),
       url('/static/fonts/base/AvenirNextCondensed-Bold.woff') format('woff'),
       url('/static/fonts/base/AvenirNextCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'AvenirNextCondensed-Medium';
  src: url('/static/fonts/base/AvenirNextCondensed-Medium.woff2') format('woff2'),
       url('/static/fonts/base/AvenirNextCondensed-Medium.woff') format('woff'),
       url('/static/fonts/base/AvenirNextCondensed-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCondensed-DemiBold';
  src: url('/static/fonts/base/AvenirNextCondensed-DemiBold.woff2') format('woff2'),
       url('/static/fonts/base/AvenirNextCondensed-DemiBold.woff') format('woff'),
       url('/static/fonts/base/AvenirNextCondensed-DemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'TwCenMT-Regular';
  src: url('/static/fonts/zathu/TwCenMT-Regular.woff2') format('woff2'),
       url('/static/fonts/zathu/TwCenMT-Regular.woff') format('woff'),
       url('/static/fonts/zathu/TwCenMT-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'TwCenMT-Bold';
  src: url('/static/fonts/zathu/TwCenMT-Bold.woff2') format('woff2'),
       url('/static/fonts/zathu/TwCenMT-Bold.woff') format('woff'),
       url('/static/fonts/zathu/TwCenMT-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'zathu';
  src: url('/static/fonts/zathu/zathu-webfont.woff2') format('woff2'),
       url('/static/fonts/zathu/zathu-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
