{% load wagtailcore_tags core_tags wagtailembeds_tags wagtailsettings_tags %}
{% get_settings %}
<div class="media-player">
  <div class="media-player__content">
  {% if is_via_freebasics %}
      <div class="media-player__no-player">
        <div class="heading heading__subheading-alt {{extraclass}}">
          <h4>{{media.title}}</h4>
        </div>
        <a href="{{ media.youtube_link }}" target="_blank" class="media-player__icon"></a>
        {% trans "Media will be played externally in a new window" as headingtext %}
        {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading-alt" htmltag="h4" title=headingtext %}
      </div>
  {% else %}
      {% if media.youtube_link %}
        <div class="media-player__embed-object">
          {% embed media.youtube_link %}
        </div>
      {% elif media.type == 'video'%}
        {% if not is_via_freebasics %}
          <div class="media-player">
            <div class="media-player__content">
              <video width="320" height="240" controls>
                  <source src={{media.file.url}} type="video/mp4">
                  Your browser does not support the video tag.
              </video>
            </div>
          </div>
        {% endif %}
      {% elif media.type == 'audio'%}
        {% if not is_via_freebasics %}
          <div class="media-player">
            <div class="media-player__content">
              <audio controls><source src={{media.file.url}}
                type="audio/mpeg">Click here to download
                <a href={{media.file.url}}>{{media.title}}</a>
              </audio>
            </div>
          </div>
        {% endif %}
      {% endif %}
      {% if media.title %}
        {% if settings.core.SiteSettings.local_ga_tracking_code %}
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', '{{settings.core.SiteSettings.local_ga_tracking_code}}', 'auto');
          </script>
        {% endif %}
        <a href="{{media.file.url}}" onclick="ga('send', 'event', '{% if media.youtube_link or media.type == 'video'%}Video{% elif media.type == 'audio'%}Audio{% endif %}', 'Download', '{{media.title}}');" class="call-to-action__button call-to-action__button--yellow" download>
          <span class="call-to-action__button-text call-to-action__button-text--yellow">{% trans "Download" %} {% if media.youtube_link or media.type == 'video'%}Video{% elif media.type == 'audio'%}Audio{% endif %}</span>
        </a>
      {% endif %}
  {% endif %}
  </div>
</div>
