{% extends "base.html" %}
{% load static core_tags i18n poll_votings %}
{% block content %}
<div class="polls">
  <div class="polls__wrapper">
    <div class="heading heading--secondary">
      <h3 class="heading__title">{% trans "Quiz" %}</h3>
    </div>
    {% if form.choice.errors %}
      <ul class="error-list">
        <li class="error-list__item">{{form.choice.errors|join:", " }}</li>
      </ul>
    {% endif %}
    <h2 class="heading__headline">{{ question.title }}</h2>
    <form class="polls__form" action="{% url 'molo.polls:vote' question.id %}" method="post" novalidate>
    {% csrf_token %}
      {% load_choices_for_poll_page question as choices %}
      {% for choice in choices %}
        <fieldset class="choice-fieldset">
          {% if question.allow_multiple_choice %}
            <input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.get_main_language_page.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
          {% else %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.get_main_language_page.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
          {% endif %}
        </fieldset>
      {% endfor %}
      <div class="call-to-action--group">
        <button type="submit" class="call-to-action__button call-to-action__button--primary">{% trans "Vote" %}</button>
      </div>
    </form>
    <a href="{{request.site.root_page.url}}" class="call-to-action__button call-to-action__button--previous">{% trans "Home" %}</a>
  </div>
</div>
{% endblock %}
