{% load i18n static poll_votings %}
{% block content %}
  {% if questions %}
    {% for question in questions %}
      <div class="polls">
        <div class="polls__wrapper">
          <div class="heading heading--hero">
            <h3 class="heading__component">
              {% trans "Quiz" %}
            </h3>
          </div>
          <h2 class="heading__headline">{{ question.title }}</h2>
          {% if question.freetextquestion %}
            {% include 'polls/includes/poll_free_text_form.html'%}
          {% else %}
            {% include 'polls/includes/poll_question_form.html'%}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
