.header {
    @media only screen and (min-width: 360px) {
        display: none;
    }
}
#search {
    @media only screen and (min-width: 360px) {
        display: inline-block;
    }
}
.search-bar {
    input[type="text"] {
        padding: 5px 0 5px 5px;
    }
}
