@import "springster-rtl/*";

//ARTICLE HEADING
.heading__article  {
  text-align: right;
}
//TAG CLOUD
.tag-cloud__block {
  text-align: right;
}
//FOOTER
.copyright__footer-copy {
  text-align: right;
}
