@import "utilities/*";
@import "states/**/*";

@media screen and (max-width: 300px) {
  .heading__section h1 {
    font-size: $font-x-large !important;
  }
}

@media only screen and (min-width: 360px) {
  .base-teaser {
    &__subtitle {
      font-size: $font-x-small;
    }
  }
  .base-teaser__thumbnail-link  {
    width: auto!important;
  }
}
