@import "utilities/*";
@import "states/**/*";

@media only screen and (min-width: 601px) {
    html {
      body {
        background: $cool-grey;
        .header, .content, #language-bar {
          max-width: 360px;
          margin: 0 auto;
        }
        .content-wrapper {
          background-color: transparent;
        }
      }
    }
    .base-teaser__thumbnail-link  {
      min-width: 96px;
      min-height: 96px;
    }
}
