@import "utilities/*";
@import "states/**/*";
@media  screen and (min-width: 360px) {
    @import "states-320/**/*";
}

@media  screen and (min-width: 768px) {
    html body {
        background-color: $cool-grey !important;
        .header, .content, #language-bar {
          margin: 0 auto;
        }
    }
}

@media screen and (min-width: 1440px) {
  html {
    -webkit-overflow-scrolling : touch;
    -webkit-tap-highlight-color : lighten(#333, 75%);
  }

  @-webkit-viewport {
    width : device-width;
  }
  @-moz-viewport {
    width : device-width;
  }
  @-ms-viewport {
    width : device-width;
  }
  @-o-viewport {
    width : device-width;
  }
  @viewport {
    width : device-width;
  }
  ::-moz-selection {
    background-color: $springster-purple-light;
    color: $springster-purple;
    text-shadow: none;
  }
  ::selection {
    background-color: $springster-purple-light;
    color: $springster-purple;
    text-shadow: none;
  }
  .overflow-container { overflow-y: scroll; }
  :not(a):focus {
    outline: none;
  }
}
