@import "utilities/*";
@import "states/**/*";

//Desktop Styles?
//What is the reason behind media-query
@media only screen and (min-width: 1024px) {
  html {
    -webkit-overflow-scrolling : touch;
    -webkit-tap-highlight-color : lighten(#333, 75%);
    body {
      background: $cool-grey;
      .header, .content, #language-bar {
        max-width: 360px;
        margin: 0 auto;
      }
      .content-wrapper {
        background-color: transparent;
      }
    }
  }
  @-webkit-viewport {
    width : device-width;
  }
  @-moz-viewport {
    width : device-width;
  }
  @-ms-viewport {
    width : device-width;
  }
  @-o-viewport {
    width : device-width;
  }
  @viewport {
    width : device-width;
  }
  ::-moz-selection {
    background-color: $springster-purple-light;
    color: $springster-purple;
    text-shadow: none;
  }
  ::selection {
    background-color: $springster-purple-light;
    color: $springster-purple;
    text-shadow: none;
  }
  .overflow-container { overflow-y: scroll; }
  :not(a):focus {
    outline: none;
  }
  .base-teaser__thumbnail-link  {
    min-width: 96px;
    min-height: 96px;
  }
}
