html, body  {
  background-color: $cool-grey;
  margin: 0 auto;
  font-size: $font-small;
  font-family: $baton-turbo;
  position: relative;
}
body {
  background-color: $white;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
