html, body  {
  background-color: $cool-grey;
  margin: 0 auto;
  position: relative;
}
body, .content  {
  background-color: $white;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 0;
  }
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.errors {
  color: $red;
  font-family: $baton-medium;
  padding: 10px 15px 0;
}
