html, body  {
  background-color: $cool-grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $font-x-small;
  height: 100%;
  line-height: 1.3;
  margin: 0 auto;
  position: relative;
}
body, .content  {
  background-color: $white;
  overflow: auto;
}
.content-wrapper {
  position: relative;
}

@media  screen and (min-width: 768px) {
    html body {
      background-color: $cool-grey;
        .header,
        .content,
        #language-bar {
          max-width: 360px;
          margin: 0 auto;
        }
    }
}

a {
  text-decoration: none;
  outline: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 0;
  }
  img {
    outline: none;
  }
}
img {
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
