.article-teaser {
  padding: 0 0 2em;
  margin: 5px 0 0;
  @media screen and (min-width: 45.000em) {
    margin: 0;
    padding: 5px;
  }
  &__wrapper {
    position: relative;
    @media screen and (min-width: 45.000em) {
      min-height: 865px;
    }
  }
  &--latest {
    padding: 5px 10px;
    .teaser-grid {
      -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    }
  }
  .teaser-grid {

  }
  .comments-posting {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
  }
}
