.call-to-action {
  &--wide-back {
    padding: 1em 0 1em;
  }
  &__hyperlink {
    color: $colorGrey;
    font-weight: 700;
    font-size: 20px;
  }

  //BUTTONS
  &__nav-item {
    font-family: "FedraSansDevanagariB-Demi";
    border: 1px solid $colorRedLight;
    border-radius: 22.5px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: $colorRedLight;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    overflow: hidden;
    i {
      padding-right: 14px;
      font-size: 24px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -50px;
      bottom: 0;
      left: 0;
      border-right: 50px solid transparent;
      border-bottom: 80px solid $colorRedLight;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: all 400ms linear 0s;
      -o-transition: all 400ms linear 0s;
      transition: all 400ms linear 0s;
      z-index: -1;
    }
    &:hover {
      color: $colorPink;
    }
    &-text {
      color: $colorPink;
      display: inline-block;
      font-family: "FedraSansDevanagariB-Demi";
      font-size: 16px;
      font-weight: bold;
      margin: 0 10px 0 0;
      -webkit-transition: all .3s cubic-bezier(.6,.2,.1,1);
      -o-transition: all .3s cubic-bezier(.6,.2,.1,1);
      transition: all .3s cubic-bezier(.6,.2,.1,1);
      &:hover, &:focus, &:active {
        color: $colorPurple;
      }
      &--right,
      &--left {
        color: $colorPink;
        padding: 5px 0;
        text-transform: uppercase;
        &:hover {
          color: $colorPurple;
        }
        &:before {
          background: url(/static/img/icons/chhaajaa/chevron-down3x.svg) no-repeat 0 0/50%;
          content: "";
          height: 16px;
          width: 20px;
          display: inline-block;
          vertical-align: middle;
          margin: 0 5px 0;
        }
      }
      &--left {
        &:before {
          transform: rotate(-180deg);
        }
      }
    }
    &--more {
      color: $colorPink;
      padding: 5px 0;
      text-transform: uppercase;
      &:hover {
        color: $colorPurple;
      }
      &:after {
        background: url(/static/img/icons/chhaajaa/chevron-down3x.svg) no-repeat 0 0/50%;
        content: "";
        height: 16px;
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0;
      }
    }
    &--replies-counter {
      color: $colorGrey;
    }
  }
  &__item {
    &--paginate {
      color: $colorPink;
      padding: 5px 0;
      text-transform: uppercase;
      &:hover {
        color: $colorPurple;
      }
      &:after {
        background: url(/static/img/icons/chhaajaa/chevron-down3x.svg) no-repeat 0 0/50%;
        content: "";
        height: 16px;
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0;
      }
    }
    &--text {
      font-family: "FedraSansDevanagariB-Demi";
      display: inline-block;
      color: $colorPink;
      border-bottom: 2px solid transparent;
      font-weight: 700;
      -webkit-transition: all .3s cubic-bezier(.6,.2,.1,1);
      -o-transition: all .3s cubic-bezier(.6,.2,.1,1);
      transition: all .3s cubic-bezier(.6,.2,.1,1);
      &:hover, &:focus, &:active {
        border-bottom: 2px solid $colorPink;
      }
    }
    &--label {
      font-family: "FedraSansDevanagariB-Bold";
      color: $colorPurple;
      text-transform: uppercase;
      font-size: 21px;
      display: inline-block;
      @media (min-width: 991px) {
        display: block;
      }
      &:after {
        content: "";
        background-image: url("/static/img/icons/chhaajaa/top.png");
        background-repeat: no-repeat;
        background-position: 1.5em center;
        background-size: 38px;
        position: absolute;
        height: 37px;
        width: 78px;
        display: block;
      }
    }
  }
  &__read-more {
    color: $colorRedLight;
    display: inline-block;
    font-size: 19px;
    padding: 10px 0;
    text-decoration: underline;
  }
  &__button {
    display: block;
    font-family: "FedraSansDevanagariB-Bold";
    &--primary {
      background-color: $colorPurple;
      box-shadow: 12px 12px 0 0 #f9e435;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      margin: 10px 1em 10px 0;
      padding: 10px 15px;
      border: none;
      border-radius: 2px;
      transition: opacity 100ms ease-in-out;
      &:active, &:hover, &:focus {
        background-color: $colorPink;
        color: #fff;
        outline: none;
        text-decoration: none;
      }
    }
    &--secondary {
      margin: 1em 0 0;
      font-size: 21px;
      -webkit-transition: all .3s cubic-bezier(.6,.2,.1,1);
      -o-transition: all .3s cubic-bezier(.6,.2,.1,1);
      transition: all .3s cubic-bezier(.6,.2,.1,1);
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
    &--previous {
      color: $colorPink;
      font-family: "FedraSansDevanagariB-Demi";
      padding: 5px 0;
      margin: 1em 0 0;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      -webkit-transition: all .3s cubic-bezier(.6,.2,.1,1);
      -o-transition: all .3s cubic-bezier(.6,.2,.1,1);
      transition: all .3s cubic-bezier(.6,.2,.1,1);
      &:hover, &:focus {
          color: $colorPurple;
        text-decoration-style: solid;
        text-underline-position: below;
        text-decoration-line: underline;
      }
      &:before {
        background: url(/static/img/icons/chhaajaa/chevron-down3x.svg) no-repeat 0 0/50%;
        content: "";
        height: 16px;
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0;
        transform: rotate(-180deg)
      }
    }
  }
  &--group {
    margin: 1em 0;
  }
  &--backToTop {
    margin: 0 1em;
    text-align: center;
    position: absolute;
    top: -2em;
    right: 0;
    display: inline-block;
    transition: opacity 100ms ease-in-out;
    @media screen and (min-width: 45.000em) {
      right: 5%;
      display: block;
    }
    &:active, &:hover, &:focus {
      opacity: 0,7;
    }
  }
}
