.reply-notification {
  padding: 10px 15px;
  background-color: $colorYellow;
}

.comments-replies-list {
  background-color: #ebeef1;
  margin: 15px 0;
  padding-left: 15px;
  &-title,
  &-label {
    text-decoration: underline;
    font-weight: 700;
    padding: 15px 0 0 5px;
  }

  &-list__item {
    display: block;
    padding: 20px 0 10px 0;
  }
}
