.reply-notification {
  align-content: center;
  align-items: center;
  background: #fa3e3e;
  border-radius: 2px;
  display: flex;
  padding: 5px 5px 5px 10px;
  position: absolute;
  left: 13em;
  top: 100px;
  z-index: 99999999999;
  &:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 9px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 17px solid #fa3e3e;
    border-bottom: 7px solid transparent;
  }
  &__popup-call-to-action {
    cursor: pointer;
  }
  .call-to-action__nav-item-text {
    font-size: 17px;
    color: #fff;
  }
}
