.reply-notification {
  padding: 10px 15px;
  background-color: $colorYellow;
}

//COMMENT REPLIES INNER
.comments-replies-list {
  background-color: #ebeef1;
  margin: 15px 0;
  padding-left: 15px;
}
.comments-replies-list__item {
  display: block;
  padding: 20px 0 10px 0;
}
.comment__replies-title,
.comment__replies-label {
  text-decoration: none;
  font-weight: 400;
  padding: 0 0 0 10px;
}
.comment__replies-title {
  background-color: #ebeef1;
}
.comment__replies-label {}
.comment__replies-cta-title {}
