.comment {
  &-counter {
    display: inline-block;
    height: 25px;
    margin: 5px 0 0;
    &__icon {
      vertical-align: middle;
      max-width: 21px;
    }
    &__numeral {
      vertical-align: top;
      margin-left: 5px;
    }
  }
  &__replies-title {
    padding: 10px 30px;
    text-decoration: underline;
  }
}
