.contact {
  padding: 0.5em 0;
  @media screen and (min-width: 45.000em) {
    padding: 1.5em 5% 2em;
  }
  &__form {
    width: 55%;
  }
  .container {
    padding: 0 5%;
  }
  .heading {
    font-family: "FedraSansDevanagariB-Demi";
    &__title {
      display: inline-block;
      font-size: 27px;
    }
    &__component {
      background: transparent;
      color: $colorPink;
      font-family: "FedraSansDevanagariB-Demi";
      font-size: 39px;
      text-transform: uppercase;
      &:before {
        display: none;
      }
    }
    &--hero {
      background: transparent;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }
}
