.contact {
  padding: 0.5em 0;
  @media screen and (min-width: 45.000em) {
    padding: 1.5em 5% 2em;
  }
  &__wrapper {
    padding: 2em 1em;
    text-align: center;
    @media screen and (min-width: 45.000em) {
      padding: 2em 30%;
    }
  }
  .banner {
    display: inline-block;
  }
}
