.heading {
  //font-family: "FedraSansDevanagariB-Bold";
  font-family: "FedraSansDevanagariB-Demi";
  &--hero {
    background-color: $colorPurple;
    border-radius: 2px;
    color: #fff;
    padding: 2px 5px;
    margin: 0 0 15px;
    @media screen and (min-width: 45.000em) {
      margin: 0 0 2em;
    }
  }
  &--secondary {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 23px;
    @media screen and (min-width: 45.000em) {
      margin: 0 1em 0 0;
    }
  }

  &__component {
    font-family: "FedraSansDevanagariB-Demi";
    color: #fff;
    display: inline-block;
    font-size: 24px;
    &:before {
      background: url('/static/img/icons/chhaajaa/smile-icon.png') no-repeat 0 0/100%;
      content: "";
      display: inline-block;
      height: 24px;
      width: 20px;
      margin: 0 5px 0 0;
      vertical-align: middle;
    }
    &--service-finder {
      &:before {
        background: url('/static/img/icons/chhaajaa/service-icon.png') no-repeat 0 0/100%;
      }
    }
  }

  &__subheading {
    font-family: "FedraSansDevanagariB-Demi";
    color: $colorPink;
    padding: 10px 0;
    font-size: 26px;
    @media screen and (min-width: 45.000em) {
      padding: 1em 0;
    }
    &:before {
      background: url('/static/img/icons/chhaajaa/Sym3.png') no-repeat center center / 100%;
      content: "";
      display: inline-block;
      height: 28px;
      width: 25px;
      margin: 0 5px 0 0;
      vertical-align: sub;
    }
  }
  &__headline {
    color: $colorPink;
    font-family: "FedraSansDevanagariB-Demi";
    font-size: 28px;
    @media screen and (min-width: 45.000em) {
      margin: 10px 0;
    }
  }
  &__macro {
    color: $colorPink;
    font-size: 22px;
    padding: 10px 0;
  }
  &__title {
    font-family: "FedraSansDevanagariB-Demi";
    font-size: 22px;
  }
  &__subtitle {
    font-family: "FedraSansDevanagariB-Demi";
    font-size: 18px;
    padding: 0 5px;
  }
}

.main_title {
  text-align: center;
  padding-bottom: 70px;
  h2 {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: $colorPink;
    padding-bottom: 35px;
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      background: $colorPink;
      width: 70px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 10px;
      margin: auto;
    }
    &:after {
      content: "";
      background: $colorPurple;
      width: 40px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
    }
  }
}

.main_white_title {
  text-align: center;
  padding-bottom: 70px;
  h2 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 35px;
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      background: $colorRedLight;
      width: 70px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 10px;
      margin: auto;
    }
    &:after {
      content: "";
      background: #fff;
      width: 40px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
    }
  }
}
