.homepage {
  &__main {
    .teaser-grid {
      -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    }
    .teaser-stacklist__container {
      padding: 1.5em 1em 4em 1em;
      @media screen and (min-width: 45.000em) {
        display: flex;
        padding: 1.5em;
        justify-content: space-between;
      }
      @media screen and (min-width: 62.000em) {
        padding: 1.5em 2em;
      }
    }
    .teaser-stacklist__main {
      @media screen and (min-width: 62.000em) {
        width: 65%;
        margin: 0 5% 0 0;
      }
    }
    .teaser-stacklist__cta-buttons {
      @media screen and (min-width: 62.000em) {
        float: right;
        width: 33%;
      }
    }
    .teaser-stacklist__images,
    .teaser-stacklist__iframe {
      max-height: 750px !important;
      @media screen and (min-width: 62.000em) {
        overflow: hidden;
      }
      .teaser-stacklist__anchor {
        display: block;
      }
    }
  }
}
