.homepage {
  &__main {
    .teaser-grid {
      -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    }
    .teaser-stacklist__container {
      overflow: inherit;
      padding: 1.5em 10px 0;
      @media screen and (min-width: 45.000em) {
        display: flex;
        padding: 1.5em;
        justify-content: space-between;
      }
      @media screen and (min-width: 62.000em) {
        padding: 1.5em 2em;
      }
    }
    .teaser-stacklist__main {
      @media screen and (min-width: 62.000em) {
        width: 65%;
        margin: 0 5% 0 0;
      }
    }
    .teaser-stacklist__cta-buttons {
      @media screen and (min-width: 62.000em) {
        float: right;
        width: 33%;
      }
    }
    .teaser-stacklist__images,
    .teaser-stacklist__iframe {
      max-height: 750px !important;
      @media screen and (min-width: 62.000em) {
        overflow: hidden;
      }
      .teaser-stacklist__anchor {
        display: block;
      }
    }
  }
  &__related {
    .heading--hero {
      display: inline-block;
      margin: 0;
      @media screen and (min-width: 45.000em) {
        margin: 0 1em 2em;
      }
    }

    .article-teaser--latest {
      margin: 0;
      min-height: inherit;
      max-height: inherit;
    }
    .article-teaser__wrapper {
      min-height: inherit;
      max-height: inherit;
    }
    .teaser-grid {
      height: auto;
      box-shadow: none;
      margin: 0;
      @media screen and (min-width: 45.000em) {
        margin: 1em 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      &__item {
        display: inline-block;
        @media screen and (min-width: 45.000em) {
          margin: 1em 1em 1.5em;
          width: 420px;
        }
      }
      &__iframe,
      &__images,
      &__container {
        width: auto;
      }
    }
  }
  .comments-posting {
    position: inherit;
    top: 0;
    right: 0;
    width: auto;
    @media screen and (min-width: 45.000em) {
      width: 525px;
    }
  }
  .comments__form {
    @media screen and (min-width: 80.000em) {
      position: inherit;
      margin: 2.5em 0;
      width: 100%;
    }
  }
}
