.collapse {
  display: none;
  @media screen and (min-width: 45.000em) {
    display: inline-block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
  }
}
.collapse.in {
  display: block;
  overflow-y: auto;
  @media screen and (min-width: 45.000em) {
    overflow-y: visible;
  }
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease
}
