.section-service {
  color: #626b6c;
  padding: 1em 10px;
  @media screen and (min-width: 45.000em) {
  padding: 1em 2em;
  }
  &__wrapper {
    overflow: auto;
    img {
      width: 100%;
    }
  }
  .heading--hero {
    display: inline-block;
  }
}
