.pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .call-to-action__item--text {
    border-bottom: none;
    &:hover, &:focus, &:active {
      border-bottom: none;
    }
  }
  .call-to-action__button--secondary {
    margin: 1em;
    display: inline-block;
  }
}

#prev {
  &:before {
    background: url(/static/img/icons/chhaajaa/chevron-down3x.svg) no-repeat 0 0/50%;
    content: "";
    height: 16px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: -5px 5px 0;

    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

#next {
  &:after {
    background: url(/static/img/icons/chhaajaa/chevron-down3x.svg) no-repeat 0 0/50%;
    content: "";
    height: 16px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: -5px 5px 0;
  }
}
