.search-page {
  padding: 1.5em 1em;
  @media screen and (min-width: 45.000em) {
    padding: 2.5em 2.5em;
  }
  &__query-term {
    color: $colorPurple;
    font-style: italic;
    font-weight: bold;
  }

  &__form  {
    margin: 2em 0;
    @media screen and (min-width: 62.000em) {
      width: 50%;
    }
  }
  .teaser-card {
    border: none;
  }
}
