.vote {
  &__item {
    display: inline-block;
    vertical-align: top;
  }
  &__icon {
    color: $colorGrey;
    display: inline-block;
    font-family: "FedraSansDevanagariB-Demi";
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    word-break: break-word;
    word-wrap: break-word;
    margin: 0 12px 6px 5px;
    &:before {
      background-image: url('/static/img/icons/chhaajaa/polls.png');
      background-position: 4px 10px;
      background-repeat: no-repeat;
      background-size: 80%;
      content: "";
      display: block;
      height: 41px;
      width: 30px;
      margin: 0 auto 4px;
    }
    &:hover, &:focus, &:active {
      &:before {
        background-position: 4px -27.5px;
      }
    }
  }
}
