.surveys, .polls,  {
  padding: 0.5em 0;
  @media screen and (min-width: 45.000em) {
    padding: 1.5em 5% 2em;
  }
  &__wrapper {
    background: #fff;
    padding: 2em 1em;
    text-align: center;
    @media screen and (min-width: 45.000em) {
      padding: 2em 30%;
    }
  }
  .heading__macro {
    font-family: "FedraSansDevanagariB-Demi";
    @media screen and (min-width: 62.000em) {
      font-size: 38px;
    }
  }
  &__title {
    color: $colorPink;
  }
  &__inner {
    overflow: auto;
  }
  section {
    margin: 0 0 1em;
  }
  aside {
    display: none;
  }
  //FORM
  &__form {
    overflow: inherit;
    text-align: left;
    input {
      width: 90%;
    }
    textarea {
      width: 88%;
    }
  }

  .call-to-action--group {
    text-align: left;
  }
}

.vote {
  &__item {
    display: inline-block;
    vertical-align: top;
  }
  &__icon {
    color: $colorGrey;
    display: inline-block;
    font-family: "FedraSansDevanagariB-Demi";
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    word-break: break-word;
    word-wrap: break-word;
    margin: 0 12px 6px 5px;
    &:before {
      background-image: url('/static/img/icons/chhaajaa/polls.png');
      background-position: 4px 0;
      background-repeat: no-repeat;
      background-size: 80%;
      content: "";
      display: block;
      height: 36px;
      width: 30px;
      margin: 0 auto 4px;
    }
    &:hover, &:focus, &:active {
      &:before {
        background-position: 4px -37.5px;
      }
    }
  }
}
//RADIO BUTTONS OVERRIDES
#survey-form input[type="checkbox"] ~ label,
#survey-form input[type="radio"] ~ label {
  color: $colorPink;
  &:before {
    border: 5px solid $colorPink !important;
    transform: rotate(45deg);
    width: 18px;
    height: 18px;
  }
  &:active {
    color: $colorPink;
  }
}
#survey-form input[type="checkbox"],
#survey-form input[type="radio"] {
  &:checked + label:before {
    background: $colorPink;
  }
}
#survey-form input[type="checkbox"]
#survey-form input[type="radio"] {
  &:checked + label:before {
    background: $colorPink;
  }
}
