.article-page {
  padding: 1em 0;
  &__wrapper {
    padding: 0.5em 3em;
    @media (min-width: 768px) {
      padding: 1.5em 5em;
    }
    .teaser-stacklist__container {
      @media screen and (min-width: 992px) {
        display: flex;
        justify-content: space-between;
      }
    }
    .teaser-stacklist__main {
      @media screen and (min-width: 992px) {
        width: 75%;
        margin: 0 5% 0 0;
      }
    }
    .teaser-stacklist__cta-buttons {
      height: auto;
      @media screen and (min-width: 992px) {
        width: 33%;
      }
    }
    .teaser-stacklist__images,
    .teaser-stacklist__iframe {
      @media screen and (min-width: 992px) {
        height: 568px;
        overflow: hidden;
      }
      .teaser-stacklist__anchor {
        display: block;
      }
      .teaser-stacklist__thumbnail {
        height: auto;
        object-fit: cover;
        object-position: left top;
        height: 100%;
        width: 100%;
      }
      iframe {
        max-height: 568px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
  .comments__form {
    @media (min-width: 1280px) {
      position: inherit;
      margin: 1.5em 0;
      width: 100%;
    }
  }
}
