.article-page {
  padding: 1em 0;
  &__wrapper {
    padding: 1.5em 1em;
    position: relative;
    @media screen and (min-width: 45.000em) {
      padding: 1.5em;
      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: 62.000em){
      padding: 1.5em 2em;
    }
    .content--left {
      @media screen and (min-width: 45.000em) {
        width: 65%;
      }
    }
    .content--right {
      @media screen and (min-width: 45.000em) {
        width: 33%;
      }
    }
    .teaser-stacklist__anchor {
      display: block;
    }
  }
}
