.article-teaser {
  padding: 0 0 2em;
  margin: 5px 0 0;
  @media (min-width: 768px) {
    margin: 0;
  }
}
//SHOW MORE/LESS
.excerpt-hidden {
  height: 3rem;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  position: relative;
}
.excerpt-visible {
  height: auto;
  overflow: auto;
}
