.call-to-action {
  &__read-more {
    color: #f8395d;
    display: inline;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    text-decoration: underline;
    text-underline-position: below;
  }
  //Button
  /*&__read-more {
    width: 150px;
    border: 1px solid #f8395d;
    border-radius: 22.5px;
    display: inline-block;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #fff;
    font-family: "Fedra Sans Bold";
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    overflow: hidden;
    i {
      padding-right: 14px;
      font-size: 24px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -50px;
      bottom: 0;
      left: 0;
      border-right: 50px solid transparent;
      border-bottom: 80px solid #f8395d;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: all 400ms linear 0s;
      -o-transition: all 400ms linear 0s;
      transition: all 400ms linear 0s;
      z-index: -1;
    }
    &:hover {
      color: #f8395d;
      &:before {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
      }
    }
    .purple_read {
      border: 1px solid #a640d0;
      &:before {
        border-bottom: 80px solid #a640d0;
      }
      &:hover {
        color: #a640d0;
      }
    }
  }*/
}


.submit_btn {
  width: 170px;
  border: 1px solid #f8395d;
  display: inline-block;
  text-align: center;
  height: 45px;
  line-height: 45px;
  padding: 0px;
  background: transparent;
  border-radius: 5px;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  color: #fff;
  font-family: "Fedra Sans Bold";
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  overflow: hidden;
  i {
    padding-right: 14px;
    font-size: 24px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #f8395d;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    z-index: -1;
  }
  &:hover, &:focus {
    color: #f8395d;
    background: transparent;
    border-color: #f8395d;
    &:before {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  .purple_submit {
    border: 1px solid #a640d0;
    &:before {
      border-bottom: 80px solid #a640d0;
    }
    &:hover, &:focus {
      color: #a640d0;
      background: transparent;
      border-color: #a640d0;
      &:before {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
      }
    }
  }
}


.purchase_btn {
  width: 220px;
  border: 2px solid #f8395d;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #f8395d;
  font-family: "Fedra Sans Bold";
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  overflow: hidden;
  i {
    padding-right: 14px;
    font-size: 24px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #f8395d;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .purple_pruchase {
    border: 2px solid #a640d0;
    color: #a640d0;
    &:before {
      border-bottom: 80px solid #a640d0;
    }
    &:hover {
      color: #fff;
    }
  }
}


.download_area {
  background: #f1f1f1;
  padding: 100px 0px;
  .download_inner {
    text-align: center;
    max-width: 945px;
    margin: auto;
    h4 {
      font-size: 18px;
      font-family: "Fedra Sans Bold";
      font-weight: 400;
      color: #222222;
      padding-bottom: 14px;
    }
    h3 {
      font-size: 48px;
      color: #f8395d;
      font-weight: bold;
      font-family: "Fedra Sans Bold";
    }
    p {
      font-size: 16px;
      line-height: 28px;
      color: #696969;
      font-family: "Fedra Sans Bold";
      padding: 35px 0px 30px 0px;
    }
    a + a {
      margin-left: 6px;
      @media (max-width: 480px) {
        margin-left: 0px;
        display: block;
        margin-top: 10px;
      }
    }
  }
  .purple_dd .download_inner h3 {
    color: #a640d0;
  }
}
