.comments {
  &__item {
    display: inline-block;
    vertical-align: top;
  }
  &__icon {
    font-family: $FedraSansStdDemi;
    /*background-image: url('/static/img/icons/chhaajaa/Comment.png');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    padding: 0 .5em 0 5px;
    height: 32px;
    width: 40px;*/
    color: #000;
    font-size: 18px;
    text-align: center;
    &:before {
      background-image: url('/static/img/icons/chhaajaa/Comment.png');
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      padding: 0 .5em 0 5px;
      height: 32px;
      width: 40px;

    }
    &:hover, &:focus, &:active {
      opacity: 0.5;
      transition: opacity 1s ease;
    }
  }
  &__form {
    @media (min-width: 1280px) {
      position: absolute;
      right: 3.5em;
      top: 33em;
      width: 30%;
    }
    form {
      @media (min-width: 768px) {
        width: 100%;
      }
    }
    textarea {
      border-radius: 0px;
      border: 2px solid $colorYellow;
      width: 90%;
      @media (min-width: 768px) {
        min-height: 220px;
        width: 92%;
      }
      &:focus {
        outline: none;
        border: 2px solid $colorYellow;
      }
    }
    button, input[type=button],
    input[type=reset], input[type=submit] {
      margin: 10px 5px;
    }
    &-post {
      border: 5px solid transparent;
      padding: 10px;
    }
    &-disabled {
      position: relative;
      opacity: 0.7;
      &:before {
        content: "";
        cursor: not-allowed;
        display: block;
        background-color: transparent;
        height: 100%;
        width: 100%;
        z-index: 99999999999;
        position: absolute;
      }
    }
  }
}

.commentsection {
  border: 2px solid #4bffa1;
  padding: 20px 10px;
}

.comment_list_area  {
  h3 {
    font-size: 24px;
    color: #222222;
    text-transform: uppercase;
    border-bottom: 1px solid #dfdfdf;
    padding: 60px 0px 35px 0px;
    font-weight: 400;
  }

  .media {
    margin-top: 0px;
    padding: 35px 0px 30px 0px;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
    clear: both;
    .media-left {
      padding-right: 30px;
    }
    .media-body  {
        h4 {
        font-size: 14px;
        color: #222222;
        padding-bottom: 10px;
        font-weight: bold;
        -webkit-transition: all 400ms linear 0s;
        -o-transition: all 400ms linear 0s;
        transition: all 400ms linear 0s;
        &:hover {
          color: $colorRedLight;
          text-decoration: underline;
        }
      }
      h5 {
        font-size: 14px;
        font-style: italic;
        color: #696969;
        padding-bottom: 15px;
      }
      p {
        font-size: 15px;
        line-height: 26px;
        color: #696969;
        padding-bottom: 20px;
      }
      .read_more {
        font-size: 15px;
        text-transform: uppercase;
        width: 70px;
        height: 30px;
        border-radius: 0px;
        line-height: 28px;
      }

    }
    .media.comment_reply {
      max-width: 650px;
      float: right;
    }
    .purple_comment  {
      .media .media-body h4 {
        color: #222222;
        -webkit-transition: all 400ms linear 0s;
        -o-transition: all 400ms linear 0s;
        transition: all 400ms linear 0s;
        &:hover {
          color: $colorRedLight;
        }

      }
    }
  }
}
.comment-success {
  font-size: 21px;
  color: $colorPink;
  font-style: italic;
}
