/** comment section class for after submit form**/
.commentsection {
    border: 2px solid #4bffa1;
    padding: 20px 10px;
}
/** comment section close **/
#submit{background-color: #8207ff;
    color: #fff;
border: none;}
#logout{ color: #fff; font-weight: bold;background-color: #8207ff;    padding: 5px;}



  .comment_list_area h3 {
    font-size: 24px;
    color: #222222;
    text-transform: uppercase;
    font-family: "Fedra Sans Bold";
    border-bottom: 1px solid #dfdfdf;
    padding: 60px 0px 35px 0px;
    font-weight: 400;
  }

  .comment_list_area .media {
    margin-top: 0px;
    padding: 35px 0px 30px 0px;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
    clear: both;
  }

  .comment_list_area .media .media-left {
    padding-right: 30px;
  }

  .comment_list_area .media .media-body h4 {
    font-family: "Fedra Sans Bold";
    font-size: 14px;
    color: #222222;
    padding-bottom: 10px;
    font-weight: bold;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
  }

  .comment_list_area .media .media-body h4:hover {
    color: #f8395d;
  }

  .comment_list_area .media .media-body h5 {
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    font-style: italic;
    color: #696969;
    padding-bottom: 15px;
  }

  .comment_list_area .media .media-body p {
    font-size: 15px;
    line-height: 26px;
    font-family: "Fedra Sans Bold";
    color: #696969;
    padding-bottom: 20px;
  }

  .comment_list_area .media .media-body .read_more {
    font-family: "Fedra Sans Bold";
    font-size: 15px;
    text-transform: uppercase;
    width: 70px;
    height: 30px;
    border-radius: 0px;
    line-height: 28px;
  }

  .comment_list_area .media.comment_reply {
    max-width: 650px;
    float: right;
  }

  .comment_list_area.purple_comment .media .media-body h4 {
    color: #222222;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
  }

  .comment_list_area.purple_comment .media .media-body h4:hover {
    color: #f8395d;
  }

  .comment_form_area h3 {
    font-size: 24px;
    font-family: "Fedra Sans Bold";
    color: #222222;
    text-transform: uppercase;
    padding: 60px 0px 25px 0px;
    font-weight: 400;
  }

  .comment_form_area .form-group {
    margin-bottom: 30px;
  }

  .comment_form_area .form-group label {
    font-size: 15px;
    text-transform: uppercase;
    color: #696969;
    font-family: "Fedra Sans Bold";
    font-weight: normal;
    padding-bottom: 5px;
  }

  .comment_form_area .form-group input {
    height: 40px;
    border-radius: 0px;
    border: 1px solid #dfdfdf;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    background: transparent;
    outline: none;
    font-family: "Fedra Sans Bold";
    color: #696969;
    font-size: 14px;
  }

  .comment_form_area .form-group input:focus {
    border: 1px solid #f8395d;
  }

  .comment_form_area .form-group input.placeholder {
    font-family: "Fedra Sans Bold";
    color: #696969;
    font-size: 14px;
  }

  .comment_form_area .form-group input:-moz-placeholder {
    font-family: "Fedra Sans Bold";
    color: #696969;
    font-size: 14px;
  }

  .comment_form_area .form-group input::-moz-placeholder {
    font-family: "Fedra Sans Bold";
    color: #696969;
    font-size: 14px;
  }

  .comment_form_area .form-group input::-webkit-input-placeholder {
    font-family: "Fedra Sans Bold";
    color: #696969;
    font-size: 14px;
  }

  .comment_form_area .form-group textarea {
    height: 170px;
    resize: none;
    border-radius: 0px;
    border: 1px solid #dfdfdf;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    background: transparent;
    outline: none;
    font-family: "Fedra Sans Bold";
    color: #696969;
    font-size: 14px;
  }

  .comment_form_area .form-group textarea:focus {
    border: 1px solid #f8395d;
  }

  .comment_form_area .form-group textarea.placeholder {
    font-family: "Fedra Sans Bold";
    color: #696969;
    font-size: 14px;
  }

  .comment_form_area .form-group textarea:-moz-placeholder {
    font-family: "Fedra Sans Bold";
    color: #696969;
    font-size: 14px;
  }

  .comment_form_area .form-group textarea::-moz-placeholder {
    font-family: "Fedra Sans Bold";
    color: #696969;
    font-size: 14px;
  }

  .comment_form_area .form-group textarea::-webkit-input-placeholder {
    font-family: "Fedra Sans Bold";
    color: #696969;
    font-size: 14px;
  }

  .comment_form_area .form-group .submit_btn_bg {
    width: 150px;
    height: 40px;
  }

  .comment_form_area .form-group:last-child {
    margin-bottom: 0px;
  }

  .comment_form_area.purple_form .form-group input:focus {
    border: 1px solid #a640d0;
  }

  .comment_form_area.purple_form .form-group textarea:focus {
    border: 1px solid #a640d0;
  }

  .comment_form_area.purple_form .form-group .submit_btn_bg {
    width: 150px;
    height: 40px;
  }

  .comment_form_area.purple_form .form-group:last-child {
    margin-bottom: 0px;
  }
