
  .contact_info {
    padding: 100px 0px;
  }

  .contact_info .contact_form_left {
    background: rgba(255, 255, 255, 0.9);
    padding: 60px 40px;
  }

  .contact_info .contact_form_left .form-group {
    margin-bottom: 30px;
  }

  .contact_info .contact_form_left .form-group input {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    background: #f8f8f8;
    height: 45px;
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #999999;
    padding: 0px 15px;
  }

  .contact_info .contact_form_left .form-group input.placeholder {
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #999999;
  }

  .contact_info .contact_form_left .form-group input:-moz-placeholder {
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #999999;
  }

  .contact_info .contact_form_left .form-group input::-moz-placeholder {
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #999999;
  }

  .contact_info .contact_form_left .form-group input::-webkit-input-placeholder {
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #999999;
  }

  .contact_info .contact_form_left .form-group input:focus {
    border-color: #f8395d;
  }

  .contact_info .contact_form_left .form-group textarea {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    background: #f8f8f8;
    height: 150px;
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #999999;
    resize: none;
    padding: 10px 15px;
  }

  .contact_info .contact_form_left .form-group textarea.placeholder {
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #999999;
  }

  .contact_info .contact_form_left .form-group textarea:-moz-placeholder {
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #999999;
  }

  .contact_info .contact_form_left .form-group textarea::-moz-placeholder {
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #999999;
  }

  .contact_info .contact_form_left .form-group textarea::-webkit-input-placeholder {
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #999999;
  }

  .contact_info .contact_form_left .form-group textarea:focus {
    border-color: #f8395d;
  }

  .contact_info .contact_form_left .form-group:last-child {
    margin-bottom: 0px;
  }

  .contact_info .contact_details {
    background: rgba(255, 255, 255, 0.9);
    padding: 60px 40px;
  }

  .contact_info .contact_details .media {
    margin-top: 28px;
  }

  .contact_info .contact_details .media .media-left {
    padding-right: 40px;
  }

  .contact_info .contact_details .media .media-left i {
    color: #f8395d;
    font-size: 22px;
  }

  .contact_info .contact_details .media .media-body h4 {
    font-size: 18px;
    color: #222222;
    font-family: "Fedra Sans Bold";
    font-weight: 400;
    padding-bottom: 12px;
  }

  .contact_info .contact_details .media .media-body h5 {
    font-size: 16px;
    font-family: "Fedra Sans Bold";
    color: #696969;
    line-height: 26px;
  }

  .contact_info .contact_details .media:first-child {
    margin-top: 0px;
  }

  .contact_info .contact_details ul {
    padding-top: 40px;
  }

  .contact_info .contact_details ul li {
    display: inline-block;
    margin-right: 12px;
  }

  .contact_info .contact_details ul li a {
    height: 40px;
    width: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #f8395d;
    font-size: 14px;
    display: inline-block;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    position: relative;
    z-index: 2;
  }

  .contact_info .contact_details ul li a:before {
    content: "";
    position: absolute;
    background: rgba(248, 57, 93, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
  }

  .contact_info .contact_details ul li:last-child {
    margin-right: 0px;
  }

  .contact_info .contact_details ul li:hover a {
    background: #f8395d;
    color: #fff;
  }

  .contact_info .contact_details ul li:hover a:before {
    opacity: 1;
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
  }

@media (max-width: 480px){
    .contact_info .contact_form_left {
        padding: 0;
    }
    .contact_info .contact_details {
        padding: 60px 0px 0px 0px;
    }
}
