.footer_area {
  background: $colorYellow;
  margin-top: 15px;
  .pull-left  {
    @media (max-width: 767px) {
      display: block;
      float: none !important;
      text-align: center;
    }
    h4 {
      font-size: 14px;
      line-height: 80px;
      font-weight: 400;
      a {
        color: $colorRedLight;
      }
    }
  }
  .pull-right {
    @media (max-width: 767px) {
      display: block;
      float: none !important;
      text-align: center;
    }
    ul li {
      display: inline-block;
      margin: 0 1em 0;
      padding: 25px 0;
      a {
        font-size: 21px;
       font-weight:bold;
        text-transform: uppercase;
        color: #8207ff;
        -webkit-transition: all 400ms linear 0s;
        -o-transition: all 400ms linear 0s;
        transition: all 400ms linear 0s;
        &:hover {
          color: $colorRedLight;
        }
      }
    }
  }
  .purple_footer {
    .pull-left h4 a {
      color: #a640d0;
    }
    .pull-right ul li:hover a {
      color: #a640d0;
    }
  }
}

.copyright__disclaimer {
  font-weight: normal;
  font-size: 12px;
}
