.footer_area {
  background: #ffe559;
  margin-top: 15px;
}

.footer_area .pull-left h4 {
  font-size: 14px;
  font-family: "Fedra Sans Bold";
  color: #fff;
  line-height: 80px;
  font-weight: 400;
}

.footer_area .pull-left h4 a {
  color: #f8395d;
}

.footer_area .pull-right ul li {
  display: inline-block;
  margin-left: 30px;
}

.footer_area .pull-right ul li a {
  font-size: 14px;
 font-weight:bold;
  text-transform: uppercase;
  font-family: "Fedra Sans Bold";
  line-height: 80px;
  color: #8207ff;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.footer_area .pull-right ul li:first-child {
  margin-left: 0px;
}

.footer_area .pull-right ul li:hover a {
  color: #f8395d;
}

.footer_area.purple_footer .pull-left h4 a {
  color: #a640d0;
}

.footer_area.purple_footer .pull-right ul li:hover a {
  color: #a640d0;
}

@media (max-width: 767px){
      .footer_area .pull-right ul li {
          margin-left: 16px;

      }
      .footer_area .pull-left{
          display: block;
          float: none !important;
          text-align: center;
      }
      .footer_area .pull-right{
          display: block;
          float: none !important;
          text-align: center;
      }
      .footer_area .pull-right ul li a {
          line-height: 40px;
      }
      .footer_area .pull-left h4 {
          line-height: 50px;
      }

}
