form {
  position: relative;
  overflow: auto;
  vertical-align: middle;
  display: inline-block;
}
fieldset {
  clear: both;
  border: none;
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
  & > label {
    @media (min-width: 1200px) {
      display: inline-block;
      width: 25%;
    }
  }
}
label {
  font-family: $FedraSansBold;
  font-weight: bold;
  font-size: 18px;
  padding: 0 .5em 0 5px;
  vertical-align: middle;
  word-break: break-word;
  word-wrap: break-word;
  display: block;
  text-transform: uppercase;
  color: #696969;
}
textarea {
  background: transparent;
  margin: 0 auto;
  padding: 1em;
  width: auto;
}
select {
  height: 45px;
  appearance: none;
  border-radius: 0;
  outline: none;
  text-transform: capitalize;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
select[value="value"] {
  font-size: 21px;
  text-transform: capitalize;
}
input[type="search"] {
  width: 100%;
  appearance: none;
}
input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  opacity: 0.9;
  visibility: hidden;
  position: absolute;
  & ~ label {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    &:before {
      background-color: #fff;
      content: " ";
      border: 5px solid #ec4e87;
      border-radius: 5px;
      opacity: 0.9;
      display: inline-block;
      width: 22px;
      height: 22px;
      vertical-align: middle;
      margin-right: 15px;
      transform: rotate(45deg);
    }
    &:active {
      color: #ec4e87;
    }
  }
}
input[type="checkbox"] {
  &:checked + label:before {
    background: #ec4e87;
    opacity: 1;
  }
}
input[type="radio"] {
  &:checked + label:before {
    background: #ec4e87;
    opacity: 1;
  }
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="week"],
input[type="date"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
select {
  border: none;
  color: #fff;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  border: 1px solid #ec4e87;
  &:focus,
  &:active,
  &:visited {
    outline: none;
  }
}
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  background: $colorPurple;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  border: none;
  margin: 10px 0;
}

*[disabled],
*[readonly] {
  background-color: #eee;
  opacity: 1
}

.selected {}
.input-hint {
  font-size: 12px;
  font-style: italic;
  display: block;
}
.choice-group {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 5px 0;
}
.input-group {
  .helptext {
    font-size: 12px;
    margin: 0;
    font-style: italic;
    display: block;
  }
  span {
    display: block;
    font-size: 5px;
  }
}

.error-list,
.errorlist {
  display: block;
  padding: 0;
  color: red;
  list-style-type: none;
  &__item {
    color: red;
    text-align: left;
    padding: 0 1em;
  }
}
.error {
  color: red;
  text-align: left;
  padding: 0 1em;
}


//??

/*#signin {
  background-color: #8207ff;
  color: #fff;
  border: none;
  padding: 5px 25px;
  font-size: 18px;
  border-radius: 5px;
}

#logout {
  background-color: #8207ff;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}

.signinplaceholder {
  border: none;
  background-color: #f0f0f0;
  color: $colorGrey;
  font-size: 18px;
}
.forgotpwd {
  color: $colorGrey;
  font-size: 16px;
}
.successmsg {
  color: #00e085;
  font-size: 18px;
  margin-bottom: 15px;
}
.donotuse {
  font-size: 13px;
  color: $colorGrey;
}
.labelq {
  color: $colorGrey;
  font-size: 16px;
   cursor: auto;
}
.errormsg {
  font-size: 13px;
  color: #ff0101;
}
.topspan {
  background-color: #ff4289;
  color: #fff;
  padding: 2px 10px 5px 10px;
  font-size: 18px;

}
.aboutshow {
  color: #ff4289;
}
.aboutp {
  font-size: 14px;
}
.sidebar_title3 {
padding-bottom: 10px;
}

.characters {
  font-size: 18px;
  font-weight: 600;
  background-color: #8207ff;
  color: #fff;
  padding: 5px;
}
.sidebar_title4 {
padding-bottom: 10px;
  h3 {
  font-size: 18px;
  font-weight: 600;

  color: #ff4289;
  padding: 5px;
  }
}

.commentsection2 {
  padding: 0px 0px 0px 15px;
}
.aboutshowh5 {
  color: #ff4289;
  padding: 5px 0px;
}
.left-text {
  width: 86%;
  float: left;
}
.right-text { width: 12%;
  float: right;
}
.imgleft {
  padding-left:0px;
}
.left-text p {
  padding-bottom:10px;
  line-height: 18px;
}
.form-control {
  border: 1px solid $colorYellow;
}
.radio_item {
  display: none !important;
}
.label_item {
  opacity: 0.8;
  font-size: 15px;
}
.radio_item:checked + label {
  opacity: 1;
  color:#8207ff;
}*/
