form {
  position: relative;
  overflow: auto;
  vertical-align: middle;
}
fieldset {
  clear: both;
  border: none;
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
  & > label {
    @media (min-width: 1200px) {
      display: inline-block;
      width: 25%;
    }
  }
}
label {
  font-family: $FedraSansBold;
  font-weight: bold;
  font-size: 18px;
  padding: 0 .5em 0 5px;
  vertical-align: middle;
  word-break: break-word;
  word-wrap: break-word;
  display: block;
  text-transform: uppercase;
  color: #696969;
}
textarea {
  background: transparent;
  margin: 0 auto;
  padding: 1em;
  width: auto;
}
select {
  height: 45px;
  appearance: none;
  border-radius: 0;
  outline: none;
  text-transform: capitalize;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
select[value="value"] {
  font-size: 21px;
  text-transform: capitalize;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  opacity: 0.9;
  visibility: hidden;
  position: absolute;
  & ~ label {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    &:before {
      background-color: #fff;
      content: " ";
      border: 5px solid #ec4e87;
      border-radius: 5px;
      opacity: 0.9;
      display: inline-block;
      width: 22px;
      height: 22px;
      vertical-align: middle;
      margin-right: 15px;
      transform: rotate(45deg);
    }
    &:active {
      color: #ec4e87;
    }
  }
}
input[type="checkbox"] {
  &:checked + label:before {
    background: #ec4e87;
    opacity: 1;
  }
}
input[type="radio"] {
  &:checked + label:before {
    background: #ec4e87;
    opacity: 1;
  }
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="week"],
input[type="date"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
select {
  border: none;
  color: $colorGrey;
  padding: 15px;
  margin: 5px 0;
  width: 100%;
  border: 2px solid $colorPurple;
  font-size: 18px;
  &:focus,
  &:active,
  &:visited {
    outline: none;
  }
}
input[type="search"] {
  width: 100%;
  appearance: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  background: $colorPurple;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  border: none;
  margin: 10px 0;
}

*[disabled],
*[readonly] {
  background: transparent;
  opacity: 1
}

.selected {}
.input-hint {
  font-size: 12px;
  font-style: italic;
  display: block;
}
.choice-group {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 5px 0;
}
.input-group {
  .helptext {
    font-size: 12px;
    margin: 0;
    font-style: italic;
    display: block;
  }
  span {
    display: block;
    font-size: 5px;
  }
}

.error-list,
.errorlist {
  display: block;
  padding: 0;
  color: red;
  list-style-type: none;
  &__item {
    color: red;
    text-align: left;
    padding: 0 1em;
  }
}
.error {
  color: red;
  text-align: left;
  padding: 0 1em;
}
