.heading {
  font-family: $FedraSansStdDemi;
  &--hero {
    background-color: $colorPurple;
    color: #fff;
    padding: 2px 5px;
  }
  &__component {
    color: #fff;
    display: inline-block;
    font-size: 29px;
    &:before {
      background: url('/static/img/icons/chhaajaa/Sym1.png') no-repeat center center / 100%;
      content: "";
      display: inline-block;
      height: 28px;
      width: 25px;
      margin: 0 5px 0 0;
      vertical-align: sub;
    }
  }
  &__subheading {
    color: $colorPink;
    padding: 1em 0;
    font-size: 34px;
    &:before {
      background: url('/static/img/icons/chhaajaa/Sym3.png') no-repeat center center / 100%;
      content: "";
      display: inline-block;
      height: 28px;
      width: 25px;
      margin: 0 5px 0 0;
      vertical-align: sub;
    }
  }
  &__macro {
    color: $colorPink;
    font-size: 34px;
    padding: 1em 0;
  }
}

.main_title {
  text-align: center;
  padding-bottom: 70px;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: $colorPink;
    padding-bottom: 35px;
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      background: $colorPink;
      width: 70px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 10px;
      margin: auto;
    }
    &:after {
      content: "";
      background: $colorPurple;
      width: 40px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
    }
  }
}

.main_white_title {
  text-align: center;
  padding-bottom: 70px;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 35px;
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      background: $colorRedLight;
      width: 70px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 10px;
      margin: auto;
    }
    &:after {
      content: "";
      background: #fff;
      width: 40px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
    }
  }
}

.content_title {
  h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    padding-bottom: 25px;
    &:before {
      content: "";
      left: 0px;
      bottom: 0px;
      position: absolute;
      width: 50px;
      height: 1px;
      background: $colorRedLight;
    }
  }
  &_middle {
    text-align: center;
    padding-bottom: 65px;
    h2 {
      font-size: 30px;
      text-transform: uppercase;
      color: #222222;
      font-weight: 400;
      position: relative;
      padding-bottom: 25px;
      @media (max-width: 480px) {
        font-size: 20px;
      }
      &:before {
        content: "";
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0px;
        position: absolute;
        width: 50px;
        height: 1px;
        background: $colorRedLight;
      }
    }
  }
}
