.main_title {
  text-align: center;
  padding-bottom: 70px;
}

.main_title h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f8395d;
  padding-bottom: 35px;
  position: relative;
  display: inline-block;
}

.main_title h2:before {
  content: "";
  background: #f8395d;
  width: 70px;
  height: 1px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 10px;
  margin: auto;
}

.main_title h2:after {
  content: "";
  background: #a640d0;
  width: 40px;
  height: 1px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.main_title.purple_title h2 {
  color: #a640d0;
}

.main_white_title {
  text-align: center;
  padding-bottom: 70px;
}

.main_white_title h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 35px;
  position: relative;
  display: inline-block;
}

.main_white_title h2:before {
  content: "";
  background: #f8395d;
  width: 70px;
  height: 1px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 10px;
  margin: auto;
}

.main_white_title h2:after {
  content: "";
  background: #fff;
  width: 40px;
  height: 1px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.content_title h2 {
  font-size: 30px;
  font-family: "Fedra Sans Bold";
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
  position: relative;
  padding-bottom: 25px;
}

.content_title h2:before {
  content: "";
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 50px;
  height: 1px;
  background: #f8395d;
}

.content_title.purple_content h2:before {
  background: #a640d0;
}

.content_title_middle {
  text-align: center;
  padding-bottom: 65px;
}

.content_title_middle h2 {
  font-size: 30px;
  font-family: "Fedra Sans Bold";
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
  position: relative;
  padding-bottom: 25px;
}

.content_title_middle h2:before {
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0px;
  position: absolute;
  width: 50px;
  height: 1px;
  background: #f8395d;
}

.content_title_middle p {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  max-width: 750px;
  margin: auto;
  color: #696969;
  padding-top: 23px;
}

.content_title_middle.purple_content h2:before {
  background: #a640d0;
}




  .twoheaders{ margin-top: 10px;}
  .headingh4{
      margin-top: 18px;
      background-color: #ff4289;
      color: #fff;
      padding: 5px 5px;
      font-size: 18px;
      margin-left: -15px;
      margin-right: -15px;
  }
  .ptext{
      padding-left: 10px;
      font-weight: bold;
      font-size: 15px;
  }
  .ptext a{
      color: #ff4289;
      font-size: 14px;
  }
  .smalltext{
      padding-top: 10px;
      padding-left: 5px;
      font-size: 14px;
      font-family: "Fedra Sans Std Book";
  }
  .bottomh5{ color: #ff4289;
    font-weight: 800;
    padding-top: 5px;
    font-size:18px;
    font-family: "Fedra Sans Bold";
  }
  .pull-left a{ font-weight: bold; color:#000;}
  .pull-left {
    margin-top: 25px;
  }
  .righth5{
    color:#ff4289;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 2px;
  }

  .ptextclass{
    line-height: 18px;
    font-size: 16px;
    font-family: "Fedra Sans Std Book";
  }



  @media (max-width: 480px){
      .content_title_middle h2 {
          font-size: 20px;
      }
  }
