.heading {
  &--hero {
    background-color: #8662FC;
    color: #fff;
    font-size: 22px;
    padding: 2px 5px;
  }
  &__component {
    color: #fff;
    display: inline-block;
    font-size: 22px;
    &:before {
      background: url('/static/img/icons/chhaajaa/Sym1.png') no-repeat center center / 100%;
      content: "";
      display: inline-block;
      height: 28px;
      width: 25px;
      margin: 0 5px 0 0;
      vertical-align: sub;
    }
  }
  &__subheading {
    color: #EC4C87;
    font-size: 28px;
    padding: 1em 0;
    &:before {
      background: url('/static/img/icons/chhaajaa/Sym3.png') no-repeat center center / 100%;
      content: "";
      display: inline-block;
      height: 28px;
      width: 25px;
      margin: 0 5px 0 0;
      vertical-align: sub;
    }
  }
}

.main_title {
  text-align: center;
  padding-bottom: 70px;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f8395d;
    padding-bottom: 35px;
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      background: #f8395d;
      width: 70px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 10px;
      margin: auto;
    }
    &:after {
      content: "";
      background: #a640d0;
      width: 40px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
    }
  }
  .purple_title h2 {
    color: #a640d0;
  }
}

.main_white_title {
  text-align: center;
  padding-bottom: 70px;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 35px;
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      background: #f8395d;
      width: 70px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 10px;
      margin: auto;
    }
    &:after {
      content: "";
      background: #fff;
      width: 40px;
      height: 1px;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
    }
  }
}

.content_title {
  h2 {
    font-size: 30px;
    font-family: "Fedra Sans Bold";
    text-transform: uppercase;
    color: #222222;
    font-weight: 400;
    position: relative;
    padding-bottom: 25px;
    &:before {
      content: "";
      left: 0px;
      bottom: 0px;
      position: absolute;
      width: 50px;
      height: 1px;
      background: #f8395d;
    }
  }
  .purple_content h2:before {
    background: #a640d0;
  }

  &_middle {
    text-align: center;
    padding-bottom: 65px;
    h2 {
      font-size: 30px;
      font-family: "Fedra Sans Bold";
      text-transform: uppercase;
      color: #222222;
      font-weight: 400;
      position: relative;
      padding-bottom: 25px;
      @media (max-width: 480px) {
        font-size: 20px;
      }
      &:before {
        content: "";
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0px;
        position: absolute;
        width: 50px;
        height: 1px;
        background: #f8395d;
      }
    }
    p {
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      max-width: 750px;
      margin: auto;
      color: #696969;
      padding-top: 23px;
    }
    .purple_content h2:before {
      background: #a640d0;
    }
  }
}

.twoheaders {
  margin-top: 10px;
}
.headingh4 {
  margin-top: 18px;
  background-color: #ff4289;
  color: #fff;
  padding: 5px 5px;
  font-size: 18px;
  margin-left: -15px;
  margin-right: -15px;
}
.ptext {
  padding-left: 10px;
  font-weight: bold;
  font-size: 15px;
  a {
    color: #ff4289;
    font-size: 14px;
  }
}
.smalltext {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 14px;
  font-family: "Fedra Sans Std Book";
}
.bottomh5 {
  color: #ff4289;
  font-weight: 800;
  padding-top: 5px;
  font-size:18px;
  font-family: "Fedra Sans Bold";
}
.pull-left {
  margin-top: 25px;
  a {
    font-weight: bold;
    color:#000;
  }
}
.righth5 {
  color:#ff4289;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 2px;
}

.ptextclass {
  line-height: 18px;
  font-size: 16px;
  font-family: "Fedra Sans Std Book";
}
