$color_list: (
  chhaajaa_purple : $colorPurple,
  chhaajaa_pink   : $colorPink
);

.navbar {
  overflow: auto;
  @media screen and (min-width: 45.000em) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-nav {
    $block: unquote("#{&}");
    width: 100%;
    @media screen and (min-width: 45.000em) {
      display: flex;
    }
    #logout-form {
      display: inline-block;
    }
    &__button, #logout-form &__button {
      background-color: transparent;
      color: $colorPurple;
      padding: 0;
      font-family: "FedraSansDevanagariB-Bold";
      font-size: 25px;
      font-weight: bold;
      display: block;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      @media screen and (min-width: 45.000em) {
        background-color: $colorPurple;
        color: #fff;
        font-size: 18px;
        padding: 5px 10px;
        margin: 0;
      }
      &:hover, &:focus, &:active {
        background-color: $colorPink;
        color: #fff;
        outline: none;
        text-decoration: none;
      }
    }

    &__option {
      display: block;
      @media screen and (min-width: 45.000em) {
        margin: 1em 10px;
        display: inline-block;
      }
      &:last-child {
        @media screen and (min-width: 45.000em) {
          margin: 1em 0 1em 10px;
        }
      }
      @media screen and (min-width: 62.000em) {
        display: inline-block;
      }
    }
    &__anchor {
      color: #8207ff;
      display: block;
      font-family: "FedraSansDevanagariB-Bold";
      font-size: 28px;
      text-transform: capitalize;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      @media screen and (min-width: 45.000em) {
        padding: 0 1em;
      }
      &:hover, &:focus, &:active {
        color: $colorPink;
      }
    }
    .active {
      color: $color;
    }
    @each $name, $color in $color_list {
      &--#{$name} {
        .navbar-nav__anchor {
          color: $color;
        }
      }
    }
    &__item {
      display: block;
      margin: 0 0 10px;
      @media screen and (min-width: 45.000em) {
        display: inline-block;
      }
      &:last-child {
        @media screen and (min-width: 73.938em) {
          display: flex;
          flex-direction: row-reverse;
          margin: 0 0 0 18em;
        }
        @media screen and (min-width: 80.000em) {
          margin: 0 0 0 20em;
        }
      }
    }
  }
}
.navbar-header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  @media screen and (min-width: 45.000em) {
    width: auto;
    display: inline-block;
    padding: 0 0 0 1em;
  }
}
.navbar-toggle {
  display: inline-block;
  position: relative;
  padding: 10px;
  font-size: 22px;
  vertical-align: middle;
  background: transparent;
  margin: 10px;
  border: 2px solid transparent;
  @media screen and (min-width: 40.000em) {
    margin: 15px;
  }
  @media screen and (min-width: 45.000em) {
    display: none;
  }
  .sr-only {
    display: none;
  }
  .icon-bar {
    background-color: #8207ff;
    display: block;
    width: 1.9em;
    height: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }
  &:hover, &:focus, &:active {
    outline: inherit;
    border-radius: 5px;
    border: 2px solid $colorPink;
    background: transparent;
    transition: border 100ms ease-in-out;
    .icon-bar {
      background-color: $colorPink;
    }
  }
}
.navbar-brand {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  @media screen and (min-width: 62.000em) {
    padding: .8em 15px 0.8em 0;
  }
  img {
    display: block;
    max-width: 103px;
  }
  &:hover, &:focus, &:active {
    img {
      animation: pulse 0.5s ease 0s 1;
    }
  }

}

.nav-search {
  &__label {
    cursor: pointer;
    display: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    @media screen and (min-width: 45.000em) {
      display: inline-block;
      visibility: visible;
    }
    &:after {
      content: " ";
      background-image: url('/static/img/icons/chhaajaa/search_icon.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto;
      display: inline-block;
      vertical-align: middle;
      height: 35px;
      width: 40px;
    }
    &:active, &:hover, &:focus, &:visited {
      cursor: pointer;
      &:after {
        background-size: 80%;
      }
    }
  }
  &__wrapper {
    background: $colorYellow;
    height: auto;
    padding: 1em 0;
    width: 100%;
    z-index: 9999999999;
    text-align: right;
    @media screen and (min-width: 45.000em) {
      position: absolute;
      top: 6em;
      right: 0;
    }
    @media screen and (min-width: 62.000em) {
      padding: 1em 2em;
    }
  }
  &__form {
    position: relative;
    [type="button"],
    [type="submit"] {
      margin: 10px 0;
      float: left;
      @media screen and (min-width: 62.000em)  {
        background: url('/static/img/icons/chhaajaa/search_icon.png') no-repeat center center/30px;
        display: inline-block;
        float: none;
        vertical-align: middle;
        height: 30px;
        width: 30px;
        margin: 0 5px;
        padding: 10px;
        overflow: hidden;
        text-indent: 3em;
        &:active, &:hover, &:focus, &:visited {
          opacity: 0.7;
          background-color: inherit;
          transition: opacity 100ms ease-in-out;
        }
      }
    }
  }
  @media screen and (min-width: 45.000em)  {
    &__checkbox {
      & + * {
        height: auto;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s linear;
      }
      &:checked + * {
        opacity: 1;
        visibility: visible;
        label[for=search_accordion] {
          background-color: $colorGrey;
        }
      }
    }
  }
}
