.our_benefits_area {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.our_benefits_area .our_benefits_inner {
  width: 100%;
  overflow: hidden;
}

.our_benefits_area .our_benefits_inner .benefits_left {
  width: 50%;
  overflow: hidden;
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  vertical-align: middle;
}

.our_benefits_area .our_benefits_inner .benefits_left img {
  max-width: 100%;
}

.our_benefits_area .our_benefits_inner .benefits_left .benefits_content {
  max-width: 555px;
  margin: auto;
}

.our_benefits_area .our_benefits_inner .benefits_left .benefits_content p {
  font-size: 16px;
  line-height: 28px;
  color: #696969;
  font-family: "Fedra Sans Bold";
  padding-top: 40px;
}

.our_benefits_area .our_benefits_inner .benefits_left .benefits_content ul {
  padding-left: 10px;
  padding-top: 30px;
}

.our_benefits_area .our_benefits_inner .benefits_left .benefits_content ul li a {
  font-size: 16px;
  line-height: 28px;
  color: #696969;
  font-family: "Fedra Sans Bold";
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.our_benefits_area .our_benefits_inner .benefits_left .benefits_content ul li a i {
  font-weight: normal;
  font-size: 12px;
  position: relative;
  left: -10px;
  color: #f8395d;
}

.our_benefits_area .our_benefits_inner .benefits_left .benefits_content ul li:hover a {
  color: #f8395d;
}

.our_benefits_area .our_benefits_inner .benefits_right {
  width: 50%;
  overflow: hidden;
  float: right;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  vertical-align: middle;
}

.our_benefits_area .our_benefits_inner .benefits_right .benefits_content {
  max-width: 555px;
  margin: auto;
}

.our_benefits_area .our_benefits_inner .benefits_right .benefits_content p {
  font-size: 16px;
  line-height: 28px;
  font-family: "Fedra Sans Bold";
  color: #696969;
  padding-top: 40px;
  padding-bottom: 25px;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row {
  position: relative;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row iframe {
  border: none;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0px;
  top: 0px;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row .overlay .overlay_bg {
  background: url(../img/benefits/benefits-video.jpg) no-repeat scroll center center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row .overlay .play_pause {
  z-index: 5;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row .overlay .play_pause i {
  height: 80px;
  width: 80px;
  background: #fff;
  color: #f8395d;
  display: inline-block;
  border-radius: 50%;
  font-size: 36px;
  line-height: 80px;
  cursor: pointer;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row .overlay .play_pause i + i {
  display: none;
  opacity: 0;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row .overlay .play_pause .video_content {
  padding-top: 25px;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row .overlay .play_pause .video_content h4 {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row .overlay.playing .overlay_bg {
  opacity: 0;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row .overlay.playing .play_pause .video_content {
  opacity: 0;
}

.our_benefits_area .our_benefits_inner .benefits_right .video_row:hover .overlay .play_pause i + i {
  opacity: 1;
}

.our_benefits_area.purple_benefits .benefits_collaps .panel-group .panel-default .panel-heading .panel-title a {
  color: #a640d0;
}

.our_benefits_area.purple_benefits .benefits_collaps .panel-group .panel-default .panel-heading .panel-title a i {
  display: none;
  color: #a640d0;
}

.our_benefits_area.purple_benefits .benefits_collaps .panel-group .panel-default .panel-heading .panel-title a i + i {
  display: inline-block;
}

.our_benefits_area.purple_benefits .benefits_collaps .panel-group .panel-default .panel-heading .panel-title a.collapsed {
  background: #a640d0;
  color: #fff;
}

.our_benefits_area.purple_benefits .benefits_collaps .panel-group .panel-default .panel-heading .panel-title a.collapsed i {
  display: inline-block;
  color: #fff;
}

.our_benefits_area.purple_benefits .benefits_collaps .panel-group .panel-default .panel-heading .panel-title a.collapsed i + i {
  display: none;
}

.our_benefits_area.purple_benefits .our_benefits_inner .benefits_left .benefits_content ul li a i {
  color: #a640d0;
}

.our_benefits_area.purple_benefits .our_benefits_inner .benefits_left .benefits_content ul li:hover a {
  color: #a640d0;
}

.our_benefits_area.purple_benefits .our_benefits_inner .benefits_right .video_row .overlay .overlay_bg {
  background: url(../img/benefits/benefits-video-2.jpg) no-repeat scroll center center;
}

.benefits_collaps {
  max-width: 402px;
}

.benefits_collaps .panel-group {
  margin-bottom: 0px;
}

.benefits_collaps .panel-group .panel-default {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 10px;
}

.benefits_collaps .panel-group .panel-default .panel-heading {
  padding: 0px;
  border: none;
  border-radius: 0px;
  background: transparent;
}

.benefits_collaps .panel-group .panel-default .panel-heading .panel-title a {
  line-height: 40px;
  padding: 0px 15px;
  background: #f1f1f1;
  display: block;
  width: 100%;
  color: #f8395d;
  font-size: 16px;
  font-family: "Fedra Sans Bold";
  font-weight: 400;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.benefits_collaps .panel-group .panel-default .panel-heading .panel-title a i {
  float: right;
  display: none;
  line-height: 40px;
  color: #f8395d;
  font-size: 16px;
}

.benefits_collaps .panel-group .panel-default .panel-heading .panel-title a i + i {
  display: inline-block;
}

.benefits_collaps .panel-group .panel-default .panel-heading .panel-title a.collapsed {
  background: #f8395d;
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.benefits_collaps .panel-group .panel-default .panel-heading .panel-title a.collapsed i {
  display: inline-block;
  color: #fff;
}

.benefits_collaps .panel-group .panel-default .panel-heading .panel-title a.collapsed i + i {
  display: none;
}

.benefits_collaps .panel-group .panel-default .panel-collapse .panel-body {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f1f1f1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 15px 20px 15px;
  font-size: 14px;
  line-height: 26px;
  color: #696969;
  font-family: "Fedra Sans Bold";
}



@media (max-width: 1199px){
  .our_benefits_area .our_benefits_inner .benefits_left {
      width: 100%;
      overflow: hidden;
      float: none;
      display: block;
      max-width: 960px;
      margin: auto;
  }
  .our_benefits_area .our_benefits_inner .benefits_right {
      width: 100%;
      overflow: hidden;
      float: none;
      display: block;
  }
  .our_benefits_area .our_benefits_inner .benefits_right .benefits_content {
      padding-top: 40px;
  }
  .our_benefits_area .our_benefits_inner .benefits_left .benefits_content {
      padding-top: 40px;
      padding-bottom: 40px;
  }
  .our_benefits_area .our_benefits_inner .benefits_right .video_row iframe {
      border: none;
      margin: auto;
      display: block;
  }
}

@media (max-width: 1440px){
    .our_benefits_area .benefits_content .content_title h2{
        padding-bottom: 10px;
    }
    .our_benefits_area .our_benefits_inner .benefits_right .benefits_content p {
        padding-top: 10px;
        padding-bottom: 0px;
    }
}
