.profiles {
  padding: 0.5em 0;
  @media screen and (min-width: 45.000em) {
    padding: 1.5em 5% 2em;
  }
  &__wrapper {
    background: #fff;
    padding: 2em 1em;
    text-align: center;
    @media screen and (min-width: 45.000em) {
      padding: 2em 30%;
    }
  }
  &__inner {
    @media screen and (min-width: 45.000em) {
      padding: 15px 0 1em;
    }
    &--contact {
      .heading__subtitle {
        text-align: left;
        a {
          display: inline-block;
        }
      }
      p {
        padding: 0 10px;
        text-align: center;
      }
      a {
        display: block;
        text-align: left;
      }
      ul, ol {
        padding: 0 10px;
        list-style-position: inside;
        text-align: left;
      }
      ul {
        list-style: disc;
      }
      ol {
        list-style: decimal;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &__form {
    overflow: inherit;
    text-align: left;
    input {
      width: 90%;
      @media screen and (min-width: 45.000em) {
        width: 100%;
      }
    }
  }
  &__description {
    padding: 0 .5em 0 5px;
  }
  &__caption {
    font-size: 22px;
    padding: 15px 0 0;
    .heading__subtitle {
      display: inline-block;
      font-size: 22px;
    }
  }
  &-pagination {
    text-align: center;
    padding: 0 10px;
    &--multi-step {
      padding: 2em 10px 0;
    }
    &__page {
      font-size: 16px;
      font-style: italic;
      font-weight: normal;
    }
    &__number {
      font-weight: bold;
    }
    &__title {
      font-size: 25px;
      text-align: left;
    }
  }

  .heading {
    font-family: "FedraSansDevanagariB-Demi";
    &__component {
      background: transparent;
      color: $colorPink;
      font-family: "FedraSansDevanagariB-Demi";
      font-size: 55px;
      text-transform: uppercase;
      &:before {
        display: none;
      }
    }
    &--hero {
      background: transparent;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }
}
