.profiles {
  padding: 0.5em 1em;
  background: $colorYellow;
  @media (min-width: 768px) {
    padding: 1.5em 5em;
  }
  &__wrapper {
    background: #fff;
    padding: 2em 1em;
    @media (min-width: 768px) {
      padding: 2em 5%;
    }
  }
  &__inner {
    @media (min-width: 768px) {
      padding: 0 10% 1em;
    }
  }
  &__caption {
    font-size: 25px;
    .heading__subtitle {
      display: inline-block;
      font-size: 25px;
    }
  }

  &__form {
    overflow: inherit;
    input {
        width: 90%;
      @media (min-width: 768px) {
        width: 100%;
      }
    }
  }
  &__description {
    padding: 0 .5em 0 5px;
  }

  .heading__component {
    background: #000;
    text-transform: uppercase;
    &:before {
      display: none;
    }
  }
  .heading--hero {
    background: #000;
    display: inline-block;
  }
}
