.profiles {
  padding: 0.5em 1em;
  background: $colorYellow;
  @media (min-width: 768px) {
    padding: 1.5em 5em;
  }
  &__inner {
    padding: 0 10% 1em;
  }
  &__caption {
    font-size: 25px;
    .heading__subtitle {
      display: inline-block;
      font-size: 25px;
    }
  }
  &__wrapper {
    background: #fff;
    @media (min-width: 768px) {
      padding: 2em 5%;
    }
  }
  &__form {
    overflow: inherit;
    @media (min-width: 768px) {
      padding: 0 10% 1em;
    }
  }

  .heading__component {
    background: #000;
    text-transform: uppercase;
    &:before {
      display: none;
    }
  }
  .heading--hero {
    background: #000;
    display: inline-block;
  }
}
