.reaction-questions {
  margin: 0 5% 0 0;
  @media (min-width: 1200px) {
    float: right;
    max-height: 85px;
  }
  &__form {
    input[type="submit" i] {
      display: none;
    }
  }
  &__list {}
  &__icon {
    background-position: center;
    background-repeat: no-repeat;
    height: 32px;
    width: 40px;
  }
  &__label {
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  &__item {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    &[disabled="enabled"] > .reaction-questions__label {
      color: #000;
      opacity: 1;
    }
    &[disabled="disabled"] > .reaction-questions__label {
      color: #5c5c5c;
      opacity: 0.5;
    }
    &:focus, &:hover, &:active {
      opacity: 0.5;
      color: #ec4e87;
      font-size: 17px;
      transition: color 1s ease 3ms,  opacity 1s ease 3ms, font-size 1s ease 3ms;
    }
  }

}
