.reaction-questions {
  display: inline-block;
  &__list {}
  &__icon {
    background-position: center;
    background-repeat: no-repeat;
    height: 32px;
    width: 40px;
  }
  &__label {
    color: #000;
    font-size: 16px;
    text-align: center;
  }
  &__item {
    display: inline-block;
    margin: 0 5px;
    transition: opacity 1s ease;
    &:not([disabled]) > .reaction-questions__label {
      cursor: pointer;
    }
    &[disabled] > .reaction-questions__label {
      opacity: 0.8;
      transition: opacity 1s ease;
    }
    &[disabled] > .reaction-questions__label--like {
      .reaction-questions__icon {
        background-image: url('/static/img/icons/chhaajaa/liked.png') !important;
      }
    }
    &[disabled] > .reaction-questions__label--dislike {
      .reaction-questions__icon {
        background-image: url('/static/img/icons/chhaajaa/disliked.png') !important;
      }
    }
    &:focus, &:hover, &:active {
      opacity: 0.9;
      transition: opacity 1s ease;
    }
  }

}
