.search-page {
  padding: 1.5em 2em;
  @media (min-width: 768px) {
    padding: 2.5em 3em;
  }
  &__query-term {
    color: $colorPurple;
    font-style: italic;
    font-weight: bold;
  }

  &__form  {
    margin: 2em 0;
    @media (min-width: 991px) {
      width: 50%;
    }
  }
}
