.section-page {
  padding: 1em 0;
  &__images {
    padding: 0 2em;
    @media (min-width: 768px) {
      padding: 0 3em;
    }
  }
  &__thumbnail {
    text-align: left;
    &--placeholder {}
  }

  &__wrapper {
    .teaser-stacklist__container {
      padding: 0.5em 2em;
      @media (min-width: 768px) {
        padding: 1.5em 3em;
      }
      @media screen and (min-width: 992px) {
        display: flex;
        justify-content: space-between;
      }
    }
    .teaser-stacklist__main {
      @media screen and (min-width: 992px) {
        width: 75%;
        margin: 0 5% 0 0;
      }
    }
    .teaser-stacklist__cta-buttons {
      @media screen and (min-width: 992px) {
        width: 40%;
      }
    }
    .teaser-stacklist__images,
    .teaser-stacklist__iframe {
      @media screen and (min-width: 992px) {
        height: 635px;
        overflow: hidden;
      }
      .teaser-stacklist__anchor {
        display: block;
      }
      .teaser-stacklist__thumbnail {
        height: auto;
        object-fit: cover;
        object-position: left top;
        height: 100%;
        width: 100%;
      }
      iframe {
        height: auto;
        width: 100%;
      }
    }
  }

  &__columns {
    padding: 0 2em;
    @media (min-width: 768px) {
      padding: 0 3em;
    }
    @media screen and (min-width: 992px) {
      display: flex;
      justify-content: space-between;
    }
    &-left {
      @media screen and (min-width: 992px) {
        width: 65%;
      }
    }
    &-right {
      @media screen and (min-width: 992px) {
        width: 33%;
      }
    }
    .teaser-grid {
      @media (min-width: 768px)  {
        height: 400px;
      }
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px $colorYellow;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(134,98,252,1);
        outline: 1px solid rgba(134,98,252,1);
      }
    }
  }

  .comments__form {
    @media (min-width: 1280px) {
      position: inherit;
      margin: 1.5em 0;
      width: 100%;
    }
  }
}
