.section-page {
  &__wrapper {}
  &__images {}
  &__thumbnail {
    text-align: left;
    &--placeholder {

    }
  }

  &__columns {
    @media screen and (min-width: 992px) {
      display: flex;
      justify-content: space-between;
    }
    &-left {
      @media screen and (min-width: 992px) {
        width: 65%;
      }
    }
    &-right {
      @media screen and (min-width: 992px) {
        width: 33%;
      }
    }
  }
}
