.sidebar_title {
  padding-bottom: 10px;
}

.sidebar_title h3 {
  font-size: 18px;
  font-family: "Fedra Sans Bold";
  font-weight: 600;
     background-color: #8207ff;
    color: #fff;
    padding: 5px;
}

.sidebar_title1 {
  padding-bottom: 10px;
  margin-top: 1px;
}

.sidebar_title1 h3 {
  font-size: 18px;
  font-family: "Fedra Sans Bold";
  font-weight: 600;

    color: #ff4289;
    padding: 5px;
}
.sidebar_title2 {
  padding-bottom: 10px;
}

.sidebar_title2 h3 {
  font-size: 18px;
  font-family: "Fedra Sans Bold";
  font-weight: 600;

    color: #ff4289;
    padding: 5px;
}
