.share {
  &__item {
    vertical-align: top;
    display: inline-block;
    padding: 0 15px 0 0;
  }
  &__reveal {
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 3.1em;
    text-align: center;
    display: none;
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.34);
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.34);
    width: 100%;
    @media (min-width: 768px) {
      width: 75%;
    }
  }
  &__icon {
    color: $colorGrey;
    font-family: $FedraSansStdDemi;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    word-break: break-word;
    word-wrap: break-word;
    position: relative;
    &:before {
      background: url("/static/img/icons/chhaajaa/share.png") no-repeat 0 0/100%;
      content: "";
      display: block;
      height: 38px;
      width: 40px;
      margin: 0 0 2px;
    }
  }
}

.social-media {
  &-list {
    padding: 12px 2em 5px;
    &__item {
      display: inline-block;
      margin: 0 15px 0 5px;
    }
  }
  &__icon {
    height: 28px;
    width: 28px;
  }
  &__default-icon {
    height: 35px;
    width: 35px;
    display: block;
    text-indent: 5em;
    overflow: hidden;
  }
  &__anchor {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    &--facebook {
      .social-media__default-icon {
        background: url("/static/img/icons/facebook.png") no-repeat 0 0/100%;
      }
    }
    &--twitter {
      .social-media__default-icon {
        background: url("/static/img/icons/twitter.png") no-repeat 0 0/100%;
      }
    }
    &--whatsapp {
      .social-media__default-icon {
        background: url("/static/img/icons/chhaajaa/icon-whatsapp.png") no-repeat 0 0/100%;
      }
    }
  }
}
