.socialicons { color: #000;
    font-weight: bold;

    }
    .like{
         padding-left: 3px;
    }
    .Dislike{
         padding-left: 6px;
    }
    .Share{
         padding-left: 5px;
    }
    .Comment{
         padding-left: 6px;
    }
