.teaser-stacklist {
  &__item {}
  &__container {
    overflow: auto;
    position: relative;
    padding: 1.5em 0 0;
  }
  &__excerpt {
    display: inline-block;
  }
  &__inner {}
  &__cta-buttons {
    margin: 0 5% 0 0;
    border: 1px solid red;
    @media (min-width: 1200px) {
      float: right;
      max-height: 85px;
    }
  }
  &__iframe {
    overflow: hidden;
    iframe {
      width: 100%;
      @media screen and (min-width: 80.000em) {
        max-width: 903px;
        height: 561px;
      }
    }
  }
  &__image {}
  &__title {
    color: #fff;
    background-color: $colorPink;
    padding: 0 10px 0;
    display: inline;
    font-size: 34px;
  }
  &__anchor {
    display: inline;
  }
}
