.teaser-stacklist {
  &__item {}
  &__iframe {
    overflow: auto;
    iframe {
      @media screen and (min-width: 80.000em) {
        width: 880px;
        height: 545px;
      }
    }
  }

  &__title {
    color: #fff;
    background-color: #EC4E87;
    display: inline;
  }
}
