.teaser-stacklist {
  &__item {}
  &__container {
    overflow: auto;
    position: relative;
  }
  &__excerpt {
    display: inline;
  }
  &__inner {}
  &__iframe {
    overflow: hidden;
    iframe {
      width: 100%;
      @media screen and (min-width: 80.000em) {
        max-width: 903px;
        height: 561px;
      }
    }
  }
  &__title {
    color: #fff;
    background-color: #EC4E87;
    padding: 0 10px 0;
    display: inline;
    font-size: 26px;
  }
}
