.teaser-card {
  border-right: 1px solid $colorPurple;
  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    margin: 0 5px 2em 5px;
    @media (min-width: 1200px) {
      margin: 0 5px 2em 15px;
      width: 30%;
    }
  }
  &__images {
    width: 100%;
    margin: 0 auto;
    height: 250px;
    overflow: hidden;
  }
  &__title {
    color: $colorPink;
    font-size: 21px;
    padding: 10px 0;
    display: inline-block;
  }
  &__subtitle,
  &__para {
    font-size: 18px;
    color: $colorGrey;
  }
}
