.teaser-grid {
  margin: 1em 0;
  &__item {
    @media screen and (min-width: 80.000em) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__iframe {
    margin: 0 10px 0 0;
    overflow: auto;
    iframe {
      @media screen and (min-width: 80.000em) {
        width: 262px;
        height: 162px;
      }
    }
  }
  &__container {
    overflow: auto;
    position: relative;
  }
  &__anchor {
    display: block;
  }
  &__title {
    color: #EC4E87;
    font-size: 21px;
  }
  &__subtitle {
    color: #3c3b3b;
  }
  &__anchor {}
}
