.surveys, .polls,  {
  border-top: 2px solid $colorYellow;
  padding: 1em 0;
  &__title {
    color: $colorPink;
  }
  &__inner {
    overflow: auto;
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }
  }
}
