.surveys, .polls,  {
  border-top: 2px solid #ffe559;
  padding: 1em 0;
  &__title {
    color: #EC4C87;
  }
  &__inner {
    overflow: auto;
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__form {
    
  }
}
