.surveys, .polls,  {
  border-top: 2px solid $colorYellow;
  border-bottom: 2px solid $colorYellow;
  padding: 1em 0;
  margin: 0 0 5px;
  @media (min-width: 768px) {
    //margin: 0;
  }
  .heading__macro {
    font-family: $FedraSansStdDemi;
    @media (min-width: 1200px) {
      font-size: 38px;
    }
  }
  &__title {
    color: $colorPink;
  }
  &__inner {
    overflow: auto;
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }
  }

  //Form
  fieldset {
    margin: 10px;
  }
  label {
    font-size: 23px;
  }
}

#survey-form input[type="checkbox"] ~ label,
#survey-form input[type="radio"] ~ label {
  color: $colorPink;
  &:before {
    border: 5px solid $colorPink !important;
    transform: rotate(45deg);
    width: 18px;
    height: 18px;
  }
  &:active {
    color: $colorPink;
  }
}
#survey-form input[type="checkbox"],
#survey-form input[type="radio"] {
  &:checked + label:before {
    background: $colorPink;
  }
}
#survey-form input[type="checkbox"]
#survey-form input[type="radio"] {
  &:checked + label:before {
    background: $colorPink;
  }
}

.vote {
  &__item {
    display: inline-block;
    vertical-align: top;
  }
  &__icon {
    background-image: url('/static/img/icons/chhaajaa/poll.png');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    padding: 0 .5em 0 5px;
    height: 32px;
    width: 40px;
    &:hover, &:focus, &:active {
      opacity: 0.8;
      transition: opacity 1s ease;
    }
  }
}

.responses {
  border: 2px solid $colorPink;
  display: block;
  margin: 10px;
  width: 70%
}
.response-percent {
  background: #fff;
  display: flex;

  &__bar {
    font-size: 21px;
    font-weight: $FedraSansStdLight;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 10px 3px;
    width: auto;
    &:first-child {
      background: $colorPink;
      color: #fff;
      border-right: 1px solid red;
    }
    &:nth-child(2) {
      background: #fff;
      color: $colorGrey;
    }
    &:nth-child(n+2) {
      background: $colorPink;
    }
    &:last-child {
      border: none;
    }
  }
}
