.right_widget {
  margin-bottom: 55px;
}

.right_widget:last-child {
  margin-bottom: 0px;
}


.search_widget .input-group input {
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0px;
  height: 60px;
  background: transparent;
  color: #696969;
  font-size: 14px;
  font-family: "Fedra Sans Bold";
}

.search_widget .input-group input.placeholder {
  color: #696969;
  font-size: 14px;
  font-family: "Fedra Sans Bold";
}

.search_widget .input-group input:-moz-placeholder {
  color: #696969;
  font-size: 14px;
  font-family: "Fedra Sans Bold";
}

.search_widget .input-group input::-moz-placeholder {
  color: #696969;
  font-size: 14px;
  font-family: "Fedra Sans Bold";
}

.search_widget .input-group input::-webkit-input-placeholder {
  color: #696969;
  font-size: 14px;
  font-family: "Fedra Sans Bold";
}

.search_widget .input-group input:focus {
  border: 1px solid #f8395d;
  border-right: 0px;
}

.search_widget .input-group-btn .btn-default {
  height: 60px;
  padding: 0px;
  width: 65px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #f8395d;
  background: #f8395d;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  outline: none !important;
  font-size: 18px;
}

.search_widget.purple_search .input-group input {
  color: #696969;
}

.search_widget.purple_search .input-group input:focus {
  border: 1px solid #a640d0;
  border-right: 0px;
}

.search_widget.purple_search .input-group-btn .btn-default {
  border: 1px solid #a640d0;
  background: #a640d0;
  color: #fff;
}

.category_widget ul li {
  border-bottom: 1px solid #dfdfdf;
}

.category_widget ul li a {
  font-size: 16px;
  font-family: "Fedra Sans Bold";
  font-weight: 400;
  color: #696969;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  padding: 15px 0px;
  display: inline-block;
}

.category_widget ul li:first-child a {
  padding-top: 0px;
}

.category_widget ul li:hover a {
  color: #f8395d;
}

.category_widget.purple_category ul li a {
  color: #696969;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.category_widget.purple_category ul li:hover a {
  color: #a640d0;
}

.recent_widget .recent_widget_inner .media {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;
  margin-top: 0px;
}

.recent_widget .recent_widget_inner .media .media-left {
  padding-right: 15px;
}

.recent_widget .recent_widget_inner .media .media-body h4 {
  font-size: 16px;
  font-family: "Fedra Sans Bold";
  line-height: 20px;
  line-height: 24px;
  color: #222222;
  padding-bottom: 6px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  margin-top: -5px;
}

.recent_widget .recent_widget_inner .media .media-body h5 {
  color: #696969;
  font-size: 14px;
  font-family: "Fedra Sans Bold";
}

.recent_widget .recent_widget_inner .media:first-child {
  padding-top: 0px;
}

.recent_widget .recent_widget_inner .media:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.recent_widget .recent_widget_inner .media:hover .media-body h4 {
  color: #f8395d;
}

.recent_widget.purple_recent .recent_widget_inner .media .media-body h4 {
  color: #222222;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.recent_widget.purple_recent .recent_widget_inner .media:hover .media-body h4 {
  color: #a640d0;
}

.tags_widget ul {
  margin-right: -10px;
  margin-top: -10px;
}

.tags_widget ul li {
  display: inline-block;
  margin-right: 7px;
  margin-top: 10px;
}

.tags_widget ul li a {
  line-height: 34px;
  border: 1px solid #dfdfdf;
  font-family: "Fedra Sans Bold";
  color: #696969;
  display: block;
  padding: 0px 15px;
  font-size: 14px;
  border-radius: 5px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.tags_widget ul li:hover a {
  border-color: #f8395d;
  color: #f8395d;
}

.tags_widget.purple_tags ul li a {
  color: #696969;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.tags_widget.purple_tags ul li:hover a {
  border-color: #a640d0;
  color: #a640d0;
}
