.works_area {
  padding: 100px 0px;
}

.works_area .works_left_img {
  text-align: center;
}

.works_area .works_left_img img {
  max-width: 100%;
}

.works_area .works_right_content {
  padding-top: 45px;
}

.works_area .works_right_content p {
  font-size: 16px;
  line-height: 28px;
  font-family: "Fedra Sans Bold";
  color: #696969;
  padding-top: 40px;
  padding-bottom: 50px;
}

.works_area .works_right_content a img {
  max-width: 100%;
}

.works_area .works_right_content a + a {
  padding-left: 16px;
}

@media (max-width: 480px){
  .works_area .works_right_content a {
      display: block;
  }
  .works_area .works_right_content a + a {
      padding-left: 0px;
      padding-top: 15px;
  }

}
