{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="form-wrap change-password">
<form method="post" id="frmProfilePasswordChange" action="" class="profile">
{% csrf_token %}
   {% if form.errors or form.non_field_errors %}
      {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
              <p class="errorlist">{{ error }}</p>
          {% endfor %}
      {% endif %}
  {% endif %}

  {% if messages %}
    <ul class="errorlist">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

   <div>
      <label class="label-wide">{% trans "Old Password:" %}</label>
      <p>{{form.old_password}}</p>
      <span>{{form.old_password.errors}}</span>
   </div>
   <div>
      <label class="label-wide">{% trans "New Password:" %}</label>
      <p>{{form.new_password}}</p>
      <span>{{form.new_password.errors}}</span>
   </div>
   <div>
      <label class="label-wide">{% trans "Confirm New Password:" %}</label>
      <p>{{form.confirm_password}}</p>
      <span>{{form.confirm_password.errors}}</span>
   </div>
   <input type="submit" value='{% trans "Change Password" %}' class="btn btn-wide">
</form>
</div><!-- /form-wrap -->
{% endblock %}
