{% extends "base.html" %}
{% load i18n static core_tags wagtailsettings_tags %}
{% get_settings %}

{% block content %}
<div class="profile-container">
    <div class="title profile">
        <h3>{% trans "Sign up" %}</h3>
    </div>
    <div class="block">
      <div class="signin-form">
        <p class="call-to-action__nav-item--challenge-heading">
          {% trans "Not a member yet? Join us by signing up below. Or" %}
          <a href="{% url "molo.profiles:auth_login" %}" class="call-to-action__link">{% trans "Log in "%}</a>
          {% trans "now if you've already joined" %}
        </p>

        <form method="post" action="{% url 'molo.profiles:user_register' %}" class="profiles__form">
        {% csrf_token %}
        <fieldset>
          <label>{% trans "Choose a username" %}</label>
          <p class="helptext">{% trans "Please do not use your real name, phone number or email address as it's unsafe." %}</p>
          {{ form.username.errors}}
          {{ form.username }}
        </fieldset>

        <fieldset>
          <label>{% trans "Choose a 4-digit pin" %}</label>
          {{ form.password.errors}}
          <input id="id_password" maxlength="4" name="password" placeholder="eg. 2086" type="password" required="" pattern="[0-9]*" inputmode="numeric">
          <span class="input-hint">{% trans "Numbers only eg. 5656" %}</span>
        </fieldset>

        {% if settings.profiles.UserProfilesSettings.show_mobile_number_field %}
        <fieldset>
          <label for="mobile_number">{% trans "Enter your mobile number" %}</label>
          {{ form.mobile_number.errors}}
          {{ form.mobile_number }}
          <span class="input-hint">{% trans "(e.g. 0900000013)" %}</span>
        </fieldset>
        {% endif %}


        {% if settings.profiles.UserProfilesSettings.show_email_field %}
        <fieldset>
          <label for="id_email">{% trans "Enter your email address" %}</label>
          {{ form.email.errors}}
          {{ form.email }}
          <span class="input-hint">{% trans "(e.g. example@foo.com)" %}</span>
        </fieldset>
        {% endif %}

          <fieldset>
            <label>{% trans "I identify my gender as" %}</label>
            {{ form.gender.errors}}
            {{ form.gender }}
            <span class="sigin-form__input-hint">({% trans "Only you will see this" %})</span>
          </fieldset>


            {% if settings.profiles.UserProfilesSettings.show_security_question_fields  %}
            <fieldset>
              <label>Security questions</label>
              <p class="helptext">
                Please answer the following security questions. You'll have to provide these answers if you ever need to reset your password.
              </p>
              {% for field in form %}
                {% if field in form.security_questions %}
                    <label for="id_email">{% trans field.label_tag %}</label>
                    {{ field.errors}}
                    {{ field }}
                {% endif %}
              {% endfor %}
            </fieldset>
            {% endif %}


          <fieldset>
            {% if form.terms_and_conditions.errors %}
              <span class="error">
                {% trans "Please accept the T&amp;Cs in order to complete the registration" %}
              </span>
            {% endif %}
            <div class="terms-and-conditions">
              <div class="terms-and-conditions__field">
                {{ form.terms_and_conditions }}
                <label for="id_terms_and_conditions" class="profiles__terms">{% trans "I accept the Terms and Conditions" %}</label>
              </div>
            </div>
          </fieldset>

          <input type="submit" class="registerSubmit" value='{% trans "Sign up" %}' />
          <input type="hidden" name="next" value="{% url 'molo.profiles:registration_done' %}"/>
          <div class="call-to-action call-to-action--profile">
            <a href="{% url 'molo.profiles:auth_login' %}" class="button inverted">{% trans "already joined?" %}</a>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
