{% extends "base.html" %}
{% load i18n %}
{% load static core_tags %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="form-wrap">
    <form method="post" action="{% url 'molo.profiles:user_register' %}">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <input type="submit" class="registerSubmit" value='{% trans "Register" %}' />
    </form>
</div>
{% endblock %}
