{% extends "base.html" %}
{% load i18n static core_tags %}


{% block content %}
<div class="profile-container">
    <div class="title profile">
        <h3>{% trans "Join" %}</h3>
    </div>
    <div class="block">
      <div class="signin-form">
        <p>{% trans "Not a member yet? Join us by signing up below." %}</p>

        <form method="post" action="{% url 'molo.profiles:user_register' %}">{% csrf_token %}
            <p><strong>{% trans "Choose a username" %}</strong></p>
            {{ form.username.errors}}
            {{ form.username }}

            <p><strong>{% trans "Choose a 4-digit pin" %}</strong></p>
            {{ form.password.errors}}
            {{ form.password }}

            <p><strong>{% trans "Choose your gender (only you will see this)" %}</strong></p>
            {{ form.gender.errors}}
            {{ form.gender }}
            <br>
            <input type="submit" class="registerSubmit" value='{% trans "JOIN" %}' />
            <input type="hidden" name="next" value="{% url 'molo.profiles:registration_done' %}" />
            <a href="{% url 'molo.profiles:auth_login' %}" class="button inverted">{% trans "already joined?" %}</a>
        </form>
      </div>
    </div>
</div>
{% endblock %}
