{% extends "base.html" %}

{% block content %}
    <div class="default-container">
        <div class="title">
            <h3>{% trans "Reset PIN" %}</h3>
        </div>
        <div class="block">
            <form method="post" novalidate>
                {% csrf_token %}

                {% if form.errors %}
                    <p class="error errorlist">
                    {% for key, errors in form.errors.items %}
                        {% for error in errors %}
                            {% trans "error" %}<br/>
                        {% endfor %}
                    {% endfor %}
                    </p>
                {% endif %}

                {{ form.username }}
                {{ form.token }}

                <p><strong>{% trans "PIN" %}</strong></p>
                {{ form.password }}

                <p><strong>{% trans "Confirm PIN" %}</strong></p>
                {{ form.confirm_password }}

                <br>
                <input type="submit" value='{% trans "Reset PIN" %}' />
            </form>
        </div>
    </div>
{% endblock %}
