{% extends "base.html" %}
{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}
    <div class="profile-container">
        <div class="title profile">
            <h3>{% trans "Hello" %} {{ user }}</h3>
        </div>
        <div class="block">
            <a href="{% url 'molo.profiles:auth_logout' %}"
               class="button inverted logout-link">{% trans "log out" %}</a>
        </div>
        <hr>
        <div class="nickname-form">
            <div class="block">
                <form method="post" id="frmProfileEdit"
                      action="{% url 'molo.profiles:edit_my_profile' %}">
                    {% csrf_token %}
                    <h5>{% trans "Change your name" %}</h5>
                    <p>{% trans "When you type comments your name will appear as:" %}
                    <span>{{ user.profile.alias }}</span></p>

                    <p>{% trans "Please do not use your real name, phone number or email address as it's unsafe." %}</p>

                    <p>{% trans "Type new display name:" %}</p>
                    {{ edit_profile_form.alias }}

                    {% if settings.profiles.UserProfilesSettings.show_mobile_number_field %}
                      <p>{% trans "Update your mobile number:" %}</p>
                        {{ edit_profile_form.mobile_number.errors }}
                        {{ edit_profile_form.mobile_number }}
                    {% endif %}


                    <input type="submit" value='{% trans "Update profile" %}'>
                </form>
            </div>
        </div>
        <hr>
        <div class="password-form">
            <div class="block">

                <form method="post" id="frmProfilePasswordChange"
                      action="{% url 'molo.profiles:profile_password_change' %}" class="profile">{% csrf_token %}
                    <h5>{% trans "Change Your Password" %}</h5>
                    {% if form.errors or form.non_field_errors %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="errorlist">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {% if messages %}
                        <ul class="errorlist">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div>
                        <p>{% trans "Old Password:" %}</p>
                        {{ password_change_form.old_password }}
                        <span>{{ password_change_form.old_password.errors }}</span>
                    </div>
                    <div>
                        <p>{% trans "New Password:" %}</p>
                        {{ password_change_form.new_password }}
                        <span>{{ form.new_password.errors }}</span>
                    </div>
                    <div>
                        <p>{% trans "Confirm Password:" %}</p>
                        {{ password_change_form.confirm_password }}
                        <span>{{ form.confirm_password.errors }}</span>
                    </div>
                    <input type="submit" value='{% trans "Baguhin ang password" %}'>
                </form>
            </div>
        </div>
        <hr>
        {% if user.profile %}
          {% if user.profile.date_of_birth %}
          <div class="dob-form">
              <div class="block">
                  <h5>{% trans "Your date of birth is:" %} {{ user.profile.date_of_birth }}</h5>
              </div>
          </div>
          {% endif %}
        {% endif %}
        {% if settings.profiles.UserProfilesSettings.show_mobile_number_field %}
          {% if user.profile.mobile_number %}
          <div class="dob-form">
              <div class="block">
                  <h5>{% trans "Mobile Number: " %} {{ user.profile.mobile_number }} </h5>
              </div>
          </div>
          {% endif %}
        {% endif %}
        {% if user.gem_profile %}
          <div class="gender-form">
              <div class="block">
                  <h5>{% trans "Your gender is:" %} {{user.gem_profile.get_gender_display}}</h5>
              </div>
          </div>
        {% endif %}
    </div>
{% endblock %}
