.profile-container,
.default-container,
{
  .title {
    text-align: center;
    margin: 8px;
  }

  .block, article {
    margin: 8px;
    text-align: center;
  }

  form {
    padding: 16px 8px ;
    background: #ececec;

    label, p {
      text-align: left;
      margin: 0 0 8px 0;
    }

    input, select {
      width: 100%;
      margin: 0 0 16px 0;
    }

    input[type="submit"] {
      width: auto;
      text-align: center;
      white-space: normal;
    }

    .inverted {
      width: 100%;
      text-align: left;
      display: block;
      color: #00b8ae;
      font-weight: normal;
      font-size: 11px;
      background: none;
      text-decoration: underline;
    }

  }
}

.signin-form input[type="checkbox"] {
  padding: 5px;
}

.signin-form #id_password {
  margin: 0;
}

.signin-form #id_gender {
  text-transform: capitalize;
  margin: 0;
}

.sigin-form__input-hint {
  text-align: center !important;
  color: #777 !important;
}

.section_page {
    .section-image {
      display: none;
    }
}

.message-notification {
  background: #ae016d;
  color: #fff;
  padding: 16px;
  a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
  }
}
