.no-search-results {
  color: #a9a9a9;
}

.search-results {
    margin: 18px 0;
}

.search {
    label {
        display: none;
    }
}

.search-result {
    display: block;
    margin-top: 18px;
    padding: 18px;
}

#gem-footer #search-form {
  margin: 18px 0;
  label, input, button {
    display: block;
  }
  input {
    width: 100%;
  }
}
