.header {
  @include for-size(tablet-portrait-up) {
    padding: 0 7%;
  }
  @include for-size(tablet-landscape-up) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 4em;
    position: fixed;
    z-index: 9999999999;
  }
}
