{% load wagtailcore_tags wagtailimages_tags core_tags i18n %}
<article class="{{articletype}}">
  {% for block in self.body %}
    {% if block.block_type == 'heading' %}
      <h3 class="heading heading--large">{{ block.value }}</h3>
    {% elif block.block_type == 'image' %}
      {% image block.value width-320 %}
    {% elif block.value.youtube_link %}
      {% with block.value as media %}
        {% include "patterns/basics/media/media-player.html" %}
      {% endwith %}
    {% elif block.value.type == 'video'%}
      {% if not is_via_freebasics %}
        <div class="media-player">
          <div class="media-player__content">
            <video width="320" height="240" controls>
                <source src={{block.value.file.url}} type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% trans "Download Video" as buttontext %}
            {% include "patterns/basics/buttons/sp_variations/button.html" with type="yellow" hyperlink=block.value.file.url text=buttontext attribute="download" %}
          </div>
        </div>
      {% endif %}
    {% elif block.value.type == 'audio'%}
      {% if not is_via_freebasics %}
        <div class="media-player">
          <div class="media-player__content">
            <audio controls>
              <source src={{block.value.file.url}} type="audio/mpeg">
            </audio>
            {% trans "Download Audio" as buttontext %}
            {% include "patterns/basics/buttons/sp_variations/button.html" with type="yellow" hyperlink=block.value.file.url text=buttontext attribute="download" %}
          </div>
        </div>
      {% endif %}
    {% elif block.block_type == 'numbered_list' %}
      <ol class="ordered-list">
      {% for item in block.value %}
        <li class="ordered-list__item">{{ item|handle_markdown }}</li>
      {% endfor %}
      </ol>
    {% elif block.block_type == 'list' %}
      <ul class="unordered-list">
      {% for item in block.value %}
        <li class="unordered-list__item">{{ item|handle_markdown }}</li>
      {% endfor %}
    </ul>
    {% else %}
      {{ block }}
    {% endif %}
  {% endfor %}
</article>
