article {
  @include underline(sharpie, 10px);
  margin-bottom: 18px;
  padding-bottom: 20px;
  h1,h2,h3,h4,h5,h6,p {
    margin: 8px 0;
    padding: 0 10px;
  }
  p {
    margin-bottom: 20px;
    padding: 0 10px;
  }
  img {
    display: block;
    margin: 0 auto;
    padding: 0 10px;
  }
  ul, ol {
    padding: 0 35px;
  }
  li {
   padding: 0 25px;
   
 }
}


.article-list {
  margin: 0;
  padding: 0;
}
.articles {
  overflow: auto;
  padding-bottom: 20px;
  .heading--x-small {
    font-weight: bold;
    padding-bottom: 5px;
    @media screen and (min-width: 320px) {
      color: #017AF5;
    }
  }
}
.heading--article {
  margin: 0;
  padding: 10px 15px;
}
.article__desc {
  padding: 10px 8px;
  margin: 0;
}
.article__image--link {
  text-align: center;
  @media screen and (min-width: 320px) {
    float: right;
    padding: 7px 0 0 5px;
  }
  @media screen and (min-width: 480px) {
    padding: 0 5px 25px;
  }
}
.article__image--thumbnail {
  width: 95%;
  @media screen and (min-width: 320px)  {
    width: auto;
  }
}

.article-teaser__publish-date,
.article-page__publish-date {
  color: #94989B;
  display: block;
  font-size: 14px;
}
.article-teaser__publish-date {
  padding: 0 0 10px;
}
.article-page__publish-date {
  padding: 0 15px;
}
