
.article__image,
.article-list__image {
  width: 100%;
  height: auto;
  /*@media screen and (min-width: 740px) {
    width: auto;
  }*/
}

.article__image--thumbnail {
  width: 100%;
  @media screen and (min-width: 180px) {
    width: auto;
  }
}
.article__image--link {
  display: block;
}

[data-image-type~="default"] {
  border-radius: 0;
}
[data-image-type~="rectangle"] {
  border-radius: 10px;
}
[data-image-type~="round"]  {
  border-radius: 50%;
}
[data-image-type~="square"]  {
  border-radius: 15px;
}



//Article Social Media Styles
.social-media-list {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0 0 15px;
  &__item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 2px;
  }
}

.social-media__label {
  padding: 0;
  margin: -5px 0 0;
}
