//TYPOGRAPHY
@font-face {
  font-family: "FedraSansDevanagariB-Demi";
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Demi.eot");
  src: local("FedraSansDevanagariB-Demi");
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Demi.svg#bingo") format("svg");
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Demi.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Medium";
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Medium.eot");
  src: local("FedraSansDevanagariB-Medium");
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Medium.svg#bingo") format("svg");
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Medium.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Bold";
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Bold.eot");
  src: local("FedraSansDevanagariB-Bold");
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Bold.svg#bingo") format("svg");
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Bold.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Light";
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Light.eot");
  src: local("FedraSansDevanagariB-Light");
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Light.svg#bingo") format("svg");
  src: url("/static/fonts/chhaajaa/FedraSansDevanagariB-Light.otf") format("opentype");
}

//ANIMATE
@keyframes pulse {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}



//COLORS
$colorYellow                    :     #ffe559;
$colorPink                      :     #ec4c87;
$colorPurple                    :     #8207ff;
$colorPurpleDark                :     #8e22f4;
$colorRedLight                  :     #f8395d;
$colorGrey                      :     #3c3b3b;

//SPACING UNITS
$spacer-small                   :         5px;
$spacer-half                    :         10px;
$spacer-mid                     :         15px;
$spacer-multiple                :         20px;
$spacer-x-max                   :         30px;
$spacer-max                     :         40px;
$spacer-inner                   :         5.5%;

//FONTSIZE UNITS
$font-xx-small                  :         0.750rem; //12px
$font-x-small                   :         0.875rem; //14px
$font-small                     :         1.000rem; //16px
$font-x-medium                  :         1.125rem; //18px
$font-medium                    :         1.250rem; //20px
$font-large                     :         1.375rem; //22px
$font-x-large                   :         1.500rem; //24px
$font-xx-large                  :         1.750rem; //28px
$font-super                     :         1.875rem; //30px
$font-x-super                   :         2.000rem; //32px
