{% extends "base.html" %}
{% load wagtailimages_tags core_tags %}
{% block content %}
<div class="yourwords yourwords--call-to-action">
  <div class="identity-image identity-image--yourwords"></div>
  <div class="yourwords__container">
    <div class="heading heading__micro">
      <p>{% trans "Share your story" %}</p>
    </div>
    <div class="heading heading__component"><h1>{{competition.title}}</h1></div>
    {% if competition.description %}
      <div class="heading heading__subheading">
        <h3>{{competition.description}}</h3>
      </div>
    {% endif %}

  {% for block in competition.content %}
    <article>
      {% if block.block_type == 'heading' %}
        <h3 class="heading heading--large">{{ block.value }}</h3>
      {% elif block.block_type == 'image' %}
        {% image block.value width-320 %}
      {% elif block.block_type == 'numbered_list' %}
        <ol class="ordered-list">
        {% for item in block.value %}
          <li class="ordered-list__item">{{ item|handle_markdown }}</li>
        {% endfor %}
        </ol>
      {% elif block.block_type == 'list' %}
        <ul class="unordered-list">
        {% for item in block.value %}
          <li class="unordered-list__item">{{ item|handle_markdown }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {{ block }}
      {% endif %}
    </article>
  {% endfor %}

  <div class="yourwords__container-form">
  <form method="post" class="yourwords__form" novalidate>
  {% csrf_token %}
    <fieldset>
      <div class="input-group">
        <label>{% trans "Title of your story (max 60 characters)" %}</label>
        {{ form.story_name }}
         {% if form.story_name.errors %}
          <p class="errors errorlist">* {{form.story_name.errors|join:' '}}</p>
        {% endif %}
      </div>
    </fieldset>
    <fieldset>
      <div class="input-group">
        <label>{% trans "Tell us your story here" %}</label>
        {{ form.story_text }}
        {% if form.story_text.errors %}
          <p class="errors errorlist" >* {{form.story_text.errors|join:' '}}</p>
        {% endif %}
      </div>
    </fieldset>
    <fieldset class="choice">
      <div class="input-group">
        {{ form.terms_or_conditions_approved }}
        <label for="id_terms_or_conditions_approved">{% trans "I accept the Terms and Conditions" %}</label>
        {% if form.terms_or_conditions_approved.errors %}
       <p class="errors errorlist">* {{form.terms_or_conditions_approved.errors|join:' '}}</p>
       {% endif %}
      </div>
    </fieldset>
    <fieldset class="choice">
      {{ form.hide_real_name }}
      <label for="id_hide_real_name">{% trans "Share my story anonymously" %}</label>
    </fieldset>
    <input type="submit" value="{% trans "Submit your story" %}" class="call-to-action__button call-to-action__button--primary">
  </form>
  </div>
  <div class="call-to-action call-to-action--wide-back">
    <a href="{{request.site.root_page.specific.url}}" class="call-to-action__nav-item-text call-to-action__nav-item-text--left">
    {% trans "Back home" %}</a>
  </div>
  </div>
</div>
{% endblock %}
