#search-toggle__button  {
  visibility: hidden;
  position: absolute;
}
.search--toggle {
  display: none;
  padding: 15px 0 0 0;
}
#search-toggle__button:not(checked) ~ .search {
    display: none;
}
#search-toggle__button:checked ~ .search {
    display: block;
}
