.search__form {
  position: relative;
  padding: 0 5px;
  @media screen and (min-width: 320px) {
    padding: 0 15px;
  }
  input[type="text"]:focus {
    background-color: #e5e7e9;
    outline: 1px solid #cee5fe;
    box-shadow: 0 0 0 1px #cee5fe;
  }
}
