#search {
  display: none;
  float: right;
  @media only screen and (min-width: 320px) {
    display: inline-block;
  }

  //Search Menu Icon
  .menu-list__anchor--section-nav {
    background-image: url(/static/img/icons/springster/icons.svg), url(/static/img/icons/springster/icons.png);
    background-position: -25px -11.7em;
    background-size: 95px;
    background-repeat: no-repeat;
    height: 35px;
    width: auto;
  }
}
