$white                                  :           #fff;
$black                                  :           #000;
$springster-purple                      :           #7300ff;
$springster-purple-light                :           #f1e5ff;

$springster-sunny-yellow                :           #FFFC78;
$mint-green                             :           #a4eed2;
$sunny-yellow                           :           #fffc80;
$mint-green-light                       :           #d1f6e8;
$pale-grey                              :           #f8fafd;
$bright-orange                          :           #ff5500;
$cool-grey                              :           #a3a7ae;
$pale-grey-two                          :           #f0f3f5;
$pale-grey-three                        :           #eef0f3;
$steel                                  :           #868b95;
$slate-grey                             :           #656d78;
$gunmetal                               :           #4e5358;
$charcoal-grey                          :           #33373c;
$dark-grey                              :           #1b1d1e;
$light-gold                             :           #ffe654;
$tiffany-blue                           :           #6be6e6;
$pale-lilac                             :           #e3ccff;
$red                                    :           #D0011B;
$mustard                                :           #edbf40;
$turquoise-blue                         :           #0fbfbf;
$tangerine                              :           #ff9966;
$purple                                 :           #721CCA;

$peach                                  :           #fcab88;
$peach-two                              :           #ff9f73;
$peach-light                            :           #febb9c;
$springster-peach                       :           #ffa4b8;

$pink                                   :           #ef5274;
$pink-light                             :           #ff7190;
$pink-bright                            :           lighten( #ff7190, 10%);


$menu_color_scheme: (
  my-body: $light-gold,
  my-life: $tiffany-blue,
  my-future: $peach-two,
  girl-stories: $pink-bright
);

$section_color_scheme: (
  my-body: $mustard,
  my-life: $turquoise-blue,
  my-future: $tangerine,
  girl-stories: $pink
);

$color_list: (
    springster-mint-green       :   $mint-green-light,
    springster-peach            :   $peach-light,
    springster-sunny-yellow     :   $springster-sunny-yellow,
    springster-tiffany-blue     :   $tiffany-blue,
    springster-pink             :   $pink-bright
);
