.copyright {
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
  color: $color-grayish-blue;
  &__footer-copy {
    color: $color-grayish-blue;
    font-size: 12px;
    padding: 15px 15px 10px;
    margin: 0;
    text-align: center;
  }
  a, span {
    text-decoration: underline;
    color: $color-dark-gray ;
    font-size: 12px;
    font-weight: 600;
  }
}
