.article {
  padding: 0 $spacer-half;
  $block: unquote("#{&}");
  &-page {
    .heading {
      padding: $spacer-half $spacer-x-max;
    }
    #{$block}__subtitle {
      padding: 0 $spacer-x-max;
      margin: 0;
    }
    .call-to-action__nav-item-text--article-comments {
      padding: $spacer-half $spacer-x-max;
    }
    //?
    .social-media {
      &-list {
        padding: 0 $spacer-half;
        &__item {
          display: inline-block;
          //padding: $spacer-half ($spacer-x-max + 5);
        }
      }
    }
  }
  &__paragraphs {
    padding: 0 $spacer-mid;
  }
  &__subtitle {
    padding: 0 $spacer-mid;
  }
}
