.article-page {
  $block: unquote("#{&}");
  //Wildcard
  article {
    overflow: auto;
    p {
      padding: 0 5%;
      vertical-align: top;
      word-break: break-word;
    }
    a {
      padding: 0 5%;
      display: inline-block;
      vertical-align: top;
      word-break: break-word;
    }
    .article-teaser__thumbnail {
      &--inner {
        display: inline-block;
      }
    }
  }
  &__content {
    padding: 0 5%;
  }
  &__quote {
    padding: 3% 25%;
    font-weight: bold;
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__images {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 3px solid $color-cyan;
    @include for-size(tablet-landscape-up) {
      max-height: 450.75px;
    }
    &--inner {
      border: 3px solid $color-cyan;
      overflow: auto;
      height: auto;
      display: inline-block;
      margin: 1em;
      float: left;
      @include for-size(tablet-landscape-up) {
        max-height: 252px;
        margin: 1em 2em 1em 15%;
      }
    }
  }

  @each $sectionModifier, $styleElement in $sectionThemes {
    &--#{$sectionModifier} {
      .social-media {
        border-top: 2px solid map-get($styleElement, bgColor);
        margin: 5% 0 0;
        padding: 5% 0 0;
        text-align: center;
        &-list__item {
          display: inline-block;
          padding: $spacer-mid $spacer-small;
        }
      }
      #{$block}__images {
        border: 3px solid map-get($styleElement, bgColor);
      }
      .media-player {
        &:before {
          background-color: map-get($styleElement, bgColor);
        }
        video, iframe  {
          border: 3px solid map-get($styleElement, bgColor);
        }
      }
      #{$block}__quote {
        background: url(map-get($styleElement, bgPattern)) no-repeat center center/auto;
        color: map-get($styleElement, textColor);
      }
    }
  }
}
