/*
  ARTICLE LIST OVERRIDE
*/
.section-page,
.search-page {
  .teaser-stacklist {
    @include for-size(tablet-landscape-up) {
      padding: 0 5%;
    }
    &__item {
      display: block;
      margin: 0;
      width: 100%;
      @include for-size(tablet-portrait-up) {
        margin: 0 0 1.313em;
      }
      @include for-size(tablet-landscape-up) {
        align-items: flex-start;
        display: flex;
        justify-content: center;
      }
    }
    &__images {
      vertical-align: middle;
      max-height: 215px;
      width: 100%;
      @include for-size(tablet-landscape-up) {
        display: inline-block;
        width: 60%;
        height: 235px;
        max-height: 235px;
      }
    }
    &__container {
      padding: 0;
      vertical-align: middle;
      @include for-size(tablet-landscape-up) {
        padding: 1em 5% 1em 1em;
      }
      @include for-size(tablet-landscape-up) {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
