.main-feature {
  @include for-size(tablet-landscape-up) {
    display: flex;
  }
}
.article-teaser {
  $block: unquote("#{&}");
  overflow: auto;
  position: relative;
  &--latest {
    padding: 0 2em 0 10%;
    @include for-size(tablet-landscape-up) {
      order: 1;
      width: 85%;
    }
    #{$block}__wrapper {}
  }
  &--topic-of-day {
    background-color: $color-yellow-gorse;
    padding: 0 2em;
    @include for-size(tablet-landscape-up) {
      order: 2;
      width: 35%;
    }
  }
  &--next-related {}
  &--recommended {}
  &--featured-homepage {
    padding: 0 10%;
    display: block;
  }
  @each $sectionModifier, $styleElement in $sectionThemes {
    &--#{$sectionModifier} {
      .section__theme {
        background-image: url(map-get($styleElement, bgPattern));
        background-color: map-get($styleElement, bgColor);
        background-position: 0 0;
        background-repeat: repeat;
        background-size: 100%;
      }
      .section__caption {
        background-color: map-get($styleElement, bgColor);
      }
      .section__title {
        color: map-get($styleElement, textColor)
      }
    }
  }
  &__thumbnail {
    width: 100%;
    height: auto;
  }
  &__title {
    text-transform: uppercase;
    font-size: $font-small;
    word-wrap: break-word;
    word-break: initial;
    margin: 0.313em 0;
  }
  &__subtitle {
    margin: 0;
    text-align: left;
    font-size: $font-x-medium;
    @include for-size(tablet-portrait-up) {
      margin: 0 0 1.313em 0;
    }
  }
}
