.article-tags {
  &__theme {
    background-color: $color-red;
    background-image: url('/static/img/patterns/rwanda/NN_PATTERN-FIELDS-AQUA-001.svg');
    width: 100%;
    padding: 2em;
  }
  &__wrapper {
    padding: 2em 5%;
    @include for-size(tablet-landscape-up) {
      padding: 2em 7%;
    }
  }
}
