.article-page {
  $block: unquote("#{&}");
  //Wildcard
  article {
    overflow: auto;
    h3 {
      padding: 0 15%;
    }
    p {
      vertical-align: top;
      word-break: break-word;
    }
    a {
      display: inline-block;
      vertical-align: top;
      word-break: break-word;
    }
    p, a {
      padding: 0 5%;
      @include for-size(tablet-landscape-up) {
        padding: 0 20%;
      }
    }
    .article-teaser {
      &__thumbnail--inner {
        display: inline-block;
      }
    }
  }
  &__content {
    padding: 0 5%;
    @include for-size(tablet-landscape-up) {
      padding: 0 19%;
    }
  }
  &__quote {
    color: #000;
    padding: 3% 25%;
    font-weight: bold;
    margin: 1em 0;
    text-align: center;
    font-size: $font-medium;
    text-transform: uppercase;
    width: 100%;
    @include for-size(tablet-landscape-up) {
      font-size: $font-large;
    }
    //TO BE IGNORED BY ARTICLE TEASER
    /*padding: 0;
    font-weight: inherit;
    text-align: inherit;
    text-transform: inherit;*/
  }
  &__images {
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    width: 98%;
    border: 3px solid $color-cyan;
    @include for-size(tablet-landscape-up) {
      height: 491.63px;
    }
    &--inner {
      border: 3px solid $color-cyan;
      overflow: hidden;
      height: auto;
      display: inline-block;
      margin: 1em 5%;
      @include for-size(tablet-landscape-up) {
        margin: 0 20%;
      }
      @include for-size(desktop-up) {
        width: 29%;
        height: 236.81px;
      }
      &:nth-child(even) {
        @include for-size(desktop-up) {
          float: left;
          margin: 1em 1em 1em 20%;
        }
      }
      &:nth-child(odd) {
        @include for-size(desktop-up) {
          float: right;
          margin: 1em 20% 1em 1em;
        }
      }
    }
  }
  @each $sectionModifier, $styleElement in $sectionThemes {
    &--#{$sectionModifier} {
      .social-media {
        border-top: 2px solid map-get($styleElement, bgColor);
        margin: 5% 0 0;
        padding: 5% 0 0;
        text-align: center;
        &-list__item {
          display: inline-block;
          padding: $spacer-mid $spacer-small;
        }
      }
      #{$block}__images {
        border: 3px solid map-get($styleElement, bgColor);
        &--inner {
          border: 3px solid map-get($styleElement, bgColor);
        }
      }
      .media-player {
        &:before {
          background-color: map-get($styleElement, bgColor);
        }
        video, iframe  {
          border: 3px solid map-get($styleElement, bgColor);
        }
      }
      #{$block}__quote {
        background: map-get($styleElement, bgColor) url(map-get($styleElement, bgPatterns)) repeat center center/auto;
        color: map-get($styleElement, textColor);
      }
    }
  }
  .media-player {
    clear: both;
    @include for-size(desktop-up) {
      padding: 1em 20%;
    }
  }
}
