.article {
  $block: unquote("#{&}");
  &-page {
    .heading__title {
      padding: $spacer-multiple $spacer-small;
    }
    #{$block}__subtitle {
      padding: 0 $spacer-x-max;
      margin: 0;
    }
    .article-teaser__thumbnail {
      width: 100%;
      max-width: none;
    }
    .call-to-action__nav-item-text--article-comments {
      padding: $spacer-half 0 0 $spacer-x-max;
    }
    .social-media {
      &-list {
        padding: 0 $spacer-half;
        &__item {
          display: inline-block;
        }
      }
    }
  }
  p { padding: 0 ($spacer-multiple + 5); }
  a {
    color: #000;
    font-weight: bold;}
  &__subtitle {
    padding: 0 $spacer-mid;
  }
}
