/*
  ARTICLE LIST OVERRIDE
*/
.section-page,
.search-page {
  .teaser-stacklist {
    @include for-size(desktop-up) {
      padding: 0 5%;
    }
    &__item {
      display: block;
      margin: 0;
      width: 100%;
      @include for-size(tablet-portrait-up) {
        margin: 0 0 1.313em;
      }
    }
    &__images {
      padding: 1em 1em 1em 0;
      vertical-align: top;
      @include for-size(desktop-up) {
        display: inline-block;
        width: 45%;
      }
    }
    &__container {
      padding: 0;
      vertical-align: middle;
      @include for-size(tablet-portrait-up) {
        padding: 1em 1em 1em 0;
      }
      @include for-size(desktop-up) {
        display: inline-block;
        width: 40%;
      }
    }
  }
}
