.article-teaser {
  $block: unquote("#{&}");
  overflow: auto;
  &:before {
    content: "";
    display: block;
    height: 20px;
    width: 100%;
      @media screen and (min-width: $phablet) {
        height: 40px;
      }
  }
  &:nth-child(even):before  {
    background: url("/static/img/patterns/rwanda/pattern-breaker.png") repeat 0 0 / 100%;
  }
  &:nth-child(odd):before {
    background: url("/static/img/patterns/rwanda/pattern-breaker1.png") repeat 0 0 / 100%;
  }
  &__thumbnail {
    padding-right: $spacer-mid;
    width: 100%;
    height: auto;
  }
  &__title {
    text-transform: uppercase;
    margin: 0;
  }
  &__subtitle {
    margin: 0;
  }
  &__link {
    color: #000000;
    cursor: pointer;
    display: block;
  }
  .highlight-description {}
}

// FOR ALL ARTICLES: #{$block}
.teaser-stacklist {
  margin: 0;
  padding: 0;
    &__item {
      border-bottom: 1px solid $color-gray-light;
      align-items: center;
      //SMARTPHONE
      &:nth-child(even),
      &:nth-child(odd) {
        @media screen and (min-width: $phablet) {
          &:after {
            content: "";
            display: block;
            height: 15px;
            width: 100%;
          }
        }
      }
      @media screen and (min-width: $phablet) {
        border-bottom: none;
        &:nth-child(even):after {
          background: url("/static/img/patterns/rwanda/pattern-line-cyan.png") repeat-x 0 0/70%;
        }
        &:nth-child(odd):after {
          background: url("/static/img/patterns/rwanda/pattern-line-pink.png") repeat-x 0 0/100%;
        }
        &:last-child:after {
          background: transparent;
        }
      }
      &__content {
        text-align: center;
      }
    }
    &__wrapper {
      padding: $spacer-half $spacer-mid;
      display: flex;
      flex-direction: row;
    }
    &__thumbnail-wrap {}
    &__content {
      width: auto
    }
}
