.teaser-stacklist {
  $block: unquote("#{&}");
  margin: 0;
  padding: 0;
  &--topic-of-day {
    #{$block}__item {
      width: auto;
    }
  }
  &--primary {
    margin: 0 0 1em 0;
    @include for-size(tablet-landscape-up) {
      display: inline-grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, auto);
      grid-auto-flow: column;
      justify-items: start;
      grid-column-gap: 15%;
      grid-row-gap: 1em;
      align-items: start;
      justify-content: end;
    }
    #{$block}__item {
      &:nth-child(1) {
        @include for-size(tablet-landscape-up) {
          width: 125%;
          grid-row: span 2;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        @include for-size(tablet-landscape-up) {
          width: 80%;
          grid-row: span 1;
        }
        #{$block}__images {
          width: auto;
          margin: 0;
        }
        #{$block}__paragraph {
          @include for-size(tablet-landscape-up) {
            display: none;
            visibility: hidden;
            /*white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 55%;*/
          }
        }
      }
    }
  }
  &--latest {
    overflow: auto;
    #{$block}__item {
      display: inline-block;
      @include for-size(tablet-landscape-up) {
        width: 30%;
      }
    }
  }

  &__item {
    list-style: none;
    vertical-align: top;
    margin: 0 0 0 1em;
    @include for-size(tablet-landscape-up) {
      width: 30%;
      display: inline-block;
    }
    .article-page__quote {
      padding: 0;
      font-weight: inherit;
      text-align: inherit;
      text-transform: inherit;
    }
  }
  &__images {
    border: 3px solid $color-cyan;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  &__thumbnail {
    display: block;
    width: 100%;
    height: auto;
  }
  &__title {
    text-transform: uppercase;
    font-size: $font-small;
    word-wrap: break-word;
    word-break: initial;
    margin: 5px 0 10px;
  }
  &__subtitle {
    margin: 0 0 10px;
  }
  &-tags {
    display: inline-block;
    padding: 0;
    margin: 0;
    @include for-size(tablet-portrait-up) {
      padding: 7px 0;
    }
    &__item {
      display: inline-block;
      padding: 0 $spacer-small 0 0;
    }
    &__anchor {
      color: $color-cyan;
      font-size: $font-x-small;
      text-decoration: underline;
        &:hover, &:focus, &:active {
          text-decoration: underline;
        }
        &:before {
          content: "#";
          display: inline;
        }
    }
    &__title {
      display: inline;
      margin-left: -2px;
    }
  }
}
