.article-page__tag-cloud {
  padding: 0 $spacer-x-max;
}
.teaser-stacklist-tags {
  display: block;
  padding: 0;
  &__item {
    display: inline-block;;
    padding: 0 $spacer-small 0 0;
  }
  &__anchor {
    color: $color-pink;
    font-size: $font-x-small;
    font-weight: bold;
      &:hover, &:focus, &:active {
        color: $color-yellow;
      }
      &:before {
        content: "#";
        display: inline;
      }
  }
  .heading {
    padding: $spacer-half 0;
  }
}
