.teaser-stacklist {
  $block: unquote("#{&}");
  margin: 0;
  padding: 0;
  &--latestHeroList {
    overflow: auto;
    @include for-size(desktop-up) {
      order: 2;
      width: 35%;
    }
    #{$block}__item {
      align-items: center;
      margin: 0 0 2.5em;
      width: auto;
    }
    #{$block}__images {
      width: 100%;
    }
  }
  &--latestGeneralList {
    order: 3;
    flex: 1 auto;
  }
  &--topicOfTheDay {
    @include for-size(desktop-up) {
      width: 100%;
    }
    #{$block}__item {
      display: block;
      align-items: center;
      margin: 0 0 2.5em;
      width: auto;
    }
    #{$block}__images {
      width: 100%;
    }
  }
  &__item {
    display: inline-block;
    width: 29%;
    vertical-align: top;
    margin: 0 0.90em 1em;
    @include for-size(desktop-up) {
      margin: 0 0.90em 3em;
    }
  }
  &__images {
    width: 100%;
    margin: 0 auto;
  }
  &__thumbnail {
    border: 3px solid $color-cyan;
    width: 100%;
    height: auto;
  }
  &__title {
    text-transform: uppercase;
    font-size: $font-small;
    word-wrap: break-word;
    word-break: initial;
  }
  &__subtitle {
    margin: 0 0 10% 0;
    text-align: left;
  }
  &-tags {
    display: inline-block;
    padding: 0 0 0.40em;
    margin: 0;
    &__item {
      display: inline-block;
      padding: 0 $spacer-small 0 0;
    }
    &__anchor {
      color: $color-cyan-dark;
      font-size: $font-x-small;
      text-decoration: underline;
        &:hover, &:focus, &:active {
          text-decoration: underline;
        }
        &:before {
          content: "#";
          display: inline;
        }
    }
    &__title {
      display: inline;
      margin-left: -2px;
    }
  }
}
