.article-page {
  $block: unquote("#{&}");
  //Wildcard
  article {
    p, a {
      padding: 0 5%;
      display: inline-block;
      vertical-align: top;
      word-break: break-word;
      @include for-size(tablet-landscape-up) {
        padding: 0 15%;
      }
    }
    .article-teaser__thumbnail {
      border: 2px solid $color-cyan;
      &--inner {
        width: 25%;
        display: inline-block;
        margin-left: 15%;
        margin-right: 15%;
      }
    }
  }
  .media-player {
    @include for-size(tablet-landscape-up) {
      padding: 1em 15%;
    }
  }
  &__content {
    padding: 0 5%;
    @include for-size(tablet-landscape-up) {
      padding: 0 15%;
    }
  }
  &__quote {
    padding: 3% 25%;
    font-weight: bold;
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;
  }
  @each $sectionModifier, $styleElement in $sectionThemes {
    &--#{$sectionModifier} {
      .social-media {
        border-top: 2px solid map-get($styleElement, bgColor);
        margin: 5% 0 0;
        padding: 5% 0 0;
        text-align: center;
        &-list__item {
          display: inline-block;
          padding: $spacer-mid $spacer-small;
        }
      }
      .article-teaser  {
        &__thumbnail {
          border: 2px solid map-get($styleElement, bgColor);
        }
      }
      .media-player {
        &:before {
          background-color: map-get($styleElement, bgColor);
        }
        video, iframe  {
          border: 2px solid map-get($styleElement, bgColor);
        }
      }
      #{$block}__quote {
        background: url(map-get($styleElement, bgPattern)) no-repeat center center/cover;
        color: map-get($styleElement, textColor);
      }
    }
  }
}
