.call-to-action {
  padding: $spacer-mid $spacer-half;
  &__item {
    &--with-icon {
      //SMARTPHONE
      @media screen and (min-width: $phablet) {
        text-indent: -99em;
        position: absolute;
        right: 5px;
        top: 0;
      }
    }
    //SEARCH CTA
    &--with-icon-search {
      right: 30px;
    }
    &--with-icon-search_footer {
      right: 20px;
    }
  }
  &__nav-item-text  {
    &--backToTop {
      color: #ffffff;
      &:before {
        background: url("/static/img/icons/rwanda/up-arrow.svg") no-repeat;
        content: "";
        display: block;
        margin: 0 auto;
        width: 22px;
        height: 26px;
      }
    };
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"],
.call-to-action__item  {
  border: none;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  font-size: $font-small;
  margin: $spacer-half 0;
  padding: $spacer-half;
  text-align: center;
  text-transform: uppercase;
}
