.freebasics {
  background-color: rgba($color-cyan-dark, 1);
  overflow: auto;
  text-align: center;
  width: 100%;
  padding: 0 5%;
  display: block;
  visibility: visible;
  @include for-size(tablet-landscape-up) {
    display: none;
    visibility: hidden;
    padding: 0 7%;
  }
  &__banner {
    color: #ffffff;
    font-size: $font-small;
    @include for-size(tablet-landscape-up) {
      padding: 0 15%;
    }
  }
  &__anchor {
    color: #ffffff;
    padding:0;
    font-weight: bold;
    text-decoration: underline;
    &:active, &:hover, &:focus  {
      color: $color-yellow;
    }
  }
}
