.banner {
  $block: unquote("#{&}");
  overflow: hidden;
  position: relative;
  width: 100%;
  &__content {
    background-color: rgba($color-cyan-dark, 1);
    text-align: center;
    padding: 0 0 $spacer-half;
  }
  &__image {
    display: inline-block;
    width: 55%;
    height: auto;
    color: #000000;
    text-transform: uppercase;
    vertical-align: middle;
  }
  &__caption {
    display: inline-block;
    color: #fff;
    padding: $spacer-half;

    @include for-size(desktop-up) {
      padding: 1em;
      width: 40%;
    }
  }
  &__title {
   color: #fff;
   font-size: $font-x-medium;
   text-transform: uppercase;
   @include for-size(desktop-up) {
     font-size: $font-xx-large;
   }
  }
  &__subtitle {
    color: #fff;
    margin: 0;
    font-size: $font-x-medium;
    text-transform: uppercase;
  }

  &--main {
    overflow: hidden;
    #{$block}__image {
      display: block;
      max-height: 320px;
      height: 100%;
      width: 100%;
    }
    #{$block}__caption {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
        @include for-size(desktop-up) {
          width: 445px;
          top: 10%;
          right: 10%;
          left: auto;
        }
    }
  }

  &--first,  &--second, &--third, &--fourth  {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    #{$block}__caption {
      max-width: 40%;
    }
    @include for-size(desktop-up) {
      background-position: center -30px;
      margin: 0.4em auto 0;
      padding: 1em 15%;
      height: 300px;
    }
  }

  &--first {
    background-color: $color-orange;
    @include for-size(desktop-up) {
      background-color: transparent;
      background-image: url("/static/img/lines/rwanda/banner_bg1.png");
    }
  }
  &--second {
    background-color: $color-cyan-dark;
    @include for-size(desktop-up) {
      background-color: transparent;
      background-image: url("/static/img/lines/rwanda/banner_bg2.png");
    }
  }
  &--third {
    background-color: $color-yellow;
    @include for-size(desktop-up) {
      background-color: transparent;
      background-image: url("/static/img/lines/rwanda/banner_bg3.png");
    }
  }
  &--fourth {
    background-color: $color-pink-hollywood;
    @include for-size(desktop-up) {
      background-color: transparent;
      background-image: url("/static/img/lines/rwanda/banner_bg4.png");
    }
  }
}
