.banner {
  $block: unquote("#{&}");
  overflow: hidden;
  position: relative;
  width: 100%;
  &__content {
    padding: 1em $spacer-inner;
  }
  &__image {
    display: block;
    height: auto;
    width: 100%;
    @include for-size(tablet-landscape-up) {
      color: #000;
      display: inline-block;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
  &__caption {
    color: $color-cyan;
    display: block;
    margin: 0 auto;
    padding: 1em 5%;
    text-align: center;
  }
  &__title {
   color: $color-cyan;
   text-transform: uppercase;
  }
  &__subtitle {
    color: $color-cyan;
    margin: 0;
  }
  &--main {
    overflow: hidden;
    max-height: 400px;
    margin: 0;
    .banner { margin: 0; }
    #{$block}__caption {
      background: $color-cyan;
      text-align: left;
      visibility: visible;
      top: 1em;
      @include for-size(tablet-landscape-up) {
        background: transparent;
      }
    }
    #{$block}__title,
    #{$block}__subtitle {
      color: #fff;
      text-align: right;
      text-shadow: 1px 2px 8px #4A4A4A;
    }
    #{$block}__subtitle  {
      display: none;
      visibility: hidden;
    }
  }
  &--text {
    background-color: rgba($color-cyan-dark, 1);
    text-align: center;
    padding: 0 0 $spacer-half;
  }
}
