.burger-nav {
  color: #fff;
  display: block;
  font-weight: bold;
  position: relative;
  &__label {
    cursor: pointer;
    display: inline-block;
  }
  &__title {
    display: inline-block;
    margin: 5px;
    font-size: $font-x-small;
    font-weight: bold;
    @include for-size(tablet-portrait-up) {
      margin: 10px;
    }
  }
  &__icon {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    overflow: auto;
    width: 15px;
    @include for-size(tablet-portrait-up) {
      width: 35px;
    }
    @include for-size(desktop-up) {
      width: 42px;
    }
  }
  &__bar {
    background-color: #fff;
    margin: 3px 0;
    width: 100%;
    height: 4px;
    display: block;
    @include for-size(tablet-portrait-up) {
      height: 5px;
    }
    @include for-size(desktop-up)  {
      height: 6px;
    }
  }
  &__checkbox {
    left: 10%;
    & + * {
      display: none;
      visibility: hidden;
      height: auto;
      -webkit-transition:height, 0.5s linear;
      -moz-transition: height, 0.5s linear;
      -ms-transition: height, 0.5s linear;
      -o-transition: height, 0.5s linear;
      transition: height, 0.5s linear;
    }
    &:checked + * {
      display: block;
      visibility: visible;
      -webkit-transition:height, 0.5s linear;
      -moz-transition: height, 0.5s linear;
      -ms-transition: height, 0.5s linear;
      -o-transition: height, 0.5s linear;
      transition: height, 0.5s linear;
    }
    &__active {
      color: $color-pink-hollywood;
      &:before {
        background: url("/static/img/icons/rwanda/dropdown-menu-active.png") no-repeat 0 0/100%;
      }
    }
    &__is-open {}
  }
}
