.call-to-action {
  $block: unquote("#{&}");
  &__item {
    color: #fff;
    border-radius: 0;
    display: block;
    text-align: center;
    vertical-align: middle;
    @include for-size(tablet-landscape-up) {
      padding: $spacer-half $spacer-small;
    }
    @include for-size(desktop-up) {
      padding: $spacer-half $spacer-mid;
    }
    &--text {
      color: $color-cyan-fountain;
      display: inline-block;
      font-size: $font-xx-small;
      font-weight: bold;
      text-decoration: underline;
      @include for-size(tablet-landscape-up) {
        font-size: $font-small;
      }
      @include for-size(desktop-up) {
        margin: 1em;
      }
    }
    &--reveal {
      color: #000;
      text-transform: uppercase;
      font-size: $font-xx-small;
      text-align: left;
      padding: 5px 0 1em;
      font-weight: bold;
    }
  }
  //USE OF !important TO ENFORCE ARTICLE WILD* STYLE TAGS
  &__button {
    color: #fff !important;
    background-color: $color-cyan;
    display: inline-block;
    font-weight: bold;
    font-size: $font-xx-small;
    padding: 5px !important;
    text-transform: uppercase;
    margin: 0;
    vertical-align: middle;
    font-weight: normal;
    @include for-size(feature-only) {
      color: #000 !important;
    }
    @include for-size(phone-only) {
      color: #fff !important;
      font-size: $font-xx-small;
      padding: 10px !important;
      margin: 5px 1em 1em 0;
    }
    @include for-size(tablet-landscape-up) {
      font-size: $font-x-small;
      padding: 0.6em 1em !important;
    }
    &--primary {
      &:after {
        content: " ";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 5px solid transparent;
        margin: 0 0 0 1em;
      }
      @include for-size(phone-only) {
        -webkit-box-shadow: 9px 9px 0 0 $color-yellow-gorse;
        box-shadow: 9px 9px 0 0 $color-yellow-gorse;
      }
      @include for-size(tablet-landscape-up) {
        padding: 1em 5%;
      }
      &:active, &:hover, &:focus {
        color: $color-yellow-gorse !important;
        &:after {
          border-left-color: $color-yellow-gorse;
        }
      }
    }
    &--secondary,
    &--next,
    &--previous {
      &:after {
        content: " ";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 5px solid transparent;
        margin: 0 0 0 1em;
      }
      @include for-size(phone-only) {
        color: #fff;
        background-color: $color-cyan;
        -webkit-box-shadow: 9px 9px 0 0 $color-pink-hollywood;
        box-shadow: 9px 9px 0 0 $color-pink-hollywood;
      }
      @include for-size(tablet-landscape-up) {
        padding: 1em 5%;
      }
      &:active, &:hover, &:focus {
        color: $color-pink-hollywood !important;
        &:after {
          border-left-color: $color-pink-hollywood;
        }
      }
    }

    &--previous {
      #{$block}__item--text {
        vertical-align: bottom;
      }
      &:before {
        content: " ";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 10px solid #fff;
        border-bottom: 5px solid transparent;
        margin: 0 1em 0 0;
      }
      &:after {
        display: none;
        visibility: hidden;
      }
    }
  }
  &__report {
    padding-right: $spacer-mid;
    float: left;
  }

  &__response {
    color: $color-cyan-fountain;
    vertical-align: middle;
    float: left;
  }

  &__replies-counter {
    color: $color-cyan-fountain;
    margin: 0;
    vertical-align: middle;
    text-align: right;
    float: right;
  }

  &__read-more {
    color: #000000;
    font-weight: bold;
    font-size: $font-xx-small;
    text-decoration: underline;
    text-transform: capitalize;
  }
  &--group {
    padding: 0 0 1em;
  }
  &--backToTop {
    background: $color-cyan-fountain;
    border-radius: 5px;
    padding: 0;
    margin: $spacer-mid 0;
    text-align: center;
    width: 60%;
    &:active, &:hover, &:focus {
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
  }

}
