.breadcrumbs {
  padding: $spacer-small 7%;
  &--comments {
    background-color: #fff;
    width: 100%;
  }
  &-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    &__item {
      display: inline-block;
    }
    &__anchor {
      color: $color-cyan;
      font-size: $font-x-small;
      text-decoration: underline;
      &:after {
        content: " ≫ ";
        color: $color-cyan;
        display: inline-block;
        padding: 0 5px;
      }
    }
    &__current {
      display: inline-block;
      color: $color-cyan;
      font-size: $font-x-small;
    }
    &__label  {
      display: inline-block;
      color: #b4b4b4;
      font-size: $font-x-small;
    }
  }
}
