//DEFAULTS
button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: none;
  border-radius: 2px;
  display: block;
  color: #ffffff;
  cursor: pointer;
  font-size: $font-x-small;
  margin: $spacer-half auto;
  padding: $spacer-half;
  text-align: center;
  text-transform: uppercase;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal; //IMPORTANT INPUT WRAP
}

//CUSTOM
.call-to-action {
  &__item {
    color: #fff;
    border-radius: 0;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: $spacer-half $spacer-mid;
    &--button {}
    &--button-text {
      text-decoration: underline;
      text-transform: uppercase;
    }
    //Should be enhancement class &--share
    &-share {
      height: 24px;
      width: 24px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__nav-item {
    &-text  {
      color: $color-cyan-fountain;
      display: block;
      font-size: $font-small;
      text-transform: uppercase;
        &:active, &:hover, &:focus  {
          text-decoration: underline;
        }
      &--left {
        padding: $spacer-half $spacer-mid;
      }
      &--right {
        color: $color-yellow-gorse;
        padding: 0;
      }
      &--article-comments {
        color: $color-pink;
        padding: $spacer-half $spacer-mid;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        &:after {
          content: "";
          display: block;
          border-bottom: 1px solid $color-pink;
        }
      }
      &--backToTop {
        color: #ffffff;
        display: block;
        padding: $spacer-small $spacer-mid $spacer-half;
        &:active, &:hover, &:focus {
          color: #ffffff;
          text-decoration: none;
        }
        &:before {
          background: url("/static/img/icons/rwanda/up-arrow.svg") no-repeat;
          content: "";
          display: block;
          margin: 0 auto;
          width: 22px;
          height: 20px;
        }
      }
      &--login {
        font-weight: bold;
        padding: 0 $spacer-mid;
        text-transform: uppercase;
      }
    }
    &-share {
      &--facebook {
        background: url("/static/img/icons/rwanda/facebook-icon.png") no-repeat center/100%;
      }
      &--twitter {
        background: url("/static/img/icons/rwanda/twitter-icon.png") no-repeat center /100%;
      }
    }
  }
  &__button {
    color: #fff;
    border-radius: 0;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: $spacer-half $spacer-mid;
    &:active, &:hover, &:focus  {
      color: $color-yellow-gorse;
    }
    &--primary {
      background-color: $color-pink-hollywood;
      color: $color-yellow;
      font-weight: bold;
      padding: $spacer-half ($spacer-max + 5);
      margin: $spacer-half 0;
      &:active, &:hover, &:focus {
        color: $color-yellow;
        text-decoration: underline;
      }
    }
    &--secondary {
      font-weight: 700;
      padding: 0 15px 10px 0px;
      text-transform: uppercase;
      font-size: $font-x-small;
      display: block;
      text-align: left;
    }
  }
  &__report {
    padding-right: $spacer-mid;
    float: left;
  }

  &__response {
    color: $color-cyan-fountain;
    vertical-align: middle;
    float: left;
  }

  &__replies-counter {
    color: $color-cyan-fountain;
    margin: 0;
    vertical-align: middle;
    text-align: right;
    float: right;
  }

  &__read-more {
    color: #000000;
    font-weight: bold;
    font-size: $font-xx-small;
    text-decoration: underline;
    text-transform: capitalize;
  }

  &--backToTop {
    background: $color-cyan-fountain;
    border-radius: 5px;
    padding: 0;
    margin: $spacer-mid 0;
    text-align: center;
    width: 60%;
    &:active, &:hover, &:focus {
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
  }

}
