.burger-nav {
  $block: unquote("#{&}");
  color: #fff;
  display: block;
  font-weight: bold;
  position: relative;
  &__label {
    cursor: pointer;
    display: block;
    margin: 0 $spacer-small 0 0;
    font-size: $font-x-small;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8% 5%;
    @include for-size(tablet-portrait-up) {
      margin: 0 $spacer-half 0 0;
    }
    &:before {
      background: url('/static/img/icons/rwanda/burger-nav-white.png') no-repeat center center/ 100%;
      content: "";
      display: inline-block;
      margin: 0 1em 0 0;
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }
  &__icon {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    overflow: auto;
    width: 25px;
    @include for-size(tablet-portrait-up) {
      width: 35px;
    }
    @include for-size(tablet-landscape-up) {
      width: 42px;
    }
  }

  &__checkbox {
    left: 10%;
    & + * {
      visibility: hidden;
      height: auto;
      opacity: 0;
      -webkit-transition: visibility 0s, opacity 0.5s ease-out;
      -moz-transition: visibility 0s, opacity 0.5s ease-out;
      -ms-transition: visibility 0s, opacity 0.5s ease-out;
      -o-transition: visibility 0s, opacity 0.5s ease-out;
      transition: visibility 0s, opacity 0.5s ease-out;
    }
    &:checked + * {
      visibility: visible;
      opacity: 1;
      #{$block}__label {
        border: 2px solid red;
      }
    }

    &__active {
      border: 2px solid red;
      color: $color-pink-hollywood;
      &:before {
        background: url("/static/img/icons/rwanda/dropdown-menu-active.png") no-repeat 0 0/100%;
      }
    }
  }
  .is__open {
    background: #fff;
    color: #000;
    &:before {
      background: url('/static/img/icons/rwanda/dismiss-cyan.png') no-repeat center center/ 100%;
    }
  }
}
