.burger-nav {
  $block: unquote("#{&}");
  color: #fff;
  display: inline-block;
  font-weight: bold;
  position: relative;
  &__label {
    cursor: pointer;
    display: block;
    font-size: $font-x-small;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 1em;
    font-weight: normal;
    @include for-size(tablet-portrait-up) {
      padding: 1.2em 1em;
    }
    &:before {
      background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 0/ 80%;
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 30px;
      @include for-size(tablet-portrait-up) {
        background-size: 85px;
      }
    }
  }
  &__icon {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    overflow: auto;
    width: 25px;
  }
  &__checkbox {
    left: 10%;
    & + * {
      height: auto;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: visibility 0.2s, opacity 0.5s ease-out;
      -moz-transition: visibility 0.2s, opacity 0.5s ease-out;
      -ms-transition: visibility 0.2s, opacity 0.5s ease-out;
      -o-transition: visibility 0.2s, opacity 0.5s ease-out;
      transition: visibility 0.2s, opacity 0.5s ease-out;
    }
    &:checked + * {
      visibility: visible;
      opacity: 1;
      #{$block}__label {
        border: 2px solid red;
      }
    }
  }
  .is__open {
    background: #fff;
    color: #000;
    &:before {
      background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 15.3%/ 100px;
    }
  }
}
