.comments {
  $block: unquote("#{&}");
  padding: 0 5%;
  overflow: auto;
  @include for-size(tablet-landscape-up) {
    padding: 0 15%;
  }
  @each $sectionModifier, $styleElement in $sectionThemes {
    &--#{$sectionModifier} {
      background: map-get($styleElement, bgColor) url(map-get($styleElement, bgPattern)) repeat center center/100%;
    }
  }
  &__wrapper {
    background: #fff;
    margin: 1em 0;
    padding: 0 0 5%;
  }
  &__form {
    padding: 1em 0;
    .input-group {
      padding: $spacer-small 10%;
    }
    .choice-group {
      padding: $spacer-small 10%;
      [type="checkbox"],
      [type="radio"] {
        display: none;
        visibility: hidden;
      }
    }
  }
  &__alias {
    color: #000;
    font-size: $font-x-small;
    margin: 0;
    text-transform: uppercase;
    &--author-notication {
      display: inline-block;
    }
    #{$block}__staff {
      color: $color-cyan-fountain;
    }
  }
  &__notice {
    color: $color-cyan;
    font-size: $font-x-small;
    padding: 0 1em;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__content {
    margin: 0;
    padding: 5px 1.6em;
  }
  &__caption {
    display: inline-block;
    margin: 0;
  }
  &__article-title {
    display: block;
    font-weight: bold;
    text-decoration: underline;
  }
  &__publish-date {
    color: #000;
    display: inline-block;
    font-weight: bold;
    font-size: $font-xx-small;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  &__reply {
    &-meta {
      clear: both;
      overflow: auto;
      position: relative;
      width: 100%;
      padding: 0 0 1em;
    }
  }
  &__replied {
    &-link {
      display: block;
      color: $color-cyan-fountain;
      font-weight: bold;
      padding: $spacer-half 0;
    }
  }
  &__feedback {
    color: $color-cyan-fountain;
    font-size: $font-x-small;
    font-weight: bold;
    text-transform: capitalize;
    vertical-align: middle;
    text-decoration: underline;
    display: block;
    @include for-size(tablet-landscape-up) {
      display: inline-block;
      float: left;
    }
    &--report {
      padding-right: 5%;
      color: $color-cyan-fountain;
      font-size: $font-x-small;
    }
    &--reply-count {
      float: right;
      margin: 0;
      text-decoration: none;
      color: #000;
    }
  }
  &__replies {
    &--wrapper {
      padding: 0 5%;
      border-left: 2px solid $color-cyan;
    }
    &-label {
      background-color: rgba($color-cyan,0.2);
      font-size: $font-medium;
      padding: 0 15%;
    }
    &-title {
      color: $color-gray;
      font-style: italic;
      text-transform: uppercase;
      font-size: $font-small;
      padding: 1em 0;
    }
  }
  &-notifications {
    padding: 0 5%;
    text-transform: capitalize;
    @include for-size(tablet-landscape-up) {
      padding: 0 15%;
    }
    &__counter {
      background-color: $color-pink;
      color: #fff;
      font-weight: bold;
      border-radius: 100%;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      padding: 5px;
      margin: 0 10px 0 0;
      @include for-size(feature-only) {
        background-color: inherit;
        color: #000;
      }
      @include for-size(phone-only) {
        background-color: $color-pink;
        color: #fff;
      }
    }
    &__anchor {
      color: $color-cyan;
      display: block;
      padding: 1em;
      font-size: $font-x-small;
      font-weight: bold;
      &:active, &:hover, &:focus {
        color: $color-pink;
        &:after {
          color: $color-pink;
        }
      }
      &:after {
        content: " ≫ ";
        color: $color-cyan;
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
  &-replyList {
    background-color: $color-gray-light ;
    &__item {
      padding: 1em 0 0;
      list-style-type: none;
    }
  }
  &-list {
    font-size: $font-x-small;
    &__item {
      padding: 1em 10% 0;
      &--replies {
        background-color: rgba($color-cyan,0.2);
        padding: 0 15% 0;
      }
    }
  }
  &-counter {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0;
    position: relative;
    background: $color-cyan;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: ($spacer-small - 2);
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: 0;
      left: auto;
      bottom: 0;
      border: 6px solid;
      border-color: $color-cyan $color-cyan transparent transparent;
      margin-bottom: -($spacer-small - 1);
      transform: rotate(-35deg);
    }
    &__icon {
      display: none;
      visibility: hidden;
    }
    &__numeral {
      font-weight: bold;
      font-size: $font-xx-small;
    }
  }
  .heading {
    &--secondary {
      margin: 1em 2em 0;
    }
    &__headline {
      padding: 5% 5% 0;
    }
    &__subtitle {
      padding: 0 10%;
    }
  }
  .call-to-action {
    &__button {
      margin: 1em 10%;
    }
    &__response {
      color: $color-cyan-fountain;
      vertical-align: middle;
      font-size: $font-xx-small;
      float: left;
      font-weight: bold;
      text-transform: capitalize;
    }
    &__replies-counter {
      color: $color-cyan-fountain;
      margin: 0;
      vertical-align: middle;
      text-align: right;
      font-size: $font-xx-small;
      float: right;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}
.article__comment-link {
  display: inline-block;
  padding-bottom: $spacer-half;
  &:after {
    background: url("/static/img/icons/rwanda/comments-pink.png") no-repeat center center/ 100%;
    content: "";
    display: inline-block;
    margin-left: $spacer-small;
    height: 20px;
    width: 18px;
    vertical-align: middle;
  }
}
