.comments {
  &:before {
    background: url("/static/img/patterns/rwanda/partten-line-grey.png") repeat-x 0 0/100%;
    content: "";
    display: block;
    height: 10px;
    width: 100%;
  }
  &-list {
    font-size: $font-small;
    &__item {
      padding: $spacer-half $spacer-mid;
      margin: $spacer-half 0;
      &--parent {
        border-top: 1px solid $color-gray;
      }
      &--reply {
        background-color: $color-gray-light;
      }
    }
  }
  &-replies-list {
    background-color: $color-gray-light;
    margin: 0;
    padding: $spacer-half $spacer-mid;
    &__item {
      padding: $spacer-half 0;
    }
  }
  &__alias {
    color: #000000;
    margin: 0;
    text-transform: uppercase
    &--author {}
  }

  &__staff {}
  &__description {}
  &__body-small {
    margin: 0;
  }
  &__publish-date {
    color: $color-gray;
    display: inline-block;
  }

  &__replies {
    &-title {
      color: $color-cyan-fountain;
      margin: $spacer-multiple 0 0;
      text-transform: uppercase;
      font-size: $font-small;
    }
    &-label {
      margin: 0;
    }
  }

  &__replied {
    &-link {
      display: block;
      color: $color-cyan-fountain;
      font-weight: bold;
    }
  }
  &__reply {
    &-notification {
      background-color: rgba($color-cyan-fountain, 0.5);
      padding: $spacer-mid $spacer-mid;
      color: $color-yellow;
    }
    &-meta {
      clear: both;
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow: auto;
      padding: $spacer-mid 0 0;
    }
  }

  //COMMENTS ADJUSTMENTS + HIERARCHY
  .call-to-action__button  {
    margin:  $spacer-half $spacer-mid;
  }
  .heading {
    padding:  $spacer-half $spacer-mid;
  }
  &__form {
    padding: 0 $spacer-mid;
    //COMMENTS ADJUSTMENTS
    .call-to-action__button  {
      margin: $spacer-half 0;
    }
  }

}

//SMARTPHONE
.comment {
  &-counter {
    display: inline-block;
    color: $color-pink;
    position: absolute;
    margin: 0;
    right: 25px;
    bottom: 5px;
    &:active, &:hover, &:focus {
      color: $color-yellow;
    }
    &__icon {
      background: url("/static/img/icons/rwanda/comments-pink.png") no-repeat center center/ 100%;
      display: inline-block;
      height: 23px;
      width: 31px;
      &:active, &:hover, &:focus {
        background: url("/static/img/icons/rwanda/comments-yellow.png") no-repeat center center/ 100%;
      }
    }
    &__numeral {
      display: inline-block;
      font-weight: bold;
      vertical-align: super;
    }
  }
}
