.copyright {
  padding: $spacer-half 0;
  &__disclaimer {
    color: #fff;
    font-size: $font-x-small;
  }
  &__link {
    color: #fff;
    display: inline-block;
    &:active, &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
