.copyright {
  background: $color-cyan;
  padding: $spacer-half $spacer-x-max;
  .call-to-action {
    &--backToTop {
      background: $color-cyan-fountain;
      border-radius: 5px;
      padding: $spacer-multiple;
      width: 45%;
      margin: $spacer-mid 0;
      text-align: center;
    }
  }
  &__disclaimer {
    color: #ffffff;
    margin: 0;
    font-size: $font-xx-small;
  }
}
