.copyright {
  background: $color-cyan;
  padding: $spacer-half $spacer-small;
  @media screen and (min-width: $smartphone) {
    padding: $spacer-half $spacer-x-max;
  }
  &__disclaimer {
    color: #ffffff;
    font-size: $font-xx-small;
  }
  &__link {
    color: #ffffff;
    display: inline-block;
    &:active, &:hover, &:focus {
      text-decoration: underline;

    }
  }
}
