.menu {
  display: block;
  &--header {
    background-color: #ffffff;
    display: none;
  }
  &-list {
    padding: 0;
    margin: 0;
    text-align: center;
    &__item {
      display: block;
      padding: $spacer-half $spacer-small;
    }
    &__anchor {
      color: #000000;
      font-size: $font-x-medium;
      text-transform: uppercase;
    }
    &--sections {}
  }
}
