.freebasics {
  background: rgba($color-cyan-dark, 1);
  overflow: auto;
  text-align: center;
  width: 100%;
  &__banner {
    color: #ffffff;
    font-size: $font-medium;
  }
  &__anchor {
    color: #ffffff;
    padding:0;
    font-weight: bold;
    text-decoration: underline;
    &:active, &:hover, &:focus  {
      color: $color-yellow;
    }
  }
}
