input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="week"],
input[type="date"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
select {
  background-color: #ffffff;
  border: 1px #d6d6d6 solid;
  color: $color-cyan;
  font-size: $font-x-medium;
  padding: $spacer-half;
  width: 100%;
}
input[type="search"] {
  -webkit-appearance: textfield;
  display: block;
  margin: 0 auto;
    //SMARTPHONE
    @media screen and (min-width: $phablet) {
      width: 85%;
    }
}
[type="checkbox"],
[type="radio"] {}

textarea {
  background-color: $color-gray-light;
  border: none;
  margin: 0 auto;
  max-height: 150px;
  padding: $spacer-mid $spacer-half;
  width: 90%;
}
fieldset {
  border: none;
  margin: 0;
}
