input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="week"],
input[type="date"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
select {
  background-color: #ffffff;
  border: none;
  color: $color-cyan;
  font-size: $font-x-medium;
  padding: $spacer-half;
  width: 100%;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
[type="checkbox"],
[type="radio"] {}


fieldset {
  border: none;
  margin: 0;
}
