.freebasics {
  background-color: rgba($color-cyan-dark, 1);
  background-image: url('/static/img/patterns/rwanda/freebasics-bg.png');
  background-position: center center;
  background-repeat: repeat;
  background-size: contain;
  overflow: auto;
  text-align: center;
  width: 100%;
  padding: 0 5%;
  @include for-size(tablet-landscape-up) {
    padding: 0 7%;
  }
  &__banner {
    color: #ffffff;
    font-size: $font-medium;
  }
  &__anchor {
    color: #ffffff;
    padding:0;
    font-weight: bold;
    text-decoration: underline;
    &:active, &:hover, &:focus  {
      color: $color-yellow;
    }
  }
}
