input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="week"],
input[type="date"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
select {
  background-color: #ffffff;
  border: 1px #d6d6d6 solid;
  border-radius: 10px;
  color: $color-cyan;
  font-size: $font-small;
  padding: $spacer-half;
  margin: $spacer-small 0;
  width: 100%;
}
select {
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  outline: none;
  text-transform: capitalize;
}
select[value="value"] {
  font-size: $font-small;
  text-transform: capitalize;
}
input[type="search"] {
  -webkit-appearance: textfield;
  display: block;
  margin: 0 auto;
    //SMARTPHONE
    @media screen and (min-width: $phablet) {
      width: 85%;
    }
}

[type="checkbox"],
[type="radio"] {
  margin: 0;
  visibility: hidden;
  position: absolute;
  opacity: 0.9;
  & ~ label {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    margin: 0;
    &:before {
      content: " ";
      border: 1px solid $color-gray;
      opacity: 0.9;
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      margin-right: $spacer-half;
    }
  }
}

[type="checkbox"] {
  //SMARTPHONE STYLES
  &:checked + label:before {
    background: $color-pink url("/static/img/icons/rwanda/check-box-yellow.png") center center / 65% no-repeat;
    border-color: $color-pink;
    opacity: 1;
  }
}

[type="radio"] {
  & ~ label:before {
    border-radius: 50%;
  }
  &:checked + label:before {
    background: $color-pink url("/static/img/icons/rwanda/radio-icon-active.png") center center / 65% no-repeat;
    border-color: $color-pink;
    opacity: 1;
  }
}

textarea {
  background-color: $color-gray-light;
  border: none;
  margin: 0 auto;
  max-height: 150px;
  padding: 0;
  //width: 90%;
}
fieldset {
  border: none;
  padding: $spacer-small 0;
  margin: 0;
}
label {
  text-transform: uppercase;
}

.choice-group {
  padding: $spacer-small 0;
}

.input-group {
  .helptext {
    font-style: italic;
  }
  span {
    display: block;
  }
}
