.heading {
  font-size: $font-medium;
  padding: $spacer-small $spacer-mid;
  text-transform: uppercase;
  &--hero {
    display: inline-block;
    padding: 1em 0.313em;
    margin: 0 0 $spacer-small;
    text-align: center;
    @include for-size(phone-only) {
      background-image: url('/static/img/icons/rwanda/ShapesSprites.png');
      background-repeat: no-repeat;
      background-position: -30px 83.3%;
      background-size: 125px;
    }
  }
  &--primary {
    position: relative;
    margin: 1em 0 5px;
  }
  &--secondary {
    display: inline-block;
    padding: 1.10em 0.313em;
    margin: 0.625em 0;
    @include for-size(phone-only) {
      background: url('/static/img/icons/rwanda/ShapesSprites.png');
      background-repeat: no-repeat;
      background-position: 0 3.3%;
      background-size: 100px;
    }
  }
  
  //HEADING TAGS
  &__component {
    background-color: #000;
    color: #fff;
    padding: ($spacer-small - 3) $spacer-small 0;
    font-size: $font-medium;
    margin: 0 0 0 $spacer-small;
  }
  &__subheading {
    background-color: $color-yellow;
    color: #000;
    font-size: $font-x-medium;
    padding: 0 $spacer-half;
    text-transform: uppercase;
  }
  &__basic {
    background-color: $color-yellow;
    color: #000;
    font-size: $font-x-medium;
    padding: 0 $spacer-small;
  }
  &__title {
    background-color: $color-red;
    color: #fff;
    font-size: $font-x-medium;
    padding: 0 $spacer-half;
    margin: 0;
  }
  &__headline {
    color: #000;
    font-size: $font-x-large;
    margin: $spacer-mid 0 0;
  }
  &__subtitle {
    color: #000;
    font-size: $font-small;
  }
}
