.languages {
  float: right;
  &__anchor {
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 5px;
  }
  .active {
    color: $color-pink;
    text-decoration: none;
  }
}
