.unordered-list,
.ordered-list {
  margin: 0;
  padding: 1em 0;
  &__item {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }
}
.ordered-list {
  &__item {
    list-style-type: decimal;
  }
}
