.logo {
  background: url('/static/img/logos/logo-bg.svg') no-repeat center 0/ 100%;
  overflow: auto;
  margin: 0 auto;
  @include for-size(phone-only ) {
    width: 320px;
    height: 100px;
  }
  &-wrapper {
    position: relative;
    margin: 0 auto;
    @include for-size(tablet-landscape-up) {
      order: 2;
      z-index: 9999;
    }
    @include for-size(tablet-landscape-up) {
      width: 40%;
    }
  }
  &__anchor {
    color: #fff;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    width: 80%;
    margin: 1.5em auto;
  }
  &__image {
    max-width: 300px;
    height: auto;
    width: 80%;
  }
}
