.languageSearch-wrapper {
  vertical-align: middle;
  padding: 5px;
  @media screen and (min-width: 22.500em) {
    padding: 5px 1em;
  }
  @include for-size(tablet-landscape-up) {
    padding: 0;
    order: 3;
  }
  @include for-size(desktop-up) {
    z-index: -9999999999;
   }
}
.languages {
  $block: unquote("#{&}");
  display: inline-block;
  text-transform: uppercase;
  overflow: auto;
  vertical-align: top;
  @include for-size(tablet-portrait-up) {
    margin: 0 1em 0 0;
  }
  @include for-size(desktop-up) {
    margin: 0 5em;
  }
  &__anchor {
    color: #fff;
    display: inline-block;
    font-size: $font-x-medium;
    vertical-align: middle;
    text-decoration: underline;
    &:hover {
      color: $color-cyan;
    }
  }
  &__active {
    color: $color-cyan;
  }
  &-wrapper {
    background: #fff;
    color: $color-cyan;
    font-size: $font-x-medium;
    text-align: left;
    padding: 1em;
    @include fly-by();
    @include for-size(tablet-portrait-up) {
      @include fly-byEnhanced();
      padding: 2em;
    }
    @include for-size(tablet-landscape-up) {
      padding: 3em $spacer-inner;
    }
  }
  &-accordion {
    &__label {
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: $font-x-medium;
      padding: 0 5px;
      @include for-size(tablet-landscape-up) {
        padding: 1.1em 1em;
      }
      span {
        display: none;
        visibility: hidden;
        @include for-size(tablet-landscape-up) {
          display: inline-block;
          visibility: visible;
        }
      }
      &:before {
        background-image: url('/static/img/icons/rwanda/iconsSprite.png');
        background-repeat: no-repeat;
        background-size: 70px;
        background-position: 0.4em 22.3%;
        content: "";
        display: inline-block;
        height: 40px;
        vertical-align: middle;
        width: 50px;
      }
    }
    /*&__checkbox {
      & + * {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.2s, opacity 0.5s ease-out;
      }
      &:checked + * {
        opacity: 1;
        visibility: visible;
      }
    }*/
  }
  &-list {
    margin: 0;
    padding: 0;
    @include for-size(tablet-portrait-up) {
      text-align: center;
    }
    &__item {
      display: inline-block;
      vertical-align: middle;
      padding: 0 1em 0 0;
      @include for-size(desktop-up) {
        padding: 0.35em $spacer-small 0;
      }
    }
    &__label {
      color: #000;
      padding: 0 2em 0 0;
      &:before {
        content: " ";
        display: inline-block;
        background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 27.5%/ 70px;
        vertical-align: middle;
        height: 40px;
        width: 35px;
      }
    }
    &__title {
      display: inline-block;
      padding: 0 0 0 0.313em;
      font-style: italic;
      font-size: $font-large;
      @include for-size(tablet-portrait-up) {
        padding: 0 0 0 0.313em;
      }
    }
    &__anchor {
      color: $color-cyan;
      display: inline-block;
      font-size: $font-x-medium;
      padding-left: 0.313em;
      font-weight: bold;
      opacity: 1;
      text-decoration: underline;
      @include for-size(tablet-portrait-up) {
        font-size: $font-small;
      }
      &:active, &:hover, &:focus {
        color: $color-pink-hollywood;
        opacity: 0.7;
        text-decoration: underline;
      }
      &[hreflang="English"] {
        &:before {
          content: "";
          background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 73.5%/ 70px;
          display: inline-block;
          vertical-align: middle;
          height: 40px;
          width: 40px;
        }
      }
      &[hreflang="Kinyarwanda"] {
        &:before {
          content: "";
          background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 69.5%/ 70px;
          display: inline-block;
          vertical-align: middle;
          height: 40px;
          width: 40px;
        }
      }
    }
    &__active {
      color: $color-gray;
      opacity: 0.7;
    }
    #{$block}__anchor {
      color: #fff;
      font-size: $font-x-medium;
    }
  }
  .languageSearch-wrapper__label-inner {
    @include for-size(tablet-landscape-up) {
      display: inline-block;
      visibility: visible;
    }
  }
  .open {
    background-color: #fff;
    color: $color-cyan;
    border-top-right-radius: 3px;
    &:before {
      background-position: -15% 15.2%;
      background-size: 115px;
      @include for-size(tablet-landscape-up) {
        background-position: -20% 15.3%;
        background-size: 120px;
      }
    }
  }
  &--footer {
    font-size: $font-x-medium;
    padding: 0 5% 0 0;
    margin: 0;
    @include for-size(tablet-portrait-up) {
      padding: 0 1em 0 0;
    }
    @include for-size(tablet-landscape-up) {
      padding: 0 5% 0 0;
    }
    #{$block}__label {
      margin: 0;
      padding: 0 .313em 0 0;
      display: inline-block;
      vertical-align: middle;
    }
    #{$block}__anchor {
      padding: 0 .313em 0 0;
    }
  }
}
