.logo-wrapper {
  display: inline-block;
  padding: $spacer-mid 0 0 $spacer-mid;
}
.logo {
  color: #ffffff;
  display: block;
  font-size: $font-xx-small;
  padding: $spacer-small;
  text-transform: uppercase;
  vertical-align: middle;
  img {
    max-width: 100%;
    height: auto;
    width: 120px;
  }
  &--left {
    text-align: left;
  }
}
