.unordered-list,
.ordered-list {
  margin: 0;
  padding: 0 ($spacer-x-max + 5);
  &__item {
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
  }
}

.ordered-list {
  &__item {
    list-style-type: decimal;
  }
}
