.menu {
  $block: unquote("#{&}");
  @include for-size(desktop-up) {
    flex: 1 auto;
    order: 1;
  }
  &--wrapper {
    @include for-size(desktop-up) {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }
  }
  &-list {
    padding: 0 1em 0 0;
    margin: 0;
    display: inline-block;
    &__item {
      display: block;
      padding: $spacer-small;
      text-transform: uppercase;
      [type="submit"] {
        background: transparent;
        border-radius: 0;
        padding: 0;
        margin: 0;
        font-size: $font-xx-small;
        &:active, &:hover, &:focus {
          color: $color-pink-hollywood;
          text-decoration: none;
          outline: none;
        }
        &:visited {
          outline: none;
        }
      }
    }
    &__anchor {
      color: #fff;
      word-wrap: break-word;
      font-size: $font-xx-small;
      &--selected {
        color: $color-cyan;
        font-weight: 600;
      }
      &:active, &:hover, &:focus {
        color: $color-cyan;
      }
    }
  }
}
