.media-player {
  $block: unquote("#{&}");
  padding: 1em 5%;
  overflow: auto;
  margin: 0 auto;
  &:before {
    content: "";
    display: block;
    margin: 0 0 1em;
    padding: 0 7% 0;
    background-color: $color-cyan;
    height: 3px;
    width: 15%;
  }
  &__wrapper {
    position: relative;
    overflow: auto;
    margin: 1em 0;
  }
  &__embed {
    display: block;
    vertical-align: middle;
    width: 100%;
  }
  &__excerpt {
    display: block;
    margin: 1em 0 0;
    vertical-align: middle;
    width: 100%;
  }
  &__content {
    background: $color-cyan;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: $spacer-half;
    #{$block}__title,
    #{$block}__subtitle,
    #{$block}__caption {
      color: #fff;
    }
  }
  &__title {
    color: #000;
    padding: 1em 0 0;
    font-size: $font-medium;
  }
  &__subtitle {
    color: #000;
    font-size: $font-x-small;
    padding: 0 ($spacer-multiple + 5);
  }
  &__caption {
    color: #000;
    font-size: $font-x-small;
    text-align: center;
  }
  &__icon {
    background-image: url("/static/img/icons/play-button.svg"), url("/static/img/icons/play-button.png") linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: center center;
    color: $color-yellow;
    padding: 85px 0 0;
    display: block;
    font-weight: bold;
    text-decoration: underline;
    &:active, &:hover, &:focus {
      color: #fff;
    }
  }
  audio {
    display: inline-block;
    float: left;
    margin: 0 1em 0 0;
    object-fit: cover;
    width: 100%;
  }
  video {
    border: 2px solid $color-cyan;
    display: block;
    object-fit: cover;
    max-height: 580px;
    width: 100%;
  }
  iframe {
    border: 2px solid $color-cyan;
    display: block;
    max-height: 580px;
    width: 100%;
  }

  .call-to-action__item--text {
    padding: 0;
    margin: 1em 0;
  }
  audio::-webkit-media-controls-panel,
  audio::-moz-media-controls-panel,
  audio::-o-media-controls-panel,
  audio::-ms-media-controls-panel,
  video::-webkit-media-controls-panel,
  video::-moz-media-controls-panel,
  video::-o-media-controls-panel,
  video::-ms-media-controls-panel {
    background: rgba($color-cyan,0.5) !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  audio::-webkit-media-controls-play-button,
  audio::-moz-media-controls-play-button,
  audio::-o-media-controls-play-button,
  audio::-ms-media-controls-play-button,
  video::-webkit-media-controls-play-button,
  video::-moz-media-controls-play-button,
  video::-o-media-controls-play-button,
  video::-ms-media-controls-play-button,
  video::-webkit-media-controls-mute-button,
  video::-moz-media-controls-mute-button,
  video::-o-media-controls-mute-button,
  video::-ms-media-controls-mute-button,
  audio::-webkit-media-controls-mute-button,
  audio::-moz-media-controls-mute-button,
  audio::-o-media-controls-mute-button,
  audio::-ms-media-controls-mute-button {
    cursor: pointer;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media, _:future, :root, .media-player video {
    width: auto;
  }
}
