.media-player {
  padding: 1em 5%;
  overflow: auto;
  @include for-size(tablet-landscape-up) {
    padding: 1em 7%;
  }
  video, audio, iframe {
    width: 100%;
    object-fit: cover;
  }
  &__wrapper {
    position: relative;
    overflow: auto;
    margin: 0 0 1em;
    @include for-size(phone-only) {
      display: flex;
    }
  }
  &__excerpt {
    display: inline-block;
    @include for-size(phone-only) {
      order: 1;
      width: 35%;
    }
  }
  &__embed {
    display: inline-block;
    margin: 0 0 0 1em;
    vertical-align: middle;
    @include for-size(phone-only) {
      order: 2;
      width: 80%;
    }
  }

  &__content {
    text-align: center;
    padding: $spacer-half 0;
    border: 1px solid $color-cyan;
  }
  &__title {
    color: #000;
    font-size: $font-medium;
    text-transform: uppercase;
  }
  &__subtitle {
    color: #000;
    font-size: $font-x-small;
    padding: 0 ($spacer-multiple + 5);
  }
  &__caption {
    color: #000;
    font-size: $font-x-small;
    text-align: center;
  }
  &__icon {
    background-image: url("/static/img/icons/play-button.png");
    background-image: url("/static/img/icons/play-button.svg"),
      linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: center 15px;
    color: $color-pink-hollywood;
    padding: 85px 0 0;
    display: block;
    font-weight: bold;
    text-decoration: underline;
  }
}

audio::-webkit-media-controls-panel,
audio::-moz-media-controls-panel,
audio::-o-media-controls-panel,
audio::-ms-media-controls-panel,
video::-webkit-media-controls-panel,
video::-moz-media-controls-panel,
video::-o-media-controls-panel,
video::-ms-media-controls-panel {
  background: rgba($color-cyan,0.5) !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
}

audio::-webkit-media-controls-play-button,
audio::-moz-media-controls-play-button,
audio::-o-media-controls-play-button,
audio::-ms-media-controls-play-button,
video::-webkit-media-controls-play-button,
video::-moz-media-controls-play-button,
video::-o-media-controls-play-button,
video::-ms-media-controls-play-button,
video::-webkit-media-controls-mute-button,
video::-moz-media-controls-mute-button,
video::-o-media-controls-mute-button,
video::-ms-media-controls-mute-button,
audio::-webkit-media-controls-mute-button,
audio::-moz-media-controls-mute-button,
audio::-o-media-controls-mute-button,
audio::-ms-media-controls-mute-button {
  cursor: pointer;
}
