//DEFAULT STYLE
.menu {
  display: block;
  $block: unquote("#{&}");
  /*&-list {
    padding: 0;
    margin: 0;
    &__label {
      color: #ffffff;
      font-size: $font-x-medium;
    }
    &__item {
      display: block;
      padding: $spacer-half $spacer-small;
      text-transform: uppercase;
    }
    &__anchor {
      color: #ffffff;
      &--selected {
        color: $color-pink-hollywood;
        font-weight: 600;
      }
    }
  }
  */
  &--header {
    order: 1; //FLEXBOX
    /*background-color: $color-cyan;
    border-top: 2px solid #ffffff;
    color: #ffffff;
    overflow: auto;
    width: 100%;

    #{$block}-list {
      &__item {
        border-bottom: 1px solid $color-cyan-fountain;
      }
      &__anchor {
        display: block;
        padding: $spacer-half $spacer-small;
      }
    }*/
  }
  &--footer {
    display: inline-block;
    #{$block}-list {
      text-align: left;
      &__item {
        text-transform: uppercase;
        padding: $spacer-small;
        [type="submit"] {
          background: transparent;
          border-radius: 0;
          padding: 0;
          margin: 0;
          font-size: $font-small;
          &:active, &:hover, &:focus {
            color: $color-pink-hollywood;
            text-decoration: none;
            outline: none;
          }
          &:visited {
            outline: none;
          }
        }
      }
      &__anchor {
        text-transform: inherit;
        &:active, &:hover, &:focus {
          color: $color-yellow-gorse;
        }
      }
    }
  }
}
