.media-player {
  overflow: auto;
  &__content {
    audio {
      background-color: $color-cyan;
      display: block;
      margin: 0 auto;
      width: 95%;
    }
    video {
      display: block;
      margin: 0 auto;
      width: 95%;
    }
  }
  &__embed-object {
    iframe {
      width: 100%;
      height: auto;
    }
  }
  .call-to-action__button {
    color: $color-cyan-dark;
    text-align: center;
    display: block;
    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

video::-webkit-media-controls-panel,
audio::-webkit-media-controls-panel {
  background-color: $color-cyan;
}
