.nav {
  clear: both;
  overflow: auto;
  &-list {
    padding: $spacer-half 0 0;
    margin: 0;
    //SMARTPHONE
    @media screen and (min-width: $phablet) {
      float: left;
    }
    &__item {
      display: inline-block;
    }
    &__anchor {
      color: #ffffff;
      padding: $spacer-small;
      text-transform: uppercase;
    }
    &__label {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      //SMARTPHONE
        @media screen and (min-width: $phablet) {
            font-weight: normal;
            &:before {
              content: '';
              background: url("/static/img/icons/rwanda/dropdown-menu.png") no-repeat 0 0/100%;
              display: inline-block;
              height: 25px;
              vertical-align: text-top;
              margin: 0 $spacer-half 0 0;
              width: 25px;
            }
        }
      padding: $spacer-small 0 $spacer-small $spacer-small;
    }
  }
  &--header {}
}
