.navLogged-wrapper {
  vertical-align: middle;
  overflow: auto;
  flex: 1 auto;
  @include for-size(tablet-landscape-up) {
    order: 1;
    align-self: flex-start;
    margin: 0;
  }
}
.nav {
  $block: unquote("#{&}");
  display: inline-block;
  &-wrapper {
    background: #fff;
    color: $color-cyan;
    font-size: $font-x-medium;
    padding: 0 2em;
    @include fly-by();
    @include for-size(tablet-portrait-up) {
      @include fly-byEnhanced();
    }
    @include for-size(tablet-landscape-up) {
      padding: 1.5em 0 1.5em 8em;
    }
    @include for-size(desktop-up) {
      padding: 3em 0 3em 8em;
       z-index: -9999999999;
     }
  }
  &-logged {
    display: inline-block;
    cursor: pointer;
    padding: $spacer-small 0 0;
    vertical-align: middle;
    @include for-size(tablet-portrait-up) {
      padding: ($spacer-small + 3) 0 0 0;
    }
    &__anchor {
      color: #fff;
      display: inline-block;
      font-weight: bold;
      font-size: $font-x-medium;
      text-decoration: none;
      text-transform: uppercase;
      text-indent: -130px;
      @include for-size(tablet-portrait-up) {
        padding: ($spacer-small + 3) .5em;
        text-indent: inherit;
      }
      &:before {
        background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 44.8%/65px;
        content: "";
        width: 30px;
        height: 35px;
        vertical-align: middle;
        display: none;
        visibility: hidden;
        @include for-size(tablet-portrait-up) {
          background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 45.2%/60px;
          display: inline-block;
          visibility: visible;
        }
      }
      &:after {
        background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 44.8%/65px;
        content: "";
        width: 30px;
        height: 35px;
        vertical-align: middle;
        display: inline-block;
        visibility: visible;
        margin: 0 0 0 .5em;
        @include for-size(tablet-portrait-up) {
          background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 45.2%/60px;
          display: none;
          visibility: hidden;
        }
      }
    }
  }
  &-list {
    padding: 0;
    margin: 0;
    vertical-align: top;
    text-align: left;
    &__item {
      display: block;
      margin: 0.625em 0;
    }
    &__title {
      color: #000;
      font-size: $font-x-medium;
      text-transform: uppercase;
      @include for-size(tablet-landscape-up) {
        padding: 0 0 0.4em;
      }
    }
    &__anchor {
      background: transparent;
      color: $color-cyan;
      font-size: $font-x-small;
      font-weight: bold;
      padding: 0;
      text-decoration: underline;
      text-transform: uppercase;
      @include for-size(tablet-portrait-up) {
        font-size: $font-x-medium;
      }
    }
  }
  &-outer {
    margin: 0;
    padding: 0;
    @include for-size(tablet-portrait-up) {
      margin: 0 1em 0 0;
    }
    @include for-size(desktop-up) {
      margin: 0 5em 0 0;
    }
  }
  &-inner {
    margin: 1em 0;
    padding: 0;
    @include for-size(tablet-landscape-up) {
      margin: 0 2em 0 0;
      display: inline-block;
      vertical-align: top;
    }
  }
  &--primary {
    display: block;
    padding: 1em 0;
    margin: .625em 0 0 0;
    @include for-size(phone-only) {
      display: inline-block;
      padding: 0 5% 0 0;
    }
    @include for-size(tablet-landscape-up) {
      margin: 0;
      padding: 0 1.5em 0 0;
    }
    @include for-size(desktop-up) {
      padding: 0 3.5em 0 0;
    }
    #{$block}-list__anchor {
      @include for-size(tablet-landscape-up) {
        font-size: $font-large;
      }
    }
  }

  //!!Caution: Extreme us of Nesting - Same class names
  &--secondary {
    display: block;
    padding: 0 1em;
    @include for-size(phone-only) {
      display: inline-block;
      padding: 0 0 0 5%;
    }
    @include for-size(tablet-portrait-up) {
      padding: 0 0 1em;
      border-left: 3px solid #000;
    }
    @include for-size(tablet-landscape-up) {
      padding: 0 0 0 1.5em;
    }
    @include for-size(desktop-up) {
        padding: 0 0 0 3.5em;
    }
    #{$block}-list__item {
      vertical-align: top;
      @include for-size(tablet-portrait-up) {
        display: inline-block;
      }
      &:last-child {
        .nav-outer {
          #{$block}-list__item:last-child {
            .nav-inner {
              @include for-size(tablet-landscape-up) {
                margin: 0 1em 0 0;
              }
              @include for-size(desktop-up) {
                margin: 0 4em 0 0;
              }
            }
          }
        }
      }
    }
    .nav-outer {
      #{$block}-list__item {
        display: block;
      }
    }
    .nav-inner {
      #{$block}-list__item {
        display: block;
      }
    }
  }
  .open {
    background-color: #fff;
    color: $color-cyan;
    border-top-right-radius: 3px;
    &:before {
      background-position: -15% 15.2%;
      background-size: 115px;
    }
  }
}
