.navLogged-wrapper {
  vertical-align: middle;
  overflow: auto;
  flex: 1 auto;
  @include for-size(tablet-landscape-up) {
    order: 1;
    align-self: flex-start;
    margin: 0;
  }
}
.nav {
  $block: unquote("#{&}");
  display: inline-block;
  &-wrapper {
    background: #fff;
    color: $color-cyan;
    font-size: $font-x-medium;
    padding: 1.5em;
    @include fly-by();
    @media screen and (min-width: 45.000em) {
      @include fly-byEnhanced();
    }
    @media screen and (min-width: 64.000em) {
      padding: 1.5em 1em 1.5em 5em;
    }
    @media screen and (min-width: 80.000em) {
      padding: 3em 1em 3em 5em;
       z-index: -9999999999;
     }
  }
  &-logged {
    display: inline-block;
    cursor: pointer;
    padding: $spacer-small 0 0;
    vertical-align: middle;
    @include for-size(tablet-portrait-up) {
      padding: ($spacer-small + 3) 0 0 0;
    }
    &__anchor {
      color: #fff;
      display: inline-block;
      font-weight: bold;
      font-size: $font-x-medium;
      text-decoration: none;
      text-transform: uppercase;
      text-indent: -130px;
      @include for-size(tablet-portrait-up) {
        padding: ($spacer-small + 3) .5em;
        text-indent: inherit;
      }
      &:before {
        background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 44.8%/65px;
        content: "";
        width: 30px;
        height: 35px;
        vertical-align: middle;
        display: none;
        visibility: hidden;
        @include for-size(tablet-portrait-up) {
          background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 45.2%/60px;
          display: inline-block;
          visibility: visible;
        }
      }
      &:after {
        background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 44.8%/65px;
        content: "";
        width: 30px;
        height: 35px;
        vertical-align: middle;
        display: inline-block;
        visibility: visible;
        margin: 0 0 0 .5em;
        @include for-size(tablet-portrait-up) {
          background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 45.2%/60px;
          display: none;
          visibility: hidden;
        }
      }
      &:active, &:hover, &:focus {
        color: #fff;
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }
  &-list {
    padding: 0;
    margin: 0;
    vertical-align: top;
    text-align: left;
    &__item {
      display: block;
      margin: 0.625em 0;
    }
    &__title {
      color: #000;
      font-size: $font-x-medium;
      text-transform: uppercase;
      @include for-size(tablet-landscape-up) {
        padding: 0 0 0.4em;
      }
    }
    &__anchor {
      background: transparent;
      color: $color-cyan;
      font-size: $font-x-small;
      font-weight: bold;
      padding: 0;
      text-decoration: underline;
      text-underline-position: under;
      text-transform: uppercase;
      @include for-size(tablet-portrait-up) {
        font-size: $font-x-medium;
      }
    }
    &-inner {
      margin: 0;
      padding: 0;
      &__item {
        display: block;
        padding: $spacer-small;
      }
    }
  }
  &-primary {
    padding: 0 5% 0 0;
    display: inline-block;
    vertical-align: top;
    #{$block}-list__anchor {
      @include for-size(tablet-landscape-up) {
        font-size: $font-large;
      }
    }
  }
  &-secondary {
    display: inline-block;
    vertical-align: top;
    @media screen and (min-width: 45.000em) {
      width: 75%;
    }
    @media screen and (min-width: 64.000em) {
      padding: 0 0 0 5%;
      border-left: 3px solid #000;
    }
    &__item {
      vertical-align: top;
      display: inline-block;
      padding: 0 1.5em 0 0;
      @media screen and (min-width: 64.000em) {
        padding: 0 5em 0 0;
      }
    }
  }

  .open {
    background-color: #fff;
    color: $color-cyan;
    border-top-right-radius: 3px;
    &:before {
      background-position: -15% 15.2%;
      background-size: 115px;
    }
  }
}
