/*
.polls, .surveys__type--polls {
  &-form, &__form {
    input, select {
      background: $color-cyan-dark;
      border-color: $color-cyan-dark;
      border-radius: 10px;
      color: #ffffff;
    }
    [type="checkbox"],
    [type="radio"] {
      & ~ label  {
        &:before {
          background-color: $color-yellow-gorse;
          border: 1px solid $color-yellow-gorse;
        }
      }
    }
    [type="checkbox"] {
      &:checked + label:before {
        background-image: url("/static/img/icons/rwanda/check-box-cyan.png");
        background-position: center center;
        background-size: 65%;
        background-repeat: no-repeat;
        opacity: 1;
      }
    }
  }
}*/
