.polls {
  $block: unquote("#{&}");
  &__wrapper {
    background-color: #fff;
    padding: 0 1em;
    @include for-size(tablet-landscape-up) {
      padding: 5%;
    }
  }
  &__answers {
    margin: 0.313em 0;
  }
  &-results {
    padding: 0;
    margin: 0;
    &__item {
      display: block;
      list-style: none;
      margin: 1em 0;
    }
  }
}
