.pagination {
  padding: 5% 0;
  text-align: center;
  @include for-size(tablet-landscape-up) {
    padding: 5% 15%;
  }
  .step-links {}
  &__nav-item {
    font-size: $font-small;
    font-weight: bold;
    &--current {}
  }
  &__nav-anchor {
    color: $color-pink;
    font-weight: bold;
    display: inline-block;
    &-next,
    &-previous {
      font-size: $font-x-large;
      color: $color-pink;
      padding: 0 $spacer-half 0 $spacer-half;
      &:active, &:hover, &:focus {
        color: $color-cyan;
      }
    }
  }
}
