.profiles-join {
  background: $color-red url("/static/img/patterns/rwanda/NN_PATTERN-TREES-RED-001.svg")  repeat center center/ auto;
  padding: 1em 5%;
  @include for-size(tablet-landscape-up) {
    padding: 1em 7%;
  }
  &__icon {
    background: url('/static/img/icons/words.svg') no-repeat center center/ 100%;
    display: inline-block;
    margin: 0 0 0 5%;
    width: 25%;
  }
  &__content {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    @include for-size(tablet-landscape-up) {
      padding: 2em 7% 1em;
    }
  }
}
