.profiles-join {
  background: $color-red url("/static/img/patterns/rwanda/NN_PATTERN-TREES-RED-001.svg")  repeat center center/ auto;
  padding: 1em;
  @include for-size(tablet-landscape-up) {
    padding: 1em $spacer-inner;
  }
  &__icon {
    display: none;
    visibility: hidden;
  }
  &__content {
    background-color: #fff;
    text-align: center;
    margin: 4em auto 0;
    width: 100%;
    @include for-size(tablet-landscape-up) {
      padding: 2em $spacer-inner 1em;
      width: 80%;
    }
    .heading__headline {
      padding: 1.5em 0 0;
    }
  }
}
