.profiles {
  &__form {
    padding: 0 $spacer-mid;
    label {
      text-transform: capitalize;
      font-weight: bold;
    }
    .heading--subtitle {
      font-size: $font-medium;
      padding: 10px 0 0;
      text-transform: capitalize;
    }
  }
  &__terms {
    display: block;
    &--link {
      color: $color-cyan-fountain;
    }
  }
  &__account {
    padding: $spacer-small $spacer-mid;
    .call-to-action {
      padding: 0;
    }
  }
  &__description {
    font-size: $font-small;
    padding: 0 $spacer-mid 0 0;
    display: inline-block;
    font-weight: bold;
    &--label {
      text-transform: capitalize;
    }
  }
  //Buttons
  .call-to-action {
    &__button {
      &--secondary {
        color: $color-cyan-fountain;
        font-weight: 700;
        padding: 0 15px 10px 0px;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 14px;
        display: flex;
        &:hover {
          color: $color-pink;
        }
      }
    }
    &__nav-item-text--left {
      padding: 5px 15px;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
