.pagination {
  padding: 1em 5%;
  text-align: center;
  border-top: 1px solid #95989c;
  margin: 1em 0;
  &--multi-step {
    text-align: left;
    padding: 0;
  }
  .call-to-action__item--text-current {
    padding: 0 0 0 10px;
    @include for-size(tablet-landscape-up) {}
  }
}
