.profiles-join {
  padding: 1em 5%;
  @include for-size(tablet-landscape-up) {
    padding: 1em 7%;
  }
  &__icon {
    background: url('/static/img/icons/words@2x.png') no-repeat center center/ 100%;
    display: inline-block;
    margin: 0 0 0 5%;
    width: 25%;
  }
  &__content {
    display: inline-block;
    text-align: left;
    width: 60%;
  }
}
