.polls {
  $block: unquote("#{&}");
  &__wrapper {
    background-color: #fff;
    padding: 1em 2em;
  }
  &__answers {
    margin: 0.313em 0;
  }
  &__form {
    fieldset {
      @include for-size(tablet-landscape-up) {
        display: inline-block;
        margin: 0 1em 1em 0;
      }
    }
  }
}
