.section-page {
  $block: unquote("#{&}");
  overflow: auto;
  &__wrapper {
    padding: 0 5%;
  }
  &__icon {
    width: 100%;
  }
  &__title {
    color: #ffffff;
    margin: 0;
    font-size: $font-x-medium;
    text-align: center;
    padding: $spacer-half 0;
  }
  &__theme {
    width: 100%;
    padding: 2em;
    @each $name, $themeItem in $sectionThemes {
      &--#{name} {
        border: 1px solid green;
        background-image: #{map-deep-get($sectionThemes,$name, imageTheme)};
        background-color: #{map-deep-get($sectionThemes,$name, colorTheme)};
      }
    }
  }

  @each $name, $themeItem in $sectionThemes {
    &__#{name} {
      #{$block}__title {
        color: #{map-deep-get($sectionThemes,$name, colorTheme)}
      }
    }
  }
}
