//CUSTOM
.polls,
.surveys__type--polls {
  $block: unquote("#{&}");
  background-color: $color-cyan-fountain;
  color: #ffffff;
  overflow: auto;
  position: relative;
  padding: 0 $spacer-mid;
  position: relative;
  //Titles
  .heading {
    padding: 0 0 $spacer-half;
    &__component {
      color: $color-yellow-gorse;
      font-size: $font-medium;
    }
    &__subheading {
      font-weight: normal;
    }
  }

  .poll-choice__submit,
  .call-to-action__button--primary,
  .poll-choice__submit {
    background-color: $color-yellow;
    border-radius: 0;
    padding: $spacer-half $spacer-multiple;
    font-weight: 700;
    display: block;
    margin: $spacer-half auto;
    text-align: center;
    color: $color-cyan-fountain !important; //Brute force on polls a{}
    text-transform: inherit !important;
  }
  .poll {
    &__title {
      text-transform: uppercase;
      font-size: $font-x-small;
      padding: $spacer-multiple 0 0;
    }
    &__form-block {}
    &__question-title {
      color: $color-yellow-gorse;
      text-transform: uppercase;
      padding: $spacer-half 0;
      font-size: $font-medium;
    }
    &-choices {
      padding: $spacer-half 0;
      &__item {
        padding: $spacer-half 0;
      }
      .fieldset {
        padding: $spacer-half 0;
      }
      a {
        color: #ffffff;
        text-transform: uppercase;
        &:hover {
          color: $color-yellow;
          text-decoration: underline;
        }
      }
    }
  }
  &-results {
    &-list {
      padding: 0 $spacer-mid;
      margin: 0;
      &__item {
        display: block;
        padding: $spacer-half 0;
        label {
          display: block;
          padding-bottom: $spacer-half;
        }
      }
      &__percent {
        display: block;
        background: #ffffff;
        color: #33373c;
        border-radius: 20px;
        margin: $spacer-half 0 0;
        &-bar {
          background: $color-yellow-gorse;
          border-radius: 20px;
        }
        .choice-percentage {
          font-size: 14px;
          display: block;
          vertical-align: middle;
          padding: $spacer-small $spacer-half;
        }
      }
    }
  }
  &-form,
  &__form {
    background-color: $color-cyan-fountain;
    padding: 0 0 $spacer-multiple !important; //Brute force on polls a{}
    fieldset {
      .input-group label {
        padding: 10px 0;
        display: block;
      }
      .choice-group label {
        padding: 0;
      }
    }
    input,
    select {
      background: $color-cyan-dark;
      color: #ffffff;
      border-color: $color-cyan-dark;
      border-radius: 10px;
    }
    [type="checkbox"],
    [type="radio"] {
      & ~ label  {
        &:before {
          background-color: $color-yellow-gorse;
          border: 1px solid $color-yellow-gorse;
        }
      }
    }
    [type="checkbox"] {
      &:checked + label:before {
        background: $color-yellow-gorse url("/static/img/icons/rwanda/check-box-cyan.png") center center / 65% no-repeat;
        border-color: $color-yellow-gorse ;
        opacity: 1;
      }
    }
  }
  &__question {
    padding: $spacer-small 0;
  }
  &--results {
    .poll__question-title + p {
      font-size: $font-x-medium;
      padding: $spacer-small 0;
      text-transform: uppercase;
    }
    a {
      color: #ffffff;
      display: block;
      padding: $spacer-half 0;
      text-transform: uppercase;
      &:hover {
        color: $color-yellow;
        text-decoration: underline;
      }
    }
  }
  aside {
    .surveys__item {
      &-icon {
        background: url("/static/img/icons/rwanda/polls-con.png") no-repeat 0/ 100%;
        position: absolute;
        right: 0;
      }
      &-thumb {}
    }
  }
  section {
    padding: $spacer-multiple 0 0;
  }
  nav {
    padding-bottom: $spacer-x-max;
  }
}

.polls {
  &:after {
    background: url("/static/img/patterns/rwanda/pattern-line-cyan.png") repeat-x 0 0/100%;
    content: " ";
    display: block;
    height: 20px;
    position: relative;
    top: -15px;
  }
}
.surveys__type--polls-separator {
  background: url("/static/img/patterns/rwanda/pattern-line-cyan.png") repeat-x 0 0/100%;
  content: " ";
  display: block;
  height: 20px;
  position: relative;
  top: -15px;
}
