.yourwords {
  background-color: $color-yellow-gorse;
  color: $color-pink-hollywood;
  overflow: auto;
  padding: 0;
  position: relative;
  .heading {
    &--yourwords {
      &-subtitle {}
    }
    &--hero-yourwords {}
  }
  .call-to-action {
    &__nav-item {
      &--login {
        background-color: $color-pink-hollywood;
        color: $color-yellow-gorse;
        padding: $spacer-half $spacer-multiple;
        text-transform: inherit;
        display: inline-block;
        margin: 10px auto;
        font-weight: 700;
      }
    }
  }
}
.competition {
  &__title {
    color: #000000;
    &--description {
      color: $color-pink-hollywood;
    }
  }
}


.surveys {
  $block: unquote("#{&}");
  section { padding: 0 $spacer-mid;}
  aside {
    #{$block}__item-thumb {
      float: right;
      width: 35%;
      margin: 0 $spacer-multiple;
      vertical-align: middle;
    }
  }
  nav {
    text-align: center;
  }
  &__question-title {
    font-size: 16px;
    color: $color-gray-light;
    text-align: center;
    text-transform: uppercase;
    padding: ($spacer-half * 3) 0 0;
  }
  &__answers-counter-bar {
    padding: 0 0 $spacer-half;
  }
  &__answers-counter {
    background: #ffffff;
    font-size: $font-xx-small;
    display: inline-block;
    vertical-align: middle;
    padding: $spacer-half;
  }
  &__pagination {
    padding: $spacer-mid $spacer-mid 0;
    text-align: center;
    &--multi-step {
    text-align: left;
    }
    &-title {
    color: $color-gray;
    font-size: $font-medium;
    font-style: italic;
    font-weight: bold;
    }
  }
  &__page {
    //Where is this located?
    color: #4e5358; //?
    font-style: italic;
    font-size: $font-x-small;
    &-number {
      font-weight: bold;
    }
  }
  &__type {
    &--gcn-competition {}
    &--polls {
      .call-to-action__button--primary  {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  &--page {
    text-align: left;
    &__image-wrapper {
      overflow: hidden;
      margin: 0 auto;
      max-height: 300px;
      text-align: center;
    }
    &__image {
      width: 100%;
      height: auto;
      padding: 0 0 ($spacer-multiple + 5);
    }
    &__excerpt {
      padding: 0 15px;
      &-heading {
      font-size: $font-x-large;
      color: $color-gray;
      margin: 0 0 $spacer-half;
      }
      &-description {
        font-size: $font-small;
      }
    }
    &__terms {
      padding: $spacer-small $spacer-mid;
      &-anchor {
        color: #ffffff;
        text-decoration: underline;
      }
    }
    .heading__subheading {
      text-align: left;
    }
  }
  &--results {
    background-color: $color-yellow-gorse;
    padding: 0 $spacer-mid $spacer-multiple;
    label {
      text-align: left;
      padding: 0 0 $spacer-small;
    }
  }
}
