.search {
  padding:  $spacer-small $spacer-half;
  label {
    //For smartphone
    @media screen and (min-width: $phablet) {
      background-image: url('/static/img/icons/rwanda/search-icon.png'), url('/static/img/icons/rwanda/search-icon.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
      height: auto;
      text-indent: -1000px;
      width: 30px;
    }
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: right;
    text-transform: uppercase;
    &:active, &:hover, &:focus {
      color: $color-pink;
    } &:visited {
      @media screen and (min-width: $phablet) {
        outline: none;
      }
    }
  }

  //SEARCH TOGGLE
  .search__input {
    visibility: hidden;
    position: absolute;
    right: 10%;
  }
  .search__input + * {
    display: none;
  }
  .search__input:checked + * {
    display: block;
  }
}
