.search {
  padding: 0 $spacer-multiple 0;
  @include for-size(desktop-up) {
    padding: 0 10% 5%;
  }
  &__title {
    color: #000;
    font-size: $font-medium;
    text-transform: uppercase;
    display: inline-block;
    font-style: italic;
    &:before {
      content: " ";
      background-image: url('/static/img/icons/rwanda/search-icon_green.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center 0;
      display: inline-block;
      height: 45px;
      vertical-align: middle;
      width: 45px;
    }
  }
  &__form {
    position: relative;
    input[type="search"] {
      border: 3px solid $color-cyan;
      height: 45px;
      margin: 0;
      padding: $spacer-small 5% $spacer-small $spacer-small;
    }
    [type="button"],
    [type="reset"],
    [type="submit"] {
      background-color: $color-cyan;
      margin: $spacer-half 0;
      padding: $spacer-half;
      text-decoration: underline;
      font-weight: bold;
      @include for-size(tablet-portrait-up) {
        background-image: url("/static/img/icons/rwanda/search-icon.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 60%;
        padding: 0;
        height: 45px;
        width: 75px;
        margin: 0;
        text-indent: -15em;
        border-radius: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  &__query-term {
    font-weight: bold;
  }
}
