.surveys {
  $block: unquote("#{&}");
  &__wrapper {
    background-color: #fff;
    padding: 1em;
    @include for-size(tablet-landscape-up) {
      padding: 1em 2em;
    }
  }
  &__inner {
    padding: 0 1em;
    @include for-size(tablet-landscape-up) {
        padding: 0 10%;
    }
  }
  &--homepage {
    #{$block}__wrapper {
      @include for-size(tablet-landscape-up) {
        width: 80%;
      }
    }
  }
}
