//GENERIC
.surveys {
  $block: unquote("#{&}");
  //Thumbnail
  aside {
    #{$block}__item {
      &-icon {
        width: 70px;
        height: 70px;
        float: right;
        vertical-align: middle;
      }
      &-thumb {
        float: right;
        width: 35%;
        margin: 0 $spacer-multiple;
        vertical-align: middle;
        padding: $spacer-multiple 0  $spacer-half;
      }
    }
  }
  section {}
  nav {
    text-align: center;
  }
  //Titles
  .heading {
    &__subheading {}
    &__component {}
  }
  //Buttons
  .call-to-action {
    padding: 0 $spacer-mid;
  }
  .error-list__item, .errors {
    color: $color-pink;
    text-align: left;
    margin-top: 0;
  }
  &-form,
  &__form {
    padding: 0 $spacer-mid;
  }
  &__question-title {
    font-size: 16px;
    color: $color-gray-light;
    text-align: center;
    text-transform: uppercase;
    padding: ($spacer-half * 3) 0 0;
  }
  &__answers-counter-bar {
    padding: 0 0 $spacer-half;
  }
  &__answers-counter {
    background: #ffffff;
    font-size: $font-xx-small;
    display: inline-block;
    vertical-align: middle;
    padding: $spacer-half;
  }
  &__pagination {
    padding: $spacer-mid $spacer-mid 0;
    text-align: center;
    &--multi-step {
    text-align: left;
    }
    &-title {
    color: $color-gray;
    font-size: $font-medium;
    font-style: italic;
    font-weight: bold;
    }
  }
  &__page {
      color: #4e5358; //?
      font-style: italic;
      font-size: $font-x-small;
      &-number {
        font-weight: bold;
      }
    }
  &--page {
      text-align: left;
      &__image-wrapper {
        overflow: hidden;
        margin: 0 auto;
        max-height: 300px;
        text-align: center;
      }
      &__excerpt {
        padding: 0 15px;
        &-heading {
        font-size: $font-x-large;
        color: $color-gray;
        margin: 0 0 $spacer-half;
        }
        &-description {
          font-size: $font-small;
        }
      }
      &__terms {
        padding: $spacer-small $spacer-mid;
        &-anchor {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
  &--results {
    background-color: $color-yellow-gorse;
    padding: 0 $spacer-mid $spacer-multiple;
    label {
      text-align: left;
      padding: 0 0 $spacer-small;
    }
  }
}
