//CUSTOM
$classModifierList: (
  surveys__type--gcn-competition,
  competition,
  yourwords,
  surveys__type--linked-surveys
);
.surveys__type--polls-separator + div {
  margin-top: -($spacer-multiple);
}
@each $name in $classModifierList {
  @if $name {
    .surveys__type--polls-separator + .#{$name} {
      padding: $spacer-multiple 0 0;
    }
  }
}

.polls, .surveys__type--polls-homepage {
  background-color: $color-cyan-fountain;
  color: #ffffff;
    &-form, &__form {
      background-color: $color-cyan-fountain;
    }
}
.polls, .surveys__type--polls {
  $block: unquote("#{&}");
  overflow: auto;
  margin-top: $spacer-small;
  padding: 0 $spacer-mid $spacer-half;
  position: relative;
  .heading {
    padding: 0 25% $spacer-half 0;
    &__component {
      color: $color-yellow-gorse;
    }
    &__subheading {
      font-weight: normal;
    }
  }
  .poll {
    &__title {
      text-transform: uppercase;
      font-size: $font-x-small;
      padding: $spacer-multiple 0 0;
    }
    &__question-title {
      color: $color-yellow-gorse;
      text-transform: uppercase;
      padding: $spacer-small 0;
      font-size: $font-x-medium;
    }
    &-choices {
      &__item {
        padding: $spacer-half 0;
      }
      a {
        color: #ffffff;
        text-transform: uppercase;
        &:hover {
          color: $color-yellow;
          text-decoration: underline;
        }
      }
    }
  }
  .call-to-action__button--primary,
  .poll-choice__submit {
    background-color: $color-yellow;
    border-radius: 0;
    padding: $spacer-half $spacer-multiple;
    font-weight: 700;
    display: block;
    margin: $spacer-half auto;
    text-align: center;
    color: $color-cyan-fountain !important; //Brute force on polls a{}
    text-transform: inherit !important;
  }
  .surveys--page__excerpt {
    &-heading,&-description,
    p, a, ul, ol  {
      padding: 0;
    }
  }
  &__question {
    padding: $spacer-small 0;
  }
  &-separator {
    background: url("/static/img/patterns/rwanda/pattern-line-cyan.png") repeat-x 0 0/100%;
    content: "";
    display: block;
    height: 20px;
    position: relative;
    top: -15px;
  }
  &-results {
    &-list {
      padding: 0;
      margin: 0;
      &__item {
        display: block;
        padding: $spacer-half 0;
        label {
          display: block;
          padding-bottom: $spacer-half;
        }
      }
      &__percent {
        display: block;
        background: #ffffff;
        color: #33373c;
        border-radius: 20px;
        margin: $spacer-half 0 0;
        &-bar {
          background: $color-yellow-gorse;
          border-radius: 20px;
        }
        .choice-percentage {
          font-size: 14px;
          display: block;
          vertical-align: middle;
          padding: $spacer-small $spacer-half;
        }
      }
    }
  }
  &-form, &__form {

    input, select {
      background: $color-cyan-dark;
      border-color: $color-cyan-dark;
      border-radius: 10px;
      color: #ffffff;
    }
    [type="checkbox"],
    [type="radio"] {
      & ~ label  {
        &:before {
          background-color: $color-yellow-gorse;
          border: 1px solid $color-yellow-gorse;
        }
      }
    }
    [type="checkbox"] {
      &:checked + label:before {
        background-image: url("/static/img/icons/rwanda/check-box-cyan.png");
        background-position: center center;
        background-size: 65%;
        background-repeat: no-repeat;
        opacity: 1;
      }
    }
  }
  &--results {
    .poll__question-title + p {
      font-size: $font-x-medium;
      padding: $spacer-small 0;
      text-transform: uppercase;
    }
    a {
      color: #ffffff;
      display: block;
      padding: $spacer-half 0;
      text-transform: uppercase;
      &:hover {
        color: $color-yellow;
        text-decoration: underline;
      }
    }
  }
  aside {
    .surveys__item {
      &-icon {
        background: url("/static/img/icons/rwanda/polls-con.png") no-repeat 0/ 100%;
        position: absolute;
        right: 0;
      }
    }
  }
  section {
    padding: $spacer-multiple 0 0;
  }
  nav {
    padding-bottom: $spacer-x-max;
  }
}
