.section-page-menu {
  padding: 1em 5%;
  @include for-size(tablet-landscape-up) {
    padding: 5em 7%;
  }
  &-list {
    padding: 0;
    margin: 0;
    $block: unquote("#{&}");
    &__item  {
      display: block;
      @include for-size(tablet-landscape-up) {
        display: inline-block;
        width: 20%;
      }
    }
    &__anchor {
      color: #000;
      display: block;
      font-size: $font-large;
      text-transform: uppercase;
      font-weight: bold;
      max-height: 155px;
      overflow: auto;
      @include for-size(tablet-landscape-up) {
        padding: 3em 1em 1em 1em;
        height: 155px;
      }
    }
    &__desc {
      color: #000;
      text-align: center;
      height: 40px;
      overflow: auto;
      margin: 0;
      padding: 0 1.5em;
    }
    &__container {
      background: $color-gray-light;
      display: block;
      margin: 1em;
      @each $sectionModifier, $styleElement in $sectionThemes {
        &--#{$sectionModifier} {
          background-image: url(map-get($styleElement, bgPatterns));
          background-color: map-get($styleElement, bgColor);
          background-position: 0 0;
          background-repeat: repeat;
          background-size: auto;
        }
        #{$block}__anchor {
          color: map-get($styleElement, textColor);
        }
      }
    }
  }
}
