.search {
  $block: unquote("#{&}");
  &-wrapper {
    background: #fff;
    color: $color-cyan;
    font-size: $font-x-small;
    text-align: left;
    @include fly-by();
    padding: $spacer-small;
  }
  &-accordion {
    &__label {
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: $font-x-small;
      text-transform: uppercase;
      padding: 5px 5px 1.2em 5px;
      &:before {
        content: " ";
        background: url('/static/img/icons/rwanda/search-icon.svg') no-repeat center 0/ 100%;
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        width: 20px;
        margin: 0 $spacer-small 0 0;
      }
    }
    &__checkbox {
      left: 10%;
      & + * {
        height: auto;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0.2s, opacity 0.5s ease-out;
        -moz-transition: visibility 0.2s, opacity 0.5s ease-out;
        -ms-transition: visibility 0.2s, opacity 0.5s ease-out;
        -o-transition: visibility 0.2s, opacity 0.5s ease-out;
        transition: visibility 0.2s, opacity 0.5s ease-out;
      }
      &:checked + * {
        opacity: 1;
        visibility: visible;
        label[for=search_accordion] { background-color: #000; }
      }
    }
  }
  &--header {
    display: inline-block;
    overflow: auto;
    #{$block}-wrapper {
      @include for-size(tablet-landscape-up) {
        padding: 3em 25%;
      }
    }
    #{$block}__form {
      display: inline-block;
      width: 75%;
    }
  }
  .is__active {
    background: #fff;
    &:before {
      content: " ";
      background: url('/static/img/icons/rwanda/search-icon_green.svg') no-repeat center 0/ 100%;
    }
  }
}
