.social-media {
  overflow: auto;
  text-align: center;
  &__anchor {
    color: #fff;
    display: block;
    &:active, &:hover, &:focus {
      color: #fff;
    }
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    &--facebook {
      background: url('/static/img/icons/rwanda/iconsSprite.png')  no-repeat 0 60%/90px;
    }
    &--twitter {
      background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 55%/90px;
    }
  }
  &__label {
    color: #fff;
    font-size: $font-x-small;
    font-weight: bold;
    padding: 0 0 0 $spacer-half;
  }

  &--footer {
    margin: 0 0 1em;
    @include for-size(tablet-landscape-up) {
      flex: 1 auto;
      order: 2;
    }
  }
  &-list {
    margin: 0;
    padding: 0;
    &__item {
      padding: $spacer-small;
      display: block;
    }
  }
}
