
.surveys {
  $block: unquote("#{&}");
  background-color: $color-red;
  @include for-size(tablet-portrait-up) {
    background: $color-red  url("/static/img/patterns/rwanda/section-theme/pattern-red_third.png") repeat center center/ 100%;
    padding: 2em 15%;
  }

  &__wrapper {
    background-color: #fff;
    padding: 0 1em;
    @include for-size(tablet-landscape-up) {
      padding: 5%;
    }
  }
  &__inner {
    @include for-size(tablet-landscape-up) {
      display: flex;
    }
    aside {
    display: inline-block;
    overflow: auto;
    margin: 0 5% 0 0;
    width: 110%;
      @include for-size(tablet-landscape-up) {
        order: 1;
      }
    }
    section {
      display: inline-block;
      @include for-size(tablet-landscape-up) {
        order: 2;
      }
    }
  }
  &__image {
    border: 3px solid $color-cyan;
    width: 100%;
  }
}
