/*
  STYLES APPLY TO HEADER SEARCH
*/
.search {
  $block: unquote("#{&}");
  &-wrapper {
    background: #fff;
    color: $color-cyan;
    font-size: $font-x-small;
    text-align: left;
    @include fly-by();
    padding: 1em;
    @include for-size(tablet-landscape-up) {
      padding: 3em 7%;
    }
  }
  &-accordion {
    &__label {
      color: #fff;
      cursor: pointer;
      display: inline-block;
      &:before {
        content: " ";
        background-image: url('/static/img/icons/rwanda/search-icon.png'), url('/static/img/icons/rwanda/search-icon.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center 0;
        display: inline-block;
        vertical-align: middle;
        height: 25px;
        width: 25px;
        @include for-size(tablet-portrait-up) {
          height: 30px;
          width: 30px;
        }
        @include for-size(tablet-landscape-up) {
          height: 42px;
          width: 42px;
        }
      }
    }
    &__title {
      margin: 0;
      padding: 0 0 0 0.313em;
      display: inline-block;
      font-size: $font-x-small;
      font-weight: bold;
      @include for-size(tablet-portrait-up) {
        display: none;
        font-size: $font-small;
        visibility: hidden;
      }
    }
    &__checkbox {
      left: 10%;
      & + * {
        display: none;
        visibility: hidden;
        height: auto;
        -webkit-transition:height, 0.5s linear;
        -moz-transition: height, 0.5s linear;
        -ms-transition: height, 0.5s linear;
        -o-transition: height, 0.5s linear;
        transition: height, 0.5s linear;
      }
      &:checked + * {
        display: block;
        visibility: visible;
        -webkit-transition:height, 0.5s linear;
        -moz-transition: height, 0.5s linear;
        -ms-transition: height, 0.5s linear;
        -o-transition: height, 0.5s linear;
        transition: height, 0.5s linear;
        label[for=search_accordion] { background-color: #000; }
      }
    }
  }
  &--header {
    display: inline-block;
    #{$block}-wrapper {
      @include for-size(tablet-landscape-up) {
        padding: 3em 25%;
      }
    }
    #{$block}__form {
      display: inline-block;
      width: 75%;
    }
  }
}
