.search {
  &__title {
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    font-style: italic;
    margin: 0 1em 0 0;
    @include for-size(phone-only) {
      font-size: $font-x-medium;
    }
    &:before {
      content: " ";
      background-image: url('/static/img/icons/rwanda/iconsSprite.png');
      background-repeat: no-repeat;
      background-size: 110px;
      background-position: 0.4em 35.7%;
      display: inline-block;
      vertical-align: middle;
      height: 40px;
      width: 40px;
    }
  }
  &__form {
    position: relative;
    input[type="search"] {
      border: 3px solid $color-cyan;
      height: 42px;
      margin: 0;
      padding: $spacer-small 5% $spacer-small $spacer-small;
    }
    [type="button"],
    [type="reset"],
    [type="submit"] {
      background-color: $color-cyan;
      margin: $spacer-half 0;
      padding: $spacer-half;
      text-decoration: underline;
      font-weight: bold;
      @include for-size(tablet-portrait-up) {
        background-image: url('/static/img/icons/rwanda/iconsSprite.png');
        background-repeat: no-repeat;
        background-position: 0.4em 32%;
        background-size: 110px;
        padding: 0;
        height: 40px;
        width: 50px;
        margin: 0;
        text-indent: -15em;
        border-radius: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  &__query-term {
    font-weight: bold;
  }
}
