.section {
  $block: unquote("#{&}");
  &-page {
    overflow: auto;
    &__wrapper {
      padding: 0 5%;
      @include for-size(tablet-landscape-up) {
        padding: 0 7%;
      }
    }
    @each $sectionModifier, $styleElement in $sectionThemes {
      &--#{$sectionModifier} {
        #{$block}__theme {
          background-image: url(map-get($styleElement, bgPattern));
          background-color: map-get($styleElement, bgColor);
          background-position: 0 0;
          background-repeat: repeat;
          background-size: 100%;
        }
        #{$block}__caption {
          background-color: map-get($styleElement, bgColor);
        }
        #{$block}__title {
          color: map-get($styleElement, textColor);
        }
        .pagination {
          border-top-color: rgba(map-get($styleElement, bgColor),0.5);
        }
      }
    }
  }
  &__theme {
    width: 100%;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    @include for-size(tablet-portrait-up) {
      padding: 2em;
    }
  }
  &__icon {
    width: 30px;
    vertical-align: middle;
    display: inline-block;
    @include for-size(tablet-portrait-up) {
      width: 20%;
    }
    @include for-size(tablet-landscape-up) {
      width: 50px;
    }
  }
  &__caption {
    background-color: #000;
    display: inline-block;
    @include for-size(tablet-portrait-up) {
      width: auto;
    }
    @include for-size(tablet-landscape-up) {
      position: absolute;
      left: 1em;
      top: 35%;
    }
  }
  &__title {
    color: #fff;
    font-size: $font-x-medium;
    padding: 0.313em 0.35em;
  }
}
