.searchCopyright {
  &-wrapper {
    @include for-size(desktop-up) {
      flex: 1 auto;
      order: 3;
    }
  }
}

.copyright {
  background: $color-cyan;
  padding: $spacer-half $spacer-small;
  &__disclaimer {
    color: #ffffff;
    font-size: $font-xx-small;
  }
  &__link {
    color: #ffffff;
    display: inline-block;
    &:active, &:hover, &:focus {
      text-decoration: underline;

    }
  }
}
