/*
  STYLES APPLY TO HEADER SEARCH
*/

.search {
  &--header {
    display: inline-block;
  }
  &-wrapper {
    background: #fff;
    color: $color-cyan;
    font-size: $font-x-small;
    text-align: left;
    padding: 1em;
    @include fly-by();
  }
  &-accordion {
    &__label {
      color: #fff;
      cursor: pointer;
      display: inline-block;
      &:before {
        content: " ";
        background-image: url('/static/img/icons/rwanda/search-icon.png'), url('/static/img/icons/rwanda/search-icon.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center 0;
        display: inline-block;
        height: 30px;
        vertical-align: middle;
        width: 30px;
        @include for-size(desktop-up) {
            height: 45px;
            width: 45px;
        }
      }
    }
    &__title {
      margin: 0;
      padding: 0 0 0 0.313em;
      display: inline-block;
      @include for-size(tablet-portrait-up) {
        display: none;
        visibility: hidden;
      }
    }
    &__checkbox {
      left: 10%;
      & + * {
        display: none;
        visibility: hidden;
        height: auto;
        -webkit-transition:height, 0.5s linear;
        -moz-transition: height, 0.5s linear;
        -ms-transition: height, 0.5s linear;
        -o-transition: height, 0.5s linear;
        transition: height, 0.5s linear;
      }
      &:checked + * {
        display: block;
        visibility: visible;
        -webkit-transition:height, 0.5s linear;
        -moz-transition: height, 0.5s linear;
        -ms-transition: height, 0.5s linear;
        -o-transition: height, 0.5s linear;
        transition: height, 0.5s linear;
      }
    }
  }
}
