//CUSTOM
.surveys__type--linked-surveys,
.surveys__type--gcn-competition,
.yourwords, .competition  {
  $block: unquote("#{&}");
  background-color: $color-yellow-gorse;
  color: $color-pink-hollywood;
  overflow: auto;
  padding: 0;
  position: relative;
  margin: $spacer-small 0;
  //Thumbnail
  aside {
    //GCN IMAGE
    .surveys--page {
      &__image {
        width: 100%;
        height: auto;
        padding: 0;
      }
    }
  }
  //Content
  section {}
  nav {
    text-align: center;
  }
  //Titles
  .heading {
    color: $color-pink-hollywood;
    &__component {
      color: $color-pink-hollywood;
    }
    &__subheading {
      color: #000000;
      padding-top: 0;
      font-weight: normal;
    }
    &--yourwords-subtitle {
      color: $color-pink-hollywood;
      font-size: $font-x-small;
    }
    &--hero-yourwords {
      color: #000000;
      padding: $spacer-half $spacer-mid 0;
      font-size: $font-x-small;
    }
  }
  &__title {
    padding: 0 $spacer-mid;
    color: $color-pink-hollywood;
    font-size: $font-large;
    text-transform: uppercase;
    &--description {
      color: #000000;
      font-size: $font-small;
      font-weight: normal;
      padding: $spacer-half $spacer-mid;
    }
  }
  //PAGES
  &__type--gcn-competition {}
  &--entries {}

  //Buttons
  .call-to-action__nav-item {
    &--login {
      background-color: $color-pink-hollywood;
      color: $color-yellow-gorse;
      padding: $spacer-half $spacer-multiple;
      text-transform: inherit;
      display: inline-block;
      margin: 10px auto;
      font-weight: 700;
    }
  }

}

.surveys {
  &__question-title {
    font-size: 16px;
    color: $color-gray-light;
    text-align: center;
    text-transform: uppercase;
    padding: ($spacer-half * 3) 0 0;
  }
  &__answers-counter-bar {
    padding: 0 0 $spacer-half;
  }
  &__answers-counter {
    background: #ffffff;
    font-size: $font-xx-small;
    display: inline-block;
    vertical-align: middle;
    padding: $spacer-half;
  }
  &__pagination {
    padding: $spacer-mid $spacer-mid 0;
    text-align: center;
    &--multi-step {
    text-align: left;
    }
    &-title {
    color: $color-gray;
    font-size: $font-medium;
    font-style: italic;
    font-weight: bold;
    }
  }
  &__page {
    //Where is this located?
    color: #4e5358; //?
    font-style: italic;
    font-size: $font-x-small;
    &-number {
      font-weight: bold;
    }
  }

  &--page {
    text-align: left;
    &__image-wrapper {
      overflow: hidden;
      margin: 0 auto;
      max-height: 300px;
      text-align: center;
    }
    &__excerpt {
      padding: 0 15px;
      &-heading {
      font-size: $font-x-large;
      color: $color-gray;
      margin: 0 0 $spacer-half;
      }
      &-description {
        font-size: $font-small;
      }
    }
    &__terms {
      padding: $spacer-small $spacer-mid;
      &-anchor {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }

  &--results {
    background-color: $color-yellow-gorse;
    padding: 0 $spacer-mid $spacer-multiple;
    label {
      text-align: left;
      padding: 0 0 $spacer-small;
    }
  }
}
