.section-page {
  overflow: auto;
  &__wrapper {
    padding: 0 5%;
  }
  &__theme {
    @each $name, $theme_bg in $sections_theme {
      &--#{$name} {
        padding: 2em;
        width: 100%;
      }
    }
  }
}
