.tag-cloud {
  background-color: $color-cyan;
  text-align: center;
  padding: $spacer-mid;
  &-list {
    padding: 0;
    &__item {
      color: $color-yellow-gorse;
      display: inline-block;
      padding-right: $spacer-small;
    }
  }
  &__anchor {
    color: $color-yellow-gorse;
    font-size: $font-x-medium ;
    &:before {
      content: "#";
      display: inline;
    }
  }
  &__title {
    margin-left: -($spacer-small - 2);
  }
  .heading__subheading {
    font-size: $font-medium;
    color: #ffffff;
    font-weight: normal;
    &:after {
      background: url("/static/img/patterns/rwanda/pattern-line-yellow.png") repeat-x 0 0/70%;
      content: "";
      display: block;
      height: 15px;
    }
  }
}

.article-page__tag-cloud {
  padding: 0 $spacer-x-max;
}
.teaser-stacklist-tags {
  display: inline-block;
  padding: 0;
  &__item {
    display: inline-block;
    padding: 0 $spacer-small 0 0;
  }
  &__anchor {
    color: $color-pink;
    font-size: $font-xx-small;
    font-weight: bold;
      &:hover, &:focus, &:active {
        color: $color-yellow;
      }
      &:before {
        content: "#";
        display: inline;
      }
  }
  .heading {
    padding: $spacer-half 0;
  }
}
