.tag-cloud {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: $spacer-mid 10%;
  &-list {
    padding: 0;
    &__item {
      display: inline-block;
      padding-right: $spacer-small;
    }
  }
  &__anchor {
    color: $color-cyan-dark;
    font-size: $font-x-medium;
    &:before {
      content: "#";
      display: inline;
    }
  }
  &__title {
    margin-left: -($spacer-small - 2);
  }
  .heading__subheading {
    font-size: $font-medium;
    color: #ffffff;
    font-weight: normal;
    &:after {
      background: url("/static/img/patterns/rwanda/pattern-line-yellow.png") repeat-x 0 0/70%;
      content: "";
      display: block;
      height: 15px;
    }
  }
}

.article-page__tag-cloud {
  padding: 0 $spacer-x-max;
}
