$ugcPages: (
    polls: (
      themePattern: "/static/img/patterns/rwanda/section-theme/pattern-red_third.png",
      themeColor: $color-red
    ),
    surveys: (
      themePattern: "/static/img/patterns/rwanda/section-theme/pattern-red_third.png",
      themeColor: $color-red
    ),
    yourwords: (
      themePattern: "/static/img/patterns/rwanda/section-theme/pattern-orange_secondary.png",
      themeColor: $color-orange
    ),
);

@each $page, $styleElement in $ugcPages {
  .#{$page} {
    @include for-size(tablet-portrait-up) {
      background: map-get($styleElement, themeColor)  url(map-get($styleElement, themePattern)) repeat center center/ 100%;
      padding: 1em 7% 2em;
      &:nth-child(1) {
        padding: 2em 7%;
      }
    }
    &__inner {
      @include for-size(tablet-landscape-up) {
        display: flex;
      }
      aside {
      width: 70%;
      height: 300px;
      border: 3px solid $color-cyan;
      overflow: hidden;
        @include for-size(tablet-landscape-up) {
          margin: 0 2em 0 0;
          order: 1;
        }
      }
      section {
        display: inline-block;
        @include for-size(tablet-landscape-up) {
          order: 2;
        }
      }
    }
    &__image {
      display: block;
      height: auto;
      width: 100%;
    }
    &__choices {
      &-title {
        font-size: $font-x-medium;
      }
      &-percentage {
        display: block;
        background: $color-gray-light;
        border-radius: 20px;
        margin: $spacer-half 0 0;
      }
      &-bar {
        background: $color-yellow-gorse; //Does this color need to be custom?
        border-radius: 20px;
      }
      &-subtitle {
        font-size: $font-x-small;
        display: block;
        vertical-align: middle;
        padding: $spacer-small $spacer-half;
      }
    }
  }
}
