.polls {
  padding: 0 $spacer-mid;
  &__form {}
  &--results {
    p {
      font-size: $font-x-medium;
      padding: $spacer-small 0;
    }
    a {
      color: #ffffff;
      display: block;
      padding: $spacer-half 0;
      text-transform: uppercase;
      &:hover {
        color: $color-yellow;
        text-decoration: underline;
      }
    }
  }
  .poll {
    &__title {
      text-transform: uppercase;
      font-size: $font-x-small;
      padding: $spacer-half 0;
    }
    &__form-block {}
    &__question-title {
      text-transform: uppercase;
      padding: $spacer-half 0;
    }

    &-choices {
      padding: $spacer-half 0;
      .fieldset {
        padding: $spacer-half 0;
      }
      a {
        color: #ffffff;
        text-transform: uppercase;
        &:hover {
          color: $color-yellow;
          text-decoration: underline;
        }
      }
    }
    &-choice__submit {
      display: block;
      font-weight: 700;
      margin: $spacer-half auto;
      text-align: center;
    }
  }
}
