.yourwords {
  background-color: $color-yellow-gorse;
  color: $color-pink-hollywood;
  overflow: auto;
  padding: 0;
  position: relative;
  .heading {
    &--yourwords {
      &-subtitle {}
    }
    &--hero-yourwords {}
  }
  .call-to-action {
    &__nav-item {
      &--login {
        background-color: $color-pink-hollywood;
        color: $color-yellow-gorse;
        padding: $spacer-half $spacer-multiple;
        text-transform: inherit;
        display: inline-block;
        margin: 10px auto;
        font-weight: 700;
      }
    }
  }
}
.competition {
  &__title {
    color: #000000;
    &--description {
      color: $color-pink-hollywood;
    }
  }
}
