.yourwords {
  $block: unquote("#{&}");
  &--homepage {
    text-align: center;
    section {
      margin: 0 auto;
    }
  }
  &__wrapper {
    background-color: $color-orange;
    padding: 1em;
    @include for-size(tablet-landscape-up) {
      padding: 1em 2em;
    }
  }
  .heading--hero {
    text-align: center;
  }
}
