.tags {
  padding: 10px 15px;
}
.tags-list {
  margin: 0;
  padding: 0;
}
.tag-list__item {
  display: inline-block;
  padding: 5px;
  margin: 5px 0;
  font-size: 16px;
}
.tag__item-anchor {
  text-decoration: underline;
  word-break: break-word;
}
