
.reply-notification {
  background: #F2DEDF;
  border-radius: 3px;
  padding: 10px;
}
.reply-notification__popup-title {
  color: #E78184;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
}
.reply-notification__popup-call-to-action {
  margin: 0;
  color: #c76f75;
}
.reply-notification__link {
  display: block;
  color: #E78184;
}
.reply-notification__popup-number {
  background: #E04F50;
  border: 2px solid #F8CAC3;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  padding: 5px;
  height: 20px;
  text-align: center;
  width: 20px;
}
.reply-notification__popup-number-text {
  display: block;
}

.replies-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.replies-list__item {
  padding: 10px 0 0;
  border-bottom: 1px solid #ececec;
}

//Reply Page
.comment__reply-content {
  background: #F7FAFA;
}
.comment__reply-thread-content {
  background: #F7FAFA;
  padding: 10px 15px;
}
.comments__reply-heading {
  font-size: 30;
  padding: 5px 15px;
}
.comments__reply-title {
  padding: 10px 15px 0;
  font-size: 25px;
  color: #4F4C54;
}
.comments__reply-title--unread {
  color: #ed008c;
}
.comment__heading {}
.comment__subtitle {
  margin: 0;
}
.comment__username {
  font-weight: bold;
}
.comment__reply-thread {
  text-decoration: none;
  margin: 0;
  padding: 0 15px 10px;
}
.comment__timestamp {
  color: #A3A3A3;
  display: block;
  font-size: 16px;
  padding: 10px 0 0;
}
