
input.btn-wide {
  width: 100%;
  font-size: 0.9em;
  cursor: pointer;
}


.error {
  color: red;
}

.input-error {
  border: solid 1px red;
}

#id_terms_and_conditions {
  display: inline;
  width: auto;
  margin: 0 10px 0;
  vertical-align: middle;
}
