


label {
  font-size: 13px;
  color: #141414;
}
input, textarea, select {
  margin: 8px 0;
  border: 1px #D6D6D6 solid;
  padding: 0 8px;
}

input, select {
  height: 30px;
}

button, input[type=submit], .button, .gem-polls a {
  display: inline-block;
  background: #ed008c;
  color: #fff;
  border: 0;
  font-size: 12px;
  font-weight: bold;

  height: auto;
  line-height: 1.3333;
  padding: 8px 10px;
  @media screen and (min-width:480px) {
    padding: 10px 24px;
  }
}


input {
  padding: 0.5em;
  font-size: 0.9em;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input, select {
  //height: 48px;
  font-size: 18px;
}

button, input[type="submit"], .button, .gem-polls a {
  display: inline-block;
  font-family: 'TwCenMT';
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.error {
  color: red;
}

.input-error {
  border: solid 1px red;
}

input.btn-wide {
  width: 100%;
  font-size: 0.9em;
  cursor: pointer;
}

textarea {
  display: block;
  width: 95%;
  font-size: 14px;
  padding: 5px;
}

.label-wide, .input-wide {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

#id_terms_and_conditions {
  display: inline;
  width: auto;
  margin: 0 10px 0;
  vertical-align: middle;
}
