


button, input[type=submit], .button, .gem-polls a {
  display: inline-block;
  background: #ed008c;
  color: #fff;
  border: 0;
  font-size: 12px;
  font-weight: bold;

  height: auto;
  line-height: 1.3333;
  padding: 8px 10px;
  @media screen and (min-width:480px) {
    padding: 10px 24px;
  }
}


button, input[type="submit"], .button, .gem-polls a {
  display: inline-block;
  font-family: 'TwCenMT';
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
input.btn-wide {
  width: 100%;
  font-size: 0.9em;
  cursor: pointer;
}


.error {
  color: red;
}

.input-error {
  border: solid 1px red;
}

#id_terms_and_conditions {
  display: inline;
  width: auto;
  margin: 0 10px 0;
  vertical-align: middle;
}
