/**
Take Note:
Separate smart styles to states folder
*/

.article-teaser {
  overflow: auto;
}

.base-teaser {
  &__thumbnail-link {
    cursor: pointer;
    outline: none;
    display: inline-block;
    vertical-align: top;
    width: 30%;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: $font-x-small;
    font-family: $baton-medium;
    font-weight: normal;
    margin-top: 4px;
  }

  &__title-link {
    color: $charcoal-grey;
  }

  &__subtitle {
    color: $slate-grey;
    font-size: $font-xxx-small;
    text-transform: none;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-xxx-small*$elip-line-height*$elip-lines-to-show; /* Fallback for non-webkit */
    line-height: $elip-line-height;
    -webkit-line-clamp: $elip-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.teaser-stacklist {
  padding: 0;
  margin: 0;

  &__item {
    display: block;
    padding: 8px;
    position: relative;
    height: 100%;
    color: #000;
    border-bottom: 4px solid #edf0f2;
    font-size: 0;
  }

  &__item--content {
    display: inline-block;
    width: 60%;
    margin-left: 10px;
    vertical-align: top;
  }
}

.teaser-stacklist-tags {
  display: inline-block;
  padding: 0;

  &__item {
    display: inline-block;
    list-style-type: none;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__anchor {
    font-family: $baton-medium;
    text-transform: lowercase;
    text-decoration: none;
    font-size: $font-xxx-small;
    color: $springster-purple;

    &:hover {
      color: $black;
    }

    &:before {
      content: "#";
    }
  }
}
