.article-teaser {
  overflow: auto;
}

.base-teaser {
    &__thumbnail-link {
      cursor: pointer;
      outline: none;
      vertical-align: top;
      img {
        width: auto;
        display: block;
        margin: 0 auto;
      }
    }
    &__title {
      font-size: $font-x-small;
      @each $language in $languages {
        &:lang(#{$language}) {
          font-size: $font-large;
        }
      }
      font-weight: bold;
      padding: 0;
      line-height: 1.2;
      &-link {
        color: $charcoal-grey;
      }
    }

    &__subtitle {
      color: $slate-grey;
      font-size: $font-xx-small;
      text-transform: none;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}


.teaser-stacklist {
  padding: 0;
  margin: 0;
  &__item {
    display: block;
    padding: 10px;
    position: relative;
    color: #000;
    border-bottom: 4px solid #edf0f2;
    font-size: 0;
    margin-left: 0;
    &--content {
      display: inline-block;
      padding: 0 10px;
      vertical-align: top;
    }
  }
}

.teaser-stacklist-tags {
  display: inline-block;
  padding: 8px 0 0 0;
  &__item {
    display: inline-block;
    list-style-type: none;
    margin-right: 8px;
  }
  &__anchor {
    text-transform: lowercase;
    text-decoration: none;
    font-size: $font-xx-small;
    color: $springster-purple;
    &:hover {
      color: $black;
    }
    &:before {
      content: "#";
    }
  }
}
