
.grid-teaser-wrapper {
  margin: 0 8px;
}

.grid-teaser-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  &__item {
    text-align: center;
  }
}

.grid-teaser {
  &__thumbnail-link {
    font-size: 0;
    display: inline-block;
    margin: 16px;
  }
  
  &__title-link {
    font-family: $baton-medium;
    color: $charcoal-grey;
    font-size: $font-large;
    
    &:hover {
      color: $springster-purple;
      text-decoration: none;
    }
  }
  
  &__subtitle {
    color: $slate-grey;
    font-size: $font-x-small;
  }
}



