//Molo Styles
.heading--xx-large {
  padding: 10px 15px;
}
.promoted-article {
  &-list {
    margin: 0;
    padding: 0 10px 10px;
    &__item {list-style-type: none;}
    &__anchor {
      color: $charcoal-grey;
      font-weight: 400;
    }
  }
  &__title {
    color: $charcoal-grey;
    font-size: $font-x-large;
  }
}
