html, body {
 background-color: $color-gray-dark;
}
body {
  background-color: #ffffff;
  color: #000000;
  font-size: $font-small;
  line-height: 1.5;
  font-family: "Helvetica, Arial, sans-serif";
}
@media screen and (min-width: $phablet) {
  body {
    font-family: $AvenirNextCondensed;
    margin: 0 auto;
    width: $phablet;
  }
}

h1, h2 {
  font-family: $sans-serif;
}
h3, h4, h5, h6 {
  font-family:   $TwCentBold;
}
ul,li {
  list-style-type: none;
}

a {
  font-weight: bold;
    //SMARTPHONE
    @media screen and (min-width: $phablet) {
        font-weight: normal;
    }
  &:active, &:hover, &:focus {
    color: $color-pink-hollywood;
    text-decoration: none;
  }
  &:visited {
    @media screen and (min-width: $phablet) {
      outline: none;
    }
  }
}
