html, body {
 background-color: #fff;
}
body {
  width: 100%;
  margin: 0 auto;
  line-height: 1.3;
  font-size: $font-x-small;
  font-family: Arial, sans-serif;
}
h1, h2, h3 {
  margin: 0;
}
h4, h5, h6  {
  margin: 0;
}
a {
  color: $color-cyan;
  display: block;
  font-weight: bold;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: normal;
  text-decoration: underline;
  overflow: auto;
  &:active, &:hover, &:focus {
    color: $color-pink-hollywood;
  }
}
a, button {
  outline: none;
  &:visited {
    outline: none;
  }
}

main {
  color: #000;
  margin: 0 auto;
}
