html, body {
 background-color: #ccc;
}
body {
  width: 100%;
  margin: 0 auto;
  line-height: 1.3;
  font-size: $font-small;
  font-family: $AvenirNextCondensed;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2 {
  font-family: $sans-serif;
}
h3, h4, h5, h6 {
  font-family:   $TwCentBold;
}
ul,li {
  list-style-type: none;
}

a {
  font-weight: bold;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: normal;
  outline: none;
  &:active, &:hover, &:focus {
    color: $color-pink-hollywood;
    text-decoration: none;
  }
  &:visited {
    outline: none;
  }
}

@media screen and (min-width: $smartphone) {
  main {
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
    width: 320px;
  }
}
