//FONTS
@import "gem/styles/gem/_fonts";
$TwCenMTRegular   :   "TwCenMT-Regular", ArialMT, Arial, sans-serif;
$TwCenMTBold      :   "TwCenMT-Bold", Arial-BoldMT, Arial, sans-serif;

@import "util/*";
@import "normalize";
body {
  font-size: $font-small;
  font-family: $TwCenMTRegular;
}
h1, h2, h3 {
  font-family: $TwCenMTBold;
}
main {
  @include for-size(tablet-landscape-up) {
    padding: 4em 0 0;
  }
}
@import "theme/*/**";
