{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags static i18n %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="article {{ self.get_parent_section.get_effective_extra_style_hints }}">

  {% include "core/section_header_partial.html" with url=self.get_parent_section image=self.get_parent_section.image title=self.get_parent_section extra_classes=self.get_parent_section.get_effective_extra_style_hints %}
  {% include "core/article_intro_partial.html" with article=page %}

  <article class="article-content">
    {% for block in self.body %}
        {% if block.block_type == 'heading' %}
            <h1>{{ block.value }}</h1>
        {% else %}
            {% if block.block_type == 'image' %}
                {% image block.value width-240 %}
            {% else %}
                {% if block.block_type == 'numbered_list' %}
                    <ol>
                        {% for item in block.value %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    {{ block }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}


    <ul class="article-tags">
      {% for tag in self.tags.all %}
        <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>

    {% if self.is_commenting_enabled %}
        <div class="block {{ self.get_parent_section.get_effective_extra_style_hints }}">
            {% if self.allow_commenting %}
                {% get_comment_count for self as comment_count %}
                <div class="post-comment {{ self.get_parent_section.get_effective_extra_style_hints }}">
                    <h3 class="comment-header">Got something to say?</h3>
                    {% if request.user.is_authenticated %}
                        {% render_comment_form for self %}
                    {% else %}
                        <p class="comment-login">{% trans "Login to leave a comment." %}</p>
                        <a href="{% url 'molo.profiles:auth_login' %}?next={{ request.path }}"
                           class="comment-login-button">
                            <button>{% trans "Log In" %}</button>
                        </a>
                        <p class="comment-sign-up">No account? <a
                                href="{% url 'molo.profiles:user_register' %}?next={{ request.path }}">Sign
                            Up</a></p>
                        <hr>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div id="comments-list">
            {% get_comment_count for self as comment_count %}
            {% get_molo_comments for self as comment_list %}
            {% if comment_count > 0 %}
                <h5>
                    <div class="comments-count align-left">{{ comment_count }}
                        <span>{% trans "comment" %}{{ comment_count|pluralize }}</span></div>
                </h5>
            {% endif %}
            {% for node in comment_list %}
                {% include "comments/comment.html" %}
            {% endfor %}
            {% if comment_count > 5 %}
                <div class="view-more-comments pagination">
                    <a href="{% url 'more-comments' self.pk %}">{% trans "View more Comments" %}</a>
                </div>
            {% endif %}
        </div>
    {% endif %}


  </article>
</div>
{% endblock %}
