
{% extends "base.html" %}

{% load core_tags competition_tag poll_votings %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
  <div id="article-hero">
    {% latest_listing_homepage %}
  </div>

  <div class="gem-polls">
      {% poll_page page=language_page %}
  </div>

  <div class="article-list">
    {% section_listing_homepage %}
  </div>

  {% if language_page %}
    {% your_words_competition page=language_page %}
  {% endif %}
{% endblock %}
