
{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="articles nav section-list">

      <h2 class="list-header">
        {% if page.image %}
          <a href="{% pageurl page %}">{% image page.image width-120 %}</a>
        {% endif %}
        <span>{{self.title}}</span>
      </h2>
      {% for page in self.sections %}
      <ul class="list-block">
        <li>
          {% if page.image %}
          <a href="{% pageurl page %}">{% image page.image width-60 %}</a>
          {% endif %}
          <h3><a href="{% pageurl page %}">{{page.title}}</a></h3>
          {% if page.description %}<p>{{page.description}}</p>{% endif %}
        </li>
      </ul>
      {% endfor %}
      {% for page in self.articles %}
      <ul class="list-block">
        <li>
          {% if page.image %}
          <a href="{% pageurl page %}">{% image page.image width-320 %}</a>
          {% endif %}
          <h3 class="sub-title"><a href="{% pageurl page %}">{{page.subtitle}}</a></h3>
          <p class="featured-title">{{page.title}}</p>
                  {{ page.body|truncatewords:10 }}
          <span class="read-more"><a href="{% pageurl page %}">Read More</a></span>
        </li>
      </ul>
      {% endfor %}
      <div class="clear-fix"></div>
    </div>
{% endblock %}

