
{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags poll_votings %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    {% has_questions self as questions %}
    {% if questions %}
    <div class="block {{self.get_effective_extra_style_hints|default:"orange"}}">
      <div class="title">
        <div class="icon"><a href=""><img src="{% static 'img/polls.png' %}" alt="Have Your Say"></a></div>
      </div>
      {% poll_page_in_section page=self %}
      <hr>
    </div>
    {% endif %}


    <div class="articles articles-list-view nav">

      <h2 class="list-header">
        {% if page.image %}
          <a href="{% pageurl page %}">{% image page.image width-120 %}</a>
        {% endif %}
        <span>{{self.title}}</span>
      </h2>
      {% for page in self.sections %}
      <ul class="list-block">
        <li>
          {% if page.image %}
          <a href="{% pageurl page %}">{% image page.image width-60 %}</a>
          {% endif %}
          <h3><a href="{% pageurl page %}">{{page.title}}</a></h3>
          {% if page.description %}<p>{{page.description}}</p>{% endif %}
        </li>
      </ul>
      {% endfor %}
    {% for page in self.articles %}
    <ul class="list-block">
      <li>
        {% if page.image %}
          <a class="listing-homepage-img" href="{% pageurl page %}">{% image page.image width-320 %}</a>
        {% endif %}
          <p class="articles-section-url"><a href="{% pageurl page.get_parent_section %}">{{ page.get_parent_section }}</a></p>
          <h3 class="featured-title"><a href="{% pageurl page %}">{{page.title}}</a></h3>
          <p class="sub-title">{{page.subtitle}}</p>
          <span class="read-more"><a href="{% pageurl page %}">Read More</a></span>
          <div class="clear-fix"></div>
      </li>
    </ul>
    {% endfor %}

    </div>
     <div class="clear-fix"></div>

{% endblock %}

