.adv_wrapper {
    padding: 0;
    margin: 0;
    background: $mint-green;
    position: relative;
    overflow: auto;

    display: grid;
    grid-template-columns: 66% 34%;
    grid-template-rows: auto 15px;

    section {}
    aside {
      .adv_wrapper__item-icon {
        width: 100%;
        vertical-align: middle;
        padding: 60% 0 0;
      }
    }
}

.clear-left {
  clear: left;
}
