.teaser-accordion-list {
  $block: unquote("#{&}");
  margin: 0;
  padding: 0;
  overflow: auto;
  &__item {
    margin: $spacer-half 0;
    display: block;
  }
  &__anchor {
    background-color: $color-gray-light;
    color: #000;
    display: block;
    margin: $spacer-half auto;
    padding: $spacer-half;
    text-align: center;
    text-decoration: none;
    &:active, &:hover, &:focus {
      background-color: $color-aqua;
    }
  }
}
