.teaser-grid {
  margin: 0;
  padding: 0;
  &--listen {}
  &--primary {}
  &__item {
    background-color: $color-light-gray;
    display: block;
    margin: 0 0 2em;
    padding: 1.5em;
    text-align: center;
  }
  &__container {
    text-align: left;
  }
  &__anchor {
    display: block;
    overflow: auto;
  }
  &__images {
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    width: 100%;
    @include for-size(tablet-portrait-up) {
      max-width: 270px;
      width: 270px;
      height: 270px;
    }
  }
  &__thumbnail {
    height: auto;
    width: 100%;
  }
  &__title {
    color: $color-violet;
    font-size: $font-medium;
    margin: 0.67em 0;
  }
  &__subtitle {
    font-size: $font-small;
    margin: 0.67em 0;
  }
}
