.teaser-stacklist {
  margin: 0;
  padding: 0;
  &__item {
    display: block;
    margin: 0 $spacer-small 2em $spacer-small;
    width: 100%;
    list-style: none;
    vertical-align: top;
  }
  &__anchor {
    display: block;
  }
  &__images {
    padding: 0 1em 0 0;
  }
  &__thumbnail {
    height: auto;
    width: auto;
  }
  &__title {
    color: #000;
    font-size: $font-medium;
    margin: 0.67em 0;
  }
  &__subtitle {
    color: #000;
    font-size: $font-small;
    margin: 0.67em 0;
  }
}
