.article-teaser {
  display: block;
  $block: unquote("#{&}");
  &--watch {}
  &--listen {}
  &--general {
    .teaser-stacklist__item {
      @include for-size(tablet-landscape-up) {
        display: flex;
      }
    }
  }
  &--sidebar {
    .call-to-action__item--text {
      margin: 1.5em 0 0;
      text-align: right;
      display: block;
      text-decoration: none;
      &:active, &:hover, &:focus {
        color: $color-violet;
      }
      &:visited {
        @include for-size(tablet-landscape-up) {
          outline: none;
        }
      }
      &:after {
        background: url("/static/img/icons/yegna/icon-readmore.svg") no-repeat center center / 100%;
        content: "";
        display: inline-block;
        height: 15px;
        margin: 0 0 0 1em;
        vertical-align: middle;
        width: 25px;
      }
    }
  }
}
