.article-page {
  $block: unquote("#{&}");
  .social-media {
    background: $color-light-gray;
    padding: 1em;
    float: none;
    width: 100%;
    &-list__item {
      @include for-size(tablet-landscape-up)  {
        float: right;
      }
      &:first-child {
        @include for-size(tablet-landscape-up)  {
          float: left;
        }
      }
    }
    &--watch, &--listen {
      display: inline-block;
      .social-media-list {
        display: inline-block;
        @include for-size(tablet-landscape-up)  {
          float: right;
          margin: 0.5em 0 0;
        }
      }
    }
    .call-to-action--media-download {
      display: inline-block;
      margin: 0;
    }
  }
  .heading__subheading--watch,
  .heading__subheading--listen  {
    color: #000;
  }

  .teaser-breadcrumb {
    text-align: center;
    padding: 1em 0 2em;
    &-list__anchor {
      font-size: $font-small;
    }
  }
  .teaser-stacklist__images {
    margin: 1em 0 0;
  }
  .call-to-action--watch,
  .call-to-action--listen, {
    text-align: center;
    margin: 1em 0 2em;
  }
  &__wrapper {
    @include pages();
  }
  &__images {
    text-align: center;
    overflow: hidden;
    position: relative;
    @include for-size(tablet-landscape-up) {
      margin: 0 0 2.5em;
      max-height: 425px;
      width: 860px;
    }
  }
  &__thumbnail {
    height: auto;
    width: auto;
  }
  &__columns {
    @include for-size(tablet-landscape-up) {
      display: flex;
    }
    #{$block}__first-column {
      @include for-size(tablet-landscape-up) {
        width: 100%;
        margin: 0 5% 0 0;
      }
    }
    #{$block}__second-column {
      @include for-size(tablet-landscape-up) {
        width: 35%;
      }
      .teaser-stacklist__images {
        margin: 1em 0 0;
      }
      .teaser-stacklist__container {
        margin: 0;
        padding: 0;
      }
    }
  }
  @each $name, $color in $color_loop {
    &--#{$name} {
      #{$block}__second-column {
        .teaser-stacklist__container {
          background-color: $color;
        }
      }
    }
  }
}
