.teaser-stacklist {
  $block: unquote("#{&}");
  margin: 0;
  padding: 0;
  &__item {
    display: block;
    width: 100%;
    list-style: none;
    vertical-align: top;
    overflow: auto;
    align-items: center;
    margin: 0 0 1em;
  }
  &__anchor {
    display: block;
  }
  &__images {
    overflow: hidden;
    position: relative;
    max-width: 290px;
    @include for-size(tablet-landscape-up)  {
      height: 163.13px;
      width: 290px;
    }
  }
  &__thumbnail {
    height: auto;
    width: auto;
  }
  &__container {
    margin: $spacer-small 0 0;
    padding: 1em;
    position: relative;
    @include for-size(tablet-landscape-up)  {
      margin: 1em 0 0;
    }
    .section__title {
      font-size: $font-small;
    }
  }
  &__elem-audio {
    margin: 0 0 $spacer-small;
    padding: 1em;
    @include for-size(tablet-landscape-up)  {
      margin: 0 0 1em;
    }
  }
  &__title {
    color: #000;
    font-size: $font-large;
    margin: 0.67em 0;
  }
  &__subtitle {
    color: #000;
    font-size: $font-small;
    margin: 0.67em 0;
  }
  &--watch {
    iframe,video {
      @include for-size(tablet-landscape-up) {
        height: 422px;
      }
    }
    #{$block}__thumbnail {
      width: 100%;
    }
    #{$block}__container {
      background: $color-aqua;
      @each $name, $color in $color_loop {
        &--#{$name} {
          background: $color;
        }
      }
    }
  }
  &--listen {
    #{$block}__item {
      &--inner {
        background-color: $color-light-gray;
        padding: 1em;
        @include for-size(tablet-landscape-up) {
          padding: 1.5em;
          display: flex;
        }
      }
    }
    #{$block}__images {
      max-width: 175px;
      overflow: hidden;
      @include for-size(tablet-landscape-up) {
        height: 175px;
        width: 175px;
      }
    }
    #{$block}__container {
      .section__title {
        color: $color-light-red;
      }
    }
    #{$block}__elem-audio {
      background: $color-light-red;
      @each $name, $color in $color_loop {
        &--#{$name} {
          background: $color;
        }
      }
    }
    .teaser-breadcrumb-list__anchor {
      color: $color-light-red;
    }
  }
}
