.article-teaser {
  display: block;
  $block: unquote("#{&}");

  //LISTEN HOMEPAGE
  &--listen {
    @include for-size(tablet-landscape-up) {
      margin: 3em 0 0;
    }
  }
  //GENERAL HOMEPAGE
  &--general {
    @include for-size(tablet-landscape-up) {
      margin: 3em 0 0;
    }
    .teaser-stacklist {
      &__item {
        @media screen and (min-width: 45.000em) {
          display: flex;
        }
      }
      &__images {
        @media screen and (min-width: 25.000em) {
          height: 175.33px;
          max-width: 265px;
          width: 100%;
        }
      }
      &__thumbnail {
        max-width: 265px;
      }
      &__container {
        @media screen and (min-width: 62.000em) {
          margin: 1em 0 0 1em;
        }
      }
    }
  }

  //SIDEBAR HOMEPAGE
  &--sidebar {
    #{$block}__wrapper {
      text-align: center;
    }
    .teaser-grid {
      @media screen and (min-width: 40.000em) and (max-width: 62.000em) {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
      }
      &__item {
        @media screen and (min-width: 40.000em) and (max-width: 62.000em) {
          width: 290px;
          max-width: 290px;
        }
        @media screen and (max-width: 62.000em) {
          max-width: 333px;
        }
      }
      &__images {
        @media screen and (min-width: 45.000em) {
          width: 270px;
          height: 270px;
        }
      }
      &__thumbnail {
        width: auto;
        max-width: 480px;
        @media screen and (min-width: 45.000em) {
          max-width: 270px;
          width: 100%;
        }
      }
      &__title {
        color: $color-purple;
      }
    }
    .call-to-action__item--text {
      margin: 1.5em 0 0;
      text-align: right;
      display: block;
      text-decoration: none;
      &:after {
        background: url("/static/img/icons/yegna/icon-readmore.svg") no-repeat center center / 100%;
        content: "";
        display: inline-block;
        height: 15px;
        margin: 0 0 0 1em;
        vertical-align: middle;
        width: 25px;
      }
    }
  }
  &--related {
    .teaser-stacklist__container {
      @include for-size(tablet-landscape-up) {
        width: 45%;
      }
    }
  }
}
