.call-to-action {
  $block: unquote("#{&}");
  &__button {
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    &--primary {
      background: #000;
      color: #fff;
      display: inline-block;
      text-decoration: none;
    }
  }
  &__item {
    color: #000;
    &--text {
      color: #000;
      padding: 0 $spacer-small;
    }
    &--icon {
      background: #000 url('/static/img/icons/yegna/icon-search.svg') no-repeat center center/auto;
      border: 1px solid #000;
      color: #fff;
      display: inline-block;
      margin: $spacer-small 0;
      padding: 11px;
      vertical-align: middle;
      @media screen and (min-width: 72.188em) {
        margin: 0 $spacer-small;
      }
    }
    &--back-to-top {
      color: #000;
      text-align: center;
      text-decoration: none;
      &:before {
        background: url('/static/img/icons/yegna/icon-arrow-up.svg') no-repeat center center/auto;
        content: "";
        display: block;
        height: 26px;
        margin: 0 auto;
        width: 21px;
      }
    }
  }
  &--media-download {
    overflow: auto;
    margin: 1em 0 0;
    #{$block}__button {
      &:before {
        background: url('/static/img/icons/yegna/icon-download.svg') no-repeat center center/auto;
        content: "";
        display: inline-block;
        margin: 0 10px 0 0;
        height: 30px;
        vertical-align: middle;
        width: 30px;
      }
      &--primary {
        background: #000;
        color: #fff;
      }
    }
    #{$block}__item {
      &--text {
        color: #fff;
        font-size: $font-xx-small;
      }
    }
  }
}
