.banner {
  $block: unquote("#{&}");
  background: rgba(0, 255, 255, 0.1);
  color: #000;
  font-size: $font-medium;
  overflow: hidden;
  position: relative;
  width: 100%;
  @include for-size(tablet-portrait-up) {
    background: #fff url('/static/img/patterns/yegna/cloudy-bg.png') repeat center/100%;
    color: $color-violet;
  }
  &__item {
    display: block;
    &-link {
      color: #000;
      text-decoration: none;
      @include for-size(tablet-portrait-up) {
        color: $color-violet;
      }
      &--text {
        color: #000;
        text-decoration: none;
        @include for-size(tablet-portrait-up) {
          color: $color-violet;
        }
      }
    }
  }
  &__image {
    display: block;
    height: auto;
    width: 100%;
    overflow: auto;
    @include for-size(tablet-landscape-up) {
      display: inline-block;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
  &__caption {
    display: none;
    visibility: hidden;
  }
}
