.banner {
  &--text {
    @include for-size(tablet-landscape-up) {
      text-align: center;
      padding: 3em 8%;
    }
  }

  &__caption {
    padding: 0 1em;
  }
  &__title {

  }
  &__subtitle {
    
  }
}
