.banner {
  $block: unquote("#{&}");
  &--text {
    text-align: center;
    padding: 1em;
    @include for-size(tablet-landscape-up) {
      padding: 1em 20%;
    }
    #{$block}__caption {
      display: block;
      visibility: visible;
      padding: 0 1em;
    }
    #{$block}__title {
      font-size: $font-x-medium;
      @include for-size(tablet-landscape-up) {
        font-size: 1.40em;
      }
    }
    #{$block}__subtitle {
      display: none;
      visibility: hidden;
    }
    //CLASS OVER-RIDES
    .call-to-action__item--text {
      color: $color-violet;
    }
  }
}
