.call-to-action {
  &__item {
    &--icon {
      background: #000 url('/static/img/icons/yegna/icon-search.svg') no-repeat center center/auto;
      border: 1px solid #000;
      color: #fff;
      display: inline-block;
      margin: $spacer-small 0;
      padding: 11px;
      vertical-align: middle;
      @media screen and (min-width: 72.188em) {
        margin: 0 $spacer-small;
      }
    }
    &--back-to-top {
      color: #000;
      text-align: center;
      text-decoration: none;
      &:before {
        background: url('/static/img/icons/yegna/icon-arrow-up.svg') no-repeat center center/auto;
        content: "";
        display: block;
        height: 26px;
        margin: 0 auto;
        width: 21px;
      }
    }
  }
}
