.contact-page {
  &__columns {
    padding: 1.5em 1em 1.5em 2em;
    @media screen and (min-width: 45.000em) {
      display: flex;
    }
    @include for-size(tablet-portrait-up) {
      padding: 1.5em 1em 1.5em 4em;
    }
    @include for-size(tablet-landscape-up) {
      padding: 2.5em 5% 1em 8%;
    }
  }
  &__first-column {
    @include for-size(tablet-landscape-up) {
      margin: 0px 10% 0 0;
      width: 70%;
    }
  }
  &__second-column {
    @include for-size(tablet-landscape-up) {
      width: 30%;
    }
  }
  &__form {}
  .heading__subtitle {
    @include for-size(tablet-landscape-up) {
      padding: 0 35% 0 0;
    }

  }
}
