.contact {
  &__wrapper {
    @include pages();
  }
  &__columns {
    @media screen and (min-width: 45.000em) {
      display: flex;
    }
    @media screen and (min-width: 62.000em) {
      padding: 2.5em 1em;
    }
  }
  &__first-column {
    padding: 0 2em 0 0;
    @media screen and (min-width: 62.000em) {
      margin: 0 10% 0 0;
      width: 70%;
    }
  }
  &__second-column {
    @media screen and (min-width: 62.000em) {
      width: 30%;
    }
  }
  &__form {
    @media screen and (min-width: 45.000em) {
      margin: 2em 0 0;
    }
    p {
      margin: 0 0 1em;
    }
    input[type=checkbox]:checked + label:before {
      background: url("/static/img/icons/yegna/icon-check.png") no-repeat center center/70%;
      opacity: 1;
    }
    input[type="checkbox"] ~ label {
      background: #fff;
      padding: 10px 5px;
      margin: 0;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      &:before {
        content: "";
        background: #fff;
        border: 3px solid #000;
        opacity: .8;
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin: 0 10px 0 0;
      }
    }
  }

  &-inner {
    position: relative;
    &__title {
      font-size: 18;
      padding: 0 10px;
    }
    p {
      font-size: 1em;
      padding: 0 10px;
    }
    a {
      padding: 0 10px;
    }
    ul, ol {
      padding: 0 10px;
      list-style-position: inside;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &-headings {
    padding: 1em 0;
    &__medium {
      font-size: 22px;
    }
  }


  .heading__subtitle {
    @include for-size(tablet-landscape-up) {
      padding: 0 35% 0 0;
    }
  }
}
