.copyright {
  color: $color-gray-light;
  font-size: $font-x-small;
  text-align: center;
  font-weight: bold;
  padding: 1.5em 1em;
  clear: both;
  @include for-size(tablet-portrait-up) {
    color: #000;
    padding: $spacer-half 1em;
    text-align: left;
  }
  @include for-size(tablet-landscape-up) {
    padding: $spacer-half 8%;
  }
  &__content {
    display: inline-block;
    margin: 0;
  }
  &__link {
    color: #000;
    display: inline-block;
    &:active, &:hover, &:focus {
      color: $color-violet;
    }
    &--credit {
      color: $color-gray-light;
      text-align: center;
      @include for-size(tablet-portrait-up) {
        color: #000;
        float: right;
        text-align: right;
      }
    }
  }
}
