.copyright {
  color: #000;
  font-size: $font-x-small;
  text-align: left;
  font-weight: bold;
  padding: $spacer-half 1em;
  clear: both;
  @include for-size(tablet-landscape-up) {
    padding: $spacer-half 8%;
  }
  &__content {
    display: inline-block;
    margin: 0;
  }
  &__link {
    color: #000;
    display: inline-block;
    &:active, &:hover, &:focus {
      color: $color-violet;
    }
    &--credit {
      float: right;
      text-align: right;
    }
  }
}
