form {
  position: relative;
  overflow: auto;
  vertical-align: middle;
}
fieldset {
  clear: both;
  border: none;
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
}
label {
  font-size: $font-x-medium;
  vertical-align: middle;
  word-break: break-word;
  word-wrap: break-word;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="week"],
input[type="date"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
select {
  background-color: #ffffff;
  border: none;
  color: #000;
  padding: $spacer-half;
  margin: $spacer-small 0;
  width: 100%;
  &:focus, &:active, &:visited {
    outline: none;
  }
}
input[type="search"] {
  border:1px solid #000;
  color: #000;
  vertical-align: middle;
  @include for-size(tablet-portrait-up) {
    width: 90%;
  }
}
[type="checkbox"],
[type="radio"] {
  margin: 0;
  opacity: 0.9;
  visibility: hidden;
  position: absolute;
  & ~ label {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    &:before {
      background-color: #fff;
      content: " ";
      border: none;
      opacity: 0.9;
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      margin-right: $spacer-half;
    }
  }
}
[type="checkbox"] {
  &:checked + label:before {
    background: $color-gray-light url('/static/img/icons/rwanda/iconsSprite.png') 5px 12.5%/90px no-repeat;
    opacity: 1;
  }
}
[type="radio"] {
  & ~ label:before {
    border-radius: 50%;
  }
  &:checked + label:before {
    background: $color-gray-light url('/static/img/icons/rwanda/iconsSprite.png')3px 8% /90px no-repeat;
    opacity: 1;
  }
}
textarea {
  background-color: $color-gray-light;
  border: 2px $color-gray solid;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}
select {
  height: 45px;
  appearance: none;
  border-radius: 0;
  outline: none;
  text-transform: capitalize;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
select[value="value"] {
  font-size: $font-x-medium;
  text-transform: capitalize;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  color: #fff;
  border: none;
  cursor: pointer;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
  vertical-align: middle;
}

//TEMPLATE SPECIFIC
.input-hint {
  font-size: $font-small;
  font-style: italic;
  display: block;
}

.choice-group {
  padding: $spacer-small 0;
}

.input-group {
  .helptext {
    font-size: $font-small;
    margin: 0;
    font-style: italic;
    display: block;
  }
  span {
    display: block;
    font-size: $font-small;
  }
}

.error-list,
.errorlist {
  display: block;
  padding: 0;
  color: $color-red;
  list-style-type: none;
  &__item {
    color: $color-red;
    text-align: left;
    padding: 0 1em;
  }
}
.error {
  color: $color-red;
  text-align: left;
  padding: 0 1em;
}
