.landing-page {
  @include pages();
  @media screen and (min-width: 62.000em) {
    display: flex;
  }
  &__first-column {
    @media screen and (min-width: 45.000em) {
      margin: 0 1em 0 0;
    }
    @media screen and (min-width: 62.000em) {
      margin-right: 2em;
      width: 65%;
    }
    @media screen and (min-width: 65.313em) {
      margin-right: 10%;
    }
  }
  &__second-column {
    @media screen and (min-width: 62.000em) {
      width: 35%;
    }
  }
}
