.heading {
  font-size: $font-large;
  &:before {
    background: url("/static/img/lines/yegna/divider.png") no-repeat center center / 100%;
    content: "";
    display: block;
    padding: 1em;
    @include for-size(tablet-landscape-up)  {
      background-position: left center;
      background-size: auto;
    }
  }
  &--hero {}
  &__component {
    color: $color-violet ;
    display: inline-block;
    font-size: 1.40em;
    &:before {
      background: url("/static/img/icons/yegna/icon-heading.svg") no-repeat center center / 100%;
      content: "";
      display: inline-block;
      height: 20px;
      vertical-align: middle;
      width: 30px;
    }
  }
}
