.heading {
  font-size: $font-x-largest;
  &:before {
    background: url("/static/img/lines/yegna/divider.png") no-repeat center center / 100%;
    content: "";
    display: block;
    padding: 1em;
  }
  &--hero {}
  &__component {
    display: inline-block;
    &:before {
      background: url("/static/img/icons/yegna/icon-heading.svg") no-repeat center center / 100%;
      content: "";
      display: block;
      padding: 1em;
    }
  }
}
