.languages {
  $block: unquote("#{&}");
  background: #fff;
  color: #000;
  text-align: center;
  height: 2.5em;
  @include for-size(tablet-landscape-up) {
    background: transparent;
    padding: 0 8%;
    text-align: right;
  }
  &--wrapper {}
  &-list {
    margin: 0;
    padding: 0.9em 0;
    @include for-size(tablet-landscape-up) {
      padding: $spacer-half 0;
    }
    &__anchor {
      color: #000;
      display: inline-block;
      text-decoration: none;
      font-size: $font-small;
      @include for-size(tablet-landscape-up) {
        color: $color-dark-green;
      }
      &--active {
        color: $color-purple;
        @include for-size(tablet-landscape-up) {
          color: #000;
        }
      }
      &:active, &:hover, &:focus {
        color: $color-purple;
        transition: color 500ms ease-in-out;
        @include for-size(tablet-landscape-up) {
          color: #000;
        }
      }
      &:visited {
        @include for-size(tablet-landscape-up) {
          outline: none;
        }
      }
    }
    &__item {
      display: inline-block;
      &:after {
        display: inline-block;
        color: #000;
        content: " | ";
        padding: 0 $spacer-small;
      }
      &:last-child:after {
        display: none;
      }
    }
  }
}
