.languages {
  background: #fff;
  color: #000;
  text-align: center;
  @include for-size(tablet-landscape-up) {
    background: $color-green;
    text-align: right;
  }
  &--wrapper {
    @include for-size(tablet-landscape-up) {
      padding: 0 5%;
    }
  }
  &-list {
    margin: 0;
    padding: 0.9em;
    @include for-size(tablet-landscape-up) {
      padding: $spacer-half;
    }
    &__anchor {
      color: #000;
      display: block;
      text-decoration: none;
      font-size: 1.4em;
      @include for-size(tablet-landscape-up) {
        color: $color-dark-green;
        font-size: 1em;
      }
      &:after {
        display: inline-block;
        color: #000;
        content: " | ";
        padding: 0 $spacer-small;
      }
      &--active {
        color: $color-violet;
        @include for-size(tablet-landscape-up) {
          color: #000;
        }
      }
      &:active, &:hover, &:focus {
        color: $color-violet;
        @include for-size(tablet-landscape-up) {
          color: #000;
        }
      }
      &:visited {
        @include for-size(tablet-landscape-up) {
          outline: none;
        }
      }
    }
    &__item {
      display: inline-block;
      &:last-child {
        .languages-list__anchor:after {
          display: none;
        }
      }
    }
  }
}
