.logo {
  $block: unquote("#{&}");
  z-index: 999999;
  padding: 1em 0;
  text-align: center;
  @include for-size(tablet-landscape-up) {
    bottom: -2em;
    left: 5%;
    order: 1;
    padding: 0;
    position: absolute;
    text-align: left;
  }
  @include for-size(desktop) {
    left: 8%;
    width: 10%;
  }
  &__anchor {
    display: block;
  }
  &__image {
    width: auto;
    height: auto;
    @include for-size(tablet-portrait-up) {

    }
  }
}
