/*
  NOTE:
  FOOTER PAGES: NAV MENU DROPDOWN LIST
*/
//HEADER
.nav-menu-dropdown {
  background: #fff;
  color: #000;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 100%;
  display: none;
  padding: 1em;
  -webkit-box-shadow: -1px 3px 8px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 3px 8px 0px rgba(0,0,0,0.5);
  box-shadow: -1px 3px 8px 0px rgba(0,0,0,0.5);
  @include for-size(tablet-portrait-up) {
    padding: 1em 5%;
  }
  @include for-size(tablet-landscape-up) {
    padding: 2em 8% 2em 19.5%;
  }
  &-list {
    $block: unquote("#{&}");
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    @media screen and (min-width: 45.000em) {
      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: 62.000em) {
      justify-content: flex-start;
    }
    &__item {
      display: block;
      @media screen and (min-width: 45.000em) {
        display: inline-block;  
      }
      @media screen and (min-width: 62.000em) {
        margin: 0 10% 0 0;
      }
      &--footer {
        .menu-list__item {
          &:first-child {
            .menu-list__anchor {
              color: $color-purple;
              padding: 0 0 $spacer-half;
              margin: 0 0 0 -1em;
              @media screen and (min-width: 45.000em) {
                margin: 0;
              }
              @include for-size(tablet-landscape-up) {
                padding: 0 0 $spacer-small;
              }
            }
          }
        }
      }
    }
    &__anchor {
      color: #000;
      font-size: $font-x-medium;
      padding: $spacer-half 0;
      text-decoration: none;
      @include for-size(tablet-landscape-up) {
        padding: $spacer-small 0;
      }
      &:first-child {
        color: $color-purple;
      }
      &:active, &:hover, &:focus {
        color: $color-purple;
      }
      &:visited {
        @include for-size(tablet-landscape-up) {
          outline: none;
        }
      }
    }
  }
}

//FOOTER
.footer {
  .nav-menu-dropdown  {
    @media screen and (min-width: 45.000em) {
      order: 1;
    }
    &-list {
      display: block;
      @media screen and (min-width: 45.000em) {
        display: inline-block;
      }
      &__item {
        display: block;
      }
    }
  }
}
