.nav-search {
  $block: unquote("#{&}");
  display: inline;
  order: 2;
  @include for-size(tablet-portrait-up) {
    order: 3;
  }
  &__wrapper {
    background: #fff;
    color:#000;
    display: none;
    height: auto;
    margin: 0 auto;
    padding: $spacer-half 5%;
    width: 100%;
    @include for-size(tablet-landscape-up) {
      padding: $spacer-mid 5% $spacer-mid 19.5%;
      position: absolute;
      left: 0;
      right: 0;
      top: auto;
    }
  }
  &__label {
    cursor: pointer;
    display: inline-block;
    padding: $spacer-half $spacer-small;
    @include for-size(tablet-portrait-up) {
      padding: $spacer-half;
    }
    @include for-size(desktop-up) {
      padding: $spacer-half 1em;
    }
    &:before {
      background: url('/static/img/icons/yegna/icon-search.svg') no-repeat center center/100%;
      content: "";
      display: inline-block;
      height: 27px;
      margin: 0 $spacer-small 0 0;
      vertical-align: middle;
      width: 27px;
      @include for-size(tablet-portrait-up) {
        background-size: auto;
        height: 33px;
        width: 37px;
      }
    }
  }
  &__form {}
  &__checkbox {}
  .open {
    background: #fff;
  }
}
