.nav-menu {
  display: inline-block;
  @media screen and (min-width: 65.938em)  {
    width: 65%;
  }
  @include for-size(desktop-up) {
    width: 70%;
  }
  &-list {
    $block: unquote("#{&}");
    margin: 0;
    padding: 0;
    &__item {
      display: inline-block;
      padding: $spacer-small 1em;
      @include for-size(tablet-landscape-up) {
        padding: $spacer-small $spacer-half;
      }
      @media screen and (min-width: 65.313em) {}
      @include for-size(desktop-up) {
        padding: 0 1em;
      }
    }
    &__anchor {
      color: #000;
      cursor: pointer;
      display: block;
      text-transform: capitalize;
      text-decoration: none;
      padding: $spacer-half 0;
      opacity: 1;
      &:active, &:hover, &:focus {
        opacity: 0.7;
        transition: opacity .6s;
      }
      &:before {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
        content: "";
        display: inline-block;
        height: 33px;
        margin: 0 $spacer-small 0 0;
        vertical-align: middle;
        width: 37px;
      }
    }
  }
  #menu:before {
    background-image: url('/static/img/icons/yegna/icon-burger.svg');
  }
  #watch:before {
    background-image: url('/static/img/icons/yegna/icon-watch.svg');
  }
  #cast:before {
    background-image: url('/static/img/icons/yegna/icon-cast.svg');
  }
  #listen:before {
    background-image: url('/static/img/icons/yegna/icon-listen.svg');
  }

  &-columns {
    background: #fff;
    color: #000;
    left: 0;
    margin: 0 auto;
    padding: 1em 8%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    display: none;
    &__one {}
    &__two {}
    &__three {}
    &__four {}
    &__five {}
  }
}
