/*
  NOTE:
  FOOTER PAGES: MENU LIST
*/
//HEADER
.nav-menu-dropdown {
  &-list {
    $block: unquote("#{&}");
    padding: 0;
    &__item {
      display: block;
    }
    &__anchor {
      color: #000;
      font-size: $font-x-medium;
      padding: $spacer-half $spacer-half $spacer-half 0;
      text-decoration: none;
      &:active, &:hover, &:focus {
        color: $color-violet;
      }
      &:visited {
        @include for-size(tablet-landscape-up) {
          outline: none;
        }
      }
    }
  }
}

//FOOTER
.footer {
  .nav-menu-dropdown {
    @media screen and (min-width: 45.000em) {
      order: 1;
    }
    &-list {
      &__item {
        display: inline-block;
      }
    }
  }
}
