.nav-menu {
  display: inline;
  order: 1;
  @media screen and (min-width: 73.938em)  {
    width: 65%;
  }
  &-list {
    $block: unquote("#{&}");
    margin: 0;
    padding: 0;
    display: inline;
    &__item {
      display: inline-block;
    }
    &__anchor {
      color: #000;
      cursor: pointer;
      display: block;
      padding: $spacer-half $spacer-small;
      text-align: center;
      text-decoration: none;
      text-transform: capitalize;
      position: relative;
      @include for-size(tablet-portrait-up) {
        text-align: inherit;
        padding: $spacer-half;
      }
      @include for-size(desktop-up) {
        padding: $spacer-half 1em;
      }
      &:before {
        background-position: center center;
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 27px;
        margin: 0 auto;
        vertical-align: middle;
        width: 27px;
        @include for-size(tablet-portrait-up) {
          display: inline-block;
          margin: 0 $spacer-small 0 0;
          height: 33px;
          width: 37px;
        }
      }
      &:after {
        content: "";
        display: block;
        border-bottom-left-radius: 5px;
        border-radius: 10%;
        background: transparent;
        width: 90%;
        height: 3px;
        position: absolute;
        right: 5px;
          @include for-size(tablet-landscape-up) {
            width: 50%;
          }
      }
      &:active, &:hover, &:focus {
        opacity: 1;
        &:before {
          opacity: 1;
          text-decoration: none;
        }
        &:after {
          background: #000;
        }
      }
    }
    .active {
      opacity: 1;
      &:before {
        opacity: 1;
        text-decoration: none;
      }
      &:after {
        background: #000;
      }
    }
    .open {
      background: #fff;
      &:active, &:hover, &:focus {
        color: #000;
        &:before {
          opacity: 1;
        }
      }
    }
  }
  #menu:before {
    background-image: url('/static/img/icons/yegna/icon-burger.svg');
    background-size: 100%;
    @include for-size(tablet-portrait-up) {
      background-size: auto;
    }
  }
  #watch:before {
    background-image: url('/static/img/icons/yegna/icon-watch.svg');
    background-size: 70%;
    @include for-size(tablet-portrait-up) {
      background-size: auto;
    }
  }
  #cast:before {
    background-image: url('/static/img/icons/yegna/icon-cast.svg');
    background-size: 100%;
    @include for-size(tablet-portrait-up) {
      background-size: auto;
    }
  }
  #listen:before {
    background-image: url('/static/img/icons/yegna/icon-listen-black.svg');
    background-size: 100%;
    @include for-size(tablet-portrait-up) {
      background-size: auto;
    }
  }
}
