.nav-menu {
  display: inline;
  @media screen and (min-width: 73.938em)  {
    width: 65%;
  }
  &-list {
    $block: unquote("#{&}");
    margin: 0;
    padding: 0;
    display: inline; //*
    &__item {
      display: inline-block;
    }
    &__anchor {
      color: #000;
      cursor: pointer;
      display: block;
      text-transform: capitalize;
      text-decoration: none;
      padding: 11px $spacer-small;
      @include for-size(tablet-portrait-up) {
        padding: 11px 1em;
      }
      &:before {
        background-position: center center;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        height: 27px;
        margin: 0 $spacer-small 0 0;
        vertical-align: middle;
        width: 27px;
        @include for-size(tablet-portrait-up) {
          height: 33px;
          width: 37px;
        }
      }
    }
    .open {
      background: #fff;
    }
  }
  #menu:before {
    background-image: url('/static/img/icons/yegna/icon-burger.svg');
    background-size: 100%;
    @include for-size(tablet-portrait-up) {
      background-size: auto;
    }
  }
  #watch:before {
    background-image: url('/static/img/icons/yegna/icon-watch.svg');
    background-size: 90%;
    @include for-size(tablet-portrait-up) {
      background-size: auto;
    }
  }
  #cast:before {
    background-image: url('/static/img/icons/yegna/icon-cast.svg');
    background-size: 90%;
    @include for-size(tablet-portrait-up) {
      background-size: auto;
    }
  }
  #listen:before {
    background-image: url('/static/img/icons/yegna/icon-listen.svg');
    background-size: 90%;
    @include for-size(tablet-portrait-up) {
      background-size: auto;
    }
  }
}
