.nav {
  $block: unquote("#{&}");
  overflow: auto;
  text-align: center;
  order: 2;
  @include for-size(tablet-landscape-up) {
    display: flex;
    justify-content: space-between;
    text-align: inherit;
    width: 85%;
  }
}
