/*
  NOTE:
  FOOTER PAGES: MENU LIST
*/
//HEADER
.menu {
  &-list {
    $block: unquote("#{&}");
    padding: 0;
    &__item {
      display: block;
    }
    &__anchor {
      color: #000;
      font-size: $font-x-medium;
      padding: $spacer-small 0;
      text-decoration: none;
      display: block;
      &:active, &:hover, &:focus {
        color: $color-violet;
      }
      &:visited {
        @include for-size(tablet-landscape-up) {
          outline: none;
        }
      }
    }
  }
}

//FOOTER
.footer {
  .menu-list__item {
    display: block;
    padding: $spacer-small;
    @media screen and (min-width: 45.000em) {
      padding: $spacer-small $spacer-half $spacer-small 0;
      display: inline-block;
    }
    &:active, &:hover, &:focus {
      color: #000;
      text-decoration: underline;
    }
  }
}
