/*
  NOTE:
  FOOTER PAGES: MENU LIST
*/
//HEADER
.menu-list {
  $block: unquote("#{&}");
  padding: 0;
  margin: 0;
  text-align: left;
  @include for-size(tablet-landscape-up) {
    text-align: left;
  }
  span.menu-list__anchor {
    display: none;
    visibility: none;
  }
  &__anchor {
    color: #000;
    font-size: $font-x-medium;
    padding: $spacer-small 0;
    text-decoration: none;
    display: block;
    @include for-size(tablet-landscape-up) {
      padding: $spacer-small 0;
    }
    &:active, &:hover, &:focus {
      color: $color-violet;
    }
    &:visited {
      @include for-size(tablet-landscape-up) {
        outline: none;
      }
    }
  }
  .active {
    color: #000;
    text-decoration: underline;
  }
  //LISTED HERE TO CASCADE
  &__item {
    display: block;
  }
}
