.nav-search {
  $block: unquote("#{&}");
  &__wrapper {}
  &__title {
    display: inline-block;
    font-size: $font-x-medium;
    font-style: italic;
    font-weight: 400;
  }

  &__label {}
  &__form {
    display: inline-block;
  }
  &__checkbox {}
}
