.nav-social {
  display: none;
  visibility: hidden;
  @include for-size(tablet-portrait-up) {
    display: block;
    visibility: visible;
    padding: 1em 0;
  }
  @include for-size(tablet-landscape-up) {
    padding: 0;
  }
  &-list {
    $block: unquote("#{&}");
    margin: 0;
    padding: $spacer-half 0;
    &__item {
      display: inline-block;
      border-right: 1px solid #000;
      padding: 0 $spacer-half;
      &:last-child {
        border-right: none;
      }
    }
    &__anchor {
      color: #000;
      display: inline-block;
      text-decoration: none;
      opacity: 1;
      &:active, &:hover, &:focus {
        opacity: 0.7;
        transition: opacity .6s;
      }
    }
    &__icon {
      vertical-align: middle;
    }
    &__label {
      display: none;
      visibility: hidden;
      margin: 0;
    }
  }
}
