/*
  NOTE:
  FOOTER PAGES: MENU LIST
*/
//HEADER
.menu-list {
  $block: unquote("#{&}");
  padding: 0;
  margin: 0 1em;
  text-align: left;
  @media screen and (min-width: 45.000em) {
    margin: 0;
  }
  @include for-size(tablet-landscape-up) {
    text-align: left;
  }
  span.menu-list__anchor {
    display: none;
    visibility: initial;
  }
  &__anchor {
    color: #000;
    font-size: $font-x-medium;
    padding: $spacer-small 0;
    text-decoration: none;
    display: block;
    @include for-size(tablet-landscape-up) {
      padding: $spacer-small 0;
    }
    span {
      position: relative;
      &:after {
        content: "";
        display: block;
        border-radius: 10%;
        background: transparent !important;
        width: 100%;
        height: 3px;
        position: absolute;
        margin: -5px auto;
        right: 0;
        left: 0;
      }
    }
    &:active, &:hover, &:focus {
      color: $color-purple;
      transition: color 500ms ease-in-out;
      span:after {
        background: $color-purple !important;
      }
    }
    &:visited {
      @include for-size(tablet-landscape-up) {
        outline: none;
      }
    }
  }
  .active {
    color: #000;
    span:after {
      background: transparent !important;
    }
  }
  //LISTED HERE TO CASCADE
  &__item {
    display: block;
  }
}
