.pagination {
  margin: 1em auto;
  text-align: center;
  width: 100%;
  @include for-size(tablet-landscape-up) {
    margin: 0 0 2em;
    padding: 1em 5%;
  }
  .call-to-action {
    &__item {
      &--text {
        margin: 0;
        padding: 0 0.9em;
        display: inline-block;
        @include for-size(tablet-portrait-up) {
          padding: 0 2em;
        }
      }
    }
  }
  [type="button"],
  [type="reset"],
  [type="submit"],
  button {
    padding: 0.7em 3.5em;
  }

}
