.section-page {
  $block: unquote("#{&}");
  &__wrapper {
    padding: 1.5em 1em 1.5em 2em;
    @include for-size(tablet-portrait-up) {
      padding: 1.5em 1em 1.5em 4em;
    }
    @include for-size(tablet-landscape-up) {
      padding: 2.5em 5% 1em 10%;
    }
  }
  &__columns {
    padding: 1em;
    width: 100%;
    @media screen and (min-width: 40.000em) {
      padding: 1em 1.5em;
    }
    @media screen and (min-width: 45.000em) {
      padding: 1.5em 1em 0;
      display: flex;
      justify-content: space-between;
    }
    @include for-size(tablet-landscape-up) {
      padding: 2.5em 8% 0;
    }
    &--watch {
      #{$block}__first-column {
        .article-teaser--related {
          margin: 2em 0 1em;
          .teaser-stacklist__item {
            @include for-size(tablet-landscape-up) {
              display: flex;
              align-items: center;
              margin: 0 0 2em;
            }
          }
          .teaser-stacklist__container {
            margin: 1em 0;
          }
          .teaser-stacklist__images {
            width: 70%;
            @include for-size(tablet-portrait-up) {
              max-width: 70%;
              height: 259px;
              margin: 0 2em 0 0;
            }
          }
          .teaser-stacklist__thumbnail {
            @include for-size(tablet-portrait-up) {
              width: 459px;
            }
          }
        }
      }
    }
  }
  &__first-column {
    width: 100%;
    @media screen and (min-width: 45.000em) {
      margin: 0 1em 0 0;
    }
    @include for-size(tablet-landscape-up) {
      margin: 0px 10% 0 0;
      width: 85%;
    }
    .teaser-stacklist--watch {
      .teaser-stacklist__images {
        width: 100%;
        @include for-size(tablet-landscape-up) {
          min-height: 290px;
          max-height: 422px;
          height: 422px;
        }
      }
      .teaser-stacklist__thumbnail {
        @include for-size(tablet-landscape-up) {
          height: 422px;
        }
      }
      //FIRST COLUMN OVERRIDE
      .call-to-action--media-download {
        @include for-size(tablet-landscape-up) {
          position: absolute;
          top: -1em;
          right: 0;
        }
      }
    }
  }
  &__second-column {
    @media screen and (min-width: 45.000em) {}
    @include for-size(tablet-landscape-up) {
      width: 30%;
    }
    .teaser-stacklist--watch {
      .teaser-stacklist__images  {
        @include for-size(tablet-landscape-up)  {
          height: 163.13px;
          max-width: 290px;
          width: 290px;
        }
      }
      .teaser-stacklist__container {
        margin: 0;
      }
    }
    &--listen {
      .teaser-stacklist--listen {
        .teaser-stacklist__item {
          background-color: $color-light-gray;
          &--inner {
            background-color: #fff;
            clear: both;
            display: block;
            margin: 1.5em;
            padding: 1em;
            .teaser-stacklist__anchor {
              @include for-size(tablet-landscape-up) {
                display: inline-block;
              }
            }
            .teaser-stacklist__images {
              margin: 0 1em 0 0;
              @include for-size(tablet-landscape-up) {
                max-width: 90px;
                width: 90px;
                height: 90px;
                float: left;
              }
            }
            .teaser-stacklist__thumbnail {
              @include for-size(tablet-landscape-up) {
                margin: 0.5em 1em 0 0;
                width: 90px;
              }
            }
            .teaser-stacklist__container {
              @include for-size(tablet-landscape-up) {
                margin: 5px 0 0;
                padding: 0.5em 0 0;
                position: relative;
              }
            }
          }
        }
      }
    }
  }
  &__label {
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  &--characters {
    .teaser-grid {
      @include for-size(tablet-landscape-up) {
        display: flex;
        flex-wrap: wrap;
      }
      &__item {
        background-color: transparent;
        padding: 0;
        margin: 0 1.5em 1em;
        max-width: 360px;
        @include for-size(tablet-portrait-up) {
          width: 360px;
        }
      }
      &__images {
        @include for-size(tablet-portrait-up) {
          max-width: 360px;
          height: 240px;
          width: 360px;
        }
      }
    }
  }
  &--general {
    .teaser-stacklist__item {
      @include for-size(tablet-landscape-up) {
        margin: 0 0 3em;
      }
      &--inner {
        width: 100%;
        overflow: auto;
        @include for-size(tablet-landscape-up) {
          display: flex;
        }
      }
    }
    .teaser-stacklist__images {
      @include for-size(tablet-landscape-up) {
        height: 305px;
        width: 61%;
      }
    }
    .teaser-stacklist__thumbnail {
      width: 460px;
      max-width: 100%;
    }
    .teaser-stacklist__container {
      @include for-size(tablet-landscape-up) {
        width: 85%;
      }
      .call-to-action__item--paginate {
        text-align: left;
        padding: 1em 0;
      }
    }
  }
  @each $name, $color in $color_loop {
    &--#{$name} {
      #{$block}__first-column,
      #{$block}__second-column {
        .teaser-stacklist--watch .teaser-stacklist__container,
        .teaser-stacklist--listen .teaser-stacklist__elem-audio {
          background-color: $color;
        }
        .teaser-accordion-list--watch .teaser-accordion-list__anchor,
        .teaser-accordion-list--listen .teaser-accordion-list__anchor {
          &:active, &:hover, &:focus {
            background-color: $color;
          }
        }
      }
    }
  }
}
