.section-page--characters {
  .teaser-grid {
    @include for-size(tablet-landscape-up) {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      background-color: transparent;
      padding: 0;
      margin: 0 1.5em 1em;
      max-width: 360px;
      @include for-size(tablet-portrait-up) {
        //width: 360px;
      }
    }
    &__images {
      @include for-size(tablet-portrait-up) {
        max-width: 360px;
        max-height: 240px;
        //width: 360px;
      }
    }
  }
}
