.section-page--general {
  @media screen and (min-width: 65.313em) {
    padding: 1em 5%;
  }
  @media screen and (min-width: 80.000em) {
    padding: 1em 5% 1em 8%;
  }
  .teaser-stacklist__item {
    @include for-size(tablet-landscape-up) {
      margin: 0 0 3em;
    }
    &--inner {
      width: 100%;
      overflow: auto;
      @include for-size(tablet-landscape-up) {
        display: flex;
      }
    }
  }
  .teaser-stacklist {
    &__images {
      width: 70%;
      @media screen and (min-width: 40.000em) {
        //Fixed sizes
        max-height: 305px;
        max-width: 460px;
      }
      @include for-size(tablet-landscape-up) {
        margin: 0 5em 0 0;
      }
    }
    &__container {
      @include for-size(tablet-landscape-up) {
        width: 85%;
      }
      .call-to-action__item--paginate {
        text-align: left;
        padding: 1em 0;
      }
    }
    &__thumbnail {
      max-width: 100%;
    }
  }
}
