.section-page {
  $block: unquote("#{&}");
  &__columns {
    @include pages();
    width: 100%;
    @media screen and (min-width: 62.000em) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__first-column {
    @media screen and (min-width: 45.000em) {
      margin: 0 1em 0 0;
    }
    @media screen and (min-width: 62.000em) {
      margin-right: 2em;
      width: 85%;
    }
    @media screen and (min-width: 65.313em) {
      margin-right: 3em;
    }
    &--watch {
      .teaser-stacklist--watch {
        .teaser-stacklist__images {
          @include for-size(tablet-landscape-up) {
            min-height: 290px;
            max-height: 422px;
            //height: 422px;
          }
        }
        //FIRST COLUMN OVERRIDE
        .call-to-action--video-media {
          @include for-size(tablet-landscape-up) {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
      .article-teaser--related {
        margin: 2em 0 1em;
        .teaser-stacklist__item {
          @include for-size(tablet-landscape-up) {
            display: flex;
            align-items: center;
            margin: 0 0 2em;
          }
        }
        .teaser-stacklist__container {
          margin: 1em 0;
        }
        .teaser-stacklist__images {
          width: 70%;
          @media screen and (min-width: 40.000em) {
            //Fixed sizes
            max-height: 260px;
            max-width: 460px;
          }
          @include for-size(tablet-portrait-up) {
            margin: 0 2em 0 0;
          }
        }
      }
    }

  }
  &__second-column {
    @media screen and (min-width: 62.000em) {
      width: 35%;
    }
    &--watch {
      .teaser-grid--watch {
        .teaser-grid__item {
          @include for-size(tablet-landscape-up) {
            max-width: 338.797px;
          }
        }
        .teaser-grid__images  {
          min-width: 290px;
          @include for-size(tablet-landscape-up)  {
            max-height: 163.13px;
          }
        }
        .teaser-grid__container {
          padding: 1em;
        }
        .teaser-grid__subtitle {
          /*white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          overflow-wrap: break-word;
          word-break: break-word;*/
          //height: 3.6em; /* exactly three lines */
          text-overflow: -o-ellipsis-lastline;

          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
    &--listen {
      .teaser-stacklist--listen {
        .teaser-stacklist__item {
          background-color: $color-light-gray;
          &--inner {
            background-color: #fff;
            clear: both;
            display: block;
            margin: 1.5em;
            padding: 1em;
            .teaser-stacklist__anchor {
              @include for-size(tablet-landscape-up) {
                display: inline-block;
              }
            }
            .teaser-stacklist__images {
              margin: 0 1em 0 0;
              @include for-size(tablet-landscape-up) {
                //Fixed sizes
                float: left;
                max-width: 90px;
                //height: 90px;
                max-width: 90px;
              }
            }
            .teaser-stacklist__thumbnail {
              @include for-size(tablet-landscape-up) {
                margin: 0.5em 1em 0 0;
              }
            }
            .teaser-stacklist__container {
              @include for-size(tablet-landscape-up) {
                margin: 5px 0 0;
                padding: 0.5em 0 0;
                position: relative;
              }
            }
          }
        }
      }
    }
  }
  &__label {
    font-style: italic;
    font-size: $font-xx-small;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  @each $name, $color in $color_loop {
    &--#{$name} {
      #{$block}__first-column,
      #{$block}__second-column {
        .teaser-stacklist--watch .teaser-stacklist__container,
        .teaser-grid--watch .teaser-grid__container,
        .teaser-stacklist--listen .teaser-stacklist__elem-audio {
          background-color: $color;
        }
        .teaser-accordion-list--watch .teaser-accordion-list__anchor,
        .teaser-accordion-list--listen .teaser-accordion-list__anchor {
          &:active, &:hover, &:focus {
            background-color: $color;
          }
        }
      }
    }
  }
}
