.section-page--characters {
  @media screen and (min-width: 65.313em) {
    padding: 1em 5% 1em;
  }
  @media screen and (min-width: 80.000em) {
    padding: 1em 5% 1em 8%;
  }
  .teaser-grid {
    @include for-size(tablet-landscape-up) {
      display: flex;
    }
    @media screen and (min-width: 65.313em) {
      flex-wrap: wrap;
    }
    &__item {
      background-color: transparent;
      padding: 0;
      margin: 0 0.5em 1em;
      @media screen and (min-width: 45.000em) {
        width: 30%;
      }
      @media screen and (min-width: 64.000em) {
        margin: 0 1.5em 1em;
        max-width: 360px;
      }
    }
    &__images {
      @media screen and (min-width: 64.000em) {
        max-width: 360px;
        max-height: 240px;
      }
    }
  }
  .call-to-action__item--paginate {
    text-align: left;
    padding: 0 2em 0 0;
  }
}
