.section-page {
  &__wrapper {
    @include pages();
  }
  &__columns {
    padding: 1em;
    @media screen and (min-width: 40.000em) {
      padding: 1em 1.5em;
    }
    @media screen and (min-width: 45.000em) {
      padding: 1.5em 1em 0;
      display: flex;
    }
    @include for-size(tablet-landscape-up) {
      padding: 2.5em 8% 0;
    }
  }
  &__first-column {
    @media screen and (min-width: 45.000em) {
      margin: 0 1em 0 0;
    }
    @include for-size(tablet-landscape-up) {
      margin: 0px 10% 0 0;
      width: 70%;
    }
  }
  &__second-column {
    @media screen and (min-width: 45.000em) {}
    @include for-size(tablet-landscape-up) {
      width: 30%;
    }
  }
  &__label {
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
}
