@font-face {
  font-family: "FedraSansDevanagariB-Demi";
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Demi.eot");
  src: local("FedraSansDevanagariB-Demi");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Demi.svg#bingo") format("svg");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Demi.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Medium";
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Medium.eot");
  src: local("FedraSansDevanagariB-Medium");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Medium.svg#bingo") format("svg");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Medium.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Bold";
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Bold.eot");
  src: local("FedraSansDevanagariB-Bold");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Bold.svg#bingo") format("svg");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Bold.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Light";
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Light.eot");
  src: local("FedraSansDevanagariB-Light");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Light.svg#bingo") format("svg");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Light.otf") format("opentype");
}
