.call-to-action__item--with-icon,
.call-to-action__nav-item--with-icon {
  @media screen and (min-width: 360px) {
    right: inherit;
    left: 5px;
  }
}
.call-to-action__item--search-icon,
.call-to-action__nav-item--search-icon {
  right: inherit !important;
  left: 15px;
}
