.profiles fieldset {
  text-align: right;
}

.choice label {
  text-align: left;
  padding: 0;
  @media screen and (min-width: 500px) {
    padding: 16px 54px 16px 10px;
  }
}
.choice input[type=checkbox]+label,
.choice input[type=radio]+label,
.choice input[type=checkbox]:checked+label,
.choice input[type=radio]:checked+label {
  @media screen and (min-width: 500px) {
    background-position-x: 95%;
  }
}
