
#gem-footer {
    background: $colorGrey;
}
#gem-footer #search-form {
  input:hover, input:focus {
    outline: none;
  }

  .search__submit {
    background-image: url('/static/img/search_grey.png');
    background-color: $colorWhite;
    background-size: 60%;
    padding: 10px 0;
  }
}
