#gem-footer {
  background: #ECECEC;
  padding: 12px 8px;
}
#feature-menu {
    padding: 15px 0 0;
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &__item {
    margin: 0 8px;
    line-height: 2.0;
  }
  &__label {
    font-size: 20px;
    @media screen and (min-width: 320px) {
      font-size: 22px;
    }
  }
  &__anchor {
    font-size: 20px;
    color: #5C5C5C;
    @media screen and (min-width: 320px) {
      font-size: 22px;
    }
  }
  &__sub-menu {
    margin-left: 18px;
  }
  &__sub-anchor {
    color: #ed008c;
    font-size: 20px;
    @media screen and (min-width: 320px) {
      font-size: 22px;
    }
  }
}
