#gem-header {
  background: $colorYellow;

  #logo {
    margin: 0.2em;
    text-align: center;
  }

  a, a:visited {
    font-family: $font-family-default;
    font-weight: bold;
    font-size: 0.8em;
    color: $colorPurple;
    display: inline-block;
    padding-right: 3px;

    @media screen and (min-width: 320px) {
      font-family: $font-family-zathu;
      font-weight: normal;
      font-size: 1em;
    }
    @media screen and (min-width: 400px) {
      padding-right: 10px;
      font-size: 1.3em;
    }
    @media screen and (min-width: 600px) {
      padding-right: 3px;
      font-size: 1em;
    }
  }

  .search-icon {
    width: 1em;
  }
}

.languages__item--active {
  color: $colorPurple;
}

.language-container {
  text-align: center;
  background-color: $colorGrey;
  a.active {
    color: $colorPurple;
  }
}
