{% extends "base.html" %}
{% block content %}
<div class="profiles">
  <div class="profiles__wrapper">
    <div class="heading heading--hero">
      <h1 class="heading__component">{% trans "PIN Changed" %}</h1>
    </div>
    <h3 class="heading__subtitle">
      {% trans "Your PIN has been changed sucessfully." %}
    </h3>
    <a href="{% url 'molo.profiles:auth_login' %}" class="call-to-action__button call-to-action__button--primary">
      {% trans "Continue to Sign In" %}
    </a>
  </div>
</div>
{% endblock %}
