{% extends "base.html" %}
{% block content %}
<div class="profiles">
  <div class="profiles__wrapper">
    <div class="heading heading--hero">
      <h1 class="heading__component">{% trans "Reset PIN" %}</h1>
    </div>
    <div class="profiles__inner">
      <form method="post" class="profiles__form">
      {% csrf_token %}
          {% if form.errors %}
            <ul class="error-list">
              {% for key, errors in form.errors.items %}
                  {% for error in errors %}
                    <li class="error-list__item">{% trans error %}</li>
                  {% endfor %}
              {% endfor %}
            </ul>
          {% endif %}
        {{ form.username }}
        {{ form.token }}
        <fieldset>
          <label>{% trans "PIN" %}</label>
          {{ form.password }}
          <span class="input-hint">{% trans "(e.g. 2086)" %}</span>
        </fieldset>
        <fieldset>
          <label>{% trans "Confirm PIN" %}</label>
          {{ form.confirm_password }}
        </fieldset>
          <button type="submit" class="call-to-action__button call-to-action__button--primary">{% trans "Reset PIN" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
