{% extends "base.html" %}
{% block content %}
<div class="profiles">
  <div class="profiles__wrapper">
    <div class="heading heading--hero">
      <h1 class="heading__component">{% trans "Reset PIN" %}</h1>
    </div>
    <div class="profiles__inner">
      <form method="post" class="profiles__form" novalidate>
      {% csrf_token %}
        {% if form.errors or form.non_field_errors %}
          {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <p class="error-list__item">{{ error }}</p>
              {% endfor %}
          {% endif %}
        {% endif %}
        {{ form.username }}
        {{ form.token }}
        <fieldset>
          <label>{% trans "PIN" %}</label>
          {{ form.password }}
          {{ form.password.errors}}
          <span class="input-hint">{% trans "(e.g. 2086)" %}</span>
        </fieldset>
        <fieldset>
          <label>{% trans "Confirm PIN" %}</label>
          {{ form.confirm_password }}
          {{ form.confirm_password.errors}}
        </fieldset>
        <div class="call-to-action--group">
          <button type="submit" class="call-to-action__button call-to-action__button--primary">{% trans "Reset PIN" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
