// FONTS

$font-basic: Arial, Helvetica, sans-serif;
$font: Lineto, Arial, Helvetica, sans-serif;
$font-medium: LinetoMedium, Arial, Helvetica, sans-serif;
$font-bold: LinetoBold, Arial, Helvetica, sans-serif;

// COLOURS

$primary: #4D7779;
$secondary: #5268c2;
$background: #dad9d6;
$border: #dad9d6;
$warning: #ff674d;
$success: #dbe200;
$white: #ffffff;

// SPACING

$spacer-max: 40px;
$spacer-multiple: 20px;
$spacer-mid: 15px;
$spacer: 10px;
$spacer-half: 5px;