.burger-nav {
  $block: unquote("#{&}");
  &__icon {
    @include for-size(tablet-portrait-up) {
      width: 35px;
    }
    @include for-size(tablet-landscape-up) {
      width: 42px;
    }
  }
  .is__open {
    background: #fff;
    color: #000;
  }
}
