.burger-nav {
  $block: unquote("#{&}");
  @include for-size(tablet-landscape-up) {
    width: 65%;
  }
  &__label {
    @include for-size(tablet-portrait-up) {
      padding: 1.2em 1em;
    }
    &:before {
      @include for-size(tablet-portrait-up) {
        margin: 0 1em 0 0;

      }
      @include for-size(tablet-portrait-up) {
        background-size: 100px;
      }
    }
  }
  &__icon {
    @include for-size(tablet-portrait-up) {
      width: 35px;
    }
    @include for-size(tablet-landscape-up) {
      width: 42px;
    }
  }
  .is__open {
    background: #fff;
    color: #000;
  }
}
