.heading {
  &--hero {
    @include for-size(phone-only) {
      background-image: url('/static/img/icons/rwanda/ShapesSprites.png');
      background-repeat: no-repeat;
      background-position: -20px 80%;
      background-size: 100px;
    }
  }
  &--secondary {
    @include for-size(phone-only) {
      background: url('/static/img/icons/rwanda/ShapesSprites.png') no-repeat 0 3.3%/100px;
    }
  }
}
