.heading {
  &--hero {
    @include for-size(phone-only) {
      background-image: url('/static/img/icons/rwanda/hero-heading.svg'), url('/static/img/icons/rwanda/hero-heading.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
    }
  }
  &--secondary {
    @include for-size(phone-only) {
      background: url('/static/img/icons/rwanda/shape5-black.png') no-repeat 0 0/contain;
    }
  }
}
