.languageSearch-wrapper {
  @include for-size(phone-only) {
    display: inline-block;
    padding: 0;
  }
  @include for-size(tablet-portrait-up) {
    text-align: right;
  }
  @include for-size(tablet-landscape-up) {
    align-self: flex-start;
    flex: 1 auto;
    order: 3;
  }
 @include for-size(desktop-up) {
    z-index: -9999999999;
  }
}
.languages {
  $block: unquote("#{&}");
  @include for-size(tablet-portrait-up) {
    padding: 0 1em 0 0;
  }
  @include for-size(tablet-landscape-up) {
    position: relative;
    padding: 0 5%;
  }
  &-wrapper {
    @include fly-byEnhanced();
    @include for-size(tablet-portrait-up) {
      padding: 2em;
    }
    @include for-size(tablet-landscape-up) {
      padding: 3em 7%;
    }
  }
  &-accordion {
    &__label {
      &:before {
        content: " ";
        @include for-size(tablet-portrait-up) {
          margin: 0 1em 0 0;
          height: 25px;
          width: 25px;
        }
        @include for-size(tablet-landscape-up) {
          height: 30px;
          width: 30px;
        }
      }
    }
    &__checkbox {
      & + * {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0.2s, opacity 0.5s ease-out;
        -moz-transition: visibility 0.2s, opacity 0.5s ease-out;
        -ms-transition: visibility 0.2s, opacity 0.5s ease-out;
        -o-transition: visibility 0.2s, opacity 0.5s ease-out;
        transition: visibility 0.2s, opacity 0.5s ease-out;
      }
      &:checked + * {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-list {
    &__item {
      @include for-size(desktop-up) {
        padding: 0.35em 0;
      }
    }
    &__label {
      color: #000;
      &:before {
        content: " ";
        @include for-size(tablet-portrait-up) {
          height: 25px;
          width: 25px;
        }
        @include for-size(tablet-landscape-up) {
          height: 40px;
          width: 40px;
        }
      }
    }
    &__title {
      @include for-size(tablet-portrait-up) {
        padding: 0 0 0 0.313em;
      }
    }
    &__anchor {
      @include for-size(tablet-portrait-up) {
        font-size: $font-small;
      }
    }
  }
}
