@include for-size(tablet-landscape-up) {
  .media-player {
    $block: unquote("#{&}");
    padding: 1em 7%;
    &__wrapper {
      &:nth-child(even) {
        display: flex;
        align-items: center;
        justify-content: center;
        #{$block}__embed {
          order: 1;
          margin: 0 1em 0 0;
        }
        #{$block}__excerpt {
          order: 2;
        }

      }
      &:nth-child(odd) {
        display: flex;
        #{$block}__embed {
          order: 2;
          margin: 0 0 0 1em;
        }
        #{$block}__excerpt {
          order: 1;
        }
      }
    }
    &__embed {
      display: inline-block;
      width: 60%;
    }
    &__excerpt {
      display: inline-block;
      width: 35%;
    }
  }
}
