.search {
  $block: unquote("#{&}");
  &-wrapper {
    @include fly-byEnhanced();
    @include for-size(tablet-potrait-up) {
      padding: 1em;
    }
    @include for-size(tablet-landscape-up) {
      padding: 3em 7%;
    }
  }
  &-accordion {
    &__label {
      @include for-size(tablet-landscape-up) {
        padding: 1.2em 1em;
      }
      span {
        @include for-size(tablet-landscape-up) {
          display: none;
          visibility: hidden;
        }
      }
      &:before {
        content: " ";
        @include for-size(tablet-landscape-up) {
          margin: 0 1em 0 0;
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
