#footer-bar {
  padding-top: 8px;
  text-align: center;
 .footer-logo {
    background-image: url('/static/img/logos/sp-footer-logo_sml.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 45px;
    display: inline-block;
  }
}
