#gem-footer {
  @include divider-combo-1;
  background-color: $mint-green;
  padding: 12px 8px;
  a {text-decoration: none;}
  .left {
    float: left;
    width: 50%;
  }
  .right {
    float: right;
    width: 50%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .group:after {
    content:"";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 280px) {
    .left, .right {
        float: none;
        width: auto;
    }
  }
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &__item {
    margin: 0 8px;
    padding: 6px 0;
  }
  &__anchor {
    @include font($baton-regular);
    font-size: 20px;
    color: $springster-purple;
  }
  input {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
}
