.footer {
  background-color: #000;
  color: #ffffff;
  overflow: auto;
  padding: 1em;
  width: 100%;
  @include for-size(tablet-landscape-up) {
    display: flex;
    justify-content: flex-start;
    padding: 3em $spacer-inner 1em;
  }
  .social-media {
    display: inline-block;
    margin: 0 0 1em;
    text-align: left;
    @include for-size(tablet-landscape-up) {
      flex: 1 auto;
      order: 2;
    }
    &__icon {
      height: auto;
      width: auto;
      max-width: 50px;
      max-height: 50px;
    }
  }
  .searchCopyright-wrapper {
    display: inline-block;
    margin: 0 0 1em;
    @include for-size(tablet-landscape-up) {
      width: 25%;
      flex: 1 auto;
      order: 3;
    }
  }
}
