.header {
  background-color: $color-cyan;
  overflow: auto;
  width: 100%;
  text-align: center;
  [type="checkbox"],
  [type="radio"] {
    visibility: hidden;
    position: absolute;
    top: 0;
  }
}
