.header {
  background-color: $color-cyan;
  overflow: auto;
  position: relative;

  //SMARTPHONE
  @media screen and (min-width: $smartPhone) {
    background-color: green;
  }
  @media screen and (min-width: $smartPortraitPhone) {
    background-color: pink;
  }
  @media screen and (min-width: $smartLandscapePhone) {
    background-color: purple;
  }
  @media screen and (min-width: $phablet) {
    background-color: orange;
  }


  //TABLET
  @media screen and (min-width: $tabletSmaller) {
    background-color: #9b9fa2;
  }
  @media screen and (min-width: $tabletPortrait) {
    background-color: #f9e435;
  }
  @media screen and (min-width: $tabletBigger) {
    background-color:  #ed018c;
  }
  @media screen and (min-width: $tabletLandscape) {
    background-color: #5ABDC9;
  }

  //DESKTOP
  @media screen and (min-width: $desktop) {
    background-color: #EDF5E1;
  }
  @media screen and (min-width: $desktopSmaller) {
    background-color: #67A0BC;
  }
  @media screen and (min-width: $desktopMedium) {
    background-color: #FBEEC5;
  }
  @media screen and (min-width: $desktopLarger) {
    background-color: #F34F73;
  }
  @media screen and (min-width: $desktop2XLarger) {
    background-color: #98738D;
  }
}
