.header {
  background-color: $color-cyan;
  display: flex;
  flex-flow: wrap;
  overflow: inherit;
  width: 100%;
  z-index: 9999;
  @include for-size(desktop-up) {
    padding: 0 $spacer-inner;
  }
  @include for-size(tablet-landscape-up) {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 4em;
    position: fixed;
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease 1ms;
    animation: qs-timer 300ms;
  }
  [type="checkbox"],
  [type="radio"] {
    //visibility: hidden;
    //position: absolute;
    //top: 0;
  }
}
