.content-wrapper {
  color: #000;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  @include for-size(tablet-landscape-up) {
    padding: 4em 0 0;
  }
}
.featured-wrapper {
  @include for-size(tablet-landscape-up) {
    display: flex;
    padding: 0 0 0 $spacer-inner;
  }
}
