.carousel-teaser {
  background-color: $sunny-yellow;
  &__wrapper {
    .teaser-stacklist-tags {
      position: inherit;
      margin: 0;
      &-container {
        height: 30px;
        overflow: hidden;
      }
    }
  }
  &__thumbnail-link {
    font-size: 0;
    margin: 0;
  }
  &__title-link {
    @include font($baton-medium);
    color: $charcoal-grey;
    font-size: $font-large;
    line-height: get-line-height($font-large, 23px);
    padding: 0 8px;
    &:hover {
      color: $springster-purple;
      text-decoration: none;
    }
  }
  &__title {
    padding: 8px 0;
  }
  &__subtitle {
    color: $slate-grey;
    font-size: $font-x-small;
    line-height: get-line-height($font-x-small, 16px);
    padding: 0 8px;
  }
  h2:before {
    content: "#";
  }
  &__thumbnail {
    width: 100%;
    max-width: 320px;
  }
  .comment-counter {
    position: relative;
    margin: 10px;
  }

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    &__item {
      text-align: center;
      padding: 10px 20px 10px;
    }
    &__item--container {
      background-color: $white;
      padding-bottom: 15px;
    }
  }
}
