.surveys--call-to-action {
  .heading__component {
    padding-top: 20px;
  }
}
.identity-image--survey,
.adv_wrapper__item-icon,
.identity-image__item-icon  {
  display: block;
  text-align: center;
  margin: 0 auto;
  @media screen and (min-width: 320px) {
    width: 85px;
    height: auto;
  }
}
.identity-image--survey {
  background: url('/static/img/icons/poll@2x.png') no-repeat 0 0/contain;
  height: 100px;
  width: 100px;
}
