.identity-image--survey {
  background: url('/static/img/icons/poll@2x.png') no-repeat 0 0/contain;
  display: block;
  text-align: center;
  @media screen and (min-width: 320px) {
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 75px;
    height: 75px;
    top: 0;
  }
}
