{% load forms_personalise_extras wagtailimages_tags wagtailcore_tags wagtailsettings_tags static gem_tags %}
{% get_settings %}

{% block content %}
{% filter_forms_by_segments forms request as filtered_forms %}
  {% for item in filtered_forms %}
    {% with form_page=item.molo_form_page form=item.form %}
      {% if user.is_authenticated and user.is_active or request.is_preview or form_page.allow_anonymous_submissions %}
      <li class="menu-list__item state-list__item">
        <a href="{% pageurl form_page.specific %}" class="menu-list__anchor state-list__anchor">
          {% trans "Contact us" as defaultText %} {{ form_page.homepage_button_text|default:defaultText }}
        </a>
      </li>
      {% endif %}
    {% endwith %}
  {% endfor %}
</div>
{% endblock %}
