.comment-counter {
  display: inline-block;
  height: 25px;
  margin: 0 0 0 10px;
  vertical-align: middle;
  &__icon {
    vertical-align: middle;
  }
  &__numeral {
    color: $slate-grey;
    font-size: $font-x-small;
    vertical-align: bottom;
    margin-left: 5px;
  }
}
