.comments__alias {
  font-weight: bold;
  padding: 0 15px;
}
.comments__excerpt,
.comments__publish-date {
  padding: 0 15px;
}
.comments__reply-meta{
  padding: 10px 15px;
}
.comments__publish-date {
  font-size: 12px;
  color: #A3A7AE;
}

.call-to-action__nav-item-text--response,
.call-to-action__nav-item--replies-counter,
.call-to-action__nav-item-text--replies {
  display: inline-block;
}
.call-to-action__nav-item--replies-counter {
  font-family: $baton-regular;
  font-size: 16px;
  color: #A3A7AE;
  text-decoration: none;
  float: right;
  font-weight: normal;
}
