.asked_question_area {
  background: #f1f1f1;
  padding: 100px 0px 0px 0px;
  overflow: hidden;
}

.asked_question_area .question_inner {
  overflow: hidden;
  clear: both;
}

.asked_question_area .question_inner .left_question {
  width: 50%;
  float: left;
}

.asked_question_area .question_inner .left_question .left_question_inner {
  max-width: 570px;
  float: right;
  padding-right: 15px;
  width: 100%;
}

.asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default {
  border: none;
  border-radius: 0px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #d4d4d4;
}

.asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default .panel-heading {
  padding: 0px;
  background: transparent;
  border: none;
}

.asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default .panel-heading .panel-title a {
  width: 100%;
  display: block;
  font-size: 18px;
  color: #222222;
  font-family: "Fedra Sans Bold";
  font-weight: 400;
  line-height: 80px;
}

.asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default .panel-heading .panel-title a i {
  float: right;
  display: none;
  line-height: 80px;
  font-size: 24px;
}

.asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default .panel-heading .panel-title a i + i {
  display: inline-block;
}

.asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default .panel-heading .panel-title a.collapsed i {
  display: inline-block;
}

.asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default .panel-heading .panel-title a.collapsed i + i {
  display: none;
}

.asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default .panel-collapse .panel-body {
  border-top: 0px;
  padding: 0px 0px 35px 0px;
  font-size: 15px;
  line-height: 26px;
  color: #696969;
}

.asked_question_area .question_inner .right_question_img {
  width: 50%;
  text-align: right;
  padding-left: 15px;
  float: right;
}


@media (max-width: 550px){
    .asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default .panel-heading .panel-title a {
        font-size: 14px;
    }
}

@media (max-width: 991px){

  .asked_question_area .question_inner .right_question_img {
      width: 100%;
      text-align: right;
      padding-left: 15px;
      float: none;
      overflow: hidden;
      clear: both;
      padding-left: 0px;
  }
  .asked_question_area .question_inner .right_question_img img{
      width: 100%;
  }
  .asked_question_area .question_inner .left_question {
      width: 100%;
      float: none;
  }
  .asked_question_area .question_inner .left_question .left_question_inner {
      max-width: none;
      float: none;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
  }

}

@media (max-width: 1199px){
    .asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default .panel-heading .panel-title a {
        line-height: 48px;
    }
    .asked_question_area .question_inner .left_question .left_question_inner .panel-group .panel-default .panel-heading .panel-title a i {
        float: none;
        line-height: 0;
    }
}
