.latest_blog_area {
  padding: 100px 0px;
  background: #f1f1f1;
}

.latest_blog_area.purple_blog .latest_blog_item .l_blog_img .l_blog_hover {
  background: rgba(166, 64, 208, 0.9);
}

.latest_blog_area.purple_blog .latest_blog_item h4:hover {
  color: #a640d0;
}

.latest_blog_area.purple_blog .latest_blog_item h5 {
  font-size: 14px;
  font-family: "Fedra Sans Bold";
  color: #696969;
  padding-bottom: 20px;
}

.latest_blog_area.purple_blog .latest_blog_item h5 a {
  color: #a640d0;
  font-family: "Fedra Sans Bold";
  font-size: 14px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.latest_blog_area.purple_blog .latest_blog_item h5 a + a {
  color: #696969;
}

.latest_blog_area.purple_blog .latest_blog_item h5 a:hover {
  color: #a640d0;
}

.latest_blog_area.purple_blog .latest_blog_item p a {
  font-size: 14px;
  font-family: "Fedra Sans Bold";
  color: #222222;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.latest_blog_area.purple_blog .latest_blog_item p a:hover {
  color: #a640d0;
}

.latest_blog_item .l_blog_img {
  position: relative;
}

.latest_blog_item .l_blog_img img {
  max-width: 100%;
}

.latest_blog_item .l_blog_img .l_blog_hover {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(248, 57, 93, 0.9);
  text-align: center;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.latest_blog_item .l_blog_img .l_blog_hover i {
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 36px;
  left: 0px;
  width: 100%;
  text-align: center;
}

.latest_blog_item h4 {
  font-size: 18px;
  color: #222222;
  font-family: "Fedra Sans Bold";
  font-weight: 400;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  padding: 25px 0px 15px 0px;
}

.latest_blog_item h4:hover {
  color: #f8395d;
}

.latest_blog_item h5 {
  font-size: 14px;
  font-family: "Fedra Sans Bold";
  color: #696969;
  padding-bottom: 20px;
}

.latest_blog_item h5 a {
  color: #f8395d;
  font-family: "Fedra Sans Bold";
  font-size: 14px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.latest_blog_item h5 a + a {
  color: #696969;
}

.latest_blog_item h5 a:hover {
  color: #f8395d;
}

.latest_blog_item p {
  font-size: 15px;
  line-height: 26px;
  color: #696969;
  font-family: "Fedra Sans Bold";
}

.latest_blog_item p a {
  font-size: 14px;
  font-family: "Fedra Sans Bold";
  color: #222222;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.latest_blog_item p a:hover {
  color: #f8395d;
}

.latest_blog_item:hover .l_blog_img .l_blog_hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}



.blog_details_inner .blog_details_first img {
  max-width: 100%;
}

.blog_details_inner .blog_details_first h3 {
  font-size: 24px;
  font-family: "Fedra Sans Bold";
  font-weight: 400;
  color: #222222;
  padding-top: 40px;
  padding-bottom: 15px;
}

.blog_details_inner .blog_details_first h5 {
  font-size: 12px;
  color: #696969;
  font-family: "Fedra Sans Bold";
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.blog_details_inner .blog_details_first h5 a {
  color: #f8395d;
}

.blog_details_inner .blog_details_first p {
  line-height: 26px;
  font-family: "Fedra Sans Bold";
  font-size: 16px;
  color: #696969;
}

.blog_details_inner .blog_details_first h4 {
  font-size: 18px;
  font-family: "Fedra Sans Bold";
  font-weight: 400;
  color: #222222;
  padding: 30px 0px 20px 0px;
}

.blog_details_inner .blog_quote {
  background: #f1f1f1;
  line-height: 24px;
  font-family: "Fedra Sans Bold";
  font-size: 14px;
  color: #222222;
  font-style: italic;
  padding: 24px 30px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.blog_details_inner .blog_quote .fa-quote-left {
  padding-right: 7px;
  color: #9d9f9f;
}

.blog_details_inner .blog_quote .fa-quote-right {
  padding-left: 7px;
  color: #9d9f9f;
}

.blog_details_inner .blog_part_img img {
  border-radius: 10px;
  max-width: 100%;
}

.blog_details_inner .blog_part_text {
  padding-top: 50px;
}

.blog_details_inner .blog_part_text p {
  line-height: 26px;
  font-family: "Fedra Sans Bold";
  font-size: 16px;
  color: #696969;
}

.blog_details_inner .social_area {
  overflow: hidden;
  clear: both;
  padding: 65px 0px 25px 0px;
  border-bottom: 1px solid #dfdfdf;
}

.blog_details_inner .social_area .pull-left ul {
  padding-top: 3px;
}

.blog_details_inner .social_area .pull-left ul li {
  display: inline-block;
}

.blog_details_inner .social_area .pull-left ul li a {
  font-size: 14px;
  color: #696969;
  font-family: "Fedra Sans Bold";
}

.blog_details_inner .social_area .pull-left ul li:hover a {
  color: #f8395d;
}

.blog_details_inner .social_area .pull-right h6 {
  display: inline-block;
  font-size: 15px;
  color: #222222;
  padding-right: 8px;
  font-family: "Fedra Sans Bold";
}

.blog_details_inner .social_area .pull-right ul {
  display: inline-block;
}

.blog_details_inner .social_area .pull-right ul li {
  display: inline-block;
  margin-right: 7px;
}

.blog_details_inner .social_area .pull-right ul li a {
  font-size: 14px;
  color: #9d9f9f;
  font-family: "Fedra Sans Bold";
  height: 30px;
  width: 30px;
  display: block;
  background: #dfdfdf;
  text-align: center;
  line-height: 30px;
  position: relative;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.blog_details_inner .social_area .pull-right ul li a:before {
  content: "";
  position: absolute;
  background: rgba(248, 57, 93, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  opacity: 0;
  z-index: -1;
}

.blog_details_inner .social_area .pull-right ul li:hover a {
  background: #f8395d;
  color: #fff;
}

.blog_details_inner .social_area .pull-right ul li:hover a:before {
  opacity: 1;
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}



  .purple_blog .blog_details_inner .blog_details_first img {
    max-width: 100%;
  }

  .purple_blog .blog_details_inner .blog_details_first h3 {
    font-size: 24px;
    font-family: "Fedra Sans Bold";
    font-weight: 400;
    color: #222222;
    padding-top: 40px;
    padding-bottom: 15px;
  }

  .purple_blog .blog_details_inner .blog_details_first h5 {
    font-size: 12px;
    color: #696969;
    font-family: "Fedra Sans Bold";
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
    margin-bottom: 25px;
  }

  .purple_blog .blog_details_inner .blog_details_first h5 a {
    color: #a640d0;
  }

  .purple_blog .blog_details_inner .blog_details_first p {
    line-height: 26px;
    font-family: "Fedra Sans Bold";
    font-size: 16px;
    color: #696969;
  }

  .purple_blog .blog_details_inner .blog_details_first h4 {
    font-size: 18px;
    font-family: "Fedra Sans Bold";
    font-weight: 400;
    color: #222222;
    padding: 30px 0px 20px 0px;
  }

  .purple_blog .blog_details_inner .blog_quote {
    background: #f1f1f1;
    line-height: 24px;
    font-family: "Fedra Sans Bold";
    font-size: 14px;
    color: #222222;
    font-style: italic;
    padding: 24px 30px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .purple_blog .blog_details_inner .blog_quote .fa-quote-left {
    padding-right: 7px;
    color: #9d9f9f;
  }

  .purple_blog .blog_details_inner .blog_quote .fa-quote-right {
    padding-left: 7px;
    color: #9d9f9f;
  }

  .purple_blog .blog_details_inner .blog_part_img img {
    border-radius: 10px;
    max-width: 100%;
  }

  .purple_blog .blog_details_inner .blog_part_text {
    padding-top: 50px;
  }

  .purple_blog .blog_details_inner .blog_part_text p {
    line-height: 26px;
    font-family: "Fedra Sans Bold";
    font-size: 16px;
    color: #696969;
  }

  .purple_blog .blog_details_inner .social_area {
    overflow: hidden;
    clear: both;
    padding: 65px 0px 25px 0px;
    border-bottom: 1px solid #dfdfdf;
  }

  .purple_blog .blog_details_inner .social_area .pull-left ul {
    padding-top: 3px;
  }

  .purple_blog .blog_details_inner .social_area .pull-left ul li {
    display: inline-block;
  }

  .purple_blog .blog_details_inner .social_area .pull-left ul li a {
    font-size: 14px;
    color: #696969;
    font-family: "Fedra Sans Bold";
  }

  .purple_blog .blog_details_inner .social_area .pull-left ul li:hover a {
    color: #a640d0;
  }

  .purple_blog .blog_details_inner .social_area .pull-right h6 {
    display: inline-block;
    font-size: 15px;
    color: #222222;
    padding-right: 8px;
    font-family: "Fedra Sans Bold";
  }

  .purple_blog .blog_details_inner .social_area .pull-right ul {
    display: inline-block;
  }

  .purple_blog .blog_details_inner .social_area .pull-right ul li {
    display: inline-block;
    margin-right: 7px;
  }

  .purple_blog .blog_details_inner .social_area .pull-right ul li a {
    font-size: 14px;
    color: #9d9f9f;
    font-family: "Fedra Sans Bold";
    height: 30px;
    width: 30px;
    display: block;
    background: #dfdfdf;
    text-align: center;
    line-height: 30px;
    position: relative;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
  }

  .purple_blog .blog_details_inner .social_area .pull-right ul li a:before {
    content: "";
    position: absolute;
    background: rgba(166, 64, 208, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    opacity: 0;
    z-index: -1;
  }

  .purple_blog .blog_details_inner .social_area .pull-right ul li:hover a {
    background: #a640d0;
    color: #fff;
  }

  .purple_blog .blog_details_inner .social_area .pull-right ul li:hover a:before {
    opacity: 1;
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
  }
  .blog_list_area {
    padding: 66px 0px;
  }

  .blog_list_area .blog_list_item {
    position: relative;
    padding: 10px 0px 20px 0;
  }

  .blog_list_area .blog_list_item:before {
    content: "";
    height: 1px;
    background: #dfdfdf;
    max-width: 750px;
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 15px;
  }

  .blog_list_area .blog_list_item .blog_list_img img {
    max-width: 100%;
  }

   .polls {
    padding-bottom: 25px !important;
    border-bottom: 2px solid $colorYellow;
    border-top: 2px solid $colorYellow;
    padding-top: 25px !important;
    }

  .blog_list_area .blog_list_item:last-child {
    padding-bottom: 25px;
    border-bottom: 2px solid #ffe559;
    border-top: 2px solid #ffe559;
    padding-top: 20px;
  }

  .blog_list_area .blog_list_item:first-child {
    padding-top: 0px;
  }

  .blog_list_area .blog_list_item:last-child {
   padding-bottom: 25px;
      border-bottom: 2px solid #ffe559;
      border-top: 2px solid #ffe559;
       padding-top: 20px;
  }

  .blog_list_area .blog_list_item:last-child:before {
    display: none;
  }

  .blog_list_area .blog_list_content {
    overflow: hidden;
    clear: both;
  }

  .blog_list_area .blog_list_content h3 {
    font-family: "Fedra Sans Bold";
    font-size: 24px;
    font-weight: 400;
    color: #222222;
    padding-bottom: 22px;
  }

  .blog_list_area .blog_list_content h3:hover {
    color: #f8395d;
  }

  .blog_list_area .blog_list_content h6 {
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    color: #696969;
    padding-bottom: 22px;
  }

  .blog_list_area .blog_list_content h6 a {
    color: #f8395d;
  }

  .blog_list_area .blog_list_content p {
    font-size: 14px;
    font-family: "Fedra Sans Std Book";
    line-height: 15px;
    color: #696969;
    padding-bottom: 55px;
    font-weight:bold;
  }

  .blog_list_area .blog_list_content .pull-left {
    height: 40px;
  }

  .blog_list_area .blog_list_content .pull-left .read_more {
    width: 130px;
    border-radius: 0px;
    line-height: 40px;
    height: 40px;
    padding: 0px;
  }

  .blog_list_area .blog_list_content .pull-left .read_more:hover {
    color: #f8395d;
  }

  .blog_list_area .blog_list_content .pull-right {
    padding-top: 8px;
  }

  .blog_list_area .blog_list_content .pull-right a {
    color: #696969;
    font-family: "Fedra Sans Bold";
    font-size: 14px;
    padding-left: 20px;
  }

  .blog_list_area .blog_list_content .pull-right a i {
    padding-right: 5px;
  }

  .blog_list_area.purple_blog .blog_list_content h3 {
    color: #222222;
  }

  .blog_list_area.purple_blog .blog_list_content h3:hover {
    color: #a640d0;
  }

  .blog_list_area.purple_blog .blog_list_content h6 {
    color: #696969;
  }

  .blog_list_area.purple_blog .blog_list_content h6 a {
    color: #a640d0;
  }

  .blog_list_area.purple_blog .blog_list_content .pull-left {
    height: 40px;
  }

  .blog_list_area.purple_blog .blog_list_content .pull-left .read_more {
    width: 130px;
    border-radius: 0px;
    line-height: 40px;
    height: 40px;
    padding: 0px;
  }

  .blog_list_area.purple_blog .blog_list_content .pull-left .read_more:hover {
    color: #a640d0;
  }

  .blog_pagination .pagination {
    margin-top: 60px;
    margin-bottom: 0px;
  }

  .blog_pagination .pagination li {
    margin-right: 7px;
    display: inline-block;
  }

  .blog_pagination .pagination li a {
    border: 1px solid #dfdfdf;
    border-radius: 0px;
    padding: 0px;
    height: 40px;
    width: 40px;
    line-height: 38px;
    text-align: center;
    display: block;
    font-size: 14px;
    font-family: "Fedra Sans Bold";
    font-weight: bold;
    color: #222222;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
  }

  .blog_pagination .pagination li:hover a, .blog_pagination .pagination li.active a {
    background: #f8395d;
    color: #fff;
  }

  .blog_pagination .pagination li:last-child {
    margin-right: 0px;
  }

  .blog_pagination.purple_pagination .pagination li a {
    color: #222222;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
  }

  .blog_pagination.purple_pagination .pagination li:hover a, .blog_pagination.purple_pagination .pagination li.active a {
    background: #a640d0;
    color: #fff;
  }



@media (max-width: 767px){
    .blog_list_area .blog_list_item {
        overflow: hidden;
    }
	.blog_list_area{
		    padding: 50px 0px;
	}
}


@media (max-width: 991px){


      .latest_blog_area .latest_blog_item{
          max-width: 360px;
          margin: 0px auto 30px;
      }
      .latest_blog_area .col-md-4:last-child .latest_blog_item{
          margin-bottom: 0px;
      }
      .blog_right_sidebar{
          margin-top: 30px;
      }
      .blog_list_area .blog_list_content {
          margin-top: 1px;
      }
}
