.clients_feedback_area {
  overflow: hidden;
  clear: both;
  background: #f1f1f1;
  padding: 100px 0px;
}

.clients_feedback_area.purple_clients .item p {
  background: #ede8ef;
}

.clients_feedback_area.purple_clients .item h4 {
  color: #a640d0;
}

.clients_feedback_area.purple_clients .item ul li a {
  background: #a640d0;
}

.clients_feedback_area.purple_clients .item ul li a:before {
  content: "";
  position: absolute;
  border: #a640d0 solid 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  border-radius: 50%;
}

.clients_feedback_area.purple_clients .owl-dots .owl-dot:hover, .clients_feedback_area.purple_clients .owl-dots .owl-dot.active {
  background: #a640d0;
}

.clients_feedback_area.purple_clients .owl-dots .owl-dot:last-child {
  margin-right: 0px;
}

.clients_slider .item p {
  text-align: center;
  font-size: 14px;
  color: #444444;
  line-height: 26px;
  letter-spacing: 0.588px;
  background: #f1e8e9;
  border-radius: 10px;
  padding: 15px 0px;
  margin-bottom: 25px;
  position: relative;
}

.clients_slider .item p:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #f1e8e9 transparent transparent transparent;
  position: absolute;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.clients_slider .item img {
  width: auto;
  max-width: 100%;
  text-align: center;
  margin: auto;
}

.clients_slider .item h4 {
  text-align: center;
  font-size: 24px;
  color: #f8395d;
  font-family: "Fedra Sans Bold";
  font-weight: 400;
  padding: 25px 0px 12px 0px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.clients_slider .item h4:hover {
  color: #222222;
}

.clients_slider .item h5 {
  font-size: 14px;
  color: #444;
  font-family: "Fedra Sans Bold";
  text-align: center;
  padding-bottom: 18px;
}

.clients_slider .item ul {
  text-align: center;
  padding-bottom: 10px;
}

.clients_slider .item ul li {
  display: inline-block;
  margin-right: 7px;
}

.clients_slider .item ul li a {
  height: 30px;
  width: 30px;
  background: #f8395d;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
}

.clients_slider .item ul li a:before {
  content: "";
  position: absolute;
  border: #f8395d solid 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  border-radius: 50%;
}

.clients_slider .item ul li:hover a:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

.clients_slider .item ul li:last-child {
  margin-right: 0px;
}

.clients_slider .owl-dots {
  text-align: center;
  padding-top: 25px;
}

.clients_slider .owl-dots .owl-dot {
  height: 6px;
  width: 6px;
  background: #b2b2b2;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.clients_slider .owl-dots .owl-dot:hover, .clients_slider .owl-dots .owl-dot.active {
  background: #f8395d;
}

.clients_slider .owl-dots .owl-dot:last-child {
  margin-right: 0px;
}
