
  .detail_doc_area {
    padding: 100px 0px;
  }

  .detail_doc_area .left_detail_content {
    padding-top: 65px;
  }

  .detail_doc_area .left_detail_content p {
    font-size: 16px;
    line-height: 28px;
    color: #696969;
    font-family: "Fedra Sans Bold";
    padding: 45px 0px 35px 0px;
  }

  .detail_doc_area .right_detail_img {
    text-align: center;
  }


  @media (max-width: 480px){

      .detail_doc_area .right_detail_img img{
          max-width: 100%;
      }
      
  }
