.feature_area {
  background: #f1f1f1;
  padding: 100px 0px;
}

.purple_feature .right_side_feature .media .media-left i {
  color: #a640d0;
}

.purple_feature .right_side_feature:last-child {
  margin-bottom: 0px;
}

.purple_feature .right_side_feature:first-child {
  margin-top: 75px;
}

.purple_feature .right_side_feature:hover .media .media-body h4 {
  color: #a640d0;
}

.left_side_feature {
  margin-bottom: 70px;
}

.left_side_feature .media .media-body h4 {
  text-align: right;
  font-size: 18px;
  font-family: "Fedra Sans Bold";
  font-weight: bold;
  color: #222222;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  padding-bottom: 20px;
}

.left_side_feature .media .media-body p {
  text-align: right;
  font-size: 16px;
  line-height: 28px;
  font-family: "Fedra Sans Bold";
  color: #696969;
}

.left_side_feature .media .media-right {
  padding-left: 35px;
}

.left_side_feature .media .media-right i {
  font-size: 48px;
  color: #f8395d;
}

.left_side_feature:last-child {
  margin-bottom: 0px;
}

.left_side_feature:first-child {
  margin-top: 75px;
}

.left_side_feature:hover .media .media-body h4 {
  color: #f8395d;
}

.right_side_feature {
  margin-bottom: 70px;
}

.right_side_feature .media .media-body h4 {
  font-size: 18px;
  font-family: "Fedra Sans Bold";
  font-weight: bold;
  color: #222222;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  padding-bottom: 20px;
}

.right_side_feature .media .media-body p {
  font-size: 16px;
  line-height: 28px;
  font-family: "Fedra Sans Bold";
  color: #696969;
}

.right_side_feature .media .media-left {
  padding-right: 35px;
}

.right_side_feature .media .media-left i {
  font-size: 48px;
  color: #f8395d;
}

.right_side_feature:last-child {
  margin-bottom: 0px;
}

.right_side_feature:first-child {
  margin-top: 75px;
}

.right_side_feature:hover .media .media-body h4 {
  color: #f8395d;
}

.feature_mobile {
  text-align: center;
  position: relative;
}

.feature_mobile img {
  max-width: 100%;
}

.feature_mobile .feature_mobile_slider {
  height: 438px;
  width: 246px;
  position: absolute;
  left: 49.6%;
  top: 49.8%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


@media (max-width: 480px){


}



@media (max-width: 991px){
  .left_side_feature {
      max-width: 360px;
      margin: 0px auto 70px;
  }
  .left_side_feature:first-child {
      margin-top: 0px;
  }
  .left_side_feature:last-child {
      margin-bottom: 70px;
  }
  .right_side_feature:first-child {
      margin-top: 75px;
  }
  .right_side_feature{
      max-width: 360px;
      margin: 0px auto 70px;
  }


}
