.map_area {
  position: relative;
}

.map_area .mapBox {
  min-height: 770px;
  width: 100%;
  position: absolute !important;
  left: 0px;
  top: 0px;
}

.map_area.purple_map .contact_info .contact_form_left .form-group input:focus {
  border-color: #a640d0;
}

.map_area.purple_map .contact_info .contact_form_left .form-group textarea:focus {
  border-color: #a640d0;
}

.map_area.purple_map .contact_info .contact_form_left .form-group:last-child {
  margin-bottom: 0px;
}

.map_area.purple_map .contact_info .contact_details .media .media-left i {
  color: #a640d0;
  font-size: 22px;
}

.map_area.purple_map .contact_info .contact_details ul li a {
  color: #a640d0;
}

.map_area.purple_map .contact_info .contact_details ul li a:before {
  background: rgba(166, 54, 208, 0.3);
}

.map_area.purple_map .contact_info .contact_details ul li:hover a {
  background: #a640d0;
  color: #fff;
}

.map_area.purple_map .contact_info .contact_details ul li:hover a:before {
  opacity: 1;
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}
