.our_service_area {
  padding: 100px 0px;
}

.service_item {
  text-align: center;
}

.service_item i {
  height: 65px;
  width: 65px;
  background: #f8395d;
  border-radius: 5px;
  display: block;
  text-align: center;
  line-height: 65px;
  color: #fff;
  margin: auto;
  font-size: 36px;
  border: 1px solid #f8395d;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.service_item h3 {
  font-size: 18px;
  font-family: "Fedra Sans Bold";
  color: #222222;
  padding: 30px 0px 20px 0px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.service_item p {
  font-size: 16px;
  line-height: 28px;
  font-family: "Fedra Sans Bold";
  color: #696969;
}

.service_item:hover i {
  background: transparent;
  color: #f8395d;
}

.service_item:hover h3 {
  color: #f8395d;
}

.purple_service .service_item i {
  background: #a640d0;
  border-color: #a640d0;
}

.purple_service .service_item:hover i {
  color: #a640d0;
  background: transparent;
}

.purple_service .service_item:hover h3 {
  color: #a640d0;
}
