.slider_area .rev_slider ul li .tp-bgimg {
  z-index: 4 !important;
}

.slider_area .rev_slider ul li .first_text {
  color: #fff;
  font-family: "Fedra Sans Bold";
}

.slider_area .rev_slider ul li .some_text {
  color: #fff;
  font-family: "Fedra Sans Bold";
}

.slider_area .rev_slider ul li .register_angkar_btn {
  width: 220px;
  border: 2px solid #fff;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  height: 64px;
  line-height: 64px;
  font-size: 16px;
  color: #fff;
  font-family: "Fedra Sans Bold";
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  overflow: hidden;
}

.slider_area .rev_slider ul li .register_angkar_btn i {
  padding-right: 14px;
  font-size: 24px;
}

.slider_area .rev_slider ul li .register_angkar_btn:before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #fff;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  z-index: -1;
}

.slider_area .rev_slider ul li .register_angkar_btn:hover {
  color: #f8395d;
}

.slider_area .rev_slider ul li .register_angkar_btn:hover:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.slider_area .rev_slider ul li .register_angkar_btn.purple_s_btn:hover {
  color: #a640d0;
}

.slider_area .rev_slider ul li.first_slider .slotholder {
  position: relative;
}

.slider_area .rev_slider ul li.first_slider .slotholder .tp-bgimg {
  background-color: transparent !important;
}

.slider_area .rev_slider ul li.secand_slider .slotholder {
  position: relative;
}

.slider_area .rev_slider ul li.secand_slider .slotholder .tp-bgimg {
  background-color: transparent !important;
}

.slider_shap {
  z-index: 99999;
  max-width: 308px;
  position: relative;
}

.slider_shap .slider_moblie {
  position: absolute;
  top: 49.8%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  bottom: 0px;
  left: 49.84%;
  width: 267px;
  height: 476px;
  overflow: hidden;
}

.slider_shap .slider_moblie .item img {
  width: 267px !important;
  height: 476px !important;
}

@media (max-width: 480px){
  .slider_man_shap{
      display: none;
  }
  .slider_shap{
      display: none;
  }
}

@media (max-width: 550px){
  .slider_man_shap{
      width: 250px !important;
  }

}
@media (max-width: 767px){
    .slider_shap {
        width: 200px;
        height: 400px;
    }
    .slider_shap img {
        width: 100% !important;
        height: 100% !important;
    }
    .slider_shap .slider_moblie .item img {
        width: 100% !important;
        height: 100% !important;
    }
    .slider_shap .slider_moblie {
        width: 174px;
        height: 307px;
    }

	.clear-all{
		 padding-top: 12px;
	}
	.toph4{
		 margin-bottom: 10px;
		 margin-top: 10px;
		 margin-left: 20px;
	}
}

@media (max-width: 991px){
  .slider_man_shap{
      width: 300px !important;
  }
  .slider_shap {
      width: 270px;
  }
  .slider_shap img{
      width: 100% !important;
  }
  .slider_shap .slider_moblie {
      width: 237px;
      height: 445px;
  }
  .slider_shap .slider_moblie .item img {
      width: 100% !important;
      height: 100% !important;
  }
}

@media (max-width: 1199px){
  .slider_man_shap{
      width: 400px !important;
  }
  .slider_man_shap img{
      width: 100% !important;
      height: 100% !important;
  }

}
