{% extends "base.html" %}
{% load core_tags el_pagination_tags %}
{% block content %}
{% get_translation tag as translated_tag %}
{% trans "Back home" as backhome %}
{% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=request.site.root_page.url page_name=backhome direction="left" %}
{% include "patterns/basics/headings/sp_variations/heading.html" with type="component" extraclass="hash-tag" htmltag="h1" title=translated_tag.title %}
{% paginate 10 object_list as articles %}
{% include "patterns/components/article-teasers/sp_variations/base-teaser-listing.html" %}
{% get_pages %}
{% trans "Load more" as buttontext %}
{% url 'tag_index' as datalink %}
{% include "patterns/basics/buttons/sp_variations/button-load-more.html" with type="primary" text=buttontext datalink=datalink %}
{% get_next_tag tag as next_tag %}
{% get_articles_for_tag next_tag as articles %}
{% include "patterns/components/article-teasers/sp_variations/carousel-teaser-listing.html" with tag=next_tag tag_articles=articles %}
{% endblock %}

