{% extends "base.html" %}
{% load core_tags el_pagination_tags %}
{% block content %}
{% get_translation tag as translated_tag %}
<div class="call-to-action call-to-action--wide-back call-to-action--{{extraclass}}">
  <a href="{% request.site.root_page.specific.url %}" class="call-to-action__nav-item-text call-to-action__nav-item-text--left">
    {% trans "Back home" %}
  </a>
</div>
<div class="heading heading__component hash-tag">
  <h1>{{translated_tag.title}}</h1>
</div>
  
{% paginate 10 object_list as articles %}
{% include "patterns/components/article-teasers/sp_variations/base-teaser-listing.html" %}
{% get_pages %}
{% trans "Load more" as buttontext %}
{% url 'tag_index' as datalink %}
{% include "patterns/basics/buttons/sp_variations/button-load-more.html" with type="primary" text=buttontext datalink=datalink %}
{% get_next_tag tag as next_tag %}
{% get_articles_for_tag next_tag as articles %}
{% include "patterns/components/article-teasers/sp_variations/carousel-teaser-listing.html" with tag=next_tag tag_articles=articles %}
{% endblock %}
