{% extends "base.html" %}
{% block content %}
  {% include "patterns/components/article-page/sp_variations/main-article-page.html" %}
  {% include "patterns/basics/article-tags/sp_article-page-tag.html" %}
  <!-- Space for Reaction Question Here-->
  {% include "comments/comment_block.html" %}
  {% include "patterns/basics/articles/sp_variations/related-article-teasers_up-next.html" %}
  {% include "patterns/basics/articles/sp_variations/related-article-teasers_might-like.html" %}
{% endblock %}
