{% extends "base.html" %}
{% load wagtailcore_tags core_tags wagtailimages_tags staticfiles gem_tags el_pagination_tags i18n %}

{% block content %}
<div class="banner-index">
    {% load_child_bannerpages_for_banners self count=0 as bannerpages %}
    {% paginate 1 bannerpages %}
    <div class="banner">
        <ul class="banner-list">
        {% for banner in bannerpages %}
            {% include "patterns/components/banners/main-banner.html" with pageTag=banner %}
        {% endfor %}
        </ul>
    </div>

    {% get_pages %}
    <div class="pagination banner-index__pagination">
        <h6 class="pagination__nav-anchor-previous">{{ pages.previous }}</h6>
        <span class="pagination__current-page">
            Page {{ pages.current }} of {{ pages.total_count }}
        </span>
        <h6 class="pagination__nav-anchor-next">{{ pages.next }}</h6>
    </div>
</div>
{% endblock %}
