{% extends "base.html" %}
{% load cache wagtailcore_tags core_tags wagtailimages_tags staticfiles comments molo_survey_tags poll_votings competition_tag el_pagination_tags media_tags gem_tags %}

{% block content %}
  {% cache 900 main_banners_top request.site locale_code %}
    {% bannerpages position=0 %}

  {% endcache %}
  {% gembannerpages %}

  {% if not settings.core.SiteSettings.enable_tag_navigation %}
    {% topic_of_the_day %}
    {% latest_listing_homepage num_count=6 %}
    {% section_listing_homepage %}
    {% media_listing_homepage %}
  {% else %}
    {% get_tag_articles tag_count=4 as tag_nav_data %}
    {% paginate 15 tag_nav_data.latest_articles as latest_articles %}
    {% surveys_list personalisable_survey=True %}

    <!--START PROMOTED: Tag articles -->
    {% include 'core/tags/latest_listing_homepage.html' with articles=latest_articles|slice:"0:3" %}
    {% include "patterns/components/article-teasers/sp_variations/carousel-teaser-listing.html" with tag=tag_nav_data.tags_list.0.0 tag_articles=tag_nav_data.tags_list.0.1 %}
    <!--END PROMOTED: Tag articles -->

    {% if is_via_freebasics %}
      <div class="media-player">
        <div class="media-player__content">
          <div class="media-player__no-player">
            <span class="heading heading__subheading-alt"><h4>{{media.title}}</h4></span>
            <a href="{{ media.youtube_link }}" target="_blank" class="media-player__icon"></a>
            <span class="heading heading__subheading-alt">
            <h4>{% trans "Media will be played externally in a new window" %}</h4>
            </span>
          </div>
        </div>
      </div>
    {% else %}
      {% media_listing_homepage %}
    {% endif %}
    {% bannerpages position=1 %}

    {% poll_page %}
    {% surveys_list only_direct_surveys=True %}

    <!--START PROMOTED: Latest -->
    {% include 'core/tags/latest_listing_homepage.html' with articles=latest_articles|slice:"3:6" %}

    {% bannerpages position=2 %}
    {% surveys_list only_yourwords=True %}

    <!--START PROMOTED: Latest -->
    {% include 'core/tags/latest_listing_homepage.html' with articles=latest_articles|slice:"6:9" %}

    {% surveys_list only_linked_surveys=True %}

    <!-- NOTE RENDER -->
    {% include 'patterns/components/article-teasers/sp_variations/grid-teaser-listing.html' with section=tag_nav_data.sections.0.0 featured_articles=tag_nav_data.sections.0.1 %}

    {% include 'core/tags/latest_listing_homepage.html' with articles=latest_articles|slice:"9:12" %}

    {% include "patterns/components/article-teasers/sp_variations/carousel-teaser-listing.html" with tag=tag_nav_data.tags_list.1.0 tag_articles=tag_nav_data.tags_list.1.1 %}

    {% bannerpages position=3 %}
    {% your_words_competition %}

    {% include 'core/tags/latest_listing_homepage.html' with articles=latest_articles|slice:"12:15" %}

    {% get_pages %}
    {% if pages.next %}
      {% if articles %}
      <div class="pagination">
      {% if articles_paginated.has_previous %}
      <a href="?p={{ articles_paginated.previous_page_number }}" class="pagination__nav-anchor-previous"></a>
      {% endif %}
      <span class="pagination__current-page">
      Page {{ articles_paginated.number }} of {{ articles_paginated.paginator.num_pages }}
      </span>
      {% if articles_paginated.has_next %}
      <a href="?p={{ articles_paginated.next_page_number }}" class="pagination__nav-anchor-next"></a>
      {% endif %}
      </div>
      {% endif %}
      <a id="more-link" data-next="{% url 'home_index' %}?page={{pages.next.number}}&locale={{locale_code}}" class="more-link call-to-action__button call-to-action__button--primary">
        <span class="call-to-action__button-text call-to-action__button-text--primary ">{% trans "Load more" %}</span>
      </a>
    {% endif %}
  {% endif %}
{% endblock %}
