{% extends "base.html" %}
{% load core_tags %}
{% block content %}
    {% load_child_sections_for_section self as sections %}
    {% if not settings.core.SiteSettings.enable_tag_navigation %}
      {% include "patterns/components/section-page/sp_variations/base-section_teaser-listing.html" %}
    {% else %}
      {% include "patterns/components/sectionpage/sectionpage-standard_with-tags.html"%}
    {% endif %}
    {% block breadcrumbs %}
      {% breadcrumbs %}
    {% endblock %}
{% endblock %}
