{% load i18n %}
{% if user.is_authenticated and number_unread_notifications > 0 %}
<div class="comments reply-notification">
<a href="{% url 'molo.commenting:reply_list' %}" class="reply-notification__link">
  <h4 class="reply-notification__popup-title">
    {% trans "Notification:" %}</h4>
  <div class="reply-notification__popup-number">
    <span class="reply-notification__popup-number-text">{{ number_unread_notifications }}</span>
  </div>
  <p class="reply-notification__popup-call-to-action">
    {% trans "You have" %} {{ number_unread_notifications }} {% trans "unread" %}
    {% if number_unread_notifications == 1 %}
      {% trans "Reply" %}
    {% else %}
      {% trans "Replies" %}
    {% endif %}
  </p>
</a>
</div>
{% endif %}
