
@import "_l-header";
@import "_l-footer";
@import "_h5bp";

.l-row {
  clear: both;
  @include clearfix;
}

.l-half {
  width: 50%;
  &:first-child {
    float: left;
  }
  &:last-child {
    float: right;
  }
}
