.article-teaser-list__reply-counter {
  @media screen and (min-width: 320px)  {
    padding: 0 15px 0 10px;
    float: right;
  }
}
.article-teaser-list__reply-label,
.article-list__reply-label {
  padding: 0 5px 0;
}
