{% extends "wagtailadmin/login.html" %}

{% load socialaccount %}
  {% block furniture %}
  <main class="content-wrapper" role="main">
    {% if messages or form.errors %}
      <div class="messages">
        <ul>
          {% if form.errors %}
            <li class="error">
              {% blocktrans %}
                Your {{ username_field }} and password didn't match.
                Please try again.
              {% endblocktrans %}</li>
          {% endif %}
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <form action="{% url 'wagtailadmin_login' %}" method="post" autocomplete="off" novalidate>
      {% block login_form %}
        {% csrf_token %}
        <div class="field iconfield">
          <label for="id_login">{% trans 'Login' %}:</label>
          <input type="text" name="login" placeholder="Username or e-mail" autofocus="autofocus" required="" id="id_login" style="direction: ltr;">
        </div>

        <div class="field iconfield">
          <label for="id_password">{% trans 'Password' %}:</label>
          <input type="password" name="password" placeholder="Password" required="" id="id_password">
        </div>

        <div class="field">
          <label for="id_remember">{% trans 'Remember Me' %}:</label>
          <input type="checkbox" class="admin-remember-me" name="remember" id="id_remember">
        </div>

        <div class="field">
          <label>
            <a href="/admin/password_reset/">{% trans 'Forgotten it?' %}</a>
          </label>
        </div>
      {% endblock %}

        <li class="submit">
            {% block submit_buttons %}
            <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Signing in…' %}">
                <span class="icon icon-spinner"></span><em>{% trans 'Sign in' %}</em>
            </button>
            {% endblock %}
        </li>
    </form>

    {% block below_login %}
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
        <div class="socialaccount_ballot">
          <div class="socialaccount_providers list-unstyled">
            {% include "wagtailadmin/socialaccount_provider_list.html" with process="login" %}
          </div>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
      {% endif %}
    {% endblock %}
  </main>
{% endblock %}
