.burger-nav {
  $block: unquote("#{&}");
  color: #fff;
  display: inline-block;
  font-weight: bold;
  position: relative;
  vertical-align: top;
  &__label {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: $font-x-medium;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 1em;
    @include for-size(tablet-portrait-up) {
      padding: .9em 1em;
    }
    &:active, &:hover, &:focus {
      text-decoration: underline;
      text-underline-position: under;
    }
    &:before {
      background: url('/static/img/icons/rwanda/iconsSprite.png') no-repeat 0 5px/ 95px;
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 45px;
      height: 40px;
    }
  }
  &__icon {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    overflow: auto;
    width: 25px;
    @include for-size(tablet-portrait-up) {
      width: 35px;
    }
    @include for-size(tablet-landscape-up) {
      width: 42px;
    }
  }
  /*&__checkbox {
    left: 10%;
    & + * {
      height: auto;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0.2s, opacity 0.5s ease-out;
    }
    &:checked + * {
      visibility: visible;
      opacity: 1;
      #{$block}__label {
        border: 2px solid red;
      }
    }
  }*/
}
