.freebasics {
  background: rgba($color-cyan_dark, 1) url('/static/img/patterns/ninyampinga/NN_PATTERN-BLACK-001.svg') repeat 0 0/cover;
  display: block;
  padding: $spacer-half;
  overflow: hidden;
  text-align: center;
  visibility: visible;
  width: 100%;
  margin: -$spacer-mid 0 0;
  @include for-size(tablet-landscape-up) {
    display: none;
    visibility: hidden;
    padding: 0 $spacer-inner;
  }
  &__banner {
    color: #ffffff;
    font-size: $font-medium;
    color: #ffffff;
    @include for-size(tablet-landscape-up) {
      padding: 0 15%;
    }
  }
  &__anchor {
    color: #ffffff;
    padding: 0;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
    &:active, &:hover, &:focus  {
      color: $color-yellow;
    }
  }
}
