.polls {
  $block: unquote("#{&}");
  .heading__headline {
    padding: 0 1em .5em;
    margin: 0;
  }
  .call-to-action__button--next,
  .call-to-action__button--previous,
  .call-to-action__button--secondary {
    margin: 0 1em;
    @include for-size(tablet-landscape-up) {

    }
  }
  &__wrapper {
    background-color: #fff;
    padding: 1em;
    @include for-size(tablet-landscape-up) {
      padding: 1em 15% 2em 1em;
    }
  }
  &__answers {
    margin: 0.313em 0;
  }
  &__inner {
    padding: 0 1em;
    section {
      .heading__headline {
        padding: 0;
      }
    }
  }

  &__form {
    padding: 0 1em;
    .choice-fieldset {
      @include for-size(tablet-landscape-up) {
        display: inline-block;
        margin: 0 1em 1em 0;
      }
    }
  }
  &--homepage {
    #{$block}__wrapper {
      @include for-size(tablet-landscape-up) {
        width: 80%;
      }
    }
  }
  &--results {
    .heading__headline {
      padding: 0;
    }
  }
}
