.search {
  &__title {
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 1em 0 0;
    @include for-size(phone-only) {
      font-size: 26px;
    }
    &:before {
      content: " ";
      background-image: url('/static/img/icons/ninyampinga/header-icons.png');
      background-repeat: no-repeat;
      background-position: 0 0.3em;
      background-size: 125%;
      display: inline-block;
      vertical-align: middle;
      height: 40px;
      width: 70px;
    }
  }
  &__form {
    position: relative;
    input[type="search"] {
      border: 3px solid $color-pink-bright;
      height: 42px;
      margin: 0;
      padding: $spacer-small 5% $spacer-small $spacer-small;
    }
    [type="button"],
    [type="reset"],
    [type="submit"] {
      background-color: $color-pink-bright;
      margin: $spacer-half 0;
      padding: $spacer-half;
      text-decoration: underline;
      text-underline-position: under;
      font-weight: bold;
      @include for-size(tablet-portrait-up) {
        background-image: url('/static/img/icons/ninyampinga/header-icons.png');
        background-repeat: no-repeat;
        background-position: -0.6em -3em;
        background-size: 145%;
        padding: 0;
        height: 40px;
        width: 50px;
        margin: 0;
        text-indent: -15em;
        border-radius: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  &__label {
    visibility: hidden;
    display: none;
  }
  &__query-term {
    font-size: $font-large;
    font-weight: bold;
    font-style: italic;
  }
  .heading__micro {
    padding: 5px 0 1.5em;
  }
}
