.section {
  $block: unquote("#{&}");
  &-page {
    overflow: auto;
    &__wrapper {
      padding: 0 5%;
      @include for-size(tablet-landscape-up) {
        padding: 0 $spacer-inner;
      }
    }
    @each $sectionModifier, $styleElement in $sectionThemes {
      &--#{$sectionModifier} {
        #{$block}__theme {
          background-color: map-get($styleElement, bgColor);
          background-position: 0 0;
          background-repeat: repeat;
          background-size: auto;
        }
        #{$block}__icon {
            background-color: transparent;
            background-image: url('/static/img/icons/ninyampinga/ShapesSprites.png');
            background-repeat: no-repeat;
            background-position: map-get($styleElement, sectionTitleImagePosition);
        }
        .section__caption {
          &:before {
            background-image: map-get($styleElement, bgShape);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            display: block;
            height: 80px;
            width: 100%;
            position: absolute;
            top: -10px;

          }
        }
        #{$block}__title {
          background-color: map-get($styleElement, bgColor);
          color: map-get($styleElement, textColor);
        }
      }
    }
  }
  &__theme {
    width: 100%;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    @include for-size(tablet-portrait-up) {
      padding: 1.2em;
    }
  }
  &__thumbnail {
    width: 50px;
    vertical-align: middle;
    display: inline-block;
  }
  &__icon {
    background-size: 100%;
    display: inline-block;
    width: 120px;
    height: 75px;
  }
  &__caption {
    color: #fff;
    display: inline-block;
    position: relative;
  }
  &__title {
    background-color: #000;
    color: #fff;
    position: relative;
    font-size: $font-x-large;
    padding: 0 $spacer-mid;
    margin: $spacer-half 0;
    z-index: 9999;
    @include for-size(tablet-landscape-up) {
      font-size: $font-medium;
      margin: 15px 0 0 15px;
    }
  }
}
