//Font Size
$font-x-small       :     8px;
$font-small         :     14px;
$font-x-medium      :     16px;
$font-medium        :     18px;
$font-large         :     20px;
$font-x-large       :     32px;
$font-xx-large      :     40px;

$colorPurple: #412A83;  // pink
$colorYellow: #ffed00;  // yellow
$colorOrange: #f8af04;  // orange
$colorGrey: #dadada;  // grey
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #666666;
$colorWhiteSmoke: #ececec;

@font-face {
  font-family: 'zathu';
  src: url('/static/fonts/zathu-webfont.woff2') format('woff2'),
       url('/static/fonts/zathu-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
$font-family-zathu: 'zathu', Arial, sans-serif;
$font-family-default: Arial, sans-serif;
