//Font Size
$font-x-small       :     8px;
$font-small         :     14px;
$font-x-medium      :     16px;
$font-medium        :     18px;
$font-large         :     20px;
$font-x-large       :     32px;
$font-xx-large      :     40px;

// Typography

$font-family-sans-serif: "TwCenMT-Regular", ArialMT, Arial, sans-serif;
$font-family-TwCentBold: "TwCenMT-Bold", Arial-BoldMT, Arial, sans-serif;
$font-family-avenir-ot: "Avenir", ArialMT, Arial, sans-serif;
$font-family-avenirBold: "AvenirBold", Arial-BoldMT, Arial, sans-serif;

// Colour - defaults

$colorFirst: #32a6a6; // turquoise
$colorSecond: #124f52; // dark turquoise
$colorThird: #c4d131; // green
$colorFourth: #333; // black

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #666666;
$colorWhiteSmoke: #ececec;

$font-family-zathu: 'zathu', Arial, sans-serif;
$font-family-default: Arial, sans-serif;
