
$colorPurple: #412A83;  // pink
$colorYellow: #ffed00;  // yellow
$colorOrange: #f8af04;  // orange
$colorGrey: #dadada;  // grey

@font-face {
  font-family: 'zathu';
  src: url('/static/fonts/zathu-webfont.woff2') format('woff2'),
       url('/static/fonts/zathu-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
$font-family-zathu: 'zathu', Arial, sans-serif;
$font-family-default: Arial, sans-serif;
