{% load wagtailsettings_tags wagtailcore_tags core_tags wagtailimages_tags comments %}
{% if article.is_commenting_enabled %}
  <div id="comments_form" class="comments__form">
    <div class="comments__form-post">
      {% if article.allow_commenting %}
        {% if request.user.is_authenticated %}
          <div class="heading heading--secondary">
            <h4 class="heading__subheading">{% trans "Comment" %}</h4>
          </div>
          {% render_comment_form for article %}
        {% else %}
          <a href="{% url LOGIN_URL %}" class="call-to-action__button call-to-action__button--primary">
            {% trans "Log in to comment" %}
          </a>
        {% endif %}
      {% else %}
        <div class="heading heading--secondary">
          <h4 class="heading__subheading">{% trans "Comment" %}</h4>
        </div>
        <h5 class="heading__subtitle">{% trans "Commenting on this article is currently disabled." %}</h5>
        <div class="comments__form-disabled">
          {% render_comment_form for article %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
