{% with article as article %}
  <form method="post" id="comment-form" action="{% url 'molo.commenting:molo-comments-post' %}">
  {% csrf_token %}
    <div class="form-group{% if form.comment.errors %} input-error {% endif %}">
    {% if form.errors %}
      <p class="errors">{% trans "Please correct the error below" %}</p>
    {% endif %}
      {{ form.comment }}
      {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
    </div>
    <input type="submit" name="submit" id="submit" value="Submit">
    {{ form.object_pk }}
    {{ form.content_type }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{{ request.path|urlencode }}" />
  </form>
{% endwith %}
{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#comment-form').submit(function() {
      $.ajax({
        data: $(this).serialize(),
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        success: function (data) {
          // if the comment was a success, remove the comment text from the text area
          $('#id_comment').val('');
          $('#id_comment').after("<p class='comment-success'>Thank you for your comment!</p>")
        },
      });
      return false;
    });
  });
</script>
{% endblock %}
