{% load core_tags wagtailcore_tags %}
<div class="section-teaser-listing section-teaser-listing--base">
  <div class="section-teaser-listing-header section-teaser-listing-header--{{self.get_effective_extra_style_hints}}">
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="section" htmltag="h1" title=self.title %}
    {% include "patterns/basics/banners/sp_variations/section-banner.html" %}
  </div>
  {% load_child_articles_for_section self as articles %}
  {% include "patterns/components/article-teasers/sp_variations/base-teaser-listing.html" %}
  {% include "patterns/basics/pagination/pagination-pageof.html" %}

  {% get_tags_for_section self as tags %}

  {% for tag, tag_articles in tags %}
  {% include "patterns/components/article-teasers/sp_variations/carousel-teaser-listing.html" %}
  {% endfor %}
