.call-to-action {
  padding: 10px 15px;
  &__nav {
    &-item-text {
      text-decoration: underline;
      text-transform: uppercase;
      text-align: center;
      display: block;
      &--right {
        &:after {
          background-image: url(/static/img/icons/tanzania/arrow-right.png);
          background-position: center center;
          background-size: 100%;
          background-repeat: no-repeat;
          display: inline-block;
          content: " ";
          width: 30px;
          height: 20px;
          vertical-align: middle;
          margin: 0 15px 0;
        }
      }
    }
  }
  &__item {
    color: $color-blue;
  }
  &__button {
    background-color: $color-blue;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 85%;
    padding: 0.5em 1em;
    display: block;
    margin: 0 auto 1em;
    &-text {
      display: block;
      text-align: center;
      font-weight: bold;
      &--hyperlink {}
    }
  }
}
