.call-to-action {
  padding: 10px 15px;
  &__nav {
    font-weight: 500;
    &-item--replies-counter {
      color: $color-blue;
      float: right;
    }
    &-item-share {
      font-weight: 500;
      &--twitter {
        background: url(/static/img/icons/tanzania/twitter.png) no-repeat center / 100%;
        height: 24px;
        width: 24px;
        display: inline-block;
        vertical-align: middle;
      }
      &--facebook {
        background: url(/static/img/icons/tanzania/facebook.png)  no-repeat center / 100%;
        height: 24px;
        width: 24px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    &-item-text {
      color: $color-blue;
      text-decoration: underline;
      text-transform: uppercase;
      text-align: center;
      display: block;
      margin: 1em auto 1.5em;
      font-weight: 500;
      &--right {
        color: $color-blue;
        text-align: right;
        &:after {
          background-image: url(/static/img/icons/tanzania/arrow-right.png);
          background-position: center center;
          background-size: 100%;
          background-repeat: no-repeat;
          display: inline-block;
          content: " ";
          width: 30px;
          height: 20px;
          vertical-align: middle;
          margin: 0 15px 0;
        }
      }
      &--left {
        color: $color-blue;
        text-align: left;
        &:before {
          background-image: url(/static/img/icons/tanzania/arrow-right.png);
          background-position: center center;
          background-size: 100%;
          background-repeat: no-repeat;
          display: inline-block;
          content: " ";
          width: 30px;
          height: 20px;
          vertical-align: middle;
          margin: 0 15px 0;
          transform: rotate(180deg);
        }
      }
      &--readmore {
        text-align: left;
        padding: 0 10px;
      }
    }
  }
  &__item {
    color: $color-blue;
    font-weight: 500;
  }
  &__button {
    border: none;
    color: $color-blue;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 1em;
    display: block;
    &-text {
      display: block;
      text-align: center;
      font-weight: 500;
      &--hyperlink {
        background: transparent;
        margin: 0 auto;
      }
    }
    &--primary {
      background-color: $color-blue;
      color: #fff;
      cursor: pointer;
      width: 85%;
      padding: 1em;
      margin: 0 auto 2em;
      z-index: 99999999;
      position: relative;

      &:after {
        background: transparent;
        border: 5px solid $color-blue;
        content: "";
        display: block;
        width: 101%;
        height: 52px;
        position: absolute;
        left: 0;
        right: -1em;
        margin: 0 auto;
        top: 0.4em;
      }
    }
  }
  &__hyperlink {
    color: $color-blue;
  }

}
