.banner {
  &__block {
    background-color: $color-light-gray;
    .heading {
      &__subheading {
        text-align: center;
      }
    }
  }
  &__title {}
  &__subtitle {
    text-align: center;
  }
}
