.banner {
  &__image {
    width: 100%;
  }
  &__block {
    background-color: $color-light-gray;
    padding: 1em 1.5em;
    .heading {
      &__subheading {
        text-align: center;
      }
    }
    .call-to-action__button {
      background-color: none;
      color: $color-blue;
      width: auto;
      padding: 5px;
      &-text--hyperlink:before {
        display: none;
        visibility: hidden;
      }
    }
  }
  &__subtitle {
    color: $color-grayish-blue;
    text-align: center;
  }
}
