.contact {
  overflow: hidden;
  position: relative;
  &-inner {
    position: relative;
    &__title {
      font-size: 22px;
      padding: 0 10px;
      text-align: center;
    }
    p {
      font-size: 1em;
      padding: 0 10px;
      text-align: center;
    }
    a {
      padding: 0 10px;
    }
    ul, ol {
      padding: 0 10px;
      list-style-position: inside;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &-pagination {
    text-align: center;
    padding: 0 10px;
    &--multi-step {
      padding: 2em 10px 0;
    }
    &__page {
      color: $color-grayish-blue;
      font-size: 1em;
      font-style: italic;
      font-weight: normal;
    }
    &__number {
      color: $color-dark_grayish-blue;
    }
    &__title {
      color: $color-dark_grayish-blue;
      font-size: 18px;
      text-align: left;
    }
  }
  &__terms {
    padding: 0 10px;
  }
}
