#footer-bar {
  padding-top: 10px;
  text-align: center;
  .heading__micro * {
    color: $color-dark-gray;
  }
 .footer-logo {
   width: 150px;
   height: 45px;
   display: inline-block;
    &:after {
      content: "Tanzania";
      color: $color-blue;
      display: block;
      font-size: 40px;
    }
  }
}
