#footer-bar {
  padding-top: 1.5em;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  .heading__micro * {
    text-transform: uppercase;
    padding: 10px 0;
    color: $color-dark-gray;
  }
 .footer-logo {
   width: 150px;
   height: 45px;
   display: inline-block;
    &:hover, &:active, &:focus {
     animation: pulse 0.5s ease 0s 1;
    }
    &:after {
      background-image: url('/static/img/logos/tujibebe.svg'), url('/static/img/logos/tujibebe.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
      color: #003cdc;
      content: "";
      display: block;
      font-size: 40px;
      height: 100%;
      width: 170px;
      margin: 0 auto;
    }
  }
}
