.heading {
  color: $color-dark-gray;
  &__component {
    color: $color-blue;
    padding: 1.5em 1em 0;
    text-align: center;
    text-transform: capitalize;
    &:after {
      content: " ";
      background-image: url(/static/img/icons/tanzania/icon-sprite.png);
      background-position: -7em -20em;
      background-size: 250px; //150px
      background-repeat: no-repeat;
      display: block;
      width: 150px;
      padding: 10px 0;
      margin: 0 auto 20px;
    }
  }
  &__subheading {
    color: $color-dark_grayish-blue;
    padding: 1em 1em 0.5em;
    text-align: center;
  }
  &__micro {
    color: $color-dark-gray;
    text-align: center;
    font-weight: 400;
    * {
      font-size: 18px;
    }
    &-hyperlink * {
      display: inline-block;
    }
  }
  &__basic {
    padding: 1em 0;
  }
  &__article {
    color: $color-dark_grayish-blue;
    margin: 0;
    padding: 2em 15px 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__square {
    padding: 1.5em 1em 0;
  }
}

.hash-tag {
  color: $color-blue;
}
