.heading {
  color: $color-dark_grayish-blue;
  &__component {
    text-align: center;
    margin: 0 10px;
    padding-top: 15px;
    &:after {
      content: " ";
      background-image: url(/static/img/icons/tanzania/underline-squiggle-blue.png);
      background-position: center center;
      background-size: 110px;
      background-repeat: no-repeat;
      display: block;
      width: 110px;
      padding: 10px 0;
      margin: 0 auto 20px;
    }
  }
  &__subheading {
    color: $color-dark-gray;
  }
}
