.heading {
  color: $color-blue;
  &__component {
    color: $color-dark-gray;
    padding: 1.5em 1em 0;
    text-align: center;
    &:after {
      content: " ";
      background-image: url(/static/img/icons/tanzania/underline-squiggle-blue.png);
      background-position: center center;
      background-size: 150px;
      background-repeat: no-repeat;
      display: block;
      width: 150px;
      padding: 10px 0;
      margin: 0 auto 20px;
    }
  }
  &__subheading {
    color: $color-dark_grayish-blue;
    padding: 1em 1em 0.5em;
    text-align: center;
  }
  &__micro {
    color: $color-grayish-blue;
    text-align: center;
    * {
      font-size: 18px;
    }
  }

  &__article {
    color: $color-dark_grayish-blue;
    margin: 0;
    padding: 2em 15px 0;
    text-align: center;
    text-transform: uppercase;
  }

}
