.logo {
  padding: 0 10px;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  z-index: 999;
  &:hover {
    text-decoration: none;
  }
  &__image {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-width: 150px;
  }
  &--center {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    &__image {
      width: 65%;
    }
  }
}
