.menu-list {
  display: block;
  overflow: auto;
  text-align: center;
  &__item  {
    display: inline-block;
    border: none;
    overflow: hidden;
  }
  &__label {
    color: #fff;
    display: block;
    @media screen and (min-width: 45.000em) {
      display: none;
    }
  }
  &__anchor {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    display: block;
    width: 100%;
    &-toggle,
    &-standard,
    &-profile-icon,
    &-search-icon {
      color: $color-dark-cyan;
      margin: 5px 0 0;
    }
    &:hover, &:active, &:focus {
      .menu-list__label {
        color: $color-pink;
      }
    }
  }
}


//SECTION NAVIGATION
.section-nav {
  text-align: center;
  padding: 10px 0;
  &-list {
    width: 100%;
    &__item {
      display: inline-block;
      padding: 10px 0 0 0;
    }
    &__anchor {
      color: #fff;
      text-decoration: none;
      padding: 0 0.5em 5px;
      &:hover {
        background: url('/static/img/icons/tanzania/checkbox-icons.png') no-repeat center -16em/100px;
      }
    }
    &-wrap {
      display: inline-block;
      padding: 0;
    }
    .selected {
      background: url('/static/img/icons/tanzania/checkbox-icons.png') no-repeat center -16em/100px;
    }
  }
}
