
//SECTION NAVIGATION
.section-nav {
  text-align: center;
  &-list {
    width: 100%;
    &__item {
      display: inline-block;
      padding: 0 5px 5px;
    }
    &__anchor {
      padding: 0;
      color: #fff;
      text-decoration: none;
      &:hover, &.selected {
        border-color: red;
      }
    }
    &-wrap {
      display: inline-block;
      padding: 0;
    }
  }
}
