.polls {
  overflow: auto;
  position: relative;
  &__bubble-icon {
    background: url('/static/img/icons/tanzania/illustrations.png') no-repeat 0 -68em/100%;
    height: 105px;
    width: 105px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 2em;
  }
  &__container {
    padding: 3em 0 0;
    margin: 5.5em 0 0;
  }
  //POLLS PLUGIN VS POLL VIA SURVEYS CONFLICT
  .heading {
    &__component,
    &__subheading--homepage,
    &__article {
      color: $color-dark-gray;
      &:after {
        background-image: url(/static/img/icons/tanzania/icon-sprite.png);
        background-repeat: no-repeat;
        background-position: -3em -26em;
        background-size: 220px;
        content: "";
        display: block;
        width: 220px;
        padding: 20px 0;
        margin: 0 auto;
      }
      * {
        font-size: 23px;
      }
    }
    &__micro {
      display: none;
      visibility: hidden;
    }
    &__subheading {
      h3 {
        font-size: 23px;
      }
      p {
        font-size: 16px;
      }
    }
    &__article * {
      text-transform: initial;
      font-size: 23px;
      font-weight: 500;
    }
  }
  .polls-results {
    background-color: $color-light-gray;
    margin: 0;
    padding: 0 15px;
    &-list {
      background-color: $color-light-gray;
      margin: 0;
      padding: 0 15px;
      &__item {
        display: block;
        padding: 0 0 10px;
        label {
          text-align: left;
        }
      }
      &__percent {
        background: #fff;
        color:$color-blue;
        border-radius: 20px;
        font-weight: 500;
        margin: 10px 0 0;
      }
      &__percent-bar {
        background: $color-yellow;
        border-radius: 20px;
        .choice-percentage {
          display: block;
          vertical-align: middle;
          padding: 5px 10px;
        }
      }
    }
  }
  //POLLS PLUGIN VS POLL VIA SURVEYS CONFLICT
  &--homepage {
    .polls__container {
      background-color: $color-light-gray;
      padding: 3em 0;
      margin: 5.5em 0 1em;
    }
  }
  form {
    background-color: $color-light-gray;
  }
  input[type=checkbox] ~ label {
    padding: 10px 15px;
  }
}
