.polls {
  img {
    width: 100%;
    height: auto;
  }
  &__container {
    background-color: $color-dark_grayish-blue;
    padding: 20px 0 8px;
  }

  .polls-results {
    margin: 0;
    padding: 0 15px;
    &-list {
      margin: 0;
      padding: 0 15px;
      &__item {
        display: block;
        padding: 0 0 10px;
        label {
          text-align: left;
        }
      }
      &__percent {
        background: #fff;
        color:$color-grayish-blue;
        border-radius: 20px;
        margin: 10px 0 0;
      }
      &__percent-bar {
        background: $color-yellow;
        border-radius: 20px;
        .choice-percentage {
          display: block;
          vertical-align: middle;
          padding: 5px 10px;
        }
      }
    }
  }
}
