//HEADER
#profile {
  @media screen and (min-width: 20.000em) {
    float: left;
  }
  .menu-list__anchor--section-nav {
    background-image: url(/static/img/icons/tanzania/icon-sprite.png);
    background-position: 0 0;
    background-size: 245px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    padding-top: 40px;
    margin: 0 auto;
    &:hover, &:active, &:focus {
      background-position: 0.3px -58.4px;
    }
  }
}

//PROFILE PAGE
.profiles {
  text-align: center;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  fieldset {
    text-align: center;
  }
  label {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  &__form--block {
    background: $color-light-gray;
    margin: 30px auto;
    text-align: center;
    padding: 10px 0;
  }
  &-join-banner {
    background-color: $color-blue;
    padding: 10px 0;
    &__content {
      padding-bottom: 0;
    }
    &__icon  {
      padding-bottom: 0;
      width: 95px;
      height: 119px;
      margin: 0 auto;
    }
  }
  .heading__square {
    color: $color-dark-gray;
    &:after {
      background-image: url(/static/img/icons/tanzania/icon-sprite.png);
      background-repeat: no-repeat;
      background-position: -3em -26em;
      background-size: 220px;
      content: "";
      display: block;
      width: 220px;
      padding: 20px 0;
      margin: 0 auto;
    }
  }
  
  .call-to-action__nav-item-text {
    text-align: right;
    &:after {
      background-image: url(/static/img/icons/tanzania/icon-sprite.png);
      background-position: 0 -28em;
      background-size: 265px;
      background-repeat: no-repeat;
      display: inline-block;
      content: " ";
      width: 40px;
      height: 25px;
      vertical-align: middle;
      margin: 0 15px 0;
    }
  }
}


.profiles-join-banner {
  overflow: auto;
  background-color: $color-green;
  display: flex;
  padding: 2em 10px;
  position: relative;
  align-items: center;
  flex-direction: row-reverse;
  &__content {
    width: 60%;
    .heading * {
      color: #fff;
    }
  }
  &__icon  {
    margin: 0 auto;
    width: 40%;
    background: url('/static/img/icons/tanzania/hi-illustration-blue.png') no-repeat 0 0/125px;
    height: 165px;
    overflow: auto;
    margin: 0 8px 0;
  }
}
