#profile {
  @media screen and (min-width: 20.000em) {
    float: left;
  }
  .menu-list__anchor--section-nav {
    background-image: url(/static/img/icons/tanzania/profile-icon.png);
    background-position: 0 0;
    background-size: 35px;
    background-repeat: no-repeat;
    display: block;
    width: 35px;
    padding-top: 40px;
    margin: 0 auto;
  }
}
