//HEADER
#profile {
  @media screen and (min-width: 20.000em) {
    float: left;
  }
  .menu-list__anchor--section-nav {
    background-image: url(/static/img/icons/tanzania/profile-icon.png);
    background-position: 0 0;
    background-size: 25px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    padding-top: 40px;
    margin: 0 auto;
  }
}

//PROFILE PAGE
.profiles {
  text-align: center;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  fieldset {
    text-align: center;
  }
  label {
    display: inline-block;
  }
  &__form--block {
    background: $color-light-gray;
    margin: 30px auto;
    text-align: center;
    padding: 10px 0;
  }
  &-join-banner {
    background-color: $color-blue;
    padding: 10px 0;
    &__content {
      padding-bottom: 0;
    }
    &__icon  {
      padding-bottom: 0;
      width: 95px;
      height: 119px;
      margin: 0 auto;
    }
  }
}


.profiles-join-banner {
  overflow: auto;
  background-color: $color-blue;
  &__content {
    float: left;
    width: 65%;
  }
  &__icon  {
    float: right;
    margin: 15% 8px 0;
  }
}
