.reaction-questions {
  &__block {
    background-color: $color-green;
    padding: 20px 0;
    .heading__subheading {
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
    }
  }
  &__list {
    text-align: center;
  }
  &__item {
    display: inline-block;
    margin: 0 20px;
    input {
      display: none;
    }
  }
  &__image {
    cursor: pointer;
    line-height: 80px;
    img {
      vertical-align: middle;
    }
  }
  &__label {
    color: #fff;
    display: block;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover, &:active, &:focus {
      opacity: 0.5;
      &__numeral {
        color: $color-pink;
      }
    }
  }
  &__message {
    text-align: center;
    padding: 0 10px 10px;
  }
}

.reaction-questions-success {
  &__block {
    background-color: $color-blue;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    .heading__micro-alt {
      padding: 10px;
      margin: 0;
    }
  }
  &__image {
    margin: 10px;
    display: inline-block;
    img {
      vertical-align: middle;
      width: 100%;
      height: auto;
      max-width: 345px;
    }
  }
}
