.social-media-footer {
  &__anchor {
    img {
      vertical-align: middle;
      margin-right: 4px;
      }
    &:hover {
      text-decoration: none;
    }
  }
  &__label {
    vertical-align: middle;
    color: $color-blue;
  }
}

.social-media-footer-list {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0 0 15px;
  &__item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
  }
}
