.social-media-list {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0 0 2em;
  &__item {
    display: inline-block;
    padding: 0 5px;
  }
  &__label {
    padding: 0;
    margin: 5px 0 0;
    color: $color-dark_grayish-blue;
    &:after {
      color: $color-dark_grayish-blue;
      content: ":";
      display: inline-block;
    }
  }
  &__anchor {
    color: $color-blue;
    &:hover {
      color: $color-dark_grayish-blue;
    }
  }
}


.social-media-footer {
  &__label {
    vertical-align: middle;
    color: $color-blue;
  }
  &__anchor {
    img {
      vertical-align: middle;
      margin-right: 4px;
    }
    &:hover {
      .social-media-footer__label {
        text-decoration: underline;
        color: $color-dark_grayish-blue;
      }
    }
  }

  &-list {
      display: block;
      text-align: center;
      margin: 0;
      padding: 0 0 15px;
    &__item {
      display: inline-block;
      vertical-align: middle;
      padding: 0 8px;
    }
  }
}
