// HEADER
#search {
  @media screen and (min-width: 20.000em) {
    float: right;
  }
  .menu-list__anchor--section-nav {
    background-image: url(/static/img/icons/tanzania/search-icon-white.png);
    background-position: 0 0;
    background-size: 25px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    padding-top: 40px;
    margin: 0 auto;
  }
}

.header__search-input,
.header__search-input + * {
  display: none;
}
.header__search-input:checked + * {
  display: block;
  transition: display 0.5s ease;
}
.header__search-bar {
  background-color: $color-blue;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999999;
  padding: 15px 10px;
  width: 100%;
}



//GENERAL *
.call-to-action__item {
  &--with-icon {
    text-indent: -100em;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 0;
  }

  &--search-icon {
    background-color: transparent;
    background-image: url(/static/img/icons/tanzania/search-icon-blue.png);
    background-repeat:  no-repeat;
    background-position: 0 0;
    background-size: 35px;
    right: 10px;
  }
  &--search-icon-bg {
    background-color: transparent;
    background-image: url(/static/img/icons/tanzania/search-icon-blue.png);
    background-repeat:  no-repeat;
    background-position: 0 0;
    background-size: 35px;
    right: 10px;
    top: 5px;
  }
}
