
//SECTION NAVIGATION
.section-nav {
  text-align: center;
  padding: 10px 0;
  &-list {
    width: 100%;
    padding: 10px 0 0;
    &__item {
      display: inline-block;
      position: relative;
      z-index: 99999;
      //padding: 0 0.5em;
    }
    &__anchor {
      color: #fff;
      text-decoration: none;
      padding: 5px 0;
      z-index: 99999;
      &:after {
        background: transparent;
        content: "";
        width: 100%;
        border-radius: 20px;
        height: 4px;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        top: -8px;
        left: 0;
        right: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
      &:hover, &:focus, &:active {
        &:after {
          //background-image: url('/static/img/icons/tanzania/squiggle-pink.svg');
          //background-repeat: no-repeat;
          //background-position: center;
          //background-size: cover;
          //position: absolute;
          //top: 0.5em;
          //left: -13px;
          //right: 0;
          //z-index: -1;
          background: $color-pink;
        }
      }
    }
    &-wrap {
      display: inline-block;
      padding: 0;
    }
    .selected {
      &:after {
        background: $color-pink;
      }

    }
  }
}
