.yourwords {
  padding: 5em 0 1em;
  position: relative;
  &__container {
    padding: 5.5em 0 1em;
    &-form {
      padding: 0 0 1em 0;
      background: $color-light-gray;
    }
    article {
      padding: 0;
      margin: 0;
    }
    .heading__micro * {
      font-weight: 700;
    }
  }
  .identity-image--yourwords {
    background: url('/static/img/icons/tanzania/illustrations.png') no-repeat 60% -36em/150px;
    height: 135px;
    overflow: auto;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
  }
  .heading__component {
    color: $color-pink;
    text-transform: uppercase;
    padding: 1em 1em 0;
    &:after {
      display: none;
      visibility: hidden;
    }
    h1, h2 {
      font-size: 20px;
    }
  }

  &--homepage {
    .yourwords__container {
      background-color: $color-yellow;
    }
    .heading__subheading {
      color: $color-pink;
      padding: 0 1em 1em;
      * {
        font-size: 18px;
      }
    }
    .heading__micro {
      color: $color-pink;
      text-transform: uppercase;
    }
    .heading__macro {
      color: $color-pink;
      padding: 10px 1.5em;
    }
  }
  article:after {
    display: none;
    visibility: hidden;
  }
}

.gcn-competition {
  padding: 0 0 1em;
  position: relative;
  &__default {
    background-image: url('/static/img/icons/tanzania/illustrations.png');
    background-repeat: no-repeat;
    background-position: 0 -67em;
    background-size: 150px;
    height: 150px;
    overflow: auto;
    margin: 2em auto 0;
    width: 115%;
    @media screen and (min-width: 38.125em) {
      background-position: center -67em;
      width: 100%;
    }
  }
  .heading__component {
    color: $color-dark-gray;
    &:after {
      background-image: url(/static/img/icons/tanzania/icon-sprite.png);
      background-repeat: no-repeat;
      background-position: -3em -26em;
      background-size: 220px;
      content: "";
      display: block;
      width: 220px;
      padding: 20px 0;
      margin: 0 auto;
    }
    h1, h2 {
      font-size: 20px;
    }
  }
  //START HOMEPAGE UI
  &--homepage {
    background-color: $color-blue;
    display: flex;
    flex-wrap: wrap;
    .heading__component {
      color: $color-green;
      text-transform: uppercase;
      text-align: left;
      padding: 1em 1em 0;
      &:after {
        display: none;
        visibility: hidden;
      }
      h1, h2 {
        font-size: 20px;
      }
    }
    .heading__subheading {
      color: #fff;
      text-align: left;
      padding: 0 1em 1em;
      * {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    .call-to-action__button {
      color: #fff;
      &--primary {
        background-color: $color-green;
        &:hover, &:active, &:focus {
          background-color:  $color-dark-green;
        }
      }
    }
  }
  //END HOMEPAGE UI
  aside {
    width: 35%; //Flex
    margin: 2em 0 0 1em;
    padding: 0;
    @media screen and (min-width: 38.125em) {
      margin: 2em 0 0 2em;
    }
  }
  section {
    width: 55%; //Flex
    padding: 1.5em 0 0;
  }
}
