.yourwords {
  padding: 5em 0 1em;
  position: relative;
  &__container {
    background-color: $color-yellow;
    padding: 5.5em 0 1em;
    &-form {
      background-color: #fff;
    }
  }
  .identity-image--yourwords {
    background: url('/static/img/icons/tanzania/pencil-pink.png') no-repeat center center/110px;
    height: 135px;
    overflow: auto;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
  }
  .heading__component {
    color: $color-pink;
    text-transform: uppercase;
    padding: 1em 1em 0;
    &:after {
      display: none;
      visibility: hidden;
    }
    h1, h2 {
      font-size: 20px;
    }
  }
  .heading__subheading {
    color: $color-pink;
    padding: 0 1em 1em;
    * {
      font-size: 18px;
    }
  }
  .heading__micro {
    color: $color-pink;
    text-transform: uppercase;
  }
}

.gcn-competition {
  background-color: $color-blue;
  padding: 0 0 1em;
  position: relative;
  aside {
    width: 35%; //Flex
    margin: 2em 0 0 2em;
    padding: 0;
  }
  section {
    width: 55%; //Flex
    padding: 1.5em 0;
  }
  &--homepage {
    display: flex;
    flex-wrap: wrap;
  }
  &__default {
    background: url('/static/img/icons/tanzania/okay-illustration-green.png') no-repeat 0 0/120px;
    height: 150px;
    overflow: auto;
  }
  .heading__component {
    color: $color-green;
    text-transform: uppercase;
    text-align: left;
    padding: 1em 1em 0;

    &:after {
      display: none;
      visibility: hidden;
    }
    h1, h2 {
      font-size: 20px;
    }
  }
  .heading__subheading {
    color: #fff;
    text-align: left;
    padding: 0 1em 1em;
    * {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .call-to-action__button {
    color: #fff;
    &--primary {
      background-color: $color-green;
      &:after{
        border-color: $color-green;
      }
    }
  }

}
