
.section-teaser-listing-header {
  background-color: $springster-purple;
  @include grid(100%);
  list-style-type: none;
  margin: 8px 8px 0;
  padding: 0;
  max-height: 128px;
  
  .heading__section, .section-banner {
    @include column($grid-six);
    padding-right: 0;
    padding-bottom: 0;
  }
  
  .section-banner {
    text-align: right;
    
    img {
      width: 100%;
      max-width: 172px;
      display: block;
      float: right;
    }
  }
}

// Sections colours as per design, using slug names
.section-teaser-listing-header--my-body {
  background-color: $my-body;
}

.section-teaser-listing-header--my-life {
  background-color: $my-life;
}

.section-teaser-listing-header--my-future {
  background-color: $my-future;
}

.section-teaser-listing-header--girl-stories {
  background-color: $girl-stories;
}
