.header {
  background-color: $color-blue;
  padding: 10px 10px 5px;
  position: relative;
  &-wrapper {
    margin: 0 auto;
    @media screen and (min-width: 20.000em) {
      max-width: 360px;
    }
  }
  &-fixed {
    @media screen and (min-width: 320px) {
      position: fixed;
      top: 0;
      z-index: 9999;
      width: 100%;
      box-sizing: border-box;
      transform: translate3d(0px, 0px, 0px);
      transition: transform 300ms ease 0ms;
      animation: qs-timer 300ms;
    }
  }
  .logo {
    &__image {
      height: 27px;
      width: 97px;
    }
  }
  input[type=checkbox],
  input[type=radio] {
    display: none;
    visibility: hidden;
  }
}
