{% load wagtailcore_tags %}
{% comment %}
  <!-- NOTE:: Fragmented Markup -->
{% endcomment %}
  {% if footers %}
    {% for page in footers|slice:":2" %}
      <li class="menu-list__item">
        <a href="{% pageurl page.specific %}" class="menu-list__anchor">{{page.title}}</a>
      </li>
    {% endfor %}
  {% endif %}
</ul>
<ul class="menu-list menu-list--column3">
  <li class="menu-list__item">
    <a href="mailto:malik.shaffy@girleffect.org?Subject=Contacting?Ni?Nyampinga" class="menu-list__anchor">
      {% trans "Contact us" %}</a>
  </li>
  {% if footers %}
    {% for page in footers|slice:"2:" %}
      <li class="menu-list__item">
        <a href="{% pageurl page.specific %}" class="menu-list__anchor">{{page.title}}</a>
      </li>
    {% endfor %}
  {% endif %}
