{% load wagtailcore_tags core_tags wagtailimages_tags gem_tags staticfiles comments %}
{% if articles %}
<div class="article-teaser article-teaser--promo">
  <div class="heading">
    <h1 class=" heading__component">
      {% trans "Latest stories" %}
    </h1>
  </div>
  <ul class="teaser-stacklist">
  {% for article in articles %}
    <li class="teaser-stacklist__item">
      <div class="teaser-stacklist__wrapper">
      {% if article.get_effective_image %}
        <div class="teaser-stacklist__thumbnail-wrap">
          <a href="{% pageurl article.specific %}" class="article-teaser__link">
            {% image article.get_effective_image width-180 as teaser_thumbnail %}
            <img alt="{{ article.title }}" src="{{ teaser_thumbnail.url }}" class="article-teaser__thumbnail" />
          </a>
        </div>
      {% endif %}
      <div class="teaser-stacklist__content">
          <a href="{% pageurl article.specific %}" class="article-teaser__link">
            {% if article.title_highlight %}
              <h3 class="article-teaser__title article-teaser__title--highlight">
                {{ article.title_highlight|smarttruncatechars:23|safe}}
              </h3>
            {% else %}
              <h3 class="article-teaser__title">
                {{ article.title|smarttruncatechars:23|safe}}
              </h3>
            {% endif %}
          </a>
            {% if article.subtitle_highlight or article.body_highlight %}
              <p class="article-teaser__subtitle highlight-description">
                {% if article.subtitle_highlight %}
                  {{article.subtitle_highlight|smarttruncatechars:30|safe}}
                {% elif article.body_highlight %}
                  {{article.body_highlight|smarttruncatechars:30|safe}}
                {% endif %}
              </p>
            {% elif article.subtitle %}
              {% if article.title.30 %}
                <p class="article-teaser__subtitle">{{ article.subtitle|smarttruncatechars:30|safe}}</p>
              {% else %}
                <p class="article-teaser__subtitle">{{ article.subtitle|smarttruncatechars:50|safe}}</p>
              {% endif %}
            {% endif %}
          <a class="call-to-action__read-more" href="{% pageurl article.specific %}">{% trans "Read more" %}</a>
          {% load_tags_for_article article as tags %}
          <ul class="teaser-stacklist-tags">
            {% if settings.core.SiteSettings.enable_tag_navigation and tags %}
              {% for tag in tags %}
                {% if not tag.title.20 %}
                  <li class="teaser-stacklist-tags__item">
                    <a href="{% url 'tags_list' tag.slug %}" class="teaser-stacklist-tags__anchor">
                      {{ tag.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% get_comment_count for article as comment_count %}
            {% if comment_count > 0 %}
            <li class="teaser-stacklist-tags__item">
              <a href="{% pageurl article.specific %}?#comments" class="comment-counter">
                <div class="comment-counter__icon"></div>
                <span class="comment-counter__numeral">{{comment_count}}</span>
              </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}
