{% load wagtailcore_tags core_tags wagtailimages_tags gem_tags comments staticfiles %}
<div class="article-teaser">
  <ul class="teaser-stacklist">
    {% for section in sections %}
  {% load_descendant_articles_for_section section featured_in_homepage=True as featured_articles %}
    {% if featured_articles %}
        {% for article in featured_articles %}
          <li class="teaser-stacklist__item">
          <div class="teaser-stacklist__wrapper">
            {% if article.get_effective_image %}
            <div class="teaser-stacklist__thumbnail-wrap">
              <a href="{% pageurl article.specific %}" class="article-teaser__link">
                {% image article.get_effective_image width-200 as teaser_thumbnail %}
                <img alt="{{ article.title }}" src="{{ teaser_thumbnail.url }}" class="article-teaser__thumbnail" />
              </a>
            </div>
            {% endif %}
            <div class="teaser-stacklist__content">
              <a href="{% pageurl article.specific %}" class="article-teaser__link">
                {% if article.title_highlight %}
                  <h3 class="article-teaser__title article-teaser__title--highlight">
                    {{ article.title_highlight|smarttruncatechars:45|safe}}
                  </h3>
                {% else %}
                  <h3 class="article-teaser__title">
                    {{ article.title|smarttruncatechars:45|safe}}
                  </h3>
                {% endif %}
              </a>
              {% if article.subtitle_highlight or article.body_highlight %}
                <p class="article-teaser__subtitle highlight-description">
                  {% if article.subtitle_highlight %}
                    {{article.subtitle_highlight|smarttruncatechars:28|safe}}
                  {% elif article.body_highlight %}
                    {{article.body_highlight|smarttruncatechars:28|safe}}
                  {% endif %}
                </p>
              {% elif article.subtitle %}
                <p class="article-teaser__subtitle">
                  {% if article.title.30 %}
                    {{ article.subtitle|smarttruncatechars:28|safe}}
                  {% else %}
                    {{ article.subtitle|smarttruncatechars:50|safe}}
                  {% endif %}
                </p>
              {% endif %}
              <a class="call-to-action__read-more" href="{% pageurl article.specific %}">
                {% trans "Read more" %}
              </a>
            </div>
            {% get_comment_count for article as comment_count %}
            {% if comment_count > 0 %}
              <a href="{% pageurl article.specific %}?#comments" class="comments__counter">
                <img alt="Comments" srcset="{% static 'img/icons/comment.svg' %}" src="{% static 'img/icons/check@2x.png' %}" class="comments__counter-icon">
                <span class="comments__counter-number">{{comment_count}}</span>
              </a>
            {% endif %}
          </div>
        </li>
        {% endfor %}
  {% endif %}
    {% endfor %}
  </ul>
</div>
