{% load wagtailimages_tags %}
{% if social_media %}
  <div class="social-media">
    <div class="heading">
      <p class="heading__micro">{% trans "Find us elsewhere" %}:</p>
    </div>
    <ul class="social-media-list">
      {% for site in social_media %}
      <li class="social-media-list__item">
        <a href="https://{{ site.value.link }}" class="social-media__anchor">
          {% image site.value.image width-40 class="social-media__icon"%}
          <span class="social-media__label">{{ site.value.title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
