{% extends "base.html" %}
{% load wagtailcore_tags core_tags wagtailimages_tags wagtailembeds_tags staticfiles gem_tags comments molo_survey_tags %}

{% block content %}
{% get_translation self.get_parent_section as section %}
<div class="section-page {% if section.get_effective_extra_style_hints %}section-page--{{section.get_effective_extra_style_hints}}{% endif %}">
  <div class="section-page__theme"></div>
</div>
{% breadcrumbs %}
<div class="article-page {% if section.get_effective_extra_style_hints %}article-page--{{section.get_effective_extra_style_hints}}{% endif %}">
  <div class="article-page__content">
    {% if page.image %}
      {% image page.image width-1080 class="article-teaser__thumbnail" %}
    {% endif %}
    <ul class="teaser-stacklist-tags">
      {% get_comment_count for self as comment_count %}
      {% if comment_count > 0 %}
      <li class="teaser-stacklist-tags__item">
        <a href="{% pageurl article.specific %}?#comments" class="comments-counter">
          <div class="comments-counter__icon"></div>
          <span class="comments-counter__numeral">{{comment_count}}</span>
        </a>
        </li>
      {% endif %}

      {% load_tags_for_article self as tags %}
      {% if settings.core.SiteSettings.enable_tag_navigation and tags %}
        {% for tag in tags %}
          {% if not tag.title.20 %}
            <li class="teaser-stacklist-tags__item">
              <a href="{% url 'tags_list' tag.slug %}" class="teaser-stacklist-tags__anchor">
                {{ tag.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% elif settings.core.SiteSettings.enable_clickable_tags %}
        {% for tag in self.tagsList %}
          <li class="teaser-stacklist-tags__item">
            <a href="{% url 'self.tagsList' tag.specific %}?next={{request.path}}&tag={{tag}}" class="teaser-stacklist-tags__anchor">
              ==>{{tag}}
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>

    <h1 class="heading__headline">{{ page.title}}</h1>
    <h3 class="heading__subtitle">{{ page.subtitle}}</h3>
  </div>
  <article class="article">
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
        <div class="article-page__content">
          <div class="heading">
            <h3 class="heading__component">{{ block.value }}</h3>
          </div>
        </div>
      {% elif block.block_type == 'image' %}
        {% image block.value width-320 class="article-teaser__thumbnail" %}
      {% elif block.value.youtube_link %}
          {% with block.value as media %}
          <div class="media-player">
            <div class="media-player__content">
              {% if not is_via_freebasics %}
                <div class="media-player__embed-object">
                  {% embed media.youtube_link %}
                </div>
                <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button" download>
                  <span class="call-to-action__button-text call-to-action__button-text--yellow">
                    {% trans "Download Video" %}
                  </span>
                </a>
              {% else %}
                <div class="media-player__no-player">
                  <h4 class="media-player__title">{{media.title}}</h4>
                  <a alt="{% trans 'Click to watch on youtube!' %}" href="{{ media.youtube_link }}" target="_top" class="media-player__icon">
                    {% trans 'Click to watch on youtube!' %}
                  </a>
                  <h3 class="media-player__subtitle">
                  {% trans "Media will be played externally in a new window" %}
                  </h3>
                </div>
              {% endif %}
            </div>
          </div>
          {% endwith %}
      {% elif block.value.type == 'video'%}
        <div class="media-player">
          <div class="media-player__content">
          {% with block.value as media %}
            {% if not is_via_freebasics %}
              <video poster="/media/{{ media.thumbnail }}" controls>
                <source src={{media.file.url}} type="video/mp4">
                <source src={{media.file.url}} type="video/webm">
                <source src={{media.file.url}} type="video/ogg">
                <span class="media-player__caption">
                  {% trans "Your browser does not support the video tag." %}
                </span>
              </video>
              <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button" download>
                <span class="call-to-action__button-text">
                  {% trans "Download Video" %}
                </span>
              </a>
            {% else %}
              <div class="media-player__no-player">
                <h4 class="media-player__title">{{media.title}}</h4>
                <a alt="{% trans 'Click here to download video' %}" href="{{media.file.url}}" target="_top" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button media-player__icon" download></a>
                <h3 class="media-player__subtitle">
                  {% trans "Video files will not be played, you can download them" %}
                </h3>
              </div>
            {% endif %}
          {% endwith %}
          </div>
        </div>
      {% elif block.value.type == 'audio'%}
        <div class="media-player">
          <div class="media-player__content">
          {% with block.value as media %}
            {% if not is_via_freebasics %}
              <audio controls>
                <source src={{media.file.url}} type="audio/mpeg">
                <source src={{media.file.url}} type="audio/ogg">
                <source src={{media.file.url}} type="audio/wav">
                  <span class="media-player__caption">
                    {% trans "Your browser does not support the audio tag." %}
                  </span>
              </audio>
              <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Audio', 'Download', '{{media.title}}');" class="call-to-action__button" download>
                <span class="call-to-action__button-text">
                  {% trans "Download Audio" %}
                </span>
              </a>
            {% else %}
              <div class="media-player__no-player">
                <h4 class="media-player__title">{{media.title}}</h4>
                <a alt="{% trans 'Click here to download audio' %}"  href="{{media.file.url}}" onclick="ga('send', 'event', 'Audio', 'Download', '{{media.title}}');" class="call-to-action__button  media-player__icon" download></a>
                <h3 class="media-player__subtitle">
                  {% trans "Audio files will not be played, you can download them" %}
                </h3>
              </div>
            {% endif %}
          {% endwith %}
          </div>
        </div>
      {% elif block.block_type == 'numbered_list' %}
        <div class="article-page__content">
          <ol class="ordered-list">
            {% for item in block.value %}
              <li class="ordered-list__item">{{ item|handle_markdown }}</li>
            {% endfor %}
          </ol>
        </div>
      {% elif block.block_type == 'list' %}
        <div class="article-page__content">
          <ul class="unordered-list">
          {% for item in block.value %}
            <li class="unordered-list__item">
              {{ item|handle_markdown }}
            </li>
          {% endfor %}
          </ul>
        </div>
      {% else %}
        <div class="article-page__content">
          {{ block }}
        </div>
      {% endif %}
    {% endfor %}
  </article>
  <div class="article-page__content">
    <div class="social-media">
      <h3 class=" heading__subtitle">
      {% trans "Share article" %}
      </h3>
      {% social_media_article %}
    </div>
  </div>

  {% include "comments/comment_block.html" %}
  {% include "core/related-article-list.html" %}

  {% if parent_section.get_effective_extra_style_hints %}
    <div class="linebreak__{{parent_section.get_effective_extra_style_hints}}">
    </div>
  {% endif %}
  </div>
  {% surveys_list_for_pages page=self %}
{% endblock %}
