{% extends "base.html" %}
{% load wagtailcore_tags core_tags wagtailimages_tags wagtailembeds_tags staticfiles gem_tags comments %}

{% block content %}
{% get_translation self.get_parent_section as parent_section %}
<div class="article-page {% if parent_section.get_effective_extra_style_hints %}article--{{ parent_section.get_effective_extra_style_hints }}{% endif %}">
    <div class="heading">
      {% if page.title_highlight %}
        <h1 class="heading__article">
          {{ page.title_highlight|smarttruncatechars:45|safe}}
        </h1>
      {% else %}
        <h1 class="heading__article">
          {{ page.title|smarttruncatechars:45|safe}}
        </h1>
      {% endif %}
    </div>

    {% if page.subtitle_highlight or article.body_highlight %}
      <p class="article__subtitle highlight-description">
        {% if page.subtitle_highlight %}
          {{page.subtitle_highlight|smarttruncatechars:28|safe}}
        {% elif page.body_highlight %}
          {{page.body_highlight|smarttruncatechars:28|safe}}
        {% endif %}
      </p>
    {% elif page.subtitle %}
      <p class="article__subtitle">
        {% if page.title.30 %}
          {{ page.subtitle|smarttruncatechars:28|safe}}
        {% else %}
          {{ page.subtitle|smarttruncatechars:50|safe}}
        {% endif %}
      </p>
    {% endif %}

    {% get_comment_count for self as comment_count %}
    {% if comment_count > 0 %}
      <a href="{% pageurl self %}#comments" class="call-to-action__nav-item-text call-to-action__nav-item-text--article-comments">
        {% trans "Your thoughts" %}
        ({{comment_count}})
      </a>
    {% endif %}

    {% if page.image %}
      {% image page.image width-360 class="article-teaser__thumbnail" %}
    {% endif %}

    <article class="article">
      {% for block in self.body %}
        {% if block.block_type == 'heading' %}
          <div class="heading">
            <h3 class="heading__component">{{ block.value }}</h3>
          </div>
        {% elif block.block_type == 'image' %}
          {% image block.value width-320 class="article-teaser__thumbnail" %}
        {% elif block.value.youtube_link %}
          {% with block.value as media %}
          <div class="media-player">
            <div class="media-player__content">
              {% if is_via_freebasics %}
                <div class="media-player__no-player">
                  <h4 class="title">{{media.title}}</h4>
                  <a href="{{ media.youtube_link }}" target="_blank" class="media-player__icon"></a>
                  <h4>{% trans "Media will be played externally in a new window" %}</h4>
                </div>
              {% else %}
                <div class="media-player__embed-object">
                  {% embed media.youtube_link %}
                </div>
                <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="btn" download>
                  <span class="call-to-action__button button">{% trans "Download Video" %}</span>
                </a>
              {% endif %}
            </div>
          </div>
          {% endwith %}
        {% elif block.value.type == 'video'%}
        {% if not is_via_freebasics %}
        <div class="media-player">
          <div class="media-player__content">
            <video width="320" height="240" controls>
                <source src={{block.value.file.url}} type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <a href="{{block.value.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{block.value.title}}');" class="btn" download>
              <span class="call-to-action__button button">{% trans "Download Video" %}</span>
            </a>
          </div>
        </div>
        {% endif %}
        {% elif block.value.type == 'audio'%}
        {% if not is_via_freebasics %}
        <div class="media-player">
          <div class="media-player__content">
            <audio controls><source src={{block.value.file.url}}
              type="audio/mpeg">
            </audio>
            <a href="{{block.value.file.url}}" onclick="ga('send', 'event', 'Audio', 'Download', '{{block.value.title}}');" class="btn" download>
              <span class="call-to-action__button button">{% trans "Download Audio" %}</span>
            </a>
          </div>
        </div>
        {% endif %}
        {% elif block.block_type == 'numbered_list' %}
        <ol class="ordered-list">
          {% for item in block.value %}
            <li class="ordered-list__item">{{ item|handle_markdown }}</li>
          {% endfor %}
        </ol>
        {% elif block.block_type == 'list' %}
          <ul class="unordered-list">
          {% for item in block.value %}
            <li class="unordered-list__item">
              {{ item|handle_markdown }}
            </li>
          {% endfor %}
        </ul>
        {% elif block.block_type == 'paragraph' %}
        <!-- NO RICH TEXT -->
          <p class="article__paragraphs">{{block.value}}</p>
        {% else %}
          {{ block }}
        {% endif %}
    {% endfor %}
    </article>
    {% social_media_article %}

    {% load_tags_for_article self as tags %}
    {% if tags %}
    {% if settings.core.SiteSettings.enable_tag_navigation or settings.core.SiteSettings.enable_clickable_tags  %}
      <div class="article-page__tag-cloud">
        <ul class="teaser-stacklist-tags">
          <div class="heading">
            <h4 class="heading__micro">{% trans "Read more about" %}:</h4>
          </div>
    {% endif %}
          {% if settings.core.SiteSettings.enable_tag_navigation %}
            {% for tag in tags  %}
              <li class="teaser-stacklist-tags__item">
                <a href="{% url 'tags_list' tag.slug %}" class="teaser-stacklist-tags__anchor">
                  {{ tag.title }}
                </a>
              </li>
            {% endfor %}
          {% elif settings.core.SiteSettings.enable_clickable_tags %}
            {% for tag in self.tags_list %}
              <li class="teaser-stacklist-tags__item">
                <a href="{#{% url 'self.tags_list' tag.specific %}?next={{request.path}}&tag={{tag}}#}" class="teaser-stacklist-tags__anchor"></a>
                  {{tag}}
              </li>
            {% endfor %}
          {% endif %}
    {% if settings.core.SiteSettings.enable_tag_navigation or settings.core.SiteSettings.enable_clickable_tags  %}
        </ul>
      </div>
    {% endif %}
    {% endif %}
    {% include "comments/comment_block.html" %}
    {% include "core/related-article-list.html" %}
  </div>
{% endblock %}
