{% extends "base.html" %}
{% load cache wagtailcore_tags core_tags wagtailimages_tags staticfiles comments molo_survey_tags poll_votings competition_tag el_pagination_tags  gem_tags %}

{% comment %}
  media_tags - how it's used on Springster
{% endcomment %}

{% block content %}
  {% if 'cewekeren.com' in request.get_host %}
    <div class="message-notification">
      Hei cewek keren! Apa kamu pelanggan Indosat? Kalo iya, kamu bisa mengakses
      Girl Effect secara gratis lewat <a href="http://www.freebasics.com" target="_blank">Internet.org</a>
      hanya dengan meng-klik pilihan "Girl Effect" yang tersedia di dalam menu. Keren banget, kan?
    </div>
  {% endif %}
  {% if 'ninyampinga.com' in request.get_host %}
    <div class="message-notification">
    {% trans "This site is free for all MTN subscribers. If you are an Airtel or TIGO subscriber, you can access this site for free by going to " %}
        <a href="http://www.freebasics.com" target="_blank">freebasics.com</a>
    </div>
  {% endif %}

  {% bannerpages %}
  {% gembannerpages %}

  {% latest_listing_homepage %}
  {% media_listing_homepage %}
  {% surveys_list only_linked_surveys=True %}
  {% surveys_list only_direct_surveys=True %}
  {% poll_page %}
  {% section_listing_homepage %}

{% endblock %}
