{% extends "base.html" %}
{% load cache wagtailcore_tags core_tags wagtailimages_tags staticfiles comments molo_survey_tags poll_votings competition_tag el_pagination_tags gem_tags %}

{% comment %}
  media_tags - how it's used on Springster
{% endcomment %}

{% block content %}
  <div class="freebasics-notification">
    {% if 'cewekeren.com' in request.get_host %}
      {% blocktrans %}
        <p class="freebasics-notification__text">Hei cewek keren! Apa kamu pelanggan Indosat? Kalo iya, kamu bisa mengakses
        Girl Effect secara gratis lewat <a href="http://www.freebasics.com" target="_blank" class="freebasics-notification__anchor">Internet.org</a>
        hanya dengan meng-klik pilihan "Girl Effect" yang tersedia di dalam menu. Keren banget, kan?</p>
      {% endblocktrans %}
    {% endif %}
    {% if 'ninyampinga.com' in request.get_host %}
      {% blocktrans %}
        <p class="freebasics-notification__text">This site is free for all MTN subscribers. If you are an Airtel or TIGO subscriber, you can access this site for free by going to <a href="http://www.freebasics.com" target="_blank" class="freebasics-notification__anchor">freebasics.com</a></p>
      {% endblocktrans %}
    {% endif %}

    <p class="freebasics-notification__text">This site is free for all MTN subscribers. If you are an Airtel or TIGO subscriber, you can access this site for free by going to <a href="http://www.freebasics.com" target="_blank" class="freebasics-notification__anchor">freebasics.com</a></p>
    </div>


  {% bannerpages %}
  {% gembannerpages %}

  {% if not settings.core.SiteSettings.enable_tag_navigation %}
    {% topic_of_the_day %}
    {% latest_listing_homepage num_count=6 %}
    {% section_listing_homepage %}

  {% else %}
    {% get_tag_articles tag_count=4 as tag_nav_data %}
    {% paginate 15 tag_nav_data.latest_articles as latest_articles %}
    {% include 'core/tags/latest_listing_homepage.html' with articles=latest_articles|slice:"0:3" %}
    {% include "patterns/components/article-teasers/sp_variations/carousel-teaser-listing.html" with tag=tag_nav_data.tags_list.0.0 tag_articles=tag_nav_data.tags_list.0.1 %}
  {% endif %}

{% endblock %}
