{% load wagtailcore_tags core_tags wagtailimages_tags comments gem_tags %}

{% get_translation self.get_parent_section as section %}
{% get_next_article self as next_article %}
<div class="related-articles">
  {% if next_article and self.get_parent_section.enable_next_section %}
  <h3 class="heading heading--article">
    {% trans "Next up" %}
  </h3>
  <ul class="teaser-stacklist">
    <li class="teaser-stacklist__item">
      <div class="teaser-stacklist__wrapper">
          {% if next_article.image %}
            <div class="teaser-stacklist__thumbnail-wrap">
              <a href="{% pageurl next_article.specific %}" class="teaser-stacklist__link">
                {% image next_article.image width-200 class="teaser-stacklist__thumbnail" %}
              </a>
            </div>
          {% endif %}
          <div class="teaser-stacklist__content">
            <a href="{% pageurl next_article.specific %}" class="article-teaser__link">
              {% if next_article.title_highlight %}
                <h3 class="article-teaser__title article-teaser__title--highlight">
                  {{ next_article.title_highlight|smarttruncatechars:45|safe}}
                </h3>
              {% else %}
                <h3 class="article-teaser__title">
                  {{ next_article.title|smarttruncatechars:45|safe}}
                </h3>
              {% endif %}
            </a>

            {% if next_article.subtitle_highlight or next_article.body_highlight %}
              <p class="article-teaser__subtitle highlight-description">
                {% if next_article.subtitle_highlight %}
                  {{next_article.subtitle_highlight|smarttruncatechars:28|safe}}
                {% elif next_article.body_highlight %}
                  {{next_article.body_highlight|smarttruncatechars:28|safe}}
                {% endif %}
              </p>
            {% elif next_article.subtitle %}
              <p class="article-teaser__subtitle">
                {% if next_article.title.30 %}
                  {{ next_article.subtitle|smarttruncatechars:28|safe}}
                {% else %}
                  {{ next_article.subtitle|smarttruncatechars:50|safe}}
                {% endif %}
              </p>
            {% endif %}
          </div>
        </div>
    </li>
  </ul>
  {% endif %}
</div>


{% if self.get_parent_section.enable_recommended_section %}
  {% get_recommended_articles self as recommended_articles %}
  {% if recommended_articles %}
  <div class="recommended-articles">
    <h3 class="heading heading--article">
      {% trans "Recommended" %}
    </h3>
    <ul class="teaser-stacklist">
      {% for article in recommended_articles %}
      <li class="teaser-stacklist__item">
        <div class="teaser-stacklist__wrapper">
          {% if article.image %}
            <div class="teaser-stacklist__thumbnail-wrap">
              <a href="{% pageurl article.specific %}" class="teaser-stacklist__link">
                {% image article.image width-200 height-200 class="teaser-stacklist__thumbnail" %}
              </a>
            </div>
          {% endif %}
          <div class="teaser-stacklist__content">
            <a href="{% pageurl next_article.specific %}" class="article-teaser__link">
              <h3 class="article-teaser__title">
                {{article.title}}
              </h3>
            </a>
            {% if article.subtitle %}
              <p class="article-teaser__subtitle">
                {{article.subtitle}}
              </p>
            {% endif %}
          </div>
        </div>
        {% get_comment_count for article as comment_count %}
        {% if comment_count > 0 %}
          <a href="{% pageurl article.specific %}?#comments" class="comment-counter">
            <div class="comment-counter__icon"></div>
            <span class="comment-counter__numeral">{{comment_count}}</span>
          </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endif %}
