{% load wagtailcore_tags core_tags wagtailimages_tags comments gem_tags %}
{% get_translation self.get_parent_section as section %}
{% get_next_article self as next_article %}
{% if next_article and self.get_parent_section.enable_next_section %}
  <div class="article-teaser article-teaser-related {% if section.get_effective_extra_style_hints %}article-teaser-related--{{section.get_effective_extra_style_hints}}{% endif %}">
    <div class="heading heading--primary">
      {% if section.get_effective_image %}
        {% image section.get_effective_image width-80 as section_photo %}
          <img alt="{{ section.title }}" src="{{ section_photo.url }}" class="section__thumbnail"/>
      {% else %}
        <span class="section__icon"></span>
      {% endif %}
      <div class="section__caption">
        <h2 class="section__title">
          {% trans "Read next..." %}
        </h2>
      </div>
    </div>
    <ul class="teaser-stacklist">
      <li class="teaser-stacklist__item">
        {% if next_article.image %}
          <div class="teaser-stacklist__images">
            {% image next_article.image width-200 class="teaser-stacklist__thumbnail" %}
          </div>
        {% endif %}
        <div class="teaser-stacklist__container">
          {% get_comment_count for next_article as comment_count %}
          {% load_tags_for_article next_article as tags %}
          <ul class="teaser-stacklist-tags">
            {% if comment_count > 0 %}
              <li class="teaser-stacklist-tags__item">
                <a href="{% pageurl next_article.specific %}?#comments" class="comments-counter">
                  <div class="comments-counter__icon"></div>
                  <span class="comments-counter__numeral">{{comment_count}}</span>
                </a>
              </li>
            {% endif %}
            {% if settings.core.SiteSettings.enable_tag_navigation %}
              {% for tag in tags %}
                {% if not tag.title.20 %}
                  <li class="teaser-stacklist-tags__item">
                    <a href="{% url 'tags_list' tag.slug %}" class="teaser-stacklist-tags__anchor">
                      {{ tag.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
          <h3 class="article-teaser__title {% if next_article.title_highlight %}article-teaser__title--highlight{% endif %}">
            {% if next_article.title_highlight %}
              {{ next_article.title_highlight|smarttruncatechars:23|safe}}
            {% else %}
              {{ next_article.title|safe}}
            {% endif %}
          </h3>
          {% if next_article.subtitle_highlight or next_article.body_highlight %}
            <p class="teaser-stacklist__subtitle">
              {% if next_article.subtitle_highlight %}
                {{next_article.subtitle_highlight|smarttruncatechars:30|safe}}
              {% elif next_article.body_highlight %}
                {{next_article.body_highlight|smarttruncatechars:30|safe}}
              {% endif %}
            </p>
          {% elif next_article.subtitle %}
            <p class="teaser-stacklist__subtitle">
              {% if next_article.title.30 %}
                {{ next_article.subtitle|smarttruncatechars:30|safe}}
              {% else %}
                {{ next_article.subtitle|smarttruncatechars:50|safe}}
              {% endif %}
            </p>
          {% endif %}
          <a class="call-to-action__button call-to-action__button--primary" href="{% pageurl next_article.specific %}">{% trans "Read more" %}</a>
        </div>
      </li>
    </ul>
  </div>
{% endif %}

{% if self.get_parent_section.enable_recommended_section %}
  {% get_recommended_articles self as recommended_articles %}
  {% if recommended_articles %}
    <div class="article-teaser article-teaser-related {% if section.get_effective_extra_style_hints %}article-teaser-related--{{section.get_effective_extra_style_hints}}{% endif %}">
      <div class="heading heading--primary">
        {% if section.get_effective_image %}
          {% image section.get_effective_image width-80 as section_photo %}
            <img alt="{{ section.title }}" src="{{ section_photo.url }}" class="section__thumbnail"/>
        {% endif %}
        <div class="section__caption">
          <h2 class="section__title">
            {% trans "Recommended stories" %}
          </h2>
        </div>
      </div>
      <ul class="teaser-stacklist">
        {% for article in recommended_articles %}
        <li class="teaser-stacklist__item">
          {% if article.image %}
            <div class="teaser-stacklist__images">
              {% image article.image width-480 class="article-teaser__thumbnail" %}
            </div>
          {% endif %}
          <div class="teaser-stacklist__container">
            {% get_comment_count for article as comment_count %}
            {% load_tags_for_article article as tags %}
            <ul class="teaser-stacklist-tags">
              {% if comment_count > 0 %}
                <li class="teaser-stacklist-tags__item">
                  <a href="{% pageurl article.specific %}?#comments" class="comments-counter">
                    <div class="comments-counter__icon"></div>
                    <span class="comments-counter__numeral">{{comment_count}}</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.core.SiteSettings.enable_tag_navigation and tags %}
                {% for tag in tags %}
                  {% if not tag.title.20 %}
                    <li class="teaser-stacklist-tags__item">
                      <a href="{% url 'tags_list' tag.slug %}" class="teaser-stacklist-tags__anchor">
                        {{ tag.title }}
                      </a>
                    </li>
                    {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
            <h3 class="article-teaser__title {% if article.title_highlight %}article-teaser__title--highlight{% endif %}">
              {% if article.title_highlight %}
                {{ article.title_highlight|smarttruncatechars:23|safe}}
              {% else %}
                {{ article.title|safe}}
              {% endif %}
            </h3>
            <p class="article-teaser__subtitle">
              {% if article.title.30 %}
                {{ next_article.subtitle|smarttruncatechars:30|safe}}
              {% else %}
                {{ article.subtitle|smarttruncatechars:50|safe}}
              {% endif %}
            </p>
            <a class="call-to-action__button call-to-action__button--primary" href="{% pageurl article.specific %}">{% trans "Read more" %}</a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}
