{% load wagtailcore_tags core_tags wagtailimages_tags comments gem_tags %}

{% get_translation self.get_parent_section as section %}
{% get_next_article self as next_article %}
<div class="article-teaser article-teaser--related">
  {% if next_article and self.get_parent_section.enable_next_section %}
  <div class="heading">
    <h3 class="heading__micro">{% trans "Next up" %}</h3>
  </div>
  <ul class="teaser-stacklist">
    <li class="teaser-stacklist__item">
      <div class="teaser-stacklist__wrapper">
          {% if next_article.image %}
            <div class="teaser-stacklist__thumbnail-wrap">
              <a href="{% pageurl next_article.specific %}" class="article-teaser__link">
                {% image next_article.image width-200 class="article-teaser__thumbnail" %}
              </a>
            </div>
          {% endif %}
          <div class="teaser-stacklist__content">
            <a href="{% pageurl next_article.specific %}" class="article-teaser__link">
              {% if next_article.title_highlight %}
                <h3 class="article-teaser__title article-teaser__title--highlight">
                  {{ next_article.title_highlight|smarttruncatechars:25|safe}}
                </h3>
              {% else %}
                <h3 class="article-teaser__title">
                  {{ next_article.title|smarttruncatechars:25|safe}}
                </h3>
              {% endif %}
            </a>
            {% if next_article.subtitle_highlight or next_article.body_highlight %}
              <p class="article-teaser__subtitle highlight-description">
                {% if next_article.subtitle_highlight %}
                  {{next_article.subtitle_highlight|smarttruncatechars:28|safe}}
                {% elif next_article.body_highlight %}
                  {{next_article.body_highlight|smarttruncatechars:28|safe}}
                {% endif %}
              </p>
            {% elif next_article.subtitle %}
              <p class="article-teaser__subtitle">
                {% if next_article.title.30 %}
                  {{ next_article.subtitle|smarttruncatechars:28|safe}}
                {% else %}
                  {{ next_article.subtitle|smarttruncatechars:40|safe}}
                {% endif %}
              </p>
            {% endif %}
              <a class="call-to-action__read-more" href="{% pageurl next_article.specific %}">
                {% trans "Read more" %}
              </a>
              <ul class="teaser-stacklist-tags">
                {% load_tags_for_article next_article as tags %}
                {% if tags %}
                  {% for tag in tags %}
                  {% if not tag.title.20 %}
                    <li class="teaser-stacklist-tags__item">
                      <a href="{% url 'tags_list' tag.slug %}" class="teaser-stacklist-tags__anchor">
                        {{ tag.title }}
                      </a>
                    </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% get_comment_count for next_article as comment_count %}
                {% if comment_count > 0 %}
                <li class="teaser-stacklist-tags__item">
                  <a href="{% pageurl next_article.specific %}?#comments" class="comment-counter">
                    <div class="comment-counter__icon"></div>
                    <span class="comment-counter__numeral">{{comment_count}}</span>
                  </a>
                  </li>
                {% endif %}
            </ul>
          </div>
        </div>
    </li>
  </ul>
  {% endif %}
</div>


{% if self.get_parent_section.enable_recommended_section %}
  {% get_recommended_articles self as recommended_articles %}
  {% if recommended_articles %}
  <div class="article-teaser article-teaser--recommended">
    <div class="heading">
      <h3 class="heading__micro">{% trans "Recommended" %}</h3>
    </div>
    <ul class="teaser-stacklist">
      {% for article in recommended_articles %}
      <li class="teaser-stacklist__item">
        <div class="teaser-stacklist__wrapper">
          {% if article.image %}
            <div class="teaser-stacklist__thumbnail-wrap">
              <a href="{% pageurl article.specific %}" class="article-teaser__link">
                {% image article.image width-200 width-180 class="article-teaser__thumbnail" %}
              </a>
            </div>
          {% endif %}
          <div class="teaser-stacklist__content">
            <a href="{% pageurl article.specific %}" class="article-teaser__link">
              {% if article.title_highlight %}
                <h3 class="article-teaser__title article-teaser__title--highlight">
                  {{ article.title_highlight|smarttruncatechars:25|safe}}
                </h3>
              {% else %}
                <h3 class="article-teaser__title">
                  {{ article.title|smarttruncatechars:25|safe}}
                </h3>
              {% endif %}
            </a>
            <p class="article-teaser__subtitle">
              {% if article.title.30 %}
                {{ next_article.subtitle|smarttruncatechars:30|safe}}
              {% else %}
                {{ article.subtitle|smarttruncatechars:40|safe}}
              {% endif %}
            </p>
            <a class="call-to-action__read-more" href="{% pageurl article.specific %}">
              {% trans "Read more" %}
            </a>
            <ul class="teaser-stacklist-tags">
              {% load_tags_for_article article as tags %}
              {% if tags %}
                {% for tag in tags %}
                {% if not tag.title.20 %}
                  <li class="teaser-stacklist-tags__item">
                    <a href="{% url 'tags_list' tag.slug %}" class="teaser-stacklist-tags__anchor">
                      {{ tag.title }}
                    </a>
                  </li>
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% get_comment_count for article as comment_count %}
              {% if comment_count > 0 %}
              <li class="teaser-stacklist-tags__item">
                <a href="{% pageurl article.specific %}?#comments" class="comment-counter">
                  <div class="comment-counter__icon"></div>
                  <span class="comment-counter__numeral">{{comment_count}}</span>
                </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endif %}
