{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags comments staticfiles gem_tags %}

{% block content %}
<div class="section-page">
  {% load_child_sections_for_section self as sections %}
  {% comment %}
    {% if self.get_effective_image %}
      {% image self.get_effective_image fill-172x128 as section_photo %}
        <img alt="{{ self.title }}" src="{{ section_photo.url }}" class="section-page__thumbnail"/>
    {% endif %}
  {% endcomment %}
  <div class="heading {% if self.get_effective_extra_style_hints %}heading--{{self.get_effective_extra_style_hints}}{% else %} heading--background{% endif %}">
    <h1 class="heading__section">{{self.title}}</h1>
  </div>
  {% load_child_articles_for_section self as articles %}
  <ul class="teaser-stacklist">
  {% for article in articles %}
      <li class="teaser-stacklist__item">
        <div class="teaser-stacklist__wrapper">
          <div class="teaser-stacklist__thumbnail-wrap">
            <a href="{% pageurl article.specific %}" class="article-teaser__link">
            {% if article.image %}
              {% image article.image width-200 class="article-teaser__thumbnail" %}
            {% endif %}
            </a>
          </div>
          <div class="teaser-stacklist__content">
            <a href="{% pageurl article.specific %}" class="article-teaser__link">
              {% if article.title_highlight %}
                <h3 class="article-teaser__title article-teaser__title--highlight">
                  {{ article.title_highlight|smarttruncatechars:45|safe}}
                </h3>
              {% else %}
                <h3 class="article-teaser__title">
                  {{ article.title|smarttruncatechars:45|safe}}
                </h3>
              {% endif %}
            </a>
            {% if article.subtitle_highlight or article.body_highlight %}
              <p class="article-teaser__subtitle highlight-description">
                {% if article.subtitle_highlight %}
                  {{article.subtitle_highlight|smarttruncatechars:28|safe}}
                {% elif article.body_highlight %}
                  {{article.body_highlight|smarttruncatechars:28|safe}}
                {% endif %}
              </p>
            {% elif article.subtitle %}
              <p class="article-teaser__subtitle">
                {% if article.title.30 %}
                  {{ article.subtitle|smarttruncatechars:28|safe}}
                {% else %}
                  {{ article.subtitle|smarttruncatechars:50|safe}}
                {% endif %}
              </p>
            {% endif %}
            <a class="call-to-action__read-more" href="{% pageurl article.specific %}">{% trans "Read more" %}</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <!--PAGINATION-->
    {% if articles %}
      <div class="pagination">
      {% if articles_paginated.has_previous %}
        <a href="?p={{ articles_paginated.previous_page_number }}">&larr;</a>
      {% endif %}
        <span>
          Page {{ articles_paginated.number }} of {{ articles_paginated.paginator.num_pages }}
        </span>
      {% if articles_paginated.has_next %}
        <a href="?p={{ articles_paginated.next_page_number }}">&rarr;</a>
      {% endif %}
      </div>
    {% endif %}
</div>

{% endblock %}
