{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags comments staticfiles competition_tag molo_survey_tags gem_tags %}

{% block content %}
<div class="section-page {% if self.get_effective_extra_style_hints %}section-page--{{self.get_effective_extra_style_hints}}{% endif %}">
  {% load_child_sections_for_section self as sections %}
  <div class="section__theme"></div>
  <div class="section-page__wrapper">
    <div class="heading heading--primary">
      {% if self.get_effective_image %}
        {% image self.get_effective_image width-80 as section_photo %}
          <img alt="{{ self.title }}" src="{{ section_photo.url }}" class="section__thumbnail"/>
      {% else %}
        <span class="section__icon"></span>
      {% endif %}
      <div class="section__caption">
        <h1 class="section__title">{{self.title}}</h1>
      </div>
    </div>
    {% load_child_articles_for_section self as articles %}
    <ul class="teaser-stacklist">
    {% for article in articles %}
      <li class="teaser-stacklist__item">
        {% if article.image %}
          <div class="teaser-stacklist__images">
            {% image article.image width-480 as teaser_thumbnail %}
            <img alt="{{ article.title }}" src="{{ teaser_thumbnail.url }}" class="article-teaser__thumbnail"/>
          </div>
        {% endif %}
        <div class="teaser-stacklist__container">
          {% get_comment_count for article as comment_count %}
          {% load_tags_for_article article as tags %}
          <ul class="teaser-stacklist-tags">
            {% if comment_count > 0 %}
            <li class="teaser-stacklist-tags__item">
              <a href="{% pageurl article.specific %}?#comments" class="comments-counter">
                <div class="comments-counter__icon"></div>
                <span class="comments-counter__numeral">{{comment_count}}</span>
              </a>
            </li>
            {% endif %}
            {% load_tags_for_article article as tags %}
            {% if settings.core.SiteSettings.enable_tag_navigation and tags %}
              {% for tag in tags %}
                {% if not tag.title.20 %}
                  <li class="teaser-stacklist-tags__item">
                    <a href="{% url 'tags_list' tag.slug %}" class="teaser-stacklist-tags__anchor">
                      {{ tag.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
          <h3 class="article-teaser__title {% if article.title_highlight %}article-teaser__title--highlight{% endif %}">
            {% if article.title_highlight %}
              {{ article.title_highlight|smarttruncatechars:50|safe}}
            {% else %}
              {{ article.title|safe}}
            {% endif %}
          </h3>
          {% if article.subtitle_highlight or article.body_highlight %}
            <h6 class="article-teaser__subtitle">
              {% if article.subtitle_highlight %}
                {{article.subtitle_highlight|smarttruncatechars:50|safe}}
              {% elif article.body_highlight %}
                {{article.body_highlight|smarttruncatechars:50|safe}}
              {% endif %}
            </h6>
          {% elif article.subtitle %}
            <h6 class="article-teaser__subtitle">
              {{ article.subtitle|smarttruncatechars:50|safe}}
            </h6>
          {% endif %}
          {% with article.body|first as block %}
            {% if block.block_type == 'paragraph' %}
              <p>{{block.value|smarttruncatechars:150|safe}}</p>
            {% endif %}
          {% endwith %}
          <a class="call-to-action__button call-to-action__button--primary" href="{% pageurl article.specific %}">{% trans "Read more" %}</a>
        </div>
    </li>
    {% endfor %}
    </ul>
    {% if articles and articles_paginated.paginator.num_pages > 1 %}
      <div class="pagination">
      {% if articles_paginated.has_previous %}
        <a href="?p={{ articles_paginated.previous_page_number }}" class="call-to-action__button call-to-action__button--previous">
          {% trans "Previous" %}</a>
      {% endif %}
        <p class="call-to-action__item--text call-to-action__item--text-current">
          Page {{ articles_paginated.number }} of {{articles_paginated.paginator.num_pages }}
        </p>
      {% if articles_paginated.has_next %}
        <a href="?p={{ articles_paginated.next_page_number }}" class="call-to-action__button call-to-action__button--next">
          {% trans "Newer" %}</a>
      {% endif %}
      </div>
    {% endif %}
  </div>
</div>
{% surveys_list_for_pages page=self %}
{% your_words_competition_in_section self %}
{% endblock %}
