.header {
    .call-to-action {
        &__item--with-icon,
        &__item--search-icon,
        &__nav-item--with-icon,
        &__nav-item--search-icon {
            color: $white;
            @media screen and (min-width: 320px) {
                border: 1px solid $white;
            }
        }
    }
}
.call-to-action {
    &__item--search-icon,
    &__nav-item--search-icon {
      display: block;
      margin-right: 8px;
      @media screen and (min-width: 320px) {
          background: $springster-purple;
      }
    }
}
