{% load i18n %}
{% block search_button %}
<!--Get a better name for the search to accommodate [Page 7 Footer Variations] -->
<div class="search__bar">
  <form action="{% url 'search' %}" class="search__form">
    <input placeholder="{% trans "I am looking for..." %}" name="q" type="text" value="{% if not search_query %}{% trans "I am looking for..." %}{% else %}{{ search_query }}{% endif %}" id="input__{{radius}}">
    <input type="submit" value="{% trans "Search"%}" class="call-to-action__nav-item call-to-action__nav-item--with-icon call-to-action__nav-item--search-icon">
  </form>
</div>
{% endblock %}
