{% extends 'base.html' %}
{% load wagtailimages_tags %}

{% block content %}
<div class="surveys {% if self.your_words_competition %}surveys__type--gcn-competition {% elif self.display_survey_directly %}surveys__type--polls{% endif %}">
  <aside>
    {% if self.image %}
      {% image self.image width-165 as icon_small %}
      <img src="{{ icon_small.url }}" alt="{{ self.title }}" class="surveys__item-thumb" />
    {% else %}
      <div class="surveys__item-icon"></div>
    {% endif %}
  </aside>
  <section>
    <div class="heading">
      <h1 class="heading__component">{{self.title}}</h1>
    </div>
    {# <!--  ENABLED RESULTS --> #}
    {% if self.show_results and results %}
      <div class="heading">
        <h5 class="heading__micro">
          {% if self.your_words_competition %}
            {% with wordSetting='GCN competition' %}
              {% blocktrans %}
                Your {{wordSetting}} has been completed successfully. See results
              {% endblocktrans %}
              {% endwith %}
          {% elif self.display_survey_directly %}
            {% with wordSetting='poll' %}
              {% blocktrans %}
                Your {{wordSetting}} has been completed successfully. See results
              {% endblocktrans %}
              {% endwith %}
          {% else %}
            {% with wordSetting='survey' %}
              {% blocktrans %}
                Your {{wordSetting}} has been completed successfully. See results
              {% endblocktrans %}
            {% endwith %}
          {% endif %}

        </h5>
      </div>
      <ul class="polls-results-list">
          {% for question, answers in results.items %}
            <label class="polls__question">{{ question|capfirst }}</label>
            {% for answer, count in answers.items %}
            <li class="polls-results-list__item">
              {% if self.show_results_as_percentage %}
                {{answer}}
                <div class="polls-results-list__percent">
                  <div class="polls-results-list__percent-bar" style="width:{{ count }}%">
                    <span class="choice-percentage">{{ count }}%</span>
                  </div>
                </div>
              {% else %}
                <h4 class="polls__answers-counter">
                  {{answer}} -
                  {{ count }} vote{{ count|pluralize }}</h4>
              {% endif %}
            </li>
            {% endfor %}
          {% endfor %}
        </ul>
    {% else %}
      {% if self.thank_you_text %}
        <div class="heading">
          <h3 class="heading__subheading">{{self.thank_you_text}}</h3>
        </div>
      {% else %}
        <div class="heading">
          <h4 class="heading__micro">
            {% if self.your_words_competition %}
              {% with wordSetting='GCN competition' %}
                {% if self.your_words_competition %}
                    {% blocktrans %}
                      Your {{wordSetting}} has been completed successfully!
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans %}
                      Thank you for submitting this {{wordSetting}}!
                    {% endblocktrans %}
                {% endif %}
              {% endwith %}
            {% elif self.display_survey_directly %}
              {% with wordSetting='poll' %}
                {% if self.your_words_competition %}
                    {% blocktrans %}
                      Your {{wordSetting}} has been completed successfully!
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans %}
                      Thank you for submitting this {{wordSetting}}!
                    {% endblocktrans %}
                {% endif %}
              {% endwith %}
            {% else %}
              {% with wordSetting='survey' %}
                {% if self.your_words_competition %}
                    {% blocktrans %}
                      Your {{wordSetting}} has been completed successfully!
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans %}
                      Thank you for submitting this {{wordSetting}}!
                    {% endblocktrans %}
                {% endif %}
              {% endwith %}
            {% endif %}
          </h4>
        </div>
      {% endif %}
    {% endif %}
  </section>
</div>
  <div class="call-to-action">
    <a href="{{request.site.root_page.specific.url}}" class="call-to-action__nav-item-text call-to-action__nav-item-text--left">
      {% trans "Back home" %}
    </a>
  </div>
{% endblock %}
