fieldset {
  border: none;
  font-family: $baton-regular;
  padding: 0 8px 8px;
  margin: 0;
  display: block;
  position: relative;
  &:last-of-type {
    padding-bottom: 0;
  }
}
textarea {
  font-family: $baton-regular;
  border: none;
  padding: 0 8px 0;
  margin: 0 8px;
  display: block;
  @media screen and (min-width: 320px) {
    padding: 8px 8px 0;
  }
}

label, .checkbox__legend {
  font-size: $font-medium;
  padding: 10px 0 0;
  color: $gunmetal;
  text-transform: capitalize;
  display: block;
  text-align: center;
}
.checkbox__label {
  display: block;
  text-transform: capitalize;;
}

.required-asterisk {
  color: #909497;
  font-size: 13px;
}
.required-info {
  color: #909497;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: -5px 0 0;
}
.hint-text {
  color: #909497;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
  text-transform: capitalize;
}
.search-icon {
  font-size:12px;
  color: #909497;
}

label.error {
  .required-asterisk,
  .required-info {
    color: red;
  }
input[type="submit"] {
  border: none;
  background: #fff;
}
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"] {
    border: 1px solid red;
  }
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="week"],
input[type="date"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
textarea, select {
  border: 2px solid $springster-purple;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;

  &:focus {
    outline: 0;
  }
}

input[type="checkbox"],
input[type="radio"]  {
  display: inline-block;
  margin-left: 10px;
}
//Originally for Polls, Should be generic
fieldset {
  input[type=radio] + label,
  input[type=checkbox] + label {
    background: #fff url('/static/img/icons/select@2x.png') 16px 50%/24px no-repeat;
    opacity: 0.8;
  }
  input[type=radio]:checked + label,
  input[type=checkbox]:checked + label {
    background: #fff url('/static/img/icons/selected@2x.png') 16px 50%/24px no-repeat;
    opacity: 1;
  }
  ul {
    li {
      label {
        background: #fff;
        opacity: 0.8;
        padding: 10px 10px 13px 10px;
        margin: 0 0 10px;
        input[type=radio],
        input[type=checkbox] {
          margin: 0 15px 0 12px;
        }
      }
    }
  }
}

.profiles__form,
.comments__form,
.surveys__form,
.yourwords__form {
  .choice input[type="checkbox"],
  .choice input[type="radio"] {
    position: inherit;
    visibility: unset;
  }
  input[type=checkbox] + label,
  input[type=radio] + label,
  input[type=radio]:checked + label,
  input[type=checkbox]:checked + label {
    background-color: #fff;
    background-image: none;
    display: inline-block;
  }
}
.yourwords__form {
  .choice {
    background-color: #fff;
    margin: 0 0 10px;
    opacity: 0.8;
     label {
       padding: 16px 16px 16px 16px;
     }
  }
}
.select-group {
  display: inline-block;
  padding: 15px 0;
}
.sub_label {
  display: block;
}
