.social-media-list {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0 0 15px;
  &__item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 2px;
  }
}
.social-media__label {
  padding: 0;
  margin: 5px 0 0;
  font-family: $baton-medium;
  text-transform: uppercase;
  color: $slate-grey;
  font-size: $font-x-small;
}

.call-to-action__nav-item-share--twitter {
  background-image: url("/static/img/icons/twitter.png");
  background-image: url("/static/img/icons/twitter.svg"),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}
.call-to-action__nav-item-share--facebook {
  background-image: url("/static/img/icons/facebook.png");
  background-image: url("/static/img/icons/facebook.svg"),
      linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

.call-to-action__nav-item-share--bbm {
  background-image: url("/static/img/icons/bbm-share.png");
  background-image: url("/static/img/icons/bbm-share.svg"),
      linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  height: 21px;
  width: 70px;
  display: inline-block;
  vertical-align: middle;  
  .social-media-footer__label {
    margin-left: 30px;
  }
}

.social-media-footer-list {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0 0 15px;
  &__item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
    .call-to-action__nav-item-share--bbm {
      margin-right: 30px;
    }
  }
}
.social-media-footer {
  &__anchor {
    img {
        vertical-align: middle;
        margin-right: 4px;
      }
    &:hover {
        text-decoration: none;
      }
  }
  &__label {
    vertical-align: middle;
    font-family: $baton-regular;
    text-transform: capitalize;
    color: $springster-purple;
    font-size: $font-medium;
  }
}

