
#search,
#profile {
  .menu-list__anchor--section-nav {
    width: 25px;
    height: 21px;
    padding: 0 0 0 10px;
    vertical-align: middle;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
}

#profile {
  float: left;
}

#search > .menu-list__anchor--section-nav {
    background:  url('../../img/nav_search.svg') no-repeat 100% 0 / auto 100%;
}
#profile > .menu-list__anchor--section-nav {
    background:  url('../../img/avatar.svg') no-repeat 0 0 / auto 100%;
}

.section-nav {
  .section-nav-list {
    width: 100%;
    text-align: left;
    font-size: 13px;
    margin: 0 10px;
    padding: 0;
    list-style-type: none;
    
    &__item {
      display: inline-block;
      padding: 5px 15px 2px 0;
      
      
      &:nth-child(2) {
        .section-nav-list__anchor {
          color: $light-gold;
          
          &:hover, &.selected {
            border-color: $light-gold
          }
        }
      }
      &:nth-child(3) {
        .section-nav-list__anchor {
          color: $tiffany-blue;
          
          &:hover, &.selected {
            border-color: $tiffany-blue;
          }
        }
      }
      &:nth-child(4) {
        .section-nav-list__anchor {
          color: $peach-two;
          
          &:hover, &.selected {
            border-color: $peach-two;
          }
        }
      }
      &:nth-child(5) {
        .section-nav-list__anchor {
          color: $carnation;
          
          &:hover, &.selected {
            border-color: $carnation;
          }
        }
      }
    }
    
    &__anchor {
      text-decoration: none;
      font-size: 17px;
      border-bottom: 2px solid $springster-purple;
      
      &:hover, &.selected {
        color: $pale-lilac;
        border-color: $pale-lilac;
      }
    }
  }
}
