.header__menu {
  background: $springster-purple;
}
.menu-list {
  margin: 0;
  padding: 0;
  display: block;
  overflow: auto;
  text-align: center;
}
.menu-list__item  {
  display: inline-block;
  border: none;
}
.menu-list__anchor,
.menu-list__anchor label {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $font-xx-small;
  cursor: pointer;
  padding: 5px 3px;
}
.menu-list__anchor label {
  display: block;
  margin: -10px 0;
}


//SECTION NAVIGATION
.section-nav {
  text-align: center;
}
.section-nav-list {
  width: 100%;
  font-size: 13px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  &__item {
    display: inline-block;
    padding: 0 5px 5px;
  }
  &__anchor {
    padding: 0;
    color: #fff;
    text-decoration: none;
    font-size: $font-small;
  }
}
