.section-header {

  a {
    font-family: 'AvenirNextCondensed-Medium';
    height: 56px;
    line-height: 56px;
    display: flex;
    align-items: center;
    font-size: 22px;
  }
}

.article {

  color: #141414;

  .article-preview {

    h3 {
      font-size: 26px;
      line-height: 32px;
    }
    .text { margin: 0 16px; }


  }

  .article-content {
    margin: 0 16px;
  }
}

#article-hero {
    .section-image {
      width: 50px;
      float: right;
      margin-top: -50px;
      display: block;
    }
}
