.search-results {
    margin: 0px 18px;
    overflow: visible;
    position: relative;

    label {
        display: none;
    }

    &.article-list {

        .search-image{
            position: relative;
        }

        .section-image {
            display: block;
            width: 50px;
            right: 0;
            bottom: 0;
            position: absolute;
        }
    }
}

.search-result {
    display: inline-block;
    margin-top: 18px;
    position: relative;
    background-color: #FFF;
}
