// Variables

$bodycolor: #fff;
$textcolor: #000;

// Typography

$font-family-sans-serif: "TwCenMT-Regular", ArialMT, Arial, sans-serif;
$font-family-TwCentBold: "TwCenMT-Bold", Arial-BoldMT, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-tisa-ot: "TisaOT", ArialMT, Arial, sans-serif;

// Colour - defaults

$colorFirst: #32a6a6; // turquoise
$colorSecond: #124f52; // dark turquoise
$colorThird: #c4d131; // green
$colorFourth: #333; // black

@font-face {
    font-family:"TwCenMT-Regular";
    src: url("/static/fonts/TwCenMT.ttf")
}

@font-face {
    font-family:"TwCenMT-Bold";
    src: url("/static/fonts/TwCenMTBold.ttf")
}

@font-face {
    font-family:"TisaOT";
    src: url("/static/fonts/TisaOT.otf") format("opentype");
}