// Variables

$bodycolor: #fff;
$textcolor: #000;

// Typography

$font-family-sans-serif: "TwCenMT-Regular", ArialMT, Arial, sans-serif;
$font-family-TwCentBold: "TwCenMT-Bold", Arial-BoldMT, Arial, sans-serif;
$font-family-avenir-ot: "Avenir", ArialMT, Arial, sans-serif;
$font-family-avenirBold: "AvenirBold", Arial-BoldMT, Arial, sans-serif;

// Colour - defaults

$colorFirst: #32a6a6; // turquoise
$colorSecond: #124f52; // dark turquoise
$colorThird: #c4d131; // green
$colorFourth: #333; // black

@font-face {
    font-family:"TwCenMT-Regular";
    src: url("/static/fonts/TwCenMT.ttf")
}

@font-face {
    font-family:"TwCenMT-Bold";
    src: url("/static/fonts/TwCenMTBold.ttf")
}

@font-face {
    font-family:"Avenir";
    src: url("/static/fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family:"AvenirBold";
    src: url("/static/fonts/AvenirLTStd-Medium.otf") format("opentype");
}