.your-words {
  margin: 0;
  padding: 0 16px 40px 16px;

  .title {
    text-align: left;
    h6 {
      display: inline-block;
      padding: 0 16px;
      line-height: 40px;
      a, a:visited {
        font-size: 16px;
      }
    }
  }

  h3 {
    padding: 0;
  }

  h3, p {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    font-family: 'TwCenMT'
  }

  .button {

    &:before {
      bottom: 90px;
    }

    margin-top: 60px;
    margin-bottom: 0;
    font-family: 'TwCenMT';
    font-size: 18px;
    height: 48px;
    line-height: 48px;
  }
}
