@import "enhanced";

.template-main .article-list,
#article-hero {
  &:after {
    background-color: red;
    background: url('/static/img/pattern_edited.png');
    background-position: center;
    background-repeat: repeat-x;
  }
}
