
.gem-polls {
  padding: 0 16px;
  text-align: left;
  color: #18151D !important;


  .list-header {
    display: inline-block;
    padding: 0 16px;
    line-height: 40px;
    font-size: 16px;
  }

  .list-inline {

    h3 {
      font-size: 24px;
      text-transform: uppercase;
      margin: 32px 0;
    }

    form {

      label {
        font-size: 18px;
        line-height: 24px;
        width: 100%;
      }

      div div {
        border-top: 1px rgba(0, 0, 0, .3) dashed;
        display: flex;
        flex-direction: row-reverse;
      }
      div:last-child {
        border-bottom: 1px rgba(0, 0, 0, .3) dashed;
      }

      a {

        line-height: 48px;
        padding: 0 22px;
        background: #fff;
        color: #ED008C;

        font-size: 19px;
        font-weight: bold;
        display: inline-block;
        margin: 32px auto;


      }
    }
  }

}
