
.article-preview {
  img {
    margin: 0 0 16px 0;
    width: 100%;
    background: yellow;
    border: 1px solid blue;
  }

  .text {
    text-transform: uppercase;
    margin: 0 1em;

    .section, h3, p {
      margin: 0 0 16px 0;
    }

    .section {
      font-size: 0.75em;
      font-weight: bold;
      a {
        color: #ed008c;
      }
    }

    h3 {
      font-family: 'TwCenMT';
      font-size: 1.25em;
      font-weight: normal;
      a {
        color: #4f4c54;
      }
    }

    p {
      text-transform: none;
      color: #5c5c5c;
    }
  }
}

#article-hero {

  .text h3 {
    font-size: 1.625em;
  }
}
