.section-header {
  a {
    display: flex;
    align-items: center;
    height: 56px;
    font-size: 22px;
    color: #18151d;
    text-transform: uppercase;

    img {
        margin: 0 8px;
    }
  }

  &.teal { background: #00b8ae; }
  &.pink { background: #ed008c; }
  &.lime { background: #cadb2a; }
}

.read-more { display: none; }
