body,
input,
textarea {
  font-family: 'AvenirNextCondensed', Arial, sans-serif;
}

#gem-header {
  line-height: 48px;
  height: 48px;
  a {
    font-size: 16px;
    padding: 10px;
  }
}

.language-container {
  line-height: 24px;
  height: 24px;
  a, a:visited {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.back-to-top {
  display: none !important;
}

// re-order using flex: search, links, copywrite.
#gem-footer {

  display: flex;
  flex-direction: column;
  #search-form {
    order: 1;
    -webkit-order: 1;

    form {
      background: orange;
      display: flex;
      flex-direction: row;

      label, div {
        display: none;
      }

      input, button {
        margin: 0;
        border: 0;
        height: 48px;
      }
      input {
        flex: 1;
        font-size: 18px;
      }
      button {
        width: 48px;
        color: transparent;
        background-image: url('/static/img/search_white.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 30px;
      }
    }
  }

  ul.sections {
    order: 2;
    -webkit-order: 2;
    margin: 24-8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 40px;

    li {
      width: 50%;
      padding-right: 10px;
      a {
        font-size: 20px;
      }
    }
    li:nth-child(even) {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  #footer-bar {
    order: 3;
    -webkit-order: 3;
    font-size: 12px;
  }
}

@import "enhanced.article";
@import "enhanced.your-words";
@import "enhanced.polls";
