.section-header {

  a {
    height: 56px;
    line-height: 56px;
    display: flex;
    align-items: center;
    font-size: 22px;
  }
}

.article {

  color: #141414;

  .article-preview {
    .text { margin: 0 16px; }
  }

  .article-content {
    margin: 0 16px;
  }
}
