
.article-preview {

  img {
    margin: 0 0 16px 0;
    width: 100%;
    background: yellow;
    border: 1px solid blue;
  }

  .text {
    text-transform: uppercase;
    margin: 0 16px;

    .section {
      margin: 0 0 16px 0;
      font-size: 12px;
      font-weight: bold;
      a {
        color: #ed008c;
      }
    }

    h3 {
      margin: 0 0 16px 0;
      font-family: 'TwCenMT';
      font-size: 20px;
      font-weight: normal;

      a {
        color: #4f4c54;
      }
    }

    p {
      text-transform: none;
      margin: 0 0 16px 0;
      color: #5c5c5c;
    }
  }
}
