@media screen and (min-width: 600px) {
    body {
      max-width: 320px;
    }
}


@font-face {
  font-family: 'AvenirNextCondensed';
  src: url('/static/fonts/AvenirNextCondensed-Regular.woff2') format('woff2'),
       url('/static/fonts/AvenirNextCondensed-Regular.woff') format('woff'),
       url('/static/fonts/AvenirNextCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'AvenirNextCondensed-Medium';
  src: url('/static/fonts/AvenirNextCondensed-Medium.woff2') format('woff2'),
       url('/static/fonts/AvenirNextCondensed-Medium.woff') format('woff'),
       url('/static/fonts/AvenirNextCondensed-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCondensed-DemiBold';
  src: url('/static/fonts/AvenirNextCondensed-DemiBold.woff2') format('woff2'),
       url('/static/fonts/AvenirNextCondensed-DemiBold.woff') format('woff'),
       url('/static/fonts/AvenirNextCondensed-DemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCondensed';
  src: url('/static/fonts/AvenirNextCondensed-Bold.woff2') format('woff2'),
       url('/static/fonts/AvenirNextCondensed-Bold.woff') format('woff'),
       url('/static/fonts/AvenirNextCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'TwCenMT';
  src: url('/static/fonts/TwCenMT-Regular.woff2') format('woff2'),
       url('/static/fonts/TwCenMT-Regular.woff') format('woff'),
       url('/static/fonts/TwCenMT-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'TwCenMT';
  src: url('/static/fonts/TwCenMT-Bold.woff2') format('woff2'),
       url('/static/fonts/TwCenMT-Bold.woff') format('woff'),
       url('/static/fonts/TwCenMT-Bold.ttf') format('truetype');
  font-weight: bold;
}


body {
  font-size: 18px;
  line-height: 24px;
}

body,
input,
textarea {
  font-family: 'AvenirNextCondensed', Arial, sans-serif;
}

input, select {
  height: 48px;
  font-size: 18px;
}

button, input[type="submit"], .button, .gem-polls a {
  display: inline-block;
  padding: 0 24px;
  height: 48px !important;
  line-height: 48px !important;
  font-family: 'TwCenMT';
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}


#gem-header {
  line-height: 48px;
  a {
    font-size: 16px;
    padding: 5px 10px;
  }

  a[href="#search-form"] {
    img {
      margin-bottom: 2px;
    }
  }
}

.language-container {
  line-height: 24px;
  height: 24px;
  text-transform: uppercase;

  a {
    font-size: 12px;
  }
}

.back-to-top, .read-more {
  display: none !important;
}



#gem-footer {
  padding: 24px 8px;
  display: flex;
  flex-direction: column;

  #search-form {
    order: 1;
    -webkit-order: 1;

    margin: 0 8px 24px 8px;

    form {
      display: flex;
      flex-direction: row;

      label, div {
        display: none;
      }

      input, button {
        margin: 0;
        border: 0;
        height: 48px;
      }
      input {
        flex: 1;
      }
      button {
        width: 48px;
        color: transparent;
        background-image: url('/static/img/search_white.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 17px;
      }
    }
  }

  ul.sections {
    order: 2;
    -webkit-order: 2;
    margin: 0 8px;

    font-size: 20px;
    line-height: 40px;
  }

  #footer-bar {
    order: 3;
    -webkit-order: 3;
    font-size: 12px;
    margin: 0 8px;
  }
}

@import "enhanced.article-preview";
@import "enhanced.article";
@import "enhanced.your-words";
@import "enhanced.polls";
@import "enhanced.search";
@import "enhanced.service-directory";


// These are elements that appear on `molo` pages.

.articles {
  margin: 16px;
}

.profile-container,
.default-container {

  hr { display: none; }

  .title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: 24px 16px 18px 24px;

    h3 {
      margin: 0;
    }
  }


  .block {
    margin: 24px 16px;
    text-align: center;
  }

  form {
    padding: 24px 16px;

    h5 {
      text-align: left;
      margin: 0 0 18px 0;
      font-size: 24px;
    }



    label, p {
      font-family: 'AvenirNextCondensed-DemiBold';
      font-size: 16px;
      margin: 0 0 16px 0;
      padding: 0;
      color: #4F4C54;
    }

    input {
      width: 100%;
      margin: 0 0 24px 0;
    }

    input + input[type="submit"] {
      margin-top: 8px; // 32 gap.
    }

    input[type="submit"] {
      margin: 32px 0 8px 0;
      width: 80%;
      text-align: center;
    }

    .inverted {
      padding: 0;
      width: 100%;
      text-align: left;
      display: block;
      color: #00b8ae;
      font-weight: normal;
      font-size: 16px;
      background: none;
      text-decoration: underline;
    }

  }
}

.profile-container {
  input + h5 + p {
    font-family: 'AvenirNextCondensed';
    font-weight: normal;;
  }
}

.errorlist {
  margin:0;
  padding: 0;
  margin: 0 0 24px 0;
}

.errorlist li, .alert-error {
  list-style: none;
  margin: 0;
  text-align: left !important;
  display: block;
  padding: 8px !important;
  color: #ff4b4b !important;
  font-size: 16px;
  background: #fff;

  &:before {
    content: " ";
    display: inline-block;
    background: red;
    width: 16px;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAB3ElEQVR4nL2Wr2+rUBiGHw5VkLQNTerGP0DwiCr01IJAzC6pnJ9YEPjJJrMIBJmaRuOb/gNdZppA2iatgnAFu13vTVfoD/aoL+Q973sOOV/OJ5VlyRGKgumUJGE+J8tIUyQJTUPT0HUsC9NElo8YSD8GrFaEIXHMZnNsB6qKbeO69HqNA/KcKOLtje32mPU+isLdHY5Dp1MXsF7j+8xmTa33MQyenuh2fw74+OD5mcXiHPeK4RDP4+bmUMB6zePjRe67jJeX3TnE19c8x/ev4A4sFvg+ef5vQBSd+d8PMpsRRVUplWXJasXDQ/2deX//rm9va8SKwusrvZ4ACMMTbmRDtlvCEBAUBXF8ZfeKOKYoBNNpTa+ezWbDdCpIklbcK5JEMJ+3GDCfC9K0xYA0FWRZiwFZJupFlyBJAk1rMUDTOgwGfH42Utd276EAga6fvKw5ui6wrKbq0YggIAgYjZousSyBaaKqjdTjMf0+/T7jcSO9qmKaAlnGtpvu6CRsG1kWAK6LotQvmExYLlkumUzqxYqC6/L9ZIYhQXDRfv/j/r4K+NtojoNhXM3dMHCcqvy1Rx/odvE8hsNL3T1vfzT65cGrot3RcUeLw+8+++N7mn49HprGYNBwfP8DIHXTMe4wtWYAAAAASUVORK5CYII=');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
    margin-right: 8px;
  }
}

.alert-error::first-letter {
  display: none;
  background:red;
}

.teal-ribbon {
  background-size: 100% auto;
  background-repeat: repeat-x;
  background-position: -20px 0;
}
