.gem-polls {
  background: #CADB2A;

  .list-header {
    background: #ae016d;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }

  .list-inline {
    h3 {
      margin: 21px 8px 10px 8px;
      font-size: 15px;
    }

    form {
      text-align: center;
      font-size: 14px;
      color: #141414;

      div div {
        text-align: left;
        border-top: 1px #B5C524 solid;
        padding: 11px 8px;
      }
      div:last-child {
        border-bottom: 1px #B5C524 solid;
      }

      // login link that now looks like a button.
      a {

        line-height: 30px;
        padding: 0 8px;
        background: #ed008c;
        color: #fff;

        font-size: 12px;
        font-weight: bold;
        display: inline-block;
        margin: 13px auto 5px auto;


      }
    }
  }
}
