// ARTICLES

/*

I've attempted to map out the variations in markup and class-names that
are associated to article lists and articles.

  Home:
  Variation # 1 { .articles, .latest-articles }
  ul.list-block
    li
      a.home-article-img
      div.latest-listing-container
        p.home-section-url
        h3.featured-title
        p.sub-title
        div.see-more-container
  .featured-article-ribbon

  # Vartion # 2 { .articles, .home-section }
  ul.list-block
    li
      a.listing-homepage-img
      p.articles-section-url
      h3.featured-title
      p.sub-title
      div.see-more-container


  Section Article List:
  # Variation #3 { .articles, .articles-list-view }
  h2.list-header
  ul.list-block
    li
      a.listing-homepage-img
      div.featured-section-container
      h3.featured-title
      p.sub-title
      span.read-more

  Article Itself:
  # Vartion # 4 {.article}
  h2.list-header
  div.banner
    img
  div.article-container
    h3.article-title
    p.article-sub-title
    hr.article-hr
  div.article-container
    <article>


It's remarkable that they're essentially displaying the exact same content yet
the variation and naming conventions are so different.
*/

// Containers

  // Are wrapped in list elements, we therefore need to remove the extra
  // padding, margins, and list-styles.
.list-block {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

  // But we still don't want them "hugged" to the sides, so we include a
  // 8px margin in each container, but leaving the image flush against
  // the display in most cases.
.latest-listing-container {
  margin: 0 8px;
}
.home-section {
  li {
    margin: 24px 8px 0 8px;
  }
}
.article-container,
.featured-section-container {
  margin: 8px;
}


.featured-article-ribbon {
  background: url('/static/img/featured_bar.png') repeat-x bottom;
  background-size: 80%;
  width: 100%;
  margin: 12px 0;
  height: 20px;
}


.articles-list-view  .featured-article-ribbon:nth-of-type(n+2) {
  display: none;
}


// Images:
  // home latest, article detail - 100% width
  // home featured - 33% width.
  // section article list:
    // - 1st image 100% width
    // - subsequent images 33% width.

.latest-articles .home-article-img,
.articles-list-view .listing-homepage-img,
.article .banner {
  padding: 0;
  img {
    width: 100%;
    height: auto;
  }
}

  // Icons are provided in the html, but are hidden on feature phones, we'll
  // add them back in the enhanced stylesheet.
.home-section .listing-homepage-img {
  padding: 0;
  img {
    width: 33%;
    height: auto;
  }
  img.icon-pink, img.icon-teal, img.icon-lime {
    display:none;

      // img.icon-pink, img.icon-tea {
      //   background: #ed008c;
      //   @extend .default-icon-styling;
      // }
      //
      // img.icon-teal {
      //   background: #00b8ae;
      //   @extend .default-icon-styling;
      // }
      //
      // img.icon-lime {
      //   background: #cadb2a;
      //   @extend .default-icon-styling;
      // }
  }
}

// Sections
  // home latest, home featured - small and pink text
  // section article list, article detail - banner

.home-section-url, .articles-section-url {
  line-height: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;

  a, a:visited {
    color: #ED008C;
  }
}

.list-header {
  margin: 0;
  padding: 0 8px;

  &.teal { background: #00b8ae; }
  &.pink { background: #ed008c; }
  &.lime { background: #cadb2a; }

  line-height: 48px;
  font-size: 14px;
  color: #18151D;
  text-transform: uppercase;

  a img {
    height: 40px;
    width: auto;
  }
}

// Title
  // all identical
.featured-title, .article-title {
  font-weight: bold;
  font-size: 15px;
  color: #141414;
  a, a:visited {
    color: #141414;
  }
}

// Subtitle
  // all identical
.sub-title, .article-sub-title {
  font-size: 14px;
  color: #7A7A7A;
}

// Read More
  // identical where displayed.
.see-more-container, .read-more {
  margin-top: 8px;
  font-size: 11px;
  line-height: 12px;

  a {
    color: #00B8AE;
    text-decoration: underline;
  }
  a:visited {
    color: purple;
  }
}


// Articles Itself

article {

  font-size: 14px;
  color: #141414;

  a, a:hover {
    color: #7A7A7A;
    text-decoration: underline;
  }

  h1 {
    font-weight: bold;
    font-size: 13px;
    color: #4F4C54;
  }
}

.articles {
  hr {
    border-top: 1px solid #ECECEC;
  }
}
