@import "mixins";
@import "variables";
@import "h5bp";
@import "base";
@import "modules";
@import "icons";

$colorFirst: #e52d47; // red
$colorSecond: #27262b; // dark grey
$colorThird: #1473ad; // blue
$colorFourth: #ebebeb; // light grey
$anotherShadeOfGrey: #67666b;

@include links($colorFirst);


a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body,
input,
textarea {
  font-family: $font-family-sans-serif;
  color: $anotherShadeOfGrey;
}

// dark grey
.highlight-primary {
  color: $colorSecond;
  p {
    color: $anotherShadeOfGrey;
  }
}

// dark grey
.highlight-secondary {
  color: $anotherShadeOfGrey;
  li {
    border: none;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// blue
.highlight-tertiary {
  color: $colorThird;
}

// light grey
.highlight-quaternary {
  color: $colorFourth;
}



// typography

p {
  margin: 0;
  padding-bottom: 1em;
}


// GEM styling

#gem-header {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  #logo {
    float: left;
    background-image: url('/static/img/GE-Logo.png');
    width: 155px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #menu {
    float: right;
    padding: 7px 0;
    a {
      font-family: $font-family-sans-serif;
      font-size: 12pt;
      color: #999999;
    }
  }
}

.clear-fix {
  clear: both;
}

ul.language-container {
  background: black;
  padding: 5px 10px;
  margin: 0;
  li {
    list-style: none;
    float: left;
    margin-right: 8px;
    a {
      color: white;
      font-size: 10pt;
    }
  }
}

h3.sub-title {
  padding: 0.1em;
  a {
    font-family: $font-family-sans-serif;
    font-size: 10pt;
    color: #33CCCC;
    font-weight: bold;
    :visited {
      color: #33CCCC;
    }
  }
}

p.featured-title {
  font-family: $font-family-arial-bold;
  font-size: 16pt;
  color: #141414;
  padding: 0 0.7em;
}

.read-more a {
  color: #FF0099;
  font-family: $font-family-sans-serif;
  font-size: 10pt;
  padding: 8px 0;
  text-decoration: underline;
}

.list-header span {
  font-family: $font-family-sans-serif;
  font-size: 13pt;
  color: #141414;
  font-weight: normal;
}

.see-more-container {
  padding:15px 8px;
  a {
    background-color: #141414;
    font-family: $font-family-arial-bold;
    font-weight: bold;
    font-size: 12pt;
    color: #FFFFFF;
  }
}