.article-tags:first-child {
  margin-left: 5px;
}

.article-tags {
  li {
    font-family: $font-family-TwCentBold;
    font-size: 12px;
    color: #FFFFFF;
    padding: 10px;
    background-color: #FF0099;
    float: left;
    margin: 5px;
    list-style: none;
  }

}
