@import "mixins";
@import "variables";
@import "h5bp";
@import "base";
@import "modules";
@import "icons";

$colorFirst: #e52d47; // red
$colorSecond: #27262b; // dark grey
$colorThird: #1473ad; // blue
$colorFourth: #ebebeb; // light grey
$anotherShadeOfGrey: #67666b;

@include links($colorFirst);


a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body,
input,
textarea {
  font-family: $font-family-sans-serif;
  color: $anotherShadeOfGrey;
}

// dark grey
.highlight-primary {
  color: $colorSecond;
  p {
    color: $anotherShadeOfGrey;
  }
}

// dark grey
.highlight-secondary {
  color: $anotherShadeOfGrey;
  li {
    border: none;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// blue
.highlight-tertiary {
  color: $colorThird;
}

// light grey
.highlight-quaternary {
  color: $colorFourth;
}



// typography

p {
  margin: 0;
  padding-bottom: 1em;
}


// GEM featured styling

.enhanced {
  display: none;
}

article {

  h1 {
    font-family: $font-family-sans-serif;
    font-weight: bold;
    font-size: 14pt;
    padding:0 1em;
    color: #FF0099;
  }
  p {
    font-family: $font-family-sans-serif;
    font-size: 14pt;
    color: #141414;
  }

  p:first-child {
    padding-top: 0;
  }
}

.list-block > li {
  border-color: #ECECEC;
}

#gem-header {
  border-bottom: 1px solid #ECECEC;
  #logo {
    float: left;
    background-image: url('/static/img/GE-Logo.png');
    width: 155px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 8px 0 0 10px;
  }
  #menu {
    float: right;
    ul {
      margin: 0;
      padding: 0;
      li {
        float: left;
        list-style: none;
        border-left: 1px solid #ECECEC;
        height: 46px;
        padding: 13px;
        a {
          font-family: $font-family-sans-serif;
          font-size: 14pt;
          color: #999999;
        }
      }
    }
  }
}

.clear-fix {
  clear: both;
}

ul.language-container {
  background: black;
  padding: 5px 10px;
  margin: 0;
  li {
    list-style: none;
    float: left;
    margin-right: 8px;
    a {
      color: white;
      font-size: 10pt;
    }
  }
}

p.sub-title {
  font-family: $font-family-sans-serif;
  font-size: 14pt;
  color: #7A7A7A;
  font-weight: normal;
  padding: 0 1em;
}

h3.article-title {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: 16pt;
  color: #141414;
  padding: 0.8em 0.9em;
}

p.article-sub-title {
  font-family: $font-family-sans-serif;
  font-size: 14pt;
  color: #7A7A7A;
  font-weight: normal;
  padding: 0 1em;
}

.articles {
  hr {
    border-top: 1px solid #ECECEC;
  }
}

h3.featured-title {
  font-family: $font-family-sans-serif;
  a {
    font-weight: bold;
    font-size: 16pt;
    color: #141414;
    padding: 0 0.4em;
  }
}

.read-more a {
  color: #FF0099;
  font-family: $font-family-sans-serif;
  font-size: 11pt;
  padding: 0.8em 1.3em;
  text-decoration: underline;
}

.list-header span {
  font-family: $font-family-sans-serif;
  font-size: 13pt;
  color: #141414;
  font-weight: normal;
}

.see-more-container {
  padding:15px 8px;
  a {
    background-color: #141414;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: #FFFFFF;
  }
}

#gem-footer {
  background: #31C4C4;
  padding: 1em 0 0 0;
  .title {
    color: #fff;
    font-size: 15pt;
    font-family: $font-family-sans-serif;
    padding-left: 1.3em;
  }
  ul.sections {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    li {
      width: 100%;
      list-style-type: none;
      border-top: 2px solid #46B6B7;
      padding: 1em;

      a {
        color: #141414;
        margin-left: 6px;
      }
    }
  }
  ul.menu {
    width: 100%;
    border-top: 2px solid #46B6B7;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    li {
      width: 100%;
      list-style-type: none;
      padding: 0.3em 1em;
      a {
        color: #FFF;
      }
    }
  }
  #footer-bar {
    background: #141414;
    font-size: 11pt;
    color: #7A7A7A;
    padding: 10px 0 0 5px;
  }
}

.black {
  background: #141414;
}

.your-words {
  h6 {
    margin: 0;
    text-align: center;
    a {
      font-family: $font-family-sans-serif;
      font-size: 12pt;
      color: #FF0099;
      font-weight: normal;
    }
  }
  h3 {
    font-family: $font-family-sans-serif;
    color: #fff;
    font-size: 14pt;
    margin: 0;
    padding: 15px 10px 5px 10px;
  }
  p {
    font-family: $font-family-sans-serif;
    color: #A3A3A3;
    font-size: 14pt;
    margin: 0;
    padding: 0 10px 10px 10px;
  }
  a.button {
    font-family: $font-family-sans-serif;
    font-weight: bold;
    background: #FF0099;
    padding: 10px;
    color: #fff;
    display: table;
    margin: 0 auto;
  }
  hr {
    border-top-color: #3d3d3d;
    width: 95%;
    display: block;
    margin: 5px auto 10px;;
  }

  .your-words-body {
    label {
      font-family: $font-family-sans-serif;
      color: #fff;
      font-size: 12pt;
      padding: 0 0.5em;
      margin-bottom: 0.5em;
    }
    input[type=submit]{
      font-family: $font-family-sans-serif;
      font-weight: bold;
      background: #FF0099;
      padding: 10px;
      color: #fff;
      display: table;
      margin: 10px auto 0;
      border: 0;
    }
    form {
      padding-bottom: 10px;
    }
  }
}

a.back-to-top {
  text-align: right;
  display: block;
  font-size: 12pt;
  margin-top: 10px;
  padding: 10px;
  color: #141414;
  text-decoration: underline;
}

.share-image {
  display: block;
  padding: 18px 0 5px 0;
  margin: 0 auto;
}

#search-form {
  form {
    text-align: left;
    padding: 0 0 1.5em 1.5em;
    input[type=text] {
      width: 90%;
      margin: 0.8em 0;
    }
    input[type=submit] {
      font-family: $font-family-sans-serif;
      font-weight: bold;
      background: #141414;
      padding: 10px;
      color: #fff;
      border: 0;
      font-size: 14pt;

    }
    label {
      font-family: $font-family-sans-serif;
      color: #141414;
      font-size: 14pt;
      margin: 0.5em 0;
    }
  }

}

.title.search {
  padding: 1em 1em 0 1em;
}

.search-copy {
  margin-bottom: 1em;
}

input#id_terms_or_conditions_approved {
  margin-left: 0.8em;
}

input#id_hide_real_name {
  margin-left: 0.8em;
}

h3.comment-header {
  font-family: $font-family-sans-serif;
  font-size: 16pt;
  color: #141414;
  margin: 0;
  padding-left: 0.8em ;
}

.comment-form {
  text-align: center;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 0.6em;
  margin-bottom: 1em;
  .comment-submit {
    background: #141414;
    text-align: center;
    border: 0;
    font-family: $font-family-sans-serif;
    font-size: 16pt;
    color: #fff;
    width: 88%;
  }
  .submit-anonymous {
    text-align: center;
    background: none;
    color: #31C4C4;
    font-family: $font-family-sans-serif;
    font-size: 14pt;
    border: 0;
    margin-top: 0.5em;
  }
}

.view-more-comments {
  padding: 0.5em;
  width: 88%;
  border: 2px solid #141414;
  border-radius: 5px;
  text-align: center;
  margin: 15px auto;
  a {
    color: #141414;
    font-family: $font-family-sans-serif;
    font-size: 16pt;
  }
}

.comments-count {
  padding-left: 1em;
  font-family: $font-family-sans-serif;
  font-size: 16pt;
  color: #141414;
  font-weight: bold;
}

.by {
  font-family: $font-family-sans-serif;
  color: #141414;
  font-size: 16pt;
}

p.comment-body {
  font-family: $font-family-sans-serif;
  font-size: 16pt;
  color: #474747;
}

.date {
  font-family: $font-family-sans-serif;
  font-size: 14pt;
  color: #A3A3A3;
}

a.report {
  color: #31C4C4;
  font-family: $font-family-sans-serif;
  font-size: 14pt;
}

.comment-login {
  font-family: $font-family-sans-serif;
  font-size: 14pt;
  color: #A3A3A3;
  padding: 0;
}

a.comment-login-button {
  button {
    background: #141414;
    text-align: center;
    border: 0;
    font-family: $font-family-sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #fff;
    width: 88%;
    padding: 0.5em;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
}

a.comment-login-button:hover {
  text-decoration: none;
}

.comment-sign-up {
  text-align: center;
  font-family: $font-family-sans-serif;
  font-size: 14pt;
  color: #141414;
  a {
    color: #31C4C4;
  }
}