@import "style";

.your-words {
  background: #F49B35;
}

.teal-ribbon {
  background-image: url('/static/img/featured_bar_rwanda.png');
  background-color: #fff;
  background-position: top;
  height:30px;
}

.sd-container hr {
  background-image: url('/static/img/featured_bar_rwanda.png');
}
