#search-form {
  margin: 19px 0;
  label {
    display: block;
  }
  input[type=text] {
    width: 100%;
  }
}

.title.search {
  padding: 0.5em;
  border-bottom: 1px solid #ECECEC;
  background-color: #F5F5F5;
  h3 {
    font-weight: normal;
    font-size: 16pt;
    margin: 0 0 0 10px;
    color: #141414;
  }
  h3:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 20px;
    height: 15px;
    background: url('/static/img/search_dark.png') center center no-repeat;
    background-size: 15px;

  }
}

.search-result {
  padding: 15px;
  display: block;
  clear: both;
  text-decoration: none;
  text-align: left;
  border-bottom: 1px solid #ddd;
  .icon {
    display: inline-block;
    width: 15%;
    vertical-align: top;
  }
  .copy {
    display: inline-block;
    width: 75%;
    padding-left: 5%;
    vertical-align: top;
  }
   h6 {
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: black;
    margin: 0;
  }
  h3 {
    color: #31C4C4;
    font-weight: normal;
    margin: 5px 0;
    font-size: 14px;
  }
  p {
    padding: 0;
    color: #7A7A7A;
    font-size: 14px;
  }
}

.search-copy {
  margin-bottom: 1em;
}


.enhanced-search {
  display: none;
}


p.no-search-results {
  text-align: center;
  padding: 1em;
}
