// Articles Itself

article {

  font-size: 14px;
  color: #141414;

  a, a:hover {
    color: #7A7A7A;
    text-decoration: underline;
  }

  h1 {
    font-weight: bold;
    font-size: 13px;
    color: #4F4C54;
  }
}

.articles {
  hr {
    border-top: 1px solid #ECECEC;
  }
}
