@import "mixins";
@import "variables";
@import "base";
//@import "h5bp";
//@import "modules";
//@import "icons";

// Basic uses: Arial, Arial Bold.
// Smart uses: Tw Cent MT/ Bold, Avenir Next Condensed/ Bold/ Italic.

/*
  Here is the overall structure of the application

  Home:
  { #gem-header }
  { .language-container }
  { .articles, .latest-articles }
    - 3x articles
  { .your-words, .block }
    - title
  { .your-words, .block }
    - share your story
  { .articles, .home-section }
    - 4x articles
  { .featured-article-ribbon }
  { .gem-polls }
  { .back-to-top }
  { .teal-ribbon }
  { #gem-footer }

  Section Article List:
  { #gem-header }
  { .language-container }
  { .articles, .articles-list-view }
  { .back-to-top }
  { .teal-ribbon }
  { #gem-footer }

  Article Itself:
  { #gem-header }
  { .language-container }
  { .articles }
  { .back-to-top }
  { .teal-ribbon }
  { #gem-footer }
*/


@font-face {
  font-family: 'AvenirNextCondensed';
  src: url('/static/fonts/AvenirNextCondensed-Regular.woff2') format('woff2'),
       url('/static/fonts/AvenirNextCondensed-Regular.woff') format('woff'),
       url('/static/fonts/AvenirNextCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'AvenirNextCondensed';
  src: url('/static/fonts/AvenirNextCondensed-Bold.woff2') format('woff2'),
       url('/static/fonts/AvenirNextCondensed-Bold.woff') format('woff'),
       url('/static/fonts/AvenirNextCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'AvenirNextCondensed';
  src: url('/static/fonts/AvenirNextCondensed-Italic.woff2') format('woff2'),
       url('/static/fonts/AvenirNextCondensed-Italic.woff') format('woff'),
       url('/static/fonts/AvenirNextCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TwCenMT';
  src: url('/static/fonts/TwCenMT-Regular.woff2') format('woff2'),
       url('/static/fonts/TwCenMT-Regular.woff') format('woff'),
       url('/static/fonts/TwCenMT-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'TwCenMT';
  src: url('/static/fonts/TwCenMT-Bold.woff2') format('woff2'),
       url('/static/fonts/TwCenMT-Bold.woff') format('woff'),
       url('/static/fonts/TwCenMT-Bold.ttf') format('truetype');
  font-weight: bold;
}

$colorFirst: #e52d47; // red
$colorSecond: #27262b; // dark grey
$colorThird: #1473ad; // blue
$colorFourth: #ebebeb; // light grey
$anotherShadeOfGrey: #67666b;

@include links($colorFirst);


body,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-family: Arial, sans-serif;
  color: #141414;
}

a, a:hover {
  text-decoration: none;
}


#gem-header {
  padding: 0 8px;
  line-height: 42px;
  text-align: right;
  background: #00b8ae;

  a, a:visited {
    padding: 5px;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;;
    color: #fff;
  }

  a#logo {
    padding: 0;
    float: left;
  }
}

.language-container {
  padding: 0 8px;
  line-height: 20px;
  background: #F3F4F1;

  a, a:visited {
    font-size: 11px;
    color: #7A7A7A;
  }
}


// ARTICLES



/*

I've attempted to map out the variations in markup and class-names that
are associated to article lists and articles.

  Home:
  Variation # 1 { .articles, .latest-articles }
  ul.list-block
    li
      a.home-article-img
      div.latest-listing-container
        p.home-section-url
        h3.featured-title
        p.sub-title
        div.see-more-container
  .featured-article-ribbon

  # Vartion # 2 { .articles, .home-section }
  ul.list-block
    li
      a.listing-homepage-img
      p.articles-section-url
      h3.featured-title
      p.sub-title
      div.see-more-container


  Section Article List:
  # Variation #3 { .articles, .articles-list-view }
  h2.list-header
  ul.list-block
    li
      a.listing-homepage-img
      div.featured-section-container
      h3.featured-title
      p.sub-title
      span.read-more

  Article Itself:
  # Vartion # 4 {.article}
  h2.list-header
  div.banner
    img
  div.article-container
    h3.article-title
    p.article-sub-title
    hr.article-hr
  div.article-container
    <article>


It's remarkable that they're essentially displaying the exact same content yet
the variation and naming conventions are so different.
*/

// Containers

.list-block {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

.latest-listing-container {
  margin: 0 8px;
}

.home-section {
  li {
    margin: 24px 8px 0 8px;
  }
}

.article-container {
  margin: 8px;
}

.featured-article-ribbon {
  background: url('/static/img/featured_bar.png') repeat-x bottom;
  background-size: 80%;
  width: 100%;
  margin: 12px 0;
  height: 20px;
}


// Images:
  // v1, v3, v4 - 100% width
  // v2 - 33% width.

.latest-articles .home-article-img,
.articles-list-view .listing-homepage-img,
.article .banner {
  padding: 0;
  img {
    width: 100%;
    height: auto;
  }
}

// Icons are provided by the html, but are hidden on feature phones.
.home-section .listing-homepage-img {
  padding: 0;
  img {
    width: 33%;
    height: auto;
  }
  img.icon-pink, img.icon-teal, img.icon-lime {
    display:none;

      // img.icon-pink, img.icon-tea {
      //   background: #ed008c;
      //   @extend .default-icon-styling;
      // }
      //
      // img.icon-teal {
      //   background: #00b8ae;
      //   @extend .default-icon-styling;
      // }
      //
      // img.icon-lime {
      //   background: #cadb2a;
      //   @extend .default-icon-styling;
      // }
  }
}

// Sections
  // v1, v2 - small and pink text
  // v3, v4 - banner

.home-section-url, .articles-section-url {
  line-height: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;

  a, a:visited {
    color: #ED008C;
  }
}

.list-header {
  margin: 0;

  &.teal { background: #00b8ae; }
  &.pink { background: #ed008c; }
  &.lime { background: #cadb2a; }

  line-height: 48px;
  font-size: 14px;
  color: #18151D;
  text-transform: uppercase;

  a img {
    height: 40px;
    width: auto;
  }
}

// Title
  // v1, v2, v3, v4 - identical
.featured-title, .article-title {
  font-weight: bold;
  font-size: 15px;
  color: #141414;
  a, a:visited {
    color: #141414;
  }
}

// Subtitle
  // v1, v2, v3, v4 - identical
.sub-title, .article-sub-title {
  font-size: 14px;
  color: #7A7A7A;
}

// Read More
  // v1, v2, v3 - identical
.see-more-container, .read-more {
  margin-top: 8px;
  font-size: 11px;
  line-height: 12px;

  a {
    color: #00B8AE;
    text-decoration: underline;
  }
  a:visited {
    color: purple;
  }
}



#comments-list {
  padding: 0;
}

.yourwords-container {
  padding: 0;
  h3 {
    font-family: $font-family-avenirBold;
    font-size: 18px;
    color: #4f4c54;
  }
  p {
    font-family: $font-family-avenir-ot;
    font-size: 17px;
    color: #3a3a3a;
  }
  a {
    color: #ed008c;
    font-family: $font-family-avenir-ot;
    font-size: 14px;
    padding-top: 10px;
    display: block;
    &:visited {
      color: #ed008c;
    }
  }
}

article {

  h1 {
    font-size: 18px;
    color: #4f4c54;
    padding: 4px 0;
  }
  p {
    font-size: 17px;
    color: #3a3a3a;
  }

  p:first-child {
    padding-top: 0;
  }

  ol {
    margin: 0;
    li {
      padding: 0.5em 0;
      font-size: 17px;
      color: #3a3a3a;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 0.5em 0;
      font-size: 17px;
      color: #3a3a3a;
    }
  }

  a {
    color: #ed008c;
    font-size: 14px;
    &:visited {
      color: #ed008c;
    }
  }
}



.articles {
  hr {
    border-top: 1px solid #ECECEC;
  }
}

.article-tags:first-child {
  margin-left: 5px;
}

.article-tags {
  li {
    font-family: $font-family-TwCentBold;
    font-size: 12px;
    color: #FFFFFF;
    padding: 10px;
    background-color: #FF0099;
    float: left;
    margin: 5px;
    list-style: none;
  }

  @include clearfix;
}



#gem-footer {
  background: #ececec;
  padding: 0;
  .title {
    color: #fff;
    font-size: 15px;
    font-family: $font-family-sans-serif;
    padding-left: 1.5em;
  }
  ul.sections {
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      list-style-type: none;
      padding: 0.1em 0;

      a {
        color: #686868;
        font-family: $font-family-avenir-ot;
        font-size: 15px;
      }
    }
  }
  ul.menu {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    li {
      width: 100%;
      list-style-type: none;
      a {
        color: #FFF;
      }
    }
  }
  #footer-bar {
    font-size: 11pt;
    color: #A3A3A3;
    padding: 1em 0;
  }
}

.block.your-words.purple {
  background: #AE016D;
  padding: 0 0.8em 0.6em;
}


.your-words {
  h6 {
    margin: 0;
    display: flex;
    a {
      width: 100%;
      padding: 0.5em 0;

      font-family: $font-family-sans-serif;
      font-weight: normal;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;

      background: #00b8ae;
    }
  }
  h3 {
    font-family: $font-family-avenirBold;
    color: #fff;
    font-size: 18px;
    margin: 0;
    text-align: center;
    padding: 1.5em 0.7em;
  }
  p {
    font-family: $font-family-avenir-ot;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
  a.button {
    font-family: $font-family-TwCentBold;
    background: #fff;
    padding: 8px 13px;
    color: #FF0099;
    display: table;
    margin: 5em auto 0;
    font-size: 16px;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      background: transparent url("/static/img/Pencil.png") no-repeat;
      height: 25px;
      width: 160px;
      background-size: 100%;
      background-position: 50%;
      bottom: 70px;
      left: 50%;
      margin-left: -80px;
    }
  }
  hr {
    width: 90%;
    margin: 13px auto;
    display: block;
    border-color: #FF0099;
  }

  .your-words-body {
    form {
      margin: 0 auto;
      label {
        font-family: $font-family-sans-serif;
        color: #fff;
        font-size: 14px;
      }
      input[type=text] {
        width: 100%;
      }
      input[type=submit]{
        font-family: "TwCenMT-Bold", Arial-BoldMT, Arial, sans-serif;
        background: #fff;
        padding: 10px;
        color: #FF0099;
        display: table;
        margin: 1em auto;
        border: 0;
        font-size: 16px;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

a.back-to-top {
  text-align: left;
  display: block;
  font-size: 14px;
  padding: 10px;
  color: #141414;
  text-decoration: underline;
}

.share-image {
  display: block;
  padding: 18px 0 5px 0;
  margin: 0 auto;
}

#search-form {
  form {
    text-align: left;
    padding: 0.8em 0;
    input[type=text] {
      width: 100%;
      margin: 0.8em 0;
    }
    button {
      font-family: $font-family-TwCentBold;
      background: #ed008c;
      padding: 10px;
      color: #fff;
      border: 0;
      font-size: 14px;

    }
    label {
      font-family: $font-family-sans-serif;
      color: #141414;
      font-size: 15pt;
      margin: 0.5em 0;
    }
  }

}

.title.search {
  padding: 0.5em;
  border-bottom: 1px solid #ECECEC;
  background-color: #F5F5F5;
  h3 {
    font-weight: normal;
    font-size: 16pt;
    margin: 0 0 0 10px;
    color: #141414;
  }
  h3:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 20px;
    height: 15px;
    background: url('/static/img/search_dark.png') center center no-repeat;
    background-size: 15px;

  }
}

.search-result {
  padding: 15px;
  display: block;
  clear: both;
  text-decoration: none;
  text-align: left;
  border-bottom: 1px solid #ddd;
  .icon {
    display: inline-block;
    width: 15%;
    vertical-align: top;
  }
  .copy {
    display: inline-block;
    width: 75%;
    padding-left: 5%;
    vertical-align: top;
  }
   h6 {
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: black;
    margin: 0;
  }
  h3 {
    color: #31C4C4;
    font-weight: normal;
    margin: 5px 0;
    font-size: 14px;
  }
  p {
    padding: 0;
    color: #7A7A7A;
    font-size: 14px;
  }
}

.search-copy {
  margin-bottom: 1em;
}

h3.comment-header {
  font-family: $font-family-avenirBold;
  font-size: 18px;
  color: #141414;
  margin: 0;
}

.comment-form {
  text-align: center;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 0.6em;
  margin-bottom: 1em;
  h1 {
    font-family: $font-family-avenir-ot;
    font-size: 16px;
    color: #141414;
    padding: 1em 0 0 0;
  }
  ul.errorlist {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      text-align: center;
      padding: 0 0 1em 0;
    }
  }
  .comment-submit {
    background: #ed008c;
    text-align: center;
    border: 0;
    font-family: $font-family-avenir-ot;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    color: #fff;
  }
  .submit-anonymous {
    text-align: center;
    background: none;
    color: #31C4C4;
    font-family: $font-family-avenir-ot;
    font-size: 18px;
    border: 0;
    margin-top: 0.5em;
  }
}

ul.errorlist ~ p {
    width: 88%;
    display: block;
    margin: 0 auto;
}

.view-more-comments {
  a {
    background: #ed008c;
    padding: 0.5em;
    display: table;
    margin: 15px auto;
    color: #fff;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    &:visited {
      color: #fff;
    }
  }
}

.comments-count {
  font-family: $font-family-TwCentBold;
  font-size: 18px;
  color: #141414;
}

.by {
  font-family: $font-family-TwCentBold;
  color: #141414;
  font-size: 18px;
}

p.comment-body {
  font-family: $font-family-sans-serif;
  font-size: 17px;
  color: #141414;
}

.date {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  color: #A3A3A3;
}

a.report {
  color: #ed008c;
  font-family: $font-family-avenir-ot;
  font-size: 16px;
}

.comment-login {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  color: #A3A3A3;
  padding: 0;
}

a.comment-login-button {
  button {
    background: #141414;
    text-align: center;
    border: 0;
    font-family: $font-family-TwCentBold;
    font-size: 16px;
    color: #fff;
    width: 88%;
    padding: 0.5em;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
}

a.comment-login-button:hover {
  text-decoration: none;
}

.comment-sign-up {
  text-align: center;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  color: #141414;
  a {
    color: #ed008c;
  }
}

.enhanced-search {
  display: none;
}

.profile {
  h3 {
    font-family: $font-family-avenir-ot;
    font-size: 16px;
    color: #141414;
    margin: 0;
  }
}

.signin-form {
  p {
    font-family: $font-family-avenir-ot;
    font-size: 14px;
    color: #141414;
  }

  h5 {
    font-family: $font-family-avenir-ot;
    font-size: 16px;
    color: #141414;
    margin: 0;
  }

  form {
    p {
      font-family: $font-family-avenir-ot;
      font-size: 16px;
      color: #141414;
      margin: 0;
    }
    input {
      margin: 0.5em auto;
      display: block;
      width: 100%;
    }
    input[type=submit]{
      display: block;
      font-family: $font-family-avenirBold;
      background: #ed008c;
      padding: 10px;
      color: #fff;
      border: 0;
      font-size: 18px;
      margin: 0.5em auto;
    }
    a {
      text-align: right;
      background: none;
      color: #ee028d;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      border: 0;
      margin-top: 0.8em;
      display: block;
    }
  }
}

a.logout-link {
  text-align: left;
  background: none;
  color: #ee028d;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  border: 0;
  display: block;
}


.search-icon {
  background-image: url('/static/img/search.png');
  height: 36px;
  width: 48px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50%;
  border-radius: 0 5px 5px 0;
}

p.no-search-results {
  text-align: center;
  padding: 1em;
}

.sd-heading {
  font-family: $font-family-avenirBold;
  font-size: 16px;
  color: #141414;
  margin: 0;
}

.sd-search-form {
  input[type=text] {
    width: 100%;
  }
  input[type=submit] {
    font-family: $font-family-TwCentBold;
    background: #ed008c;
    padding: 10px;
    color: #fff;
    border: 0;
    font-size: 16px;
    margin: 0.5em 0;
  }
}

.sd-search-form ~ ul {
  padding: 0;
  li:first-child {
    border-top: 1px solid #ECECEC;
  }
  li {
    list-style: none;
    padding: 0.5em 0;
    border-bottom: 1px solid #ECECEC;
  }
  a {
    font-family: $font-family-avenir-ot;
    color: #ed008c;
    display: inline-block;
    font-size: 14px;
  }

}

.sd-location {
  padding: 1.5em 0 0 0;
  display: inline-block;
  font-size: 14px;
  color: #141414;
  font-family: $font-family-avenirBold;
  a {
    font-family: $font-family-avenir-ot;
    color: #ed008c;
    display: block;
    padding: 0.5em 0;
  }
}

.sd-num-results {
  font-family: $font-family-avenirBold;
  color: #141414;
  font-size: 14px;
}


.sd-service-categories, .sd-org-contact, .sd-service-location, .sd-service-keywords, .sd-service-tradinghours,
.sd-org-address {
  font-family: $font-family-avenir-ot;
  color: #141414;
  font-size: 14px;
}

.sd-heading.svc-org-name {
  margin-top: 10px;
}

a {
  .sd-heading.svc-org-name {
    color: #ed008c;
    font-weight: normal;
  }
  .sd-heading.svc-org-name:hover {
    text-transform: none;
  }
}

hr {
  border-top-color: #ECECEC;
}

h4.report {
  font-family: $font-family-TwCentBold;
  font-size: 16px;
  color: #141414;
  padding: 1em 1.1em 0;
  margin: 0;
}

.report.block {
  padding-bottom: 1em;
}

.report.block p:first-child {
  font-family: $font-family-TwCentBold;
  font-size: 16px;
  color: #141414;
  padding: 1em 1.1em 0;
  margin: 0;
}

.report.block p:last-child {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  color: #141414;
  padding: 1em 1.3em 0;
  margin: 0 0 0.8em 0;
}

.report.block a {
    text-align: center;
    color: #31C4C4;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    padding: 1em;
}






.list-inline {
  h4 {
    color: #000;
    text-align: left;
    font-family: $font-family-avenirBold;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    font-family: $font-family-avenir-ot;
    padding: 0.5em 0;
    color: #000;
  }

  span {
    font-size: 14px;
    font-family: $font-family-sans-serif;
    padding: 0.5em 0;
    color: #000;
  }
  a {
    color: #31C4C4;
    font-family: $font-family-sans-serif;
    font-size: 16px;
  }
}

.gem-polls {
  background: #cadb2a;
  h2.list-header {
    background: #ae016d;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 0.5em;
  }
  .list-inline {
    padding: 1em 0;
    h3 {
      color: #000;
      text-align: left;
      font-family: $font-family-avenirBold;
      font-size: 18px;
      font-weight: normal;
      padding: 0 1em;
      text-transform: uppercase;
    }
    form {
      div {
        div {
          border-top: 2px solid #b5c524;
          padding: 1em;
          color: #000;
          input {
            float: left;
          }

          label {
            margin-left: 30px;
            font-size: 14pt;
            font-family: $font-family-sans-serif;
            display: block;
          }
        }
        div:last-child {
          border-bottom: 2px solid #b5c524;
        }
      }
      input[type="submit"] {
        border:0;
        background: #ed008c;
        display: block;
        font-family: $font-family-TwCentBold;
        color: #fff;
        margin: 1em auto 0.2em;
        font-size: 14pt;
      }
      a {
        border:0;
        background: #ed008c;
        display: table;
        font-family: $font-family-TwCentBold;
        color: #fff;
        padding: 0.5em;
        margin: 1em auto 0.2em;
        font-size: 16px;
      }
    }
    form+hr {
      display: none;
    }
  }
}

.teal-ribbon {
  background: url('/static/img/dec_strip_teal.png');
  background-repeat: repeat-x;
  background-size: 100%;
  height: 24px;
}


.title {
  h6 {
    font-size: 20px;
    font-family: $font-family-avenirBold;
    color: #000;
    margin: 0;
  }
}

.pagination {
  padding: 0;
  a {
    color: #00b8ae;
  }
}

h1.sd-heading.category-grouping {
 a {
   color: #ed008c;
 }
}

.sd-category-keywords {
 color: #ed008c;
 font-family: $font-family-avenir-ot;
 font-size: 14px;
 a {
   color: #ed008c;
 }
}

.sd-heading.service-rating {
  margin-bottom: 1em;
  padding-top: 0;
  font-size: 16px;
  font-family: $font-family-avenirBold;
}

.service-rating + form {
  button {
    margin: 0 0.5em;
  }
}

.sd-msg {
  margin: 1em;
  padding: 0.8em!important;
  color: #000;
  font-family: $font-family-avenir-ot;
  font-size: 16px;
}

.sd-heading.report-info {
    text-align: center;
    padding: 0.8em;
}

.service-rating + form + hr + a {
  color: #ed008c;
  font-size: 16px;
  font-family: $font-family-avenir-ot;
}

.report-info + form {
  padding: 0 0.8em 0;
  .sd-option {
    padding: 4px 0;
    color: #000;
    font-size: 14px;
    font-family: $font-family-avenir-ot;
  }
  button[type='submit']{
    font-family: $font-family-avenirBold;
    background: #ed008c;
    padding: 10px;
    color: #fff;
    border: 0;
    font-size: 14px;
  }
}

.sd-option + label {
  color: #000;
  display: inline-block;
  margin: 10px 0;
  font-size: 14px;
  font-family: $font-family-avenir-ot;
}

.sd-no-search-results {
  color: #000;
  font-size: 14px;
  font-family: $font-family-avenir-ot;
  display: block;
  a {
    color: #ed008c;
  }
}

.sd-container {
  padding: 0;
}

.sd-help-text {
  color: #7A7A7A;
  font-size: 14px;
  font-family: $font-family-avenir-ot;
}

.sd-input {
  label {
    font-family: $font-family-avenir-ot;
    font-size: 16px;
    color: #141414;
    display: block;
    margin-top: 15px;
  }
  input {
    margin: 0.5em auto;
    display: block;
    width: 100%;
  }
  span.sd-input-sub {
    color: #7A7A7A;
    font-size: 14px;
    font-family: $font-family-avenir-ot;
  }
}

h1.send-sms + form {
  button[type='submit'] {
    display: block;
    font-family: $font-family-avenirBold;
    background: #ed008c;
    padding: 10px;
    color: #fff;
    border: 0;
    font-size: 18px;
    width: 100%;
    margin: 1em 0;
  }
}

.sd-self-sms {
  margin-bottom: 1em;
  padding-top: 0;
  font-size: 16px;
  font-family: $font-family-avenirBold;
  color: #141414;
}

a.sd-sms-button {
  display: block;
  font-family: $font-family-avenirBold;
  background: #ed008c;
  padding: 10px;
  border: 0;
  font-size: 18px;
  width: 100%;
  margin: 1em 0;
  color: #fff;
  text-align: center;
}
