{% extends "base.html" %}
{% load wagtailsettings_tags wagtailcore_tags core_tags wagtailimages_tags wagtailembeds_tags %}
{% get_settings %}

{% block content %}
{% get_translation self.get_parent_section.get_parent_section.get_parent_section as ancestor %}
{% get_translation self.get_parent_section.get_parent_section as parent %}
{% get_translation self.get_parent_section as section %}
<div class="article-page{% if section.get_effective_extra_style_hints %} article-page--{{section.get_effective_extra_style_hints}}{% endif %}">
  <div class="banner">
    <div class="heading heading--hero">
      <h1 class="heading__title">{{section.title}}</h1>
    </div>
  </div>
  <div class="article-page__wrapper">
    {% if ancestor.get_main_language_page.title == "Watch" or  parent.get_main_language_page.title == "Watch" or section.get_main_language_page.title == "Watch" %}
      <div class="teaser-breadcrumb">
        <ul class="teaser-breadcrumb-list">
          {% if parent != None %}
            <li class="teaser-breadcrumb-list__item">
              <span class="teaser-breadcrumb-list__anchor">{{parent}}</span>
            </li>
          {% endif %}
          {% if section != None %}
            <li class="teaser-breadcrumb-list__item">
              <a href="{% pageurl self.specific %}"  class="teaser-breadcrumb-list__anchor">{{section}}</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <h1 class="heading__subheading heading__subheading--watch">{{ page.title}}</h1>
      {% if page.homepage_media %}
        {% for block in page.homepage_media %}
          {% with block.value as media %}
            <p class="media-player__duration">({{media.duration}})</p>
            <div class="call-to-action call-to-action--watch call-to-action--media-download">
              <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button call-to-action__button--primary" download>
                {% trans "Download" %} {% if media.file.size %}<span class="call-to-action__item--text">({{media.file.size|filesizeformat}})</span>{% endif %}
              </a>
            </div>
          {% endwith %}
        {% endfor %}
      {% endif %}
    {% elif ancestor.get_main_language_page.title == "Listen" or parent.get_main_language_page.title == "Listen" or section.get_main_language_page.title == "Listen" %}
      <div class="teaser-breadcrumb">
        <ul class="teaser-breadcrumb-list">
          {% if parent != None %}
            <li class="teaser-breadcrumb-list__item">
              <span class="teaser-breadcrumb-list__anchor">{{parent}}</span>
            </li>
          {% endif %}
          {% if section != None %}
            <li class="teaser-breadcrumb-list__item">
              <a href="{% pageurl self.specific %}"  class="teaser-breadcrumb-list__anchor">{{section}}</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <h1 class="heading__subheading heading__subheading--listen">{{ page.title}}</h1>
      {% if page.homepage_media %}
        {% for block in page.homepage_media %}
          {% with block.value as media %}
            <div class="call-to-action call-to-action--listen call-to-action--media-download">
              <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Audio', 'Download', '{{media.title}}');" class="call-to-action__button call-to-action__button--primary" download>
                {% trans "Download Audio" %} {% if media.file.size %}<span class="call-to-action__item--text">({{media.file.size|filesizeformat}})</span>{% endif %}
              </a>
            </div>
        {% endwith %}
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if page.homepage_media %}
      {% for block in page.homepage_media %}
        {% with block.value as media %}
          <div class="article-page__images-hero">
            {% if block.value.youtube_link %}
              {% embed media.youtube_link %}
            {% elif block.value.type == 'video' %}
              <div class="media-player__embed">
                <video poster="/media/{{ media.thumbnail }}" controls>
                  <source src={{media.file.url}} type="video/mp4">
                  <source src={{media.file.url}} type="video/webm">
                  <source src={{media.file.url}} type="video/ogg">
                  <span class="media-player__caption">
                    {% trans "Your browser does not support the video tag." %}
                  </span>
                </video>
              </div>
            {% elif block.value.type == 'audio' %}
              <div class="media-player__embed media-player__embed--audio">
                <audio controls>
                 <source src={{media.file.url}} type="audio/mpeg">
                 <source src={{media.file.url}} type="audio/ogg">
                 <source src={{media.file.url}} type="audio/wav">
                   <span class="media-player__caption">
                     {% trans "Your browser does not support the audio tag." %}
                   </span>
                 </audio>
               </div>
            {% endif %}
          </div>
        {% endwith %}
      {% endfor %}
    {% else %}
      {% if self.get_effective_image %}
        <div class="article-page__images">
          {% image self.get_effective_image width-480 format-jpeg as article_thumbnail %}
          <img alt="{{ self.title }}" src="{{ article_thumbnail.url }}" class="article-page__thumbnail" />
        </div>
      {% endif %}
    {% endif %}

    {% if section.get_main_language_page.title == "News" or section.get_main_language_page.title == "Cast" %}
      <div class="heading heading--macro">
        <h1 class="heading__title">{{ page.title}}</h1>
      </div>
      <h3 class="heading__subtitle">{{ page.subtitle}}</h3>
    {% endif %}

    {% load_tags_for_article self as tags %}
    {% if tags %}
    <ul class="teaser-tags">
      {% if settings.core.SiteSettings.enable_tag_navigation %}
        {% for tag in tags %}
          {% if not tag.title.20 %}
            <li class="teaser-tags__item">
              <a href="{% url 'tags_list' tag.slug %}" class="teaser-tags__anchor">
                <span class="teaser-tags__title">{{ tag.title }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
    {% endif %}

    {% if ancestor.get_main_language_page.title == "Watch" or  parent.get_main_language_page.title == "Watch" or section.get_main_language_page.title == "Watch" %}
      <div class="article-page__columns">
        <div class="article-page__first-column">
    {% elif ancestor.get_main_language_page.title == "Listen" or parent.get_main_language_page.title == "Listen" or section.get_main_language_page.title == "Listen" %}
      <div class="article-page__columns">
        <div class="article-page__first-column">
    {% endif %}
        <article class="article">
          {% for block in self.body %}
            {% if block.block_type == 'heading' %}
              <h3 class="heading__headline">{{ block.value }}</h3>
            {% elif block.block_type == 'image' %}
              <div class="article-page__images--inner">
                {% image block.value width-480 format-jpeg class="article-page__thumbnail--inner" %}
              </div>
            {% elif block.value.youtube_link %}
              {% with block.value as media %}
                <div class="media-player">
                  <div class="media-player__wrapper media-player__wrapper--video">
                    {% if not is_via_freebasics %}
                      <div class="media-player__embed">
                        {% embed media.youtube_link %}
                      </div>
                      <div class="media-player__download">
                        <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button call-to-action__button--primary" download>
                          {% trans "Download Video" %}
                        </a>
                      </div>
                    {% else %}
                      <div class="media-player__content">
                        <h4 class="media-player__title">{{media.title}}</h4>
                        <a alt="{% trans 'Click to watch on youtube!' %}" href="{{ media.youtube_link }}" target="_top" class="media-player__icon" download>
                          {% trans 'Click to watch on youtube!' %}
                        </a>
                        <h3 class="media-player__subtitle">
                        {% trans "Media will be played externally in a new window" %}
                        </h3>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endwith %}
            {% elif block.value.type == 'video'%}
              {% with block.value as media %}
                <div class="media-player">
                  <div class="media-player__wrapper media-player__wrapper--video">
                    {% if not is_via_freebasics %}
                      <div class="media-player__embed">
                        <video poster="/media/{{ media.thumbnail }}" controls>
                          <source src={{media.file.url}} type="video/mp4">
                          <source src={{media.file.url}} type="video/webm">
                          <source src={{media.file.url}} type="video/ogg">
                          <span class="media-player__caption">
                            {% trans "Your browser does not support the video tag." %}
                          </span>
                        </video>
                      </div>
                      <div class="media-player__download">
                        <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button call-to-action__button--primary" download>
                          {% trans "Download Video" %}
                        </a>
                      </div>
                    {% else %}
                      <div class="media-player__content">
                        <h4 class="media-player__title">{{media.title}}</h4>
                        <a alt="{% trans 'Click here to download video' %}" href="{{media.file.url}}" target="_top" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="media-player__icon" download></a>
                        <h3 class="media-player__subtitle">
                          {% trans "Video files will not be played, you can download them" %}
                        </h3>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endwith %}
            {% elif block.value.type == 'audio'%}
              {% with block.value as media %}
                <div class="media-player">
                  <div class="media-player__wrapper media-player__wrapper--audio">
                    {% if not is_via_freebasics %}
                    <div class="media-player__embed">
                      <audio controls>
                        <source src={{media.file.url}} type="audio/mpeg">
                        <source src={{media.file.url}} type="audio/ogg">
                        <source src={{media.file.url}} type="audio/wav">
                          <span class="media-player__caption">
                            {% trans "Your browser does not support the audio tag." %}
                          </span>
                      </audio>
                    </div>
                    <div class="media-player__download">
                      <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Audio', 'Download', '{{media.title}}');" class="call-to-action__button call-to-action__button--primary" download>
                        {% trans "Download Audio" %}
                      </a>
                    </div>
                    {% else %}
                      <div class="media-player__content">
                        <h4 class="media-player__title">{{media.title}}</h4>
                        <a alt="{% trans 'Click here to download audio' %}"  href="{{media.file.url}}" onclick="ga('send', 'event', 'Audio', 'Download', '{{media.title}}');" class="media-player__icon" download></a>
                        <h3 class="media-player__subtitle">
                          {% trans "Audio files will not be played, you can download them" %}
                        </h3>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endwith %}
            {% elif block.block_type == 'numbered_list' %}
              <ol class="ordered-list">
                {% for item in block.value %}
                  <li class="ordered-list__item">{{ item|handle_markdown }}</li>
                {% endfor %}
              </ol>
            {% elif block.block_type == 'list' %}
              <ul class="unordered-list">
              {% for item in block.value %}
                <li class="unordered-list__item">
                  {{ item|handle_markdown }}
                </li>
              {% endfor %}
              </ul>
            {% else %}
              {{ block }}
            {% endif %}
          {% endfor %}
        </article>
        {% if settings.core.SiteSettings.enable_clickable_tags %}
          <ul class="teaser-tags teaser-tags--non-click">
            {% for tag in self.tags_list %}
              <li class="teaser-tags__item">
                <span class="teaser-tags__title">{{tag}}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if settings.core.SiteSettings.facebook_sharing or settings.core.SiteSettings.twitter_sharing or settings.core.SiteSettings.whatsapp_sharing or settings.core.SiteSettings.telegram_sharing or settings.core.SiteSettings.viber_sharing %}
          {% if ancestor.get_main_language_page.title == "Watch" or  parent.get_main_language_page.title == "Watch" or section.get_main_language_page.title == "Watch" %}
            <div class="social-media social-media--watch">
              {% if page.homepage_media %}
                {% for block in page.homepage_media %}
                  {% with block.value as media %}
                    <div class="call-to-action call-to-action--watch call-to-action--media-download">
                      <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button call-to-action__button--primary" download>
                        {% trans "Download" %} {% if media.file.size %}<span class="call-to-action__item--text">({{media.file.size|filesizeformat}})</span>{% endif %}
                      </a>
                    </div>
                  {% endwith %}
                {% endfor %}
              {% endif %}
              {% social_media_article %}
            </div>
          {% elif ancestor.get_main_language_page.title == "Listen" or parent.get_main_language_page.title == "Listen" or section.get_main_language_page.title == "Listen" %}
            <div class="social-media social-media--listen">
              {% if page.homepage_media %}
                {% for block in page.homepage_media %}
                  {% with block.value as media %}
                    <div class="call-to-action call-to-action--listen call-to-action--media-download">
                      <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Audio', 'Download', '{{media.title}}');" class="call-to-action__button call-to-action__button--primary" download>
                        {% trans "Download Audio" %} {% if media.file.size %}<span class="call-to-action__item--text">({{media.file.size|filesizeformat}})</span>{% endif %}
                      </a>
                    </div>
                  {% endwith %}
                {% endfor %}
              {% endif %}
              {% social_media_article %}
            </div>
          {% else %}
            <div class="social-media">
              {% social_media_article %}
            </div>
          {% endif %}
        {% endif %}
        <a href="{{request.GET.next}}" class="call-to-action__item call-to-action__item--nav-back">{% trans "Go back to" %} {{section}}</a>
      {% if ancestor.get_main_language_page.title == "Watch" or  parent.get_main_language_page.title == "Watch" or section.get_main_language_page.title == "Watch" %}
          </div>
          <div class="article-page__second-column">
            {% include "core/related-article-list.html" with teaser_type="grid" %}
          </div>
        </div>
      {% elif ancestor.get_main_language_page.title == "Listen" or parent.get_main_language_page.title == "Listen" or section.get_main_language_page.title == "Listen" %}
          </div>
          <div class="article-page__second-column">
            {% include "core/related-article-list.html" with teaser_type="grid" %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
