{% extends "base.html" %}
{% load wagtailcore_tags core_tags %}
{% block content %}
  <div class="contact-page">
    <div class="contact-page__columns">
      <div class="contact-page__first-column">
        <div class="heading">
          <h1 class="heading--title">{{ page.title }}</h1>
        </div>
        <div class="heading--subtitle">
          {{ page.intro }}
        </div>
          {% include_block page.body %}
          <form action="{% pageurl page.specific %}" method="POST" class="" novalidate>
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" class="">
          </form>
      </div>
      <div class="contact-page__second-column">
      </div>
    </div>
  </div>
{% endblock %}
