{% extends "base.html" %}
{% load cache wagtailcore_tags core_tags wagtailimages_tags staticfiles el_pagination_tags gem_tags forms_tags %}

{% block content %}
  {% gembannerpages %}
  {% bannerpages position=0 %}
  {# <!-- OPEM landing-page DIV -->#}
  <div class="landing-page">
    {# <!-- OPEN landing-page__first-column DIV -->#}
    <div class="landing-page__first-column">
      {% topic_of_the_day %}
      {% latest_listing_homepage num_count=1 %}
      {% media_listing_homepage %}
      {# <!-- FRAGMENTED DIVS PAGE -->#}
      {% section_listing_homepage %}

      <!-- WHAT DOES THIS DO? -->
      {% forms_list %}
  </div>
{% endblock %}
