{% extends "base.html" %}
{% load cache wagtailcore_tags core_tags wagtailimages_tags staticfiles  gem_tags %}

{% block content %}
  {% block meta %}
      <meta name="description" content="{% if self.search_description %}{{self.search_description}}{% else %}Springster celebrates the diverse, inspirational and convention‑defying experiences of girls across the world.{% endif %}" />
      <meta name="keywords" content="{{ self.seo_title }}" />
      <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
      <meta property="og:description" content="{{ self.search_description }}"/>
      <meta property="og:image" content="{{request.site.root_url}}{% static 'img/springster-fb-share.png' %}"/>
  {% endblock %}

  {% gembannerpages  %}
  {% bannerpages position=0 %}

  {% comment 'Banner cache' %}
  {% cache 900 main_banners_top request.site locale_code %}
    <!-- Banner content-->
  {% endcache %}
  {% endcomment %}

  <!--TOPIC OF DAY: HERO - VIDEO ARTICLE / AUDIO ARTICLE / GENERAL ARTICLE TEASER -->
  {% topic_of_the_day %}

  <!-- LATEST LISTING HOMEPAGE: LATEST - VIDEO ARTICLE / AUDIO ARTICLE / GENERAL ARTICLE TEASER -->
  {% latest_listing_homepage num_count=1 %}

  <!-- GENERAL MEDIA: VIDEO / AUDIO FEATURED ON HOMEPAGE - STANDALONE  -->
  {% media_listing_homepage %}

  <!-- GENERAL: ARTICLE TEASERS - FEATURED ON HOMEPAGE  -->
  {% section_listing_homepage %}
{% endblock %}
