<!-- WATCH SECTION -->
  <div class="section-page__columns section-page__columns--watch">
    <div class="section-page__first-column">
      <div class="heading heading--video">
        <h1 class="heading__component">{% trans "Featured episode" %}</h1>
      </div>
      <!--CAN LOAD CHILD PAGES HERE IF PROMOTED VIA SECTION -->
      {% for section in sections %}
        <!--CAN LOAD CHILD SECTION PAGES HERE IF PROMOTED VIA SECTION -->
        <div class="article-teaser__wrapper">
          {% load_descendant_articles_for_section section count=1 featured_in_section=True as articles %}
          {% if articles %}
            <ul class="teaser-stacklist teaser-stacklist--watch">
            {% for article in articles %}
              {% if article.homepage_media %}
                <li class="teaser-stacklist__item">
                  {% for block in article.homepage_media %}
                    {% with block.value as media %}
                      <div class="teaser-stacklist__images">
                        {% if block.value.youtube_link %}
                          {% embed media.youtube_link %}
                        {% elif block.value.type == 'video' %}
                          <div class="media-player__embed">
                            <video poster="/media/{{ media.thumbnail }}" controls>
                              <source src={{media.file.url}} type="video/mp4">
                              <source src={{media.file.url}} type="video/webm">
                              <source src={{media.file.url}} type="video/ogg">
                              <span class="media-player__caption">
                                {% trans "Your browser does not support the video tag." %}
                              </span>
                            </video>
                          </div>
                        {% else %}
                          {% if article.get_effective_image %}
                          <div class="teaser-stacklist__images">
                            <a href="{% pageurl article.specific %}" class="teaser-stacklist__anchor">
                              {% image article.get_effective_image width-480 format-jpeg as teaser_thumbnail %}
                              <img alt="{{ article.title }}" src="{{ teaser_thumbnail.url }}" class="teaser-stacklist__thumbnail" />
                            </a>
                          </div>
                          {% endif %}
                        {% endif %}
                      </div>
                      {% include "core/section_page-partials/section_video-article-teaser.html" %}
                    {% endwith %}
                  {% endfor %}
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="section-page__second-column">
      {% for section in sections %}
        <div class="heading">
          <h1 class="heading__subheading">{{section}}</h1>
        </div>

        {% load_child_articles_for_section section as articles %}
          {% if articles %}
          <ul class="teaser-stacklist teaser-stacklist--watch">
          {% for article in articles %}
            {% if article.homepage_media %}
              {% for block in article.homepage_media %}
                <li class="teaser-stacklist__item">
                  {% with block.value as media %}
                    <div class="teaser-stacklist__images">
                      {% if article.get_effective_image %}
                        <div class="teaser-stacklist__images">
                          <a href="{% pageurl article.specific %}" class="teaser-stacklist__anchor">
                            {% image article.get_effective_image width-480 format-jpeg as teaser_thumbnail %}
                            <img alt="{{ article.title }}" src="{{ teaser_thumbnail.url }}" class="teaser-stacklist__thumbnail" />
                          </a>
                        </div>
                      {% endif %}
                    </div>
                    {% include "core/section_page-partials/section_video-article-teaser.html" %}
                  {% endwith %}
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}

        {% load_child_sections_for_section section=section as sec_sections %}
        {% if sec_sections %}
          <ul class="teaser-accordion-list teaser-accordion-list--watch">
            {% for sec_section in sec_sections %}
            <li class="teaser-accordion-list__item">
              <!-- INLINE CSS -->
              {% spaceless %}
                <style media="screen">
                  .teaser-accordion-list__{{section|slugify}}-{{sec_section|slugify}} + * {
                    height: auto;
                    opacity: 0;
                    display: none;
                    visibility: hidden;
                    transition: visibility 0.2s, opacity 0.5s ease-out;
                  }
                  .teaser-accordion-list__{{section|slugify}}-{{sec_section|slugify}}:checked + * {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                  }
                </style>
              {% endspaceless %}
              <label for="teaser_accordion_{{section|slugify}}-{{sec_section|slugify}}" class="teaser-accordion-list__anchor">{{sec_section}}</label>
              <input type="checkbox" value="accordion" name="accordion" id="teaser_accordion_{{section|slugify}}-{{sec_section|slugify}}" class="teaser-accordion-list__{{section|slugify}}-{{sec_section|slugify}}" />
              {% load_child_articles_for_section sec_section as articles %}
              {% if articles %}
              <ul class="teaser-stacklist teaser-stacklist--watch">
                {% for article in articles %}
                  {% if article.homepage_media %}
                    {% for block in article.homepage_media %}
                      <li class="teaser-stacklist__item">
                        {% with block.value as media %}
                          <div class="teaser-stacklist__images">
                            {% if article.get_effective_image %}
                              <div class="teaser-stacklist__images">
                                <a href="{% pageurl article.specific %}" class="teaser-stacklist__anchor">
                                  {% image article.get_effective_image width-480 format-jpeg as teaser_thumbnail %}
                                  <img alt="{{ article.title }}" src="{{ teaser_thumbnail.url }}" class="teaser-stacklist__thumbnail" />
                                </a>
                              </div>
                            {% endif %}
                          </div>
                          {% include "core/section_page-partials/section_video-article-teaser.html" %}
                        {% endwith %}
                      </li>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  </div>


<!-- LISTEN SECTION -->
  <div class="section-page__columns section-page__columns--listen">
    <div class="section-page__first-column section-page__first-column--listen">
      <div class="heading heading--listen">
        <h1 class="heading__component">{% trans "Featured episode" %}</h1>
      </div>
      <!--CAN LOAD CHILD PAGES HERE IF PROMOTED VIA SECTION -->
      {% for section in sections %}
        <!--CAN LOAD CHILD SECTION PAGES HERE IF PROMOTED VIA SECTION -->
        <div class="article-teaser__wrapper">
          {% load_descendant_articles_for_section section count=1 featured_in_section=True as articles %}
          {% if articles %}
            <ul class="teaser-stacklist teaser-stacklist--listen">
              {% for article in articles %}
                {% if article.homepage_media %}
                  {% for block in article.homepage_media %}
                    {% with block.value as media %}
                      {% include "core/section_page-partials/section_audio-article-teaser.html" %}
                    {% endwith %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="section-page__second-column section-page__second-column--listen">
      {% for section in sections %}
        {% load_descendant_articles_for_section section as articles %}
        {% if articles %}
          <div class="heading">
            <h1 class="heading__subheading">{{section}}</h1>
          </div>
          <!--CAN LOAD CHILD SECTION PAGES HERE IF PROMOTED VIA SECTION -->
          <div class="article-teaser__wrapper">
              <ul class="teaser-stacklist teaser-stacklist--listen">
                {% for article in articles %}
                <!-- HOMEPAGE MEDIA DOES NOT SEEM TO WORK -->
                  {% if article.homepage_media %}
                    {% for block in article.homepage_media %}
                      {% with block.value as media %}
                        {% include "core/section_page-partials/section_audio-article-teaser.html" %}
                      {% endwith %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        {% endif %}

        {% load_child_sections_for_section section=section as sec_sections %}
        {% if sec_sections %}
          <ul class="teaser-accordion-list teaser-accordion-list--listen">
            {% for sec_section in sec_sections %}
            <li class="teaser-accordion-list__item">
              <!-- INLINE CSS -->
              {% spaceless %}
                <style media="screen">
                  .teaser-accordion-list__{{section|slugify}}-{{sec_section|slugify}} + * {
                    height: auto;
                    opacity: 0;
                    display: none;
                    visibility: hidden;
                    transition: visibility 0.2s, opacity 0.5s ease-out;
                  }
                  .teaser-accordion-list__{{section|slugify}}-{{sec_section|slugify}}:checked + * {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                  }
                </style>
              {% endspaceless %}
              <label for="teaser_accordion_{{section|slugify}}-{{sec_section|slugify}}" class="teaser-accordion-list__anchor">{{sec_section}}</label>
              <input type="checkbox" value="accordion_audio" name="accordion_audio" id="teaser_accordion_{{section|slugify}}-{{sec_section|slugify}}" class="teaser-accordion-list__{{section|slugify}}-{{sec_section|slugify}}" />
              {% load_child_articles_for_section sec_section as articles %}
              {% if articles %}
                <ul class="teaser-stacklist teaser-stacklist--listen">
                  {% for article in articles %}
                    {% if article.homepage_media %}
                      {% for block in article.homepage_media %}
                        {% with block.value as media %}
                          {% include "core/section_page-partials/section_audio-article-teaser.html" %}
                        {% endwith %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% endif %}

      {% endfor %}
    </div>
  </div>
