{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags core_tags gem_tags %}
{% comment %}
  <!-- SINGLE SECTION FOR VIDEO, AUDIO, IMAGE, TEXT-->
{% endcomment %}

{% block content %}
  <div class="section-page">
    <div class="banner">
      <div class="heading heading--hero">
        <h1 class="heading__title">{{self.title}}</h1>
      </div>
    </div>
    {% load_child_articles_for_section self as articles %}
    {% load_descendant_articles_for_section self as child_articles %}
    {% load_descendant_articles_for_section self featured_in_homepage=True as ancestor_featured_homepage_articles %}
    {% load_descendant_articles_for_section self featured_in_section=True as ancestor_featured_sectionpage_articles %}

    {% with ancestor=self.get_parent_section.get_parent_section parent=self.get_parent_section %}
      {% if ancestor.specific %}
        {% pageurl ancestor.specific as section %}
      {% elif parent.specific %}
        {% pageurl parent.specific as section %}
      {% elif self.specific %}
        {% pageurl self.specific as section %}
      {% endif %}

        {% if section == '/sections/watch/' %}
        <div class="section-page__columns">
          <div class="section-page__first-column">
            <div class="heading heading--video">
              <h1 class="heading__component">{% trans "Featured episode" %}</h1>
            </div>
            <div class="article-teaser__wrapper">
              <ul class="teaser-stacklist">
                {% for article in child_articles|slice:":1" %}
                  {% if article.homepage_media %}
                    {% for block in article.homepage_media %}
                      {% with block.value as media %}
                        {% include "core/section_page-partials/section_video-article-teaser.html" %}
                      {% endwith %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="section-page__second-column">
          </div>
        </div>
        {% elif section == '/sections/listen/' %}
        <div class="section-page__columns">
          <div class="section-page__first-column">
            <div class="heading heading--latest">
              <h1 class="heading__component">{% trans "Featured episode" %}</h1>
            </div>
            <div class="article-teaser__wrapper">
              <ul class="teaser-stacklist">
                {% for article in child_articles|slice:":1" %}
                  {% if article.homepage_media %}
                    {% for block in article.homepage_media %}
                      {% with block.value as media %}
                        {% include "core/section_page-partials/section_audio-article-teaser.html" %}
                      {% endwith %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="section-page__second-column">
          </div>
        </div>
        {% elif section == '/sections/cast/' %}
          <div class="section-page__wrapper">
            <div class="article-teaser article-teaser--sidebar">
              <div class="article-teaser__wrapper">
                <ul class="teaser-grid">
                  {% for article in child_articles %}
                    {% include "core/section_page-partials/section_article-teaser.html" with teaser_type="grid" %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% elif section == '/sections/news/' %}
          <div class="section-page__wrapper">
            <div class="article-teaser article-teaser--general">
              <div class="article-teaser__wrapper">
                <ul class="teaser-stacklist">
                  {% for article in child_articles %}
                    {% include "core/section_page-partials/section_article-teaser.html" with teaser_type="stacklist" %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
    {% endwith %}
  </div>
{% endblock %}
