.search-accordion__label {
  display: -webkit-inline-box;
}
.section-nav {
  &__label::before {
    -webkit-transform: perspective(0) rotateX(0) rotateY(0);
  }
  &__shadow {
    -webkit-transform: perspective(0) rotateX(0) rotateY(0);
  }
}
