.search-accordion__label {
  display: -webkit-inline-box;
}

.section-nav {
  &__label::before {
    -webkit-transform: perspective(350px) rotateX(-35deg) rotateY(-5deg);
  }
  &__shadow {
    transform: perspective(350px) rotateX(-35deg) rotateY(-5deg);
  }
}
