.promoted-article {
  &-list {
    margin: 0;
    padding: 0 10px 10px;
    &__item {list-style-type: none;}
    &__anchor {
      color: $color-dark-gray;
      font-weight: 400;
      &:focus, &:active, &:hover {
        color: $color-light-gray;
      }
    }
  }
  &__title {
    color: $color-dark-gray;
  }
}
