{% load wagtailcore_tags %}
<form id="comment-form" class="comment-form" action="{% url 'molo.commenting:molo-comments-post' %}#comments" method="post">
    {% csrf_token %}
    {% if form.errors %}
        <h1>{% trans "Please correct the error below" %}</h1>
    {% endif %}
    {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
    <p>{{ form.comment }}</p>
    <input class="comment-submit" type="submit" name="submit" value="{% trans "Submit" %}">
    <input class="submit-anonymous" type="submit" name="submit_anonymously" value="{% trans "Gutanga igitekerezo hatagaragajwe umwirondoro bwite" %}">
    {{ form.object_pk }}
    {{ form.content_type }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% pageurl self %}" />
    {% if node.id %}
        <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" />
    {% endif %}
</form>
