{% extends "core/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags %}

{% block content %}
<div class="default-container">
    <div class="block">
        <h4 class="report left">{% trans "Thanks!" %}</h4>
        <div class="report block {{article.get_parent_section.get_effective_extra_style_hints}}">
          <div class="article-copy">
            <p><strong>{% trans "This comment has been reported." %}</strong></p>
            <p>{% trans "It will be reviewed by the moderation team and may be removed if it breaks our Platform rules" %}</p>
          </div>
          <a href="{% pageurl article %}" class="button">{% trans "Back to article" %}</a>
        </div>
    </div>
</div>

{% endblock %}
