{% extends "core/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags %}

{% block content %}
<div class="default-container">
    <div class="block">
        <h4 class="report left">{% trans "Please let us know why you are reporting this comment?" %}</h4>
        <div class="report block">
          <form method="post">
            {% csrf_token %}
            <div>
                {{ form.report_reason }}
            </div>
            <button type="submit" class="report-btn">{% trans "Report Comment" %}</button>
        </form>
          <a href="{% pageurl article %}" class="button">{% trans "Back to article" %}</a>
        </div>
    </div>
</div>

{% endblock %}
