.teaser-stacklist {
  padding: 0;
  margin: 0;
  &__item {
    display: flex;
    padding: 10px;
    position: relative;
    color: #000;
    border-bottom: 3px solid $color-light-gray;
    &--content {
      display: inline-block;
      padding: 0 10px;
      vertical-align: top;
      .comment-counter-container {
        height: 20px;
      }
      .comment-counter {
        margin: 0;
        @media screen and (min-width: 38.125em) {
          position: absolute;
          right: 1em;
          bottom: 10%;
        }
      }
    }
  }
}
