.header__menu {
  background: $springster-purple;
  height: 40px;
  overflow: hidden;
  .menu-list {
    width: 100%;
    display: inline-block;
  }
}

#profile {
  float: left;
}
#search {
  float: right;
}
