{% load wagtailcore_tags wagtailimages_tags %}
{% if article.image %}
<a href="{% pageurl article %}" class="{{layouttype}}-teaser__thumbnail-link">
  {% if layouttype == 'grid' %}
  {% image article.image fill-112x112 as teaser_thumbnail %}
  <img alt="{{article.title}} - {{article.image}}" src="{{ teaser_thumbnail.url }}" class="{{layouttype}}-teaser__thumbnail" />
  {% else %}
  {% image article.image fill-96x96 as teaser_thumbnail %}
  <img alt="{{article.title}} - {{article.image}}" src="{{ teaser_thumbnail.url }}" class="{{layouttype}}-teaser__thumbnail" />
  {% endif %}
</a>
{% endif %}
