{% load core_tags %}
{% get_translation self.get_parent_section as section %}
  <div class="heading heading__article">
    <h1>{{self.title}}</h1>
  </div>
  {% if self.subtitle %}
    <div class="heading heading__subheading">
      <h2>{{self.subtitle}}</h2>
    </div>
  {% endif %}

  {% if is_via_bbm %}
    <ul class="social-media-list">
      <li class="social-media-list__item">
          <a href="bbmi:///api/share?message={% bbm_share_url %}&userCustomMessage={{ page.title | upper }} | {{page.subtitle}}" class="call-to-action__item-share call-to-action__nav-item-share--bbm"></a>
        </li>
    </ul>
  {% endif %}
  {% get_comment_count for article as comment_count %}
  {% if comment_count > 0 %}
  <a href="/" class="comment-counter comment-counter--carousel">
    <img alt="Comments" srcset="{% static 'img/icons/check.svg' %}" src="{% static 'img/icons/check@2x.png' %}" class="comment-counter__icon">
    <span class="comment-counter__numeral">{{comment_count}}</span>
    <span class="comment-counter__numeral comment-counter__numeral--plural">
      {% trans "comment" %}{{comment_count|pluralize}}
    </span>
  </a>
  {% endif %}
  {% if self.get_effective_image %}
    <a href="{% pageurl self.specific %}" class="article__anchor article__anchor--{{type}}">
      {% image self.get_effective_image fill-360x160 as article_image %}
      <img alt="{{ self.title }}" src="{{ article_image.url }}" class="article__image article__image--{{type}}" />
    </a>
  {% endif %}
  <article class="{{articletype}}">
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
        <h3 class="heading heading--large">{{ block.value }}</h3>
      {% elif block.block_type == 'image' %}
        {% image block.value width-320 alt=self.title %}
      {% elif block.block_type == 'media' %}
        <div class="media-player">
          <div class="media-player__content">
            {% with block.value as media %}
              {% if is_via_freebasics %}
                <div class="media-player__no-player">
                  <span class="heading heading__subheading-alt"><h4>{{media.title}}</h4></span>
                  <a href="{{ media.youtube_link }}" target="_blank" class="media-player__icon"></a>
                  <span class="heading heading__subheading-alt">
                  <h4>{% trans "Media will be played externally in a new window" %}</h4>
                  </span>
                </div>
              {% else %}
                {% include "patterns/components/media/media-player.html" %}
              {% endif %}
            {% endwith %}
          </div>
        </div>
      {% elif block.block_type == 'numbered_list' %}
        <ol class="ordered-list">
        {% for item in block.value %}
          <li class="ordered-list__item">{{ item|handle_markdown }}</li>
        {% endfor %}
        </ol>
      {% elif block.block_type == 'list' %}
        <ul class="unordered-list">
        {% for item in block.value %}
          <li class="unordered-list__item">{{ item|handle_markdown }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {{ block }}
      {% endif %}
    {% endfor %}
  </article>
  {% social_media_article page=self %}
  {% load_reaction_question article as question %}
  {% if question %}
  <div class="reaction-questions__block">
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=question.title %}
      {% load_user_can_vote_on_reaction_question question article.pk as user_can_vote%}
        {% if user_can_vote %}
          <form class="reaction-questions__form" action="{% url 'reaction-vote' article.slug question.id %}" method="post" novalidate>
            {% csrf_token %}
            <div class="reaction-questions__list">
              {% load_choices_for_reaction_question question as choices %}
                  {% for choice in choices %}
                     <div class="reaction-questions__item">
                        <input type="submit" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.specific.get_main_language_page.id }}" />
                        <label for="choice{{ forloop.counter }}">
                          <div class="reaction-questions__image">
                            {% image choice.specific.image width-50 %}
                          </div>
                          <div class="reaction-questions__label">
                            {{ choice.title|capfirst }}
                          </div>
                        </label>
                    </div>
                {% endfor %}
            </div>
          </form>

        {% else %}
        <div class="errors">
          {{ form.errors }}
          {% trans "You have already submitted a response for this article." %}
        </div>
        {% endif %}
    </div>
  {% endif %}
