<script>
    $(function() {
        $("#ageReset").click(function(){
            $(':input','#age_range_filter').val("");
        });
    });
</script>
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
{% with choices.0 as i %}
<form id="age_range_filter" method="GET" action="">
    {{ spec.form.media }}
    {{ spec.form.as_p }}
     <button class="button" type="submit">{% trans "Search" %}</button>
     <button class="button" type="submit" id="ageReset">{% trans "Clear" %}</button>
</form>
{% endwith %}
