{% extends 'admin/frontend_users_admin_view.html' %}
{% load modeladmin_tags %}

{% block header %}
    <header class="nice-padding hasform">
        <div class="row">
            <div class="left">
                <div class="col">
                    {% block h1 %}<h1 {% if view.header_icon %}class="icon icon-{{ view.header_icon }}"{% endif %}>{{ view.get_page_title }}<span></span></h1>{% endblock %}
                </div>
                {% block search %}{% search_form %}{% endblock %}
            </div>
            <div class="right">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="button bicolor icon icon-group" name="group">{% trans "Create Segment Group From Users" %}</button>
                    {% if user.is_superuser %}
                    <button type="submit" class="button bicolor icon icon-download" name="email">{% trans "Email CSV" %}</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </header>
{% endblock %}
