.footer {
  color: $dark-grayish-blue;
}

.copyright {
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
  color: $slate-grey;
  &__footer-copy {
    color: $slate-grey;
    font-size: 12px;
    padding: 15px 15px 10px;
    margin: 0;
    text-align: center;
  }
  a, span {
    text-decoration: underline;
    color: $slate-grey;
    font-size: 12px;
  }
}
