{% extends "base.html" %}
{% load cache wagtailcore_tags core_tags wagtailimages_tags staticfiles competition_tag el_pagination_tags gem_tags %}
{% block content %}
  {% gembannerpages %}
  {% bannerpages position=0 %}
  {# <!-- OPEM landing-page DIV -->#}
    {# <!-- OPEN landing-page__first-column DIV -->#}
      {% hero_article %}
      {% latest_listing_homepage %}

     
      {# <!-- FRAGMENTED DIVS PAGE -->#}
      
      {% comment %} {% section_listing_homepage %}  {% endcomment %}
{% endblock %}