.header {
  background-color: $color-blue;
  padding: 10px 10px 5px;
  position: relative;
  margin: 0 auto;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  @media screen and (min-width: 20.000em) {
    max-width: 360px;
  }
  &-fixed {
    position: fixed;
    top: 0;
    z-index: 999999999999999;
    width: 100%;
    box-sizing: border-box;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 300ms ease 0ms;
    animation: qs-timer 300ms;
  }
  .logo {
    &:hover, &:active, &:focus {
      animation: pulse 0.5s ease 0s 1;
    }
    &__image {
      height: 27px;
      width: 97px;
    }
  }
  input[type=checkbox],
  input[type=radio] {
    display: none;
    visibility: hidden;
  }
}
