
  {% if item.molo_form_page.moloformpage and item.molo_form_page.personalisableform %}
    <!--
      {
        If THIS exists:
          SHOW IT ==> DONT SHOW THE GENERAL item.molo_form_page.moloformpage
      }
    -->

    {% if forloop.first %}
      {{item.molo_form_page.moloformpage}}
    {% endif %}

  {% endif %}
    <!--
      {
        If THIS exists:
          SHOW IT ==> AND ABOVE DOES NOT EXISTS item.molo_form_page.personalisableform
      }
    -->
  {% if item.molo_form_page.moloformpage and not item.molo_form_page.personalisableform %}
    {% if forloop.first %}
      ==>{{item.molo_form_page.moloformpage}}
    {% endif %}
  {% endif %}
