@media only screen and (min-width: 240px){
  .base-teaser {  
    &__title {
      font-size: $font-small;
    }

    &__subtitle {
      font-size: $font-xx-small;
      margin: 4px 0px 8px;
    }
  }

  .teaser-stacklist {
    .comment-counter {
        &__numeral {
          font-size: $font-xx-small;
          vertical-align: bottom;
          margin-left: 5px;
        }
      }
    }
    
  .teaser-stacklist-tags {
    &__anchor {
      font-size: $font-xx-small;
    }
  }
}

@media only screen and (min-width: 360px){
  .base-teaser {  
    &__title {
      font-size: $font-large;
    }

    &__subtitle {
      font-size: $font-x-small;
      margin: 4px 0px 8px;
    }
  }

  .teaser-stacklist {
    .comment-counter {
        &__numeral {
          font-size: $font-x-small;
          vertical-align: bottom;
          margin-left: 5px;
        }
      }
    }
    
  .teaser-stacklist-tags {
    &__anchor {
      font-size: $font-x-small;
    }
  }
  }


