
@media only screen and (min-width: 240px){
  .base-teaser {  
    &__title {
      font-size: $font-small;
    }

    &__subtitle {
      font-size: $font-xx-small;
      margin-bottom: 2px;
    }
  }
    
  .teaser-stacklist-tags {
    &__anchor {
      font-size: $font-xx-small;
    }
  }
}

@media only screen and (min-width: 360px){
  .base-teaser {  
    &__title {
      font-size: $font-x-large;
    }

    &__subtitle {
      font-size: $font-x-small;
      margin-bottom: 4px;
    }
  }
    
  .teaser-stacklist-tags {
    &__anchor {
      font-size: $font-x-small;
    }
  }
  }

