
@media only screen and (min-width: 240px){
  .base-teaser {  
    &__title {
      font-size: $font-small;
    }

    &__subtitle {
      font-size: $font-xx-small;
      margin-bottom: 2px;
      $line-height: 1.4;
      $lines-to-show: 2;
      height: $font-xx-small*$line-height*$lines-to-show; /* Fallback for non-webkit */
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
    }
    
  }
    
  .teaser-stacklist-tags {
    &__anchor {
      font-size: $font-xx-small;
    }
  }
}

@media only screen and (min-width: 360px){
  .base-teaser {  
    &__title {
      font-size: $font-x-large;
    }

    &__subtitle {
      font-size: $font-x-small;
      margin-bottom: 4px;
      $line-height: 1.4;
      $lines-to-show: 2;
      height: $font-x-small*$line-height*$lines-to-show; /* Fallback for non-webkit */
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
    }
    
    &__thumbnail-link {
      width: inherit;
    }
  }
    
  .teaser-stacklist-tags {
    &__anchor {
      font-size: $font-x-small;
    }
  }
  }

