@media only screen and (min-width: 320px){
  html,
  body {
    height: 100%;
  }
  body {
    overflow: auto;
  }
  .header-wrapper {
    flex: none;
  }
  .content-wrapper {
    flex: auto;
    position: relative;
    overflow-y: auto;
  }
}
