@media only screen and (min-width: 320px){
  html,
  body {
    height: 100%;
  }

  body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
  }

  .header-wrapper {
    flex: none;
  }

  .content-wrapper {
    flex: auto;
    position: relative;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 1024px){
  .header {
    width: 360px;
  }

  .languages  {
    width: 100%; //Can this be 100% from 360px is shifts the content inside container horizontally
  }
}
