@media only screen and (min-width: 320px){
  html,
  body {
    height: 100%;
  }

  .header-fixed {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-delay: .5s; 
    transition-delay: .5s;
  }


  .content-wrapper {
    position: relative;
  }
}

@media only screen and (min-width: 1024px){
  .header, .languages {
    width: 360px;
  }
}
