.no-js #loadProgress,
.no-js #loadBar { display: none; }
#loadProgress {
    background-color: $pale-grey-three;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 9999;
}
#loadBar {
    width: 5%;
    height: 20px;
    background-color: $springster-purple;
    transition: opacity 0.3s ease-in 2s;
    opacity: 1;
    text-align: center;
    line-height: 20px;
    color: $white;
    font-size: 13px;
}
