
.section-teaser-listing-header {
  .heading__section {
    @media screen and (min-width: 240px) {
      h1 {
        font-size: $font-xx-large;
        line-height: $font-xx-large;
      }
    }
    
    @media screen and (min-width: 300px) {
      h1 {
        font-size: 40px;
        line-height: 40px;
        margin: 12px 0 8px 8px;
      }
    }
  }
}


