@media only screen and (min-width: 600px) {
  html {
    background: $cool-grey;
    -webkit-overflow-scrolling : touch;
    -webkit-tap-highlight-color : lighten(#333, 75%);
  }
  html,body {
    max-width: 360px;
  }

  a, a:hover {
    color: #00b8ae;
    text-decoration: none;
  }


  @-webkit-viewport {
    width : device-width;
  }

  @-moz-viewport {
    width : device-width;
  }

  @-ms-viewport {
    width : device-width;
  }

  @-o-viewport {
    width : device-width;
  }

  @viewport {
    width : device-width;
  }

  ::-moz-selection {
    background-color: $springster-purple-light;
    color: $springster-purple;
    text-shadow: none;
  }

  ::selection {
    background-color: $springster-purple-light;
    color: $springster-purple;
    text-shadow: none;
  }

  .overflow-container { overflow-y: scroll; }

  :not(a):focus {
    outline: none;
  }
}

@import "_s-profile";
@import "_s-section";
@import "_s-header";
