@import "../utilities/utilities";
@media only screen and (min-width: 1024px) {
  html {
    -webkit-overflow-scrolling : touch;
    -webkit-tap-highlight-color : lighten(#333, 75%);
    body {
      background: $cool-grey;
      .header-wrapper, .header, .content {
        max-width: 360px;
        margin: 0 auto;
      }
    }
  }
  @-webkit-viewport {
    width : device-width;
  }
  @-moz-viewport {
    width : device-width;
  }
  @-ms-viewport {
    width : device-width;
  }
  @-o-viewport {
    width : device-width;
  }
  @viewport {
    width : device-width;
  }
  ::-moz-selection {
    background-color: $springster-purple-light;
    color: $springster-purple;
    text-shadow: none;
  }
  ::selection {
    background-color: $springster-purple-light;
    color: $springster-purple;
    text-shadow: none;
  }
  .overflow-container { overflow-y: scroll; }
  :not(a):focus {
    outline: none;
  }
}
@import "_s-profile";
@import "_s-section";
@import "header/_s-header";
@import "menu/_s-menu-section-nav";
@import "_s-base-teaser";
@import "_s-grid-teaser";
@import "_s-section-teaser-listing";
@import "comments/_s-comment-counter";
@import "buttons/_s-buttons";
