

.articles {
  margin: 16px;
}

.article {

  color: #141414;

  .article-preview {

    h3 {
      font-size: 26px;
      line-height: 32px;
    }
    .text { margin: 0 16px; }
  }

  .article-content {
    margin: 0 16px;
  }
}

#article-hero {
    .section-image {
      width: 50px;
      float: right;
      margin-top: -65px;
      display: block;
      margin-right: -16px;
    }
    .section-icon--noimage {
      margin-top: 5px;
    }
}

.section_page {
    #article-hero {
        .section-image {
          display: none;
        }
    }
}
