.your-words {
  padding: 0 16px;
  .section-title {
    text-align: left;
    h2 {
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      font-family: 'AvenirNextCondensed-Medium';
      padding: 0 16px;
      margin: 0 0 56px 0;
      background: #00b8ae;
      display: inline-block;
    }
  }
  h3, p { padding: 0; }
  h3 {
    font-family: 'TWCenMT';
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
  }

  p {
    font-size: 18px;
    margin:0 0 24px 0;
  }

  form {
    input[type=text] {
      width: 100%;
    }
    label {
      text-align: left;
      color: #fff;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      padding: 0 12px;
      display: inline;
      margin-right: 16px;

      & + label {
        display: inline-block;
      }
    }
    input[type="checkbox"]:checked {
      background: white;
    }
    .alert-error {
      text-align: center;
    }
    .options {
      text-align: left;
      margin: 0 0 24px 0;
    }
    
  }

  input[type=submit], .button {
    background: #fff;
    color: #ed008c;
    margin: 0 0 32px 0;
  }
}
