.your-words {
  padding: 0 16px;
  .section-title {
    text-align: left;
    h2 {
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      font-family: 'AvenirNextCondensed-Medium';
      padding: 0 16px;
      margin: 0 0 56px 0;
      display: inline-block;
    }
  }
  h3 {
    font-family: 'TWCenMT';
    font-weight: normal;
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }

  form ,
  .options {
    [type="checkbox"],[type="radio"]   {
      & + label {
        &:before {
          background-color: #5F113E;
          border: 1px solid #5F113E;
        }
      }
      &:checked + label {
          &:before {
            background-color: #5F113E;
          }
      }
    }
  }
}
