body, 
textarea, 
select {
    font-family: $font-basic;
    font-size: 1em;
    color: $primary;
}

a {
    color: $secondary;

    &:hover {
        color: $secondary;
    }
}

h1 {
    margin: $spacer 0;
    font-size: 1.2em;
}

h2 {
    margin: $spacer 0;
    font-size: 1.1em;
}

p, ul {
    margin: $spacer 0;
}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid $border;
    margin: $spacer 0;
}

.center {
    text-align: center;
}