@font-face {
    font-family: Lineto;
    src: url('/static/authentication_service/fonts/lineto-circular-book.12d486e1e384.woff');
}

@font-face {
    font-family: LinetoMedium;
    src: url('/static/authentication_service/fonts/lineto-circular-medium.83ad4cf8ef02.woff');
}

@font-face {
    font-family: LinetoBold;
    src: url('/static/authentication_service/fonts/lineto-circular-bold.0f01eae4be59.woff');
}

body, 
textarea,
select {
    font-family: $font;
    font-size: 1em;
    color: $primary;
}

strong {
    font-family: $font-bold;
}

a {
    color: $secondary;
    text-decoration: none;
    border-bottom: 1px solid $secondary;

    &:hover {
        color: $secondary;
        border: 0;
    }
}

h1 {
    margin: $spacer 0;
    font-size: 1.6em;
    font-family: $font-bold;
}

h2 {
    font-size: 1.4em;
    font-family: $font-medium;
}

p, ul {
    margin: $spacer 0;
}

hr {
    margin: $spacer-multiple 0;
}