@import '../utilities/*';

body {
  background: $cool-grey;
  height: auto;
  color: $gunmetal;
  line-height: 1.3;
  font-size: $font-small;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: $baton-regular;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 40em) {
    margin-top: 0;
  }
}

textarea,
select,
strong,
input {

}


//HEADER
.Header {
  overflow: auto;
  &-branding {
    background: #7300ff;
    color: #e3ccff;
    padding: $spacer-mid 0;
    &-image {
      background: url('/static/authentication_service/themes/springster/images/springster-logo.svg')no-repeat;
      background-position: 50%;
      background-size: contain;
      display: block;
      height: 24px;
      padding-left: 100%;
      width: 100%;
    }
  }
  &-title {
    background: #fff;
    text-align: center;
    margin: 0;
    padding: $spacer-mid 8px $spacer-mid;
    h1 {
      background: url('/static/authentication_service/themes/springster/images/lines/zig-zag-underline.png') bottom no-repeat;
      background-size: 145px;
      color: $gunmetal;
      font-size: $font-x-large;
      margin: 0;
      padding: 0 0 $spacer;
    }
  }
  &-links {
    background: #fff;
    margin: 0;
    text-align: center;
    a {
      font-family:$baton-medium;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: underline;
      color: #7300ff;
      font-size: 16px;
      display: inline-block;
    }
  }
}

.Button {
  background-color: transparent;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyNiA0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj4gICAgICAgIDxwYXRoIGZpbGw9IiM3MzAwRkYiICAgICAgICAgIGQ9Im0zMjUuNDkgMC4zNTQxYy0wLjM3NjMtMC4zNDgtMS45OTMzLTAuMzgzLTkuNjcxOS0wLjMzOS0yMC4yMSAwLjExNS02NS41MDggMC4yOTQtMTEzLjg4IDAuMzQyLTY5LjM2NSAwLjA2OC0xNzEuNjMtMC40MjYtMTk2LjkyIDAuMDY4LTEuODQ5MyAwLjAzNi0zLjM0MjEgMC4xODItNC4yODE0IDEuMTUyLTAuOTU3MzMgMC45ODgtMC43MTg0NyAzLjUzNC0wLjY5MDk4IDcuMjU2IDAuMDU2ODcxIDcuNTY3IDAuMjA5NDcgMTUuNTI0IDAuMzY1ODcgMjEuNjg1IDAuMTI1MTIgNC45MTMgNC4xMTY1IDcuNzIgOC44NTY3IDcuNjk5IDM5LjgxMS0wLjE3MiAxNDYuNjUgMi4xMzggMTgwLjY4IDEuNjQgNC45NjY3LTAuMDczIDQ5LjI0NC0wLjA2NSA3NC4zNjItMC4zMTUgMTYuMDk3LTAuMTYxIDM0LjM1My0xLjAxOCA2MS42MS0wLjUxNCAwIDAgMC4xOTgxLTIyLjE1NS0wLjAyNzQ4OC0zMy41MjktMC4wNzc3MjQtMy45MTkgMC4xMTQ2OS00LjY3LTAuMzk5MDQtNS4xNDUiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  cursor: pointer;
  border-radius: $spacer-half;
  display: block;
  max-width: 344px;
  max-height: 40px;
  width: 100%;
  white-space: normal;

  color: $white;
  font-family: $baton-medium;
  font-size: $font-small;
  height: $spacer-max;
  line-height: .5em;
  margin: $spacer-mid auto;
  text-align: center;

  &:hover {
    background-color: transparent;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyNiA0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj4gICAgICAgIDxwYXRoIGZpbGw9IiNEN0RCREQiICAgICAgICAgIGQ9Im0zMjUuNDkgMC4zNTQxYy0wLjM3NjMtMC4zNDgtMS45OTMzLTAuMzgzLTkuNjcxOS0wLjMzOS0yMC4yMSAwLjExNS02NS41MDggMC4yOTQtMTEzLjg4IDAuMzQyLTY5LjM2NSAwLjA2OC0xNzEuNjMtMC40MjYtMTk2LjkyIDAuMDY4LTEuODQ5MyAwLjAzNi0zLjM0MjEgMC4xODItNC4yODE0IDEuMTUyLTAuOTU3MzMgMC45ODgtMC43MTg0NyAzLjUzNC0wLjY5MDk4IDcuMjU2IDAuMDU2ODcxIDcuNTY3IDAuMjA5NDcgMTUuNTI0IDAuMzY1ODcgMjEuNjg1IDAuMTI1MTIgNC45MTMgNC4xMTY1IDcuNzIgOC44NTY3IDcuNjk5IDM5LjgxMS0wLjE3MiAxNDYuNjUgMi4xMzggMTgwLjY4IDEuNjQgNC45NjY3LTAuMDczIDQ5LjI0NC0wLjA2NSA3NC4zNjItMC4zMTUgMTYuMDk3LTAuMTYxIDM0LjM1My0xLjAxOCA2MS42MS0wLjUxNCAwIDAgMC4xOTgxLTIyLjE1NS0wLjAyNzQ4OC0zMy41MjktMC4wNzc3MjQtMy45MTkgMC4xMTQ2OS00LjY3LTAuMzk5MDQtNS4xNDUiLz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }

  &--warning {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyNiA0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj4gICAgICAgIDxwYXRoIGZpbGw9IiNGRjU1MDAiICAgICAgICAgIGQ9Im0zMjUuNDkgMC4zNTQxYy0wLjM3NjMtMC4zNDgtMS45OTMzLTAuMzgzLTkuNjcxOS0wLjMzOS0yMC4yMSAwLjExNS02NS41MDggMC4yOTQtMTEzLjg4IDAuMzQyLTY5LjM2NSAwLjA2OC0xNzEuNjMtMC40MjYtMTk2LjkyIDAuMDY4LTEuODQ5MyAwLjAzNi0zLjM0MjEgMC4xODItNC4yODE0IDEuMTUyLTAuOTU3MzMgMC45ODgtMC43MTg0NyAzLjUzNC0wLjY5MDk4IDcuMjU2IDAuMDU2ODcxIDcuNTY3IDAuMjA5NDcgMTUuNTI0IDAuMzY1ODcgMjEuNjg1IDAuMTI1MTIgNC45MTMgNC4xMTY1IDcuNzIgOC44NTY3IDcuNjk5IDM5LjgxMS0wLjE3MiAxNDYuNjUgMi4xMzggMTgwLjY4IDEuNjQgNC45NjY3LTAuMDczIDQ5LjI0NC0wLjA2NSA3NC4zNjItMC4zMTUgMTYuMDk3LTAuMTYxIDM0LjM1My0xLjAxOCA2MS42MS0wLjUxNCAwIDAgMC4xOTgxLTIyLjE1NS0wLjAyNzQ4OC0zMy41MjktMC4wNzc3MjQtMy45MTkgMC4xMTQ2OS00LjY3LTAuMzk5MDQtNS4xNDUiLz48L3N2Zz4=');
  }
}
