@import '../utilities/*';
@font-face {
  font-family: 'BatonRegular';
  src: url('/static/authentication_service/fonts/Baton-Regular-Web.woff');
  src: url('/static/authentication_service/fonts/Baton-Regular-Web.woff2');
}
@font-face {
  font-family: 'BatonMedium';
  src: url('/static/authentication_service/fonts/Baton-Medium-Web.woff');
  src: url('/static/authentication_service/fonts/Baton-Medium-Web.woff2');
}
@font-face {
  font-family: 'BatonTurboRegular';
  src: url('/static/authentication_service/fonts/BatonTurboWeb-Regular.woff');
  src: url('/static/authentication_service/fonts/BatonTurboWeb-Regular.woff2');
}
//RESET STYLES
body,
html {
  background: $cool-grey;
  margin: 0;
}
body,
select,
textarea {
  color: $gunmetal;
  font-family: $baton-regular;
  font-size: $font-small;
}
strong {
  font-family: $baton-regular;
}
a {
  border: 0;
  color: $springster-purple;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    border: 0;
    color: $springster-purple;
  }
}
h1 {
  font-family: $baton-regular;
  font-size: 1.6em;
  text-align: center;
}
h2 {
  font-family: $baton-medium;
  font-size: 1.4em;
  text-align: center;
}
p,ul {
  margin: $spacer 0;
  text-align: center;
}
ul, ol, li {
  list-style: none;
}
hr {
  margin: $spacer-multiple 0;
}

@media (min-width: 40em) {
  body {
    margin-top: 0;
  }
  .Container {
    margin: 0 auto;
    max-width: 360px;
    padding: 0;
  }
  .Header {
    &-title {
      margin: 0;
    }
  }
}

//HEADER STYLES
.Header {
  margin-bottom: 0;
  text-align: center;
  padding: 0 10px 5px;
  overflow: auto;
  background-color: $springster-purple;
  position: relative;

  #search-toggle__button  {
    visibility: hidden;
    position: absolute;
  }
  .search--toggle {
    display: none;
    padding: 15px 0 0 0;
  }
  #search-toggle__button:not(checked) ~ .search {
      display: none;
  }
  #search-toggle__button:checked ~ .search {
      display: block;
  }
  &__search {
    .Header__search-input,
    .Header__search-input + * {
      display: none;
    }
    .Header__search-input:checked + * {
      display: block;
    }
    .Header__search-bar {
      position: relative;
      display: none;
      &:after {
        content: "";
        background-color: $springster-purple;
        background-image: url(/static/authentication_service/images/icons/dismiss.svg), url(/static/authentication_service/images/icons/dismiss.svg);
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: 70%;
        float: right;
        height: 30px;
        width: 25px;
        pointer-events: none;
        margin-top: -89px;
      }
      .search-bar {
        position: relative;
        margin: 0;
        input[type="text"] {
          @include font($baton-regular);
          color: $springster-purple;
          font-size: 20px;
          padding: 5px 0 5px 15px;
          width: 98%;
          border: 2px solid $springster-purple;
          box-sizing: border-box;
          &:focus {
            border: 2px solid $gunmetal;
            outline: 0;
          }
        }
      }
    }
  }
  .Call-to-action {
    &__item {
      border: none;
      &--search-icon {
          text-indent: -99em;
          height: 21px;
          width: 21px;
          position: absolute;
          top: 20%;
          padding: 0;

          background-color: transparent;
          background-image: url(/static/authentication_service/images/icons/search.svg), url(/static/authentication_service/images/icons/search@2x.png);
          background-repeat:  no-repeat;
          background-position: 100% 0;
          background-size: auto 98%;
          right: 3%;
      }
    }

  }

  &__menu {
    .menu-list {
      padding: 0;
      margin: 0;
      overflow: auto;
      text-align: center;
      width: 100%;
      display: inline-block;
      &__item {
        padding: 5px 0 0;
      }
    }
    .menu-list__anchor,
    .menu-list__anchor label {
      padding: 5px;
      font-weight: normal;
    }
  }

  #profile {
    float: left;
    .menu-list__anchor--section-nav {
      background-image: url(/static/authentication_service/images/icons/avatar.svg), url(/static/authentication_service/images/icons/avatar@2x.png);
      background-position: 10px 3px;
      background-repeat: no-repeat;
    }
  }
  #search {
    float: right;
    .menu-list__anchor--section-nav {
      background-image: url(/static/authentication_service/images/icons/nav_search.svg), url(/static/authentication_service/images/icons/search-mint@2x.png);
      background-position: 15px 3px;
      background-repeat: no-repeat;
    }
  }
  #profile,
  #search {
    .menu-list__anchor--section-nav {
      background-size: auto 95%;
      background-position: 3px 0;
      text-indent: 120%;
      vertical-align: middle;
      overflow: hidden;
      white-space: nowrap;
      width: 28px;
      padding: 0;
      height: 25px;
      color: #fff;
      display: block;
      .menu-list__anchor label {
        text-indent: 100%;
        margin: -10px 0;
        color: #fff;
      }
    }
  }

  //SECTION NAVIGATION
  .section-nav {
    &-list {
      margin: 0;
      padding: 0;
      &__item {
        display: inline-block;
        padding: 5px 15px 2px 0;
        &:last-child {
          padding-right: 0;
        }
      }
      &__anchor {
        color: #e3ccff;
        border-bottom: 2px solid $springster-purple;
        text-decoration: none;
        padding: 0;
        -webkit-font-smoothing: subpixel-antialiased;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  //End extra code

  &-branding {
    margin-bottom: 0;
    //Start extra code
    margin: 0 auto;
    display: inline-block;
    left: 0;
    right: 0;
    position: absolute;
    width: 65%;
    //End extra code
    &-image {
      width: 100%;
    }
  }

  &-title {
    background: transparent;
    text-align: center;
    background-color: $springster-purple;
    margin: 0;
    padding: 15px 8px 35px;

    h1 {
      background: url('/static/authentication_service/images/lines/zig-zag-underline.png') bottom no-repeat;
      background-size: 145px;
      color: $gunmetal;
      font-size: $font-x-large;
      margin: 0;
      padding: 0 0 10px;
    }
  }
  &-links {
   margin: 10px 0 0;
  }
}

//GENERAL
.List {
  list-style: none;
  padding: 0;

  li {
    margin: $spacer-mid 0 0;
  }
}
.QR {
  text-align: center;

  &-image {
    border: 3px solid $gunmetal;
  }
}
.Tokens {
  border: 1px solid $slate-grey;
  margin: $spacer $spacer-mid;
  padding: 0 $spacer-mid $spacer-mid;

  li {
    float: left;
    width: 50%;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}


//FORM
.Form {
  padding: 0;
  .Field {
    margin-top: $spacer-multiple;

    &-message {
      margin-top: $spacer;
    }

    &-label {
      font-size: $font-medium;
      font-weight: normal;
    }

    .DateInput,
    .EmailInput,
    .NumberInput,
    .PasswordInput,
    .TextInput,
    .Textarea,
    .vDateField {
      border: 2px solid $springster-purple;
      color: $gunmetal;
      font-weight: normal;
      padding: $spacer;

      &:focus {
        border-color: $springster-purple;
      }
    }
    .ClearableFileInput {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    input[type="file"] + label {
      font-size: 1.25em;
      font-weight: 700;
      color: white;
      background-color: black;
      display: inline-block;
    }

    .input[type="file"]:focus + label,
    .input[type="file"] + label:hover {
      background-color: red;
    }

    .Textarea {
      height: 100px;
    }
  }

  .ModelChoiceField,
  .TypedChoiceField {
    display: block;
    position: relative;
    width: 100%;

    &::after {
      border-style: solid;
      border-width: .15em .15em 0 0;
      color: $springster-purple;
      content: '';
      display: inline-block;
      height: .65em;
      pointer-events: none;
      position: absolute;
      right: $spacer-mid;
      top: 46px;
      transform: rotate(135deg);
      width: .65em;
    }

    .Select {
      appearance: none;
      background-color: transparent;
      border: 2px solid $springster-purple;
      border-radius: 0;
      color: $gunmetal;
      min-height: 41px;
      outline: none;
      padding: $spacer;
      width: 100%;

      &:focus {
        border-color: $gunmetal;
      }
    }
  }

  .BooleanField {
    display: table;
    margin: 0;
    position: relative;
    width: 100%;

    .Field-label {
      display: table-cell;
      padding-right: $spacer;
      text-align: right;
      vertical-align: middle;
      width: 60%;
    }

    .Field-item {
      text-align: left;
      vertical-align: middle;

      .CheckboxInput {
        appearance: none;
        border: 2px solid $springster-purple;
        display: block;
        height: $spacer-multiple;
        outline: none;
        padding: $spacer-mid;
        width: $spacer-multiple;

        &:checked {
          background-color: $springster-purple;
          border-color: $springster-purple;

          &::after {
            color: $white;
            content: '\2714';
            font-size: $spacer-multiple;
            left: -$spacer;
            line-height: $spacer-multiple;
            position: relative;
            top: -$spacer;
          }
        }
      }
    }
  }

  .Field-message--error {
    &.Field--required {
      .Field-item {
        input {
          border-color: $red;
        }
      }
    }
  }

  &-buttons {
    margin-bottom: $spacer-multiple;
  }
}
.Messages {
  .Message {
    font-family: $baton-regular;
  }
}
.errorlist {
  margin-top: $spacer-multiple;
}


//BUTTONS
.Button {
  background-color: transparent;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyNiA0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj4gICAgICAgIDxwYXRoIGZpbGw9IiM3MzAwRkYiICAgICAgICAgIGQ9Im0zMjUuNDkgMC4zNTQxYy0wLjM3NjMtMC4zNDgtMS45OTMzLTAuMzgzLTkuNjcxOS0wLjMzOS0yMC4yMSAwLjExNS02NS41MDggMC4yOTQtMTEzLjg4IDAuMzQyLTY5LjM2NSAwLjA2OC0xNzEuNjMtMC40MjYtMTk2LjkyIDAuMDY4LTEuODQ5MyAwLjAzNi0zLjM0MjEgMC4xODItNC4yODE0IDEuMTUyLTAuOTU3MzMgMC45ODgtMC43MTg0NyAzLjUzNC0wLjY5MDk4IDcuMjU2IDAuMDU2ODcxIDcuNTY3IDAuMjA5NDcgMTUuNTI0IDAuMzY1ODcgMjEuNjg1IDAuMTI1MTIgNC45MTMgNC4xMTY1IDcuNzIgOC44NTY3IDcuNjk5IDM5LjgxMS0wLjE3MiAxNDYuNjUgMi4xMzggMTgwLjY4IDEuNjQgNC45NjY3LTAuMDczIDQ5LjI0NC0wLjA2NSA3NC4zNjItMC4zMTUgMTYuMDk3LTAuMTYxIDM0LjM1My0xLjAxOCA2MS42MS0wLjUxNCAwIDAgMC4xOTgxLTIyLjE1NS0wLjAyNzQ4OC0zMy41MjktMC4wNzc3MjQtMy45MTkgMC4xMTQ2OS00LjY3LTAuMzk5MDQtNS4xNDUiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  max-width: 344px;
  max-height: 40px;
  width: 100%;
  white-space: normal;

  color: $white;
  font-family: $baton-medium;
  font-size: $font-small;
  height: $spacer-max;
  line-height: .5em;
  margin: $spacer-mid auto;
  text-align: center;

  &:hover {
    background-color: transparent;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyNiA0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj4gICAgICAgIDxwYXRoIGZpbGw9IiNEN0RCREQiICAgICAgICAgIGQ9Im0zMjUuNDkgMC4zNTQxYy0wLjM3NjMtMC4zNDgtMS45OTMzLTAuMzgzLTkuNjcxOS0wLjMzOS0yMC4yMSAwLjExNS02NS41MDggMC4yOTQtMTEzLjg4IDAuMzQyLTY5LjM2NSAwLjA2OC0xNzEuNjMtMC40MjYtMTk2LjkyIDAuMDY4LTEuODQ5MyAwLjAzNi0zLjM0MjEgMC4xODItNC4yODE0IDEuMTUyLTAuOTU3MzMgMC45ODgtMC43MTg0NyAzLjUzNC0wLjY5MDk4IDcuMjU2IDAuMDU2ODcxIDcuNTY3IDAuMjA5NDcgMTUuNTI0IDAuMzY1ODcgMjEuNjg1IDAuMTI1MTIgNC45MTMgNC4xMTY1IDcuNzIgOC44NTY3IDcuNjk5IDM5LjgxMS0wLjE3MiAxNDYuNjUgMi4xMzggMTgwLjY4IDEuNjQgNC45NjY3LTAuMDczIDQ5LjI0NC0wLjA2NSA3NC4zNjItMC4zMTUgMTYuMDk3LTAuMTYxIDM0LjM1My0xLjAxOCA2MS42MS0wLjUxNCAwIDAgMC4xOTgxLTIyLjE1NS0wLjAyNzQ4OC0zMy41MjktMC4wNzc3MjQtMy45MTkgMC4xMTQ2OS00LjY3LTAuMzk5MDQtNS4xNDUiLz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }

  &--warning {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyNiA0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj4gICAgICAgIDxwYXRoIGZpbGw9IiNGRjU1MDAiICAgICAgICAgIGQ9Im0zMjUuNDkgMC4zNTQxYy0wLjM3NjMtMC4zNDgtMS45OTMzLTAuMzgzLTkuNjcxOS0wLjMzOS0yMC4yMSAwLjExNS02NS41MDggMC4yOTQtMTEzLjg4IDAuMzQyLTY5LjM2NSAwLjA2OC0xNzEuNjMtMC40MjYtMTk2LjkyIDAuMDY4LTEuODQ5MyAwLjAzNi0zLjM0MjEgMC4xODItNC4yODE0IDEuMTUyLTAuOTU3MzMgMC45ODgtMC43MTg0NyAzLjUzNC0wLjY5MDk4IDcuMjU2IDAuMDU2ODcxIDcuNTY3IDAuMjA5NDcgMTUuNTI0IDAuMzY1ODcgMjEuNjg1IDAuMTI1MTIgNC45MTMgNC4xMTY1IDcuNzIgOC44NTY3IDcuNjk5IDM5LjgxMS0wLjE3MiAxNDYuNjUgMi4xMzggMTgwLjY4IDEuNjQgNC45NjY3LTAuMDczIDQ5LjI0NC0wLjA2NSA3NC4zNjItMC4zMTUgMTYuMDk3LTAuMTYxIDM0LjM1My0xLjAxOCA2MS42MS0wLjUxNCAwIDAgMC4xOTgxLTIyLjE1NS0wLjAyNzQ4OC0zMy41MjktMC4wNzc3MjQtMy45MTkgMC4xMTQ2OS00LjY3LTAuMzk5MDQtNS4xNDUiLz48L3N2Zz4=');
  }
}
.Additional-text {
  padding-left: $spacer-mid;
  margin: 0;
  line-height: 28px;
  text-align: center;
  a {
    font-family:$baton-medium;
    text-align: left;
    font-weight: 400;

    text-transform: uppercase;
    text-decoration: underline;
    color: #7300ff;
    font-size: 16px;
    position: relative;
    text-align: center;
    display: block;
  }
}
.Call-to-action {
  a, button {
    font-family:$baton-medium;
  }
}

//FOOTER
.Footer {
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: none;

  &-logo {
    background-size: contain;
    background-image: url("/static/authentication_service/images/sp-logo.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
    max-width: 200px;
    background-position: 0 50%;
    margin: 25px auto;
    display: block;
  }

  .Call-to-action {
    &--backToTop {
      background-color: #f0f3f5;
      position: relative;
      &-nav-item {
        text-transform: uppercase;
        text-decoration: underline;
        color: #7300ff;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        text-align: center;
        display: block;
        padding: $spacer-multiple 0 $spacer-mid 0;
        &:after {
          content: "";
          background-image: url("/static/authentication_service/images/icons/up-arrow.svg");
          height: 24px;
          width: 24px;
          top: 30%;
          margin-left: 10px;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: auto 100%;
          position: absolute;
        }
      }
    }
  }

  .Copyright {
    padding: 0 0 $spacer-half;
    p {
      color: #a3a7ae;
      font-size: 12px;
      padding: $spacer-mid $spacer-mid $spacer;
      margin: 0;
      text-align: center;
      font-family: BatonTurboRegular,Helvetica,Arial,sans-serif;
    }
  }

  p {
    margin: 0;
  }
}
.Menu {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtAAAAAICAYAAADQpcj3AAAABGdBTUEAALGPC/xhBQAAAkpJREFUeAHtmYtOwzAMRSnP//9bHoORi3bRlUmabiC0wYlk2bGdtDtNGweWKxoEIACBP0xgv98v7efdNLlekVl8bexPxHSPvXnSP7Mdl05b89pXdQt9xmxLvx3kdWBnfN9yMi9jtqW35DjfuS9tnGR30O5XvVuWRWNoEIDABRBo3+W7dpszuZ/krMV7sVN9ddxHXx9T2pkSaAtMm/ptEftSa4PMAmBtk8yYfnn2vR62+JyrzVNNOmWr75jxytUG27uOrufmOdX3faZtX/5Ox9OX9qgIsd9aY2xv0b0c+dI/6tccX9v5p+jvzqF1mHPkupzdzyx3Fh/Nr2dL+/sE9N7Xwtr9aQG+MtZzjLTmfj6Mn11nNMcXfzsQ6Fv371vbB/Veq9DSXmht230XYumvMees6SyUbPd0+h7afakv8fdP38CRtNDHOtWaWZOnFu/JY/g13odN6zysyqf3QvclyXrCfMzM2v7klDH7ez7HZlpjL77pAV98ay+YH6QX9ezh1bjHV3/2a07tO9d+a/lt93T6ZKdc/LPhB0AAAhCAwEkEegcCFUQq0qWrXfs1z4WV5pXkHyNGds1zzVAPqy7Qelp7WhZvaed+J9v7Zdq+ZgvTIHA+BJbD6S4LT9vWWtA/ZbvIzPnq/KOcUZ78NAhAAAIQgAAEIAABCPwKAZ3ydGqlQQACEIAABCAAAQhAAAIbCOjfMDQIQAACEIAABCAAAQhAYCMBCuiNoEiDAAQgAAEIQAACEICACFBAsw4gAAEIQAACEIAABCBwBIF3L0XX+sthL/MAAAAASUVORK5CYII=') no-repeat 0 100% / contain, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtAAAAAKCAMAAACqs5nOAAAAgVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9d3yJTAAAAKnRSTlMApM1pFZIu2MaCH3xMCKu7trGZNvnUwIh3WFM8DmJd3Z2McScEQuRG8eoZtqK5AAABPElEQVR42u3Ua3aCMBhFUZ4JijwNIhgVNMbQ+Q+wiWACLav/ulrx22M491ofACwIBA0g6L9GiOg4P+PCCYJdkmaxbTe575erVbi/uK57PFX1ZnO/HbZbhK7X9drzPEqjiDFLYYxFClW8sfXEdYCmtsZBuw3uvc1ErVVPJ+2oud9dBnsjnFhNlE/twP8qN5qBPSMey4zUSEZ2RjDlzCg0PHXWOOddJwQh5OWCNnE64zjbIU7TJkKPMmnELPBGWKReR96L+pLDTX5FXZ2Ocut7Oeey9fNG7i9Lk50cD8Z8JmiBg8zO/bZUi2/9xo7TwMFczK2FSEJ03aNJXKgqZZaqy2eY/W32aVa1SrNvE+IEv8AbB01wHNaI/rQWFmkMYgT/M2jSFYkdViiyAHj1oD0KTwsWFDQAC0ItABaEfgIL1F9a+UpSvwAAAABJRU5ErkJggg==') no-repeat 0 0 / contain;
  background-color: $mint-green;
  margin: 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &-title {
    background: $gunmetal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;

    h1 {
      color: $white;
      font-size: 1.2em;
    }
  }

  &-list {
    &--right {
      padding-top: $spacer-half;
      float: right;
      width: 50%;
    }
    &--left {
      padding-top: $spacer-half;
      float: left;
      width: 50%;
    }
  }
  &-item {
    margin: $spacer-mid 0;
    a {
      font-size: 20px;
      color: #7300ff;
      display: inline-block;
      &:hover {
        border: 0;
      }
    }
  }
}
