.language {
  @media screen and (min-width: 20.000em) {
    max-width: 360px;
  }
  &-wrapper {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 20.000em) {
      max-width: 360px;
    }
  }
  &-list {
    padding: 5px;
    &--standard-center {
      text-align: center;
    }
    &__item {
      &--standard-center {
        display: inline-block;
        font-size: 14px;
        margin: 0 10px;
      }
      &--with-label {
        display: inline-block;
        margin-right: 10px;
      }
    }
    &__anchor {
      color: $color-dark-gray;
      text-transform: capitalize;
      &.is-active {
        color: $color-grayish-blue;
      }
      &:hover, &:active, &:focus {
        text-decoration: underline;
        text-underline-position: below;
      }
    }
    &--with-label__title {
      color: $color-blue;
      font-size: 22px;
      text-transform: uppercase;
      &:after {
        content: ":";
      }
    }
  }
}
