#gem-footer {
  padding: 24px 8px;

  #search-form {
    order: 1;
    -webkit-order: 1;

    margin: 0 8px 24px 8px;

    form {
      display: flex;
      flex-direction: row;

      label, div {
        display: none;
      }

      input, button {
        margin: 0;
        border: 0;
        word-wrap: normal;
      }

      button {
        width: 48px;
        color: transparent;
        background-image: url('/static/img/search_white.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 17px;
      }
    }
  }
}
