{% extends "core/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments molo_commenting_tags i18n mptt_tags %}
section.get_effective_extra_style_hints
{% block content %}
{% pageurl self as the_url %}
{% trans "Back to article" as back %}
{% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=the_url page_name=back direction="left" %}
<div class="comments">
  <div id="comments-list" class="comments__list">
  {% for node in comments %}
    {% recursetree node %}
        {% include "comments/comment.html" %}
        {{ children }}
    {% endrecursetree %}
  {% endfor %}
  </div>
  {% include "patterns/basics/pagination/page-numbers.html" %}
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=the_url page_name=back direction="left" %}
</div>
{% endblock %}
