{% load comments mptt_tags molo_commenting_tags %}
{% if self.is_commenting_enabled %}
<div id="comments" class="comments">
  {% if self.allow_commenting %}
    <div class="heading heading__component">
      <h2>{% trans "Share your thoughts" %}</h2>
    </div>
    {% if request.user.is_authenticated %}
      {% render_comment_form for self %}
    {% else %}
      <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}" class="call-to-action__button call-to-action__button--primary">
        <span class="call-to-action__button-text call-to-action__button-text--primary">
          {% trans "Log in to comment" %}</span>
      </a>
    {% endif %}
  {% else %}
    <h4 class="comments__title">
      {% trans "Commenting on this article is currently disabled" %}
    </h4>
  {% endif %}

  {% get_comment_count for self as comment_count %}
  {% get_molo_comments for self as comment_list limit 2 child_limit 2 %}
  {% if comment_count > 1 %}
    <div class="heading heading__component">
      <h2>{% trans "Your thoughts" %}</h2>
    </div>
  {% endif %}
  <div id="comments-list" class="comments__list">
    {% for node in comment_list %}
      {% recursetree node %}
        {% include "comments/comment.html" with truncate_comment=True %}
        {{ children }}
      {% endrecursetree %}
    {% endfor %}
    {% if comment_count > 2 %}
      <a href="{% url 'molo.commenting:more-comments' self.pk %}" class="call-to-action__button call-to-action__button--primary" {{attribute}}>
        <span class="call-to-action__button-text call-to-action__button-text--primary">
          {% trans "Read more comments" %}</span>
      </a>
    {% endif %}
  </div>
</div>
{% endif %}
