{% load comments mptt_tags molo_commenting_tags %}
{% if self.is_commenting_enabled %}
<div id="comments" class="comments">
  {% if self.allow_commenting %}
  {% trans "Share your thoughts" as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h2" title=headingtext %}
    {% if request.user.is_authenticated %}
      {% render_comment_form for self %}
    {% else %}
      {% url 'molo.profiles:auth_login' as link %}
      {% trans "Log in to comment" as buttontext %}
      {% include "patterns/basics/buttons/sp_variations/button.html" with type="primary" hyperlink=link|add:"?next="|add:request.path text=buttontext %}
      </a>
    {% endif %}
  {% else %}
    <h4 class="comments__title">
      {% trans "Commenting on this article is currently disabled" %}
    </h4>
  {% endif %}

  {% get_comment_count for self as comment_count %}
  {% get_molo_comments for self as comment_list limit 2 child_limit 2 %}
  {% if comment_count > 1 %}
    {% trans "Your thoughts" as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h2" title=headingtext %}
  {% endif %}
  <div id="comments-list" class="comments__list">
      {% for node in comment_list %}
        {% recursetree node %}
          {% include "comments/comment.html" with truncate_comment=True %}
          {{ children }}
        {% endrecursetree %}
      {% endfor %}
      {% if comment_count > 2 %}
        {% url "molo.commenting:more-comments" self.pk as link %}
        {% trans "Read more comments" as buttontext %}
        {% include "patterns/basics/buttons/sp_variations/button.html" with type="primary" hyperlink=link text=buttontext %}
      </a>
      {% endif %}
  </div>
</div>
{% endif %}
