{% load comments i18n wagtailcore_tags wagtailimages_tags %}
<form action="{% url 'molo.commenting:molo-comments-post' %}#comments-list" method="post" class="comments__form" >
{% csrf_token %}
  {% if form.errors %}
  <h1>{% trans "Please correct the error below" %}</h1>
  {% endif %}
  {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
  {{ form.comment }}
  <input type="submit" value="{% trans "Comment" %}" class="call-to-action__button call-to-action__button--primary">
  <input type="submit" value="{% trans "Comment Anonymously" %}" class="call-to-action__button call-to-action__button--primary call-to-action__button--secondary">
  {{ form.object_pk }}
  {{ form.content_type }}
  {{ form.timestamp }}
  {{ form.security_hash }}
  <input type="hidden" name="next" value="{% pageurl self %}" />
  {% if node.id %}
  <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" />
  {% endif %}
</form>
