{% extends "core/article_page.html" %}
{% load molo_commenting_tags %}
{% block content %}
{% get_comments_content_object for form as self %}
<div class="comments">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if request.user.is_authenticated %}
    {% include "comments/form.html" with node=comment %}
  {% else %}
    <div class="heading heading__micro">
      <p>
        <a href="{% url 'molo.profiles:auth_login' %}" class="call-to-action__hyperlink">
          {% trans "Please Log in here to leave a comment." %}</a>
      </p>
    </div>
  {% endif %}
</div>
{% endblock %}
