{% extends "core/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags %}
{% block content %}
{% get_comments_content_object for form as self %}
<div class="comments">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if request.user.is_authenticated %}
    {% include "comments/form.html" with node=comment %}
  {% else %}
    {% trans "Please" as headingtext %}
    {% trans "Log in here" as linktext %}
    {% url 'molo.profiles:auth_login' as link %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="micro" htmltag="p" title=headingtext hyperlink=link linktitle=linktext %}
    {% trans "to leave a comment." as headingtext %}
  {% endif %}
</div>
{% endblock %}
