{% extends "core/article_page.html" %}
{% load core_tags wagtailcore_tags mptt_tags wagtailimages_tags comments  molo_commenting_tags i18n %}

{% block content %}
{% get_comments_content_object for form as self %}
  {% pageurl self as the_url %}
  <!-- TODO correct back button to be added -->
<div class="comments">
  {% include "comments/comment.html" with node=comment do_not_link_replies=True %}
  <div class="comments-list__item comments-list__item--reply">
    <h6 class="comments__body-title">
    {% if page == 1 %}
      <!--This should display| if there's replies only -->
      {% trans "Recent replies" %}
      {% else %}
      {% trans "Earlier replies" %}
    {% endif %}
    </h6>
    {% for node in replies reversed %}
      {% include "comments/comment.html" %}
    {% endfor %}
  </div>
  <div class="pagination">
    {% if replies.has_previous %}
        <a href="?p={{ replies.previous_page_number }}" class="pagination__nav-item pagination__nav-item--prev">&larr;</a>
    {% endif %}
    <span class="pagination__nav-item pagination__nav-item--current">
        {% trans "Page" %} {{ replies.number }} {% trans "of" %} {{ replies.paginator.num_pages }}
    </span>
    {% if replies.has_next %}
        <a href="?p={{ replies.next_page_number }}" class="pagination__nav-item pagination__nav-item--next">&rarr;</a>
    {% endif %}
  </div>

  <!--The  hyperlink variable works for {#{% url something %}#} and not for  {#{% pageurl something %}#} Fix implemented -->
  {% trans "Add your reply" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h2" title=headingtext  %}
  {% if request.user.is_authenticated %}
    {% include "comments/form.html" with node=comment %}
  {% else %}
  <!--We need to do the heading + link fix done on Profiles?-->
  <h6 class="comments__description">
    {% trans "Please " %}<a href="{% url 'molo.profiles:auth_login' %}">{% trans "log in" %}</a>
    {% trans "" %}</h6>
  {% endif %}

<!-- TODO correct back button to be added -->
</div>
{% endblock %}
