{% extends "core/article_page.html" %}
{% load core_tags wagtailcore_tags mptt_tags wagtailimages_tags comments molo_commenting_tags %}
{% block content %}
{% get_comments_content_object for form as self %}
  {% pageurl self as the_url %}
  {% trans "Back to article" as back %}
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=the_url page_name=back direction="left" %}
<div class="comments">
  {% include "comments/comment.html" with node=comment do_not_link_replies=True %}
    {% if do_not_link_replies or node.get_children.count == 0 %}
    <h6 class="comments__body-title">
      {% if page == 1 %}
        {% trans "Recent replies" %}
        {% else %}
        {% trans "Earlier replies" %}
      {% endif %}
    </h6>
    {% endif %}
    {% for node in replies reversed %}
      {% include "comments/comment.html" %}
    {% endfor %}
  {% include "patterns/basics/pagination/pagination-comments.html"%}
  <div id="comment-block">
    {% trans "Add your reply" as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h2" title=headingtext  %}
    {% if request.user.is_authenticated %}
      {% include "comments/form.html" with node=comment %}
    {% else %}
      {% url 'molo.profiles:auth_login' as link %}
      {% trans "Please" as headingtext %}
      {% trans "log in" as linktext %}
      {% include "patterns/basics/headings/sp_variations/heading.html" with type="micro" htmltag="p" title=headingtext hyperlink=link|add:"?next="|add:request.path linktitle=linktext %}
    {% endif %}
  </div>
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=the_url page_name=back direction="left" %}
</div>
{% endblock %}
