{% extends "core/article_page.html" %}
{% load wagtailcore_tags molo_commenting_tags %}
{% block content %}
{% get_comments_content_object for form as self %}
  {% pageurl self as the_url %}
  {% trans "Back to article" as back %}
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=the_url page_name=back direction="left" %}
<div class="comments">
  {% include "comments/comment.html" with node=comment do_not_link_replies=True %}
    {% if do_not_link_replies or node.get_children.count == 0 %}
    <h6 class="comments__body-title">
      {% if page == 1 %}
        {% trans "Recent replies" %}
        {% else %}
        {% trans "Earlier replies" %}
      {% endif %}
    </h6>
    {% endif %}
    {% for node in replies reversed %}
      {% include "comments/comment.html" %}
    {% endfor %}
  {% include "patterns/basics/pagination/pagination-comments.html"%}
  <div id="comment-block">
    <div class="heading heading__component">
      <h2>{% trans "Add your reply" %}</h2>
    </div>
    {% if request.user.is_authenticated %}
      {% include "comments/form.html" with node=comment %}
    {% else %}
      <div class="heading heading__micro">
        <p>
          <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}" class="call-to-action__hyperlink">
            {% trans "Please log in to leave a comment." %}</a>
        </p>
      </div>
    {% endif %}
  </div>
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=the_url page_name=back direction="left" %}
</div>
{% endblock %}
