{% extends "core/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags i18n %}
{% block content %}
{% pageurl article as the_url %}
{% trans "Back to article" as back %}
{% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=the_url page_name=back direction="left" %}
<div class="comments">
  {% trans "Please let us know why you are reporting this comment?" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=headingtext %}
  <form method="post" class="comments__form">
  {% csrf_token %}
    <fieldset>
      {{ form.report_reason }}
    </fieldset>
    <input type="submit" value="{% trans "Report Comment" %}" class="call-to-action__button call-to-action__button--primary">
  </form>
</div>
{% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=the_url page_name=back direction="left" %}
{% endblock %}
