{% extends "core/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags i18n %}
{% block content %}
{% pageurl article as the_url %}
<!-- TODO correct back button to be added -->
<div class="comments">
  <h6 class="comments__description">{% trans "Please let us know why you are reporting this comment?" %}</h6>
  <form method="post" class="comments__form">
  {% csrf_token %}
    <fieldset>
      {{ form.report_reason }}
    </fieldset>
    <input type="submit" value="{% trans "Report Comment" %}">
  </form>
</div>
<!-- TODO correct back button to be added -->
{% endblock %}
