#react {
  overflow: auto;
  padding: 0; }

.react-wrapper {
  position: relative;
  padding: 1em; }

.questionare {
  margin: 0;
  padding: 0; }
  .questionare li {
    list-style: none;
    margin: 1em 0; }

