@import "../util/*";
@import "../_normalize";

body,
html {
  background-color: $color-cyan_shade1;
  font-size: 16px;
}

a {
  &:active, &:hover, &:visited {
    color: $color-pink-bright;
    text-decoration: none;
  }
}

/*  NOTE: */
//PAGES WRAPPER
.Container {
  background: #fff;
  padding: 0;
  .Intro {
    background: #fff;
    color: #000;
    padding: 0 0 2em;
    text-align: left;
    margin: 0;
    @include for-size(tablet-portrait-up) {
      padding: 0 0 2em;
    }
  }
}

//HEADER
.Header {
  position: relative;
  overflow: auto;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0 7%;
  &-branding-image {
    display: none;
    visibility: hidden;
  }
}
.Header-title {
  background: #fff;
  padding: 2em 5% 1em;
  text-align: left;
  position: relative;
  &:before {
    background-image: url('/static/authentication_service/themes/ninyampinga/images/ShapesSprites.png');
    background-repeat: no-repeat;
    background-position: -30px 83.3%;
    background-size: 120px;
    height: 75px;
    content: "";
    display: inline-block;
    width: 135px;
  }
  h1 {
    position: relative;
    text-transform: uppercase;
    font-size: 1.125rem;
  }
}
.Header-links {
  background: #fff;
  color: #000;
  margin: 0 5%;
  text-align: left;
  @media (min-width:64em) {
    padding: 1em 5%;
  }
  a {
    color: $color-pink-bright;
    border-bottom: 1px solid $color-pink-bright;
    &:active, &:hover {
      color: #02938a;
    }
  }
}

//CONTENT
.Content {
  background: #fff;
  color: #000;
  overflow: auto;
  margin: 0 7%;
  padding: 1em 5% 2.5em;
  @include for-size(tablet-landscape-up) {
    padding: 1em 9% 2.5em;
    margin: 0 20%;
  }
  p {
    text-align: left;
  }
  .center {
    text-align: left;
    font-size: 1.125rem;
  }
}

//FORM
.Form {
  background: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  .Field {
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    word-break: break-word;
    word-wrap: break-word;
  }

  .Field-item {
    color: #000;
    display: inline-block;
    margin: 10px 0;
    font-size: .875rem;
    clear: both;
    border: none;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
    .Field {
      clear: both;
      border: none;
      margin: 0;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
  .Field-label {
    color: #000;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    vertical-align: middle;
    word-break: break-word;
    word-wrap: break-word;
  }
  .Field-message {
    color: #9b9fa2;
    font-size: 1rem;
    margin-top: 10px;
    text-align: left;
  }
  .Textarea {
    height: 60px;
  }
  .ClearableFileInput {
    display: block;
  }
  .Form--required input {
    border-color: red;
  }
}

.Form .Field .DateInput,
.Form .Field .EmailInput,
.Form .Field .NumberInput,
.Form .Field .PasswordInput,
.Form .Field .TextInput,
.Form .Field .Textarea,
.Form .Field .vDateField,
.Form .Field .Select {
  border: 2px $color-pink-bright solid;
  font-size: 1em;
  height: 48px;
  outline: 0;
  padding: 5px;
  width: 100%;
  border-width: 2px;
  &:focus {
    border: 2px $color-pink-bright solid;
  }
}

.Form .ModelChoiceField .Select,
.Form .TypedChoiceField .Select {
  border: 2px solid $color-pink-bright;
}
.Form .ModelChoiceField .Select:focus,
.Form .TypedChoiceField .Select:focus {
  border-color: #02938a;
}
.Form .Field-message--error .Field--required .Field-item input,
.Form .Field-message--error .Field-item input {
  border-color: #02938a;
}


.Button,
.Button--warning,
.Form .Button {
  background: $color-pink-bright url('/static/authentication_service/themes/ninyampinga/images/triangle-icon.png') no-repeat 94% 17px/14px;
  color: #fff !important;
  display: block;
  font-weight: 700;
  font-size: 1rem;
  padding: 12px 10px;
  text-transform: uppercase;
  margin: 1em 0;
  box-shadow: 12px 12px 0 0 $color-yellow !important;
  width: auto;
  -webkit-transition: box-shadow ease-in-out 0.3s;
  -moz-transition: box-shadow ease-in-out 0.3s;
  transition: box-shadow ease-in-out 0.3s;
  &:active, &:hover, &:focus {
    box-shadow: none !important;
    color: $color-yellow-gorse !important;
  }
}
.Form-buttons {
  margin-top: 1em;
}
.Button--warning {
  box-shadow: 12px 12px 0 0 #ed018c !important;
  &:hover, &:active {
    color: #ed018c !important;
  }
}

.Messages {
  margin: 0;
  padding: 0 7%;
  .Message {
    background: #fff;
    color: #000;
    padding: 5px 15%;
  }
  .Message--success {
    background: #fff;
    color: $color-pink-bright;
    font-size: 20px;
  }
  .Message--error,
  .Message--warning {
    background: #000;
  }
}

.errorlist {
  color: #000;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  li {
   margin: 10px 0;
 }
}

.Additional-text {
  color: #000;
  text-align: left;
  padding: 1em 0 0;
  margin: 0;
  font-size: 1.125rem;
  a {
    color: $color-pink-bright;
    text-transform: uppercase;
    border-bottom: 1px solid $color-pink-bright;
    &:active, &:focus, &:hover {
      color: $color-cyan_shade1;
      border-bottom: 1px solid $color-cyan_shade1;
    }
  }
}

.Form > .Menu {
  @media (min-width:64em) {
    width: auto;
    padding: 0;
  }
}
.Menu {
  padding: 0;
  margin: 0 auto !important;
  background: #fff;
  @media (min-width:64em) {
    width: 60%;
    padding: 0 6em 1em;
  }
  &-title {
    display: none;
  }
  &-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    @media (min-width:64em) {
      padding: 5px 0 3em 0;
    }
  }
}

//RIGHT OR LEFT
.Menu-list--right {
  margin: 10px 2.5em 0 0 !important;
}


.Menu-item {
  display: block !important;
  margin: 10px 0 0 0 !important;
  text-align: right;
  @media (min-width:64em) {
    padding: 5px 10% 3em 23%;
  }
  a {
    color: $color-pink-bright !important;
    font-size: 1.125rem !important;
    display: inline-block !important;
    border-bottom: 1px solid $color-pink-bright !important;
    text-transform: uppercase;
    font-weight: normal !important;
    &:active, &:hover, &:focus {
      color: $color-cyan_shade1 !important;
      border-bottom: 1px solid $color-cyan_shade1 !important;
    }
  }
}


.Back-to-top {
  padding: 3em 7.5% 1em;
  text-align: left;
  background: #000;
  color: #fff;
  margin: 4em 0 0;
  &--link {
    color: #fff !important;
    text-transform: uppercase;
    border-bottom: 0;
    &:hover {
      text-decoration: underline;
      text-underline-position: below;
    }
  }
}

.Footer {
  border: 0;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  a {
    font-size: 1rem;
    color: #000;
    border-bottom: 1px solid #000;
  }
  p {
    color: #000;
    padding: 2em 10%;
    text-align: right;
    @include for-size(tablet-landscape-up) {
      padding: 2em 20%;
    }
  }
}
