@font-face {
  font-family: 'Fedra Sans Bold';
  src: url('../../fonts/FedraSansDevanagariB-Bold.otf');
}
@font-face {
  font-family: 'Fedra Sans Std Book';
  src: url('../../fonts/FedraSansDevanagariB-Book.otf');
}
@font-face {
  font-family: 'Fedra Sans Std Demi';
  src: url('../../fonts/FedraSansDevanagariB-Demi.otf');
}
@font-face {
  font-family: 'Fedra Sans Std Light';
  src: url('../../fonts/FedraSansDevanagariB-Light.otf');
}
@font-face {
  font-family: 'Fedra Sans Std Medium';
  src: url('../../fonts/FedraSansDevanagariB-Medium.otf');
}

$FedraSansBold: "Fedra Sans Bold",Helvetica, Arial, sans-serif;
$FedraSansStdBook: "Fedra Sans Std Book",Helvetica, Arial, sans-serif;
$FedraSansStdDemi: "Fedra Sans Std Demi",Helvetica, Arial, sans-serif;
$FedraSansStdMedium: "Fedra Sans Std Medium",Helvetica, Arial, sans-serif;
$FedraSansStdLight: "Fedra Sans Std Light",Helvetica, Arial, sans-serif;


//COLORS

$colorYellow: #ffe559;
$colorPink: #ec4c87;
$colorPurple: #8207ff;
$colorPurpleDark: #8e22f4;
$colorRedLight: #f8395d;
$colorGrey: #3c3b3b;
