//TYPOGRAPHY

@font-face {
  font-family: "FedraSansDevanagariB-Demi";
  src: url("/static/fonts/FedraSansDevanagariB-Demi.eot");
  src: local("FedraSansDevanagariB-Demi");
  src: url("/static/fonts/FedraSansDevanagariB-Demi.svg#bingo") format("svg");
  src: url("/static/fonts/FedraSansDevanagariB-Demi.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Medium";
  src: url("/static/fonts/FedraSansDevanagariB-Medium.eot");
  src: local("FedraSansDevanagariB-Medium");
  src: url("/static/fonts/FedraSansDevanagariB-Medium.svg#bingo") format("svg");
  src: url("/static/fonts/FedraSansDevanagariB-Medium.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Bold";
  src: url("/static/fonts/FedraSansDevanagariB-Bold.eot");
  src: local("FedraSansDevanagariB-Bold");
  src: url("/static/fonts/FedraSansDevanagariB-Bold.svg#bingo") format("svg");
  src: url("/static/fonts/FedraSansDevanagariB-Bold.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Light";
  src: url("/static/fonts/FedraSansDevanagariB-Light.eot");
  src: local("FedraSansDevanagariB-Light");
  src: url("/static/fonts/FedraSansDevanagariB-Light.svg#bingo") format("svg");
  src: url("/static/fonts/FedraSansDevanagariB-Light.otf") format("opentype");
}


//COLORS
$colorYellow: #ffe559;
$colorPink: #ec4c87;
$colorPurple: #8207ff;
$colorPurpleDark: #8e22f4;
$colorRedLight: #f8395d;
$colorGrey: #3c3b3b;

//ANIMATE
@keyframes pulse {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
