{% extends "base.html" %}
{% load i18n %}
{% block body %}
<div class="profiles">
    {% if validlink %}
        {% trans "Please enter your new password twice so we can verify you typed it in correctly." as headingtext %}
        {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=headingtext %}
            <form method="post" class="profiles__form">
            {% csrf_token %}
                <fieldset>
                    <label for="id_new_password1">{% trans 'New password:' %}</label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </fieldset>
                <fieldset>
                    <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </fieldset>
                <input type="submit" value="{% trans 'Change my password' %}" class="call-to-action__button call-to-action__button--primary" />
            </form>
        {% else %}
            {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." as headingtext %}
            {% include "patterns/basics/headings/sp_variations/heading.html" with type="macro" htmltag="h4" title=headingtext %}
    {% endif %}
    </div>
{% endblock %}
