{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="profiles">
  <h2 class="heading heading--title">{% trans "Forgotten your password?" %}</h2>
	<h3 class="heading heading--subtitle">
    {% trans "Enter your email address below, and we'll email instructions for setting a new one." %}
  </h3>
	<form method="post" class="profiles__form">
	{% csrf_token %}
		<fieldset>
			<label for="id_email">{% trans 'Email address:' %}</label>
			{{ form.email }}
      {{ form.email.errors }}
		</fieldset>
		<input type="submit" value="{% trans "Reset my password" %}"/>
	</form>
</div>
{% endblock %}
