{% extends "base.html" %}
{% block content %}
<div class="profiles">
    {% trans "Forgotten your password?" as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=headingtext %}

    {% trans "Enter your email address below, and we'll email instructions for setting a new one." as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="macro" htmltag="h1" title=headingtext %}
    <form method="post" class="profiles__form">
    {% csrf_token %}
        <fieldset>
            <label for="id_email">{% trans 'Email address:' %}</label>
            {{ form.email }}
            {{ form.email.errors }}
        </fieldset>
        <input type="submit" value="{% trans "Reset my password" %}" class="call-to-action__button call-to-action__button--primary">
    </form>
</div>
{% endblock %}
