{% extends "base.html" %}
{% block body %}
<div class="profiles">
  {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h4" title=headingtext %}

  {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="macro" htmltag="h4" title=headingtext %}
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_button.html" with direction="left" %}
</div>
{% endblock %}
