{% extends "base.html" %}
{% load i18n %}
{% block body %}
<div class="profiles">
	<h3 class="heading heading--subtitle">{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</h3>
	<h3 class="heading heading--subtitle">
    {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
  </h3>
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_button.html" with direction="left" %}
</div>
{% endblock %}
