{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h4 class="heading heading--subtitle">{% trans "Forgotten your password?" %}</h4>
<div class="profiles">
	<p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>
	<form method="post" class="profiles__form">
	{% csrf_token %}
		<fieldset>
			<label for="id_email">{% trans 'Email address:' %}</label>
			{{ form.email.errors }}
			{{ form.email }}
		</fieldset>
		<input type="submit" value="{% trans "Reset my password" %}"/>
	</form>
</div>
{% endblock %}
