{% load i18n wagtailsettings_tags wagtailembeds_tags %}
<div class="media-player">
  <div class="media-player__content">
    {% if 'InternetOrgApp' in request.META.HTTP_USER_AGENT or 'X-IORG-FBS' in request.META or 'freebasics.com' in request.get_host %}
      <div class="media-player__no-player">
        {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading-alt" htmltag="h4" title=media.title %}
        <a href="{{ media.youtube_link }}" target="_blank" class="media-player__icon"></a>
        {% trans "Video content will be played externally in a new window" as headingtext %}
        {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading-alt" htmltag="h4" title=headingtext %}
      </div> 
    {% else %}
      <div class="media-player__embed-object">
        {% embed media.youtube_link %}
      </div> 
      {% trans "Download" as buttontext %}
      {% include "patterns/basics/buttons/sp_variations/button.html" with type="yellow" hyperlink=media.file.url text=buttontext attribute="download" %}
      </div>
  {% endif %}
</div>