{% load i18n wagtailsettings_tags wagtailembeds_tags %}
  <div class="video-player">
    <div class="video-player__content">
      {% if 'freebasics.com' in request.get_host %}
        <div class="video-player__no-player">
          {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading-alt" htmltag="h4" title=block.value.title %}
          <div class="video-player__icon"></div>
          {% trans "Video content will be played externally in a new window" as headingtext %}
          {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading-alt" htmltag="h4" title=headingtext %}
        </div> 
      {% else %}
        <div class="video-player__embed-object">
          {% embed block.value.youtube_link %}
        </div>  
        {% trans "Download" as buttontext %}
        {% include "patterns/basics/buttons/sp_variations/button.html" with type="yellow" hyperlink=block.value.file.url text=buttontext %}
        </div>
    {% endif %}
  </div>
