{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags core_tags comments gem_tags molo_survey_tags %}

{% block content %}
<div class="article-page">
  <div class="article-page__wrapper">
    <ul class="teaser-stacklist">
      <li class="teaser-stacklist__item">
        {% for block in self.body %}
          {% if block.value.type == "video" %}
            {% if block.value.youtube_link %}
              <div class="teaser-stacklist__iframe">
                {% embed block.value.youtube_link %}
              </div>
              {% endif %}
          {% else %}
            {% if forloop.last and self.get_effective_image %}
              <div class="teaser-stacklist__images">
                <a href="{% pageurl self.specific %}" class="teaser-stacklist__anchor">
                  {% image self.get_effective_image width-480 format-jpeg as teaser_thumbnail %}
                  <img alt="{{ self.title }}" src="{{ teaser_thumbnail.url }}" class="teaser-stacklist__thumbnail"/>
                </a>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        <div class="teaser-stacklist__container">
          <div class="teaser-stacklist__main">
            <h1 class="teaser-stacklist__title">
              {{ self.title|smarttruncatechars:100|safe}}
            </h1>
            <h4 class="teaser-stacklist__subtitle">{{ self.subtitle|smarttruncatechars:150|safe}}</h4>
            {% for block in self.body %}
              {% if not block.block_type == 'media' %}
                <p class="teaser-stacklist__excerpt excerpt excerpt-hidden">
                  {{block.value}}
                </p>
              {% endif %}
            {% endfor %}
            {% surveys_list_for_pages page=self %}
          </div>
          <div class="teaser-stacklist__cta-buttons">
            {% load_reaction_question self as question %}
            {% if question %}
              <div class="reaction-questions">
                <form class="reaction-questions__form" action="{% url 'reaction-vote' self.slug question.id %}" id="reaction-questions__form" method="post" novalidate>
                  {% csrf_token %}
                  <div class="reaction-questions__list">
                    {% load_choices_for_reaction_question question as choices %}
                      {% for choice in choices %}
                        {% load_user_choice_reaction_question question self choice as user_has_chosen %}
                        {% if user_has_chosen %}
                          <span class="reaction-questions__item" id="{{ choice.specific.get_main_language_page.id }}" onclick="set_choice({{ choice.specific.get_main_language_page.id }})" disabled=disabled>
                        {% else %}
                          <span class="reaction-questions__item" id="{{ choice.specific.get_main_language_page.id }}" onclick="set_choice({{ choice.specific.get_main_language_page.id }})">
                        {% endif %}
                            <label for="choice{{ forloop.counter }}" class="reaction-questions__label reaction-questions__label--{{ choice.title|slugify }}">
                              {% image choice.specific.image width-50 as reaction__icon %}
                              <div class="reaction-questions__icon" style="background-image: url('{{reaction__icon.url}}')"></div>
                              {{ choice.title|capfirst }}
                            </label>
                          </span>
                      {% endfor %}
                  </div>
                </form>
              </div>
            {% endif %}
            <div class="vote__item">
              <a href="#" class="vote__icon"></a>
            </div>
            {% if self.is_commenting_enabled %}
              {% if self.allow_commenting %}
                {% if request.user.is_authenticated %}
                  <div class="comments__item">
                    <a href="#" class="comments__icon"></a>
                  </div>
                {% endif %}
              {% endif %}
            {% endif %}
            {% include "comments/comment_block.html" with article=self %}
          </div>

        </div>
      </li>
    </ul>

    {% block extra_js %}
      <script type="text/javascript">
        var frm = $('#reaction-questions__form');
        function set_choice(choice) {
          if (!$('#' + choice).attr('disabled') == true){
            $.ajax({
              type: frm.attr('method'),
              url: frm.attr('action'),
              data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                choice: choice,
                ajax: "True"
              },
              success: function () {
                $( ".reaction-questions__item" ).each(function( index ) {
                  $(this).attr('disabled', false);
                });
                $("#" + choice).attr('disabled', true);
              }
            })
          }
        };

        document.getElementById("id_comment").addEventListener("mouseup", function(e) {
          if(document.activeElement === e.target) {
            e.target.closest(".comments__form-post").setAttribute("style","border: 5px solid #72f3a2; outline: none; padding: 10px; border-radius: 5px;");
          } else {
            e.target.closest(".comments__form-post").setAttribute("style");
          }
        });
      </script>
    {% endblock %}
  </div>
</div>
{% endblock %}
