{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags wagtailsettings_tags core_tags comments gem_tags %}
{% get_settings %}

{% block content %}
<div class="section-page">
  <div class="section-page__images">
    {% if self.get_effective_image %}
      {% image self.get_effective_image width-200 as section_photo %}
        <img alt="{{ self.title }}" src="{{ section_photo.url }}" class="section-page__thumbnail"/>
    {% else %}
      <span class="section-page__thumbnail--placeholder"></span>
    {% endif %}
  </div>
  <div class="section-page__wrapper">
    {% load_child_articles_for_section self count=1 featured_in_section=True as featured_articles %}
    <ul class="teaser-stacklist">
      {% for featured_article in featured_articles %}
        <li class="teaser-stacklist__item">
          {% for block in featured_article.body %}
            {% if block.value.type == "video" %}
              {% if block.value.youtube_link %}
                <div class="teaser-stacklist__iframe">
                  {% embed block.value.youtube_link %}
                </div>
                {% endif %}
            {% else %}
              {% if forloop.last and featured_article.get_effective_image %}
                <div class="teaser-stacklist__images">
                  <a href="{% pageurl featured_article.specific %}" class="teaser-stacklist__anchor">
                    {% image featured_article.get_effective_image width-1980 format-jpeg as teaser_thumbnail %}
                    <img alt="{{ featured_article.title }}" src="{{ teaser_thumbnail.url }}" class="teaser-stacklist__thumbnail"/>
                  </a>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}

          <div class="teaser-stacklist__container">
            <h2 class="teaser-stacklist__title-secondary">{{ featured_article.title|smarttruncatechars:50|safe}}</h2>
            {% comment %}
              <div class="teaser-stacklist__cta-buttons">
                {% load_reaction_question featured_article as question %}
                {% if question %}
                <div class="reaction-questions">
                  <form class="reaction-questions__form" action="{% url 'reaction-vote' article.slug question.id %}" id="reaction-questions__form" method="post" novalidate>
                    {% csrf_token %}
                    <div class="reaction-questions__list">
                      {% load_choices_for_reaction_question question as choices %}
                        {% for choice in choices %}
                          {% load_user_choice_reaction_question question article choice as user_has_chosen %}
                          {% if user_has_chosen %}
                            <span class="reaction-questions__item" id="{{ choice.specific.get_main_language_page.id }}" onclick="set_choice({{ choice.specific.get_main_language_page.id }})" disabled=disabled>
                          {% else %}
                            <span class="reaction-questions__item" id="{{ choice.specific.get_main_language_page.id }}" onclick="set_choice({{ choice.specific.get_main_language_page.id }})">
                          {% endif %}
                              <label for="choice{{ forloop.counter }}" class="reaction-questions__label reaction-questions__label--{{ choice.title|slugify }}">
                                {% image choice.specific.image width-50 as reaction__icon %}
                                <div class="reaction-questions__icon" style="background-image: url('{{reaction__icon.url}}')"></div>
                                {{ choice.title|capfirst }}
                              </label>
                            </span>
                        {% endfor %}
                    </div>
                  </form>
                </div>
              {% endif %}
              <div class="vote__item">
                <a href="#" class="vote__icon"></a>
              </div>
              </div>
            {% endcomment %}
            {% if featured_article.subtitle %}
              <h6 class="article-teaser__subtitle">
                {{ featured_article.subtitle|smarttruncatechars:150|safe}}
              </h6>
            {% endif %}
            <a class="call-to-action__button call-to-action__button--primary" href="{% pageurl featured_article.specific %}">
              {% trans "Read more" %}
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>
{% endblock %}
