
{% extends "base.html" %}

{% load core_tags competition_tag poll_votings molo_survey_tags media_tags %}


{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
  {% if 'cewekeren.com' in request.get_host %}
  <div class="message-notification">
    Hei cewek keren! Apa kamu pelanggan Indosat? Kalo iya, kamu bisa mengakses
    Girl Effect secara gratis lewat <a href="http://www.freebasics.com" target="_blank">Internet.org</a>
    hanya dengan meng-klik pilihan "Girl Effect" yang tersedia di dalam menu. Keren banget, kan?
  </div>
  {% endif %}

  {% if 'ninyampinga.com' in request.get_host %}
  <div class="message-notification">
  {% trans "This site is free for all MTN subscribers. If you are an Airtel subscriber, you can access this site for free by going to " %}
      <a href="http://www.freebasics.com" target="_blank">freebasics.com</a>
  </div>
  {% endif %}

 {% bannerpages %}

  <div id="article-hero">
    {% latest_listing_homepage %}
  </div>

  {% media_listing_homepage %}

 <div class="gem-surverys">
      {% surveys_list %}
 </div>

  <div class="gem-polls">
      {% poll_page %}
  </div>

  <div class="article-list">
    {% section_listing_homepage %}
  </div>

  {% your_words_competition %}

{% endblock %}
