{% load poll_votings %}

{% if error_message %}
  <p class="errors">{{ error_message }}</p>
{% endif %}

{# Polls Question ID not getting pulled #}
<form action="{% url 'molo.polls:vote' question.id %}" method="post" class="polls__form" novalidate>
{% csrf_token %}
  {% load_choices_for_poll_page question as choices %}
  {% if not request.user.is_authenticated %}
    {% for choice in choices %}
    <fieldset class="choice choice-group">
      {% if question.get_main_language_page.allow_multiple_choice %}
        <input type="checkbox" id="choice-{{ question.id }}-{{ forloop.counter }}" name="choice" value="{{ choice.get_main_language_page.id }}" />
      {% else %}
        <input type="radio" id="choice-{{ question.id }}-{{ forloop.counter }}" name="choice" value="{{ choice.get_main_language_page.id }}" />
      {% endif %}
      <label for="choice-{{ question.id }}-{{ forloop.counter }}" >{{ choice.title|capfirst }}</label>
    </fieldset>
    {% endfor %}
    <a href="{% url LOGIN_URL %}?next={{request.path}}" class="call-to-action__button call-to-action__button--primary">
      <span class="call-to-action__button-text call-to-action__button-text--primary">{% trans "Log in to vote" %}</span>
    </a>
  {% else %}
    {% can_vote question as user_can_vote %}
    {% if user_can_vote %}
    {% for choice in choices %}
      <fieldset class="choice choice-group">
        {% if question.get_main_language_page.allow_multiple_choice %}
          <input type="checkbox" id="{{ question.id }}-{{ forloop.counter }}" name="choice" value="{{ choice.get_main_language_page.id }}" />
        {% else %}
          <input type="radio" id="{{ question.id }}-{{ forloop.counter }}" name="choice" value="{{ choice.get_main_language_page.id }}" />
        {% endif %}
        <label for="{{ question.id }}-{{ forloop.counter }}">{{ choice.title|capfirst }}</label>
      </fieldset>
    {% endfor %}
    <input type="submit" value="{% trans "Vote" %}" class="call-to-action__button call-to-action__button--primary">
    {% elif question.get_main_language_page.show_results %}
      <a href="{% url 'molo.polls:results' question.id %}" class="call-to-action__button call-to-action__button--primary">
        <span class="call-to-action__button-text call-to-action__button-text--primary">{% trans "Show Results" %}</span>
      </a>
    {% elif not question.get_main_language_page.show_results %}
      {% user_choice question as user_choice %}
      <h5>{% trans "You voted: " %}{{user_choice}}</h5>
    {% endif %}
  {% endif %}
</form>
