{% load poll_votings %}
  {% if error_message %}
    <p class="errors">{{ error_message }}</p>
  {% endif %}
<form action="{% url 'molo.polls:free_text_vote' question.id %}" method="post" class="polls__form" novalidate>
{% csrf_token %}
{% if request.user.is_authenticated %}
  {% can_vote question as user_can_vote %}
  <fieldset>
  {% if user_can_vote %}
    {% if question.freetextquestion.get_main_language_page.numerical %}
      <input type="number" name="answer" id="id_answer"/>
    {% else %}
      <input type="text" name="answer" id="id_answer"/>
    {% endif%}
  </fieldset>
  <input type="submit" value="{% trans "Submit" %}" class="call-to-action__button call-to-action__button--primary">
  {% else %}
    <div class="heading heading__subheading">
      <p>{% trans "Thank you! Your response has already been submitted." %}</p>
    </div>
  {% endif %}
{% else %}
  <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}" class="call-to-action__button call-to-action__button--primary">
    <span class="call-to-action__button-text call-to-action__button-text--primary">{% trans "Log in to vote" %}</span>
  </a>
{% endif %}
</form>
