{% extends "base.html" %}

{% block content %}
<div class="profiles profile-container form-wrap change-password">
<form method="post" id="frmProfilePasswordChange" action="" class="profile" novalidate>
{% csrf_token %}
   {% if form.errors or form.non_field_errors %}
      {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
              <p class="alert-error">{{ error }}</p>
          {% endfor %}
      {% endif %}
  {% endif %}
  {% if messages %}
    <ul class="errorlist">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
  <fieldset>
      <label class="label-wide">{% trans "Old Password:" %}</label>
      <p>{{form.old_password}}</p>
      {{form.old_password.errors}}
  </fieldset>
  <fieldset>
      <label class="label-wide">{% trans "New Password:" %}</label>
      <p>{{form.new_password}}</p>
      {{form.new_password.errors}}
  </fieldset>
  <fieldset>
      <label class="label-wide">{% trans "Confirm New Password:" %}</label>
      <p>{{form.confirm_password}}</p>
      {{form.confirm_password.errors}}
  </fieldset>
   <input type="submit" value='{% trans "Change Password" %}'>
</form>
</div>
{% endblock %}
