{% extends "base.html" %}

{% block content %}
<div class="profile-container">
  <div class="block turq">
    <div class="title"><h5>{% trans "Thank you for joining!" %}</h5></div>
    <p>{% trans "Let us know your birthday to get access to exclusive content." %}</p>
    <form method="post" action="{% url 'molo.profiles:registration_done' %}">
    {% csrf_token %}
    <fieldset>
        {{ form.date_of_birth }}
    </fieldset>
        <input type="submit" value='{% trans "Update" %}' />
        <a href="/" class="button inverted">{% trans "Skip" %}</a>
    </form>
  </div>
</div>
{% endblock %}
