html,body, .article {
  font-family: Arial, sans-serif;
  color: $colorPurple;
}

h2, h3, h4 {
  font-family: $font-family-zathu;
  font-weight: normal;
}

a {
  color: $colorPurple;
  text-decoration: none;
}

a:hover {
  color: $colorBlack;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}
