
@import "_fonts";
@import "variables/_mixins";
@import "variables/_variables";

@import "_base";
@import "layout/_layout";
@import "modules/_module";
@import "state/_state";

//Module
.template-main .article-list,
#article-hero {
  &:after {
    background: url(/static/img/gem-lines/pattern_edited.png);
    background-position: center;
    background-repeat: repeat-x;
    background-size: 100% auto;
  }
}
.your-words {
  background: #e12183;
}

.gem-polls {
  background: #f29a42;
}

#article-hero:after {
  background-image: url('/static/img/gem-lines/featured_bar_rwanda.png');
  background-repeat: repeat-x;
}

.teal-ribbon {
  background-image: url('/static/img/gem-lines/featured_bar_rwanda.png');
  background-color: #fff;
  background-position: top;
  height:22px;
  background-size: 113px;
  margin: 0 0 9px 0;
}

.sd-container hr {
  background-image: url('/static/img/gem-lines/featured_bar_rwanda.png');
}
