@import "variables/_variables";
.section-header {
  background-color: $colorPurple;
  a {
    font-family: $font-family-zathu;
    color: $colorYellow;
    font-weight: normal;
    font-size: $font-large;
  }
}
.profile-container,
.default-container {
  form {
    label, p {
      font-family: $font-family-default;
      color: $colorPurple;
    }
  }
}
button, input[type=submit],
.button, .gem-polls a,
.search__submit {
  background: $colorPurple;
  font-family: $font-family-zathu;
  color: $colorYellow;
  font-size: $font-x-medium;
  font-weight: normal;
}
.default-container {
  form {
    label, p {
      font-family: $font-family-zathu;
      font-weight: normal;
      font-size: 16px;
      margin: 0 0 16px 0;
      padding: 0;
      color: #4F4C54;
    }
  }
}

.profile-container {
  input + h5 + p {
    font-family: $font-family-zathu;
    font-weight: normal;;
  }
}
.sd-heading.find-a-service {
  font-family: $font-family-zathu;
  font-weight: normal;
  font-size: 18px;
}
.standalone-page {
  &.your-words {
    .section-title {
      h2 {
        background: $colorPurple;
      }
    }
  }
}
.related-articles-up-next {
  &:after {
    height: 30px;
    background: url('/static/img/featured_bar_malawi.png') no-repeat center center;
  }
}
#article-hero:after {
  background-image: url('/static/img/featured_bar_malawi.png');
  background-repeat: no-repeat;
}

.teal-ribbon {
  height: 40px;
  background-image: url('/static/img/featured_bar_malawi.png');
  margin: 0 0 15px 0;
  background-repeat: no-repeat;
  background-size: 90%;
}
.sd-container {
  hr {
    background-image: url('/static/img/featured_bar_malawi.png');
  }
}
.template-main .article-list,
#article-hero {
  &:after {
    height: 50px;
    background-image: url('/static/img/featured_bar_malawi.png');
    margin: 0 0 10px 0;
    background-repeat: no-repeat;
    background-size: 90%;
  }
}
.signin-form {
  .terms-and-conditions__field {
    label, label a {
      color: $colorPurple;
      text-decoration: underline;
    }
  }
}
.profile-container,
.default-container {
  form {
    background-color: $colorGrey;

    .inverted {
      text-align: center;
      color: $colorPurple;
    }
  }
}
.pagination {
  a {
    color: $colorPurple;
  }
}

@import "_base";
@import "layout/_layout";
@import "modules/_modules";
