.search__form {
  position: relative;
  padding: 0 5px;
  @media screen and (min-width: 320px) {
    padding: 0 15px;
  }
  input[type="text"]:focus {
    background-color: #E5E7E9;
    outline: 1px solid #CEE5FE;
    box-shadow: 0 0 0 1px #CEE5FE;
  }
}
