.search-bar {
  position: relative;
  margin: 0;
  input[type="text"] {
    @include font($baton-regular);
    color: $springster-purple;
    font-size: 20px;
    padding: 5px 0 5px 15px;
    width: 98%;
    border: 2px solid $springster-purple;
    box-sizing: border-box;
    &:focus {
      border: 2px solid $gunmetal;
      outline: 0;
    }
  }

  &--footer {
    margin: 0 8px;
  }
  &--results-page {
    margin: 30px 16px;
  }
}
