{% load core_tags media_tags wagtailembeds_tags i18n %}

{% block homepage_media %}
{% for media in media %}
  {% if media.youtube_link %}
    {% include "patterns/basics/media/media-player.html" %}
  {% elif media.type == 'video'%}
    {% if 'InternetOrgApp' not in request.META.HTTP_USER_AGENT or 'X-IORG-FBS' not in request.META or 'freebasics.com' not in request.get_host %}
      <div class="media-player">
        <div class="media-player__content">
          <video width="320" height="240" controls>
              <source src={{media.file.url}} type="video/mp4">
              Your browser does not support the video tag.
          </video>
        </div>
      </div>
  {% endif %}
  {% elif media.type == 'audio'%}
    {% if 'InternetOrgApp' not in request.META.HTTP_USER_AGENT or 'X-IORG-FBS' not in request.META or 'freebasics.com' not in request.get_host %}
      <div class="media-player">
        <div class="media-player__content">
        <audio controls><source src={{media.file.url}}
          type="audio/mpeg">Click here to download
          <a href={{media.file.url}}>{{media.title}}</a>
        </audio>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endfor%}
{% endblock %}
  