{% block homepage_media %}
  {% for media in media %}
    {% if media.youtube_link %}
      {% include "patterns/components/media/media-player.html" %}
    {% elif media.type == 'video'%}
        {% if not is_via_freebasics %}
          <div class="media-player">
            <div class="media-player__content">
              <video width="320" height="240" controls>
                  <source src={{media.file.url}} type="video/mp4">
                  Your browser does not support the video tag.
              </video>
              {% trans "Download Video" as buttontext %}
              {% include "patterns/basics/buttons/sp_variations/button.html" with type="yellow" hyperlink=media.file.url text=buttontext attribute="download" tracktitle=media.title tracktype="Video"  %}
            </div>
          </div>
        {% endif %}
    {% elif media.type == 'audio'%}
      {% if not is_via_freebasics %}
        <div class="media-player">
          <div class="media-player__content">
            <audio controls><source src={{media.file.url}}
              type="audio/mpeg">Click here to download
              <a href={{media.file.url}}>{{media.title}}</a>
            </audio>
            {% trans "Download Audio" as buttontext %}
            {% include "patterns/basics/buttons/sp_variations/button.html" with type="yellow" hyperlink=media.file.url text=buttontext attribute="download" tracktitle=media.title tracktype="Audio" %}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}
