{% load wagtailimages_tags wagtailembeds_tags %}

{% block homepage_media %}
  {% for media in media %}
  <div class="media-player">
    <div class="media-player__content">
      {% if media.youtube_link %}
      <div class="media-player__no-player">
        <h4 class="media-player__title">{{media.title}}</h4>
        <a href="{{ media.youtube_link }}" target="_top" class="media-player__icon">
          {% trans "Click to watch on youtube!" %}
        </a>
        <h3 class="media-player__subtitle">
          {% trans "Media will be played externally in a new window" %}
        </h3>
      </div>

      <div class="media-player__embed-object">
        {% embed media.youtube_link %}
        <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button" download>
          {% trans "Click here to download video" %}
        </a>
      </div>
      {% elif media.type == 'video'%}
        <video poster="/media/{{ media.thumbnail }}" controls>
          <source src={{media.file.url}} type="video/mp4">
          <source src={{media.file.url}} type="video/webm">
          <source src={{media.file.url}} type="video/ogg">
          <span class="media-player__caption">
            {% trans "Your browser does not support the video tag." %}
          </span>
        </video>
        <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button" download>
          {% trans "Click here to download video" %}
        </a>
      {% elif media.type == 'audio'%}
        <audio controls>
          <source src={{media.file.url}} type="audio/mpeg">
          <source src={{media.file.url}} type="audio/ogg">
          <source src={{media.file.url}} type="audio/wav">
            <span class="media-player__caption">
              {% trans "Your browser does not support the audio tag." %}
            </span>
          <a href={{media.file.url}}>{{media.title}}</a>
        </audio>
        <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Audio', 'Download', '{{media.title}}');" class="call-to-action__button" download>
            {% trans "Click here to download audio" %}
        </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
{% endblock %}
