{% load wagtailimages_tags core_tags %}
{% if social_media %}
  <div class="heading heading__micro">
    <p>{% trans "Find us elsewhere:" %}</p>
  </div>
  <div class="social-media-footer-list">
    {% for site in social_media %}
    <div class="social-media-footer-list__item">
      <a href="https://{{ site.value.link }}" class="social-media-footer__anchor">
        {% image site.value.image width-24 %}
        <span class="social-media-footer__label">{{ site.value.title }}</span>
      </a>
    </div>
    {% endfor %}
  </div>
{% endif %}
