{% extends "base.html" %}

{% block body_class %}default-container{% endblock %}

{% block content %}
<div class="server-error">
  <div class="heading__title">
    <h3>{% trans "Unable to Login" %}</h3>
  </div>
  <div class="message-notification">
    {% trans "Hi ChhaaJaa Ladki!" %},
    <p>{% trans "Sorry, you are having trouble accessing this feature! Due to a temporary technical issue, log in and registrations are not available for now. We're working hard to get this problem resolved. Thank you." %} </p>
  </div>
</div>
{% endblock %}
