{% load wagtailcore_tags core_tags gem_tags %}
<form id="survey-form" action="{% pageurl form_page %}" method="post" class="polls__form" novalidate>
{% csrf_token %}
  {{ form.media }}
  {% for field in form %}
    {% if field|fieldtype == 'RadioSelect' %}
    <fieldset class="{% if self.display_form_directly %}choice-fieldset{% endif %}">
      {% for value, text in field.field.choices %}
        <div class="choice-group choice-group__radio">
          {% if user_has_chosen %}
            <input name="{{ field.name }}"
            id="value-{{ field.id_for_label }}-{{ forloop.counter }}"
            type="radio" value="{{ value }}" checked="checked"
            onclick="set_form_choice('{{form_page.slug}}')"/>
          {% else%}
            <input name="{{ field.name }}"
            id="value-{{ field.id_for_label }}-{{ forloop.counter }}"
            type="radio" value="{{ value }}"
            onclick="set_form_choice('{{form_page.slug}}')"/>
          {% endif %}
           <label for="value-{{ field.id_for_label }}-{{ forloop.counter }}">{{ text|capfirst }}</label>
        </div>
      {% endfor %}
    </fieldset>
    {% else %}
      <fieldset>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <span class="forms__helptext">{{ field.help_text }}</span>
        {{ field }}
        {% if field.errors %}
        <ul class="error error--forms">
          {% for error in field.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>
    {% endif %}
    {% if field.errors %}
      <ul class="error-list">
      {% for error in field.errors %}
        <li class="error-list__item">{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <div class="responses">
      <div class="response-percent">
        {% for value, text in field.field.choices %}
          <span id="{{ value|slugify }}-perc" class="response-percent__bar"></span>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  {% trans "Submit Form" as text %}
  <input type="submit" value="{% if is_intermediate_step %}{% trans 'Next Question' %}{% else %}{{ form.submit_text|default:text }}{% endif %}" />
</form>
<script type="text/javascript">
  function set_form_choice(slug){
    var frm = $('#survey-form');
    $.ajax({
      type: frm.attr('method'),
      url: frm.attr('action'),
      data: frm.serialize() + '&ajax=True',
      success: function() {
        update_percentages(slug)
      },
    });
  };

  function update_percentages(slug){
    //For post / complete delete only
    $.ajax({
      type: "get",
      url: "/forms/"+slug+"/results_json/",
      success: function (data) {
        for (form in data) {
          var responses = data[form];
          var updated = [];
          for (choice in responses) {
            var percent = responses[choice];
            $('#'+choice+'-perc').text(percent).css('width',percent+'%');
            updated.push(choice+'-perc');
          }
          // The above call only returns choices that have answers, update the rest
          $('.response-percent__bar').each(function(){
            if ($.inArray(this.id, updated) == -1){
              $(this).text(0).css('width','0%');
            }
          })
        }
      },
  });
  };
  update_percentages('{{form_page.slug}}');
</script>
