{% load forms_personalise_extras wagtailimages_tags wagtailcore_tags wagtailsettings_tags static gem_tags %}
{% get_settings %}

{% block content %}
<div class="profiles">
  <div class="profiles__wrapper">
    {% filter_forms_by_segments forms request as filtered_forms %}
      {% for item in filtered_forms %}
        {% with form_page=item.molo_form_page form=item.form %}
          {% if user.is_authenticated and user.is_active or request.is_preview or form_page.allow_anonymous_submissions %}
            <div class="heading heading--hero">
              <h1 class="heading__component">{{form_page.title}}</h1>
            </div>
            {% if form_page.homepage_introduction %}
              <div class="profiles__caption">
                <h3 class="heading__subtitle">{{form_page.homepage_introduction|smarttruncatechars:100|safe}}</h3>
              </div>
            {% endif %}
            <div class="profiles__inner">
              <div class="call-to-action--group">
                <a href="{% pageurl form_page.specific %}" class="call-to-action__button call-to-action__button--primary">
                  {% trans "Contact us" as defaultText %}
                  {{ form_page.homepage_button_text|default:defaultText }}
                </a>
              </div>
            </div>
          {% endif %}
        {% endwith %}
      {% endfor %}
  </div>
</div>
{% endblock %}
