{% load forms_personalise_extras wagtailimages_tags wagtailcore_tags wagtailsettings_tags static gem_tags %}
{% get_settings %}

{% block content %}
{% filter_forms_by_segments forms request as filtered_forms %}
{% if filtered_forms %}
  {% for item in filtered_forms %}
    {% with form_page=item.molo_form_page form=item.form %}
      {% if form_page.display_form_directly %}
        <div class="polls polls--homepage">
          <div class="polls__wrapper">
            <div class="polls__inner">
              <section>
                <div class="heading heading--secondary">
                  <h1 class="heading__macro">
                    {% if form_page.title %}{{form_page.title}}{% else %}{% trans 'Poll' %}{% endif %}</h1>
                </div>
                {% if form_page.homepage_introduction %}
                  <h4 class="heading__subtitle">
                    {{form_page.homepage_introduction|smarttruncatechars:215|safe}}
                  </h4>
                {% endif %}
                {% if form %}
                  {% include "forms/form.html" with formtype="poll" formtypeClass="polls" %}
                {% endif %}
              </section>
              {% if form_page.image %}
                <aside>
                  {% image form_page.image width-480 as tmp_photo %}
                  <img src="{{ tmp_photo.url }}" alt="{{ form_page.image.title }}" class="surveys__image" />
                </aside>
              {% endif %}
            </div>
          </div>
        </div>
      {% else %}
      {% trans "Take The Form" as button_text %}
      <div class="call-to-action call-to-action--forms">
          <a href="{% pageurl form_page %}" class="call-to-action__nav-item call-to-action__nav-item--forms">{{ form_page.homepage_button_text|default:button_text }}</a>
      </div>
      {% endif %}
    {% endwith %}
  {% endfor %}
{% endif %}
{% endblock %}
