{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags static core_tags gem_tags %}

{% block content %}
<div class="profiles">
  <div class="profiles__wrapper">
    <div class="heading heading--hero">
      <h1 class="heading__component">{{self.title}}</h1>
    </div>

    {% if form_page.homepage_introduction %}
      <div class="profiles__caption">
        <h3 class="heading__subtitle">{{form_page.homepage_introduction|smarttruncatechars:100|safe}}</h3>
      </div>
    {% endif %}
    <div class="profiles__inner">
      {% if self.thank_you_text %}
        <h3 class="heading__subtitle">{{self.thank_you_text}}</h3>
      {% else %}
        <h3 class="heading__subtitle">{% trans "Thank you for submitting your enquiry." %}</h3>
      {% endif %}
      <div class="call-to-action--group">
        <a href="{{request.site.root_page.specific.url}}" class="call-to-action__button call-to-action__button--secondary">
          {% trans "Back home" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
