{% extends "core/article_page.html" %}
{% load wagtailcore_tags %}
{% block content %}
<div class="comments {% if article.get_parent_section.get_effective_extra_style_hints %}comments--{{article.get_parent_section.get_effective_extra_style_hints}}{% endif %}">
  <div class="comments__wrapper">
    <div class="heading heading--secondary">
      <h2 class="heading__component">{% trans "Thanks" %}!</h2>
    </div>
    <h3 class="heading__subtitle">
      {% trans "This comment has been reported" %}.
    </h3>
    <p class="comments__description">
      {% trans "It will be reviewed by the moderation team and may be removed if it breaks our platform rules" %}.
    </p>
    <a href="{% pageurl article %}" class="call-to-action__button call-to-action__button--previous">
      {% trans "Back to article" %}
    </a>
  </div>
</div>
{% endblock %}
