{% extends "core/article_page.html" %}
{% load wagtailcore_tags %}
{% block content %}
<div class="comments">
  <div class="heading">
    <h2 class="heading__component">{% trans "Thanks!" %}</h2>
  </div>
  <div class="heading">
    <h3 class="heading__subheading">{% trans "This comment has been reported." %}</h3>
  </div>
  <p class="heading--subtitle">
    {% trans "It will be reviewed by the moderation team and may be removed if it breaks our Platform rules" %}
  </p>
</div>
<div class="call-to-action">
  <a href="{% pageurl article %}" class="call-to-action__nav-item-text call-to-action__nav-item-text--left">
    {% trans "Back to article" %}</a>
</div>
{% endblock %}
