{% extends "core/article_page.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="default-container">
    <div class="block">
        <h4 class="report left">{% trans "You have already reported this comment" %}</h4>
        <div class="report block">
          <div class="article-copy">
            <p>{% trans "The comment will be reviewed by the moderation team and may be removed if it breaks our Platform rules" %}</p>
          </div>
          <a href="{% pageurl article %}" class="button">{% trans "Back to article" %}</a>
        </div>
    </div>
</div>

{% endblock %}
