{% extends "base.html" %}
{% load core_tags wagtailcore_tags i18n %}
{% block content %}
<div class="comments">
  {% trans "Comment Replies" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h2" title=headingtext %}
<div class="comments__list">
{% if unread_notifications %}
  <h2 class="comments__reply-title comments__reply-title--unread">
    {% trans "You have" %} {{ number_unread_notifications }} {% trans "unread replies" %}
  </h2>
    {% for notice in unread_notifications %}
      {% include 'notifications/notice.html' %}
    {% endfor %}
{% endif %}
    {% if read_notifications %}
    {% trans "Read replies:" as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h2" title=headingtext %}
    {% for notice in read_notifications %}
      {% include 'notifications/notice.html' %}
    {% endfor %}
{% endif %}
</div>

  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=request.site.root_page.url page_name="Back Home" direction="left" %}
</div>
{% endblock %}
