{% load forms_personalise_extras wagtailimages_tags wagtailcore_tags wagtailsettings_tags static gem_tags %}
{% get_settings %}

{% block content %}
<div class="contact">
{% filter_forms_by_segments forms request as filtered_forms %}
  {% for item in filtered_forms %}
    {% with form_page=item.molo_form_page form=item.form %}
      {% if user.is_authenticated and user.is_active or request.is_preview or form_page.allow_anonymous_submissions %}
        <div class="contact contact__{{form_page.get_effective_extra_style_hints}}">
          <div class="heading heading__component">
            <h1>{{form_page.title}}</h1>
          </div>
          {% if form_page.homepage_introduction %}
            <div class="heading heading__subheading">
              <p>{{form_page.homepage_introduction|smarttruncatechars:100|safe}}</p>
            </div>
          {% endif %}
          <nav>
            <a href="{% pageurl form_page.specific %}" class="call-to-action__button call-to-action__button--primary">
              <span class="call-to-action__button-text call-to-action__button-text--primary">
                {% trans "Contact us" as defaultText %}
                {{ form_page.homepage_button_text|default:defaultText }}
              </span>
            </a>
          </nav>
        </div>
      {% endif %}
    {% endwith %}
  {% endfor %}
</div>
{% endblock %}
