{% extends 'base.html' %}
{% load wagtailimages_tags %}

{% block content %}
  <div class="contact">
    {% if self.image %}
      <div class="contact__image">
        {% image self.image width-98 as tmp_photo_small %}
        {% image self.image width-320 as tmp_photo_large %}
        <img src="{{ tmp_photo_small.url }}" srcset="{{ tmp_photo_large.url }}" alt="{{ form.image.title }}" class="contact__thumbnail" />
      </div>
    {% endif %}
    <div class="heading heading__component">
      <h1>{{self.title}}</h1>
    </div>

    {% if self.thank_you_text %}
      <div class="heading heading__subheading">
        <h3>{{self.thank_you_text}}</h3>
      </div>
    {% else %}
      <div class="heading heading__subheading">
        <h3>{% trans "Thank you for submitting your enquiry." %}</h3>
      </div>
    {% endif %}

    <div class="call-to-action call-to-action--wide-back">
      <a href="{{request.site.root_page.specific.url}}" class="call-to-action__nav-item-text call-to-action__nav-item-text--left">
        {% trans "Back home" %}</a>
    </div>
  </div>
{% endblock %}
