{% extends "base.html" %}

{% block body_class %}default-container{% endblock %}

{% block content %}
<div class="container">
    <div class="title">
        <h3>{% trans "Unable to Login" %}</h3>
    </div>
    <div class="message-notification">
        <h3>{% trans "Hi" %},</h3>
       <p>{% trans "Sorry we are having trouble accessing this feature! Due to a temporary technical issue, log in and registrations are not available on Free Basics app for now. To login or register for a profile, visit our free mobisite through your mobile browser at:" %} <a href="{{ request.build_absolute_uri }}" target="_blank">zathu.mw</a>. {% trans " We’re working hard to get this problem resolved. Thank you." %}</p>
       <span>{% trans "XO" %},</span>
       <h3>{% trans "Zathu" %}</h3>
    </div>
</div>
{% endblock %}
