{% load wagtailcore_tags wagtailimages_tags i18n gem_tags %}
<div class="social-media-footer-list">
  {% if 'bbm.' not in request.get_host %}
    {% for site in social_media %}
    <div class="social-media-footer-list__item">
      <a href="https://{{ site.value.link }}" class="social-media-footer__anchor">
        {% image site.value.image width-24 %}
        <span class="social-media-footer__label">{{ site.value.title }}</span>
      </a>
    </div>
    {% endfor %}
  {% endif %}
  {% if request|get_bbm_app_id%}
    <div class="social-media-footer-list__item">
      <a href="bbmi:///api/share?message=http{% if request.is_secure %}s{%endif %}://{{ request.get_host }}" class="social-media-footer__anchor call-to-action__nav-item-share--bbm">
        <span class="social-media-footer__label">BBM</span>
      </a>
    </div>
  {% endif %}
</div>
