.articles {margin: 8px;}
.article {
  color: #141414;
  .article-preview {
    .text { margin: 0 8px; }
    img { margin-bottom: 16px; }
    .read-more { display: none !important; }
    p { color: #141414; }
  }

  .article-content {
    img {
      width: 100%;
      height: auto;
    }
    margin: 0 8px;
    a, a:hover {
      color: #7A7A7A;
      text-decoration: underline;
    }
    .report {
      color: #ed008c;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      color: #4F4C54;
    }
  }
  ul, ol {
    padding: 0 0 0 15px;
  }
  ul, ol, li {
    margin: 0;
  }
}

.article-tags {
  margin: 0 0 24px 0;
  padding: 0;
  list-style: none;

  li {
    background: #ED008C;
    display: inline-block;
    padding: 0 16px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    border-radius: 8px;
    margin: 0 4px 8px 4px;
  }
}

.call-to-action__nav-item--back {
  padding: 0 15px;
  font-weight: bold;
  margin: 10px 0 0;
  display: block;
}
