call-to-action {
  text-align: center;
}
button {
  background-image: none;
}
.btn {
  padding: 0.75em 1em;
  border: none;
}

.btn-wide {
  display: block;
  text-align: center;
}

.teal-ribbon {
  background: url('/static/img/gem-lines/pattern_edited.png');
  background-position: center center;
  background-repeat: repeat-x;
  background-size: 100% auto;
  height: 21px;
  margin-top: 16px;
}

.back-to-top, .read-more {
  display: none;
}
.call-to-action__item-text {
  margin: 18px 0;
  display: block;
  &:hover {
    text-decoration: underline;
  }
}
