.surveys__pagination,
.your-words__pagination {
  &-title {
    margin: 0;
    font-size: 16px;
    font-style: italic;
    padding: 5px 0;
    color: #141414;
    font-weight: normal;
  }
}

.your-words__pagination {
    &-title {
      text-align: left;
      color: #fff;
      padding: 5px 10px;
    }
}
