.gem-polls {
  background: #cadb2a;
  margin: 0 0 9px 0;
  overflow: auto;
  .list-header {
    background: #ae016d;
    margin: 0 0 24px 0;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  .list-inline {
    padding: 10px 0;
    h3 {
      font-size: 18px;
      padding: 10px 0;
    }
    p, label {
      text-align: left;
      font-size: 18px;
      color: #141414;
    }
    form {
      padding-bottom: 16px;
      .fieldset {
        padding: 5px 0;
        margin: 10px 0;
      }
      div div {
        padding: 8px;
        border-top: 1px #000 solid;
        margin-bottom: 16px;
        align-items: center;
      }
      div:last-child {
        border-bottom: 1px #000 solid;
      }
      .input-group {
        text-align: left;
      }
    }
  }
  .call-to-action__nav-item--back-home,
  input[type="submit"] {
    background: #ed008c;
    color: #fff;
    display: block;
    margin: 20px auto;
    display: block;
    text-align: center;
    min-width: 50%;
  }
}
