.profiles {
  .heading--large {
    text-align: center;
  }
}

.heading--profiles {
  padding: 20px 15px 15px;
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
}
.call-to-action--profile {
  border-top: 1px solid rgba(153,153,153,.5);
  padding: 10px 0;

  .call-to-action__nav-item--change-password,
  .call-to-action__nav-item--editprofile,
  .call-to-action__nav-item--logout {
    display: block;
    padding: 2px 0;
    @media screen and (min-width: 320px) {
      background: #ed008c;
      border: 0;
      color: #fff;
      text-align: center;
      margin: 1em 0;
      padding: 10px 0;
      text-transform: uppercase;
      width: auto;
      text-decoration: none;
    }

  }
}

.call-to-action__link {
  font-weight: bold;
}

.profile-container,
.default-container {
  .title {
    text-align: center;
    margin: 8px;
  }

  article {
    margin: 8px;
    text-align: center;
  }

  form {
    padding: 16px 8px ;
    background: #ececec;

    input {
      width: 90%;
      margin: 0 0 16px 0;
    }

    input[type="submit"] {
      width: auto;
      text-align: center;
      white-space: normal;
    }

    .inverted {
      width: 100%;
      text-align: left;
      display: block;
      color: #00b8ae;
      font-weight: normal;
      font-size: 11px;
      background: none;
      text-decoration: underline;
    }

  }
}

.signin-form {
  input[type="checkbox"] {
    padding: 5px;
  }
  #id_password {
    margin: 0;
  }

  #id_gender {
    text-transform: capitalize;
    margin: 0;
  }
  .terms-and-conditions__field {
    label, label a {
      color: #ed008c;
      text-decoration: underline;
    }
  }
}

/*.section_page {
    .section-image {
      display: none;
    }
}*/

.message-notification {
  background: #ae016d;
  color: #fff;
  padding: 16px;
  a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
  }
}
