.gem-polls {
  background: #cadb2a;
  margin: 0 0 9px 0;
  .list-header {
    background: #ae016d;
    margin: 0 0 24px 0;
    padding: 0;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  .list-inline {
    padding: 0 8px 8px 8px;
    h3 {
      margin: 0 0 8px 0;
      font-size: 15px;
    }
    p, label {
      text-align: left;
      font-size: 15px;
      line-height: 18px;
      color: #141414;
    }

    form {
      padding-bottom: 16px;
      div div {
        padding: 8px;
        border-top: 1px #000 solid;
        margin-bottom: 16px;
      }
      div:last-child {
        border-bottom: 1px #000 solid;
      }
    }
  }
}
