.sd-banner {
    padding: 0 16px;
    background: #cadb2a;
}

.sd-heading.find-a-service {
    height: 56px;
    line-height: 56px;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}

.sd-container {
    .sd-help-text, .sd-search-form, .sd-categories, .sd-back, .sd-heading.search, h6.sd-heading.choose-location, ul.sd-search-results,
    .sd-current-address, .sd-change-area, h1.sd-heading.svc-org-name, .sd-service-keywords, .sd-service-location, .sd-service-distance,
    h1.sd-heading.org-services, .sd-service-categories, h1.sd-heading.service-keywords, h1.sd-heading.org-contact, .sd-org-contact,
    h1.sd-heading.org-address, .sd-org-address, a.sd-report-link, a.sd-sms-button.primary, a.sd-sms-button.secondary, h1.sd-heading.service-rating,
    .org-rate-container, .sd-msg, h1.sd-heading.report-info, .sd-option, label.other_detail, textarea#other_detail, button.sd-report-btn,
    h1.sd-heading.send-sms, .sd-input, .sd-sms-btn
    {
        margin: 6px 16px;
    }
    hr {
        background: url(/static/img/gem-lines/featured_bar.png);
        background-size: 100% auto;
        background-repeat: repeat-x;
        background-position: -20px 0;
        border: 0;
        height: 17px;
        &last-child{
            display: none;
        }
    }

    h1.sd-heading.svc-org-name {
        font-size: 15px;
        color: #ed008c;
        font-weight: normal;
        text-transform: uppercase;
    }

    h6.sd-heading.choose-location, h1.sd-heading.send-sms  {
        font-size: 14px;
    }

    a.sd-change-area, .sd-org-contact, a.sd-report-link {
        text-decoration: underline;
    }

    h1.sd-heading.org-services, h1.sd-heading.service-keywords, h1.sd-heading.org-contact, h1.sd-heading.org-address, h1.sd-heading.service-rating,
    h1.sd-heading.report-info
    {
        font-size: 15px;
        line-height: 30px;

    }

    p.sd-help-text.search {
        margin-top: 16px;
    }


    .sd-search-form {
        input[type='text']{
            width: 80%;
        }
        input[type='submit']{
            margin: 0;
        }
    }

    .category-grouping {
        font-size: 13px;
        font-weight: normal;
        a {
            color: #ed008c;
            &:first-child{
                font-weight: bold;
            }
        }
    }

    .sd-back {
        color: #5C5C5C;
        font-size: 13px;
        padding: 6px 0;
        text-decoration: underline;
    }

    .sd-search-results {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            margin: 6px 0;
            text-decoration: underline;
        }
    }

    .sd-sms-button {
        background: #ed008c;
        display: inline-block;
        text-align: center;
        height: 48px;
        color: #fff;
        line-height: 48px;
        font-size: 13px;
        width: 90%;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
            color: #fff;
        }
    }

    .sd-sms-button.secondary {
        color: #ed008c;
        background: none;
        border: 1px solid #ed008c;
    }

    .org-rate-container {
        display: inline-block;
        .org-rate-faces {
            padding: 6px;
            span {
                display: block;
            }
        }
    }

    .sd-msg {
        color: #ed008c;
    }

    .sd-option {
        input {
            height: 14px;
        }
        label {
            font-size: 18px;
        }
    }

    button.sd-sms-btn, button.sd-report-btn {
        width: 90%;
    }

    .sd-input {
        input {
            width: 100%;
        }
        label {
            font-size: 13px;
            display: block;
        }
        .sd-input-sub {
            display: block;
            font-size: 12px;
        }
    }

    a.sd-change-area, label.other_detail {
        font-size: 13px;
    }

    textarea#other_detail {
        width: 90%;
    }


    /* ref: https://www.wirehive.net/blog/2014/08/12/pure-css */
    button.smiley {
        position: relative;
        width: 64px;
        height: 64px!important;
        border: 2px solid #000;
        border-radius: 60px;
        background-color: #FFF;
        cursor: pointer;
    }

    button.smiley:before {
        content: '';
        position: absolute;
        top: 20px;
        left: 50%;
        width: 14px;
        height: 4px;
        margin-left: -10px;
        border-left: 3px solid #000;
        border-right: 3px solid #000;
    }

    button.smiley.sad:after {
        content: '';
        position: absolute;
        top: 35px;
        left: 50%;
        width: 30px;
        height: 10px;
        margin-left: -17px;
        border-top: 2px solid #000;
        border-left: 2px solid #000;
        border-right: 2px solid #000;
        border-radius: 15px 15px 0 0;
    }

    button.smiley.sad:hover, button.smiley.sad:hover:before, button.smiley.sad:hover:after {
        border-color: #ff0000;
    }

    button.smiley.neutral:after {
        content: '';
        position: absolute;
        top: 37px;
        left: 50%;
        width: 30px;
        height: 2px;
        margin-left: -15px;
        background-color: #000;
    }

    button.smiley.neutral:hover:after {
        background-color: #ffcc00;
    }

    button.smiley.neutral:hover, button.smiley.neutral:hover:before {
        border-color: #ffcc00;
    }

    button.smiley.happy:after {
        content: '';
        position: absolute;
        top: 35px;
        left: 50%;
        width: 30px;
        height: 10px;
        margin-left: -17px;
        border-bottom: 2px solid #000;
        border-left: 2px solid #000;
        border-right: 2px solid #000;
        border-radius: 0 0 15px 15px;
    }

    button.smiley.happy:hover, button.smiley.happy:hover:before, button.smiley.happy:hover:after {
        border-color: #008000;
    }

}
