{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="profiles">
<form method="post" id="frmProfilePasswordChange" action="" class="profiles__form">
{% csrf_token %}
   {% if form.errors or form.non_field_errors %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errors">{{ error }}</p>
        {% endfor %}
    {% endif %}
  {% endif %}
  {% if messages %}
    <ul class="error-list">
    {% for message in messages %}
      <li class="error-list__item">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <fieldset>
    <label>{% trans "Old Password:" %}</label>
    {{form.old_password}}
    {{form.old_password.errors}}
  </fieldset>
  <fieldset>
    <label>{% trans "New Password:" %}</label>
    {{form.new_password}}
    {{form.new_password.errors}}
  </fieldset>
  <fieldset>
    <label>{% trans "Confirm New Password:" %}</label>
    {{form.confirm_password}}
    {{form.confirm_password.errors}}
  </fieldset>
   <input type="submit" value='{% trans "Change Password" %}'>
</form>
</div>
{% endblock %}
