{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="profiles">
    <form method="post" id="frmProfilePasswordChange" action="" class="profiles__form" novalidate>
    {% csrf_token %}
        {% trans "Change Your Pin" as headingtext %}
        {% include "patterns/basics/headings/sp_variations/heading.html" with type="basic" htmltag="h2" title=headingtext %}
        {% if form.errors or form.non_field_errors %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="errors">{{ error }}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if messages %}
            <ul class="error-list">
                {% for message in messages %}
                    <li class="error-list__item">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <fieldset>
            <div class="input-group{% if form.old_password.errors %} input-error{% endif %}">
                <label>{% trans "Old Pin:" %}</label>
                {{form.old_password}}
                {{form.old_password.errors}}
            </div>
        </fieldset>
        <fieldset>
            <div class="input-group{% if form.new_password.errors %} input-error{% endif %}">
                <label>{% trans "New Pin:" %}</label>
                {{form.new_password}}
                {{form.new_password.errors}}
            </div>
        </fieldset>
        <fieldset>
            <div class="input-group{% if form.confirm_password.errors %} input-error{% endif %}">
                <label>{% trans "Confirm New Pin:" %}</label>
                {{form.confirm_password}}
                {{form.confirm_password.errors}}
            </div>
        </fieldset>
        <input type="submit" value='{% trans "Change Pin" %}' class="call-to-action__button call-to-action__button--primary">
    </form>
    <a href="{% url "molo.profiles:view_my_profile" %}" class="call-to-action__nav-item-text">Back to profile</a>
</div>
{% endblock %}
