{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="profiles">
  <h2 class="heading heading--title">{% trans "Thank you for joining!" %}</h2>
  <h3 class="heading heading--subtitle">
    {% trans "Let us know your birthday to get access to exclusive content." %}</h3>
  <form method="post" action="{% url 'molo.profiles:registration_done' %}">
  {% csrf_token %}
    <fieldset>
      {{ form.date_of_birth }}
    </fieldset>
    <input type="submit" value='{% trans "Update" %}' />
      <a href="/" class="call-to-action__nav-item-text">{% trans "Skip" %}</a>
  </form>
</div>
{% endblock %}
