{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="profiles">
	<h2 class="heading heading--title">{% trans "Edit your Profile" %}</h2>
	<form method="post" id="frmProfileEdit" action="{% url 'edit_my_profile' %}" class="profiles__form">
  {% csrf_token %}
	{{ form.non_field_errors }}
    <fieldset>
			<label>{% trans "Nickname:" %}</label>
      {{ form.alias }}
			{{ form.alias.errors }}
      <p class="helptext">{% trans "Please do not use your real name, phone number or email address as it's unsafe." %}</p>
    </fieldset>
    <fieldset>
      <label>{% trans "Date of birth:" %}</label>
	    {{ form.date_of_birth }}
    </fieldset>
    <fieldset>
      <label>{% trans "Gender:" %}</label>
			{{ form.gender }}
      {{ form.gender.errors }}
    </fieldset>
    <fieldset>
			{% if settings.profiles.UserProfilesSettings.show_mobile_number_field and settings.profiles.UserProfilesSettings.country_code %}
	      <label>{% trans "Mobile number:" %}</label>
	      {{ form.mobile_number.errors }}
	      {{ form.mobile_number }}
			{% endif %}
    </fieldset>
    <fieldset>
			{% if settings.profiles.UserProfilesSettings.show_email_field %}
	     <label>{% trans "Email address:" %}</label>
	      {{ form.email.errors }}
	      {{ form.email }}
			{% endif %}
    </fieldset>
		<input type="submit" value='{% trans "Update profile" %}'>
		</form>
</div>

{% endblock %}
