{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="profiles">
    {% trans "Edit your Profile" as headingtext %}
    {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=headingtext %}
    <form method="post" id="frmProfileEdit" action="{% url 'edit_my_profile' %}" class="profiles__form" novalidate>
    {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
            <div class="input-group{% if form.alias.errors %} input-error{% endif %}">
                <label>{% trans "Display name:" %}</label>
                {{ form.alias }}
                {{ form.alias.errors }}
            </div>
            <p class="helptext">
                {% trans "Please do not use your real name, phone number or email address as it's unsafe." %}
            </p>
        </fieldset>

        <fieldset>
            <div class="input-group">
                <label>{% trans "Date of birth:" %}</label>
                {{ form.date_of_birth }}
            </div>
        </fieldset>

        <fieldset>
            <div class="input-group{% if form.gender.errors %} input-error{% endif %}">
                <label>{% trans "Gender:" %}</label>
                {{ form.gender }}
                {{ form.gender.errors }}
            </div>
        </fieldset>

        {% if settings.profiles.UserProfilesSettings.show_mobile_number_field and settings.profiles.UserProfilesSettings.country_code %}
        <fieldset>
            <div class="input-group{% if form.mobile_number.errors %} input-error{% endif %}">
                <label>{% trans "Mobile number:" %}</label>
                {{ form.mobile_number }}
                {{ form.mobile_number.errors }}
            </div>
        </fieldset>
        {% endif %}

        {% if settings.profiles.UserProfilesSettings.show_email_field %}
        <fieldset>
            <div class="input-group{% if form.email.errors %} input-error{% endif %}">
                <label>{% trans "Email address:" %}</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
        </fieldset>
        {% endif %}

        {% if settings.profiles.UserProfilesSettings.activate_location %}
        <fieldset>
            <div class="input-group{% if form.location.errors %} input-error{% endif %}">
                <label>{% trans "Update where you live:" %}</label>
                {{ form.location }}
                {{ form.location.errors}}
            </div>
            <p class="helptext">{% trans "Only you will see this." %}</p>
        </fieldset>
        {% endif %}

        {% if settings.profiles.UserProfilesSettings.activate_education_level %}
            <fieldset>
            <div class="input-group{% if form.education_level.errors %} input-error{% endif %}">
                <label>{% trans "Update your Education Level:" %}</label>
                {{ form.education_level }}
                {{ form.education_level.errors}}
            </div>
            <p class="helptext">{% trans "Only you will see this." %}</p>
        </fieldset>
        {% endif %}

        {% trans "Update profile" as buttontext %}
        {% include "patterns/basics/buttons/sp_variations/button.html" with type="primary" text=buttontext %}
        <input type="submit" value="{% trans "Update profile" %}" class="call-to-action__button call-to-action__button--primary">
    </form>
</div>
{% endblock %}
