{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="profiles">
  {% trans "Forgot PIN" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=headingtext %}
  <form method="post" action="{% url 'molo.profiles:forgot_password' %}" class="profiles__form">
  {% csrf_token %}
  {% if form.errors %}
    <ul class="errors-list">
    {% for key, errors in form.errors.iteritems %}
      {% for error in errors %}
        <li class="errors-list__item">{% trans error %}</li>
      {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
  <fieldset>
  {% for field in form %}
    <label>{% trans field.label_tag %}</label>
    {{ field }}
    {% if forloop.counter == 1 %}
      <legend>{% trans "Security question" %}</legend>
      <p class="helptext">{% trans "Please answer the above security questions. You'll have to provide these answers if you ever need to reset your pin." %}</legend>
      {% endif %}
  {% endfor %}
  </fieldset>
  <input type="submit" value="{% trans "Forgot PIN" %}" class="call-to-action__button call-to-action__button--primary">
  </form>
</div>
{% endblock %}
