{% extends "base.html" %}
{% block content %}
<div class="profiles">
  {% trans "Forgot PIN" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=headingtext %}
  <form method="post" action="{% url 'molo.profiles:forgot_password' %}" class="profiles__form" novalidate>
  {% csrf_token %}
  {% if form.errors %}
    <ul class="error-list">
    {% for key, errors in form.errors.items %}
      {% for error in errors %}
        <li class="error-list__item error">{% trans error %}</li>
      {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
  {% for field in form %}
  <fieldset>
      {% if forloop.counter == 2 %}
        {% trans "Security questions" as headingtext %}
        {% include "patterns/basics/headings/sp_variations/heading.html" with type="micro" htmltag="h3" title=headingtext %}
        <p class="helptext">{% trans "Please answer the following security question." %}</p>
      {% endif %}
    <div class="input-group">
      {% trans field.label_tag %}
      {{ field }}
    </div>
  </fieldset>
  {% endfor %}
  <input type="submit" value='{% trans "Forgot PIN" %}' class="call-to-action__button call-to-action__button--primary"/>
  </form>
</div>
{% endblock %}
