{% extends "base.html" %}
{% block content %}
<div class="profiles">
  {% trans "PIN Changed" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=headingtext %}
  {% trans "Your PIN was changed successfully." as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=headingtext %}
  {% trans "Continue to Sign In" as buttontext %}
  {% url 'molo.profiles:auth_login' as link %}
  {% include "patterns/basics/buttons/sp_variations/button.html" with type="primary" text=buttontext hyperlink=link %}
</div>
{% endblock %}
