{% extends "base.html" %}
{% block content %}
<div class="profiles">
  {% trans "Reset PIN" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=headingtext %}
  <form method="post" class="profiles__form" novalidate>
  {% csrf_token %}
  {% if form.errors %}
    <ul class="error-list">
    {% for key, errors in form.errors.items %}
      {% for error in errors %}
      <li class="error-list__item">
        {% trans error %}
      </li>
      {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
  <fieldset>
    <div class="input-group">
      <label>{{ form.username|capfirst }}</label>
        {{ form.token }}
    </div>
  <fieldset>
    <div class="input-group">
      <label>{% trans "PIN" %}</label>
        {{ form.password }}
    </div>
  <fieldset>
    <div class="input-group">
      <label>{% trans "Confirm PIN" %}</label>
        {{ form.confirm_password }}
    </div>
  <fieldset>
  <input type="submit" value='{% trans "Reset PIN" %}' class="call-to-action__button call-to-action__button--primary" />
  </form>
</div>
{% endblock %}
