{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="profiles">
  {% trans "PIN Changed" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=headingtext %}
  {% trans "Your PIN has been changed sucessfully." as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=headingtext %}

  {% trans "Continue to sign in" as buttontext %}
  {% url "molo.profiles:auth_login" as link %}
  {% include "patterns/basics/buttons/sp_variations/button.html" with type="primary" hyperlink=link text=buttontext %}
</div>
{% endblock %}
