{% extends "base.html" %}
{% block content %}
<div class="profiles">

  {# include template "patterns/basics/headings/sp_variations/heading.html" #}
    {% trans "PIN Changed" as headingtext %}
    {% with type="component" htmltag="h1" title=headingtext %}
      <div class="heading heading__{{type}} {{extraclass}}">
        <{{htmltag}}>{{title}}</{{htmltag}}>
      </div>
    {% endwith %}
  {# end include template #}

  {# include template "patterns/basics/headings/sp_variations/heading.html" #}
    {% trans "Your PIN was changed successfully." as headingtext %}
    {% with type="subheading" htmltag="h3" title=headingtext %}
      <div class="heading heading__{{type}} {{extraclass}}">
        <{{htmltag}}>{{title}}</{{htmltag}}>
      </div>
    {% endwith %}
  {# end include template #}

  {# include template "patterns/basics/buttons/sp_variations/button.html" #}
    {% trans "Continue to Sign In" as buttontext %}
    {% url LOGIN_URL as link %}
    {% with type="primary" text=buttontext hyperlink=link %}
      <a href="{{hyperlink}}" class="call-to-action__button call-to-action__button--{{type}}">
        <span class="call-to-action__button-text call-to-action__button-text--{{type}}">{{text}}</span>
      </a>
    {% endwith %}
  {# end include template #}

</div>
{% endblock %}
