$color_group: (
    greyscale: (
        white: #ffffff,
        black: #000000,
        gray: #666666,
        gray-light: #ECEDEF,
        gray-chateau: #a3a7ae
    ),
    brand: (
        green-java: #03B8AD,
        blue-spindle: #c0d6dd,
        blue-pelorous: #2d9ec5,
    ),
    secondary: (
        error: #ff2929
    )
);

$color-green: color(brand, green-java);
$color-gray: color(greyscale, gray-chateau);
