$color_group: (
    greyscale: (
        gray-chateau    :     #9b9fa2,
        gray-light      :     #ecedef,
    ),
    brand: (
        cyan-green      :     #03b8ad,
        cyan-fountain   :     #5bc5bb
    ),
    secondary: (
        yellow-golden   :     #f9e435,
        yellow-gorse    :     #ffe82c,
        pink-cerise     :     #ed018c,
        pink-hollywood  :     #eb018c

    )
);

$color-cyan             :     color(brand, cyan-green);
$color-cyan-fountain    :     color(brand, cyan-fountain);
$color-gray             :     color(greyscale, gray-chateau);
$color-gray-light       :     color(greyscale, gray-chateau);
$color-yellow           :     color(greyscale, yellow-golden);
$color-yellow-gorse     :     color(greyscale, yellow-gorse);
$color-pink             :     color(greyscale, pink-cerise);
$color-pink-hollywood   :     color(greyscale, pink-hollywood);
