//COLORS
$color_group: (
    greyscale: (
        gray-chateau    :     #9b9fa2,
        gray-light      :     #ecedef,
        gray-dark       :     #333,
        gray-superLight :     #f5f5f5

    ),
    brand: (
        cyan-green      :     #03b8ad,
        cyan-gossamer   :     #02938A,
        cyan-fountain   :     #5bc5bb
    ),
    secondary: (
        yellow-golden   :     #f9e435,
        orange-pure     :     #f59c00,
        yellow-gorse    :     #ffe82c,
        pink-cerise     :     #ed018c,
        pink-hollywood  :     #eb018c

    )
);

$color-gray             :     color(greyscale, gray-chateau);
$color-gray-light       :     color(greyscale, gray-light);
$color-gray-dark        :     color(greyscale, gray-dark);
$color-gray-superLight  :     color(greyscale, gray-superLight);
$color-cyan             :     color(brand, cyan-green);
$color-cyan-dark        :     color(brand, cyan-gossamer);
$color-cyan-fountain    :     color(brand, cyan-fountain);
$color-orange           :     color(secondary, orange-pure);
$color-yellow           :     color(secondary, yellow-golden);
$color-yellow-gorse     :     color(secondary, yellow-gorse);
$color-pink             :     color(secondary, pink-cerise);
$color-pink-hollywood   :     color(secondary, pink-hollywood);
