@mixin fly-by {
  box-shadow: 1px 10px 15px -10px #000;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2em; //Test unit on all pages
  width: 100%;
  z-index: 999999999;
  @include for-size(tablet-landscape-up) {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    height: auto;
    padding: 3em 10%; //Test unit on all pages
    width: 100%;
  }
}
