$sectionThemes: (
  section1: (
    bgPattern: '/static/img/patterns/rwanda/section-theme/pattern-cyan.png',
    bgColor: $color-cyan,
    textColor: #fff
  ),
  section2: (
    bgPattern: '/static/img/patterns/rwanda/section-theme/pattern-orange_secondary.png',
    bgColor: $color-orange,
    textColor: #fff
  ),
  section3: (
    bgPattern: '/static/img/patterns/rwanda/section-theme/pattern-orange.png',
    bgColor: $color-orange,
    textColor: #fff
  ),
  section4: (
    bgPattern: '/static/img/patterns/rwanda/section-theme/pattern-red_secondary.png',
    bgColor: $color-red,
    textColor: #fff
  ),
  section5:  (
    bgPattern: '/static/img/patterns/rwanda/section-theme/pattern-red.png',
    bgColor: $color-red,
    textColor: #fff
  ),
  section6: (
    bgPattern: '/static/img/patterns/rwanda/section-theme/pattern-red_third.png',
    bgColor: $color-red,
    textColor: #fff
  ),
  section7: (
    bgPattern: '/static/img/patterns/rwanda/section-theme/pattern-red.png',
    bgColor: $color-red,
    textColor: #fff

  ),
  section8: (
    bgPattern: '/static/img/patterns/rwanda/section-theme/pattern-yellow.png',
    bgColor: $color-yellow,
    textColor: #000
  )
);
