$sectionThemes: (
  section-aqua-fields: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-FIELDS-AQUA-001.svg',
    bgPosition: center center,
    bgColor: $color-cyan,
    textColor: #fff
  ),
  section-aqua-grass: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-GRASS-AQUA-001.svg',
    bgPosition: center center,
    bgColor: $color-cyan,
    textColor: #fff
  ),
  section-aqua-hills: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-HILLS-AQUA-001.svg',
    bgPosition: center center,
    bgColor: $color-cyan,
    textColor: #fff
  ),
  section-aqua-lake: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-LAKE-AQUA-001.svg',
    bgPosition: center center,
    bgColor: $color-cyan,
    textColor: #fff
  ),
  section-aqua-mountains: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-MOUNTAINS-AQUA-001.svg',
    bgPosition: center center,
    bgColor: $color-cyan,
    textColor: #fff
  ),
  section-aqua-plant: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-PLANT-AQUA-001.svg',
    bgPosition: center center,
    bgColor: $color-cyan,
    textColor: #fff
  ),
  section-aqua-trees: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-TREES-AQUA-001.svg',
    bgPosition: center center,
    bgColor: $color-cyan,
    textColor: #fff
  ),

  section-black-fields: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-FIELDS-BLACK-001.svg',
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff
  ),
  section-black-grass: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-GRASS-BLACK-001.svg',
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff
  ),
  section-black-hills: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-HILLS-BLACK-001.svg',
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff
  ),
  section-black-lake: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-LAKE-BLACK-001.svg',
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff
  ),
  section-black-mountains: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-MOUNTAINS-BLACK-001.svg',
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff
  ),
  section-black-plant: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-PLANT-BLACK-001.svg',
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff
  ),
  section-black-trees: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-TREES-BLACK-001.svg',
    bgPosition: center center,
    bgColor: #000,
    textColor: #fff
  ),

  section-pink-fields: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-FIELDS-MAGENTA-001.svg',
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff
  ),
  section-pink-grass: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-GRASS-MAGENTA-001.svg',
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff
  ),
  section-pink-hills: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-HILLS-MAGENTA-001.svg',
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff
  ),
  section-pink-lake: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-LAKE-MAGENTA-001.svg',
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff
  ),
  section-pink-mountains: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-MOUNTAINS-MAGENTA-001.svg',
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff
  ),
  section-pink-plant: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-PLANT-MAGENTA-001.svg',
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff
  ),
  section-pink-trees: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-TREES-MAGENTA-001.svg',
    bgPosition: center center,
    bgColor: $color-pink,
    textColor: #fff
  ),

  section-orange-fields: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-FIELDS-ORANGE-001.svg',
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff
  ),
  section-orange-grass: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-GRASS-ORANGE-001.svg',
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff
  ),
  section-orange-hills: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-HILLS-ORANGE-001.svg',
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff
  ),
  section-orange-lake: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-LAKE-ORANGE-001.svg',
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff
  ),
  section-orange-mountains: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-MOUNTAINS-ORANGE-001.svg',
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff
  ),
  section-orange-plant: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-PLANT-ORANGE-001.svg',
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff
  ),
  section-orange-trees: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-TREES-ORANGE-001.svg',
    bgPosition: center center,
    bgColor: $color-orange,
    textColor: #fff
  ),


  section-red-fields: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-FIELDS-RED-001.svg',
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff
  ),
  section-red-grass: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-GRASS-RED-001.svg',
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff
  ),
  section-red-hills: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-HILLS-RED-001.svg',
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff
  ),
  section-red-lake: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-LAKE-RED-001.svg',
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff
  ),
  section-red-mountains: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-MOUNTAINS-RED-001.svg',
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff
  ),
  section-red-plant: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-PLANT-RED-001.svg',
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff
  ),
  section-red-trees: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-TREES-RED-001.svg',
    bgPosition: center center,
    bgColor: $color-red,
    textColor: #fff
  ),


  section-yellow-fields: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-FIELDS-YELLOW-001.svg',
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff
  ),
  section-yellow-grass: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-GRASS-YELLOW-001.svg',
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff
  ),
  section-yellow-hills: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-HILLS-YELLOW-001.svg',
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff
  ),
  section-yellow-lake: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-LAKE-YELLOW-001.svg',
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff
  ),
  section-yellow-mountains: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-MOUNTAINS-YELLOW-001.svg',
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff
  ),
  section-yellow-plant: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-PLANT-YELLOW-001.svg',
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff
  ),
  section-yellow-trees: (
    bgPatterns: '/static/img/patterns/rwanda/NN_PATTERN-TREES-YELLOW-001.svg',
    bgPosition: center center,
    bgColor: $color-yellow,
    textColor: #fff
  ),
);
