$sectionThemes: (
  section1: (
    bgPattern: '/static/img/patterns/rwanda/NN_PATTERN-HILLS-AQUA-001.jpg',
    bgColor: $color-cyan,
    textColor: #fff
  ),
  section9: (
    bgPattern: '/static/img/patterns/rwanda/NN_PATTERN-FIELDS-AQUA-001.jpg',
    bgColor: $color-cyan,
    textColor: #fff
  ),
  section10: (
    bgPattern: '/static/img/patterns/rwanda/NN_PATTERN-GRASS-AQUA-001.jpg',
    bgColor: $color-cyan,
    textColor: #fff
  ),
  section2: (
    bgPattern: '/static/img/patterns/rwanda/NN_PATTERN-MOUNTAINS-ORANGE-001.jpg',
    bgColor: $color-orange,
    textColor: #fff
  ),
  section3: (
    bgPattern: '/static/img/patterns/rwanda/NN_PATTERN-FIELDS-YELLOW-001.jpg',
    bgColor: $color-orange,
    textColor: #fff
  ),
  section4: (
    bgPattern: '/static/img/patterns/rwanda/NN_PATTERN-MOUNTAINS-RED-001.jpg',
    bgColor: $color-red,
    textColor: #fff
  ),
  section5:  (
    bgPattern: '/static/img/patterns/rwanda/NN_PATTERN-FIELDS-RED-001.jpg',
    bgColor: $color-red,
    textColor: #fff
  ),
  section6: (
    bgPattern: '/static/img/patterns/rwanda/NN_PATTERN-TREES-RED-001.jpg',
    bgColor: $color-red,
    textColor: #fff
  ),
  section7: (
    bgPattern: '/static/img/patterns/rwanda/NN_PATTERN-GRASS-RED-001.jpg',
    bgColor: $color-red,
    textColor: #fff

  ),
  section8: (
    bgPattern: '/static/img/patterns/rwanda/NN_PATTERN-MOUNTAINS-YELLOW-001.jpg',
    bgColor: $color-yellow,
    textColor: #000
  )
);
