html, body {
  background: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  overflow: auto;
  word-wrap: break-word;
}

a {
  word-wrap: break-word;
}

h1, h2, h3, h4 {
  margin: 0;
}


input[type=text],
input[type=password] {
  width: 90%;
}
