html, body {
  background: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: $font-medium;
  line-height: 1.5;
  margin: 0 auto;
}

a {
  word-wrap: break-word;
}

h1, h2, h3, h4, p {
  margin: 0;
}


label {
  font-size: 13px;
  color: #141414;
}
.label-wide, .input-wide {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea, select {
  margin: 8px 0;
  border: 1px #D6D6D6 solid;
  padding: 0 8px;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"] {
  padding: 0.5em;
  font-size: 0.9em;
}

textarea {
  display: block;
  padding: 0;
  font-size: 0.9em;
  width: 100%;
}

input[type="search"] {
  -webkit-appearance: textfield;
}
