
@font-face {
  font-family: 'AvenirNextCondensed';
  src: url('fonts/AvenirNextCondensed-Regular.woff2') format('woff2'),
       url('fonts/AvenirNextCondensed-Regular.woff') format('woff'),
       url('fonts/AvenirNextCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'AvenirNextCondensed-Medium';
  src: url('fonts/AvenirNextCondensed-Medium.woff2') format('woff2'),
       url('fonts/AvenirNextCondensed-Medium.woff') format('woff'),
       url('fonts/AvenirNextCondensed-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCondensed-DemiBold';
  src: url('fonts/AvenirNextCondensed-DemiBold.woff2') format('woff2'),
       url('fonts/AvenirNextCondensed-DemiBold.woff') format('woff'),
       url('fonts/AvenirNextCondensed-DemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'AvenirNextCondensed';
  src: url('fonts/AvenirNextCondensed-Bold.woff2') format('woff2'),
       url('fonts/AvenirNextCondensed-Bold.woff') format('woff'),
       url('fonts/AvenirNextCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'TwCenMT';
  src: url('fonts/TwCenMT-Regular.woff2') format('woff2'),
       url('fonts/TwCenMT-Regular.woff') format('woff'),
       url('fonts/TwCenMT-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'TwCenMT';
  src: url('fonts/TwCenMT-Bold.woff2') format('woff2'),
       url('fonts/TwCenMT-Bold.woff') format('woff'),
       url('fonts/TwCenMT-Bold.ttf') format('truetype');
  font-weight: bold;
}
