#gem-header #logo {
  float: none;
  padding: 0 0 0 20px;
}

ul#id_report_reason li label {
  float: right;
  clear: both;
}

.button,
.gem-polls a,
.search__submit,
button,
input[type=submit] {
  text-align: right;
}
