@import '../variables/*';
@font-face {
  font-family: 'AvenirNextCondensed';
  src: url('/static/fonts/AvenirNextCondensed-Bold.woff2') format('woff2'),
       url('/static/fonts/AvenirNextCondensed-Bold.woff') format('woff'),
       url('/static/fonts/AvenirNextCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
}

body,
html {
  background: $colorFourth;

  margin: 0;
}

body,
select,
textarea {
  color: #000;
  font-family: "AvenirNextCondensed", Helvetica, Arial, sans-serif;
  font-size: $font-small;
}

a {
  border: 0;
  color: $colorFirst;
  text-decoration: none;

  &:hover {
    border: 0;
    color: $colorFirst;
  }
}

h1 {
  font-family: $font-family-default;
  font-size: $font-large;
  text-align: center;
}

h2 {
  font-family: $font-family-default;
  font-size: $font-medium;
  text-align: center;
}

p,
ul {
  margin: $spacer 0;
  text-align: center;
}

hr {
  margin: $spacer-multiple 0;
}


@media (min-width: 40em) {
  body {
    margin-top: 0;
  }

  .Container {
    margin: 0 auto;
    max-width: 360px;
    padding: 0;
  }
}


.Header {
  margin-bottom: 0;
  text-align: center;
  &-branding {
    margin-bottom: 0;
    &-image {
      width: 100%;
    }
  }
  &-title {
    background: #fff;
    margin: 0;
    text-align: center;

    h1 {
      color: #000;
      font-size: $font-m-large;
      margin: 0;
      padding: $spacer-mid;
    }
  }
}

.List {
  list-style: none;
  padding: 0;

  li {
    margin: $spacer-mid 0 0;
  }
}

.QR {
  text-align: center;

  &-image {
    border: 3px solid $colorFirst;
  }
}

.Tokens {
  border: 1px solid #000;
  margin: $spacer $spacer-mid;
  padding: 0 $spacer-mid $spacer-mid;

  li {
    float: left;
    width: 50%;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}


.Form {
  .Field {
    margin-top: $spacer-multiple;
    &-message {
      margin-top: $spacer;
    }

    &-label {
      font-size: $font-medium;
      font-weight: normal;
    }

    .DateInput,
    .EmailInput,
    .NumberInput,
    .PasswordInput,
    .TextInput,
    .Textarea,
    .vDateField {
      border: 2px solid $colorPink;
      color: #000;
      font-weight: normal;
      padding: $spacer;

      &:focus {
        border-color: $colorPink;
      }
    }

    .Textarea {
      height: 100px;
    }
  }

  .ModelChoiceField,
  .TypedChoiceField {
    display: block;
    position: relative;
    width: 100%;

    &::after {
      border-style: solid;
      border-width: .15em .15em 0 0;
      color: $colorPink;
      content: '';
      display: inline-block;
      height: .65em;
      pointer-events: none;
      position: absolute;
      right: $spacer-mid;
      top: 44px;
      transform: rotate(135deg);
      width: .65em;
    }

    .Select {
      appearance: none;
      background-color: #fff;
      border: 2px solid $colorPink;
      border-radius: 0;
      color: #000;
      min-height: 41px;
      outline: none;
      padding: $spacer;
      width: 100%;

      &:focus {
        border-color: $colorPink;
      }
    }
  }

  .BooleanField {
    display: table;
    margin: 0;
    position: relative;
    width: 100%;

    .Field-label {
      display: table-cell;
      padding-right: $spacer;
      text-align: right;
      vertical-align: middle;
      width: 60%;
    }

    .Field-item {
      text-align: left;
      vertical-align: middle;

      .CheckboxInput {
        appearance: none;
        border: 2px solid $colorPink;
        display: block;
        height: $spacer-multiple;
        outline: none;
        padding: $spacer-mid;
        width: $spacer-multiple;

        &:checked {
          background-color: $colorPink;
          border-color: $colorPink;

          &::after {
            color: #fff;
            content: '\2714';
            font-size: $spacer-multiple;
            left: -$spacer;
            line-height: $spacer-multiple;
            position: relative;
            top: -$spacer;
          }
        }
      }
    }
  }

  .Field-message--error {
    &.Field--required {
      .Field-item {
        input {
          border-color: $colorRed;
        }
      }
    }
  }

  &-buttons {
    margin-bottom: $spacer-multiple;
  }
}

.Button {
  &--warning {
    background: $colorOrange;
  }
}

.Messages {
  .Message {
    font-family: $font-family-default;
  }
}

.errorlist {
  margin-top: $spacer-multiple;
}

.Menu {
  margin: 0;

  &-title {
    background: $colorPurple;
    margin-left: 0;
    margin-right: 0;
    text-align: center;

    h1 {
      color: #fff;
      font-size: 1.2em;
    }
  }

  &-list {
    padding-top: $spacer-half;
  }

  &-item {
    margin: $spacer-mid 0;

    a {
      display: inline-block;

      &:hover {
        border: 0;
      }
    }
  }
}
@media (min-width: 40em) {
  .Menu {
    margin-top: $spacer-mid;
    padding-bottom: $spacer;
  }
}


.Footer {
  margin: $spacer-multiple 0;
  padding: $spacer-multiple;
  text-align: center;

  p {
    margin: 0;
  }
}
