img {
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}

canvas, iframe, video, svg {
  max-width: 100%;
  height: auto;
}
