.softkey {
  background: #000;
  color: #fff;
  text-align: center;
  padding: $spacer-half 0;
  div {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: $font-x-small;
    font-weight: bold;
    padding: 0 $spacer-half;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: below;
    &:hover {
      color: #000;
    }
  }
}
