.language-container {
  padding: 0 8px;
  line-height: 20px;
  background: #F3F4F1;

  a, a:visited {
    font-size: 11px;
    color: #7A7A7A;
  }
  a.active {
    color: #00b8ae;
  }
}

.back-to-top {
  margin: 16px 8px;
  font-size: 11px;

  a {
    color: #141414;
    text-decoration: underline;
  }
}
