.call-to-action__item-share {
  display: block;
  margin: 5px 0;
  padding: 0 10px 0 0;
  text-align: center;
  &-img {
    width: auto !important;
    padding: 0 5px 0 0;
  }
  &-title {
    font-size: 13px;
    display: inline-block;
    color: #000;
    padding: 6px 5px;
    text-decoration: underline;
  }
  &-with-image {
    text-align: left;
    text-decoration: underline;
  }
}

.call-to-action__item-share--footer {
  margin: 10px 0;
  padding: 0;
  .call-to-action__item-share-title {
    color: #a3a3a3;
  }
}
