.standalone-page {
  .your-words  {
    .section-title h2 {
      background: #B2C121;
    }
  }
}
.your-words {
  margin: 0 0 24px 0;
  background: #ae016d;
  color: #fff;
  text-align: center;
  .section-title {
    text-transform: uppercase;
    h2 {
      height: 30px;
      line-height: 30px;
      margin: 0 0 24px 0;
      text-align: center;
      background: #00b8ae;
      font-size: 12px;
      font-weight: normal;
    }
  }
  h3, p {
    padding: 0 8px;
    font-size: 14px;
    line-height: 1;
    margin: 0 0 24px 0;
  }
  img {
    width: 116px;
    margin: 0 auto 24px auto;
    display: block;
  }
  &__helptext {
    display: block;
  }
  form {
    margin: 0 8px;
    text-align: left;
    .alert-error {
      text-align: center;
    }
    label {
      text-align: left;
      color: #fff;
    }
    .options {
      text-align: left;
      margin: 0 0 24px 0;
      .yourwords-group {
        margin: 5px 0;
      }
    }
    fieldset {
      .error--your-words li {
        color: #fff;
        font-weight: bold;
      }
    }
  }
  input[type=submit], .button {
    background: #fff;
    color: #ed008c;
    margin: 0 0 32px 0;
  }

}
