.container.fullwidth {
  margin-top: 100px;
  @media screen and (min-width: 80.000em) {
    display: flex;
    justify-content: space-evenly;
  }

  .content--left {
    @media screen and (min-width: 80.000em) {
      width: 70%;
    }
  }

  .content--right {
    @media screen and (min-width: 80.000em) {
      width: 30%;
    }
  }
}
