.wrapper {
  font-size: 18px;
}

//REVIEW FOR ALL PAGES
.container {
  position: relative;
  padding: 1.5em 2em;
  @media (min-width: 768px) {
    padding: 2.5em 3em;
  }
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
  .content--left {
    @media screen and (min-width: 992px) {
      width: 65%;
      min-height: 955px;
    }
  }
  .content--right {
    @media screen and (min-width: 992px) {
      width: 33%;
    }
  }
}
