.wrapper {
  padding: 1.5em 2em;
  @media (min-width: 768px) {
    padding: 2.5em 5%;
  }
}
.container {
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
  .content--left {
    @media screen and (min-width: 80.000em) {
      width: 70%;
    }
  }
  .content--right {
    @media screen and (min-width: 80.000em) {
      width: 30%;
    }
  }
}
