@import '../../gem/variables/*';

body {
  background: $colorFourth;
  color: $colorPurple;
  font-family: $font-family-default;
  font-size: $font-small;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 40em) {
    margin-top: 0;
  }
}

textarea,
select,
strong,
input {}


//HEADER
.Header {
  margin-bottom: 0;
  text-align: center;
  &-branding {
    background-color: $colorYellow;
    margin: 0;
    padding: 0 $spacer-mid;
    text-align: left;
    overflow: auto;
    min-height: 60px;
    &-image {
      content: url("/static/authentication_service/themes/zathu/images/zathu.png");
      display: inline-block;
      width: 130px;
      height: 40px;
      padding: 10px 0 0;
      margin: 5px 0;
    }
  }
  &-title {
    background: #fff;
    margin: 0;
    text-align: center;
    h1 {
      color: $colorPurple;
      font-size: $font-x-large;
      margin: 0;
      padding: $spacer-mid;
    }
  }
  &-links {
    color: $colorPurple;
    margin: $spacer-half 0;
    text-align: center;
    a {
      color: $colorPurple;
      padding: $spacer-half 0;
    }
  }
}

.Button {
  background: $colorPurple;
  color: #fff;
  display: block;
  font-size: 1em;
  margin-bottom: $spacer;
  max-width: 100%;
  padding: $spacer $spacer-half;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    background: $colorPurple;
    color: #fff;
    cursor: pointer;
    opacity: .8;
  }

  &--warning {
    background: $colorOrange;

    &:hover {
      background: $colorOrange;
    }
  }
}
