html, body {
  background: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin: 0 auto;
  overflow: auto;
  word-wrap: break-word;
}

a {
  word-wrap: break-word;
}

h1, h2, h3, h4 {
  margin: 0;
}

.feedback__heading--title,
.feedback__heading--subtitle {
  padding: 0 10px;
}

input[type="submit"] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}
