.gem-polls {
  .list-inline {
    form {
      [type="checkbox"],[type="radio"]   {
        & + label {
          &:before {
            background-color: #412a83;
            border: 1px solid #ffed00;
          }
        }
        &:checked + label {
            &:before {
              border: 1px solid #ffed00;
              background: #ffed00;
            }
        }
      }
    }
  }
}
