.gem-polls {
    background-color: $colorPurple;
    .list-header {
      background-color: $colorYellow;
      font-size: 16px;
      font-family: $font-family-default;
      color: $colorPurple;
      text-transform: capitalize;
      font-weight: bold;
      display: inline-block;
    }
  .list-inline {
    h3 {
      font-family: $font-family-zathu;
      color: $colorYellow;
      font-size: $font-x-large;
      text-transform: uppercase;
      text-align: center;
      font-weight: normal;
    }
    p, label {
      font-family: $font-family-default;
      color: $colorYellow;
      font-size: 18px;
    }
    .choices p {
      border-top: 1px $colorYellow dashed;;
    }
    .choices {
      border-bottom: 1px $colorYellow dashed;;
    }
    form {
      div div {
        border-top: 1px $colorYellow dashed;
      }
      div:last-child {
        border: none;
        margin: 0;
      }
    }
    form {
      [type="checkbox"],[type="radio"]   {
        & + label {
          &:before {
            background: $colorYellow;
            border: 1px solid $colorYellow;
          }
        }
        &:checked + label {
            &:before {
              background: $colorYellow url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAABCFBMVEUAAAD///+AgP9VVaqAQL9mM5lVK6pJSZJgQJ9VOY5GLotVK5VLLYdKK4pEK4hGLoNELYdCLINFMIpGLYZBL4hBK4hCLoVBLYdDK4dCK4RGLoZELoRFK4ZFLYZCLYVDK4VDKoNCKoNDKoVBLIVCK4RCLIVBK4VCLINCK4RDLINCK4RCK4NCKoRBK4RCK4NCK4NCLIVBK4RBLIVCK4RDKoRCK4RDK4NBLIRCK4RBK4RCK4NCK4NCKoNBKoRCK4NCK4NCKoRCK4RCK4RCK4RCKoNCK4RCK4RCK4RBK4RCKoRBK4NBKoRCK4RBK4RBKoNCKoRCK4NBK4RBK4NCKoNBK4NCK4NCK4RBKoNsNtJmAAAAV3RSTlMAAQIDBAUGBwgJCwwRGB4hIiMlKCsvMjM1Njc4Oz9JWGdtc3V4e32Ag4aHiIuNjpCSlZianZ+hpKaoq62vsLGztrq9vsLF1d3e4OPm6Orr7O3u7/Hz9fx25g1EAAAA+klEQVR42u3Tx1ICURSE4WbAAQMGBHPOOWMkmFBMiKD2+7+JOlxPUWzmznFl1f32/64bjuM4/9JY/nonDb35T5KvQ9BaYKAIpSW21KGzQqMKlTX+WofGpvSVJBS2pb/thcKe9Dc9CDc5N+OjTexA+qtuhEoVSN5lIbwj6S9TCLfBH7Wc9MfSl3xYqJq5jCIQP5X+ogs23tjSmMC3xLn0ZwlYKdJoTgF+QfqTOOwMNmm8TyfL0uc92Bpv0PioSH8Yg72ROjvtS28lV+vodxFR9pntthDZ8BOF7r+ZR+lXoTLwYPplKPXfB/0i1NIl8mUWf9GX8eA4juNE8QWsw2lFWfvXxQAAAABJRU5ErkJggg==) no-repeat 50%/90%;
              border: 1px solid $colorYellow;
            }
        }
      }
    }
  }
  input[type=submit],
  .call-to-action__button--primary,
  .call-to-action__nav-item--back-home,
  .button  {
    background: $colorYellow;
    color: $colorPurple;
  }
}
