.call-to-action__item-share-with-image {
  text-decoration: none !important; //Incorrect use of styling tags requires Reactive force
}
.call-to-action__item-share {
  width: 65%;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  .call-to-action__item-share-img {
    border-right-width: 1px;
    border-right-style: solid;
  }
}
.call-to-action__item-share-title {
  color: #fff;
  padding: 6px 15px;
  text-decoration: none;
}
.call-to-action__item-share--facebook {
  background: #3B5998;
  border-color: #2C4376;
  .call-to-action__item-share-img {
    border-right-color: #2C4376;
  }
}
.call-to-action__item-share--twitter {
  background: #55ACEE;
  border-color: #4086BB;
  .call-to-action__item-share-img {
    border-right-color: #4086BB;
  }
}

.call-to-action__item-share--footer {
    border:none;
    border-radius: 0;
    .call-to-action__item-share-img {
        border: none;
    }
}
