.call-to-action__item-share {
  width: 65%;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  &-img {
    border-right-width: 1px;
    border-right-style: solid;
  }
  &-title {
    color: #fff;
    padding: 6px 15px;
    text-decoration: none;
  }

  &--facebook {
    background: #3B5998;
    border-color: #2C4376;
    .call-to-action__item-share-img {
      border-right-color: #2C4376;
    }
  }
  &--twitter {
    background: #55ACEE;
    border-color: #4086BB;
    .call-to-action__item-share-img {
      border-right-color: #4086BB;
    }
  }
}


.call-to-action__item-share--footer {
    border:none;
    border-radius: 0;
    .call-to-action__item-share-img {
        border: none;
    }
}
