.surveys {
  &__title {
      font-family: $font-family-zathu;
      font-weight: normal;
  }
  &__intro {
      font-family: $font-family-default;
  }
  &__form {
      padding: 24px 16px;
      background-color: $colorWhiteSmoke;
      label {
        color: $colorPurple;
      }
  }

  &__tout {
    background-color: $colorYellow;
    color: $colorPurple;
    margin: 0 0 24px 0;
    padding: 0 16px;
    .section-title {
      h2 {
        font-family: $font-family-default;
        background-color: $colorPurple;
        color: $colorYellow;
        font-size: $font-small;
        font-weight: bold;
      }
    }
    h3 {
      font-family: $font-family-zathu;
      text-transform: uppercase;
      font-size: $font-x-large;
      font-weight: normal;
    }
  }
  &__thank-you {
      font-family: $font-family-zathu;
  }

  &__form {
    [type="checkbox"],[type="radio"]   {
      & + label {
        &:before {
          background-color: $colorWhite;
          border: 1px solid $colorGrey;
        }
      }
      &:checked + label {
          &:before {
            background-color: #412a83;
          }
      }
    }
  }
  input[type=submit],
  .call-to-action__button--primary,
  .call-to-action__nav-item--back-home,
  .button  {
    background: $colorPurple;
    color: $colorYellow;
    font-size: $font-large;
    font-family: $font-family-zathu;
  }
  .search__submit {
    font-size: $font-x-medium;
    font-weight: normal;
  }
}
