#gem-footer #search-form {
  margin: 0 8px 24px 8px;
  label, div {
    display: none;
  }
  input[type="text"],
  .search__submit {
    margin: 0;
    border: 0;
    word-wrap: normal;
  }
  input[type="text"] {
    width: 75%;
    padding: 10px;
  }
  .search__submit {
    color: transparent;
    cursor: pointer;
    background-image: url('/static/img/search_white.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 17px;
    padding: 8px 0;
    position: absolute;
    width: 48px;
  }
}

.search-results {
    background-color: #FFF;
    position: relative;
    &.article-list {
        .search-image {
          position: relative;
          padding: 0;
        }
        .section-image {
          display: block;
          width: 50px;
          right: 0;
          bottom: 0;
          position: absolute;
        }
    }
}
