
@media only screen and (min-width: 600px) {
  html {
    background:#333;
    -webkit-overflow-scrolling : touch;
    -webkit-tap-highlight-color : lighten(#333, 75%);
  }
  html,body {
    max-width: 320px;
    font-family: 'AvenirNextCondensed', Arial, sans-serif;
  }

  body,
  input,
  textarea,
  select {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    color: #141414;
  }


  a, a:hover {
    color: #00b8ae;
    text-decoration: none;
  }


  @-webkit-viewport {
    width : device-width;
  }

  @-moz-viewport {
    width : device-width;
  }

  @-ms-viewport {
    width : device-width;
  }

  @-o-viewport {
    width : device-width;
  }

  @viewport {
    width : device-width;
  }

  ::-moz-selection {
    background-color: lighten($colorFirst, 65%);
    color: $colorFirst;
    text-shadow: none;
  }

  ::selection {
    background-color: lighten($colorFirst, 65%);
    color: $colorFirst;
    text-shadow: none;
  }

  .overflow-container { overflow-y: scroll; }

  :not(a):focus {
    outline: none;
  }
}

@import "_s-article-preview";
@import "_s-article";
@import "_s-article-tags";
@import "_s-button";
@import "_s-comments";
@import "_s-comment-replies";
@import "_s-language";
@import "_s-polls";
@import "_s-profiles";
@import "_s-search";
@import "_s-section";
@import "_s-service-directory";
@import "_s-footer";
@import "_s-social-media-buttons";
