.base-teaser {
  &__item {
    display: flex;
  }
  &__thumbnail {
    display: block;
    &-link {
      display: inline-block;
      cursor: pointer;
      outline: none;
      vertical-align: top;
      opacity: 1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &:hover, &:active, &:focus {
        opacity: 0.5;
      }
    }
  }
  &__title {
    color: $color-dark-gray;
    padding: 0;
    &-link {
      color: $color-dark-gray;
      &:hover, &:active, &:focus {
        color: $color-grayish-blue;
      }
    }
  }
  &__subtitle {
    color: $color-grayish-blue;
    text-transform: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
