.base-teaser {
  &__item {
    display: flex;
    &--content {}
  }
  &__thumbnail {
    display: block;
    &-link {
      display: inline-block;
      cursor: pointer;
      outline: none;
      vertical-align: top;
    }
  }
  &__title {
    padding: 0;
    &-link {
      color: $color-dark_grayish-blue;
    }
  }
  &__subtitle {
    color: #909090;
    text-transform: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
