.carousel-teaser {
  background-color: $color-blue;
  &__wrapper {
    .teaser-stacklist-tags {
      position: inherit;
      margin: 0;
      &-container {
        height: 30px;
        overflow: hidden;
      }
    }
  }
  &__thumbnail-link {
    margin: 0;
  }
  &__title-link {
    color: $color-dark_grayish-blue;
    font-size: 28px;
    &:hover {
      color: $color-pink;
      text-decoration: none;
    }
  }
  &__title {
    color: $color-dark-gray;
  }
  &__subtitle {
    color: $color-grayish-blue;
  }
  h2:before {
    content: "#";
  }
  &__thumbnail {
    width: 100%;
    max-width: 320px;
  }
  .comment-counter {
    position: relative;
    margin: 10px;
  }

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    &__item {
      text-align: center;
      padding: 10px 20px 10px;
    }
    &__item--container {
      background-color: #fff;
      padding-bottom: 15px;
    }
  }
}
