.carousel-teaser {
  background-color: $color-green;
  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 0 5px;
    &__item {
      text-align: center;
      padding: 10px 5px;
      flex: 0 0 auto;
      padding-top: 0;
      padding-bottom: 0;
    }
    &__item--container {
      background-color: #fff;
      width: 235px;
    }
  }
  &__wrapper {
    height: 180px; //?
    width: 100%;
    .teaser-stacklist-tags {
      position: inherit;
      margin: 0;
      &-container {
        height: 30px;
        overflow: hidden;
      }
    }
  }
  &__content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
  }
  &__thumbnail {
    width: auto;
    &-link {
      margin: 0;
      opacity: 1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &:hover, &:active, &:focus {
        opacity: 0.5;
        &__numeral {
          color: $color-pink;
        }
      }
    }
  }
  &__title {
    color: $color-dark-gray;
    text-align: center;
    &-link {
      color: $color-dark-gray;
      font-size: 18px;
      &:hover, &:active, &:focus {
        color: $color-grayish-blue;
      }
    }
  }
  &__subtitle {
    color: $color-grayish-blue;
  }
  &__thumbnail {
    width: 100%;
    max-width: 320px;
  }

  .heading__component {
    h2 {
      color: $color-blue;
      display: inline-block;
    }
    &:before {
      color: $color-blue;
      content: "#";
      display: inline-block;
      font-size: 28px;
    }
  }
}
