.grid-teaser {
    &-wrapper {
      margin: 0 8px;
    }
    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      &__item {
        text-align: center;
        padding: 10px 20px 10px;
      }
    }
    &__thumbnail-link {
        display: block;
        margin: 0 0 10px;
    }
    &__thumbnail {
        width: 100%;
        display: block;
        margin: 0 auto;
        max-width: 320px;
    }
    &__title-link {
        color: $color-grayish-blue;
        font-size: 28px;
        &:hover {
          color: $color-pink;
          text-decoration: none;
        }
    }
    &__subtitle {
        color: $color-grayish-blue;
    }
}
