.grid-teaser {
    &-wrapper {
      margin: 0 8px;
    }
    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      &__item {
        text-align: center;
        padding: 10px 20px 10px;
      }
    }
    &__thumbnail-link {
      display: block;
      margin: 0 0 10px;
      opacity: 1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &:hover, &:active, &:focus {
        opacity: 0.5;
        &__numeral {
          color: $color-pink;
        }
      }
    }
    &__thumbnail {
      width: 100%;
      display: block;
      margin: 0 auto;
      max-width: 320px;
    }
    &__title-link {
      color: $color-dark-gray;
      font-size: 28px;
      &:hover, &:active, &:focus {
        color: $color-grayish-blue;
      }
    }
    &__subtitle {
      color: $color-grayish-blue;
    }
}
