.teaser-stacklist-tags {
  display: inline-block;
  padding: 8px 0 0 0;
  &__item {
    display: inline-block;
    list-style-type: none;
    margin-right: 8px;
  }
  &__anchor {
    text-transform: lowercase;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: $color-pink;
    }
    &:before {
      content: "#";
    }
  }
}
