.footer {
  display: flex;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  @include for-size(tablet-landscape-up) {
    align-items: center;
    justify-content: space-between;
    padding: 1em 8%;
  }
}
