.header {
  background: $color-green url('/static/img/patterns/yegna/navbar-top.svg') no-repeat center top / 100%;
  vertical-align: middle;
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    @include for-size(tablet-landscape-up) {
      padding: 0 5%;
      justify-content: start;
    }
    [type="checkbox"],
    [type="radio"] {
      visibility: hidden;
      position: absolute;
      top: 0;
    }
  }
}
