.header {
  background-image: url('/static/img/patterns/yegna/bg.svg');
  background-repeat: repeat;
  background-position: center top;
  background-size: 100%;
  vertical-align: middle;
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 9999999;
  @include for-size(tablet-portrait-up) {
    background-image: url('/static/img/patterns/yegna/navbar-top.svg');
    background-repeat: no-repeat;
  }
  @include for-size(tablet-landscape-up) {
    background-size: auto;
    height: 160px;
    position: fixed;
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease 1ms;
    animation: qs-timer 300ms;
  }
  &__inner {
    position: relative;
    @include for-size(tablet-landscape-up) {
      align-items: flex-start;
      display: flex;
      justify-content: flex-end;
      padding: 3em 8% 0;
    }
    [type="checkbox"],
    [type="radio"] {
      visibility: hidden;
      position: absolute;
      top: 0;
    }
  }
}
