.header {
  background-color: #76f013;
  background-image: url('/static/img/patterns/yegna/navbar-top.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  vertical-align: middle;
  position: relative;
  width: 100%;
  &__inner {
    position: relative;
    @include for-size(tablet-landscape-up) {
      align-items: flex-start;
      display: flex;
      justify-content: flex-end;
      padding: 3em 8% 0;
    }
    [type="checkbox"],
    [type="radio"] {
      visibility: hidden;
      position: absolute;
      top: 0;
    }
  }
}
