#search,
#profile {
  .menu-list__anchor--section-nav {
    width: 25px;
    height: 21px;
    padding: 0 0 0 10px;
    vertical-align: middle;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
}
#profile {
  float: left;
}
#search > .menu-list__anchor--section-nav {
    background:  url('../../img/nav_search.svg') no-repeat 100% 0 / auto 100%;
}
#profile > .menu-list__anchor--section-nav {
    background:  url('../../img/avatar.svg') no-repeat 0 0 / auto 100%;
}
