{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<div class="yourwords">
  <div class="yourwords__wrapper">
  {% if competitions %}
    {% for competition in competitions %}
    <div class="heading heading--hero">
      <h1 class="heading__component">{% trans 'Share your story' %}</h1>
    </div>
    <div class="yourwords__inner">
      {% if competition.thank_you_page.get_parent_page.get_effective_image %}
        <aside>
          {% image competition.thank_you_page.get_parent_page.get_effective_image width-480 as tmp_photo %}
           <img src="{{ tmp_photo_small.url }}" alt="{{ competition.get_parent_page.get_effective_image.title }}" class="yourwords__image"/>
        </aside>
      {% endif %}
      <section>
        <h2 class="heading__headline">{{competition.title}}</h2>
        <h3 class="heading__subtitle">{{competition.description}}</h3>
        {% if request.user.is_authenticated %}
            <a href="{% url 'molo.yourwords:competition_entry' competition.slug %}" class="call-to-action__button call-to-action__button--primary">
              {% trans "Enter" %}
            </a>
        {% else %}
            <a href="{% url 'molo.profiles:auth_login' %}?next={% url 'molo.yourwords:competition_entry' competition.slug %}" class="call-to-action__button call-to-action__button--primary">
              {% trans "Log in to Enter" %}
            </a>
        {% endif %}
      </section>
    </div>
  {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
