.logo {
  padding: 0 10px;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  z-index: 999;
  border: 1px solid red;
  img {
    max-width: 150px;
    vertical-align: middle;
    width: auto;
  }
  &:hover {
    text-decoration: none;
  }
  &--center {
    display: block;
    text-align: center;
    margin: 0 auto;

    margin: 0 auto;
    display: inline-block;
    left: 0;
    right: 0;
    position: absolute;
    width: 65%;
  }
}
