{% extends "core/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments molo_commenting_tags i18n mptt_tags %}

{% block content %}
<div class="article">
    <div class="article-content">
        <div class="title {{self.get_parent_section.get_effective_extra_style_hints}} align-left">
        <h6>{% trans "Comments" %}</h6>
        </div>
        <div id="comments-list">
              {% for node in comments %}
                {% recursetree node %}
                    {% include "comments/comment.html" %}
                    {{ children }}
                {% endrecursetree %}
              {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page.has_previous %}
                    <a href="?p={{ page.previous_page_number }}">&larr;</a>
                {% endif %}
                <span class="current">
                    Page {{ page.number }} of {{ page.paginator.num_pages }}
                </span>
                {% if page.has_next %}
                    <a href="?p={{ page.next_page_number }}">&rarr;</a>
                {% endif %}
            </span>
            <br>
            <br>
            <a href="{% pageurl self %}">{% trans "Back to article" %}</a>
        </div>
    </div>
</div>

{% endblock %}
