// .content-wrapper {
//   width: 100vw;
//   height: 100vh;
//   background-color: #00676a;
//   font-family: Open Sans,Arial,sans-serif;
//   color: #fff;
//
//
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%,-50%);
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
html {
  background: #e6e6e6;
  height: 100%;
}

body, html {
  background-color: #333;
  color: #d9d9d9;
  height: 100%;
}
body {
  overflow-x: hidden;
  position: relative;
  margin-left: 0;
  &:after {
    content: "";
    position: fixed;
    transition: visibility 0s linear 0s, opacity .2s ease-out;
    background: hsla(0, 0%, 100%, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
  }
}

.content-wrapper {
  background-color: #333;
  border: 0;
  color: #d9d9d9;
}
.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
  max-width: none;
}

@import "normalise";
@import "core";
@import "login";
