/* TYPOGRAPHY */
@font-face {
  font-family: Open Sans;
  src: url(../../wagtailadmin/fonts/opensans-light.woff2) format("woff2"), url(../../wagtailadmin/fonts/opensans-light.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Open Sans;
  src: url(../../wagtailadmin/fonts/opensans-regular.woff2) format("woff2"), url(../../wagtailadmin/fonts/opensans-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Open Sans;
  src: url(../../wagtailadmin/fonts/opensans-semibold.woff2) format("woff2"), url(../../wagtailadmin/fonts/opensans-semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: Open Sans;
  src: url(../../wagtailadmin/fonts/opensans-bold.woff2) format("woff2"), url(../../wagtailadmin/fonts/opensans-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Roboto Slab;
  src: url(../../wagtailadmin/fonts/robotoslab-regular.woff2) format("woff2"), url(../../wagtailadmin/fonts/robotoslab-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Roboto Slab;
  src: url(../../wagtailadmin/fonts/robotoslab-bold.woff2) format("woff2"), url(../../wagtailadmin/fonts/robotoslab-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}



/* GENERAL */
hr {
  border: 1px solid #e6e6e6;
  border-width: 1px 0 0;
  margin: 1.5em 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 85%;
  line-height: 1.5em;
  color: #262626
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400
}

h1 {
  line-height: 1.3em;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #333;
  font-weight: 600
}

h1 span {
  text-transform: none;
  font-weight: 300
}

h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  font-family: Open Sans;
  font-weight: 600;
  color: #4d4d4d
}

p {
  margin-top: 0
}

a {
  color: #00676a;
  text-decoration: none
}

a:hover {
  color: #00585a
}

code {
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, .2);
  background-color: #fafafa;
  padding: 2px 5px
}

kbd {
  border-radius: 3px;
  font-family: Open Sans, Arial, sans-serif;
  border: 1px solid #4d4d4d;
  border-color: rgba(0, 0, 0, .2);
  padding: .3em .5em
}

dd,
dl,
dt {
  padding: 0;
  margin: 0
}

dl {
  margin-top: 1em
}

dt {
  color: #4d4d4d;
  text-transform: uppercase;
  font-size: .9em
}

dd {
  margin-bottom: 1em
}
