/*
* COLOR VARIABLES
*/

$color-light-gray               :     #eff3f5;
$color-dark-gray                :     #434343; //#636466
$color-grayish-blue             :     #909497; //#edf0f2
$color-dark_grayish-blue        :     #353638;
$color-blue                     :     #003cdc;
$color-yellow                   :     #ffff00;
$color-pink                     :     #db007e;
$color-green                    :     #00d79b;
$color-dark-cyan                :     #07292f;
