/*
* COLOR VARIABLES
*/

$color-light-gray               :     #EFF3F5;
$color-dark-gray                :     #434343;
$color-blue                     :     #003CDC;
$color-yellow                   :     #FFFF00;
$color-pink                     :     #DB007E;
$color-green                    :     #00D79B;
$color-grayish-blue             :     #909497;
$color-dark_grayish-blue        :     #353638;
$color-dark-cyan                :     #07292f;
