$sectionThemes: (
  girl-stories:'/static/img/patterns/tanzania/girl-stories-bg.png',
  my-future:'/static/img/patterns/tanzania/my-future-bg.png',
  my-life: '/static/img/patterns/tanzania/my-life-bg.png',
  my-body: '/static/img/patterns/tanzania/my-body-bg.png'
);
