$sectionThemes: (
  girl-stories:(
    bgPos: 0 0,
    labelColor: #fff,
    underlinePos: -7.5em -26.5em
  ),
  my-future:(
    bgPos: 0 -47em,
    labelColor: $color-pink,
    underlinePos: -7.5em -23.5em
  ),
  my-life:(
    bgPos: 0 -15.7em,
    labelColor: #fff,
    underlinePos: -7.5em -26.5em
  ),
  my-body:(
    bgPos: 0 -31.3em,
    labelColor: #fff,
    underlinePos: -7.5em -26.5em
  )
);
