{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}
{% block content %}
<div class="yourwords">
  <div class="identity-image identity-image--yourwords"></div>
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=self.title %}

  {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=self.subtitle %}
  <div class="body-content">
  {% for block in self.body %}
    {% if block.block_type == 'heading' %}
      <h1 class="heading heading--yourwords">
        {{ block.value }}
      </h1>
    {% else %}
    {% if block.block_type == 'image' %}
      {% image block.value width-240 %}
    {% else %}
    {% if block.block_type == 'numbered_list' %}
      <ol>
      {% for item in block.value %}
        <li>{{ item|handle_markdown }}</li>
      {% endfor %}
      </ol>
    {% else %}
    {% if block.block_type == 'list' %}
      <ul>
      {% for item in block.value %}
         <li>{{ item|handle_markdown }}</li>
      {% endfor %}
      </ul>
    {% else %}
        {{ block }}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
  {% endfor %}
  </div>
  <a href="{% url 'molo.yourwords:competition_entry' self.get_parent_page.slug %}" class="call-to-action__nav-item call-to-action__nav-item--back">
    {% trans "Back" %}
  </a>
</div>
{% endblock %}
