{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags staticfiles core_tags i18n competition_tag %}
{% block content %}
<div class="yourwords yourwords--call-to-action">
  <div class="identity-image identity-image--yourwords"></div>
  <div class="yourwords__container">
  {% trans "Share your story" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="micro" htmltag="p" title=headingtext %}

  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=competition.title %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=competition.description %}

  {% load_thank_you_page_for_competition competition as thank_you_pages %}
  {% if thank_you_pages %}
    {% for page in thank_you_pages %}
      {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=page.title %}
      {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=page.subtitle %}
      <div class="body-content">
        {% include "patterns/basics/articles/article-page_variations/article-body.html" %}
      </div>
    {% endfor %}
{% else %}
  {% trans "Thank you for sharing your words!" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading" htmltag="h3" title=headingtext %}
{% endif %}
  {% trans "Back home" as back %}
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=request.site.root_page.url page_name=back direction="left" %}
  </div>
</div>
{% endblock %}
