{% extends "base.html" %}
{% block content %}
<div class="yourwords yourwords--call-to-action">
  <div class="identity-image identity-image--yourwords"></div>
  <div class="yourwords__container">
    <div class="heading heading__micro">
      <p>{% trans "Share your story" %}</p>
    </div>
    <div class="heading heading__subheading"><h2>{{self.title}}</h2></div>
    {% if self.description %}
      <div class="heading heading__macro">
        <p>{{self.description}}</p>
      </div>
    {% endif %}
    {% if request.user.is_authenticated %}
      <a href="{% url 'molo.yourwords:competition_entry' self.slug  %}" class="call-to-action__button call-to-action__button--primary">
        <span class="call-to-action__button-text call-to-action__button-text--primary">{% trans "Enter" %}</span>
      </a>
    {% else %}
      <a href="{% url LOGIN_URL %}?next={% url 'molo.yourwords:competition_entry' self.slug %}" class="call-to-action__button call-to-action__button--primary">
        <span class="call-to-action__button-text call-to-action__button-text--primary">{% trans "Log in to Enter" %}</span>
      </a>
    {% endif %}
  </div>
</div>
{% endblock %}
