{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}
{% block content %}
<div class="yourwords">
  <div class="heading-container {% if self.image %}feature-image{% endif %}">
    {% if competition.thank_you_page.get_parent_page.get_effective_image %}
      {% image competition.thank_you_page.get_parent_page.get_effective_image width-98 format-jpeg jpegquality-70 as tmp_photo_small %}
      {% image competition.thank_you_page.get_parent_page.get_effective_image width-320 format-jpeg jpegquality-70 as tmp_photo_large %}
       <img src="{{ tmp_photo_small.url }}" srcset="{{ tmp_photo_large.url }}" alt="{{ self.get_parent_page.get_effective_image.title }}"/>
    {% endif %}
    <h3>{% trans "Share your story" %}</h3>
  </div>
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=competition.title %}

  {% include "patterns/basics/headings/sp_variations/heading.html" with type="macro" htmltag="h3" title=competition.description %}
  <div class="body-content">
    {% for block in competition.content %}
    {% if block.block_type == 'heading' %}
    <h1 class="heading heading--yourwords">
      {{ block.value }}
    </h1>
    {% else %}
    {% if block.block_type == 'image' %}
      {% image block.value width-240 %}
    {% else %}
    {% if block.block_type == 'numbered_list' %}
      <ol>
      {% for item in block.value %}
        <li>{{ item|handle_markdown }}</li>
      {% endfor %}
      </ol>
    {% else %}
    {% if block.block_type == 'list' %}
      <ul>
      {% for item in block.value %}
        <li>{{ item|handle_markdown }}</li>
      {% endfor %}
    </ul>
    {% else %}
        {{ block }}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  <form method="post" class="yourwords-form">
  {% csrf_token %}
    <fieldset>
      <label>{% trans "Title of your story (max 60 characters)" %}</label>
      {{ form.story_name }}
       {% if form.story_name.errors %}
        <p class="alert-error">* {{form.story_name.errors|join:' '}}</p>
      {% endif %}
    </fieldset>
    <fieldset>
      <label>{% trans "Tell us your story here" %}</label>
      {{ form.story_text }}
      {% if form.story_text.errors %}
        <p class="alert-error" >* {{form.story_text.errors|join:' '}}</p>
      {% endif %}
    </fieldset>
    <fieldset>
       {{ form.terms_or_conditions_approved }}
       <label for="id_terms_or_conditions_approved">{% trans "I accept the Terms and Conditions" %}</label>
       {% if form.terms_or_conditions_approved.errors %}
      <p class="alert-error">* {{form.terms_or_conditions_approved.errors|join:' '}}</p>
      {% endif %}
    </fieldset>
    <fieldset>
      {{ form.hide_real_name }}
      <label>{% trans "Share my story anonymously" %}</label>
    </fieldset>
    <input type="submit" value="Submit Your Story" />
  </form>
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=the_url page_name="article" direction="left" %}
</div>
{% endblock %}
