{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags staticfiles core_tags %}
{% block content %}
<div class="yourwords yourwords--call-to-action">
  <div class="identity-image identity-image--yourwords"></div>
  <div class="yourwords__container">
  {% trans "Share your story" as headingtext %}
  {% include "patterns/basics/headings/sp_variations/heading.html" with type="micro" htmltag="p" title=headingtext %}

  {% include "patterns/basics/headings/sp_variations/heading.html" with type="component" htmltag="h1" title=competition.title %}

  {% include "patterns/basics/headings/sp_variations/heading.html" with type="macro" htmltag="h3" title=competition.description %}

  {% for block in competition.content %}
    {% include "patterns/basics/articles/article-page_variations/generic-article-body.html" %}
  {% endfor %}

  <div class="yourwords__container-form">
  <form method="post" class="yourwords__form" novalidate>
  {% csrf_token %}
    <fieldset>
      <div class="input-group">
        <label>{% trans "Title of your story (max 60 characters)" %}</label>
        {{ form.story_name }}
         {% if form.story_name.errors %}
          <p class="errors errorlist">* {{form.story_name.errors|join:' '}}</p>
        {% endif %}
      </div>
    </fieldset>
    <fieldset>
      <div class="input-group">
        <label>{% trans "Tell us your story here" %}</label>
        {{ form.story_text }}
        {% if form.story_text.errors %}
          <p class="errors errorlist" >* {{form.story_text.errors|join:' '}}</p>
        {% endif %}
      </div>
    </fieldset>
    <fieldset class="choice">
      <div class="input-group">
        {{ form.terms_or_conditions_approved }}
        <label for="id_terms_or_conditions_approved">{% trans "I accept the Terms and Conditions" %}</label>
        {% if form.terms_or_conditions_approved.errors %}
       <p class="errors errorlist">* {{form.terms_or_conditions_approved.errors|join:' '}}</p>
       {% endif %}
      </div>
    </fieldset>
    <fieldset class="choice">
      {{ form.hide_real_name }}
      <label for="id_hide_real_name">{% trans "Share my story anonymously" %}</label>
    </fieldset>
    <input type="submit" value="{% trans "Submit your story" %}" class="call-to-action__button call-to-action__button--primary">
  </form>
  </div>
  {% trans "Back home" as back %}
  {% include "patterns/basics/buttons/sp_variations/text-dir-arrow_back-button.html" with hyperlink=request.site.root_page.url page_name=back direction="left" %}
  </div>
</div>
{% endblock %}
