.call-to-action {
    font-weight: normal;
    &__button {
      width: 100%;
    }
    &__item {
        &--secondary {}
        &--with-icon {
            text-indent: -99em;
            height: 21px;
            width: 21px;
            position: absolute;
            right: 10%;
            top: 0;
            padding: 0;
        }
        &--search-icon {
            background-color: transparent;
            background-image: url(/static/img/icons/search.svg), url(/static/img/icons/search@2x.png);
            background-repeat:  no-repeat;
            background-position: 100% 0;
            background-size: auto 98%;
            right: 3%;
        }
        &--search-icon-bg {
            background-color: transparent;
            background-image: url(/static/img/icons/search.svg), url(/static/img/icons/search@2x.png);
            background-repeat:  no-repeat;
            background-position: 12px 10px;
            background-size: auto 60%;
            right: 10%;
            top: 10px;
        }
    }
}
