.call-to-action__nav-item-text {
    @include font($baton-medium);
    font-weight: normal;
    &--article-comments {
        padding-bottom: 30px;
    }
    &--right {
      margin: 0;
      line-height: 28px;
    }
    &--left {
      text-align: left;
      padding-left: 35px;
      margin: 0;
      line-height: 28px;
    }
    &--right-wide {
      margin: 0;
      line-height: 28px;
    }
}
