
{% extends "base.html" %}
{% block body_class %}default-container{% endblock %}
{% block content %}
<div class="server-error">
    <div class="heading">
        <h1 class="heading--title">{% trans "Unable to Login" %}</h1>
    </div>
    <h2 class="heading--subtitle">
        {% trans "Hi" %}
       <p>{% trans "Sorry, you are having trouble accessing this feature! Due to a temporary technical issue, login and registrations are not available on the Free Basics app for now. To login or register for a profile, visit our free mobisite through your mobile browser at" %} <a href={{ freebasics_url }} target="_blank">{{ freebasics_url }}</a>.{% trans " We're working hard to get this problem resolved. Thank you." %} <br/>
    </h2>
</div>
{% endblock %}
 
