
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% trans "Internal server error" %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <style type="text/css">
    body {
      font-size: 18px;
      font-family: 'Noto Sans', Arial, sans-serif;
    }
    .server-error {
      padding: 1em 15%;
    }
    .heading--title {
      font-size: 34px;
    }
  </style>
</head>
<body>
  <div class="server-error">
    <div class="heading">
      <h1 class="heading--title">{% trans "Internal server error" %}</h1>
      <h2 class="heading--subtitle">
        {% trans "Sorry, there seems to be an error. Please try again soon." %}</h2>
    </div>
  </div>
</body>
</html>
