{% load wagtailcore_tags %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="http://chhaajaa.redmatterapps.com/images/logo.png" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Chajaa</title>

        <!-- Icon css link -->
       
        <link href="http://chhaajaa.redmatterapps.com/csss/font-awesome.min.css" rel="stylesheet">
       
        <!-- Bootstrap -->
        <link href="http://chhaajaa.redmatterapps.com/csss/bootstrap.min.css" rel="stylesheet">
        
        <!-- RS5.0 Layers and Navigation Styles -->
        
        
        <link href="http://chhaajaa.redmatterapps.com/csss/style.css" rel="stylesheet">
        <link href="http://chhaajaa.redmatterapps.com/csss/responsive.css" rel="stylesheet">
        <link href="http://chhaajaa.redmatterapps.com/csss/form.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://chhaajaa.redmatterapps.com/js/jquery-2.1.4.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://chhaajaa.redmatterapps.com/js/bootstrap.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Google Tag Manager -->

        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

        })(window,document,'script','dataLayer','GTM-P45VN52');</script>

        <!-- End Google Tag Manager -->
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P45VN52"

    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!-- End Google Tag Manager (noscript) -->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js" type="text/
javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-en.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            // binds form submission and fields to the validation engine
            $('#myForm').validationEngine();
        });


    </script>-->
      <a href="#" id="scroll" style="display: none;"><span></span></a>
        <!--================Slider Area =================-->
        <header class="main_menu_area">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="videos.php"><img src="http://chhaajaa.redmatterapps.com/images/logo.png" alt="" width="100"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="videos.php" style="color:#ff4289;font-weight:bold;">VIDEOS</a></li>
                            <li><a href="aresunna.php" style="color:#8207ff;font-weight:bold;">ARRE SUN NA</a></li>
                            
                            <!--<li><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></li>-->
                            <li><a href="logout.php"  ><span id="logout">Logout</span></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        
        <!--================Slider Area =================-->
        
        <!--================Banner Area =================-->
      
        <!--================End Banner Area =================-->    
        <!--================Blog List Area =================-->
        <section class="blog_list_area"><br/>
            <div class="container fullwidth">
                <div class="row">
                    <div class="col-md-8">
                    
                        <div class="row">
                        
                        <!--<img src="http://chhaajaa.redmatterapps.com/images/main-img.jpg" class="img-responsive" alt="">-->
                        
                        <iframe  src="{{ page.videourl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen  class="img-responsive iframev" style="width:100%;"></iframe>
                        
                        <div class="twoheaders">
                        <div class="col-md-6"> <h4 class="headingh4">Pyaar kiya toh darna kya !</h4>
                        </div>
                        <div  class="col-md-6">  <div class="column col1"><a href="#"><img src="http://chhaajaa.redmatterapps.com/images/
                        like.png" class="" alt=""><p class="socialicons like">Like</p> </a></div><div class="column"><a href="#"><img src="http://chhaajaa.redmatterapps.com/images/Dislike.png" class="" alt=""> <p class="socialicons Dislike">Dislike</p></a></div><div class="column"><a href="#"><img src="http://chhaajaa.redmatterapps.com/images/Share.png" class="" alt=""><p class="socialicons Share">Share</p> </a></div><div class="column"><a href="#"><img src="http://chhaajaa.redmatterapps.com/images/Comment.png" class="" alt=""><p class="socialicons Comment">Comment</p></a></div>
                        </div>
                        </div>
                        <div  class="clear-all"></div>
                        <div>
                            <p class="ptext">Arre Sun Na  <a href="aresunna.php"><u><i>Know more</i></u></a></p>
                            <p class="smalltext">Volleyball match ya boyfriend ke saath date… <br/>Kya choose karegi humari Sweety? </p>
                            
                            <p class="ptext"><a href=""><u><!--<i>Showmore</i>--> <br/></u></a></p>
                        </div>
                    <br/>
                        <article class="blog_list_item row m0">
                            
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="blog_list_content blog_list_content1">
                                <form method="post">
                                    <h5 class="bottomh5">Aap Sweety ke liye iss clash mein kya chunti?</h5>
                                    <h5 class="bottomh5"></h5>
                                    
                                    <div class="pull-left" style="height:auto;">
                                    
                                    <!--RADIO 1-->
                                    <input type="radio" class="radio_item" value="Relationship mein shaanti" name="answer" id="radio1">
                                        <label class="label_item" for="radio1"> <img src="http://chhaajaa.redmatterapps.com/images/symbol.png"> Relationship mein shaanti </label> <br/>

                                    <!--RADIO 2-->
                                    <input type="radio" class="radio_item" value="Volleyball court par yuddh" name="answer" id="radio2">
                                    <label class="label_item" for="radio2"> <img src="http://chhaajaa.redmatterapps.com/images/symbol.png"> Volleyball court par yuddh</label>
                                    <br/>
                                    <br/>
                                    
                                    <input type="submit" name="submit2" id="submit" value="Submit"><br/>
                                                                        
                                    
                                        <!--<input type="radio" name="answer" value="Khel"><img src="http://chhaajaa.redmatterapps.com/images/symbol.png" alt=""> Khel &nbsp; &nbsp;
                                        <input type="radio" name="answer" value="Dil"><img src="http://chhaajaa.redmatterapps.com/images/symbol.png" alt=""> Dil -->                                        
                                    </div>
                                    </form>
                                </div>
                                <!--<p>Thankyou for submitting</p>-->
                            </div>
                            <div class="col-md-6  col-xs-6 col-sm-6">
                                <div class="blog_list_img blog_list_img1">
                                    <img src="http://chhaajaa.redmatterapps.com/images/survey/poll1.png"  class="img-responsive" alt="">
                                </div>
                            </div>
                        </article>
                       
                            
                        </div>
                       
                    </div>
                    <div class="col-md-4">
                        <div class="blog_right_sidebar">
                           
                            <aside class="right_widget category_widget">
                                <div class="sidebar_title">
                                    <h3> <img src="http://chhaajaa.redmatterapps.com/images/Sym1.png"  class="" alt=""> Arre dekho, naye episodes!</h3>
                                </div>
                                <div class="anyClass">
                                    {% for video in video_entries %}
                                <div class="col-md-6  col-xs-6 col-sm-6">
                                    <div class="blog_list_img">
                                        {% if video.image %}
                                            <a href="{% pageurl video %}"><img src="{{ video.image.url }}"  class="img-responsive" alt=""></a>
                                        {% else %}
                                            <a href="{% pageurl video %}"><img src="http://chhaajaa.redmatterapps.com/images/video2.jpg"  class="img-responsive" alt=""></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6  col-xs-6 col-sm-6">
                                    <div class="blog_list_content">
                                        <a href="{% pageurl video %}"><h5 class="righth5">{{ video.intro }} </h5>
                                        <p class="ptextclass">{{ video.body |richtext }}<br><br><br></p></a>
                                    </div>
                                </div>
                            
                                <div  class="clear-all"></div>
                                {% endfor %}

                                
                                </div>
                            </aside>
                            
                            
                            
                            <div style="clear:both;"></div>
                            <aside class="right_widget recent_widget commentsection1">
                                                                <div class="sidebar_title2">
                                    <h3><img src="http://chhaajaa.redmatterapps.com/images/Sym3.png"  class="" alt=""> Comment</h3>
                                </div>
                                <div class="recent_widget_inner">
                                    <form method="post">
                                    <div class="form-group">
                                    <textarea class="form-control" rows="8" class="textareac" placeholder="Share your soch"></textarea>
                                     </div>
                                     <div class="form-group">
                                    <input type="submit" name="submit" id="submit" value="Submit">
                                     </div>
                                    </form>
                                  
                                </div>
                            </aside>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Blog List Area =================-->
   
        <!--================Map Area =================-->
        
        <!--================End Map Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="container">
                <div class="pull-left pull-left-f">
                    <img src="http://chhaajaa.redmatterapps.com/images/logo.png" width="150">
                </div>
                <div class="pull-right pull-right-f">
                    <ul>
                        <li><a href="#">PRIVACY POLICY</a></li>
                        <li><a href="#">TERMS & CONDITIONS</a></li>
                        <li><a href="#">CALL HELPLINE NUMBER</a></li>
                        
                    </ul>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
     
      <script>
      $(document).ready(function(){ 
        $(window).scroll(function(){ 
            if ($(this).scrollTop() > 100) { 
                $('#scroll').fadeIn(); 
            } else { 
                $('#scroll').fadeOut(); 
            } 
        }); 
        $('#scroll').click(function(){ 
            $("html, body").animate({ scrollTop: 0 }, 600); 
            return false; 
        }); 
    });
      </script>
    </body>

</html>     