#gem-footer {
  background: #ECECEC;
  padding: 12px 8px;
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  input[type=submit] {
    background: none;
    border: 0;
    color: #5C5C5C;
    cursor: pointer;
    font-family: inherit;
    font-size: 22px;
    font-weight: normal;
    padding: 0;
    text-decoration: underline;
    text-transform: unset;
  }
}

.footer-menu-list__item {
  margin: 0 8px;
  line-height: 2.0;
}

.footer-menu-list__label {
  font-size: 20px;
  @media screen and (min-width: 320px) {
    font-size: 22px;
  }
}
.footer-menu-list__anchor {
  font-size: 20px;
  color: #5C5C5C;
  @media screen and (min-width: 320px) {
    font-size: 22px;
  }
}
.footer-menu-list__sub-menu {
  margin-left: 18px;
}

.footer-menu-list__sub-anchor {
  color: #ed008c;
  font-size: 20px;
  @media screen and (min-width: 320px) {
    font-size: 22px;
  }
}

#footer-bar {
  order: 3;
  -webkit-order: 3;
  margin: 0 8px;
  font-size: 12px;
  p {
    margin-bottom: 0;
    color: #A3A3A3;
  }
  a {font-size: 14px;}
}
