{% load wagtailcore_tags %}
<div class="comments-list__item {% if node.parent == None %}comments-list__item--parent-comment{% endif %} {% if node.parent %}comments-list__item--reply {% endif %}">
  {% with notice.target as article %}
    {% with notice.action_object as comment %}
      <p class="comments__body-small">
        {% if comment.user.is_staff %}
          {% if settings.gem.GemSettings.moderator_name %}
            {{settings.gem.GemSettings.moderator_name}}
          {% else %}
            {% trans "Big Sister" %}
          {% endif %}
        {% elif comment.user_name.lower == 'anonymous' %}
          {{comment.user_name}}
        {% else %}
          {% if not comment.user.profile.alias %}
            {% trans "Anonymous" %}
          {% else %}
            {{comment.user.profile.alias}}
          {% endif %}
        {% endif %}
        {% trans "replied to your comment on: " %}
        <a href="{% pageurl article.specific %}" class="comments__replied-link">{{ article.title }}</a>
      </p>
      <span class="comments__publish-date">{{ notice.timesince }} {% trans "ago" %}</span>
    {% endwith %}
  {% endwith %}
</div>
  <ul class="comments-replies-list">
    <li class="comments-replies-list__item">
      <h3 class="comments__replies-label">{% trans "Your comment" %}:</h3>
      <p class="comments__body-small">{{ notice.action_object.parent.comment }}</p>
    </li>
    <li class="comments-replies-list__item">
      <h3 class="comments__replies-label">{% trans "A Reply" %}:</h3>
      <p class="comments__body-small">{{ notice.action_object.comment }}</p>
    </li>
  </ul>
