{% load wagtailcore_tags %}
  <div class="comments-list__item {% if node.parent == None %}comments-list__item--parent{% endif %} {% if node.parent %}comments-list__item--child {% endif %}">
    {% with notice.target as article %}
      {% with notice.action_object as comment %}
        <h5 class="comments__alias comments__alias--author">
          {% if comment.user.is_staff %}
            {% if settings.gem.GemSettings.moderator_name %}
              {{settings.gem.GemSettings.moderator_name}}
            {% else %}
              {% trans "Big Sister" %}
            {% endif %}
          {% elif comment.user_name.lower == 'anonymous' %}
            {{comment.user_name}}
          {% else %}
            {% if not comment.user.profile.alias %}
              {% trans "Anonymous" %}
            {% else %}
              {{comment.user.profile.alias}}
            {% endif %}
          {% endif %}
        </h5>
        <p class="comments__description">
        {% trans "replied to your comment on: " %}</p>
        <a href="{% pageurl article.specific %}" class="call-to-action__item call-to-action__item--text">
          {{ article.title }}</a>
        <h6 class="comments__publish-date">
          {{ notice.timesince }} {% trans "ago" %}
        </h6>
      {% endwith %}
    {% endwith %}
    <ul class="comments-replyList">
      <li class="comments-replyList__item">
        <h3 class="comments-replyList-label">{% trans "Your comment" %}:</h3>
        <p class="comments__content">
          {{ notice.action_object.parent.comment }}
        </p>
      </li>
      <li class="comments-replyList__item">
        <h3 class="comments-replyList-label">{% trans "A reply" %}:</h3>
        <p class="comments__content">
          {{ notice.action_object.comment }}
        </p>
      </li>
    </ul>
  </div>
