{% load compress wagtailuserbar wagtailcore_tags core_tags staticfiles %}
{% load wagtailsettings_tags wagtailcore_tags core_tags wagtailimages_tags wagtailembeds_tags gem_tags %}
{% get_settings %}
{% get_current_language as LANGUAGE_CODE %}
{% load molo_pwa %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{LANGUAGE_CODE}}">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>
        {% if is_via_bbm %}GirlTalk{% else %}{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}{% endif %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="google-site-verification" content="1pHfu6F9poexdHOYO-8YohY4exchMmVOaNmiCLhoT9Q" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <link href="{{ request.build_absolute_uri }}" rel="canonical" />
    <meta property="og:image:width" content="450" />
    <meta property="og:image:height" content="200" />
    <meta name="viewport" content="width=device-width, initial-scale=1{% if is_via_bbm %}, user-scalable=0{% endif %}" />
    <meta name="msapplication-TileColor" content="#ffe559">
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}img/appicons/springster_icon_144.png">
    <meta name="theme-color" content="#8207ff">
    {% comment %}
        This meta block is overriden in some child templates because not all of the properties
        used here are available on every model.
    {% endcomment %}
    {% block meta %}
    {% image self.social_media_image fill-450x200 as tmp_photo %}
    {% if self.get_effective_image %}
    {% image self.get_effective_image fill-450x200 as article_photo %}
    {% endif %}

    <meta name="description"
        content="{% if self.social_media_description %}{{ self.social_media_description }}{% elif self.subtitle %}{{ self.subtitle }}{% elif self.search_description %}{{self.search_description}}{% else %}Springster celebrates the diverse, inspirational and convention‑defying experiences of girls across the world.{% endif %}" />
    <meta name="keywords"
        content="{% if self.specific.metadata_tags %}{{self.specific.metadata_tags.all|join:','}}{% else %}{{self.seo_title}}{% endif %}" />
    <meta property="og:title"
        content="{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
    <meta property="og:description"
        content="{% if self.search_description %}{{ self.search_description }}{% elif self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}" />
    <meta property="og:image"
        content="{% if self.social_media_image %}{{ tmp_photo.url }}{% elif article_photo.url %}{{ article_photo.url }}{% else %}{{request.site.root_url}}{% static 'img/springster-fb-share.png' %}{% endif %}" />
    {% endblock %}
    <link rel="icon" href="{{ STATIC_URL }}images/logo.png" type="image/x-icon" />
   {% compress css inline %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/chhaajja.css" media="all">
    {% endcompress %}

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-P45VN52');</script>

    <!-- End Google Tag Manager -->

</head>

<body {% block body_class %}{% endblock %}>
    <!-- Google Tag Manager (noscript) -->

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P45VN52" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <a href="#" id="scroll" style="display: none;"><span></span></a>
    <!--================Slider Area =================-->
    <header class="main_menu_area">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}images/logo.png" alt="chhaajja-logo"
                            width="100"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li><a href="videos.php" style="color:#ff4289;font-weight:bold;">VIDEOS</a></li>
                                <li><a href="aresunna.php" style="color:#8207ff;font-weight:bold;">ARRE SUN NA</a></li>-->

                        <!--<li><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></li>-->
                        {% if not user.is_authenticated %}

                        <li><a href="{{REGISTRATION_URL}}"><span id="logout">Signup</span></a></li>
                        <li><a href="{% url LOGIN_URL %}"><span id="logout">Login</span></a></li>
                        {% else %}
                        <li><a href="{{VIEW_PROFILE_URL}}"><span id="logout">{% trans "Profile" %}</span></a></li>
                        <li><a href="javascript::void(0)" id="logout-btn"><span
                                    id="logout">{% trans 'Log out' %}</span></a></li>

                        <li style="display: none">
                            <form method="post" id="logout-form" action="{% url LOGOUT_URL %}">
                                {% csrf_token %}
                                <input class="footer-menu-list__anchor" value="{% trans 'Log out' %}" type="submit"style="color: #fff;font-weight: bold;background-color: #8207ff;padding: 5px;margin-top: 16px;">
                            </form>
                        </li>


                        {% endif %}

                    </ul>
                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->
        </nav>
    </header>

    <div class="container fullwidth" style="margin-top:100px ">

        <div class="row">
            <div class="col-md-8">

                <div class="row iframe-parent">

                    <!--<img src="images/main-img.jpg" class="img-responsive" alt="">-->



                    {% for block in self.body %}

                    {% if block.value.youtube_link %}

                    <iframe src="{{block.value.youtube_link}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="" class="img-responsive iframev" style="width:100%;"></iframe>
                    {% endif %}

                    {% endfor %}


                    <div class="twoheaders">
                        <div class="col-md-6">
                            {% for block in self.body %}

                            {% if block.block_type == 'heading' %}

                            <h4 class="headingh4">{{ block.value }}</h4>

                            {% endif %}

                            {% if block.block_type == 'paragraph' %}

                            <p class="smalltext">{{ block.value }}</p>

                            {% endif %}

                            {% endfor %}


                        </div>
                        <div class="col-md-6">
                            <div class="column col1"><a href="#"><img src="{{ STATIC_URL }}images/like.png" class=""
                                        alt="">
                                    <p class="socialicons like">Like</p>
                                </a></div>
                            <div class="column"><a href="#"><img src="{{ STATIC_URL }}images/Dislike.png" class=""
                                        alt="">
                                    <p class="socialicons Dislike">Dislike</p>
                                </a></div>
                            <div class="column"><a href="#"><img src="{{ STATIC_URL }}images/poll.png" class="" alt="">
                                    <p class="socialicons Share">Poll</p>
                                </a></div>
                            <div class="column"><a href="#"><img src="{{ STATIC_URL }}images/Comment.png" class=""
                                        alt="">
                                    <p class="socialicons Comment">Comment</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="clear-all"></div>

                    <br>
                    <article class="polls row m0">

                        <div class="col-md-6 col-xs-6 col-sm-6">
                            <div class="blog_list_content blog_list_content1">
                                <form method="post">
                                    <h5 class="bottomh5">Aap Sweety ke liye iss clash mein kya chunti?</h5>
                                    <h5 class="bottomh5"></h5>

                                    <div class="pull-left" style="height:auto;font-family: 'Fedra Sans Std Book';">

                                        <!--RADIO 1-->
                                        <input type="radio" class="" value="Relationship mein shaanti" name="answer"
                                            id="radio1">

                                        Relationship mein shaanti <br>
                                        <!--RADIO 2-->
                                        <input type="radio" class="" value="Volleyball court par yuddh" name="answer"
                                            id="radio2">

                                        Volleyball court par yuddh

                                        <br>
                                        <br>

                                        <input type="submit" name="submit2" id="submit" value="Submit"><br>


                                        <!--<input type="radio" name="answer" value="Khel"><img src="images/symbol.png" alt=""> Khel &nbsp; &nbsp;
                                                <input type="radio" name="answer" value="Dil"><img src="images/symbol.png" alt=""> Dil -->
                                    </div>
                                </form>
                            </div>
                            <!--<p>Thankyou for submitting</p>-->
                        </div>
                        
                    </article>


                </div>

            </div>
            <div class="col-md-4">
                <div class="blog_right_sidebar">

                    <aside class="right_widget category_widget">
                        <div class="sidebar_title">
                            <h3> <img src="{{ STATIC_URL }}images/Sym1.png" class="" alt=""> Arre dekho, naye episodes!</h3>
                        </div>


                        <div class="anyClass">
                             
                            

                            {% get_recommended_articles self as recommended_articles %}
                            {% if recommended_articles %}
                            {% for article in recommended_articles %}
                            <div class="row " style="margin-bottom: 5px">
                            <div class="col-md-5  col-xs-5 col-sm-5">
                                <div class="blog_list_img">
                                     
                                    {% if article.image %}
                                    <a href="{% pageurl article.specific %}">
                                            {% image article.image width-1080 format-jpeg as teaser_thumbnail %}
                                            <img alt=" {{ article.title }}" src="{{ teaser_thumbnail.url }}" class="img-responsive" />
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-7  col-xs-7 col-sm-7">
                                <div class="blog_list_content">
                                    <a href="{% pageurl article.specific %}">
                                        <h5 class="righth5">{{ article.title }}</h5>
                                        <p class="ptextclass">{{ article.subtitle }} </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                            <div class="clear-all"></div>

                            {% endfor %}
                            {% endif %}

                        </div>
                    </aside>



                    <div style="clear:both;"></div>
                    <aside class="right_widget recent_widget commentsection1">
                        <div class="sidebar_title2">
                            <h3><img src="{{ STATIC_URL }}images/Sym3.png" class="" alt=""> Comment</h3>
                        </div>
                        <div class="recent_widget_inner">
                            <form method="post" action="{% url 'molo.commenting:molo-comments-post' %}#comments-list">
                                    {% csrf_token %}
                                    <div class="input-group{% if form.comment.errors %} input-error{% endif %}">
                                      {% if form.errors %}
                                        <p class="errors">{% trans "Please correct the error below" %}</p>
                                      {% endif %}
                                      {{ form.comment }}
                                      {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
                                    </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="8" placeholder="Share your soch"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" id="submit" value="Submit">
                                </div>
                                {{ form.object_pk }}
                                {{ form.content_type }}
                                {{ form.timestamp }}
                                {{ form.security_hash }}
                                <input type="hidden" name="next" value="{% pageurl self %}" />
                                {% if node.id %}
                                <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" />
                                {% endif %}
                            </form>

                        </div>
                    </aside>

                </div>
            </div>
        </div>
    </div>

    {% block footer %}

    <footer class="footer_area">
        <div class="container">
            <div class="pull-left pull-left-f">
                <img src="{{ STATIC_URL }}images/logo.png" alt="chhaajja-logo" width="150">
            </div>
            <div class="pull-right pull-right-f">
                <ul>
                    <li><a href="#">PRIVACY POLICY</a></li>
                    <li><a href="#">TERMS &amp; CONDITIONS</a></li>
                    <li><a href="#">CALL HELPLINE NUMBER</a></li>
                </ul>
            </div>
        </div>
    </footer>
    {% endblock %}


    <script>
        $(document).ready(function () {
            var x = $('.iframe-parent').width();
            $("iframe").width(x);
            $("iframe").height(x / 2);

            $("#logout-btn").click(function () {
                $("#logout-form").submit();
            })
        });
    </script>

</body>

</html>