{% load wagtailsettings_tags %}
{% get_settings %}
  <ul class="social-media-list">
    {% if settings.core.SiteSettings.facebook_sharing %}
      <li class="social-media-list__item">
        <a href="http://www.facebook.com/sharer.php?u=http{% if request.is_secure %}s{%endif %}://{{ request.get_host }}{{ request.path }}" target="_top" class="social-media__icon social-media__icon--facebook">
        </a>
      </li>
    {% endif %}
    {% if settings.core.SiteSettings.twitter_sharing %}
      <li class="social-media-list__item">
        <a href="https://twitter.com/share?url=http{% if request.is_secure %}s{%endif %}://{{ request.get_host }}{{ request.path }}" target="_top" class="social-media__icon social-media__icon--twitter">
        </a>
      </li>
    {% endif %}
  </ul>
