.reply-notification {
  padding: 15px;
  background-color: $color-yellow;
  color: $color-blue;
  .call-to-action__nav-item-text {
    margin: 0;
    text-align: left;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 500;
    &:after {
      content: "";
      background-image: url(/static/img/icons/tujibebe/icon-sprite.png);
      background-repeat: no-repeat;
      background-position: 0 -24.5em;
      background-size: 230px;
      height: 15px;
      width: 35px;
      display: inline-block;
      float: right;
      margin: 0 1em 0 0;
    }
  }
}
