#gem-footer {
  background-color: $color-light-gray;
  padding: 10px 5px;
  .left {
    float: left;
    width: 50%;
  }
  .right {
    float: right;
    width: 50%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .group:after {
    content:"";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 280px) {
    .left, .right {
      float: none;
      width: auto;
    }
  }
}

@media only screen and (min-width: 320px){
  #footer-bar {
    .footer-logo {
      background-repeat:  no-repeat;
      width: 100%;
      height: 60px;
      max-width: 200px;
      background-position:  0 50%;
      margin: 18px auto;
    }
  }
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &__item {
    margin: 0 10px;
    padding: 5px 0;
  }
  &__anchor {
    color: $color-dark_grayish-blue;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  
    &:hover, &:active, &:focus {
      color: $color-blue;
      text-decoration: underline;
    }
  }
  .selected {
    color: $color-blue;
    font-weight: 600;
    text-decoration: underline;
    .footer-menu-list__anchor {
      color: $color-blue;
    }
  }
  input {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
}
