//HEADER
#profile {
  @media screen and (min-width: 20.000em) {
    float: left;
  }
  .menu-list {
    &__anchor--section-nav {
      background-image: url(/static/img/icons/tujibebe/icon-sprite.png);
      background-position: 9.3px 0;
      background-size: 245px;
      background-repeat: no-repeat;
      display: block;
      padding: 35px 0 0 0;
      margin: 0 auto;
      @media screen and (min-width: 38.125em) {
        background-position: 0 0;
        width: 25px;
      }
      &:hover, &:active, &:focus {
        background-position: 9.3px -58.4px;
        @media screen and (min-width: 38.125em) {
          background-position: 0.3px -58.4px;
        }
      }
    }
  }
}

//PROFILE PAGE
.profiles {
  text-align: center;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  fieldset {
    text-align: center;
  }
  label {
    text-align: center;
  }
  input[type=checkbox]~label {
    padding: 10px 3px;
  }
  &__form--block {
    background: $color-light-gray;
    margin: 30px auto;
    text-align: center;
    padding: 10px 0;
  }
  &-join-banner {
    background-color: $color-blue;
    padding: 10px 0;
    &__content {
      padding-bottom: 0;
    }
    &__icon  {
      padding-bottom: 0;
      width: 95px;
      height: 119px;
      margin: 0 auto;
    }
  }
  .heading__square {
    color: $color-dark-gray;
    &:after {
      background-image: url(/static/img/icons/tujibebe/icon-sprite.png);
      background-repeat: no-repeat;
      background-position: -3em -26em;
      background-size: 220px;
      content: "";
      display: block;
      width: 220px;
      padding: 20px 0;
      margin: 0 auto;
    }
  }

  .call-to-action__nav-item-text {
    padding: 0 1em
  }
}

.profiles-join-banner {
  overflow: auto;
  background-color: $color-green;
  display: flex;
  padding: 2em 10px;
  position: relative;
  align-items: center;
  flex-direction: row-reverse;
  &__content {
    width: 60%;
    .heading * {
      color: #fff;
    }
  }
  &__icon  {
    //background: url('/static/img/icons/tujibebe/hi-illustration-blue.png') no-repeat 0 0/125px;
    // height: 165px;
    background-image: url(/static/img/icons/tujibebe/speech-bubble-green.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 135px;
    height: 150px;
    width: 100%;
    overflow: auto;
    margin: -1em 8px 0;
    width: 45%;
  }
  .call-to-action__button--yellow {
    margin: 2em 0;
  }
}
