.reaction-questions {
  &__block {
    background-color: $color-dar-blue;
    padding: 20px 0;
    .heading__subheading {
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
    }
    .error-list__item, .errors {
      color: $color-green;
    }
  }
  &__list {
    text-align: center;
  }
  &__item {
    display: inline-block;
    margin: 0 20px;
    input {
      display: none;
    }
  }
  &__image {
    cursor: pointer;
    line-height: 80px;
    img {
      vertical-align: middle;
    }
  }
  &__label {
    color: #fff;
    display: block;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover, &:active, &:focus {
      opacity: 0.5;
      &__numeral {
        color: $color-pink;
      }
    }
  }
  &__message {
    text-align: center;
    padding: 0 10px 10px;
  }
  &-success {
    margin: 1em 0;
    &__block {
      //background-color: $color-blue;
      text-align: center;
      color: $color-blue;
      margin: 1em 0;
      .heading__article {
        color: $color-blue;
        padding: 0 15px;
      }
      .heading__micro-alt {
        padding: 10px;
        margin: 0;
      }
      .call-to-action--wide-back {
        background: transparent;
        padding: 0 15px;
      }
      .call-to-action__nav-item-text {
        color: $color-blue;
      }
    }
    &__image {
      margin: 10px;
      display: inline-block;
      img {
        vertical-align: middle;
        width: 100%;
        height: auto;
        max-width: 345px;
      }
    }
  }
}
