 .surveys {
  position: relative;
  &--wrapper {
    display: flex;
    flex-direction: row-reverse;
    .heading__component {
      color: #fff;
      text-transform: uppercase;
      text-align: left;
      padding: 1em 1em 0;
      &:after {
        display: none;
        visibility: hidden;
      }
      h1, h2 {
        font-size: 20px;
      }
    }
    .heading__subheading {
      color: #fff;
      text-align: left;
      padding: 0 1em 1em;
      * {
        font-size: 18px;
      }
    }
    .heading__micro {
      color: #fff;
      text-align: left;
      text-transform: uppercase;
    }
  }
  &__form {
    background-color: $color-light-gray;
    padding: 0 0 20px;
    fieldset {
      padding: 0 10px 0;
    }
  }
  &__question-title {
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0 0;
  }
  &__answers-counter-bar {
    padding: 0 0 10px;
  }
  &__answers-counter {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  &__pagination {
    padding: 15px 15px 0;
    text-align: center;
    &--multi-step {
      text-align: left;
    }
    &-title {
      font-style: italic;
    }
  }
  &__page {
    color: #4e5358;
    font-style: italic;
    &-number {
      font-weight: bold;
    }
  }
  &--page {
    text-align: left;
    &__image-wrapper {
      overflow: hidden;
      margin: 0 auto;
      max-height: 300px;
      text-align: center;
    }
    &__image {
      width: 100%;
      height: auto;
      padding: 0 0 25px;
    }
    &__excerpt {
      padding: 0 15px;
      &-heading {
        margin: 0 0 10px;
      }
      &-description {
        overflow: auto;
      }
    }
    &__terms {
      padding: 5px 15px;
      &-anchor {
        text-decoration: underline;
      }
    }
  }
  &--results {
    background-color: $color-green;
    padding: 0 10px 20px;
    label {
      text-align: left;
      padding: 0 0 5px;
    }
  }
  .error-list__item,
  .errors {
    text-align: left;
  }

}

//ADVANCE SURVEY
.adv_wrapper {
  padding: 10px 10px 0;
  margin: 0 0 3px;
  background-color: $color-green;
  position: relative;
  overflow: auto;
  .surveys--wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  aside {
    // background: url('/static/img/icons/tujibebe/hi-illustration-blue.png') no-repeat 0 0/125px;
    // height: 165px;
    background-image: url(/static/img/icons/tujibebe/mobile-illustration.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
    height: 165px;
    margin: 3em auto 0;
    overflow: auto;
    width: 45%;
    .adv_wrapper__item-icon {
      display: none;
      visibility: hidden;
    }
    .adv_wrapper__item-thumb {
      display: none;
      visibility: hidden;
    }
  }
  section {
    width: 60%;
  }
}

.identity-image--survey,
.adv_wrapper__item-icon,
.identity-image__item-icon,
.adv_wrapper__item-thumb {
  display: block;
  text-align: center;
  margin: 15px auto;
}
.identity-image--survey {
  margin: 25px auto 15px;
}
