{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body %}
<div class="profiles">
  <div class="heading heading__subheading">
    <h4>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
    </h4>
  </div>
  <div class="heading heading__macro">
    <h4>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
    </h4>
  </div>
  <div class="call-to-action">
    <a href="{% pageurl section.specific %}" class="call-to-action__nav-item-text call-to-action__nav-item-text--left">
      {% trans "Read All" %} {{ section }}</a>
  </div>
</div>
{% endblock %}
