.teaser-stacklist__item--content {
  margin: 0 10px 0;
}
.teaser-stacklist-tags__item {
  margin-left: 8px;
  margin-right: 0;
}

.base-teaser__thumbnail-link img {
  display: inline;
  padding: 0 20px 0 0;
  @media screen and (min-width: 360px) {
    display: block;
    padding: 0;
  }
}
