//Commenting
.comments__publish-date {
  padding: 5px 15px 0 15px;
}
.comment-counter__numeral {
  margin-right: 5px;
}
.teaser-stacklist__item--content .comment-counter {
  @media screen and (min-width: 360px) {
    right: inherit !important;
    left: 10px;
  }
}

//Yourwords competition
.yourwords {
  text-align: right;
}
