@import "../utils/*";
@import "_fonts";

body {
  background-color: #fff;
  height: auto;
  margin: 0;
}

body,
textarea,
select,
strong,
input {
  color: $colorGrey;
  line-height: 1.3;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "FedraSansDevanagariB-Light";
  margin: 0;
  padding: 0;
}


//HEADER
.Header {
  overflow: auto;
  &-branding {
    background-color: $colorYellow;
    margin: 0;
    min-height: 85px;
    text-align: left;
    overflow: auto;
    padding: 0 1em;
    &-image {
      content: url("/static/authentication_service/themes/chhaajaa/images/chhaajaa-logo.png");
      display: inline-block;
      width: 118px;
      padding: .8em 15px .8em 0;
      height: 74px;
    }
  }
  &-title {
    background: #fff;
    margin: 0;
    text-align: center;
    padding: 2em;
    h1 {
      color: $colorPink;
      font-family: "FedraSansDevanagariB-Demi";
      font-size: 55px;
      text-transform: uppercase;
    }
  }
  &-links {
    color: $colorGrey;
    background: #fff;
    display: inline-block;
    font-family: "FedraSansDevanagariB-Light";
    font-size: 27px;
    margin: $spacer-half 0;
    text-align: center;
    a {
      color: $colorPink;
      padding: $spacer-half 0;
    }
  }
}

.Button {
  box-shadow: 12px 12px 0 0 $colorYellow;
  margin: 10px 1em 10px 0;
  background: $colorPurple;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 15px;
  border: none;
  min-width: 30%;
  transition: opacity .1s ease-in-out;
  width: auto;
  &:hover {
    background: $colorPink;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
  }
  &--warning {
    background: $colorYellow;
    &:hover {
      background: $colorYellow;
    }
  }
}
