@import "../utils/*";
@font-face {
  font-family: "FedraSansDevanagariB-Demi";
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Demi.eot");
  src: local("FedraSansDevanagariB-Demi");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Demi.svg#bingo") format("svg");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Demi.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Medium";
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Medium.eot");
  src: local("FedraSansDevanagariB-Medium");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Medium.svg#bingo") format("svg");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Medium.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Bold";
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Bold.eot");
  src: local("FedraSansDevanagariB-Bold");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Bold.svg#bingo") format("svg");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Bold.otf") format("opentype");
}

@font-face {
  font-family: "FedraSansDevanagariB-Light";
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Light.eot");
  src: local("FedraSansDevanagariB-Light");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Light.svg#bingo") format("svg");
  src: url("/static/authentication_service/themes/chhaajaa/fonts/FedraSansDevanagariB-Light.otf") format("opentype");
}

//DEFAULT RESET
body {
  margin: 0;
  @media (min-width: 40em) {
    //margin: 0;
  }
}
body, textarea, select {
  font-family: "FedraSansDevanagariB-Light";
  font-size: 1em;
  color: #fff;
}

a {
  border-bottom: none;
}




//CONTAINER
#wrap {}
.Container {
  width: 100%;
  max-width: 100%; //RESET
  padding: 0;
  @media screen and (min-width: 40em) {
    padding: 0;
  }
}

//HEADER
.Header {
  margin-bottom: 0;
  text-align: center;
  &-branding {
    background-color: $colorYellow; //RESET
    margin-bottom: 0; //RESET
    &-image {
      width: 118px; //RESET
    }
  }

  &-title {
    background: #fff;
    margin: 0;
    padding: 1.5em 5% 0;
    h1 {
      color: $colorPink;
      font-family: "FedraSansDevanagariB-Demi";
      font-size: 55px;
      margin-bottom: 0;
      text-transform: uppercase;
      padding: 0;
    }
  }

  &-links {
    margin: 1em 0;
    a {
      color: $colorPink;
    }

  }
}


// LIST?
.List {
  list-style: none;
  padding: 0;

  li {
    margin: $spacer-mid 0 0;
  }
}

//QR CODES
.QR {
  text-align: center;

  &-image {
    border: 3px solid $colorPurple;
  }
}


//TOKENS
.Tokens {
  border: 1px solid $colorGrey;
  margin: $spacer-half $spacer-mid;
  padding: 0 $spacer-mid $spacer-mid;

  li {
    float: left;
    width: 50%;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

//FORMS
.Form {
  background: #fff;
  padding: 2em 30%;
  .Field {
    margin: 10px 0 15px;
    &-message {
      margin-top: $spacer-half;
    }
    &-label {
      font-size: $font-medium;
    }

    .DateInput,
    .EmailInput,
    .NumberInput,
    .PasswordInput,
    .TextInput,
    .Textarea,
    .vDateField {
      color: $colorPurple;
      font-weight: normal;
      padding: $spacer-half;

      &:focus {
        border-color: $colorPurple;
      }
    }

    .Textarea {
      height: 100px;
    }
  }

  .ModelChoiceField,
  .TypedChoiceField {
    display: block;
    position: relative;
    width: 100%;

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      &::after {
        border-style: solid;
        border-width: .15em .15em 0 0;
        color: $colorPurple;
        content: '';
        display: inline-block;
        height: .65em;
        pointer-events: none;
        position: absolute;
        right: $spacer-mid;
        top: 46px;
        transform: rotate(135deg);
        width: .65em;
      }
      .Select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
      }
    }

    .Select {
      appearance: inherit;
      -webkit-appearance: inherit;
      -moz-appearance: inherit;
      -ms-appearance: inherit;

      background-color: #fff;
      border: 0;
      border-radius: 0;
      color: $colorPurple;
      min-height: 41px;
      outline: none;
      padding: $spacer-half 35px $spacer-half $spacer-half;
      width: 100%;

      &:focus {
        border-color: $colorPurple;
      }
    }
  }

  .BooleanField {
    display: table;
    margin: 0;
    position: relative;
    width: 100%;

    .Field-label {
      display: inline-block;
      text-align: left;
      font-size: 16px;
      margin: 10px 0 0 5px;
      vertical-align: top;
      width: auto;
    }

    .Field-item {
      text-align: left;
      vertical-align: middle;

      .CheckboxInput {
        appearance: none;
        border: 3px solid $colorPurple;
        display: inline-block;
        height: $spacer-multiple;
        outline: none;
        padding: $spacer-mid;
        width: $spacer-multiple;
        background-color: #fff;
        position: relative;

        &:checked {
          background-color: $colorPurple;
          border-color: $colorPurple;

          &::after {
            color: #fff;
            content: '\2714';
            font-size: 25px;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            display: inline-block;
            top: 0;
          }
        }
      }
    }
  }

  .Field-message--error {
    &.Field--required {
      .Field-item {
        input {
          border-color: $colorRedLight;
        }
      }
    }
  }

  &-buttons {
    margin-bottom: $spacer-multiple;
  }
}

.Header-links,
.Additional-text {
  font-family: "FedraSansDevanagariB-Light";
}


.Button {
  margin-top: 20px;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  &--warning {
    background: $colorYellow;
  }
}

//FEEDBACK MESSAGES
.Messages {
  .Message {
    font-family: "FedraSansDevanagariB-Light";
  }
}

//ERRORS

.errorlist {
  margin-top: $spacer-multiple;
}


//MENU NAVIGATION
.Menu {
  margin: 0;
  &-title {
    background: $colorPurple;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    h1 {
      color: #fff;
      font-size: 1.2em;
    }
  }
  &-list {
    padding-top: 0;
  }
  &-item {
    margin: $spacer-mid 0;
    a {
      display: inline-block;

      &:hover {
        border: 0;
      }
    }
  }
}
@media (min-width: 40em) {
  .Menu {
    margin-top: $spacer-mid;
    padding-bottom: $spacer-half;
  }
}

//FOOTER
.Footer {
  margin: $spacer-multiple 0 0;
  padding: $spacer-multiple;
  text-align: left;
  p {
    margin: 0;
  }
}
