.articles {margin: 16px;}
.article {
  color: #141414;
  .article-preview {
    h3 {
      font-size: 26px;
      line-height: 32px;
    }
    .text { margin: 0 16px; }
  }
  .article-content {
    margin: 0 16px;
  }
}
