#gem-footer #search-form {
  margin: 0 8px 24px 8px;
  label, div {
    display: none;
  }
  input[type="text"],
  .search__submit {
    margin: 0;
    border: 0;
    word-wrap: normal;
  }
  input[type="text"] {
    width: 75%;
    padding: 10px;
  }
  .search__submit {
    color: transparent;
    cursor: pointer;
    background-image: url('/static/img/icons/base/search-icons.png');
    background-repeat: no-repeat;
    background-position: 10px -110px;
    background-size: 30px;
    padding: 9px 0;
    position: absolute;
    width: 48px;
  }
}

.search-results {
    background-color: #FFF;
    position: relative;
    &.article-list {
        .search-image {
          position: relative;
          padding: 8px;
        }
    }
}
