{% extends "base.html" %}

{% block content %}

        <div class="row">
            <div class="col-md-8">
            
                <div class="row">
                
                <!--<img src="images/main-img.jpg" class="img-responsive" alt="">-->
                
                <!-- <iframe src="https://www.youtube.com/embed/EKUpH6gG9ok" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="img-responsive iframev" style="width:100%;"></iframe> -->
                
                <div class="twoheaders">
                <div class="col-md-6"> <h4 class="headingh4">Pyaar kiya toh darna kya !</h4>
                </div>
                <div class="col-md-6">  <div class="column col1"><a href="#"><img src="images/like.png" class="" alt=""><p class="socialicons like">Like</p> </a></div><div class="column"><a href="#"><img src="images/Dislike.png" class="" alt=""> <p class="socialicons Dislike">Dislike</p></a></div><div class="column"><a href="#"><img src="images/Share.png" class="" alt=""><p class="socialicons Share">Share</p> </a></div><div class="column"><a href="#"><img src="images/Comment.png" class="" alt=""><p class="socialicons Comment">Comment</p></a></div>
                </div>
                </div>
                <div class="clear-all"></div>
                <div>
                    <p class="ptext">Arre Sun Na  <a href="aresunna.php"><u><i>Know more</i></u></a></p>
                    <p class="smalltext">Volleyball match ya boyfriend ke saath date… <br>Kya choose karegi humari Sweety? </p>
                    
                    <p class="ptext"><a href=""><u><!--<i>Showmore</i>--> <br></u></a></p>
                </div>
            <br>
                <article class="blog_list_item row m0">
                    
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="blog_list_content blog_list_content1">
                        <form method="post">
                            <h5 class="bottomh5">Aap Sweety ke liye iss clash mein kya chunti?</h5>
                            <h5 class="bottomh5"></h5>
                            
                            <div class="pull-left" style="height:auto;">
                            
                            <!--RADIO 1-->
                            <input type="radio" class="radio_item" value="Relationship mein shaanti" name="answer" id="radio1">
                                <label class="label_item" for="radio1"> <img src="images/symbol.png"> Relationship mein shaanti </label> <br>

                            <!--RADIO 2-->
                            <input type="radio" class="radio_item" value="Volleyball court par yuddh" name="answer" id="radio2">
                            <label class="label_item" for="radio2"> <img src="images/symbol.png"> Volleyball court par yuddh</label>
                            <br>
                            <br>
                            
                            <input type="submit" name="submit2" id="submit" value="Submit"><br>
                                                                 
                            
                                <!--<input type="radio" name="answer" value="Khel"><img src="images/symbol.png" alt=""> Khel &nbsp; &nbsp;
                                <input type="radio" name="answer" value="Dil"><img src="images/symbol.png" alt=""> Dil -->										
                            </div>
                            </form>
                        </div>
                        <!--<p>Thankyou for submitting</p>-->
                    </div>
                    <div class="col-md-6  col-xs-6 col-sm-6">
                        <div class="blog_list_img blog_list_img1">
                            <img src="images/survey/poll1.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </article>
               
                    
                </div>
               
            </div>
            <div class="col-md-4">
                <div class="blog_right_sidebar">
                   
                    <aside class="right_widget category_widget">
                        <div class="sidebar_title">
                            <h3> <img src="images/Sym1.png" class="" alt=""> Arre dekho, naye episodes!</h3>
                        </div>
                        <div class="anyClass">
                        <div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_img">
                                
                                <a href="video2.php"><img src="images/video2.jpg" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                       <div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_content">
                                <a href="video2.php"><h5 class="righth5">Chahiye bus ek boyfriend?</h5>
                                <p class="ptextclass">Tanu par chadha hai Hindi filmo ka jadoo aur usse ho jata hai palak jhapakte hi pyaar. Kya is soch ko change kar payegi Sweety?  </p></a>
                            </div>
                        </div>
                        <div class="clear-all"></div>

                        <div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_img">
                                <a href="video3.php"><img src="images/video3.jpg" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                       <div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_content">
                                <a href="video3.php"><h5 class="righth5">Ye dosti, hum nahi chhodenge</h5>
                                <p class="ptextclass">Kya Ravi ke gusse ki aag jala degi Sweety aur Tanu ki dosti? Dekhiye kaise Sweety yeh bhanwar paar karti hai! </p></a>
                            </div>
                        </div>
                        <div class="clear-all"></div>
                        <!--<div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_img">
                                <img src="images/Side-img1.jpg"  class="img-responsive" alt="">
                            </div>
                        </div>
                       <div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_content">
                                <h5 class="righth5">What is Lorem Ipsum?</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div  class="clear-all"></div>-->
                        
                        <div class="sidebar_title1 ">
                            <h3> <img src="images/Sym2.png" class="" alt=""> Arre sun na, ye bhi hai!</h3>
                        </div>
                        <div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_img">
                                <img src="images/Side-img3.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                       <div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_content">
                                <h5 class="righth5">What is Lorem Ipsum?</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div class="clear-all"></div>
                        <div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_img">
                                <img src="images/Side-img4.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                       <div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_content">
                                <h5 class="righth5">What is Lorem Ipsum?</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div class="clear-all"></div>
                        <!--<div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_img">
                                <img src="images/Side-img3.jpg"  class="img-responsive" alt="">
                            </div>
                        </div>
                       <div class="col-md-6  col-xs-6 col-sm-6">
                            <div class="blog_list_content">
                                <h5 class="righth5">What is Lorem Ipsum?</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div  class="clear-all"></div>-->
                        
                        </div>
                    </aside>
                    
                    
                    
                    <div style="clear:both;"></div>
                    <aside class="right_widget recent_widget commentsection1">
                                                        <div class="sidebar_title2">
                            <h3><img src="images/Sym3.png" class="" alt=""> Comment</h3>
                        </div>
                        <div class="recent_widget_inner">
                            <form method="post">
                            <div class="form-group">
                            <textarea class="form-control" rows="8" placeholder="Share your soch"></textarea>
                             </div>
                             <div class="form-group">
                            <input type="submit" name="submit" id="submit" value="Submit">
                             </div>
                            </form>
                          
                        </div>
                    </aside>
                   
                </div>
            </div>
        </div>

{% endblock %}
