@import '../util/*';

//RESET STYLES
body,
html {
  background-color: $color-grayish-blue;
  margin: 0;
}

body {
  background: transparent;
  font-size: 16px;
  font-family: $font-poppins;
  font-weight: normal;
  margin: 0 auto;
  line-height: 1.3;
  overflow: auto;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  z-index: -1;
}

select,
textarea {
  border-radius: 0;
  color: $color-grayish-blue;
}

a {
  border: 0;
  color: $color-blue;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    border: 0;
    color: $color-pink;
  }
}
h1 {
  font-size: 1.6em;
  text-align: center;
}
h2 {
  font-size: 1.4em;
  text-align: center;
}
ul, ol {
  margin: 0;
  padding: 0;
}
hr {
  margin: 20px 0;
}


//CONTAINER
@media (min-width: 40em) {
  body {
    margin-top: 0;
  }
  .Container {
    margin: 0 auto;
    max-width: 360px;
    padding: 0;
    background: transparent;
  }
  .Header-title {
    margin: 0;
  }
}

//HEADER
.Header {
  margin-bottom: 0;
  text-align: center;
  overflow: auto;
  position: relative;

  &-branding {
    margin: 0 auto 0;
    width: 100%;
    &-image {
      width: 115px;
    }
  }
  &-title {
    background: #fff;
    text-align: center;
    margin: 0;
    padding: 15px;
    h1 {
      background-size: 145px;
      color: $color-dark-gray;
      margin: 0;
    }
  }
  &-links {
    background: #fff;
    color: $color-dark-gray;
    margin: 0;
    text-align: center;
    a {
      color: $color-blue;
      font-weight: 400;
      text-transform: capitalize;
      text-decoration: underline;
      font-size: 16px;
      display: inline-block;
      &:hover, &:active, &:focus {
        text-decoration: none;
      }
    }
  }
}

.List {
  list-style: none;
  padding: 0 5%;
  li {
    color: $color-dark-gray;
    list-style: none;
    font-size: 18px;
    margin: 15px 0 0;
  }
}
.QR {
  text-align: center;
  &-image {
    border: 3px solid $color-grayish-blue;
  }
}
.Tokens {
  border: 1px solid $color-grayish-blue;
  margin: 5px 15px;
  padding: 0 15px 15px;

  li {
    float: left;
    width: 50%;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}


//FORM
.Form {
  overflow: auto;
  .Field {
    margin-top: 20px;
    &-message {
      text-align: left;
      margin-top: 5px;
    }
    &-label {
      color: $color-dark_grayish-blue;
      font-weight: normal;
    }
    .DateInput,
    .EmailInput,
    .NumberInput,
    .PasswordInput,
    .TextInput,
    .Textarea,
    .vDateField {
      border: 3px solid $color-blue;
      color: $color-grayish-blue;
      font-weight: normal;
      padding: 5px;
      &:hover, &:active, &:focus {
        outline: 0;
        border: 3px solid $color-blue;
        -webkit-box-shadow: 10px 10px 5px -10px $color-blue;
        -moz-box-shadow: 10px 10px 5px -10px $color-blue;
        box-shadow: 10px 10px 5px -10px $color-blue;
      }
    }
    .ClearableFileInput {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; //To Review
    }
    input[type="file"] + label {
      font-size: 1.25em;
      font-weight: 700;
      color: white;
      background-color: black;
      display: inline-block;
    }
    .input[type="file"]:focus + label,
    .input[type="file"] + label:hover {
      background-color: $color-pink;
    }
    .Textarea {
      height: 100px;
    }
  }


  .ModelChoiceField,
  .TypedChoiceField {
    display: block;
    position: relative;
    width: 100%;
    @media screen and (-webkit-min-device-pixel-ratio:0)  {
      &::after {
        border-style: solid;
        border-width: .15em .15em 0 0;
        color: $color-blue;
        content: '';
        display: inline-block;
        height: .65em;
        pointer-events: none;
        position: absolute;
        right: 25px;
        top: 46px;
        transform: rotate(135deg);
        width: .65em;
      }
      .Select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
      }
    }
    .Select {
      appearance: inherit;
      -webkit-appearance: inherit;
      -moz-appearance: inherit;
      -ms-appearance: inherit;
      background-color: transparent;
      border: 3px solid $color-blue;
      color: $color-grayish-blue;
      height: 50px;
      outline: none;
      padding: 7px 35px 7px 7px;
      width: 100%;
      &:hover, &:active, &:focus {
        outline: 0;
        border: 3px solid $color-blue;
        -webkit-box-shadow: 10px 10px 5px -10px $color-blue;
        -moz-box-shadow: 10px 10px 5px -10px $color-blue;
        box-shadow: 10px 10px 5px -10px $color-blue;
      }
    }
  }

  .BooleanField {
    display: inline-block;
    margin: 0;
    position: relative;
    width: 100%;
    vertical-align: middle;
    text-align: left;
    .Field-label {
      display: inline-block;
      padding-right: 5px;
      text-align: left;
      width: auto;
    }
    .Field-item {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      .CheckboxInput {
        appearance: none;
        border: 2px solid $color-blue;
        display: block;
        height: 20px;
        outline: none;
        padding: 15px;
        width: 20px;
        text-align: left;
        &:checked {
          background-color: $color-blue;
          border-color: $color-blue;
          &::after {
            color: #fff;
            content: '\2714';
            font-size: 20px;
            left: -5px;
            line-height: 20px;
            position: relative;
            top: -5px;
          }
        }
      }
    }
  }
  .Field-message--error {
    &.Field--required {
      .Field-item {
        input {
          border-color: $color-pink;
        }
      }
    }
  }
  &-buttons {
    margin-bottom: 20px;
  }
}
.Messages {
  .Message {

  }
}
.errorlist {
  margin-top: 20px;
}


//BUTTONS
.Button {
  background: $color-blue;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin: 15px auto;
  text-align: center;
  white-space: normal;
  width: 90%;
  &:hover {
    background: $color-dar-blue;
  }
  &--warning {
    background: $color-pink;
  }
}

.Additional-text {
  color: $color-dark-gray;
  padding: 5px 15px;
  margin: 0;
  text-align: center;
  font-size: 18px;
  a, button {
    color: $color-blue;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    display: block;
    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }
}


//FOOTER
.Footer {
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: none;

  &-logo {
    background-size: contain;
    background-image: url("/static/authentication_service/themes/springster/images/sp-logo.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
    max-width: 200px;
    background-position: 0 50%;
    margin: 25px auto;
    display: block;
  }

  .Back-to-top {
    background-color: #fff;
    position: relative;
    &--link {
      text-transform: capitalize;
      text-decoration: underline;
      color: $color-blue;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      text-align: center;
      display: block;
      padding: 20px 0 15px 0;
      &:hover, &:active, &:focus {
        text-decoration: none;
      }
      &:after {
        content: "";
        background-image: url("/static/authentication_service/themes/springster/images/icons/up-arrow.svg");
        height: 24px;
        width: 24px;
        top: 30%;
        margin-left: 10px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: auto 100%;
        position: absolute;
      }
    }
  }

  //COPYRIGHT
  .Copyright {
    padding: 0 0 10px;
    p {
      color: $color-grayish-blue;
      font-size: 12px;
      padding: 15px 15px 5px;
      margin: 0;
      text-align: center;
    }
  }
  //COPYRIGHT
  p {
    color: $color-grayish-blue;
    font-size: 12px;
    padding: 30px 15px;
    margin: 0;
    text-align: center;
  }
}
.Menu {
  background: $color-light-gray;
  margin: 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &-title {
    background: $color-grayish-blue;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    h1 {
      color: #fff;
      font-size: 1.2em;
    }
  }

  &-list {
    &--right {
      padding-top: 10px;
      float: right;
      width: 50%;
    }
    &--left {
      padding-top: 10px;
      float: left;
      width: 50%;
    }
  }
  &-item {
    margin: 15px 0;
    a {
      color: $color-dark-gray;
      display: inline-block;
      font-size: 16px;
      text-decoration: none;
      &:hover, &:active, &:focus {
        border: 0;
        color: $color-blue;
        text-decoration: underline;
      }
    }
  }
}
