{% load wagtailsettings_tags %}
{% get_settings %}
{% block content %}
{% if settings.gem.GemSettings.show_join_banner %}
  <div class="profiles-join-banner">
    <div class="profiles-join-banner__icon"></div>
    <div class="profiles-join-banner__content">
      {% trans "Share your opinions and stories, take polls, win fun prizes." as headingtext %}
      {% include "patterns/basics/headings/sp_variations/heading.html" with type="subheading-alt" htmltag="h4" title=headingtext %}

      <a href="{% url 'molo.profiles:user_register' %}" class="call-to-action__button call-to-action__button--yellow">
        <span class="call-to-action__button-text call-to-action__button-text--yellow">{% trans "Join" %}</span>
      </a>
    </div>
  </div>
{% endif %}
{% endblock %}
